[2019-04-10 08:20] huyphams commented on #1097
Hi @volkanozyildirim have you disabled this option? TablePlus always estimates row count if the number of rows is bigger than a threshold.

<img width="612" alt="estimate" src="https://user-images.githubusercontent.com/3654622/55863131-22e97480-5ba4-11e9-90b4-a9266472693c.png">

[2019-04-10 08:29] volkanozyildirim commented on #1097
Hi Pham,

You are lightning fast!

No i didnt, its enabled. But problem is row count needs to be calculated. I see count(*) query takes too long.

Example query from magento project:

SELECT
*
FROM
catalog_product_entity cpe
INNER JOIN catalog_product_entity_text pet ON pet.row_id = cpe.row_id
INNER JOIN catalog_product_entity_datetime ped ON ped.row_id = cpe.row_id
INNER JOIN catalog_product_enti

[2019-04-10 08:33] huyphams commented on #1097
I designed TablePlus to use this query:
`SELECT table_rows as count FROM information_schema.TABLES WHERE TABLE_SCHEMA='katonice'AND TABLE_NAME='author';`
If the returned result < the threshold then TablePlus will perform the count. Although you see the count query on the TablePlus console, it will run the estimate behind the scene.

About the safe mode level, yes, working on an advanced option whi

[2019-04-10 08:42] volkanozyildirim commented on #1097
Here is video of problem

https://ufile.io/ak222

Best regards
On 10 Apr 2019 11:33 +0300, Huy Pham <notifications@github.com>, wrote:

[2019-04-10 08:47] huyphams commented on #1097
I think it's a misunderstanding, sorry because of my bad English. Executed Statements Count is the total number queries which were executed.
TablePlus only opens 1 connection per workspace so that's the reason you can't run the second query. The first query must be done in order to run the second query.

Maybe we should add a config that allows TablePlus to use the connection pool. Related issue:

[2019-04-10 09:01] cksdxz1007 opened #1098 "Can't display Chinese alias"
I use tableplus to connect to SQL server 2012. When I use the ‘AS’ keyword for Chinese alias queries, the Chinese alias cannot be displayed.

[2019-04-10 10:21] huyphams commented on #1069
Hey @vesper8 TablePlus now supports:
1. Sorted key in the table view mode.
2. Added support sort column.
Download: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you!

[2019-04-10 12:46] bocharsky-bw commented on #1094
Hey @huyphams !

So, I think I finally got how it works, at least how it works in TablePlus. Unfortunately, I am far from an expert in Redis, but I noticed that because of limit (that is set to 35 by default) Filter applied to the first  35 rows, and this is confirmed by SQL button - when you press SQL you see that behind the scene it executes the next query:
[code]

So, if you have a lot of entri

[2019-04-10 13:23] kimegede commented on #791
👍

[2019-04-10 13:57] huyphams commented on #1094
Well, I didn't know that thank you for pointing it out, I had no idea why I missed it when I read the document...

[2019-04-10 14:27] bocharsky-bw commented on #1094
No problem! I even don't know if it's described well in docs... I just figure it out at random today. Anyway, thank you for supporting Redis in TablePlus, that's awesome!

[2019-04-10 14:33] huyphams commented on #1094
I did a quick fix: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
TablePlus now will scan all keys, but I'm not sure if it costs performance. Let me know if you have any issue.

[2019-04-10 15:21] bocharsky-bw commented on #1094
Yeah, probably costs, but an ability to search in the whole DB is a good DX I think because it's the same behavior as with MySQL DB, etc. FYI, search by ~50k took me about 1-1.5 seconds only, so it's almost unnoticed to search in 1000 rows or 50k rows.

Just checked, works great except one minor detail: when I remove text in the Pattern field and press enter - it executes this query:
[code]

and h

[2019-04-10 15:28] bocharsky-bw commented on #1094
Oh, and one more problem noticed! When results are many, it ignores pagination :/ I mean, the limit is set to 35 rows, below I see `1-35 of 58,098 rows`, but on the page, I see all the results - all 48 rows that were found. Though, not sure how to add pagination to `SCAN 0 MATCH ** COUNT %total_rows%` query, i.e. search by all entries but respect `limit` and display only some of them

[2019-04-10 15:34] huyphams commented on #1094
Thank for the feedback, I ignored the space: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
I still can't figure out how to limit the SCAN MATCH pattern, the COUNT is using for the "amount of work" not for the limitation in this case.

[2019-04-10 15:45] bocharsky-bw commented on #1094
Thanks! Yeah, don't know how to work around it :/

[2019-04-11 08:40] huyphams commented on #1081
Hey, let me know if you need any help. Thank you for the feedback.

[2019-04-11 08:40] #1081 closed

[2019-04-11 09:51] foundinblank commented on #887
I have been running into this exact same issue a lot more lately with the recent builds, but only if I forget to set the row limits. It'd be good to just be able to stop the query instead of having to force-quit and restart/reconnect.

[2019-04-11 09:54] huyphams commented on #887
it's hard to cancel a query if the driver doesn't support it, meanwhile, you can workaround by using the built-in query limitation in TablePlus @foundinblank
<img width="614" alt="limit" src="https://user-images.githubusercontent.com/3654622/55948280-5bf41880-5c7a-11e9-90a6-714169ce9bc5.png">

[2019-04-11 10:14] vesper8 commented on #1069
Hey @huyphams I was playing around some more with the JSON fields yesterday and found something else which I wish was different.

Right now if I adjust a json field to be 'pretty printed' in the sidebar, it only affects it for that one row, when I use the up/down arrows to view other rows, I have to pretty-print again and again.. as I said above I wish the pretty print was the default (or an optio

[2019-04-11 10:26] vesper8 commented on #1069
Just tested out the new column sorting ability on MongoDB and cool! it works!

One comment though.. right now when you click a column header, it makes the pane jump back to the far left. This is very annoying when you were scrolled far to the right before clicking. It would be much preferable if clicking a column did not reset the view and the columns just stayed where they are.

[2019-04-11 11:45] yuqiang-yuan opened #1099 "A suggestion: Keep the case of tables as listed in "show tables" command"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL Server 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 212

3. The steps to reproduce this issue:

I used to use all uppercase characters in table name and column name, and I'd like the table names in the left tree keep the same as `show tables` command. like th

[2019-04-11 11:52] huyphams commented on #1099
hi @yuqiang-yuan TablePlus doesn't use the `show tables;` to get the list of items on the left sidebar because there is no way to detect the item type (table or view).

We use this statement: `SELECT table_name as table_name,table_schema as table_schema,table_type as table_type FROM information_schema.tables WHERE table_schema = 'database_name';`

it seems that MySQL returns two different result s

[2019-04-11 11:54] yuqiang-yuan commented on #1099
OK, I see, thank you very much.

[2019-04-11 11:54] #1099 closed

[2019-04-11 15:29] huyphams commented on #440
Hey guy, I added ILIKE for the advanced filter: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the suggestion!

[2019-04-11 15:29] #440 closed

[2019-04-11 17:07] HeyItsMario commented on #853
Yes, a documentation page would be nice. I could not connect to sql server using windows domain and did not know how to set the driver to jTds, set the domain and use NTLM authentication. Turns out it was as simple as logging in with DOMAIN\username.

[2019-04-11 17:09] shirshak55 commented on #853
Yea I think docs is must as this software has so many hidden things and feature :) Hiding it behind curtain will just cause pain to people like us .

[2019-04-11 19:05] BenjaminHoegh opened #1100 "foregin_key only gets accepted after reload"
foregin_key only gets accepted after reload each time I create a new table. Is this a bug or me doing something wrong?

[2019-04-11 20:08] alexgw-afr opened #1101 "Bug: double-clicking on a table REPLACES the current SQL 'scratch space' tab"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres 8.0.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
"Version 2.2 (212)"

3. The steps to reproduce this issue:
Click the "SQL" button to make a new "scratch space" for queries.
Double click a table defintion in the sidebar at left.

Expected behavior: a new tab should

[2019-04-11 20:14] alexgw-afr commented on #1101
Following up, it appears to happen only if I:

* Start in one database schema
* **Switch to ANOTHER database schema** (from the pull-down menu in the bottom left of TablePlus)
* Create an SQL scratch space
* Now double-click a table at left; it REPLACES the scratch space 100% of the time.

However, if I launch from scratch and don't switch schemas, it works properly.

[2019-04-12 00:11] jamie1192 commented on #473
hey @huyphams, is there any progress on this lately?

[2019-04-12 00:12] UnderpantsGnome opened #1102 "Customizable quick look trigger?"
It would be nice if we could customize the the quick look trigger, some (many?) of us don't have a middle mouse button.

Another possible solution would be if double clicking on cells that are text or JSON automatically opened in the quick look.

I didn't even know quick look was a thing until I started looking for issues related to editing JSON data.

Keep up the great work, now that I know I can

[2019-04-12 00:14] UnderpantsGnome opened #1103 "Better editing of JSON data?"
It would be nice if when editing JSON data you could add/remove/edit keys.

[2019-04-12 00:19] huyphams commented on #1103
I'm updating the JSON editor, but the current version allows removing key:
<img width="689" alt="Screen Shot 2019-04-12 at 7 18 39 AM" src="https://user-images.githubusercontent.com/3654622/56003911-453dd800-5cf3-11e9-8fdb-4d83adcd4ddf.png">

[2019-04-12 00:22] huyphams commented on #1100
Which database driver are you using @BenjaminHoegh ? thanks

[2019-04-12 00:40] huyphams commented on #1096
Hi @yuqiang-yuan could you please make a gif? There is one reason that makes it does a full scan. The parameter is null (a child case of not having the same data type).

[2019-04-12 03:38] huyphams commented on #109
I added that feature, safe mode now can ignore SELECT queries:
https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-04-12 03:38] #109 closed

[2019-04-12 04:32] yuqiang-yuan commented on #1096
Hi, @huyphams here comes the gif FYR

![2019-04-12_12-28-43 (1)](https://user-images.githubusercontent.com/15667885/56012402-ebeb9e00-5d1e-11e9-98b8-c15556991c62.gif)

[2019-04-12 04:42] huyphams commented on #1096
Thank @yuqiang-yuan for the gif, can I have your table creation? I think the @uid from the set command is not the same data type as the user_id in the query so MySQL will not use the index. I need the table creation to reproduce the issue
Btw, can you try this: `EXPLAIN SELECT * FROM t_clazz_course_member where user_id = CAST(@uid as CHAR);`
it will force the @uid to char type.

[2019-04-12 05:35] BenjaminHoegh commented on #1100
MySQL 5.7.25

[2019-04-12 06:36] fengyunhe opened #1104 "[bug]when add index to a table does not preview change sql bug"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 8.0.13
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
212
3. The steps to reproduce this issue:
Modify the interface of the table structure, if you increase the index, no preview sql statement is generated.

![image](https://user-images.githubusercontent.com/15814939/560169

[2019-04-12 06:40] fengyunhe commented on #1104
Added: When I did not select the column_name for the index, the save will be directly unresponsive and there is no error. After filling the column_name, the change sql can be generated normally.

[2019-04-12 06:42] #1104 closed

[2019-04-12 06:48] yuqiang-yuan commented on #1096
I'm sorry, maybe I found the problem. I tried to get the DDL of the table from TablePlus, I found something strange:

[code]

You see, the table character set is `utf8mb4` but the column character set is `utf8`. Here is why the table is so strange:

I have an old database, we call it `OLD_DB`; the sql execution plan I queried on a new database, we call it `NEW_DB`. the NEW_DB is created from the O

[2019-04-12 06:52] blaaat commented on #970
This issue isn't completely fixed; Still works correct on MariaDB 10.3, but now on MariaDB 10.1 this happens:

`ALTER TABLE `klikjezakgeld`.`import_queue` CHANGE `xx` `xx` set('a','b','c') NULL DEFAULT a COMMENT '';`

The single quotes around the default 'a' are missing. Same thing happens for an Enum column.

Build 212

[2019-04-12 07:32] huyphams commented on #970
Hey @blaaat how to reproduce the issue? I've tried it and if I set it as a constant. it will work correctly.
<img width="750" alt="Screen Shot 2019-04-12 at 2 31 48 PM" src="https://user-images.githubusercontent.com/3654622/56019776-b8fdd600-5d2f-11e9-8c04-cc89083b1b12.png">

[2019-04-12 07:36] blaaat commented on #970
save default a first with set('a','b'); then change set('a','b') to set('a','b','c')

[2019-04-12 10:24] huyphams commented on #1096
Thank you for the confirmation @yuqiang-yuan 👍

[2019-04-12 10:24] #1096 closed

[2019-04-12 18:54] tapankavasthi commented on #1075
@huyphams Still crashing occasionally.
<Details>
<Summary>
Crash Report
</Summary>
<p>
Process:               TablePlus [17880]
Path:                  /Applications/TablePlus.app/Contents/MacOS/TablePlus
Identifier:            com.tinyapp.TablePlus
Version:               2.2 (215)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           TablePlus [17880]
User ID

[2019-04-12 22:53] tapankavasthi commented on #1075
<Details>
<Summary>
Another Crash Report
</Summary>
<p>
Process:               TablePlus [725]
Path:                  /Applications/TablePlus.app/Contents/MacOS/TablePlus
Identifier:            com.tinyapp.TablePlus
Version:               2.2 (215)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           TablePlus [725]
User ID:               501

Date/Time:

[2019-04-12 23:06] isdzulqor opened #1105 "[Feature Request] Exporting table from the result of SQL Query with SELECT JOIN to SQL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 212
3. The steps to reproduce this issue:
- Perform `SELECT` query with `JOIN`. Ex: ```SELECT
	table_1.*,
	table_2.*
FROM
	table_1,
	JOIN table_2 ON table_2.table_1_entity_id = table_1.entity_id
WHERE
	table_1.title =

[2019-04-13 00:04] huyphams commented on #1075
Thanks @tapankavasthi

[2019-04-13 11:28] huyphams commented on #874
Hi guys!
![IMG_3860](https://user-images.githubusercontent.com/3654622/56079098-e7f07680-5e19-11e9-990a-9598fe5e5152.jpeg)

[2019-04-13 15:36] donbeave commented on #874
**AMAZING**!!!

[2019-04-14 08:06] rajdeepbharati opened #1106 "Add option to import geojson data"
Add feature to import geojson file to postgres database.

1. Which driver are you using and version of it: `postgres (PostgreSQL) 11.2`

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 2.2 (212)

`label: new-feature`

[2019-04-14 21:31] BenjaminHoegh opened #1107 "plugin link doesn't work"
plugin link in the footer on your website doesn't work

[2019-04-15 08:23] moshie commented on #884
Anyone looking to remove the definer from their sql dumps they can use this regex to replace any instances:

[code]

[2019-04-15 08:56] dornby commented on #887
Hello, we're running into the same issue @ drivy with Snowflake.

As soon as the query hits more than 100K lines it freezes.

We'll use the query limitation meanwhile but it doesn't fix the issue > more than often, you want all your rows returned.

[2019-04-15 08:58] huyphams commented on #887
Thank you guys, I will investigate and update the snowflake support on the next release.

[2019-04-15 09:37] aik099 commented on #1010
Any update on this? The issue is still happening on 216 build.

[2019-04-15 09:39] huyphams commented on #1010
Thank @aik099 for reminding me, I will fix it now.

[2019-04-15 09:49] huyphams commented on #1010
Have you re-ordered  the column in the table view @aik099 ?

[2019-04-15 09:54] aik099 commented on #1010
Once, but for another table in same database.

[2019-04-15 09:57] huyphams commented on #1010
Yep. because I can't reproduce the issue with the table creation above, it works as expected. it's worth it to mention that TablePus respects the current column ordering, so if you change it, it will affect the copy as Insert column ordering.

[2019-04-15 10:15] aik099 commented on #1010
Shouldn't the SQL built, when you change table data use same column ordering information as SQL built from `Copy Row As > SQL Insert Statement` context menu?

[2019-04-15 10:20] huyphams commented on #1010
TablePlus only fetches information if needed. at the time you `Copy Row As > SQL Insert Statement` the table structure was not loaded, so there is no way to know the original column position.
Currently, TablePlus is using the column order in the table view.

[2019-04-15 10:23] aik099 opened #1108 "Make drivers optional"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

216

3. The steps to reproduce this issue:

When I started to use TablePlus it was below 100 MB in size, now it's 300MB in size. Addition of new frameworks and drivers caused huge increase in size. Since I'm using MySQL

[2019-04-15 10:25] huyphams commented on #1108
The official release is 30MB, the beta build contains the Oracle so it 300MB. You're using the beta build.

We're aware of it and it's already on our plan.

[2019-04-15 10:27] aik099 commented on #1108
Great. Thank you.

[2019-04-15 10:40] aik099 commented on #1010
I've did another try (also recorded a video: https://screencast.com/t/10NiqICLm):

1. create table using this structure:

[code]
2. open that table in data view
3. click `+ Row` button in the bottom
4. as new values type this (order of columns as in definition, but some columns skipped):
- `aa` for `VariableName` field
- `bb` for `VariableValue` field
- `cc` for `ModuleOwner` field
- `1` for `Disp

[2019-04-15 11:19] huyphams commented on #1010
Thanks, I fixed it!

[2019-04-15 11:36] huyphams commented on #1010
If you want to download the build, it's here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the feedback

[2019-04-15 11:45] reorx opened #1109 "Feature request:"
1. Which driver are you using and version of it: MariaDB 10.3.13

2. Which TablePlus build number are you using: 2.2 (212)
3. The steps to reproduce this issue:

The SQL dump file that TablePlus exports only have one INSERT line for each table, this will make the statement extremely large when dealing with table that has large rows.
I have a table which is 50MB in total, but it only has 430 rows,

[2019-04-15 12:46] AndreFigueredo-Multilaser opened #1110 "TablePlus stopped to work and don't show errors"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MariaDB (10.4.4) , MSSQLServer (2017) and MongoDB (4.0.6).

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Version 2.2(212)

3. The steps to reproduce this issue:

I'm trying to connect with my databases and appears the message "connecting to database", but two seconds after I

[2019-04-15 12:48] huyphams commented on #1110
HI @AndreFigueredo-Multilaser please toggle the item pane, click the button on the top right.

[2019-04-15 13:42] aik099 commented on #1010
Thanks.

[2019-04-16 01:28] #1110 closed

[2019-04-16 07:45] ruudk opened #1111 "Exporting MySQL table with binary ID's crashes"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
210

3. The steps to reproduce this issue:
Have a table with a `binary(16)` id. Right click the table and export it. You see a progress bar and immediately the program crashes.

[2019-04-16 07:45] huyphams commented on #1111
Hi @ruudk please try again with the newest build 212. it should fix the crash.

[2019-04-16 09:15] ruudk commented on #1111
<img width="327" alt="Screenshot 2019-04-16 at 11 15 28" src="https://user-images.githubusercontent.com/104180/56197360-f5377c00-6038-11e9-971c-fde238500634.png">
👍

[2019-04-16 09:15] #1111 closed

[2019-04-16 16:16] huyphams commented on #1109
Hi @reorx thank you for the feedback. We're working on a new advanced export tool, it will support split insert statement into chunk size.

[2019-04-16 16:33] huyphams commented on #657
Hi sorry because of the late response. I fixed this issue, it will be released on the next update. Thank you so much for the feedback!

[2019-04-16 16:33] #657 closed

[2019-04-16 16:34] huyphams commented on #847
I added this feature, it will be released on the next release!

[2019-04-16 16:34] #847 closed

[2019-04-16 19:55] johnmastro opened #1112 "Feature request: downcase identifiers entered via completion on Snowflake"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Snowflake 3.20.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Build 212

3. The steps to reproduce this issue:
- Open a SQL editor window
- Type `select info`
- The top result is probably `INFORMATION_SCHEMA`
- Press the "tab" key and `INFORMATION_SCHEMA` is inserted
- But I w

[2019-04-17 01:09] huyphams commented on #1112
Hi @johnmastro have you tried to turn off this option?
<img width="491" alt="Screen Shot 2019-04-17 at 8 09 11 AM" src="https://user-images.githubusercontent.com/3654622/56253785-186d3480-60e8-11e9-889f-8da4f25ac263.png">

[2019-04-17 04:50] huyphams commented on #297
it will be supported on the next release. TablePlus allows the user to select all installed font in macOS.

[2019-04-17 04:50] #297 closed

[2019-04-17 05:43] reorx commented on #1109
Hi Huy, thanks for your reply, glad to see this could be a coming feature, can't wait to see it shipped :)

[2019-04-17 08:41] darshantejani007 opened #1113 "Support for Mongo shell queries"
I am looking for a way to enter Mongo Queries into TablePlus!
Can anyone suggest me how I can do this?
The mongo query can be as simple as this :

`db.getCollection('users').find({phone: '8899889988'})`

<img width="1347" alt="Screenshot 2019-04-17 at 2 04 47 PM" src="https://user-images.githubusercontent.com/6480543/56273660-cdb8e000-611a-11e9-9e21-f626465a1e55.png">

Table plus build Number: 212

[2019-04-17 08:45] huyphams commented on #1113
Hi, please press command + F and try to query via the advanced filter.

[2019-04-17 08:49] heathyboyj opened #1114 "[Enhancement] Keep the "quick look (middle mouse)" window open when switching to another window with cmd+tab or using the trackpad to change virtual desktop"
Quite often I'm using the quick view window to browse JSON and compare it to rules and/or datasets in another window. It's quite frustrating having to continuously re-open the quick view; could it have an option to remain open until ESC is pressed (with TablePlus active) or when deliberately clicking elsewhere (with TablePlus active)?

Thanks!

[2019-04-17 08:52] #1113 closed

[2019-04-17 08:52] darshantejani007 commented on #1113
Thanks. @huyphams  works for my use-case. :)

[2019-04-17 08:54] heathyboyj opened #1115 "[Bug/Unwanted change] Double clicking a query stored in the favourites window used to insert the favourited query, now it opens it as a new SQL window (and edits in that window change the saved query)"
I had a number of saved helper queries (little things like common table join lines, or converting a particular common from a unix timestamp to a human-readable datestring), but since the last patch I've had to right-click+insert the query instead of double clicking. I've also managed to overwrite a couple of those queries once or twice by unintentionally opening them and not realising that wiping+

[2019-04-17 08:57] huyphams commented on #1115
Hi @heathyboyj you can turn off autosave in the preferences.
Double-clicking to insert => I added that option on the development build, it will be released on the next update.

[2019-04-17 08:59] huyphams commented on #1114
Does the right sidebar solve this issue? The disadvantage of the right sidebar is it does not have the JSON viewer.

[2019-04-17 09:10] heathyboyj commented on #1114
It's the JSON viewer that we're using primarily in this case, sadly!

[2019-04-17 12:14] huyphams commented on #1115
It will be released on the beta build tomorrow and official build next month.

[2019-04-17 12:14] #1115 closed

[2019-04-17 13:48] johnmastro commented on #1112
Hi @huyphams, thanks for taking a look. Yes, I always keep that setting off.

Whereas that setting controls SQL language keywords, what I'm requesting is a similar setting for schema names, table names, column names, etc. that TablePlus gets from the database.

Snowflake gives those identifiers to TablePlus in uppercase because of what's basically an internal implementation detail, but as SQL auth

[2019-04-17 15:51] evolarjun opened #1116 "Allow export with no "swap" character"
I often work with tab-delimited files. For the most part quote characters are unnecessary unless tab characters occur in fields. Most of the data I work with has this characteristic. It would save an extra step for me if TablePlus did not have mandatory quotes around field contents on export.

[2019-04-18 00:28] ksizemore137 opened #1117 "Result Column Sizing Wrong"
Result sets of varchar and decimal columns don't size correctly. Either the columns are much too big or too small.

_1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):_
MariaDB & SQL Server
_2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):_
TablePlus 2.2 (216)
_3. The steps to reproduce this issue:_
CREATE TABLE `test` (
  `unix_ti

[2019-04-18 01:13] huyphams commented on #1116
I agreed, we should add an option "quote if needed", then TablePlus will only quote the value if it contains the delimiter.

[2019-04-18 01:14] huyphams commented on #1117
I'm working on it, thank you for the feedback!

[2019-04-18 02:45] huyphams commented on #1117
I just released the beta 2017 which includes these fixes. Let me know if you're still seeing it.

[2019-04-18 02:45] #1117 closed

[2019-04-18 02:46] huyphams commented on #901
I just released the beta 2017 which includes these fixes. Let me know if you're still seeing it.
Download: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-04-18 02:46] #901 closed

[2019-04-18 06:10] stefnats commented on #343
What @sunkaiqin - we are switching vom Sequel Pro to TablePlus right now and this is the only feature we're missing.

[2019-04-18 07:52] chrschmitz opened #1118 "[Feature request] Check Constraints in Structure View"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2 / PostgreSQL 11.x / MySQL 8.x / ...

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 2.2 (217)

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

It would be awesome if check constraints could be

[2019-04-18 09:17] huyphams commented on #1118
Thank you @chrschmitz I've got a plan to improved view support:

- Indices
- Constraint
- Edit view content.

[2019-04-18 10:20] stormpat opened #1119 "Cannot update data more than once per query"
When updating a rows column data from the editor (not manually executing UPDATE statements) only the first update is successful. The second and nth update is never executed, this can be confirmed by turning logging on.

1. Which driver are you using and version of it: MySQL 5.5.62

2. Which TablePlus build number are you using: 2.2 212 (using OSX)

3. The steps to reproduce this issue:

Select a r

[2019-04-18 10:26] huyphams commented on #1119
Thanks, @stormpat I wonder if your table has a priamry key or not?
For example, this can table can be failed update on `every database tools`

Can I have that table creation statement?

CREATE TABLE `test` (
  `the_float` float DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8

INSERT INTO `test` (`the_float`) VALUES ('1.1');

[2019-04-18 10:31] foundinblank commented on #887
It still hangs even if I set the built-in TablePlus query limitation to 100, if the overall result set would be >100k rows. The only way to make it not hang is to actually write `LIMIT 100` in the query.

I wonder if it has something to do with calculating the row count displayed at the bottom of the window...

[2019-04-18 10:35] huyphams commented on #887
Thank @foundinblank
it hangs when viewing data by clicking the item on the left sidebar or by running query in SQL Query? yes, possible because of the count query if you view the item by clicking it on the sidebar.

[2019-04-18 10:37] foundinblank commented on #887
By running the query in SQL Query.

[2019-04-18 10:44] huyphams commented on #887
Please turn on the console (command + shift + C) and run a query, does TablePlus append a limit in the end?
<img width="1393" alt="limit" src="https://user-images.githubusercontent.com/3654622/56355834-85282200-6201-11e9-9bb5-af8309e94362.png">

[2019-04-18 10:50] foundinblank commented on #887
Oo...nope! It isn't appended at the end.

![image](https://user-images.githubusercontent.com/31513760/56356213-167ea080-61d0-11e9-8d19-88bf5b47d0cc.png)

[2019-04-18 10:52] huyphams commented on #887
Made sense. Thank you so much @foundinblank I think TablePlus skipped the limit because of the order by 2 (it's clearly a TablePlus bug). I will fix it.

[2019-04-18 10:53] foundinblank commented on #887
Thank you. Glad I can help! I tried it both with a `;` at the end and without, just to see if the semicolon was causing problems. The query hangs both times so it isn't the semicolon.

[2019-04-18 11:04] huyphams commented on #887
can I have the full version of that query @foundinblank? my email is huy@tableplusapp.com please remove/obfuscate sensitive data before sending.

[2019-04-18 12:14] lexilya opened #1120 ""Estimate count when table has more than..." does not always work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8.0.12.

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

2.2 (217) currently which I just updated to, but it happened in previous versions.

3. The steps to reproduce this issue:

I have _"Estimate count when table has more than X rows"_ set to 10k, but it seems that it do

[2019-04-18 13:14] sunkaiqin commented on #343
@huyphams Although I have the license from TablePlus, I still use DBeaver most of time since it has that feature as well. I need it because I need monitor some huge DB table migration process. With that feature I could see the process list  and replication lag information easily and make some decision quickly.

[2019-04-18 14:42] huyphams commented on #343
Hi guys, thank you for taking the time to give me feedback. I appreciate, without the feedback, I have no insight on how people are using TablePlus at work. (I'm using TablePlus at work too, but clearly, my need are not as the same with your).

DB Process aims to be a feature that can control connections/queries which are taking too long to respond, or it can be used to kill a running query on the

[2019-04-18 15:29] dornby opened #1121 "[Bug] Snowflake columns autocomplete doesn't work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Snowflake 3.20.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
215

3. The steps to reproduce this issue:
Try using the columns autocomplete

![Screen Recording 2019-04-18 at 05 31 PM](https://user-images.githubusercontent.com/12762571/56372757-e6e78c80-61ff-11e9-9ece-72720d592

[2019-04-18 22:59] erikbos opened #1122 "Azure Data Explorer support (aka Kusto)?"
Given the various databases already supported, it would be great if Azure Data Explorer would be support.

https://azure.microsoft.com/en-us/services/data-explorer/

[2019-04-18 23:42] Milhound commented on #874
Looks great, and looking forward to trying it out

[2019-04-19 03:15] wtchangdm opened #1123 "Beautify breaks JSON_ARRAYAGG function"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.7.25

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Version 2.2 build 212

3. The steps to reproduce this issue:

Type something like
[code]
and then press beautify button, TablePlus will insert a space between JSON_ARRAYAGG and the column. This issue doesn't break JSO

[2019-04-19 15:21] FoxxMD commented on #722
Also looking forward to this!

[2019-04-19 18:03] mattprivman commented on #338
Would love this as well, for both tables and queries.

[2019-04-19 18:45] bcorcoran opened #1124 "Feature Request: Move Data/Structure/Columns/Filter buttons above view"
Full disclosure, I AM very accustomed to SequelPro, however I paid for this product because I see its potential and like to support actively developed software.

That being said, as it is right now, the buttons for Data/Structure/Columns/Filter don't make for very good UX using the mouse:

- Clicking "Filter" opens up the filter pain on the opposite end of the window (why tho?)
- "Data" and "Struc

[2019-04-20 05:08] huyphams commented on #515
All the sizing issue is fixed in the upcoming build 2018, you can download the beta here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

- Auto-sizing now fits the content.
- Cached sizing, if you change the column size, position, TablePlus remembers it for the next time.
- Row, cell spacing. Now you can custom it in the preferences, along with font size and font family.

Thank you

[2019-04-20 05:08] #515 closed

[2019-04-20 07:00] windware commented on #515
Great looking! However, this may not be directly related to this issue, but the lower half of word 'EMPTY' and 'NULL' seems to be truncated when using non default fonts. It fits fine when I decrease the font size to 10 or change the font to the system default and it works with font size 14 as well. I'm on MacOS 10.13.

![Screen Shot 2019-04-20 at 3 47 28 PM](https://user-images.githubusercontent.c

[2019-04-20 07:04] huyphams commented on #515
Thank you for the feedback. May I ask you some questions?
1. but the lower half of word 'EMPTY' and 'NULL' seems to be truncated when using non-default fonts
=> Which font are you using? I want to try it out.
2. The caching of column size is great, but when I double click the row divider to try to auto resize a column's width
=> This is one of the known issues, I override that function because I d

[2019-04-20 07:04] windware commented on #515
1. Sorry, I've edited the above post. Please try 'Arial'.

2. Thanks!

[2019-04-20 09:09] huyphams commented on #515
I fixed the font issue, the cell value is rendered correctly now.
<img width="251" alt="Screen Shot 2019-04-20 at 4 07 36 PM" src="https://user-images.githubusercontent.com/3654622/56455276-8df63080-6386-11e9-8c5c-16af501d881a.png">

[2019-04-21 11:20] chrschmitz opened #1125 "[Feature Request] Safe Mode for SQLite Database"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 2.2 (218)

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

It would be great if TablePlus would offer a safe mode for SQLite. Locking and unlocki

[2019-04-21 11:33] huyphams commented on #1125
I enabled it @chrschmitz thank you for the feedback!
<img width="363" alt="Screen Shot 2019-04-21 at 6 33 05 PM" src="https://user-images.githubusercontent.com/3654622/56469428-ef400180-6463-11e9-8ae2-a39c570e32c8.png">

[2019-04-21 16:26] jacurtis commented on #9
Just throwing my support out there for Linux as well. I love TablePlus on Mac. Unfortunately I am moving away from Mac to Linux for development and miss not having TablePlus in Linux

[2019-04-21 16:37] dnl-jst commented on #9
Same here. Moving away from Mac to Linux. Would love having TablePlus there.

[2019-04-21 22:16] Numline1 opened #1126 "MySQL - Cannot create a user when password policy MEDIUM is set"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
212

3. The steps to reproduce this issue:
MySQL has a support for password validation/policy which defines the minimal strength of a password when it's being set and blocks weak passwords. When set to MEDIUM or above, the

[2019-04-22 01:39] huyphams commented on #1126
Hi @Numline1 thanks, I fixed it.

[2019-04-22 01:45] Numline1 commented on #1126
@huyphams thanks a lot :)

[2019-04-22 04:46] #1125 closed

[2019-04-22 04:46] #1126 closed

[2019-04-22 14:45] brianhiss commented on #715
@huyphams Do you have an update on this, I see the tag is marked "Done".

I'm on Version 2.2 and still see the same issues as @gitboo where my primary key's are bytea and TablePlus breaks.

Do you plan to cast the bytea as a string when displaying the query results? I know a lot of SQL clients do this, specifically the CockroachDB CLI does it.

[2019-04-22 15:09] huyphams commented on #715
Hi @brianhiss, which is the issue are you facing? updating row with the bytea primary is not working or decode and show the bytea primary key as String?
if it's the first, could you please send me an example? if it's the second, it would be a different issue.

[2019-04-22 15:16] brianhiss commented on #715
@huyphams When I used a `bytea` as a Primary Key, and I try to delete, or update the data in the row, nothing happens.

The logs show why:
![Screen Shot 2019-04-22 at 10 11 54 AM](https://user-images.githubusercontent.com/1640257/56507526-328f8400-64e7-11e9-951b-c761b528f897.png)

It's trying to delete from the row `WHERE "id" = '20 bytes';`, instead of the actual ID. Same happens for updates, etc

[2019-04-22 15:18] huyphams commented on #715
Thank @brianhiss, but could you send me the script which I can create that table? I've tried with my table but it works
<img width="1653" alt="Screen Shot 2019-04-22 at 10 17 08 PM" src="https://user-images.githubusercontent.com/3654622/56507727-7072c380-654c-11e9-8e37-eb9432e2ce0c.png">

[2019-04-22 16:06] brianhiss commented on #715
@huyphams

[code]

`INSERT INTO users (id, username, name) VALUES (b'bi0qh6f3mj07bierogq0', 'brian', 'Brian');`

This works if I write the query myself:
`DELETE FROM users WHERE id='bi0qh6f3mj07bierogq0';`

Using the GUI to `DELETE` does not work (Clicking on a row, 'DELETE' key, Command + S to save). It generates:
`DELETE FROM "public"."users" WHERE "id" = '20 bytes';`

[2019-04-22 16:13] huyphams commented on #715
Made sense, you're using Cockroach, not PostgreSQL. I will fix it now.

[2019-04-22 16:23] huyphams commented on #715
I've fixed it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for reporting the issue 👍

[2019-04-22 16:36] brianhiss commented on #715
@huyphams That was fast! 😮 Tested and works now.

Per my earlier question on casting to a string, do you plan on supporting that down the line?

In CockroachDB CLI, they show the id as a string (even when `BYTEA`) when running a query:
[code]
Right now I just see "20 bytes" in TablePlus.
![Screen Shot 2019-04-22 at 11 27 55 AM](https://user-images.githubusercontent.com/1640257/56511260-c9f9d480-64

[2019-04-22 16:39] huyphams commented on #715
I've thought about it a couple of times. Byea is a wide range of data, it can be anything (image, pdf, sound, string, etc...). If we force it to show as text, it could be wrong in some cases. I want to avoid a solution which won't work 100%.
If I can add this feature, it would be a view option, where user can choose the decoder for the column, and they can choose string for this bytea column.

[2019-04-22 17:15] brianhiss commented on #715
@huyphams That makes sense. Thank you for your quick support. Great product, keep it up 👍

[2019-04-23 10:08] stormpat commented on #1119
Yes, there is a primary key. Heres (a truncated) version of the table.

[code]

[2019-04-23 10:12] huyphams commented on #1119
I can reproduce the issue now, it happened when you tried to edit the result of the query.

[2019-04-23 10:47] huyphams commented on #1119
Hi @stormpat I fixed it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you so much

[2019-04-23 14:15] aik099 opened #1127 "The "Run" context menu entry from History pane executes unrelated SQLs"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

217

3. The steps to reproduce this issue:

* write some SQLs in the SQL Query editor
* select any record in History pane
* from context menu select `Run` menu entry

What happens now:

1. SQLs from history pane are appe

[2019-04-24 03:25] huyphams commented on #1127
It's will be released on the next update.

[2019-04-24 03:25] #1127 closed

[2019-04-24 03:25] #1119 closed

[2019-04-24 03:33] marcsantiago commented on #874
Super excited

[2019-04-24 04:01] huyphams commented on #1116
Hey, I just added an option "Quote if needed" and it's the default option when exporting a CSV.
You can download the build here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

- This feature will be included in the next update.
- This build can self-update.

Thank you for the feedback.

[2019-04-24 04:01] #1116 closed

[2019-04-24 05:06] aik099 commented on #1127
Thanks.

[2019-04-24 10:07] huyphams commented on #1123
Hi @wtchangdm you can work around by installing this plugin: https://github.com/TablePlus/sql-formatter

[2019-04-24 11:02] kicco opened #1128 "Pagination Issue"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgresSQL 10.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 212

3. The steps to reproduce this issue: bottom right paginator offers to go to the next page even if you're on the last one. Doing so pulls up an empty page and disables the next arrow.

Noted: If the bug is rela

[2019-04-24 13:28] UncleMiF opened #1129 "Auto-quotes issue for CamelCase in PG's view name via autocomplete"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PG 11.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

212

3. The steps to reproduce this issue:

query editor autocomplete doesn't add auto quotes for view names in camelcase

e.g.

`select * from bpm_Traits`

where bpm_Traits entered via autocomplete tool
(must be: `select

[2019-04-24 13:39] huyphams commented on #1129
Thank you, it's TablePlus bug, I fixed it. Now TablePlus autos add a double quote for the view (and the materialized view as well).

[2019-04-24 13:43] huyphams commented on #1129
You can download the hotfix build here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-04-24 15:23] voltechs opened #1130 "Request: Native Tabs"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL, Redis (but, irrelevant)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
`2.2 (212)`

3. The steps to reproduce this issue:
Open more than one "tab".
Also, switching between tabs with hotkeys or from the `Window` menu bar item does not adjust the highlighting of the pr

[2019-04-24 15:28] huyphams commented on #1130
I've worked on it a couple of times but couldn't make it work with the current behaviors. I'm working to improve the multiple workspace tabs because of the limitations of the current left tab. Please wait until its release.

[2019-04-24 19:45] voltechs commented on #1130
@huyphams looking forward to it.

Great work so far on TablePlus. I'll be watching this project closely!

[2019-04-25 00:09] gregblass commented on #765
+1. Would argue that this is pretty important. For instance, I have a query that checks for a null value. I changed it in a row to something else for testing - and now I have no way to get it back through the GUI.

[2019-04-25 07:45] #1129 closed

[2019-04-25 08:17] dclawson commented on #1047
Also having this issue with Wordpress Scheduled posts:

[code]

TablePlus cuts this off at:

[code]

Thanks.

[2019-04-25 09:48] huyphams commented on #710
I've implemented it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Hold option + left mouse click.

[2019-04-25 11:08] bocharsky-bw opened #1131 "Make it possible to set NULL in the table view"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 212

3. The steps to reproduce this issue:

I'd like to suggest an improvement: Make it possible to easily set NULL on the field when editing it directly in the table view. What about to add a new item, e.g. SET NULL to the me

[2019-04-25 11:37] huyphams commented on #1131
Hi @bocharsky-bw you can do it by hold option + left mouse click on any field.
TablePlus also convert empty, a null string to null value if the field datat type is a structure or numeric (JSON, number, Array... )

The NULL string is not a NULL value so we will not convert it automatically.

[2019-04-25 13:27] romikzo commented on #1102
+1 would be nice, if i could open quick look window pressing some key. Many mac user dont have mouse.

[2019-04-25 14:40] nesk opened #1132 "Table definition outputs invalid SQL when using a check constraint and a comment"
Using:

- MariaDB 10.3.12
- TablePlus 2.2 (212)

Create a table using a check constraint _and_ a comment:

[code]

Open the table in TablePlus, go to the "structure" tab and click on "definition", you will get this:

<img width="701" alt="image" src="https://user-images.githubusercontent.com/817508/56744106-2706bc00-6778-11e9-80dd-ba87948f74e5.png">

However, the definition is not a valid SQL quer

[2019-04-25 15:07] daytonlowell opened #1133 "Any CREATE or DROP should cause a workspace refresh"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
v2.2

When you run a CREATE or DROP statement, TablePlus should automatically refresh the workspace so the table/view/function/stored procedure/etc appears in the sidebar list.

[2019-04-25 15:38] huyphams commented on #1133
TablePlus has pending state, so doing reload automatically can lead to data loss. You can delete/create  tables via GUI, it will auto reload.

[2019-04-25 18:30] bocharsky-bw commented on #1131
Ah, didn't know about Option + left click, thanks! That's awesome then 👍

[2019-04-25 18:30] #1131 closed

[2019-04-26 04:17] fordguo commented on #713
I got it with oracle.
<img width="488" alt="Screen Shot 2019-04-26 at 12 11 23 PM" src="https://user-images.githubusercontent.com/57704/56783205-152b2480-681d-11e9-8456-8c11d4d008eb.png">

[2019-04-26 05:33] WebZenitude opened #1134 "Connexions sometimes work, sometimes don't"
TablePlus version 2.3 Build 222
MySQL 5.x

Same host provider.
Same virtual hosts.
Same deployments.
Same kind of applications (WordPress in each case).

Further information available only on a private channel for security reasons.

On the left server, test gives everything green and connexion works,
on the right server, test  gives only SSH green and connexion doesn't work.
What could be the expl

[2019-04-26 05:38] huyphams commented on #1134
The connection form on the right is connecting (the test button is disabled during testing). so it could be a network problem.

[2019-04-26 05:40] WebZenitude commented on #1134
Thanks. :-)
Why the upper part is not becoming green like in the other case?
What kind of network problem?
The network is the same in each case.

[2019-04-26 05:43] huyphams commented on #1134
It's connecting that means it hasn't received the response from the server so TablePlus will not mark it green. Have you tried to change the internet and try again? Btw, you can use the MySQL 8.0 driver to connect to the server 5.x. Oracle has fixed some bugs in the new driver.

[2019-04-26 05:44] huyphams commented on #1132
It's hard to explain because the creation statement is returned by `SHOW CREATE table_name`. TablePlus only show the result from that query. Let me investigate it.

[2019-04-26 05:46] WebZenitude commented on #1134
Could you explain what you mean by "change the internet"?
With the MySQL 8.0 driver, the result is exactly the same.

[2019-04-26 05:49] huyphams commented on #1134
You can use 4G/LTE or the other wifi etc.. Is it happen randomly? did you limit the resource of the user? (the number of active connection)?

[2019-04-26 05:56] WebZenitude commented on #1134
OK, thanks for the explanation.
I tried with 4G, exactly the same result in both cases.
It has happened since weeks but I had no time to investigate.
The user resource is not limited.

[2019-04-26 06:07] huyphams commented on #1134
There is a changelog where you can download all the legacy builds: https://tableplus.com/osx/changelog
Please give it a try if you have a chance. I will keep investigating it. Thank you so much

[2019-04-26 06:26] WebZenitude commented on #1134
If I have time enough, I will try with an quite old version.
If it works, I will try to focus on the version implicated using linear interpolation.
If you want to investigate deeply, you will need to replicate the issue.

[2019-04-26 06:34] chrschmitz commented on #1116
"Quote if needed" is shown in the preferences and when exporting one table, but not, if exporting multiple tables. Is this a bug?

[2019-04-26 06:35] huyphams commented on #1116
heck, I forgot to enable it for multiple tables 😄

[2019-04-26 07:12] saswatds commented on #652
Hi @huyphams, Any update on this issue?

[2019-04-26 08:08] blaaat opened #1135 "change int column from default null to default empty"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MariaDB 10.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

222

3. The steps to reproduce this issue:

Have a column; type: smallint(5) unsigned NULL DEFAULT NULL

Change column to NOT NULL Default empty;
<img width="397" alt="Schermafbeelding 2019-04-26 om 10 07 18" src="htt

[2019-04-26 08:40] nesk commented on #1132
Actually, this seems to be a MariaDB bug. I'm closing since you can't really fix this by yourselves.

[2019-04-26 08:40] #1132 closed

[2019-04-26 08:44] nesk commented on #1132
For those interested, here's the bug: https://jira.mariadb.org/browse/MDEV-17654

[2019-04-26 09:21] markuswustenberg opened #1136 "Frequent layout issues on small tables"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

CockroachDB 2.1.16

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 222.

3. The steps to reproduce this issue:

I often see tables that look like this when first clicked on in the navigation bar on the left:

<img width="1231" alt="image" src="https://user-images.githubus

[2019-04-26 11:05] huyphams commented on #1136
I fixed this issue, TablePlus calculate column size based on the content, but there is an arrow on the cell so it was truncated.
The reason you can't reproduce it because TablePlus remembers the column size/position, so if you open the table and change the size, it will be the same size on the next time you open that table.

[2019-04-26 11:15] huyphams commented on #1135
Hi @blaaat I don't think that MariaDB allows empty for numeric type. Only null or a number are allowed.

[2019-04-26 11:23] markuswustenberg commented on #1136
Ah, okay. Is there a way for me to reset the table size state?

[2019-04-26 11:26] huyphams commented on #1136
You can goto the Temp folder: cd "~/Library/Application Support/com.tinyapp.TablePlus/Temp/" and delete all the .options files.
You can delete the Temp but it also removes the saved temporary queries, so please only delete the .options files.

[2019-04-26 11:36] blaaat commented on #1135
It seems to work when removing the DEFAULT part from the alter query:

[2019-04-26 11:55] emexxRepo opened #1137 "Table Plus for Linux Users"
i like your software but im using ubuntu please support to linux distrubitions

[2019-04-27 00:56] rvrabbit commented on #1076
Excellent!  Thank you!

[2019-04-27 05:16] neamtua opened #1138 "Connection issue over SSH"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 222

3. The steps to reproduce this issue:

Hello,

Everytime I've tried using TablePlus to connect over ssh I got a lot of "lost connection, reconnecting" messages. Basically for every action I try to make there are at leas

[2019-04-27 06:37] huyphams commented on #1138
Hi @neamtua which is the timeout value?
<img width="268" alt="Screen Shot 2019-04-27 at 1 36 50 PM" src="https://user-images.githubusercontent.com/3654622/56845840-8805cf80-68f1-11e9-8edc-fb8be9919002.png">

[2019-04-27 06:38] huyphams commented on #1138
Never mind, it's not related to it. I'm investigating.

[2019-04-28 06:42] georgexsh opened #1139 "indentation width in sql query editor is broken"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

build 222

3. The steps to reproduce this issue:

indentation width in sql query editor is broken, tab width become one space:

![CleanShot 2019-04-28 at 14 41 08](https://user-images.githubusercontent.com/32751/56859916

[2019-04-28 06:47] georgexsh commented on #1139
another bug related with indention, <kbd>shift+tab</kbd> only works when you have selection, I expect it could unident a line where the cursor is.

[2019-04-28 06:54] georgexsh commented on #413
the current UI is misleading, you see a search box with history tab, but it doesn’t work...

[2019-04-28 07:03] georgexsh commented on #316
@huyphams  use <kbd>Control-Tab</kbd>/<kbd>Shift-Tab</kbd> to cycle between tabs is pretty the standard in macOS, see safari, chrome, sublime, and macOS HIG (https://developer.apple.com/design/human-interface-guidelines/macos/user-interaction/keyboard/):

[2019-04-28 07:07] georgexsh opened #1140 "new sql query editor has history filled in"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
open a new sql query editor, it has filled with some random history.
i don’t see the logic behind this, which is annoying to me.

[2019-04-28 07:21] georgexsh opened #1141 "show and set mysql column character set/collation"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
there is currently no way to see or edit mysql column character set/collation. ref:
https://dev.mysql.com/doc/refman/8.0/en/charset-conversion.html

[2019-04-28 08:26] georgexsh opened #1142 "improve beautify for `between and` clause"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
current behavior

![CleanShot 2019-04-28 at 16 24 48](https://user-images.githubusercontent.com/32751/56861311-3e40e600-69d2-11e9-9e4a-ceb97c8df0c0.png)

expect

![CleanShot 2019-

[2019-04-28 08:30] georgexsh commented on #1142
besides I hope there is an option to use lower case keyword when doing sql beautify.

[2019-04-28 08:34] georgexsh opened #1143 "mysql auto complete missing many keywords"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:

`UNIX_TIMESTAMP`, `FROM_UNIXTIME`, etc..

[2019-04-28 09:34] huyphams commented on #1140
Hi @georgexsh you can turn off this feature in the setting at bottom left of the editor.

[2019-04-28 09:34] #1140 closed

[2019-04-28 09:50] georgexsh commented on #1140
@huyphams cool, thanks! I didnt find this option last time I check the editor settings.

[2019-04-28 10:50] pernielsentikaer commented on #1143
I can verify this, I'm not sure if its only for 5.7 but we can maybe use this list to improve it: https://dev.mysql.com/doc/refman/5.7/en/keywords.html

[2019-04-28 17:24] kevinwhoffman opened #1144 "Add Quick Look support for serialized arrays"
1. Which driver are you using and version of it: MySQL 8.x

2. Which TablePlus build number are you using: 222

3. The steps to reproduce this issue:

## Current behavior of Quick Look for serialized arrays

- Add the following value to a cell: `a:3:{s:1:"a";i:1;s:1:"b";i:2;s:1:"c";i:3;}`
- Right-click and Quick Look.

Quick Look for a serialized array just shows the contents in its serialized for

[2019-04-29 00:05] huyphams commented on #1139
Hi @georgexsh it's the current indentation is tab, but the default tab size is small.
You can change the indentation to space and it would be better.
<img width="612" alt="indent" src="https://user-images.githubusercontent.com/3654622/56871903-2490b480-6a4d-11e9-83be-ea7f93632538.png">

[2019-04-29 03:38] georgexsh commented on #1139
@huyphams no, I say it's broken cause those settings do not have any effect.

[2019-04-29 04:13] georgexsh opened #1145 "beautify eat part of a long query"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:

the long query sample has sent via private message.

[2019-04-29 04:16] georgexsh commented on #1139
@huyphams because this very regression, I switch back to sequel pro, hope it could be fixed asap.

[2019-04-29 04:19] huyphams commented on #1139
I double check the setting before I commented. So i’m pretty sure that the setting work. You have to press the beautify button after changing the setting.

[2019-04-29 04:22] huyphams commented on #1145
The beautify is made for various of database drivers so it can’t be perfection fit for every case. You can install the custom plugin (by pressing Command + L).

[2019-04-29 04:26] georgexsh commented on #1139
@huyphams before you close this issue, I guess you could double check with me, IIRC, table plus is a paid software, not a warrant less free thing.

[2019-04-29 04:26] georgexsh commented on #1139
the beautify function is broken too.

[2019-04-29 04:33] georgexsh opened #1146 "[feature request] adjust line height in sql editor"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
while using larger font size, line height should be higher too, providing an option is very nice.

[2019-04-29 04:37] georgexsh commented on #1145
eat part of query is a **very serious bug**, it barely could not pass the baseline, very very far more from perfection. otherwise I doubt something wrong with your standard of software quality.

[2019-04-29 04:39] georgexsh commented on #1145
about the sql formatter plugin, it doest respect my indentation setting, at least last time I checked. i can not verify it right now because indentation in editor is broken here.

[2019-04-29 04:41] georgexsh commented on #1141
I guess this is duplicated with https://github.com/TablePlus/TablePlus/issues/642.

[2019-04-29 04:43] huyphams commented on #1139
1. Are you sure that you’ve change the indention to Space? The tab is only 1 character and the width is small, so it looks like a space.
2. Please re-beautify the query after changing the setting.
3. The plugin is not a part of TablePlus so it will not respect the app setting. Maybe we will expose the setting for developer plugin so they can use it. For now, we must modify the plugin if we want cu

[2019-04-29 05:12] huyphams commented on #1139
Please check out this gif
![2019-04-29 12 08 55](https://user-images.githubusercontent.com/3654622/56877385-d1802700-6a77-11e9-96e1-55585c49ce93.gif)

I had closed the issue before because you said that you're using Sequel Pro, and maybe won't have a chance to test the app anymore. I also verified that the setting does work so I'm closed the issue because I think it's a misunderstanding.

[2019-04-29 05:15] georgexsh commented on #1139
i am not “test” table plus, i have already purchased.

[2019-04-29 05:17] georgexsh commented on #1139
what do you mean "The tab is only 1 character and the width is small, so it looks like a space.”?
i have set tab width to “4 spaces”.

[2019-04-29 05:18] georgexsh commented on #1139
yeah if set indentation to Space then use beautify, indentation width is 4.
but that’s not what i want, i expect 1 tab = 4 spaces, as almost every other editor do.

[2019-04-29 05:32] huyphams commented on #1139
it's very complicated to calculate the tab width, it depends on the font, size, and the text system. the best practice is using space as indentation to make sure it 100% works as expected. TablePlus should have used the space as an indentation setting, not tab as the default setting.

[2019-04-29 05:58] georgexsh commented on #1139
@huyphams then i expect press tab key could produce 4 spaces, at the beginning of line.
besides every other editor could do this well.

[2019-04-29 06:28] jdeb9 opened #1147 "Cannot order json fields"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgresSQL 11.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 222

3. The steps to reproduce this issue:
    1. view table with field of 'json' type
    2. toggle quick order via column header

gif included:
<a href="https://gyazo.com/af028ac124a802fc3e985a54c84380b4"><i

[2019-04-29 07:02] georgexsh commented on #1139
in short, i want the behavior of previous release back.

[2019-04-29 08:20] pelinswe opened #1148 "Select count(*) doesn't show results, just saying 1 row OK"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2019-04-29 08:21] pelinswe commented on #1148
Using version 2.3, connecting to MsSql database.

[2019-04-29 08:22] pelinswe commented on #1148
![image](https://user-images.githubusercontent.com/44871112/56884012-b78b1800-6a68-11e9-81fb-b33373c78e87.png)

[2019-04-29 09:11] joshbrw commented on #848
I'd also like to see `.gz` backups retain the `.sql` extension, for example:

`20190429-122449-table.sql.gz`

[2019-04-29 09:16] chrschmitz commented on #848
The most flexible approach would be a file name, which can be custom built using parameters, e.g. for %date, %time, %dbname, and so on...

[2019-04-29 09:17] huyphams commented on #848
That’s what i’m going to add on the next update @chrschmitz compatible with sequel pro naming pattern

[2019-04-29 09:23] huyphams commented on #1148
I think the result is far from the right, could you please resize the window a little bit bigger?
TablePlus remembers the column sizing, so if you change the size and then resize the Windows, the result will be overlapped

![2019-04-29 16 22 32](https://user-images.githubusercontent.com/3654622/56887155-0487e200-6a9b-11e9-9f1f-cf9baf18585d.gif)

[2019-04-29 09:50] markuswustenberg commented on #1136
Thanks, works perfectly.

[2019-04-29 09:50] #1136 closed

[2019-04-29 09:50] retrX opened #1149 "Redis Command + R ERR syntax error"
1. MacOS 10.14.4  Redis 3.1.6

2. TablePlus 2.3(222)

3. 连接 redis 查询 键 app_*  command + R

[2019-04-29 09:54] pelinswe commented on #1148
Can't make it longer :(
![image](https://user-images.githubusercontent.com/44871112/56888921-7ea57000-6a75-11e9-9a52-62418ca5d8fd.png)

[2019-04-29 09:55] huyphams commented on #1139
it's fixed now: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
From the 2.3 we changed the font system (TablePlus allows the user to change to any custom font), so the tab width is not calculated as it does with the fixed font.
Thank you for the feedback.

[2019-04-29 10:03] huyphams commented on #1139
`you should not forbid user to use tab. user will still paste in sql with tab from other sources.
just copy the behavior of any common code editor.`

=> We did not forbid, we will not remove the option to allow user switch back to tab as the indentation.
Tab width may not have the same width in the other edit, because they have a different config, but space will make sure it always looks the same

[2019-04-29 10:06] huyphams commented on #1148
hmm, weird, can you scroll the content horizontally? or can you select the first row?

[2019-04-29 10:08] huyphams commented on #1148
it would be better if you named the count column, for example:
[code]

[2019-04-29 10:11] huyphams commented on #1136
Where necessary.
I've improved the column sizing if the cell has an arrow or braces,
you can download here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
This is hotfix build and it can self-update as the official release. (fat binaries because it contains Oracle).

[2019-04-29 11:45] georgexsh commented on #1139
@huyphams thanks for your prompt response, I tested the build you post, it works.
but as a subscriber of setapp, I guess I need wait for the next release.

[2019-04-29 11:57] georgexsh commented on #1139
I call this a _bug_.

i think it is okay, tab width just affect the beginning of a line, not in the middle,  as long as the width is consistent, and as long as  it is only one space wide...

[2019-04-29 12:05] georgexsh commented on #1038
exactly! +1 for this

[2019-04-29 15:29] huyphams commented on #1038
the beautify function now respects the setting "auto uppercase keywords."
https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-04-29 15:39] georgexsh commented on #1038
@huyphams wonderful, hope the new version could be released soon.

[2019-04-29 15:57] nathanmarks opened #1150 "Snowflake driver parameters"
There are parameters for snowflake that I would like to be able to pass in my connection config.

Right now I'm unable to use tableplus to connect to snowflake databases that are behind SSO authentication as there's an additional connection parameter needed (`authenticator`)

[2019-04-29 16:13] MrMathias opened #1151 "Connect to MS sql server instantly crashes program"
After updating to build 222 from I think 196, testing a connection to or connecting to sql server instantly crashes the program.

I'm on MacOS 10.11.6

[2019-04-29 22:53] huyphams commented on #1151
Thanks @MrMathias I confirmed the issues. Please roll back to the old build, we will fix it on the next release.
https://tableplus.com/blog/2017/02/changelogs.html

[2019-04-30 02:45] georgexsh commented on #632
matching parentheses highlight is a very helpful feature, please add it!
below is how sublime handle this:
<img width="147" alt="CleanShot 2019-04-30 at 10 44 43@2x" src="https://user-images.githubusercontent.com/32751/56938519-11f1aa80-6b35-11e9-9349-b95ac3944c55.png">

[2019-04-30 07:15] MrMathias commented on #1151
Cool. I guess it wasn't from build 196 then? If I recall correctly the update notification said "26 updates". Do you have an idea about which build that caused the issue?

[2019-04-30 08:41] huyphams commented on #1151
I think you can download the build 200 or 212.

[2019-04-30 14:58] huyphams commented on #1151
Hey @MrMathias I've fixed the bug: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
I've compiled the SQL lib on Mac OS 10.11 for backward compatible.

[2019-04-30 15:33] chrisdeeming opened #1152 "Duplicate entire MySQL database and content"
I still have to keep a copy of Sequel Pro installed for one particular "quality of life" improvement it has that TablePlus doesn't have.

Namely it has pretty much a "one-click" duplicate database (and content) system:

![image](https://user-images.githubusercontent.com/2158514/56973068-09649880-6b64-11e9-85d3-ebc3bc49b997.png)

As far as I know, the only way to achieve this with TablePlus current

[2019-04-30 16:00] techniq commented on #1044
This is a pretty major issue for our team as well.  We're currently using SQL Server (but also plan to connect to Oracle and MySQL instances).  Otherwise this tool has been great and solved issues we've had with others we've used.

[2019-04-30 16:03] huyphams commented on #1044
Are you using redshift @techniq? because I see it works with PostgreSQL.
Thank for reminding me. I will fix this issue and release it on the next update.

[2019-04-30 16:24] huyphams commented on #1044
I've created a Redshift Instance and it seems to be fixed on the latest release 222
<img width="902" alt="Screen Shot 2019-04-30 at 11 24 16 PM" src="https://user-images.githubusercontent.com/3654622/56977336-22d70600-6b9f-11e9-9746-365ea85e6318.png">

[2019-04-30 16:55] huyphams commented on #1149
Hey @retrX I've fixed it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the feedback.

[2019-04-30 17:09] techniq commented on #1044
@huyphams Thanks for the quick reply.  I think the issue(s) is be more nuanced upon a deeper look:

## Schema shares name with Table
If a schema has the same name as a table, it will always show the table's columns when completing a table name (ex. I have an `Organization` schema which has an `Organization` table (along with `Department`, etc)

The completion of table names does not work, but afte

[2019-04-30 17:27] huyphams commented on #1044
Made sense, thank you!

[2019-05-01 01:31] #1151 closed

[2019-05-01 01:31] #1149 closed

[2019-05-01 01:32] #1139 closed

[2019-05-01 01:48] huyphams commented on #1142
I'm working on this. It will be fixed on the next release.

[2019-05-01 03:10] huyphams commented on #1142
it's fixed on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing this issue. Then I will reopen this issue.

[2019-05-01 03:10] #1142 closed

[2019-05-01 03:20] huyphams commented on #1145
Hi @georgexsh I rechecked the SQL and didn't see that TablePlus eat any parts of the query.
Could you please point it out? I'm sorry I missed the `eat part` when I saw this issue for the first time, I thought you have reported the formatted issue.

[2019-05-01 03:23] huyphams commented on #1143
Both TablePlus and Beautify originally are made for PostgreSQL. I've localized the syntax highlighter for each driver but still using the same beautify for all drivers. that's why you're seeing this issue. I will improve it in future updates.

[2019-05-01 03:25] #1038 closed

[2019-05-01 03:25] #1010 closed

[2019-05-01 13:26] rwhitten577 opened #1153 "Can't reconnect to Snowflake after idle time without new connection window"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Snowflake - latest

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
- Open snowflake connection
- Put computer to sleep for n hours
- Wake computer, try to refresh tableplus connection window (still open from last session)
- Connection wi

[2019-05-01 13:27] huyphams commented on #1153
Hi @rwhitten577 you can force reconnect by pressing Command + Shift + R.

[2019-05-01 13:28] rwhitten577 commented on #1153
Ah thanks @huyphams! Will give that a try.

[2019-05-01 13:28] #1153 closed

[2019-05-01 14:39] lukeberry99 opened #1154 "MSSQL varbinary fields cause row not to display"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MSSQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
212

3. The steps to reproduce this issue:
Have a varbinary field populated with data, it wont appear in the results.

Some of our users have avatars uploaded as a `varbinary` type in our DB, their entire record disappears fro

[2019-05-01 14:48] huyphams commented on #1154
Hi @lukeberry99 which version of SQL Protocol are you using? I'm testing with the default protocol and it works.
<img width="612" alt="version" src="https://user-images.githubusercontent.com/3654622/57022926-de10a500-6c5a-11e9-83a4-b0749efafb6b.png">

[2019-05-01 14:51] huyphams commented on #1154
The rows is not shown mostly because of the protocol mismatch.
<img width="1065" alt="varbinary" src="https://user-images.githubusercontent.com/3654622/57023036-38116a80-6c5b-11e9-8b5f-9020a9515dd9.png">

[2019-05-01 15:18] huyphams commented on #1154
Hi @lukeberry99 this build should fix your issue: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the feedback.

[2019-05-01 19:16] ekirkland commented on #687
I set the timeout to 1 hour (3600 seconds) but my queries are still timing out right on 900 seconds.

[2019-05-01 19:20] eDaddi opened #1155 "Copying Pinned and Favorites from connection to connection"
It would be nice to be able to copy Pinned tables and Favorites from connection to connection.  So, they don't all have to be manually recreated in Live, Cert and whatever test DB gets spun up.

[2019-05-02 02:53] mike-code opened #1156 "Keyboard shortcut for foreign keys"
I would find it very useful if navigating to foreign key record could be done using keyboard shortcut, however that would require possibility to move between record cells whilst now you can only select the whole row, correct?

img related

![image](https://user-images.githubusercontent.com/2964642/57054590-9ab14780-6ce9-11e9-862f-adf29ed433b5.png)

[2019-05-02 02:57] huyphams commented on #1156
Hi @mike-code you can navigate to foreign key by clicking the arrow, have you tried it?

[2019-05-02 03:01] mike-code commented on #1156
Correct. My suggestion here is for people (like myself) who try not to use mouse at all. Myself I almost never use mouse while working with datagrip and I learned that this gives me much faster control over the program so as an example I would probably like to be navigated to the related record rather than have all other entries filtered and I'd definitely need single cell selection (to edit or na

[2019-05-02 03:02] huyphams commented on #1156
Understood, thanks.

[2019-05-02 07:01] huyphams commented on #1044
Hi @techniq I've fixed this issue: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the feedback.

[2019-05-02 09:24] huyphams commented on #1044
Hmmm, all works except the alias case.

[2019-05-02 15:02] BrandonBlair opened #1157 "[Enhancement] Strip newlines on Product Activation paste"
The activation email addresses the problem where users paste multiple times. They are making this mistake because the key does not appear when pasted - possibly due to newlines or accidental word wrapping in the key field. This is the first interaction a user has after they've spent money on your product, so you should make it a good one. Likely trimming newlines and whitespace so that the key is

[2019-05-02 15:05] huyphams commented on #1157
we've trimmed newline, space, tab on both application side and server side. but it's not the root cause.
Actually, we're working on the activation link (where the user just click the link to activate)

`tableplus://license/activate?key=YOUR_LICENSE_KEY`

Currently, it works on the macOS but not on Windows, we will update the Windows client and will include this method on the activation email.

[2019-05-02 15:21] BrandonBlair commented on #1157
Thank you for the quick response. If the key is a known length, how is it not possible to display each character in predictable location after trimming?

Sounds like the link will work around the issue. This seems like a small thing but it impacts the perception of the product’s quality. The UI design is gorgeous otherwise.

[2019-05-02 15:23] huyphams commented on #1157
I don't actually know the root cause, maybe the invisible character (not tab, space, newlines) was created during copy or whatever human mistake copy/paste. And of course, the link will solve the issue because it avoids human mistake.

[2019-05-02 15:35] BrandonBlair commented on #1139
Having the same issue. Choosing spaces or tabs has no effect. Press tab, it advances one space. Fairly crucial functionality for an editor.

[2019-05-02 15:37] huyphams commented on #1139
Hi @BrandonBlair it has been fixed on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-05-02 15:48] BrandonBlair commented on #1139
Thanks for getting this fixed. Tabs work in this build, but on deleting it still treats them as spaces. A minor annoyance, but one that should be addressed eventually. Deleting a tab should be a single delete, not 4.

[2019-05-02 15:50] huyphams commented on #1139
You must change the setting back to tabs @BrandonBlair and it should be a single character.
<img width="482" alt="tab" src="https://user-images.githubusercontent.com/3654622/57088501-a2dea680-6d2c-11e9-9bca-dc3f84477a69.png">

[2019-05-02 16:10] BrandonBlair commented on #1139
![tabs](https://user-images.githubusercontent.com/5199091/57089734-b822e900-6cca-11e9-9479-2786cf5f5414.gif)
That has no effect. This is on the latest build you linked from Dropbox (224)

[2019-05-02 16:15] huyphams commented on #1139
ahh, yeah, this is the other issue (the original issue is related to Beautify function).
I just double check and you've to close and reopen the editor to take effect. I will take a look into it and improve with hot reload config.

[2019-05-02 16:19] BrandonBlair commented on #1139
Awesome - I appreciate you taking this feedback, I know you're probably already busy. This will make it a better product for sure.

[2019-05-02 16:21] BrandonBlair commented on #1139
Confirmed it takes the setting once I reload.

[2019-05-02 16:28] BrandonBlair opened #1158 "Open Recent is always empty"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6.34

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 224

3. The steps to reproduce this issue:
![Recent](https://user-images.githubusercontent.com/5199091/57090851-629c0b80-6ccd-11e9-85be-40febcc91743.gif)

Noted: If the bug is related to data, please attach an exa

[2019-05-02 22:12] gfesj69 opened #1159 "Crash running SQL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    Mysql 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
    Version 2.3 (222)

3. The steps to reproduce this issue:
     Try to run SQL.

Noted: If the bug is related to data, please attach an example SQL data.

[Crash_DUMP.log](https://github.com/TablePlus/TablePlus/files

[2019-05-03 05:05] huyphams commented on #1159
Hi @gfesj69 does it happen every time or randomly? I can't reproduce the issue with my MySQL 5.6 docker container.

[2019-05-03 07:05] huyphams commented on #1044
hey guys, this build should fix all the issue: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it.

[2019-05-03 07:05] #1044 closed

[2019-05-03 07:21] huyphams commented on #9
The Windows is released, please follow the issue https://github.com/TablePlus/TablePlus/issues/1056
for Linux.

[2019-05-03 07:21] #9 closed

[2019-05-03 07:21] huyphams commented on #1137
I'm closing it because it's duplicated:
https://github.com/TablePlus/TablePlus/issues/1056

[2019-05-03 07:21] #1137 closed

[2019-05-03 07:21] #203 closed

[2019-05-03 07:25] huyphams commented on #1064
I think this issue is fixed on the build 222, let me know if you're still seeing it.

[2019-05-03 07:30] dnl-jst commented on #1056
Yes please! :-)

[2019-05-03 07:50] aik099 commented on #1064
Unfortunately the issue is still there in 224 build.

[2019-05-03 07:52] huyphams commented on #1064
ah, it's expected behavior, the result is not ordered by #, it's ordered by Fuzzy score (which is used all over the app).

[2019-05-03 07:53] aik099 commented on #1064
Wasn't aware of it. Then it's no bug.

[2019-05-03 07:56] #1064 closed

[2019-05-03 12:24] techniq commented on #1044
Thanks @huyphams, I'm installing it now and will report back if it's still a problem.  We're also in the process of purchasing probably a 4-5 seat license.

One of the developers had a computer crash (not related to TablePlus) but he was disappointed it did not save his open query when he reopened the app.  Is there any possibility it would be saved anywhere on the disk?  I know it's supposed auto

[2019-05-03 12:29] huyphams commented on #1044
TablePlus will save the query when:
1. Close the editor (close the tab or close the workspace).
2. Execute a query (it's also recorded in the history)
3. Beautify or Uglify query.
4. Close the app (not force close).

I'm not sure, if he executed the query, please take a look at the History tab.

[2019-05-03 12:45] techniq commented on #1044
@huyphams Awesome, we found it in the History tab.  I'll work on getting some licenses purchased in the next day or two.  So far we've been very happy with the tool (coming from Azure Data Studio).

[2019-05-03 12:46] huyphams commented on #1044
Thank you! please share the hotfix build with your team, I've fixed some bug related to SQL Server on that build.
When the official is released, it will receive the update just like the normal build.

[2019-05-03 12:49] huyphams commented on #1123
I fixed it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing this issue.

[2019-05-03 12:49] #1123 closed

[2019-05-03 13:04] paulfanning opened #1160 "CTRL-C/CTRL-V in SQL window"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.5 and MySQL 8.0
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
66 to 68
3. The steps to reproduce this issue:

I seem unable to use the  ^C/^V combination in the SQL window. I often like to tweak queries and then paste them into larger scripts. In addition, the usual

[2019-05-03 13:10] huyphams commented on #1160
You can use Control + C and Control + V in the query editor, it just doesn't have a menu context. I will add the menu context for it in the next release.

[2019-05-03 13:14] huyphams commented on #1143
I've added all MySQL Keywords from this https://dev.mysql.com/doc/refman/8.0/en/keywords.html and https://dev.mysql.com/doc/refman/8.0/en/func-op-summary-ref.html
The highlight syntax is regex based, so it will take more time to complete the list, btw, it's not related to this issue.
Let me know if you're still seeing the issue.
Download the build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePl

[2019-05-03 13:14] #1143 closed

[2019-05-03 13:20] jacurtis commented on #1056
Linux has literally no competition for database GUIs. Really the only option is DBeaver. And that’s really hard to use

[2019-05-03 13:22] techniq commented on #1044
@huyphams Looks like `Schema shares name with Table` issue is fixed with this build (224) but `Schema shares name with keyword` doesn't appear to be.  After typing the period after the `sv` alias, I'm not getting any autocomplete (see gif up above).

[2019-05-03 13:25] dnl-jst commented on #1056
Or Datagrip. But that’s hard to use too and very costly.

[2019-05-03 13:28] paulfanning commented on #1160
It is odd, but they have not worked in the TablePlus SQL editor since
either 67 or 68 update, although I use them constantly in other editors.
Other than that I have been really happy with this tool.

I just shutdown everything and rebooted and that seems to have cured the
issue, should have done that before entering the issue I guess.

On Fri, 3 May 2019 at 10:10, Huy Pham <notifications@github.c

[2019-05-03 14:25] ghost opened #1161 "SQLite problem with field Blob."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQLite3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
[code]
So how can you see here, I have this BLOB column used to save some LOG from user device,
the old version tablePlus I was able to use Quick View JSON and now I can not see the

[2019-05-03 14:40] huyphams commented on #1044
Hey @techniq please try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the confirmation.

[2019-05-03 14:46] gfesj69 opened #1162 "[BUG] Beautify Error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    MySQL 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
     2.3 (222)

3. The steps to reproduce this issue:
     Transform a SQL statement using BEAUTIFY.

     := is separeted causing error, ex. @CPG: =, instead @CPF :=
[TablePlus_Problem_Beautify.txt](https://github.com

[2019-05-03 15:07] jbergstroem commented on #1038
Just tried this out. Looks like offset still is in CAPS:
<img width="205" alt="Screen Shot 2019-05-03 at 11 06 26 AM" src="https://user-images.githubusercontent.com/176984/57146564-a0636780-6d93-11e9-87c3-9903c5f0657f.png">

[2019-05-03 15:12] huyphams commented on #1038
Thanks, I will fix it.

[2019-05-03 16:03] huyphams commented on #1160
Thank you for the confirmation. I'm closing because it's the other issue.
It's worth it to mention that our Windows issue tracker is here: https://github.com/TablePlus/TablePlus-Windows/issues

[2019-05-03 16:03] #1160 closed

[2019-05-03 16:05] huyphams commented on #1161
Thanks @lailton let me take a look into it.

[2019-05-03 16:07] techniq commented on #1044
@huyphams Working now, thanks!

[2019-05-03 16:22] arandilopez commented on #1056
Suscribed! Hope to see a version soon

[2019-05-03 16:39] huyphams commented on #1161
Hey @lailton now you can quickly look the JSON blob: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-05-03 18:25] lailton commented on #1161
Wow, @huyphams,

Thank you for the fast fix!

Just a small consideration, It is better now I am able to see the content but maybe you can make it yet better.
what about to add an option View as JSON/TEXT/IMAGE into the right side?

<img width="1421" alt="Screen Shot 2019-05-03 at 3 19 16 PM" src="https://user-images.githubusercontent.com/39895255/57157435-14633700-6db7-11e9-98d9-a87eb447130e.png">

[2019-05-03 19:05] dpustovarov opened #1163 "Remove default"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MariaDB 10.3.8

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 2.3 (222)

3. The steps to reproduce this issue:
How to remove default value from column?
In other words make "`...descriptionIsApproved` tinyint(1) unsigned NOT NULL,"
instead of "`...descriptionIsApproved` tinyint(1

[2019-05-03 19:08] dpustovarov commented on #1163
<img width="892" alt="Screen Shot 2019-05-03 at 22 06 50" src="https://user-images.githubusercontent.com/10797699/57159898-ef3eea80-6def-11e9-8031-7bbadd3bb2dc.png">

[2019-05-04 06:34] huyphams commented on #1163
Hi @dpustovarov please download this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
And set the value to NULL, it will remove the default.
Thank you for the feedback, let me know if you're still seeing it.

[2019-05-04 06:34] #1163 closed

[2019-05-04 08:44] huyphams commented on #1087
I'm working on it now. Just got an idea.

[2019-05-04 09:51] vesper8 commented on #1069
is the ability to save / restore session coming soon @huyphams ?

kind of annoying losing all my tabs and tables every time I update the client which is 1-2x per week

[2019-05-04 10:05] AlexanderElyseev opened #1164 "Native OSX tabs hide SQL tabs"
Hi!

The problem is that when you use native OSX tabs they culd hide SQL tabs (see the screencast).

1. Which driver are you using and version of it: 5.5.43-MariaDB-37.2 (doesn't matter)
2. Which TablePlus build number are you using: 2.3 (222)
3. The steps to reproduce this issue:
    1. Open two instances of Table Plus with multiple SQL tabs
    2. Menu -> Window -> Merge All Windows

Screencast:

[2019-05-04 11:38] huyphams commented on #1087
Hi @ernstae I implemented it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the suggestion. Let me know if it works for you.

[2019-05-04 11:38] #1087 closed

[2019-05-04 20:06] kiliankoe commented on #874
I'm happy to volunteer for any TestFlight Betas if you're ever in need 😜

[2019-05-05 03:36] georgexsh commented on #1145
@huyphams sorry it is bad formatting, not a bug.

[2019-05-05 03:36] #1145 closed

[2019-05-05 03:40] georgexsh commented on #1145
@huyphams if you have time, check the second part of `union`, the `and` conditions of `join...on`.

[2019-05-05 03:40] huyphams commented on #1164
Thanks @AlexanderElyseev the native tab is hasn't been supported yet, we're working on it.

[2019-05-05 03:44] georgexsh opened #1165 "feature request: highlight selected word in whole query"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
example in sublime:
![image](https://user-images.githubusercontent.com/32751/57188049-1221e980-6f2b-11e9-8e85-f75ead960ba4.png)

[2019-05-05 18:38] ernstae commented on #1087
Hi @huyphams - I did some initial testing, and didn't have much luck.  I verified that I can ssh to the host and run mysql on the command line. (_I purposefully configured the `auth_socket` plugin for my account in mysql for this test_)
[code]

When I configured TablePlus, the profile looked like this.  Testing verified a successful ssh connection, but then the UI hung with a "Connecting to Databa

[2019-05-05 18:39] ernstae commented on #1087
Hi @huyphams - I did some initial testing, and didn't have much luck.  I verified that I can ssh to the host and run mysql on the command line. (_I purposefully configured the `auth_socket` plugin for my account in mysql for this test_)
[code]

When I configured TablePlus, the profile looked like this.  Testing verified a successful ssh connection, but then the UI hung with a "Connecting to Databa

[2019-05-05 22:42] huyphams commented on #1087
Hi @ernstae could you please check the socket address again? As far as I can see the mysqld.sock is not the normal socket. Please check out my setup on centos.
![5E4F84EE-E07A-4750-9AFE-56D99FE4FCE4](https://user-images.githubusercontent.com/3654622/57201327-b6566f80-6fc1-11e9-9600-0b8519c9193f.jpeg)

[2019-05-05 22:55] ernstae commented on #1087
The host I was connecting to is running Percona Server 5.7.25 and the socket is located in that location:

[code]

and the file is there:
[code]

The host is Ubuntu 14.04, running Percona Server 5.7.25 but there's nothing particularly special about it (_and you can see that I can access over ssh from my earlier message_)

[2019-05-05 22:57] huyphams commented on #1087
Thank you for the confirmation. I will create an instance with your information and try it out.

[2019-05-06 10:37] bocharsky-bw opened #1166 "Execute actual queries in the same order as actions were performed"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 222

3. The steps to reproduce this issue:

It feels like DataPlus trying to replay SQL queries in a wrong order they were created after you did some changes and press Cmd + S to actually execute queries.

For example, I have

[2019-05-06 12:46] vnesek opened #1167 "Incorrect DDL when adding column with foreign key"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Myasql

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 224

3. The steps to reproduce this issue:

* Create table
* Add column to table with foreign key referencing some other table

Generated foreign key doesn't include new column name:

ALTER TABLE `xx`.`zz` ADD COLUMN `

[2019-05-06 13:36] techon opened #1168 "Auto-complete for all column names when typing *"
TOAD has this feature where if you type SELECT * FROM table_name
The auto-complete allows for changing the * to list of all column names.
This would be hugely helpful in writing custom queries.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
For OSX, SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps

[2019-05-06 15:44] mikejavier commented on #1056
+1

[2019-05-06 15:44] dpustovarov commented on #1163
It's Ok. Thank you.

[2019-05-06 19:54] andrewmcnaughton commented on #848
ETA on that update? Sounds amazing!

[2019-05-06 22:21] cuyler opened #1169 "Don't override MySql 'localhost' with /tmp/mysql.sock for Docker"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

222

3. The steps to reproduce this issue:

Create a new connection, fallout connection information, set the "Host" to 'localhost' then watch the connection fail, because there's no /tmp/mysql.sock.

I think it's trying

[2019-05-07 00:54] huyphams commented on #1169
Thank @cuyler but TablePlus always respect the input. I don’t know if the driver handles it automatically. Please try to use 127.0.0.1 instead.

[2019-05-07 01:16] huyphams commented on #1169
I checked the MySQL document, it is handled automatically:

I think I will not change the default behavior because it's the standard of MySQL. But I will add an alert to tell the user that they should change to the 127.0.0.1 if there is an error.

https://dev.mysql.com/doc/refman/8.0/en/connecting.html

[2019-05-07 01:29] huyphams commented on #1169
I updated the popup to clarify it.
<img width="612" alt="Screen Shot 2019-05-07 at 8 27 33 AM" src="https://user-images.githubusercontent.com/3654622/57265449-fc830000-70a1-11e9-9082-354f068f1b98.png">

[2019-05-07 02:07] huyphams commented on #1168
Thank @techon, I'm implementing it now.

[2019-05-07 17:28] ffxsam commented on #869
@huyphams This is still a bug in the latest version

[2019-05-08 02:24] wdepril commented on #229
it would be great to show the connection name on the sidebar, that way it becomes configurable.  Database on a second line would be useful.    All our databases (mysql) are named the same in different environments and having to hover over to check which db to select is just not convenient but more importantly error prone.

[2019-05-08 02:27] huyphams commented on #229
Sure! I'm working on it.

[2019-05-08 03:00] huyphams commented on #229
it will be included in the new update as a temporary solution.
<img width="434" alt="name" src="https://user-images.githubusercontent.com/3654622/57346260-1262f480-7178-11e9-80b7-12d48dd69d99.png">

[2019-05-08 03:11] huyphams commented on #1169
I've added it on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for the feedback.

[2019-05-08 03:11] #1169 closed

[2019-05-08 03:19] georgexsh opened #1170 "index display order is unstable"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:
open table structure view, refresh, the index display order is changing every time. it should in the order as in `show create table` output, `primary` key should always at the top

[2019-05-08 03:27] huyphams commented on #1170
I've updated it, since detecting the original position is much harder, I ordered it using the alphabet as the temporary solution.

[2019-05-08 03:46] georgexsh commented on #1141
hey @huyphams , at least table plus could show the character set info.

[2019-05-08 09:17] kpost commented on #1056
+1

Not being able to use Tableplus is the only bad thing about switching from Macos to Linux, since there is no alternative. None to speak of anyway.

[2019-05-08 17:56] Briones opened #1171 "List of Foreign keys"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): v2.3 (222)

3. The steps to reproduce this issue:
Would be nice to have a list of the Foreign Keys constraints in the "Structure View"
<img width="1239" alt="imagen" src="https://user-images.githubusercontent.com/1811438/57

[2019-05-09 03:18] samuelkim-nsuslab opened #1172 "Import From CSV Error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySql 5.6.35-log

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 2.3 (222)

3. The steps to reproduce this issue:
a) Table Select > Export Table Data As CSV
![image](https://user-images.githubusercontent.com/26429500/57424715-9047fe00-7253-11e9-854a-fb427961c19a.png)
b) S

[2019-05-09 03:23] huyphams commented on #1172
Thanks @samuelkim-nsuslab please select double quote when exporting as a workaround solution.
I will take a look into this issue.

[2019-05-09 07:14] MariusVB commented on #1056
Be sure to look into universal Linux packages like:
https://snapcraft.io/
https://flatpak.org/

Then you will hit as many distributions and users as possible.

[2019-05-09 11:02] AndreasSchantl commented on #974
![image](https://user-images.githubusercontent.com/9936988/57448796-8d9cd700-725a-11e9-9c71-32622aa60296.png)
Same for me. This is really annoying.

[2019-05-09 11:28] tumispro commented on #1028
Tables can be renamed (via the structure tab), so the title of this issue seems incorrect to me.

[2019-05-09 11:29] huyphams commented on #974
it uses the bar tint color. I've updated it. If the theme is light and the bar color is the default. TablePlus will not use the title bar color for the database icon.

[2019-05-09 11:29] tumispro commented on #463
+1

Could be both by double clicking the table name and via the context menu

[2019-05-09 13:42] MightyPixel commented on #997
I have similar issue on large tables. Even if set beforehand the limit to 1 it still gets the total count. It should be an option whether it should display exact size, estimate size, "more than N" or off all together. My build is 2.3 (225).

[2019-05-09 18:43] huyphams commented on #997
Hey guys, I've updated the Cassandra, TablePlus will try to estimate it before doing the count(*), so no more count if the table has more than 1 million rows.
Thank you for reminding me.

[2019-05-09 18:48] huyphams commented on #997
And here is the build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-05-10 03:53] nukem666 opened #1173 "MSSQL XML columns error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MSSQL 2017

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.3(222)

3. The steps to reproduce this issue:
Execute and SELECT query which returns a XML column returns this error:
Query 1 ERROR: User attempted a dbbind with mismatched column and variable types, 0 row affected

Not

[2019-05-10 03:58] huyphams commented on #1173
Thanks @nukem666 let me fix it.

[2019-05-10 04:01] huyphams commented on #1173
Hi @nukem666 it seems to be fixed on the beta build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it.

[2019-05-10 07:19] nukem666 commented on #1173
@huyphams , I still see the same issue in build 225, running the test SQL above.

[2019-05-10 07:21] huyphams commented on #1173
Which is the protocol version you using?
<img width="528" alt="Screen Shot 2019-05-10 at 2 20 41 PM" src="https://user-images.githubusercontent.com/3654622/57509595-d756f180-732e-11e9-9cb7-e6fb93eba7e3.png">

[2019-05-10 07:42] nukem666 commented on #1173
I am using 74

[2019-05-10 07:43] huyphams commented on #1173
Please try again with the 70, I will try with the 74 and see what will happen, thank for the confirmation.

[2019-05-10 09:01] MightyPixel commented on #997
Hi @huyphams! Thanks for that update. I tested it and it indeed is better, but I my experience that it is way slower than cqlsh.

1. I had to wait for some reason something like 10 seconds before the loading bar disappears. Then Estimation of ~802,295 rows displayed.

1.

2.
3. It seems that other operations wait the estimation. So if I set the limit to 100, it loads 100 records and starts estimat

[2019-05-10 09:04] huyphams commented on #997
Thank you @MightyPixel for the feedback, I will look into it now.

[2019-05-10 10:06] dornby commented on #887
This is becoming a pressing issue, not only the mandatory `LIMIT` hurts our productivity because often we want all our data rows returned but also we end up Force Quitting every single time we forget it, which happens *a lot*.

[2019-05-10 10:09] huyphams commented on #887
the problem with Snowflake is they don't give us a demo connection, so every time I want to fix/or take a look into it, I need signup a new account, add a credit card and set up everything from scratch.

Thank you guys for the feedback and the patient, I will create a new account and investigating this issue.

[2019-05-11 21:19] ncernek opened #1174 "Connection thru Cloud SQL Proxy works, except when using "Backup" feature"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Postgres 9.6.10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Version 2.3 (222)

3. The steps to reproduce this issue:

Connect to a postges instance on Google Cloud SQL via Cloud SQL Proxy. (I know there's a lot to it).

I am able to access, query and edit the DB without any

[2019-05-12 09:34] huyphams commented on #1174
Thank you @ncernek let me check it.

[2019-05-12 14:18] huyphams commented on #1174
Hi @ncernek I've fixed it, now TablePlus can backup via socket (and also socket over an SSH tunneling).
Download: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it.

[2019-05-12 14:18] #1174 closed

[2019-05-12 17:55] yuanjun-jason commented on #997
Normally Cassandra users are aware of that COUNT(*) should not be used most of the time, so disabling this function when browsing data will not hurt.

[2019-05-13 00:32] anthroid opened #1175 "Selected table name in sidebar nearly unreadable when data window has focus"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 2.3 (222)

3. The steps to reproduce this issue:
Enable Dark Mode.
Open a database.
Select a table in the sidebar on the left.
Click in the data table area.
Sidebar still using light grey text with light grey h

[2019-05-13 01:02] #1173 closed

[2019-05-13 03:42] huyphams commented on #997
I turn off it completely: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
TablePlus only counts when you turn off the estimated count (default is on).
Let me know if anyone is still seeing it.

[2019-05-13 03:42] #997 closed

[2019-05-13 03:43] huyphams commented on #1120
Hi @lexilya I've refactored the estimated code, please download and try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
let me know if you're still seeing it.

[2019-05-13 03:43] #1120 closed

[2019-05-13 03:44] huyphams commented on #1170
Please try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it then I will reopen this issue. Thank you for the feedback.

[2019-05-13 03:44] #1170 closed

[2019-05-13 06:24] MightyPixel commented on #997
Thanks @huyphams! I just tried it and it works very well - very responsive.

One cosmetic side-effect is that the label on the bottom: "1 of 0 row selected" could be "1 row selected"

Cheers!

[2019-05-13 06:47] lexilya commented on #1120
Thank you so much @huyphams. I will give it a go and let you know.

[2019-05-13 10:07] zoispag opened #1176 "Dump includes virtual generated columns"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 222

3. The steps to reproduce this issue:

[code]

I have the above table, with 3 fields (id (int), version (int), data (json)) and a handful virtual generated columns. Table export to SQL includes the generated col

[2019-05-13 12:54] MikeGarde commented on #956
I second this, I am just getting started with TablePlus and have been very impressed but I have 9 db's setup so far (and I have more to go) so easily retrieving a password is needed. But I don't want it to be too easy. Maybe a future release requires the system password (or Touch ID) to retrieve the URL as the KeyChain requires the system password. But thanks for a great product.

[2019-05-13 12:55] huyphams commented on #956
it's already implemented @MikeGarde please turn on the safe mode (the highest level) and you can turn on the touch ID in the preference to unlock it.
<img width="940" alt="Screen Shot 2019-05-13 at 7 55 27 PM" src="https://user-images.githubusercontent.com/3654622/57623020-126c5580-75b9-11e9-8cac-1a2eac923f24.png">

[2019-05-14 06:19] arliber opened #1177 "Wrong auto-generated delete query"
Driver: MySQL v.5.7.22

TablePlus version: 2.3 (222)

Steps:

I ran the following query on my data:

`select * from call_analysis ca
inner join `call` c on c.id=ca.call_id
where ca.`version`=9 and c.patient_id=497`

I got back 5 results with the following columns:
`id`, `call_id`, `version`, `source`, `user_id`, `ca_status`, `lta_status`, `lta_score`, `lta_score_exaplanation`, `lta_analyzed_calls`

[2019-05-14 11:57] huyphams commented on #997
I fixed it @MightyPixel thank you 👍

[2019-05-14 14:34] drewroberts commented on #582
I also would enjoy having this feature.

[2019-05-14 16:32] cesarmtz93 opened #1178 "Uppercase keywords"
Just like SequelPro I would be nice that to uppercase the keyword on space not only in autocomplete like is currently

![improvement](https://user-images.githubusercontent.com/9651197/57715188-bd255800-763b-11e9-8b7c-3858c6198bd1.gif)

[2019-05-14 16:34] huyphams commented on #1178
I will consider it, the reason I keep it as it's because there are tables which have the same name with reserved keywords and some drivers (PostgreSQL for example) it will be a different name (case sensitive).

[2019-05-14 22:57] cesarmtz93 commented on #1178
oh okay, yeah it would be nice, also it would be nice if that the functions & routines (mysql) would have their own section, currently both are under functions

[2019-05-15 03:06] parhampb opened #1179 "Backup -> Restore Between Connections"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MariaDB 10.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 222

It would be nice to have import to db from another db. So something like you select a db, select export, then in the export window, you can select another connection -> db. Then the export/import happens auto

[2019-05-15 07:58] necmettin opened #1180 "ability to set/customize row detail sidebar font"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
v2.3, build 222

3. The steps to reproduce this issue:
Just open the row details sidebar in any table view. I want to be able to customize row detail sidebar's font. This is not a bug, but a feature request.

[2019-05-15 08:00] huyphams commented on #1180
Thanks, it should be the same font as table-data.

[2019-05-15 08:05] necmettin opened #1181 "tableview view and edit fonts do not match"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
v2.3, build 222

3. The steps to reproduce this issue:
Double-click any cell when in table view.

You can see in the screenshot that I'm using Operator Mono font, but when I double-click a cell, it opens with a completely

[2019-05-15 18:31] cmorbitzer opened #1182 "Cannot restore MySQL with multiple spaces in path"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 222

3. The steps to reproduce this issue: Try to restore a SQL dump that is located at a path with multiple spaces.

<img width="509" alt="image" src="https://user-images.githubusercontent.com/5883755/57799828-8f144680-77

[2019-05-15 21:31] alexmarmon opened #1183 "MongoDB Update String ID"
1. Which driver are you using and version of it: **Mongo 4.0.2**

2. Which TablePlus build number are you using: **227**

3. The steps to reproduce this issue: Attempt to update a document that has a String ID

Noted: If the bug is related to data, please attach an example SQL data.

Example query:
[code]

Error:
[code]

[2019-05-16 01:49] huyphams commented on #1182
Hey @cmorbitzer I've fixed that bug recently on the beta build, which can be downloaded here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

Let me know if you're still seeing it then I will reopen the issue. Thank you for the feedback.

[2019-05-16 01:49] #1182 closed

[2019-05-16 13:37] lcjury opened #1184 "Allow search by schemas in cmd + P"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
2. Which TablePlus build number are you using: v 2.3 (222)

3. The steps to reproduce this issue:
I have some kind of multi-tenancy on my develop machine, and when I search a table using cmd + P the tables from all the schemas are listed

![image](https://user-images.githubusercontent.com/1194606/57857874-00a7cf80-77be-11e9-857

[2019-05-16 13:39] huyphams commented on #1184
Thank you @lcjury for the insight

[2019-05-16 13:53] lcjury commented on #1184
Thanks to you guys, tableplus is awesome :)

[2019-05-16 15:21] huyphams commented on #1180
Hey @necmettin it's fixed now: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
It will be released in the next update.

[2019-05-16 15:21] #1180 closed

[2019-05-16 16:17] gauvins2 opened #1185 "progression feedback on filters"
[MySQL]

Applying filter doesn't trigger progress indicator (such as wait at the bottom left on query execution). It is easy to get locked if an onerous filter is applied to a large table. Feedback + cancel would greatly improve the experience.

[2019-05-16 21:28] theklr opened #1186 "Cannot open in mac os 10.14.5(18F132)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): N/A

3. The steps to reproduce this issue:
Upgrade to the macos update that fixes the intel issue
tablelus goes into a crashing cycle, never opening.

Noted: If the bug is related to data, please attach an example SQL data.

[2019-05-17 00:31] huyphams commented on #1186
Hi @theklr could you please try this build and let me know the result?
https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-05-17 03:39] Wu555 commented on #713
<img width="1026" alt="WX20190517-113826@2x" src="https://user-images.githubusercontent.com/15189933/57901611-75e7d300-7898-11e9-9fef-dc7855f2ad2b.png">

[2019-05-17 04:57] xbogdan opened #1187 "Rename favorite is case insensitive"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 2.3 (222)

3. The steps to reproduce this issue:
1. Create a favorite query, let's name it "Tableplus"
2. Try to rename it to "TablePlus" (notice the capital P). It won't work, it will say that there is alread

[2019-05-17 05:14] huyphams commented on #1187
Hi, thank you for the feedback, please rename to a temporary name and then rename it to your new name as a workaround, I will fix it in the next update.

[2019-05-17 13:47] lexilya opened #1188 "It tries to update a row if you refresh when selecting the column during inserts"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8.0.12

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

2.3 (227)

3. The steps to reproduce this issue:

I'll explain it a little bit more. If you select a column's value (e.g. to copy it), and then refresh the table (cmd + R) without deselecting the value, it tries to ch

[2019-05-17 14:50] theklr commented on #1186
Still the same issue, here's the details
`Process:               TablePlus [44606]
Path:                  /Volumes/*/TablePlus.app/Contents/MacOS/TablePlus
Identifier:            com.tinyapp.TablePlus
Version:               2.3 (227)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           TablePlus [44606]
User ID:               71326292

Date/Time:

[2019-05-17 15:10] huyphams commented on #1186
The crash seems unrelated to TablePlus:
`Assertion failed: ((*(long*)&island->instructions[0]) == kIslandTemplate[0]), function freeBranchIsland, file /Users/jenkins/build/workspace/Auto-AgentMac-7.5.1-hotfix/sasource/dgagent/agent/macosx/userspace/hooking/mach_override.c, line 465.`

Have you tried to restart the macOS or turn off the Auto-AgentMac?

[2019-05-17 15:27] theklr commented on #1186
Unfortunately cannot, company computer updated policies again😤
Thanks for the help

[2019-05-17 17:37] alexmarmon commented on #1183
@huyphams Do you guys allow any contributions? Happy to try and put a PR together

[2019-05-18 03:01] huyphams commented on #1183
Thank you @alexmarmon I fixed it on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it 👍

[2019-05-18 03:01] #1183 closed

[2019-05-18 20:55] georgexsh commented on #1170
no, not right, `PRIMARY` should come at the first row, now it is on the last because it is in upper case.

[2019-05-18 21:00] georgexsh opened #1189 "`shift`+`tab` eat characters"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
222

3. The steps to reproduce this issue:

config as tab width 4, ident with spaces

[code]
after `shift`+`tab`:
[code]

[2019-05-19 08:11] huyphams commented on #1189
I fixed it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thanks @georgexsh

[2019-05-20 02:49] huyphams commented on #1189
I released the build 226 (official) which includes this fix. The Setapp version is on its way.

[2019-05-20 02:49] #1189 closed

[2019-05-20 02:49] huyphams commented on #1154
I released the build 226 which includes this fix, thank you for the feedback.

[2019-05-20 02:49] #1154 closed

[2019-05-20 08:51] ansarizafar commented on #1056
Any update from core team on linux distribution?

[2019-05-20 10:01] huyphams commented on #1056
Not much, but it's not the final.
<img width="1336" alt="Screen Shot 2019-05-20 at 17 00 20" src="https://user-images.githubusercontent.com/3654622/58013451-d426e700-7b20-11e9-8f1e-f56205ae7c46.png">

[2019-05-20 11:05] envygeeks opened #1190 "Please stop doing popups for updates."
I understand the need to inform me of an update, and I'm happy to get notifications about updates, but when I'm doing work, and you decide to popup and tell me about an update, or I leave the window to go do somethign and then come back and there is a popup and immediately disrupts me... I eventually get annoyed, and stop using the product.

Can we please get something more out of the way like the

[2019-05-20 11:07] huyphams commented on #1190
Hey @envygeeks thanks for the feedback. I see Telegram handles it pretty well. I will bring it into TablePlus. Sorry for the annoying!

[2019-05-20 11:20] georgexsh commented on #1141
thanks, now that metadata is viewable.
hope they could be select from a drop-down list in the future.

[2019-05-20 11:20] #1141 closed

[2019-05-20 11:29] georgexsh commented on #327
@huyphams it is still (build 226) impossible to customize tab switching to use `ctrl+tab`.

[2019-05-20 11:35] georgexsh opened #1191 "beautify improvement"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
226

3. The steps to reproduce this issue:

with sql:
[code]
beautify:
[code]
better result:
[code]
the difference is right parathesis should break into a new line.

[2019-05-20 11:40] georgexsh commented on #1191
another bad case:
[code]
better:
[code]

[2019-05-20 11:46] georgexsh opened #1192 "improve `cmd+p`"
support `ctrl+p`/`ctrl+n` to navigate up and down through the list.
besides, I want an "always open in new tab" option, maybe `ctrl+o`? :P

[2019-05-20 11:50] georgexsh opened #1193 "unindent with `shift+tab` anywhere in a line"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
226

3. The steps to reproduce this issue:

now, `shift+tab` only works if something in a line is selected, at least it could unindent if the cursor is at the first no space column of a line. if it works at any column is eve

[2019-05-20 12:19] georgexsh commented on #316
@huyphams is there any update on this issue?

[2019-05-20 15:47] notasgoodasyou opened #1194 "Can't connect to vagrant server after update"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4 (build 228)

3. The steps to reproduce this issue:
All was working prior to the past two updates. This was connecting "Over SSH" which worked before and now it does not. I'm able to connect to the box using terminal or

[2019-05-20 15:50] huyphams commented on #1194
Thank you @notasgoodasyou for the feedback, I will come back to this thread with a debug build shortly.
Meanwhile, you can rollback to the older build here: https://tableplus.com/blog/2017/02/changelogs.html
I apologize for any inconvenience

[2019-05-20 16:12] huyphams commented on #1194
Hi @notasgoodasyou here is the debug build: https://www.dropbox.com/s/qdijo59365vsl97/TablePlus-Debug.dmg?dl=0
If you have a chance, please follows this guide: https://tableplus.com/blog/2018/10/failed-to-connect-via-ssh-tableplus.html
 and send me the log, I appreciate your help.
My email is nick@tableplus.com

[2019-05-20 16:39] notasgoodasyou commented on #1194
I sent the log to your email.

[2019-05-20 17:50] huyphams commented on #1194
Sorted via email, the actual issue is TablePlus didn't respect the user input, end up using the wrong port (which was configured in ssh-config).

[2019-05-20 17:50] #1194 closed

[2019-05-20 18:32] boxtreeclinic opened #1195 "Connection to AWS DB no longer working"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL database (8.0.15)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
228

3. The steps to reproduce this issue:
Connection to AWS database using username, endpoint, and password is no longer working. Database is correctly set to public mode and these paramaters should work.

N

[2019-05-20 19:33] bpartridge opened #1196 "Feature Request: allow replacement of newlines within values for CSV exports"
Currently, when exporting a table to CSV where certain values contain newlines, the resulting CSV can be very difficult to open in other tools; for instance, Excel will interpret newlines as the start of a new row.

Other tools such as Postico allow you to export to CSV with an "allow line breaks" option - if unset, it replaces '\n' within values with ' '.

<img width="840" alt="Screenshot 2019-05

[2019-05-20 20:32] EugeneFoo opened #1197 "MSSQL unable to assign declare variable using select statement after upgrade"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Azure SQL.

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Latest Version 2.4 (228)

3. The steps to reproduce this issue:

Run the following query in Azure SQL connection:

DECLARE @username nvarchar(255) = '';

SELECT @xxx = username
from users
where userid = 1;

*In previous v

[2019-05-20 22:03] alexmarmon opened #1198 "[Question] Mongodb query docs"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mongodb

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
229

3. The steps to reproduce this issue: N/A

Noted: If the bug is related to data, please attach an example SQL data.

Is there any documentation for using the SQL field for mongo? I was guessing I'd be able to query data

[2019-05-21 00:38] huyphams commented on #1195
Hi @boxtreeclinic  If you have a chance, please follows this guide: https://tableplus.com/blog/2018/10/failed-to-connect-via-ssh-tableplus.html
and send me the log, I appreciate your help.
My email is nick@tableplus.com

[2019-05-21 01:14] huyphams commented on #1197
I'm not sure about the example, I've tested with the build 222 (which is the previous release) and it produced the same error. but when I quoted it into a begin end
[code]
It works

[2019-05-21 01:22] huyphams commented on #1196
Thank you for the idea, let me add it.

[2019-05-21 05:32] huyphams commented on #1198
No, this is the right place for report bug/suggest feature. And yes, bringing mongo shell to TablePlus is already in our plan.

[2019-05-21 06:42] EugeneFoo commented on #1197
@huyphams thanks for that, i think is this BEGIN END problem.

[2019-05-21 06:42] #1197 closed

[2019-05-21 07:08] volkanozyildirim opened #1199 "View structure parenthesis"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7.12
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):227

3. The steps to reproduce this issue:
- Create  a view with multiple joins and save.
- Return to structure view
- You will see many parenthesis that you didn't write

Noted: If the bug is related to data, please atta

[2019-05-21 07:13] volkanozyildirim commented on #1025
@huyphams Same problem with views + plugin doesn't work on views

[2019-05-21 07:28] huyphams commented on #1199
Hi @volkanozyildirim that is the view definition which is returned by MySQL.
SHOW CREATE TABLE `your_database`.`your_view_name`;

[2019-05-21 07:57] volkanozyildirim commented on #1199
Problem is i didn't write sql with parenthesis and this only happen when i edit or create view structure in TablePlus

[2019-05-21 08:13] volkanozyildirim commented on #1199
Here is a screen record https://ufile.io/bhnb4li8

[2019-05-21 09:26] huyphams commented on #1199
Thank @volkanozyildirim for the screencast, but as I mentioned above, that query is generated by MySQL, which is converted from your view create a statement.
TablePlus didn't participate in the process.
The creation syntax which is generated by TablePlus always have this prefix:
<img width="607" alt="Screen Shot 2019-05-21 at 4 25 17 PM" src="https://user-images.githubusercontent.com/3654622/58084

[2019-05-21 14:07] alexmarmon commented on #1198
Awesome, thank you!

[2019-05-21 14:07] #1198 closed

[2019-05-22 07:14] raymccarthy opened #1200 "ORA-24373 on open anywhere in Oracle 12c"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2019-05-22 07:16] raymccarthy commented on #1200
Oracle Drive
TablePlus 2.4(229)

1.  Connect to Oracle 12c database
2.  Press Command+P (Open anywhere)

Results
ORA-24373: invalid length specified for statement

[2019-05-22 09:31] CodeBrauer opened #1201 "Structure: When a second column could not be created, the first column is still not commited."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6.35
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
228
3. The steps to reproduce this issue:

- create a table
- commit changes <kbd>cmd</kbd>+<kbd>s</kbd>
- add 2 columns
  - one named `foobar`
  - one named `date` *to produce an error*
- commit changes
- See an error t

[2019-05-22 14:23] georgexsh commented on #1191
[code]

[2019-05-22 14:24] georgexsh commented on #1191
[code]
better:
[code]
outer `order by` should not be indented.

[2019-05-22 14:31] georgexsh commented on #1191
for all the issues, here is a potato:
[code]

[2019-05-22 14:39] georgexsh opened #1202 "highlight matching parentheses"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
226

3. The steps to reproduce this issue:

this is how parenthese highlight works in sublime:

<img width="198" alt="CleanShot 2019-05-22 at 22 38 29@2x" src="https://user-images.githubusercontent.com/32751/58183703-5874980

[2019-05-22 16:07] dom0do opened #1203 "Comments engage Alert/Safe Mode 2 confirmation"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQL Server DBVERSION_74

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4 (228)

3. The steps to reproduce this issue:
With Alert Mode 2 or Safe Mode 2 engaged, execute a SELECT query that contains a comment (-- or /**/) or a query that is only comment. You will be prompted for

[2019-05-22 18:06] ernstae commented on #1087
I still haven't been able to confirm this as working, but will see if I can come up with a simpler test environment before commenting further.

[2019-05-22 18:46] Murali-Bhogavalli opened #1204 "UI times out query but the query is running on the server"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Version 2.3 (222)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

UI times out for high volume queries. But the query on the server is still running. Please see attachments
<img width="1672" alt="Screen Shot 2019-05-16 at 12 32 05 PM" src=

[2019-05-22 19:27] tb582 commented on #218
did this not happen? Using the latest build with the oracle driver but not able to change the db encoding from DEFAULT

[2019-05-22 20:51] DanHulton opened #1205 "Feature Request: Limit indicator"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgreSQL 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 2.2 (210)

Request description:

I have wasted probably collectively a few hours wondering what phantasm has gotten into my system and caused my inserts to not persist, when in truth the problem was that I had added a

[2019-05-23 02:27] f0ntana opened #1206 "Download Updates"
Maybe we can have some CDNs? or something like that? my download are so slow

[2019-05-23 04:41] huyphams commented on #1196
Hey @bpartridge I've added that feature, please try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
You can keep using it until the next release. It can self-update.

[2019-05-23 04:41] #1196 closed

[2019-05-23 04:41] huyphams commented on #1205
Thanks @DanHulton, and sure, I will add it.

[2019-05-23 04:42] huyphams commented on #1087
Hey @ernstae please try this build with `MariaDB` driver: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
let me know if you're still seeing it.

[2019-05-23 09:25] huyphams commented on #1205
Hi @DanHulton now TablePlus will show `auto limited xxx rows` if you enabled auto limited feature! Let me know your thoughts.
<img width="1399" alt="limit" src="https://user-images.githubusercontent.com/3654622/58241452-39741580-7d77-11e9-9143-820d353f4392.png">

[2019-05-23 10:12] andregoldstein opened #1207 ""Empty JSON string" when trying to import CSV data into Mongo"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MongoDB
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 2.4 (228)

3. The steps to reproduce this issue:
Select a table on the left, import CSV then trigger import. Import gets error "Empty JSON String"

Apologies I cannot paste the csv in question as it has client information on

[2019-05-23 10:54] huyphams commented on #1200
Thanks @raymccarthy I've fixed it.

[2019-05-23 11:52] raymccarthy commented on #1200
Excellent @huyphams!  I will verify in the next build.  I've also noticed some sorting issues in Oracle.  Will pay for a licence before raising any more bugs ;-)

[2019-05-23 11:53] huyphams commented on #1200
Thanks, you can download the hotfix build here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
If you discovered any further bug, don't hesitate to report it.

[2019-05-23 12:00] raymccarthy commented on #1200
Bought the licence:-)

Downloaded the dropbox build but it still showing as 229, and I am getting the same 24373 error.

[2019-05-23 12:01] raymccarthy commented on #1200
@huyphams Sorry, forget the mention

Bought the licence:-)

Downloaded the dropbox build but it still showing as 229, and I am getting the same 24373 error.

[2019-05-23 12:05] huyphams commented on #1200
Oops sorry, I updated the wrong build, here is the correct build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thanks

[2019-05-23 12:29] raymccarthy commented on #1200
@huyphams works, now.  Thanks

[2019-05-23 13:15] xavi-dev opened #1208 "Invalid column name charset"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQL Server 2008

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4 (229)

3. The steps to reproduce this issue:
The dropdown of columns to filter has invalid column name (when the name has latin characters)

The column name is **Nº order**, the dropdown shows **N¬∫ order** and t

[2019-05-23 13:40] DanHulton commented on #1205
Looks great!  Thanks for the quick turnaround on this!

[2019-05-23 14:17] raymccarthy opened #1209 "Oracle 12c commit not working"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
229

3. The steps to reproduce this issue:
Update a record, press CMD+S.  I would expect this to commit the change and release the lock.  The record remains locked until I close TablePlus

[2019-05-23 14:17] huyphams commented on #1209
Thanks, let me check it!

[2019-05-23 14:17] huyphams commented on #1208
Thanks @xavi-dev I will double check it.

[2019-05-23 16:53] huyphams commented on #1208
Thank you so much @xavi-dev I fixed it if you have a chance please try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it!

[2019-05-23 16:53] #1208 closed

[2019-05-23 16:56] huyphams commented on #384
Hi guys, please try out this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0 with `MariaDB` driver, I've rebuilt it with clear password plugin. let me know if you're still seeing it then I will reopen this issue.

[2019-05-23 16:56] #384 closed

[2019-05-23 17:29] lucasltv commented on #652
REDIS TLS PLEASE!!!!!!

[2019-05-23 17:31] #1200 closed

[2019-05-24 06:32] AlessandroLacroce commented on #1202
+1 for this!

[2019-05-24 06:37] huyphams commented on #848
I'm working on it, it will be released in the next update!

[2019-05-24 09:05] #314 closed

[2019-05-24 09:05] #705 closed

[2019-05-24 09:07] #830 closed

[2019-05-24 09:07] shanke commented on #737
Does it work now?

[2019-05-24 09:08] huyphams commented on #737
Please try the build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0 with MariaDB, I've added clear password plugin (it's used on the very old MySQL Client) let me know if it works for you!

[2019-05-24 09:09] huyphams commented on #737
ahh sorry, I was wrong.

[2019-05-24 09:12] huyphams commented on #220
It's added for MySQL, the Oracle should be the other issue! thanks all.

[2019-05-24 09:12] #220 closed

[2019-05-24 09:14] huyphams commented on #369
I've added the keyboard preferences, please create a separated issue to request new keybinding.
Thanks all.

[2019-05-24 09:14] #369 closed

[2019-05-24 10:59] xavi-dev commented on #1208
It's working fine now. Thanks!

[2019-05-24 12:27] huyphams commented on #848
<img width="772" alt="Screen Shot 2019-05-24 at 7 26 34 PM" src="https://user-images.githubusercontent.com/3654622/58327466-e3c46980-7e59-11e9-85fc-87019f3855c8.png">

[2019-05-24 12:41] huyphams commented on #677
It's supported in some recent updates.

[2019-05-24 12:41] #677 closed

[2019-05-24 12:42] #647 closed

[2019-05-24 21:37] adamtaylor13 commented on #355
Any chance I'm missing an options to automatically have everything expanded? It's rarely the case I want to selectively open certain objects/arrays.

[2019-05-25 11:51] necmettin opened #1210 "TablePlus does not remember backup options"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
v2.4 build 228

3. The steps to reproduce this issue:
- Backup a database connection. Set options, for example `--compress`, `--routines`, `--add-drop-table`, `--lock-tables=false`. Or `--compress`, `--routines`.
- After t

[2019-05-27 10:41] muhammadnasr commented on #220
@huyphams can you point me to Oracle issue, I can't find it.

Thanks.

[2019-05-27 11:37] hieuhlc commented on #220
@muhammadnasr i think it's this one #713

[2019-05-28 04:04] cjke opened #1211 "[Feature request] Safe mode enabled via connection settings"
Love TablePlus, and love the Safe mode feature recently added.

Would it be possible to set it on the connection pane? Possibly under the "tag" dropdown?

My thought process:

- Everything else about a connection is stored here (tags, status, production flags), so makes sense to have here. The first few times I used safe mode, I didn't realise it persisted from session to session. From a confidenc

[2019-05-28 08:43] huyphams commented on #629
it's has been fixed on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
TablePlus now shows tab color correctly when the workspace is inactive.

[2019-05-28 08:43] #629 closed

[2019-05-28 08:48] #397 closed

[2019-05-28 09:22] chrschmitz commented on #947
I have not been able to find the option to create a new SQLite database. It seems to be well hidden. Can you give me a hint?

[2019-05-28 09:27] huyphams commented on #947
You can do it by 2 ways:
1. Using command + K:
<img width="1477" alt="Screen Shot 2019-05-28 at 4 24 54 PM" src="https://user-images.githubusercontent.com/3654622/58467249-7ec48880-8165-11e9-855e-a37a7770018c.png">

2. Create a new connection and select a `folder`:
<img width="612" alt="select" src="https://user-images.githubusercontent.com/3654622/58467268-85eb9680-8165-11e9-8d0f-d7c79eea37ba.png

[2019-05-28 09:55] chrschmitz opened #1212 "[Feature Request] Open SQLite Database Directly From Finder"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 2.4 (229)

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

When opening an SQLite file directly from Finder, the database is only opened directly, when T

[2019-05-28 10:00] huyphams commented on #1212
I just tested on my setup and the `database window` always on the top, (the Welcome screen is still there) but I think I should hide it.

[2019-05-28 10:01] huyphams commented on #947
ops, it's a bug, it will show up on the next time you press command + K

[2019-05-28 10:37] huyphams commented on #1212
Hi, you can try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
TablePlus now will close the Welcome Screen after handling an URL/file.

[2019-05-28 11:29] huyphams commented on #1212
Hey thanks @chrschmitz I updated the build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
I figured out that the root cause is the loading priority during the initialize.

[2019-05-28 11:43] chrschmitz commented on #1212
Unfortunately this does not solve the issue -- at least on my machine. Same problem as before.

[2019-05-28 11:54] huyphams commented on #1212
I uploaded the wrong build 😛 you can download again with the same link above. Thank you, please let me know the result!

[2019-05-28 12:04] chrschmitz commented on #1212
You made it! Thanks a lot!

Cheers,
Chris

[2019-05-28 12:05] #1212 closed

[2019-05-28 12:50] lieroes opened #1213 "PostgreSQL 11.3 tables are not displaying"
PostgreSQL 11.3 / Build 228

Hi, I have two databases based on driver 11.2 and 11.3.
11.2 works well but in 11.3 I can't see any tables in left sidebar but select queries are works.

Thank you!

[2019-05-28 13:09] huyphams commented on #1213
Hey @lieroes thank for the feedback, TablePlus ran this query in order to get the table list, c could you please run it and let me know the result?

[code]

[2019-05-28 13:12] lieroes commented on #1213
Running this query I receive all tables from 4 different schemes. In my sidebar displayed only from scheme "public", how could I change required schema?

[2019-05-28 13:12] huyphams commented on #1213
it's on the bottom left @lieroes

[2019-05-28 13:15] lieroes commented on #1213
Thank you - it's helps :)
TablePlus is awesome! Definitely change all my MySQL databases from SequelPro :)
Have a nice day!

[2019-05-28 13:15] #1213 closed

[2019-05-29 05:13] georgexsh opened #1214 "beautify bug with comments"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

228

3. The steps to reproduce this issue:

[code]
became
[code]
obviously, it is wrong.

[2019-05-29 05:16] georgexsh opened #1215 "beautify bug with `in (1, 2, 3)`"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

228

3. The steps to reproduce this issue:

[code]
became
[code]
space before the left parentheses got removed mistakenly.

[2019-05-29 05:18] georgexsh commented on #1215
am I the most annoying user?

[2019-05-29 05:21] huyphams commented on #1215
I'm no problem with it but there are 32 users who subscribe to this repo, so if you have any question related to the UI/UX please kindly email me at nick@tableplus.com.
If you found a bug, please create a new issue but too many issues can slow me down because I'm having 383 issues now.

[2019-05-29 08:18] Blacate commented on #736
Oracle 11.2.0.3.0
build 229
MacOS mojave

Any progress? I got the same problem.

[2019-05-29 13:47] adamtaylor13 commented on #708
Any update on this? Not accidentally dropping a production table would probably encourage production-ready adoption.

[2019-05-30 16:58] kralcifer opened #1216 "Truncate in Postgres shouldn't show dialog if no identity fields or cascading tables"

[2019-05-30 17:00] kralcifer commented on #1216
I guess it's fine.  mostly I just wanted to not have to do an additional mouse click, but the default enter with keyboard does what I want so it's fine.

[2019-05-30 17:00] #1216 closed

[2019-05-30 17:01] huyphams commented on #1216
I think I can improve it by adding a shortcut key (just like the delete and shift-delete to delete tables.)

[2019-05-30 17:34] huyphams commented on #1216
I just added the shortcut for truncating: Option + Delete. The shortcut for delete item is Command + Delete or simply delete. Download: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
<img width="322" alt="delete" src="https://user-images.githubusercontent.com/3654622/58651336-3e1e6800-833b-11e9-8549-2b84954076b9.png">

[2019-05-30 19:12] ngurney commented on #882
I'd love to see this fixed as well, thanks!

[2019-05-30 22:38] Cristian-Filipov-Bose opened #1217 "[Feature Request] Use custom builds of SQLite"
Is it possible to configure a TablePlus to use a custom SQLite executable rather than the one that comes built-in?

The use case for this is enabling various [extensions](https://www.sqlite.org/vtablist.html), or in my case, make use of a custom extension I wrote. Enabling [SQLITE_DBCONFIG_ENABLE_LOAD_EXTENSION](https://www.sqlite.org/c3ref/c_dbconfig_defensive.html#sqlitedbconfigenableloadextensi

[2019-05-31 06:14] jenstornell opened #1218 "Custom field support - Markdown, image, selectbox etc."
I like this thing but I've search the internet for this, but with custom field support. With that I mean to edit the cells in another way.

- Date/time-picker for date/time fields
- Markdown for large text fields
- Selectbox for predefined options
- Image selector

To make it possible a blueprint of some kind would be needed which tells the app which type should apply to what column.

In the meant

[2019-05-31 06:18] huyphams commented on #1218
Hey @jenstornell because you’re not answer the template issue question, so i don’t know which is the platform/build you’re using. The macOS version supported all those feature a year ago

[2019-05-31 06:26] jenstornell commented on #1218
@huyphams Oh, I missed that important step. I tried 1.0 (70) on Windows. I guess Windows are a a few years behind the Mac version then?

I tried to find any screenshots of how it looks on a Mac on the website, but could not find it. Maybe it's "hidden" in a blog post somewhere? If there is such a feature, I think you would benefit to promote it more?

[2019-05-31 06:31] huyphams commented on #1218
Yep, the Windows version is just released recently, and here is the Windows issue repo:https://github.com/TablePlus/TablePlus-Windows/issues
The macOS supported all those features and also supported JSON Editor, view image, PDF and many more features... We're porting it to the Windows platform. I will close this issue because we're working on it, and also it's not related to the macOS issue repo.

[2019-05-31 06:33] #1218 closed

[2019-05-31 09:12] benjoz commented on #652
Any updates ? 😫😫😫

[2019-05-31 09:13] huyphams commented on #652
Let me try again

[2019-05-31 14:56] huyphams commented on #652
Hi guys, TablePlus now supports ElasticCache (Redis with TLS), please download this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-05-31 14:56] #652 closed

[2019-05-31 19:08] doubleforte opened #1219 "Emoji are changed to ????"
I'm using Maria DB (10.1.40-MariaDB) as my driver.
TablePlus 2.4 (228). Trial version.
macOS 10.14.5.

My TEXT column has character_set as utf8mb4 and collation as utf8mb4_unicode_ci.

If I use an emoji and commit, it changes the emoji to "????". If I do the same process in other editors (SequelPro, Querious, or even via php) it works as expected and my emoji doesn't get mangled. Until I edit it i

[2019-05-31 19:24] natsumi opened #1220 "Feature Request: Option to always pretty json fields"
It would be nice if there was an option to always have json fields be pretty or at least remember your selection.

[2019-06-01 00:53] huyphams commented on #1219
Hi, please choose the correct view encoding.
<img width="612" alt="Screen Shot 2019-06-01 at 7 52 40 AM" src="https://user-images.githubusercontent.com/3654622/58741375-3eedf180-8442-11e9-8ad4-9b037ba832ac.png">

[2019-06-01 21:48] soleares opened #1221 "Connect over SSH with key and username/password"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.X
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
228
3. The steps to reproduce this issue:
	- Create connect with "Over SSH"
	- Fill in username/password and select key

	Expected: Connects successfully
	Actual: Doesn't connect and shows the following error in the logs (u

[2019-06-02 01:46] huyphams commented on #1221
TablePlus does respect the username input when using the SSH private key. Could you double check the ~/.ssh/config and make sure it doesn't override the input?

[2019-06-02 11:34] vesper8 commented on #1220
yes please add this

also, displaying the json as "pretty" should not alter the row content like it currently does. It should display it pretty only but not add whitespaces and cause the row to think the content has been modified like it currently does

[2019-06-03 05:57] MarcoFaul commented on #829
That would be awesome

[2019-06-03 10:51] benjoz commented on #652
@huyphams it works ! connection is done !
Only things is it looks you don't support yet the "cluster" mode  in order to follow -ASK and -MOVED redirections ? Or maybe I forgot something ?

redis-cli -c
 -c                 Enable cluster mode (follow -ASK and -MOVED redirections).
https://helpmanual.io/help/redis-cli/

<img width="693" alt="Screenshot 2019-06-03 at 12 48 07" src="https://user-image

[2019-06-03 15:48] Numline1 commented on #1220
That'd be cool, +1 on this :)

[2019-06-03 20:03] jaslo commented on #619
Has this fix been incorporated into the release? I'm running 2.2 and I am seeing this postgres 9.6 (RDS) without SSH connection.  The connection seems to be unusable after killing a query.

[2019-06-04 16:06] techon opened #1222 "Stored Procedures in MSSQL."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 74

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Mac v2.4 (228)

3. The steps to reproduce this issue:
Open connection. Tables and views show up in list, but where are the Stored Procedures?

Noted: If the bug is related to data, please attach an example SQ

[2019-06-04 16:12] idris opened #1223 "Add a way to disable "Run All" hotkey"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
N/A

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 228

3. The steps to reproduce this issue:
I generally have a loooong sheet of queries, basically queries that I just keep around and use often, or ones I have used in the past and didn't delete.  Sometimes when running a

[2019-06-04 16:14] idris commented on #1203
Yup, this is very annoying.  Also, I think `EXPLAIN` queries in Postgres should not cause the alert.

[2019-06-04 17:01] Gompje commented on #1219
Hi @huyphams, run into this issue as well. Had to move a database to another server and the emoij were gone. I managed to work around the issue with these steps
1. open connection window like you said, make sure the utf8mb4 is set
1. check if the emoij are displayed correctly
1. select all tables
1. hit export
1. select sql, select all except gzip
1. go to other database + server
1. make sure the

[2019-06-04 17:06] huyphams commented on #1219
Hi @Gompje thank you for the details, TablePlus does append the encoding in the dump file. Have you tried to use the backup/restore feature instead of export/import dump? I will look into the export/import feature tomorrow (it's late now) to figure it the issue.
<img width="365" alt="Screen Shot 2019-06-05 at 12 06 10 AM" src="https://user-images.githubusercontent.com/3654622/58898866-bdd67900-872

[2019-06-04 17:52] Gompje commented on #1219
Yes I did, but then I had either ??, white spaces or raw codes (not sure when each happend, tried many combos) but never got emoij -- or it must have been something I didn't try ;)

Thanks for looking into it. I managed to use my work around for now, but I still have to move a bunch of databases, it would be nice to reduce the steps/hassle/confusion.

[2019-06-04 17:59] huyphams commented on #1219
I just released that I didn't add the MySQL 8.0 for backup and restore (MySQL 8 supports utf8mb4). Now, I added it on this build:  https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
You can backup/restore with full support emoji.

[2019-06-04 18:06] Gompje commented on #1219
I was exporting from mysql 5.7 to mariadb 10.x. Normally they both support utf8mb4, no?

[2019-06-04 18:15] huyphams commented on #1219
I'm not sure, I have a MySQL 5.7 but I can't use the emoji. Btw, I will take a look into the import/export tmr

[2019-06-04 18:17] Gompje commented on #1219
Well I've tested this new build with a quick export of the now new mariadb, to a local docker (also mariadb) with the dump feature. When I choose mysql 8, it doesn't work at all (kinda obvious since its mariadb but welll testing is testing ;) ) And when choosing mysql 5.7 I'm getting the same results as before, when I used the backup option.

I have no mysql 8 instances running, the other ones are

[2019-06-04 18:59] Gompje commented on #1219
I think it was introduced in 5.4? Or was it 5.6? Definably somewhere around 2015; I remember that clearly. Was kinda 🥳 I could add emoji support to my app. Emoji was a  huge must back then, now it’s just expected.
On 4 Jun 2019, 20:15 +0200, Huy Pham <notifications@github.com>, wrote:

[2019-06-05 01:38] moxplod opened #1224 "Windows version redis does a key scan"
Redis driver windows build 70

When I do a filter of key = abc

The tool performs a scan, instead of a get. Key scans can be VERY costly in production as redis is single threaded it holds up all operations till it's done. We triggered several timeouts for our apps in production due to this.

This is a really bad issue.

[2019-06-05 02:40] soleares commented on #1221
I confirmed the same behavior using a working ~/.ssh/config and leaving username/password blank and key unset in the UI as the SSH docs/issues specify.

I'm pretty sure the error message is just a fallback message after it failed authentication. I think the issue is that TablePlus doesn't send the SSH password if the SSH key is specified (IdentityFile in ~/.ssh/config).

The server is configured t

[2019-06-05 02:56] soleares commented on #783
This issue bit me yesterday and actually lead to a production slowdown. This was my fault of course for using a new tool that I didn't fully understand. But I assumed that when I cancelled a long running SQL query it would actually cancel it like it does in Sequel Pro.

Steps to reproduce:
- Run not properly indexed query.
- Hit cancel after ~30 secs.
- UI shows it's in progress cancelling.
- Wait

[2019-06-05 02:58] huyphams commented on #783
We're working on this issue, TablePlus canceling query will be resolved in the future releases (soon)
Concentp:
1. Press cancel => show the process list.
2. Choose the running query => kill.

[2019-06-05 07:28] haric655 commented on #864
@varyform Do you solved problem?

[2019-06-05 07:47] dexter0201 commented on #1056
Subscribed. Waiting for Linux version

[2019-06-06 05:38] huyphams commented on #619
TablePlus now can kill unresponsive query on both PostgreSQL and redshift
Download: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if anyone encounters any problems.

[2019-06-06 05:38] #619 closed

[2019-06-06 05:38] huyphams commented on #783
TablePlus now can kill unresponsive query on MySQL
Download: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if anyone encounters any problems.

[2019-06-06 05:38] #783 closed

[2019-06-06 07:31] manseuk commented on #783
I have downloaded the update - thanks

I can confirm it works, however im not sure the way it works is the best - im given a popup with a list of running tasks that i can kill .... what happens if i click the wrong one ? the server i connect to has multiple queries running constantly - this is an accident waiting to happen. Is there no way to kill the actual query sent ?

[2019-06-06 07:33] huyphams commented on #783
TablePlus respect the safe mode, if you set the safe mode level is warning or prompt for the password, it will show you an alert before killing the query.
I'm working on an enhancement that TablePlus also will prompt you if you kill a query which is not sent by TablePlus.

[2019-06-06 07:34] manseuk commented on #783
OK thanks - i will update the safe mode and retry. Thanks for the update - its going to mean i can finally kill off MySQL Workbench

[2019-06-06 07:46] ruudk commented on #783
Can you publish this to Github next time? I'm quite surprised people will just take a binary from Dropbox and install it on their machine to connect to their database 😱

[2019-06-06 07:46] ruudk commented on #783
Kudos for fixing this btw 👏

[2019-06-06 10:45] NickThompson1993 commented on #1195
When I've had issues connecting to RDS (it's currently working on the same build as you for me) in the past it's always been one of 3 things:

1. Security group permissions on AWS not set to allowing the IP you're working from.

2. A typo in the endpoint, username, or password

3. Having the "connect via SSH" checkbox ticked, or an ssh config host setup that it overriding the username/password for

[2019-06-06 11:01] huyphams commented on #874
The beta is now released: https://testflight.apple.com/join/vGBHpbO3
I will close this thread, new issue tracker for iOS: https://github.com/TablePlus/TablePlus-iOS/issues

[2019-06-06 11:01] #874 closed

[2019-06-06 11:03] boxtreeclinic commented on #1195
Thanks Nick - I solved it by pasting the password into a text file and then
into the password field. Some carriage returns had to be stripped out of
the pasted password.

I need some help in identifying the size of entries in one of the tables in
the database. It increases in size for now a parent reason until the
database is full. Optimisation of the database solves this but I would like
to ident

[2019-06-06 16:31] shirshak55 commented on #853
it seems tp devs are too busy so i am closing this off. If they need help i can do it though :) :)

[2019-06-06 16:32] #853 closed

[2019-06-07 03:15] jdeb9 opened #1225 "Double clicking table tab should sticky it"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgresSQL 11.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 228

3. The steps to reproduce this issue:
    1. 'Open Anything' (Ctrl/Cmd + P)
    2. Type table name
    3. Press Enter
    4. Now viewing table, name remains italicised in tab (unstickied)

The problem: us

[2019-06-07 03:18] huyphams commented on #1225
Thanks @jdeb9 for the feedback, you can workaround with these steps:

1. Type a table name and open it.
2. If you want to change the table list, please type the schema name.
3. If you want to open a table in a new tab, please press command + T before doing the open anything.

I will find a way to add a feature that you can pin a table in open anything right after opening it.

[2019-06-07 03:34] jdeb9 commented on #1225
Thanks for the response @huyphams, looking forward to it!

[2019-06-07 07:01] henrikbjorn commented on #586
Not sure if this is the same feature request.

At work we have a jump server. So I have a bunch of Host aliases in `~/.ssh/config` with `ProxyJump` set. TablePlus does not respect that `ProxyJump` and seems to not see the aliases.

[2019-06-07 08:26] huyphams commented on #1219
I'm back, I read the sequel pro code, nothing special except this.
<img width="914" alt="export" src="https://user-images.githubusercontent.com/3654622/59090883-3ad93c80-8938-11e9-9e78-d2880b704132.png">
But TablePlus does the same thing, it will write the view encoding (which is selected by the menu above) into the export file.

`this confused me a bit, but you have to select utf8 as encoding (th

[2019-06-07 19:27] ssx commented on #193
what's the status of this? if I symlink via Dropbox is the sync reliable? will it sync everything?

[2019-06-08 18:25] tryk commented on #1066
"ALLOW FILTERING" checkbox would be very nice to see in Filters tab

[2019-06-09 12:39] huyphams commented on #183
This feature will be added in the next release.

[2019-06-09 15:48] damiantoczek commented on #1056
Subscribed, waiting for the linux version :)

[2019-06-09 20:36] jaimetobar commented on #1023
I agree with this request - I end up copying the view structure into the SQL editor, do what I want and then copying/paste back.

[2019-06-09 23:14] Fishy49 commented on #1223
It would be nice to be able to re-map _any_ hotkeys in the application I think.

[2019-06-10 02:35] anishpateluk commented on #935
Would it be possible to allow tableplus to use a full regex so we can use search to exclude tables ending with a number such as this `.*(?<!\d+)$`?

[2019-06-10 08:28] raymccarthy opened #1226 "Oracle 12c - column sorting not working"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4 (231)

3. The steps to reproduce this issue:
Open a table using cmd+P and show all rows (19 in my case).  Click on the column header to sort.  Nothing happens.

Noted: If the bug is related to data, please attach an examp

[2019-06-10 09:03] raymccarthy opened #1227 "Oracle 12c cancel running query no longer works"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle 12c

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4(231)

3. The steps to reproduce this issue:
Previously cmd+. killed the currently running query.  Now pressing this option brings up a process list, but the list does not get populated in Oracle12 c, so it is no longe

[2019-06-10 09:05] huyphams commented on #1227
Hey, @raymccarthy thank you for the feedback. As a temporary solution, you can rollback to the previous build here: https://s3.amazonaws.com/tableplus-osx-builds/230/TablePlus.dmg
I'm sorry for the inconvenience

[2019-06-10 13:56] CyrilMazur commented on #592
I am still experiencing this behaviour in 228.

[2019-06-10 19:58] nerdo commented on #1056
Awesome sauce. Waiting patiently as well...

[2019-06-11 13:09] jrz commented on #544
Yeah, +1 for me.. Would be great to have an excel export where every selected table is a sheet. Preferrably with quickfilters already set up, and the proper datatype for each cell/column.

[2019-06-11 13:34] phaizt opened #1228 "Bug after create new database (maria db)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Maria DB 10.3.14

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4(228)

3. The steps to reproduce this issue:

- on current connection press cmd+K then click new database (+ button)
- import from sql dump
- insert/update your data from your app (i use PHP)
- refresh, and your

[2019-06-11 13:49] huyphams commented on #1228
Have you tried to press command + R @phaizt?

[2019-06-11 13:58] phaizt commented on #1228
Yes, i have tried press command + R and also hit refresh button.

[2019-06-11 14:00] huyphams commented on #1228
I think the connection was disconnected, in this case, you can press command + shift + R to reconnect, no need to close the app. Btw, I can't reproduce the issue, but will keep an eye on it.

[2019-06-11 15:53] devtimi opened #1229 "Welcome screen opens at the incorrect size"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
N/A

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 228

3. The steps to reproduce this issue:
Open any database, resize / reposition it.
Quit TablePlus
The welcome screen will open the size/position of the database view.

This is not how the welcome screen operates if you

[2019-06-11 19:13] raiskila opened #1230 "Security: TablePlus does not validate SSH host key"
### Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81)?
Build 228

### Which driver are you using and version of it (Ex: PostgreSQL 10.0)?
Not relevant, SSH issue

### Steps to reproduce this issue

1. Configure a DB connection using the "Over SSH" setting. Set passwords to "Ask every time".
2. Connect successfully.
3. Replace the SSH server instance in the

[2019-06-11 23:58] coud opened #1231 "Can't change column charset. Always reverted to default"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7.20

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 2.4 (228)

3. The steps to reproduce this issue:

My database default charset is utf8 - utf8_unicode_ci. My connection is utf8mb4
Column is added through the interface without setting the charset. It is automatically se

[2019-06-12 00:11] huyphams commented on #1230
HI @raiskila we already supported it on the beta release: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
it will be released in the next update.

[2019-06-12 04:14] takmongwai opened #1232 "Support SSH ProxyCommand"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 228

3. The steps to reproduce this issue:

* Create a new connection....
* Over SSH:
  * server: xxxx ,port: 20022

[2019-06-12 16:21] zongzhiliu opened #1233 "the column order of view is not kept after exported into csv"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
redshift
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 228
3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2019-06-12 16:57] benvwin opened #1234 "Oracle not loading European/Special Characters"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle 12.1.0.2.0
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 2.4(231)

3. The steps to reproduce this issue:
When using oracle database to select a column with European or special characters they don't show up at all. Please see the first image for TablePlus vs the SQ

[2019-06-12 16:57] benvwin commented on #1234
the ä isn't displaying in this example. There are a few others as well. Please let me know if you need more examples. Thank you!

[2019-06-12 19:11] tarasyyyk commented on #425
This whole-database search also implemented in MySQL Workbench. It's open source, so you can look at realization of this search.
It will be awesome having this feature in TablePlus!

[2019-06-12 20:15] raiskila commented on #1230
Hi,

When I try to connect to an SSH server using the beta version you linked, I get this error on first connection after starting the app:

<img width="531" alt="Screen Shot 2019-06-12 at 11 11 19 PM" src="https://user-images.githubusercontent.com/351598/59382939-9572fe00-8d67-11e9-9636-d68c2f09723f.png">

After clicking "Edit connection" and clicking "Connect", it connects. I can't really verify

[2019-06-12 22:22] kouponmedia opened #1235 "[Feature Request] - Dynamo DB Support"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
AWS Dynamo DB any version

Similar to the Mongo DB support, but for Dynamo.

**Basic Abilities to do the following:**

- List tables for account by region.
- View table details
- Query, Scan, Put, Delete items.

[2019-06-13 01:15] huyphams commented on #1231
We just added it recently and TablePlus only allow users to view charset. We will support changing charset in future releases.

[2019-06-13 01:17] huyphams commented on #1232
Do you have any config file at /etc/ssh/ssh_config and ~/.ssh/config which override the host?

[2019-06-13 01:24] weidewang commented on #1232
hi,

Yes, I hava ~/.ssh/config ,and the ssh host connect via other ssh tunnel
-----------------------------------------------------
Host tunnel
    HostName <tunnel...ip>
    Port 6000
    User tunnel-user
   IdentityFile ~/.ssh/tunnel-priv-key.pem

Host xxx
  HostName <xxx.ip>
  Port 20022
  User ssh-user
  IdentityFile ~/.ssh/xxxxxxx.pem
  ProxyCommand  ssh tunnel -W %h:%p
----------------------

[2019-06-13 01:25] huyphams commented on #1232
Currently, TablePlus doesn't support ProxyCommand so I think that why you can't connect to the server.

[2019-06-13 01:27] coud commented on #1231
I think the alter command right now is a bug because it uses CHANGE always even though I did not rename the column so what happens is when I made a charset change through sql and try to change for example the NOT NULL OR NULL of a column then my manual change of charset is lost. You should consider using MODIFY when the column name does not change.

[2019-06-13 01:28] weidewang commented on #1232
Ok, understand.
This feature is worth looking forward to.
thank you very much

[2019-06-13 01:29] huyphams commented on #1230
Hi @raiskila maybe the server has been rewritten. To make sure it will invalid, please rename the knows_hosts file: ~/.ssh/known_hosts to a temporary file and try again

[2019-06-13 07:35] huyphams commented on #1233
I've fixed it, you can download the hotfix build here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it.

[2019-06-13 07:35] #1233 closed

[2019-06-13 14:39] srchulo opened #1236 "Malformed packet error when connecting"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql  Ver 14.12 Distrib 5.0.77, for redhat-linux-gnu (x86_64) using readline 5.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 228

3. The steps to reproduce this issue:
a. Put in 127.0.0.1 for  host
b. Enter user and password for DB
c. Connect over SSH
d. Enter username
e. Us

[2019-06-13 14:39] srchulo commented on #1236
Also, FYI the same info works using Sequel Pro.

[2019-06-13 14:40] huyphams commented on #1236
Which driver are you using @srchulo MySQL 8x or MySQL 5x?

[2019-06-13 14:41] huyphams commented on #1236
Sequel Pro is using `the very very old MySQL client lib` and the `Get a malformed packet error.` is the compatible error message.

[2019-06-13 14:54] srchulo commented on #1236
@huyphams Do you mean the driver on my mac? If so, do you know how I can find it?

[2019-06-13 14:55] huyphams commented on #1236
No, the driver in the connection form, here is it.
<img width="483" alt="Screen Shot 2019-06-13 at 9 55 08 PM" src="https://user-images.githubusercontent.com/3654622/59443301-eea16700-8e25-11e9-9088-1b5a0274f374.png">

[2019-06-13 15:37] srchulo commented on #1236
I am using MySQL 5.x. When I use 8.x, I get this error:

[2019-06-13 15:38] huyphams commented on #1236
Thanks @srchulo for the confirmation, is it possible to disable the SSL mode and try again?
<img width="262" alt="Screen Shot 2019-06-13 at 10 38 25 PM" src="https://user-images.githubusercontent.com/3654622/59446600-04198f80-8e2c-11e9-80fb-920b15d22f64.png">

[2019-06-13 15:41] srchulo commented on #1236
SSL mode is set to `DISABLED`, and I just confirmed the error again. When I set it to `PREFERRED`, I get the same error.

[2019-06-13 15:45] huyphams commented on #1236
As this one suggestion, https://stackoverflow.com/questions/45654055/mysql-error-2027-hy000-malformed-packet it because you're using the old MySQL version and TablePlus is using the most recent driver (MySQL 8 and MySQL 5.7 driver).
Maybe the last response is a possible solution,

[code]

But, instead of update the existed user,  I would recommend you create a new user (let's say it tableplus) and

[2019-06-13 22:50] ObviouslyGreen opened #1237 "[Feature Request] Vim/Emacs/Nano keybinding in editor"
I work mostly with vim keybindings across my IDEs/editors/etc, so would be nice to have that option in table plus as well. Can see it possibly as a plugin

[2019-06-13 22:53] ngurney opened #1238 "Support Aggregate Functions without Column Titles"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2014
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
228
3. The steps to reproduce this issue:
Use any aggregate function (I am using COUNT) but don't add a column header. For example:

[code]

The result will not show a column for `COUNT(field2). If you add a

[2019-06-14 02:47] robertveloso commented on #790
Up!

[2019-06-14 05:06] heihachi88 opened #1239 "Switching Workspaces on MacOS 10.14.5 not highlighting the active workspace"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 228

3. The steps to reproduce this issue:
Open 2 workspaces, and try to switch between them using a hotkey `Shift+⌘+]` or `Shift+⌘+[`

Here's the video demonstrating the behavior:

![ScreenRecording20190614at1](http

[2019-06-14 14:45] srchulo commented on #1236
So I created a user using this command:

`GRANT ALL ON my_db.* TO 'tableplus'@'localhost' IDENTIFIED BY 'password';`

And then updated the password like this:

`SET PASSWORD FOR 'tableplus'@'localhost' = PASSWORD('password');`

And then ran:

`FLUSH PRIVILEGES;`

I get this error when trying to connect from from TablePlus via SSH:

`Access denied for user 'tableplus'@'127.0.0.1' (using password: Y

[2019-06-15 07:36] nutmix opened #1240 "Feedback for tableplus"
I have been using heidisql for mysql, mysql workbench and toad for oracle for many years (20+)

Recently, I was required to switch to mac for work.

Finding something as good as heidisql for mac has proven difficult.

In evaluating your product, from first impression I have the following feedback:

1) when you open a connection to a database, you should show a list of databases.  Currently,it show

[2019-06-15 09:05] huyphams commented on #1240
Hey @nutmix we have a getting started at the bottom page: https://tableplus.com/blog/2018/04/getting-started-with-tableplus.html it’s the best way to getting started with TablePlus

[2019-06-15 11:58] huyphams commented on #1240
1. Actually, we want user know the database button on the top left and the shortcut key, that's why we don't show the database list.
2. You can move by shortcut key (in the preferences), or right click -> open structure.
3. You can open the editor by clicking the SQL button on the top left or pressing command + return or command + E.
4. All the icon and button have tooltip. but I guess Microsoft W

[2019-06-16 04:23] huyphams commented on #1229
Actually, this is a bug, I've debugged it several times. The welcome screen will have an incorrect size when:
1. The app crashed.
2. The app was killed.
3. Run multiple versions of TablePlus (a beta and an official).
I can work around but it's not smooth.

[2019-06-16 15:11] donbeave opened #1241 "Add option to disable auto-count query"
Hello!

Will be happy to see any way to disable automatic `SELECT COUNT(*) as count FROM "public".my_table_name_here;` queries when working with huge tables. For huge tables with 1-2 TB data, this query is crazy slow. That's why I'm thinking to have a feature which allows the disabling count query for some particular tables.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
P

[2019-06-16 22:45] nexxai opened #1242 "[FEATURE REQUEST] Azure SQL Database with MFA support"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Microsoft Azure SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 228

3. The steps to reproduce this issue: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-ssms-mfa-authentication

[2019-06-16 23:05] ryb73 opened #1243 "Foreign key constraints not shown if there are duplicates between schemas"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 11.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

228

3. The steps to reproduce this issue:

If I have two schemas with the same tables and foreign key constraints, TablePlus won't show the foreign key constraint when looking at a table in the second schema:

![i

[2019-06-17 02:15] huyphams commented on #1240
Follow via email.

[2019-06-17 02:15] #1240 closed

[2019-06-17 02:51] huyphams commented on #1241
hey @donbeave thanks for the feedback, actually, TablePlus always estimate table before counting, so it will not affect the performance. I've updated the report here, so it will show the estimated count query in the console: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-06-17 03:44] huyphams commented on #1243
it's fixed in this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you @ryb73

[2019-06-17 04:04] #1243 closed

[2019-06-17 08:07] huyphams commented on #1229
It's fixed on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you!

[2019-06-17 08:07] #1229 closed

[2019-06-17 08:08] #1195 closed

[2019-06-17 08:10] #1205 closed

[2019-06-17 08:11] #187 closed

[2019-06-17 08:12] donbeave commented on #1241
Yeah, it's better now!

[2019-06-17 08:38] nutmix commented on #430
Please can you add "prepared" statement type  parameters using this well established standard:

select * from foo where foo.bar like :baz;

or

select * from foo where fool.stat between :start and :end

This is the standard used by Toad for oracle, and also by heidisql for mysql. It is used by a number of ORMs to store your sql in your code. Thus you can test your codes prepared statements, withou

[2019-06-17 09:04] ndastur commented on #430
Some sort of parametrised feature would be really helpful. I agree with the editing of our source SQL is tedious and a source of errors. As for positional parameters ($1 ...) they are a standard SQL variant vs named parameters. I'd have thought the implementation shouldn't be too different.

[2019-06-17 09:09] huyphams commented on #430
We're going to implement this feature, here is the solution.

1. User can describe the params syntax (it should be a regex). and the default is :<number+alphabet>
so you guy can choose your favorite variable pattern.
2. TablePlus will have a table with two sections, global variable which will apply for all queries without asking and local variable which will ask every time user run a script.
 - Us

[2019-06-17 09:14] huyphams commented on #430
4. TablePlus will highlight all string which is matched the variable regex.
5. This feature is turned off by default and you must enable it, here is how to do it:
<img width="634" alt="Screen Shot 2019-06-17 at 4 11 18 PM" src="https://user-images.githubusercontent.com/3654622/59592601-9070ce80-911a-11e9-91c1-315c37652f38.png">

We will release it as soon as possible but in the beta channel first,

[2019-06-17 09:16] ndastur commented on #430
Great news!

[2019-06-17 09:25] donbeave commented on #1241
Sorry, still have this issue for some huge partitioned tables, because of the query:

[code]

[2019-06-17 09:28] donbeave commented on #1241
You can use this query to find all child tables:

[code]

[2019-06-17 09:28] huyphams commented on #1241
hmmm, made sense. I think TablePlus should check one more condition before counting. If the estimate is 0 but there are returned rows. TablePlus will not perform the select count(*).

[2019-06-17 13:35] devtimi commented on #1229
Thank you, Huy!

[2019-06-17 14:24] tonyxiao commented on #430
This is incredible, looking forward to trying it!!

[2019-06-17 16:14] ryb73 commented on #1243
Thanks for the quick turnaround!

[2019-06-17 16:32] maxcountryman commented on #828
Would love to see this as well.

[2019-06-18 02:57] huyphams commented on #430
Hey guys, now we can download the experiment here: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
`Not all features are supported but at least, you can see how it works.`

![2019-06-18 09 54 30](https://user-images.githubusercontent.com/3654622/59650147-281ffc80-91af-11e9-826b-8d96468521d3.gif)

[2019-06-18 06:38] chrschmitz commented on #430
Do you have an idea, why it does not work on my system?

Error message:
Query 1 ERROR: ERROR:  syntax error at or near ":"
LINE 1: select :cols from "Rank" limit :n;

[2019-06-18 06:39] huyphams commented on #430
Hey @chrschmitz you must enable the query params, see my previous comments in this post.

[2019-06-18 06:58] chrschmitz commented on #430
Awesome! This is a game changer!

I found one issue:

If you write the command twice and run both queries...
[code]
... the first query does not resolve :n and the second query does not resolve :cols.

Is it possible to store the input values between runs? If you run the same query multiple times you have to enter the values over and over.

[2019-06-18 07:19] zhangcunxiang commented on #1091
But TablePlus can not connect to AWS DocumentDb with ssl=true and validate with rds-combined-ca-bundle.pem cert file

[2019-06-18 07:52] huyphams commented on #430
I've updated the dropbox link above to fix the parsing but @chrschmitz thank you!

[2019-06-18 09:03] chrschmitz commented on #430
You guys are amazing! I can confirm that the previously reported bug is fixed :-) I do not know a single group fixing bugs so blazingly fast.

Apart from the (obviously not yet implemented) option of global variables, it would be great if you would consider storing local variables at least during the current session.

With new features new wishes come up ;-) Have you considered to set local variab

[2019-06-18 14:20] Cottser commented on #1152
See also #986, #762. Maybe a couple of these can be closed as "duplicates" :)

[2019-06-18 17:21] robclancy commented on #1056
Wait wait.. we will finally have a good database tool on linux? I never thought I'd live to see the day.

[2019-06-18 19:14] roninvermont opened #1244 "SQLite - Backup doesn't work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 228

3. The steps to reproduce this issue:

- Connect and open a SQLite database.
- Select Backup from the File menu.
- In the Backup database window, select the SQLite connection under "Ungrouped". Notice that no data

[2019-06-18 19:22] roninvermont opened #1245 "Exporting Views and Indexes Not Happening"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 228

3. The steps to reproduce this issue:

- Connect to and open a SQLite database that has tables with indices and views.
- Select one or more of these tables and one or more of these views.
- Right-click and select

[2019-06-18 21:11] alvint commented on #430
Hi, will global variables be highlighted differently from local variables? This might avoid unexpected mistakes.

[2019-06-19 00:43] huyphams commented on #1244
Hi @roninvermont TablePlus only supports backup/restore for MySQL and PostgreSQL.
SQLite is just a file, so it's not necessary to backup/restore at all. just duplicated the file.

[2019-06-19 01:20] roninvermont commented on #1244
Thanks so much for the response. For one project I'm involved with, I want to create the database in SQLite, then migrate it to another database platform by way of a SQL script file containing all of the CREATE statements for all of the objects, e.g. tables, indexes, views, etc. Does TablePlus provide a straightforward way to export all of the CREATE statements to a text file? Thanks.

[2019-06-19 02:00] huyphams commented on #1068
TablePlus now remember the last used backup options. it will be available in the next release!

[2019-06-19 02:00] #1068 closed

[2019-06-19 02:01] huyphams commented on #1210
I improved it, now TablePlus will remember the last used options. it will be included in the next release!

[2019-06-19 02:01] #1210 closed

[2019-06-19 03:12] huyphams commented on #430
@alvint I've changed the behavior and decided not to implement the global in this release.
- TablePlus now remember the old query parameters.
- TablePlus will highlight the parameters if it's active in the query (see the attached image).
- TablePlus will ask for parameters if the input contains any parameters.

The beta is released so I will close this issue for now.

<img width="1463" alt="parame

[2019-06-19 03:12] #430 closed

[2019-06-19 08:19] shanke opened #1246 "Connect to mysql via tunnel script"
Navicat Premium has the ability to connect over http via a tunnel-script.

Is it possible to implement such a feature?

[2019-06-19 09:31] ruudk commented on #635
Please change the default to equals. Contains is slow on big databases. Most of the time I'm actually searching by primary key (id) and there I want to use equals.

It's also super annoying that the default of filter is always "raw sql" rather than just the first column of the table (primary key, id).
<img width="287" alt="Screenshot 2019-06-19 at 11 30 58" src="https://user-images.githubuserconte

[2019-06-19 09:35] huyphams commented on #635
FYI @ruudk I received about 3 emails per day when I changed the default Raw SQL to the first column with equal.
Everybody has their favorite behavior, it's really hard to make it fit for all. I understand it and this is one of the known issues.

Adding a config option would solve it and it's already in our plan. Btw, you only select it once and all the filter which are added later are cloned from

[2019-06-19 13:30] rwhitten577 opened #1247 "[FEATURE REQUEST] Mac Dock Icon - Show "Recent Connections" List"
Feature request - other apps (e.g. PyCharm) show a recent project list when alt clicking on the dock icon. It would be great to have something similar for TablePlus that is a list of recent connections. I frequently work with 5-10 connections on a given day and this would greatly speed up accessing them instead of opening the new connection window and searching for the right one.

1. Which driver

[2019-06-19 22:50] cykirsch opened #1248 "Authentication plugin 'dialog' cannot be loaded"
1. Which driver are you using and version of it:
MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 228 w/ registered license

3. The steps to reproduce this issue:
Add dialog.so file to `/usr/local/mysql/lib/plugin` dir. Attempt connection.
This file does work for Sequel Pro, although that app wanted the file in `/usr/local/lib/plugin`

[2019-06-20 02:02] huyphams commented on #1248
Hi @cykirsch have you tried with the MySQL 8 driver? (it's compatible with MySQL 5 as well).

[2019-06-20 02:11] cykirsch commented on #1248
Yes, and MariaDB. MySQL8 was what I tried first though, and I've tweaked
some things since then so it's worth another go.

On Wed, Jun 19, 2019 at 21:02 Huy Pham <notifications@github.com> wrote:

[2019-06-20 02:13] huyphams commented on #1248
TablePlus is a notarized app, which is Approved by Apple (Sequel Pro doesn't) so it will not allow any plugin which is not signed by the Apple certification, that's the reason you can't add the dialog.so manually. I will take a look at it.

[2019-06-20 09:36] CrixuAMG opened #1249 "Import/export window is gone after locking the Mac"
I was importing a 1.2GB sql export file (generated by TablePlus), and after some time talking with my colleagues, I noticed my Mac was locked and unlocked it. The import window was gone, and cannot find it anywhere, so I cannot check the progress.
Is there some way of showing this again?

Running the latest version (2.4, build 228) via Setapp.

[2019-06-20 09:48] mohapma opened #1250 "Under the "create new connection" MariaDB option is not coming"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2019-06-20 09:49] mohapma commented on #1250
Build 70 i am using

[2019-06-20 09:50] huyphams commented on #1250
Hi @mohapma you can use the MySQL driver, it's compatible MariaDB. Windows repo is here: https://github.com/TablePlus/TablePlus-Windows/issues so I will close this issue.

[2019-06-20 09:50] #1250 closed

[2019-06-20 09:51] dornby commented on #887
Any news on this one @huyphams ?

[2019-06-20 09:53] georgexsh opened #1251 "can not run query if disconnect while running a long query"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4

3. The steps to reproduce this issue:

- run a long query
- disconnect
- reconnect

run query button became:

![image](https://user-images.githubusercontent.com/32751/59840081-4854e480-9384-11e9-9a22-af1a5d845806.png)

[2019-06-20 09:53] essenciary opened #1252 "Does not save the password [MySQL / macOS]"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.5.62

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.4 (228)

3. The steps to reproduce this issue:
I have the connection saved, with the password - option to save the password in keychain. Upon connecting, the app attempts to connect without password. I edit the connec

[2019-06-20 10:05] lucasRolff opened #1253 "MySQL backup gives access denied for user"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 2.4 (228)

3. The steps to reproduce this issue:
- configure MySQL over SSH
- Have a password set for user that contains following characters `[ = ' ! ? # ( > ~` (and some letters and numbers)
- Try do a backup

[c

[2019-06-20 12:33] aramando opened #1254 "SQL query editor saves on close"
This was touched upon by #592, but the scope of the issue is actually broader (and has not been resolved).

When it is closed the SQL query editor automatically and silently saves any query that was opened in it from either a saved favourite or an external SQL file on disk. This is obviously very bad as it makes it inevitable that work will be lost sooner or later.

Interestingly, it does not do t

[2019-06-20 12:35] aramando commented on #592
I am still experiencing this in build 234, and furthermore it also does it for SQL files opened from disk. I have opened a new issue: #1254

[2019-06-20 12:40] huyphams commented on #1254
Have you disabled auto-save in the preferences @aramando?
<img width="612" alt="autosave" src="https://user-images.githubusercontent.com/3654622/59849981-48101580-9393-11e9-88c9-8601b489445e.png">

[2019-06-20 12:53] aramando commented on #1254
Oh... 🤦‍♂️

That's fixed it, thank you :-)

However, I do feel quite strongly that the auto-save option should be disabled by default (I don't _think_ I enabled it myself) because of the possibility of unexpectedly losing favourites and the contents of files.

Furthermore, if this option is also going to continue to apply to files opened from disk as well as favourites this should be made clear in

[2019-06-20 12:56] huyphams commented on #1254
Thank you! I will probably add a warning popup to tell the user this behavior for the first time they use Favorite and also update the text in preference to make it clear.

[2019-06-20 13:41] DHFW opened #1255 "Multi record insert statement not working for SQL Server 2017"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
`Microsoft SQL Server 2017 (RTM-CU9) (KB4341265) - 14.0.3030.27 (X64)
Jun 29 2018 18:02:47
Copyright (C) 2017 Microsoft Corporation
Developer Edition (64-bit) on Linux (Ubuntu 16.04.4 LTS)`

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): `Version 2.4 (228)`

3. The steps to repro

[2019-06-20 13:48] huyphams commented on #1255
Hi @DHFW TablePlus doesn't modify the query before sending it to the server. I don't know the root of the problem but mostly it's related to the SQL Server.

[2019-06-20 13:49] cykirsch commented on #1248
Makes sense. Do you think it's something we'll be able to resolve? I won't be able to use it at work without it so I would have to let my manager know to request a refund. I definitely want to use it though :)

[2019-06-20 13:51] huyphams commented on #1248
So I think you can request a refund if needed because I need to rebuild the library to support daialog.so and it takes time.

[2019-06-20 13:55] huyphams commented on #1251
I'm not sure it was resolved in the beta release (I've updated the cancel queries) but I can't reproduce the bug anymore.
Download beta: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2019-06-20 13:56] cykirsch commented on #1248
Thank you. I'll keep an eye on this issue so I can give it another try in the future.

[2019-06-20 13:59] huyphams commented on #1248
Btw have you tried the newest beta build 234 @cykirsch? (and please also try with MariaDB driver) I rebuilt those libs on this build and as I remember, I've enabled Clear text password plugin in the driver.

[2019-06-20 14:02] huyphams commented on #1253
I think so @lucasRolff let me check it.

[2019-06-20 14:32] cykirsch commented on #1248
Nice, it works! I'm in via MariaDB driver on build 234. There's a little weirdness, and if I determine some clear patterns I'll let you know. One _may_ be that if the password is wrong it just hangs on "Connecting to database..." instead of failing. Right now I'm good to go though. I appreciate the help!

[2019-06-20 14:48] huyphams commented on #1253
Hey @lucasRolff I've fixed it on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Let me know if you're still seeing it!

[2019-06-20 14:48] #1253 closed

[2019-06-20 14:51] huyphams commented on #1248
Thanks for the confirmation. I've added a warning popup which tells the user to use the MariaDB with dialog.so so I think we can close this issue for now.

[2019-06-20 14:51] #1248 closed

[2019-06-20 14:52] huyphams commented on #1249
Thanks, let me check it!

[2019-06-20 16:01] CyrilMazur commented on #1254
I got burned by this too 🤦‍♂️ +1 for warning users of this behaviour.

[2019-06-20 16:17] lucasRolff commented on #1253
Can confirm it works!

[2019-06-20 16:36] huyphams commented on #1254
I've added it in the official release 233. So I think we can close this issue.

[2019-06-20 16:36] #1254 closed

[2019-06-20 16:37] huyphams commented on #1230
Hey @raiskila please let me know if you're still seeing it. I just released the official build 233, which supports this feature.

[2019-06-20 16:37] #1230 closed

[2019-06-20 16:37] #1227 closed

[2019-06-20 16:41] huyphams commented on #570
I will close this issue because it's Setapp library bug.

[2019-06-20 16:41] #570 closed

[2019-06-20 16:43] huyphams commented on #1235
Close because it's duplicated. Please follow this issue: https://github.com/TablePlus/TablePlus/issues/666

[2019-06-20 16:43] #1235 closed

[2019-06-20 16:45] #723 closed

[2019-06-20 16:45] #735 closed

[2019-06-20 16:47] huyphams commented on #724
It's fixed in the build 233. Thank you!

[2019-06-20 16:47] #724 closed

[2019-06-20 16:49] #769 closed

[2019-06-20 16:51] #756 closed

[2019-06-20 16:52] #749 closed

[2019-06-20 16:53] #848 closed

[2019-06-20 16:53] #838 closed

[2019-06-20 16:54] #827 closed

[2019-06-20 16:59] mikebronner commented on #570
I opened an issue with Setupp regarding this as well, and they said it was an issue with how it was implemented here. Sorry, not meaning to point fingers, just trying to highlight there seems to be a communication issue somewhere along the chain. :) Thanks for all the work you do!

[2019-06-20 17:05] huyphams commented on #570
They gave us a static lib, which can't be modified and we just include that lib into TablePlus. And the bug probably can be fixed if they change the text color to white. TablePlus do have a theme manager but it won't change the label if it has a fixed color. Thank you @mikebronner I hope Setapp can fix it.

[2019-06-20 17:15] huyphams commented on #1059
I'm not sure if was fixed or not, could you please check the latest build 233 @araines thank you so much!

[2019-06-20 17:21] #1181 closed

[2019-06-20 17:42] natesilva commented on #827
I don’t know when it was fixed but I can confirm that the console now shows a lightweight query like
[code]
Thanks!

[2019-06-20 18:13] jon-djon opened #1256 "Extra Schema Reported on a Refresh"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.5): PostgreSQL 10.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 233

3. The steps to reproduce this issue:

- To reproduce the issue I select a schema from the bottom left dropdown (e.g `foo.com`)
- Then Refresh everything via the refresh button
- After the refresh there is an ex

[2019-06-20 18:54] comhernandez28 commented on #314
Hello @huyphams I tried the build you linked and it wasn't working still. I replicated this exact same issue and am also having trouble with it. Should I reopen another issue and mention this one?

[2019-06-21 01:15] huyphams commented on #1256
Hey @jon-djon, I fixed it: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Thank you for letting me know.

[2019-06-21 01:15] #1256 closed

[2019-06-21 01:18] huyphams commented on #314
Have you tried with the MariaDB driver @comhernandez28 ?

[2019-06-21 02:07] ryzr opened #1257 "ssh-agent not used for tunnelling via SSH?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.5 (233)

I currently use a Yubikey as a gpg smartcard for authenticating over SSH. I don't understand the technicalities of this completely, but it replaces the ssh-agent with a gpg-agent by exporting `$SSH_AUTH_SOCK = ~

[2019-06-21 05:39] tdgroot commented on #1056
Would just like to know whether it's going to happen or not. Linux could use a better db tool like TablePlus

[2019-06-21 07:41] volkanozyildirim opened #1258 "csv export encoding"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7.24
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 234
3. The steps to reproduce this issue:
Right click and export as csv from items list or result of select query.

Language: Turkish
Export result: https://gofile.io/?c=27qeez

Noted: If the bug is related to data

[2019-06-21 12:33] silentwarrior commented on #1056
Make it happen! Is it in the works?

@huyphams is that TablePlus running on Linux?

[2019-06-21 16:45] prasad1508 commented on #439
hi, I had the same problem, but it goes away after typing host as 127.0.0.1    I connected to Mysql DB

[2019-06-22 10:55] georgexsh opened #1259 "can not resize window if monitor switched"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
228

3. The steps to reproduce this issue:
- start tableplus in an external monitor, which has larger resolution than MacBook builtin.
- pull off the external monitor cable
- tableplus jump to macbook builtin monitor, not resi

[2019-06-22 17:36] heihachi88 commented on #1239
Hello?

[2019-06-22 21:29] viceo commented on #1056
TablePlus for Linux please!

[2019-06-23 05:25] huyphams commented on #1239
Does it still happening on the build 233 @heihachi88

[2019-06-23 05:26] heihachi88 commented on #1239
Yes, on previous build and on this one.

[2019-06-23 05:54] huyphams commented on #1239
Hey @heihachi88, could you please try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0 and let me know the result? Thank you!

[2019-06-23 06:05] heihachi88 commented on #1239
Now it works, but there's some lag, when i switch the tabs very quickly, also:

![image](https://user-images.githubusercontent.com/5739191/59972342-1f646780-95af-11e9-9faf-feb74dd94ad9.png)

Why register button is appeared again? I already have a license.

[2019-06-23 06:06] huyphams commented on #1239
yep, it will show the license. We placed it here because some users want to unregister the license and move it to a new device.

[2019-06-23 06:07] heihachi88 commented on #1239
Maybe a condition then? If you registered, then make "Unregister" or so.

[2019-06-23 07:20] huyphams commented on #1239
Hi @heihachi88 you can download this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
I will close this issue, the fix will be released on the next update.

[2019-06-23 07:20] #1239 closed

[2019-06-23 16:16] vesper8 opened #1260 "[Feature Request] Save/Restore Workspace/Session"
This feature is direly missing.. especially with the frequent updates that upon installing force you to close all your opened connections/databases/tables

The ability to save/restore (multiple) workspaces.

Simple as that. It's been requested multiple times and for someone who is constantly working with multi-db projects.. it would really be a huge help to have this feature.

Everything should be