[2018-02-08 15:05] davidolrik commented on #166
Yes it hangs, the timer in the bottom left just keeps counting away.

It also happens if I leave the window open, and don't use it for extended periods of time.

[2018-02-08 15:10] huyphams commented on #166
hey, thanks for your helpful information.
We have two options:
1. Auto-reconnect: stick on => TablePlus will try to reconnect if the connection failed in the background.
2. Keeps connection alive: TablePlus sends a ping to sever to keep the connection alive.

If the connection failed while you sending a query, TablePlus also tries to reconnect first.

Seems TablePlus got trouble with ssh, everythi

[2018-02-08 15:10] davidolrik commented on #166
I think I know what the problem is.

The MySQL I'm connecting to is configured to aggressively close connections if they aren't used.
I think the cut-of-is set at around 10 seconds.

So the bug must be in the statement executer, that fails to notice that the connection has gone bad.

[2018-02-08 15:11] davidolrik commented on #166
I have both of those options turned on.

[2018-02-08 15:11] huyphams commented on #166
That's too bad, I set the ping is 30 second 🤣probably I will put a config here, then the user can set their period.

[2018-02-08 15:13] davidolrik commented on #166
I don't have this problem in Sequel Pro, maybe they are pinging the connection before executing the query.

[2018-02-08 15:17] huyphams commented on #166
Sequel Pro uses sshd for tunneling see [here](https://medium.com/@huyphams/how-using-ssh-tunneling-in-database-tools-might-leak-your-connection-forever-c6d48ff18746),  it's handled automatically by OS, and probably they sent ping more frequency.
Btw, I got the bug, will fix it in next update.

Thank you so much.

[2018-02-09 12:26] skibz opened #221 "unreadable white on olive green text"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.7.14
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 86
3. The steps to reproduce this issue:
* switch to the dark colour theme
* the text in the header bar will be unreadable
![screen shot 2018-02-09 at 14 23 36](https://user-images.githubusercontent.com/2462211/360

[2018-02-09 12:31] huyphams commented on #221
Hi @skibz currently, we can't optimize the color automatically. So you need to click on the title and change the color by hand.

[2018-02-09 12:40] skibz commented on #221
thanks!

[2018-02-09 12:41] huyphams commented on #221
Let it open @skibz I have an idea to improve it automatically 😄

[2018-02-09 13:00] davidolrik commented on #166
I found a different solution.

Immediately upon connecting, I execute `set session wait_timeout=3600;` which will let the ping work as intended. (This is specifically for MySQL)

[2018-02-09 13:16] stephane opened #222 "Support of Unix Domain socket connection"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
86

3. The steps to reproduce this issue:
The new connection dialog don't allow me to connect on local DB via Unix Domain socket

[2018-02-09 13:29] MatthieuBizien opened #223 "Feature request: connects to analytics databases"
I work with multiple "big data" databases, like BigQuery, Athena(Aws), Hive, Spark, Presto, etc. They can all be queried with SQL. Is it in your roadmap to integrate with more SQL engines, or to provide a way to integrate it yourself?  They are usually compatible with JDBC.

[2018-02-09 14:43] huyphams commented on #223
We are a native application so it's very hard to dynamic support (like a java application). We are planning to support all over the relational database (as many as we can).

[2018-02-09 15:48] jreljac opened #224 "Feature request: import data from flat files"
One of the features I use often in Sequel Pro but don't see in TablePlus so far is the ability to import from a file into either an existing table or new table.

Not sure how important importing into a new table is, but importing data into an existing table would be super helpful.  Sequel Pro allows for CSV and SQL imports and, for CSV imports it allows you to map csv columns to table fields inclu

[2018-02-09 15:51] huyphams commented on #224
Currently, you can copy CSV and paste directly to TablePlus, or right click on TablePlus content and choose import.

The limitation is you can't map table-field with CSV-field.

We need to improve this feature in some next update to make it better.

[2018-02-09 15:56] jreljac commented on #224
So I just missed the import option.  The main reason I use the mapping is to define a field as NULL for import (to over ride what's currently in the field) . I just tried your import and it works as expected, finding it was just a bit difficult but then again, I only played around for < 15 minutes.

Thanks for pointing that out.

[2018-02-09 16:09] huyphams opened #225 "Support MS SQL 2008 syntax."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Microsoft SQL Server 2008

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 87

3. The steps to reproduce this issue:

Wrong select syntax.

[2018-02-09 16:23] timster opened #226 "Add support for Oracle"
I just read on the homepage it says coming soon, so please close this if it's not necessary.

[2018-02-09 16:34] kevinkaske opened #227 "Feature Request: Open TablePlus and connect to database from command line"
I use Freeter (https://freeter.io/) to organize my development env. It would be nice to be able to open TablePlus from the command line and pass in the databases I want to connect to. I could then assign that to a button in Freeter for each project.

[2018-02-09 16:36] huyphams commented on #227
Hmm, have you try to type: `open postgresql://user@127.0.0.1/<database_name>`

TablePlus supports open a connection via command line with an URL.

[2018-02-09 17:39] drhayes opened #228 "Graphical representation for execution plans"
Would be really great if you displayed graphical execution plans for MS SQL like MSMS!

[2018-02-09 17:47] joshstrange opened #229 "Show Database name in sidebar as shown in preview screenshots"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL I don't see a version in the UI

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 87

3. The steps to reproduce this issue:

- Open Workspace

- Open more than 1 connection

- No Name under icon

[Example](https://www.dropbox.com/s/tr3xdnu57r9l61k/Screenshot%202018-02-09%2012

[2018-02-09 17:48] joshstrange commented on #229
Well I just noticed it shows the DB name. I'd really like to be able to see the connection name (So I can see QA/Dev/Staging/etc)

[2018-02-09 17:48] huyphams commented on #229
Have you selected a database @joshstrange. The icon name is the database name. btw, if user didn't select a database, it will be empty. I'm thinking about it

[2018-02-09 17:50] huyphams commented on #228
This is one of feature I want to add but it takes a lot of effort. I will try MSMS and came back to you later.

[2018-02-09 17:57] joshstrange commented on #229
@huyphams Yeah, I hadn't selected a DB yet. I'm conflicted on what I think should go there. I really want to be able to see which server I'm connected to (which I can kind of get by changing their colors but that is only on hover). If I could set icon's for each server that would be great.

[2018-02-09 18:01] huyphams commented on #229
Yup, that's the point we can improve, the icon color or default is connection name if the user hasn't selected a database. Great suggestion!
Btw, it also depends on the driver because PostgreSQL user must specify a database if they can connect to the database.

[2018-02-09 18:26] JAStanton commented on #193
In general I see this as something that would be more of an enterprise feature. I'd love on day 1 for a new co-worker to sync connections w/ DropBox and have all everything setup including all preferences for things like "Alert Mode" / "Safe Mode" for production connections. That'd be pretty slick!

[2018-02-09 18:30] huyphams commented on #193
I have seen this feature in 1Password. they named it to a vault. Basically, they encrypted it and put it in cloud service (like Dropbox, Google Drive).

[2018-02-09 18:33] mcdemarco commented on #209
Build 87 failed against Microsoft SQL Server 2008 R2 with this error.  Let me know if you need any testing in the wild.

[2018-02-09 18:34] huyphams commented on #209
I'm working on this issue and
https://github.com/TablePlus/TablePlus/issues/225

[2018-02-09 19:00] JAStanton opened #230 "Additional safety around running raw queries; Disable auto commit."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL9.6.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
87

It would be great if there was additional safety nets around running raw queries in the app. Through the GUI all changes (deletes, updates) are temporarily made until they're committed. You can see the changes, y

[2018-02-09 19:52] uber-mahyar2 commented on #223
Hive & Presto support over ssh would be pretty nice.

[2018-02-09 19:58] kevinkaske commented on #227
I'm talking about being able to open terminal in MacOS and launch the application as well as connect to a database from command line. It's probably a very niche request.

[2018-02-09 20:06] astewart-twist opened #231 "Feature request: Snowflake support"
Just throwing it out there.

[2018-02-09 20:12] remotezygote opened #232 "Functions in non-public schemas do not show up at all"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
87

3. The steps to reproduce this issue:
Create a function within a non-public schema. It does not show up in the "Functions" list in that schema.

[2018-02-09 20:18] kevinkaske commented on #227
Works perfectly! Thank you!

[2018-02-09 20:18] #227 closed

[2018-02-09 20:23] remotezygote commented on #232
It's also worth noting that functions inside non-public schemas also do not show up in the public schema. They show up nowhere, seemingly.

[2018-02-09 20:31] kez opened #233 "Cannot set SSH port to anything other than 22"
Context: attempting to connect to a VirtualBox guest postgres instance.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Trying to connect to a Postgres 9.5 server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

87

3. The steps to reproduce this issue:

Set up a new Postgres connection, expand 'Over SSH' section, enter `127

[2018-02-09 21:21] DeanWard commented on #224
+1 for being able to map imports!

[2018-02-09 22:40] avdempsey commented on #198
When I cancel a query manually at the command line, TablePlus immediately restarts the query. Even clicking the cancel button doesn't seem to stop this.

[2018-02-09 23:52] lakamsani opened #234 "Please add MongoDB support"

[2018-02-10 01:51] huyphams commented on #233
Hey @kez thanks for the feedback.
Did you open the port 2223 on your server? when you click test, the form will report to you that you have entered a wrong value (but you can save it).

[2018-02-10 01:54] huyphams commented on #232
Yup, I confirmed this bug. I'm investigating it.

[2018-02-10 01:58] huyphams commented on #234
Hey thank for the suggestion, but Mongo Database is not a relational database. It's NoSQL document based and not easy to show it in the table grid.
If we support Mongo DB, we should build another application

[2018-02-10 02:05] huyphams commented on #230
We have a button to set the level of safe mode:
Level 1. No warning.
Level 2. Warning when sending queries to the server.
Level 3. Prompt for the password.

We also have a preview button to see the raw queries. TablePlus swaps to a transaction begin <query> commit when you commit the change.

<img width="1271" alt="warning" src="https://user-images.githubusercontent.com/3654622/36057478-4655db9a-0

[2018-02-10 02:08] huyphams commented on #231
Is it a relational database? I just googled and found this: https://www.snowflake.net/ not sure if it is the one you mentioned

[2018-02-10 02:20] lakamsani commented on #234
Ok. Redis is not relational right? Values for redis keys can be arbitrary json documents.  Can the redis code be extended for MongoDB?

[2018-02-10 02:25] huyphams commented on #234
We have a post about Redis, it's not a relational database but it's super simple key-value. We support Redis `very basic` (not full features) because user PostgreSQL/Rails are using it as a mem cache.

Mongo is not simple as that, and if we support it, people always want more feature (some of the features has a completely different design with the relational database. Ex: Query Style).

The mongo

[2018-02-10 02:52] euii opened #235 "Query is very slow"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
- MySQL 5.7.19
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
- Version 1.0 (87)
3. The steps to reproduce this issue:
   - connect to db by over ssh
   - open query tab and input query sql and RUN ALL
   - tablePlus notices "Executed Statements Count 0/1 " for long time, display

[2018-02-10 02:58] huyphams commented on #235
Did you feedback on TablePlus feedback popup 😄 I see a lot of feedback there but they didn't put their email so I can't reply to them.

Btw, this is weird, I will investigate this issue to figure out what happened.

[2018-02-10 03:06] huyphams commented on #232
Hey can you check this build and let me know if it works 😄: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-02-10 04:02] JAStanton commented on #230
@huyphams these features are awesome for modifying rows, cols & tables with the gui, rows are highlighted and I know what I'm about to delete, or modify, I can see the query before I want to commit to it, it's absolutely fantastic.

However lets jump over to old command line to give an example of how running raw queries can be dangerous:

If I ran this unknowingly dangerous command, I would see th

[2018-02-10 06:11] cloudkite commented on #149
Firstly thanks for the awesome app! Is the ability to edit procedures / functions coming for SQL Server as well?

[2018-02-10 06:54] huyphams commented on #149
@cloudkite hey thanks, let me see how to get MS SQL Server functions 😄

[2018-02-10 07:06] ideaalloc opened #236 "Redis Driver"
1. Redis 4.0.6

[2018-02-10 07:21] huyphams opened #237 "Support column comment"
It would be great if TablePlus can support column comment. Frequently that is crucial to understanding what a column really is.

[2018-02-10 08:45] jbrooksuk opened #238 "Invalid usage of the option NEXT in the FETCH statement"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

    Microsoft SQL Server 2008

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

    Build 87

3. The steps to reproduce this issue:

    Try to view table data on a Microsoft SQL Server 2008 database.

<img width="505" alt="image" src="https://user-images.githubusercontent.com/24

[2018-02-10 08:54] huyphams commented on #238
It's duplicated with: https://github.com/TablePlus/TablePlus/issues/225

[2018-02-10 09:39] huyphams commented on #238
Hi @jbrooksuk can you help me test this statement in SQL Query:
`SELECT * FROM <table> ORDER BY 1 BETWEEN 0 AND 5;`

I didn't have any MS SQL Server 2008 for testing.

[2018-02-10 09:55] huyphams commented on #238
Ok, I will install a Virtual machine and install MS SQL 2008 😄

[2018-02-10 10:16] kez commented on #233
Thanks @huyphams - 2223 is definitely open and has been used extensively by SSH tunnels in DataGrip, Navicat, Postico etc.  Clicking `Test` gives me the red field validation and `Connect` reports an error about being unable to connect.

Changing the port to 22 enables me to continue but (obviously) reports auth errors as the credentials are refused by my host machine.  Attached a GIF for demo.

![

[2018-02-10 10:18] huyphams commented on #233
Okie thanks, your gif is awesome, I'm investigating this issue 😄

[2018-02-10 10:48] huyphams commented on #233
Hey weird, can you try with another client?
I tested and it works on my laptop:

<img width="495" alt="screen shot 2018-02-10 at 5 47 53 pm" src="https://user-images.githubusercontent.com/3654622/36061257-96fba5cc-0e8a-11e8-97a2-1e190bfe9e85.png">

[2018-02-10 12:55] akoury opened #239 "Modify tinyint(1) value on a record by double clicking on it does not work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQLite 3.21.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 87

3. The steps to reproduce this issue:
I have a database with products, I have a 'published' column which is simply a tinyint(1) data type, I can modify all values of the records in the table (for example the

[2018-02-10 15:32] huyphams commented on #239
Yes, I actually care all the tiny detail 😄

[2018-02-10 20:15] richcorbs opened #240 "AWS Aurora SSL Over SSH Not Working"
Build 87. Trying to connect to a MySQL database.

To reproduce:

1. Configure an AWS Aurora instance to use SSL over SSH as in the screenshot.

<img width="506" alt="screen shot 2018-02-10 at 1 07 46 pm" src="https://user-images.githubusercontent.com/437167/36066277-4a732142-0e64-11e8-940b-95b3d2ea11f1.png">

2. Use "Test" or "Connect" buttons to try to connect.

Expected: Connect to AWS Aurora in

[2018-02-10 20:46] richcorbs opened #241 "Keyboard shortcuts requested"
I'd like to request/suggest a couple of keyboard shortcut enhancements:

- Keyboard shortcuts to switch between "Table Data" view and "Table Structure" view (maybe Cmd-1 and Cmd-2?)
- Keyboard shortcut to get to the "columns" feature of the "Data" view.
- Keyboard shortcut to get to the "filter" input at the bottom of the "Data" view.
- Modifiable keyboard shortcuts (open query, run query, etc)

[2018-02-10 22:56] goldalworming commented on #236
+1

[2018-02-11 01:18] huyphams commented on #240
Thanks @richcorbs, could you try this build and let me know if it works: https://www.dropbox.com/s/75zgayubxmtj85i/TablePlus.zip?dl=0

[2018-02-11 01:24] huyphams commented on #241
Here some:
- Keyboard shortcuts to switch between "Table Data" view and "Table Structure" view (maybe Cmd-1 and Cmd-2?): `commadn + shift + ]` and `commadn + shift + [` but I need improve it because it does not work when table lose focus.
- Keyboard shortcut to get to the "columns" feature of the "Data" view: I don't understand `column features`, you mean the right panel? you can press `space` to

[2018-02-11 01:25] richcorbs commented on #240
Hi Huy,

That build works with SSL over SSH for both of my Aurora clusters!

Awesome work!

Rich

On Sat, Feb 10, 2018 at 6:18 PM, Huy Pham <notifications@github.com> wrote:

[2018-02-11 01:27] richcorbs commented on #241
Thanks for the response.

By column feature I mean the feature where you can set the columns you want
displayed in the data table.

On Sat, Feb 10, 2018 at 6:24 PM, Huy Pham <notifications@github.com> wrote:

[2018-02-11 07:09] rhlahuja commented on #231
Snowflake is indeed a relational "data warehouse" (similar to Redshift) and they provide their own JDBC driver: https://docs.snowflake.net/manuals/user-guide/jdbc-download.html. I would be interested in seeing this added as well. Does TablePlus provide the option of specifying a custom database driver for new connections? Thanks for a great app, by the way!

[2018-02-11 07:12] huyphams commented on #231
They have C/++ Driver: https://github.com/snowflakedb/libsnowflakeclient
Looks like it's possible to add to TablePlus.

[2018-02-11 07:29] euii commented on #235
Yes I did it. I forgot leave mail address ;)

[2018-02-11 11:57] huyphams commented on #236
I just tested and it works on redis 4.0.6 and the latest version 4.0.8

<img width="1228" alt="screen shot 2018-02-11 at 6 56 51 pm" src="https://user-images.githubusercontent.com/3654622/36073078-56880430-0f5d-11e8-9b73-a0acb1f0fa06.png">

[2018-02-11 15:16] dettmering opened #242 "SQLite: Changes to rows aren't saved"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQLite 3.21.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
87

3. The steps to reproduce this issue:

1. Create a new SQLite table and add a value
2. Commit
3. Change Values
4. Commit again
5. Changes haven't been saved

[2018-02-12 04:32] cstuder opened #243 "Get SSH private key passphrase from macOS Keychain"
Using TablePlus 1.0 Build 87 on macOS 10.13.3

When I set up a connection via SSH using a private key, TablePlus asks for and stores the passphrase of this key, even though the passphrase is stored in the macOS Keychain and the private key is available through `ssh-agent`.

I am uncomfortable letting other applications than Keychain store the passphrase. (In contrast other desktop applications usi

[2018-02-12 04:59] huyphams commented on #243
Hi @cstuder
TablePlus stores all the password, keys in the keychain. but, you are right, if there is a way to process ssh without using passphrase it would be better.

I'm researching the way to do it. Btw, TablePlus is using its own ssh lib and Sequel Pro using OSX sshd to create a tunnel. Basically, it is the same but deference config and binary.
You can read more here: https://medium.com/@huyp

[2018-02-12 08:10] Sennahoi opened #244 "MSSQL login with domain and username not working"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2016 (SP1-CU1) 13.0.4411.0 (X64)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 87

3. The steps to reproduce this issue:
Create a mssql server connection that needs a login with domain and username, e.g.
Username: INTERN\Administrator
Set Host, Passwo

[2018-02-12 08:59] jbrooksuk commented on #238
Thanks @huyphams!

I'll be purchasing a license soon enough :)

[2018-02-12 10:11] huyphams commented on #244
Hey thanks, @Sennahoi I will check this issue.
there is an issue similar with this https://github.com/TablePlus/TablePlus/issues/210

[2018-02-12 11:30] timster opened #245 "Add pagination for custom queries"
It would be nice if the paginator you get in table view:

<img width="255" alt="capture 2018-02-12 at 6 29 09 am" src="https://user-images.githubusercontent.com/173666/36094916-0b603232-0fbe-11e8-9dc3-ca7d6a7efb92.png">

Could be used when running custom queries here:

<img width="143" alt="capture 2018-02-12 at 6 29 00 am" src="https://user-images.githubusercontent.com/173666/36094925-1543635a-0f

[2018-02-12 11:55] davidolrik opened #246 "Move database and connection type to end of window title"
Currently when looking in the Window menu and in the application switcher the Database type and the connection type are the first items in the title.

To make it easier to select the correct window I propose moving the user provided connection name to the front, and the database and connection type to the end.

This will also ensure the visibility of the connection name in case the window title is

[2018-02-12 11:57] davidolrik commented on #243
Add this to your `.ssh/config`:
[code]

[2018-02-12 12:02] davidolrik commented on #216
I have, and it works - but I would prefer not having my database password travling over the net in plaintext.

[2018-02-12 12:09] davidolrik opened #247 "Idea: Add bootstrap/startup queries per connection"
I would like to be able to execute a series of statements immediately after connecting to a given database.

For each connection I could provide a few queries that would alter the current session automatically each time the connection is established.

This will let me do stuff like this on MySQL:

`set session wait_timeout=3600;`

[2018-02-12 12:32] tfeldmann opened #248 "Typo: "DETAULT" instead of "DEFAULT""
![bildschirmfoto 2018-02-12 um 13 31 00](https://user-images.githubusercontent.com/385566/36096978-11ca68d2-0ff9-11e8-8675-f18338d4f740.png)

[2018-02-12 13:34] zydeco opened #249 "⌘-W closes tab in another window instead of the frontmost window"
When pressing ⌘-W to close a non-workspace window, it closes a tab in one of the workspace windows instead of closing the frontmost window.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
n/a

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 87

3. The steps to reproduce this issue:
 * Open a workspace
 * Choose "About Ta

[2018-02-12 13:59] huyphams commented on #249
Thank @zydeco I'm fixing it now.

[2018-02-12 14:13] huyphams commented on #216
I have tuned this behavior on this build, not sure if it fixes this issue or not, it would be great if you can test and let me know the result: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Changes:
- Changed connection timeout to 60 seconds.
- Fixed an SSL bug in MySQL.
- Fixed some minor bugs and typo.

[2018-02-12 14:19] huyphams commented on #247
if the build in https://github.com/TablePlus/TablePlus/issues/216#issuecomment-364933843 fixed this issue, I think don't need a bootstrap, because it can make the form more complicated, maybe confused with new users.

[2018-02-12 14:49] sebslomski commented on #13
@Chinese1904 @huyphams I would love to have this feature as well. Can I somehow help implementing it?

[2018-02-12 16:36] huyphams commented on #13
We will improve this to support JSON and XML in future, stay stunned 😄

[2018-02-12 16:41] huyphams opened #250 "Improve status bar default color"
TablePlus should handle default color of status bar better.
1. Choose a better color pattern.
2. Handle default color of the status bar when switching between light mode and dark mode.

[2018-02-12 17:15] memco opened #251 "Date Picker: specifying Time for TIMESTAMPs and Menu Availability"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.1.73

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
87

3. The steps to reproduce this issue:
- Access a table with a TIMESTAMP column
- Click the Column's righthand up-down arrow to bring up the menu
- Select "Date Picker…"
- Choose a date

The result will be that the d

[2018-02-12 17:20] remotezygote commented on #232
Works great!

[2018-02-12 20:16] brupm commented on #231
👍

[2018-02-13 06:41] kenji0911 commented on #54
I got this problem too,

how is this issue going? TAT

Any Follow-up?

thanks :)

[2018-02-13 07:49] ashishraste opened #252 "Unable to view tables' information once the pop-up to upgrade plans appears"
1. Which driver are you using and version of it : MySQL/MariaDB, ver 15.1  Distrib 10.2.10-MariaDB

2. Which TablePlus build number are you using : Build 87

3. The steps to reproduce this issue: Observed this issue after a couple of hours of opening/using the app and starts when the app asks the user to upgrade with the following message:

[code]

[2018-02-13 07:52] huyphams commented on #252
The free version can only open two tab, please close the other tabs and then you can open that table

[2018-02-13 07:53] ashishraste commented on #252
Ah I see. Closing this issue then. Thanks!

[2018-02-13 07:53] #252 closed

[2018-02-13 17:36] huyphams commented on #246
Hmm, how about this @davidolrik 😄
<img width="519" alt="screen shot 2018-02-14 at 12 36 00 am" src="https://user-images.githubusercontent.com/3654622/36164490-1079d5e0-111f-11e8-9305-c98d6ee206fc.png">

[2018-02-13 19:00] eberkund commented on #193
I sync my Filezilla credentials with Dropbox, I don't know if this would a suitable solution for TablePlus?

[2018-02-13 20:38] nathanpalmer opened #253 "In "Run Current" query mode an update statement doesn't indicate how many rows have changed"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
PostgreSQL 9

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
87

**3. The steps to reproduce this issue:**
I don't know if it has to do with Run Current vs Run All. However, if I execute a single statement that has an update in it all I receive is

[code]

In Postico it c

[2018-02-13 20:41] nathanpalmer opened #254 "Treat ENTER on Keypad the same as RETURN"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
PostgreSQL 9

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
87

**3. The steps to reproduce this issue:**
When using Cmd+Return to execute a query I often reach for and try to use Cmd+Enter (keypad Enter.) This works fine in Postico by using either. Can we treat them the

[2018-02-13 20:45] nathanpalmer opened #255 "Default to "Run Current" instead of "Run All""
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
PostgreSQL 9

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
87

**3. The steps to reproduce this issue:**
I ran into a big issue a few days back where hitting Cmd+Return ran every query I had in the window at the time. This was unexpected and led to have to effectively s

[2018-02-13 22:09] nathanpalmer opened #256 "Save workspace queries as *.sql file"
I couldn't find this option anywhere but it would be great if we could save the workspace as a .sql file to reload later on. Sometimes I'm building up large set of related queries that I need to pull back later on.

**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
PostgreSQL 9

**2. Which TablePlus build number are you using:**
87

**3. The steps to reproduce this issue:*

[2018-02-13 23:16] coredumperror commented on #236
Does the "4.0.6" in the first comment on this thread mean that TablePlus only supports redis servers of that version? I ask because I have a redis 3.2.4 server running in a local docker network, and while TablePlus can show me the contents of the database, I can see only the keys. There does not seem to be any way to access the *values*.

[2018-02-14 02:15] huyphams commented on #236
No, TablePlus works with Redis 3.2.4, you see only keys because this driver is still under development

[2018-02-14 02:17] huyphams commented on #256
Hi, it's here.
<img width="630" alt="clickhere" src="https://user-images.githubusercontent.com/3654622/36184695-dca90ee0-1167-11e8-86c5-91d4e301995d.png">

[2018-02-14 02:22] huyphams commented on #255
Hi @nathanpalmer

1. We default to run all because this option is added from the beginning. The run current was added later.

2. TablePlus can split result in multiple tabs
<img width="413" alt="screen shot 2018-02-14 at 9 20 14 am" src="https://user-images.githubusercontent.com/3654622/36184766-4b413c10-1168-11e8-9ec8-dfc0962854c1.png">
 see here:

3. I'm thinking about to switch the default as y

[2018-02-14 02:23] huyphams commented on #254
Sure @nathanpalmer will be included in next update.

[2018-02-14 02:24] huyphams commented on #193
I'm planning to use this solution, includes History and Favorite.

[2018-02-14 02:59] huyphams commented on #256
You can mark it as Favorite, it will appear in the left panel.

[2018-02-14 03:15] huyphams commented on #253
Hey can you check this build:
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
1. Support enter key as an alias of return in: Execute Query, open anything, autocomplete.
2. Show the number of row affected.

[2018-02-14 04:09] huyphams commented on #54
Fixed @kenji0911 @utkuerturk
Please check out this build and let me know if it works for you 😄
<img width="1219" alt="screen shot 2018-02-14 at 11 09 15 am" src="https://user-images.githubusercontent.com/3654622/36187384-8402c974-1177-11e8-87f7-f08cd2df9797.png">

[2018-02-14 08:01] dcbb opened #257 "Structure display seems incomplete on Postgres"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.5.11

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 b87

3. The steps to reproduce this issue:
For (materialized) views, the "Structure" tab shows column definitions but no indices.
For tables, the "Structure" tab shows indices but no column definitions.

(Gener

[2018-02-14 10:00] huyphams commented on #257
Hey, @dcbb thanks for the feedback,
I know that TablePlus is still missing a lot of features because we just started it a few months ago and it supports many relational databases.
Because of that, we have a queue to prioritize the next feature.

For (materialized) views, the "Structure" tab shows column definitions but no indices. => I will take a look.

For tables, the "Structure" tab shows indic

[2018-02-14 14:33] huyphams commented on #239
It's fixed 😄
You can download new build here: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-02-14 14:49] Sennahoi commented on #54
Works for me. Awesome!

[2018-02-14 15:03] stsepelin opened #258 "Minimize workspace to dock on mac."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
87
3. The steps to reproduce this issue:
When i work only with one workspace and minimize window with it to the dock on mac (Command+M), I can't open it back by clicking on tablePlus icon in dock. Every time it opens new startu

[2018-02-14 15:10] huyphams commented on #258
Hi @stsepelin, this is an expected behavior but I think we should change it a little bit. I will come back with a build shortly.

[2018-02-14 15:56] huyphams commented on #258
I improved minimized behavior in this build, can you test it and let me know you thought? 😄
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-02-14 16:03] stsepelin commented on #258
Right now it's working like expected, but there is something weird in dock (some empty space).
Mac OS: 10.13.3 (17D47)
<img width="251" alt="screen shot 2018-02-14 at 17 59 53" src="https://user-images.githubusercontent.com/8102174/36214089-33a6fa2e-11b1-11e8-96b6-a5957ae09819.png">

[2018-02-14 16:17] huyphams commented on #258
Thanks, looks like it's preferences window. Did you minimize TablePlus preferences?

[2018-02-14 16:24] stsepelin commented on #258
You are right, that was a preferences window, but when I click on it in dock, nothing happens.

[2018-02-14 16:36] huyphams commented on #258
This build should fix all the issues: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
(Include `I click on it in dock, nothing happens.`)

[2018-02-14 16:59] gjuchault opened #259 "feat: disable tab navigation"
Hi,

It could be nice to disable tab navigation (in free version at least) or to customize double clicking in a table. As soon as I forget to close tabs and double-click a table, I get the popup, which is a bit annoying.

Thanks :)

[2018-02-14 17:02] huyphams commented on #259
Disable tab navigation can create a weird behavior and not consistent.

And tbh, if I disable it, somehow TablePlus team will end up with no sales, and there are no new version
 or new feature anymore😄

[2018-02-14 17:07] gjuchault commented on #259
I was talking of an option : opening a new tab each time you click a link is not something everyone want to do.

In a browser, you usually click Cmd + Click to open in a new tab, but a simple click will open in same tab.

[2018-02-14 17:12] huyphams commented on #259
`I was talking of an option : opening a new tab each time you click a link is not something everyone want to do.` => No, this is normal behavior because all the editor does the same thing, and I didn't see any user complain about it. All the TablePlus user emailed me complain about tab behavior is in free version.

Not annoying => no sales => the project is dead. The user wants a good product, but

[2018-02-14 17:20] gjuchault commented on #259
I'm not sure it works like you say. If they get annoyed, they either deal with it (-> sublime text warning every X saves), either they buy the software, or they use some illegal version.
The other way is to avoid annoying people, but still without offering them the feature.
For example the Dark Theme in TablePlus seems cool : if you click on the option, you get the alert. If you don't click on it

[2018-02-14 17:32] huyphams commented on #259
As I said, we offered multiple tabs and workspaces are premium features (and we mentioned it clearly in our pricing.)
The reason we keep 2 tabs in free version because it's necessary for users, who click on a foreign key.

TablePlus free tier is good enough for basic users, but if you are an advanced user and you use the app heavily, you might want to buy it.

[2018-02-14 18:10] #248 closed

[2018-02-14 18:10] #249 closed

[2018-02-14 18:13] #240 closed

[2018-02-14 18:14] #232 closed

[2018-02-14 18:14] #54 closed

[2018-02-14 18:16] #253 closed

[2018-02-14 18:17] #239 closed

[2018-02-14 18:19] #258 closed

[2018-02-14 18:26] huyphams commented on #241
@richcorbs please upgrade to build 88, it has all the shortcut key 😄
You can press: command + shift + F to start filter columns.

[2018-02-14 18:26] #241 closed

[2018-02-14 19:40] gjuchault commented on #259
Allright, I guess we can close this then

[2018-02-14 19:40] #259 closed

[2018-02-14 22:43] nathanpalmer commented on #256
Oh! That's great that it has it. Though, I would expect it to show up in the File menu (especially since Open is already there.)

![screen shot 2018-02-14 at 5 39 37 pm](https://user-images.githubusercontent.com/125599/36231970-11ab79fc-11ae-11e8-88f8-a521f5b54ba8.png)

I like the Favorite feature, that could be useful.

What I'm noticing though is this.

1. If I save a file, I can't just re-save

[2018-02-14 22:44] nathanpalmer commented on #254
Works great! Thanks.

[2018-02-14 22:44] #254 closed

[2018-02-14 22:47] nathanpalmer commented on #255
2. So, I did see this option, and it's nice. It would be great if it wasn't needed as an option though. If you get multiple results, then multiple tabs automatically show up. Is there a reason I'm missing where we'd want to suppress the results of multiple queries and only show the first? (effectively having that option turned off.)

3. It may be that my usage is different than the norm, but runni

[2018-02-15 02:08] huyphams commented on #255
2. Because some users run a script with a thousand of statements (they import a SQL file) and they don't need to see all the result.
3. I'm thinking, but it's one-time config so it's not a big deal, it's just more convenient for new users.

[2018-02-15 10:03] tomaffirmedit commented on #209
Also cannot connect to an MS SQL server, but have a different error.

![image](https://user-images.githubusercontent.com/9863203/36250928-47425a70-1237-11e8-940c-9af0ed248cf9.png)

Claims it is a login error but datagrip handles it fine.

[2018-02-15 10:58] stsepelin opened #260 "Using TAB & SHIFT+TAB in tables"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
88
3. The steps to reproduce this issue:
While editing columns in row by double click on column I can switch between columns in this row using TAB & SHIFT + TAB.
![untitled-1](https://user-images.githubusercontent.com/8102174/3

[2018-02-15 14:45] leeola opened #261 "When renaming a table during creation, the new name isn't updating everywhere"
- Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.7.17

- Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

build 88

- The steps to reproduce this issue:

1. Create a table, but don't yet commit
2. Open the table view and rename the table by using the field to the left of the Primary key field. Type in a new name, hit enter.

[2018-02-15 14:48] huyphams commented on #261
Hey @leeola thanks for the feedback. I will fix this issue on update 89.

[2018-02-15 14:50] huyphams commented on #209
Hi @tomaffirmedit , this error mean you should include domain in user field. for example

huy@domain name.

I'm not sure how DataGrip handle this case (probably they add it automatically). but TablePlus respects user input.

[2018-02-15 14:52] huyphams commented on #260
I see, thanks for the feedback 😄

[2018-02-15 15:03] leeola opened #262 "Varchar is not available in the data_type dropdown"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.7.17

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

build 88

3. The steps to reproduce this issue:

- Create a new table
- Create a new column on the new table
- Click the dropdown list, VARCHAR is not available.

[2018-02-15 15:12] huyphams commented on #262
Thanks, I just added Varchar in new build 89, because varchar is a data type with specific data length.

The current UI doesn't allow user sets data length. Because of this limit, I will change the UI in next update to support this case.

[2018-02-15 16:59] nathanpalmer commented on #255
I’d argue that it’s imports to see all the results even for large queries. Going back to my SQL Server days I’d run very large scripts with hundreds of statements in it. Seeing all the results, updated and deleted counts in the result window was very important to ensure accuracy. Especially because it was common to put a begin transaction at the top and a rollback at the bottom, verify all the cou

[2018-02-15 17:02] nathanpalmer commented on #253
I wasn’t able to try that build, but the latest release that includes these work perfect. Thank you!

[2018-02-15 17:10] leeola commented on #93
Thanks for this feature!

[2018-02-15 17:25] leeola opened #263 "Foreign Keys aren't applied on table creation"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.7.17

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

build 88

3. The steps to reproduce this issue:

- Create a new table, but don't commit
- Add a new column on that table
- Give the column a name, and a data type (such as int) that matches the foreign key type you'll

[2018-02-15 18:46] tonyxiao opened #264 "Foreign keys from postgres schema are not shown"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres 9.6.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
88

3. The steps to reproduce this issue:

Table creation statements

![image](https://user-images.githubusercontent.com/696842/36274652-4aff8b5a-123d-11e8-9e86-8e0e3faa35ed.png)

How Postico shows it

![image](https:

[2018-02-15 19:00] coredumperror commented on #236
Thanks. I thought that might be it, but I wanted to confirm.

[2018-02-15 22:43] brian-crane opened #265 "On Quit (Cmd + Q), have an option for a confirmation screen asking, "Are you sure you want to quit? Yes / No""

[2018-02-15 22:45] brian-crane commented on #265
btw I like the updated website - very slick!

I can also see you are first in Google results when entering 'TablePlus' - good!

[2018-02-16 01:05] huyphams commented on #265
Thanks, Brian. If there are uncommit changes, TablePlus will show you a confirmation popup like this:

On Build 88 I fixed many issues related to this confirmation popup. Which Build are you on @brian-crane?

<img width="1075" alt="screen shot 2018-02-16 at 8 03 22 am" src="https://user-images.githubusercontent.com/3654622/36288975-0375264c-12f0-11e8-9755-5724e2849c67.png">

[2018-02-16 06:16] huyphams commented on #264
Hi @tonyxiao can you try this buidl: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
I just fixed the issue above.

[2018-02-16 09:29] skibz commented on #221
sorry about that, reopening! and thanks again for helping out!

[2018-02-16 11:15] zydeco opened #266 "Copying/exporting from a table with no primary key includes the ctid system column"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 88

3. The steps to reproduce this issue:
 * Select some rows from a table with no primary key
 * Copy it (⌘-C or context menu Copy Rows As > anything)
 * Paste it (either in a table with the same schema, or a

[2018-02-16 11:16] huyphams commented on #266
Thanks, I'm fixing it now.

[2018-02-16 12:48] huyphams commented on #266
Hey @zydeco could you try this build and let me know if it works for you?
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-02-16 13:41] Andre-Depop opened #267 "UI freezes for a few seconds when receiving large (8M) datasets and closing its tab"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 8.0.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 88

3. The steps to reproduce this issue:

Make a query that returns a huge amount of data; when that returns the UI will freeze for 15 seconds, preventing work in other tabs. Once the initial freeze is over

[2018-02-16 13:46] huyphams commented on #267
This issue should be fixed it I implement this: https://github.com/TablePlus/TablePlus/issues/194

[2018-02-16 13:57] Andre-Depop commented on #267
Thanks for the quick reply 👍

[2018-02-16 14:04] zydeco commented on #266
Yes, that works perfectly, thanks!

[2018-02-16 14:04] #266 closed

[2018-02-16 18:03] reidcooper opened #268 "How do I add a Redshift Database?"
Version 1.0 (88)

[2018-02-16 19:38] travisdahlke opened #269 "New > Connection From Url always creates Postgres connection"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
N/A

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
88

3. The steps to reproduce this issue:
New > Connection From Url
Paste `mysql://localhost/test`, click 'Import'
The Postgres connection settings window appears, while the Name field is populated with "MySQL Connection"
![conn

[2018-02-16 21:12] sntran commented on #225
Hi @huyphams,

Is there an update to it? We have a lot of SQL Server databases so fixing this would helps a lot.

[2018-02-16 22:48] bhrd opened #270 "Minor - Allow arrow key navigation when switching databases"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
88
3. The steps to reproduce this issue:
Press `command+K` to switch databases.
Start typing database name
Down arrow does not choose from filtered list. (I notice that tab allows switching to the list and down arrow works afte

[2018-02-17 00:32] huyphams commented on #269
It's fixed in this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Could you give it a try 😄

[2018-02-17 00:33] huyphams commented on #268
Hi @reidcooper you can use PostgreSQL driver to add `Redshift Database`, I optimized it to work with Amazon Redshift.

[2018-02-17 00:34] huyphams commented on #270
Sure @bhrd 😄

[2018-02-17 00:35] huyphams commented on #225
We are working on it, it will be released in build 89 👍

[2018-02-17 01:52] huyphams commented on #238
Hi @jbrooksuk it's fixed in this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Can you give it a try and let me know if it works for you 😄

[2018-02-17 01:54] huyphams commented on #209
Hey @zoispag and @zedentox could you try this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
And let me know the error message, thank you so much. (you can resize the error popup to see the message).

[2018-02-17 01:55] huyphams commented on #225
Hey @sntran it's fixed: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
please let me know if it works for you. Thanks!

[2018-02-17 02:17] tonyxiao commented on #264
Yep seems to be fixed by your custom build. I'm assuming this will be released as part 89?

[2018-02-17 02:17] tonyxiao commented on #264
Also I should probably file a separate issue for it, however these `varchar` labels don't make any sense to me.

<img width="329" alt="cloudapp annotation 2018-02-16 at 18 17 21 png" src="https://user-images.githubusercontent.com/696842/36337190-a5e70d1e-1345-11e8-9acc-9a4795416607.png">

[2018-02-17 03:09] tonyxiao opened #271 "Confusing varchar label next to field inspector"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres 9.6.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
88

3. The steps to reproduce this issue:

Inspect any database table. I see a bunch of `varchar` labels don't make any sense to me.

![image](https://user-images.githubusercontent.com/696842/36337503-bf4838e4-134c-11

[2018-02-17 12:12] zoispag commented on #209
Hey @huyphams
It looks the same to me:

<img width="475" alt="screen shot 2018-02-17 at 13 11 21" src="https://user-images.githubusercontent.com/21138205/36340809-33538a1c-13e4-11e8-883b-1b9aa88d3e09.png">

Build 88

[2018-02-17 17:45] thenaturalist opened #272 "Lot of text makes the SQL editor dysfunctional"
Hey,

I noticed when typing a long INSERT INTO statement in the SQL editor, it just becomes dysfunctional and does not execute the query. This is quite annoying, I would like to be able to simply copy paste statements without a thought about when to (randomly cut them off). Details below:

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.6

2. Which TablePlus b

[2018-02-17 18:49] zedentox commented on #209
Same message here.

I dont know if it can help but currently I use my database like this : (ASP code)
[code]

Also I use DBeaver on MacOS with this JDBC url : ```jdbc:sqlserver://my.ip.address.here:1433;databaseName=mycatalog```

In driver settings I have :

| | |
| ---- | ---- |
| Driver name | Microsoft Driver |
| Driver type   | Generic              |
| Class name | com.microsoft.sqlserver.jdbc

[2018-02-17 23:59] Andre-Depop commented on #267
Yes, the data was text only; about 20 columns or so of integers & strings.

[2018-02-18 04:38] huyphams commented on #272
Thanks, let me see this bug.

[2018-02-18 19:22] timscott opened #273 "Make Beautify Customizable"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 9.4.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

88

3. The steps to reproduce this issue:

This is a feature request.

Beauty is in the eye of the beholder, is it not!? I find this particularly true for SQL. For example, SHOUTING CASE is particularly painful to

[2018-02-19 04:03] huyphams commented on #273
Probably I will expose beautify API, then you can add a beautify plugin to TablePlus:
some resource I found:
- https://github.com/zeroturnaround/sql-formatter
- https://github.com/jdorn/sql-formatter
- https://github.com/vkiryukhin/vkBeautify

[2018-02-19 04:37] huyphams commented on #71
`In Querious you can easily filter the current table with a nice overview of the available columns, e.g.`
Our new advanced filters can help 😄 :

<img width="1118" alt="newfilter" src="https://user-images.githubusercontent.com/3654622/36362657-379b1352-1569-11e8-9557-38368d569c48.png">

[2018-02-19 06:37] timscott commented on #273
@huyphams Awesome! Maybe not me, but somebody will do it. Or maybe me. :)

[2018-02-19 06:42] huyphams commented on #273
The reason we expose API and build the plugin system because we don't want to include all the things in one tool (TablePlus can become a complicated application for new users). if people want a feature, they simply install it.
About the plugin, most important features: import, export, viewers process data will be implemented and maintained by TablePlus team. If you want to contribute to plugin, yo

[2018-02-19 06:48] timscott commented on #273
@huyphams. Smart. As an Atom fan, I love the plugin model. I’m confident I’ll see a lot of great plugins.

[2018-02-19 06:48] #273 closed

[2018-02-19 08:15] keichinger commented on #71
I'm deeply in love with these filters 😍😍😍😍 You totally nailed it how I imagined it being implemented. Awesome job! ❤️

The only major feature left for us before we can jump ship is the import/export, which is probably the hardest ☺️

[2018-02-19 08:49] jbrooksuk commented on #238
@huyphams this is working perfectly. Thanks 🚀

[2018-02-19 08:49] #238 closed

[2018-02-19 12:28] hhschu opened #274 "Feature request: Table schema reference"
I often need to reference table schemata, mostly to find out which columns are in which tables, column names, etc., when I write queries.

It would be nice if there's a split panel or something that I can glance to when I'm writing SQL statements. Autocomplete helps, but doesn't solve the issue entirely.

[2018-02-19 12:31] huyphams commented on #274
There is a split pane feature, you can press command + D (when you are in SQL Query screen).

You can suggest name by write query like this:

SELECT * FROM table_name as `c` where `c.<the column name goes here>`

[2018-02-19 12:36] hhschu commented on #274
I aware you can have a split SQL query pane. But what I was looking for is something like the `Structure` on the side _when_ I am writing queries for reference.

[2018-02-19 12:36] huyphams commented on #274
ah I got it, I will find the way to do it after release advanced filter feature.

[2018-02-19 17:15] sntran commented on #225
@huyphams , I have tested build 89 and it is indeed fixed. Thanks!

[2018-02-19 17:16] #271 closed

[2018-02-19 17:16] #269 closed

[2018-02-19 17:17] #264 closed

[2018-02-19 17:18] #225 closed

[2018-02-20 11:36] tomaffirmedit commented on #209
@huyphams Thanks this resolved my issue. Maybe a nice thing to add would be a user prompt and ask if they want the domain name added for them, or a more descriptive message. Regardless thanks for making this app it is outstanding.

[2018-02-20 15:47] Ilyes512 commented on #236
Is there somewhere where we can track the progress of the Redis driver (the backlog).

[2018-02-20 15:50] huyphams commented on #236
We only have on public roadmap here: https://github.com/TablePlus/TablePlus/projects/1
if you want any feature, you can create an issue for tracking that feature 👍

[2018-02-20 15:52] Ilyes512 commented on #236
Well I can see the keys now, but I can see the value and other possible meta data like TTL. I would be nice if there an issue with all (minimal) features that are needed for a "complete" redis client.

[2018-02-20 15:55] huyphams opened #275 "Redis minimal features"
- [ ] Listed key, value, TTL.
- [ ] Support edit key, value, TTL.
- [ ] Support view for some native type: hash, array...
.....

Feel free to comment a feature here and I will update this post.

[2018-02-20 15:56] huyphams commented on #236
I just created new issues for this @Ilyes512 https://github.com/TablePlus/TablePlus/issues/275

[2018-02-21 00:12] aphex commented on #135
To add to this, as someone is looking at enum, is it possible to update the data view of enum columns also. It would be really nice if they used a dropdown select box instead of being able to type whatever into the box.

thanks!

[2018-02-21 08:26] JeppeKnockaert commented on #98
This issue still exists. Every time I update TablePlus, I need to login again.

[2018-02-21 08:28] huyphams commented on #98
Hi @JeppeKnockaert TablePlus stores the token key in the keychain.
Can you open the keychain and search `TablePlus-token` then delete the key and start the app again?

[2018-02-21 08:42] JeppeKnockaert commented on #98
I have no TablePlus-token entry, but I do have a lot of "TablePlus" entries. I've deleted all of them and restarted the app. I'll have to wait until the next update to see if this fixed my issue. I will report back to you at that time.

[2018-02-21 08:44] huyphams commented on #98
The other entries are connection passwords if you deleted them all that means you should enter it again in the connection form 😱

[2018-02-21 08:52] JeppeKnockaert commented on #98
Yeah, I figured, no problem though 😛

[2018-02-21 11:10] FoxyBOA opened #276 "Feature request: Snippet/Template (preferable with hot keys)"
I used to use snippets/templates with hot keys  in tools like Aqua Data Studio. It would be great to see them in TablePlus too.

E.g.
1. Cmd+Shift+S -> "SELECT FROM | WHERE". Where | is a cursor location for quick table selection
2. Cmd+Shift+I -> "INSERT INTO | () VALUES()"

Anyway, snippets/templates (especially customizable) will be a big plus for many users of TablePlus (especially with hot ke

[2018-02-21 11:48] huyphams commented on #276
Hey, @FoxyBOA  thanks,
I think it's nice Idea. I will try it out and let's see how we can integrate it to TablePlus

[2018-02-21 12:58] theflow commented on #166
It's not respecting the ssh/config for me. Is there any way to see some debug output of the connection attempt?

[2018-02-21 13:00] huyphams commented on #166
Hey can you share me the screenshot of your connection config? this is mine with ssh/config.

<img width="612" alt="screen shot 2018-02-21 at 7 59 26 pm" src="https://user-images.githubusercontent.com/3654622/36481249-d33f9bb4-1741-11e8-8f38-bee3d34fd56e.png">

[2018-02-21 13:15] theflow commented on #166
yeah, I saw the comments earlier, mine looks the same. Are you actually parsing the ssh/config or relying on a library that uses it? Anything that could be wrong in the .ssh/config format? (it works with ssh)

![connection___](https://user-images.githubusercontent.com/1552/36481877-8aa6ad96-1711-11e8-8113-a4f7e57471b0.png)

[2018-02-21 13:18] huyphams commented on #166
I used the official API from libssh to handle the config. This is my ssh config.

[code]

The location of the config is ~/.ssh/config.

[2018-02-21 22:02] Sennahoi opened #277 "Alphabetically ordering when clicking on a column in a sql query result"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MSSQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
89

3. The steps to reproduce this issue:
Microsoft SQL Server 2016

- Connect to a mssql server
- Open the sql query window and execute a select that returns more that 10 entries.
- Click on an id column (long, primary key) a

[2018-02-22 00:22] RoLoTo opened #278 "Paid user on multiple machines - User logged out and credentials not saved"
Driver: N/A
Build: v1.0 build 89
Steps to reproduce: Login on one machine, then login on another.  Close the connection.  Go back to the original machine, user is logged out, the login credentials are not even saved.

Consider saving the credentials and having a easy path to 're-login'.

[2018-02-22 01:22] sullerandras opened #279 "Infected with bitcoin miner?"
Downloaded the zip file and scanned with Virustotal: https://www.virustotal.com/#/file/fe8ad23d9b7ecb2d1c2da02e6bd643e3d284342dbbe9cf892c54271c486a4cdc/detection
Two scanner detected the same trojan. False positives?

[2018-02-22 01:54] huyphams commented on #279
Hey @sullerandras
It's say `Contains one or more Mac OS X executables. Seems to be a Mac application placed in a compressed file.`

Yes, TablePlus contains more Mac OS X executables. because it includes pg_dump and pg_restore, mysql_dump, mysql_restore executeable.

TablePlus support backup/restore.

[2018-02-22 02:00] huyphams commented on #278
Hi @RoLoTo
TablePlus license has the seat number, if you want to use it on multiple devices you must increase this number. (By click in account in welcome screen).

We wrote it in our FAQ and the license form:
<img width="359" alt="screen shot 2018-02-22 at 8 59 54 am" src="https://user-images.githubusercontent.com/3654622/36516032-c3ff3174-17ae-11e8-9f9d-dfa26c43854e.png">

https://tableplus.io/f

[2018-02-22 02:00] #278 closed

[2018-02-22 02:29] RoLoTo commented on #278
From the FAQ:

_You can log in to multiple computers, the number of seats of your license is the number of devices you can log in at a time. When you are out of seats, if you log in to a new device, your oldest device will be removed._

So I am logging into multiple computers, but only one at a time.  The problem is when I am logged out of one of the computers, the credentials are completely forgo

[2018-02-22 03:07] huyphams commented on #277
It's fixed: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Thanks for the reporting 👍

[2018-02-22 03:17] cloudkite commented on #149
@huyphams any news on this? This is the only thing holding me back from purchasing at the moment 👍

[2018-02-22 03:25] sullerandras commented on #279
Your comment seems unrelated. I'm talking about these alerts:
<img width="1107" alt="screen shot 2018-02-22 at 11 25 14 am" src="https://user-images.githubusercontent.com/394358/36518839-2017309c-17c3-11e8-812d-d55c6d60feff.png">

[2018-02-22 03:31] huyphams commented on #279
Sorry, I thought to click on detail to show the error (but it's not).

TablePlus didn't have any bitcoin miner (I don't see any reason why I should add a miner and public my profile as an author at the same time 😄).

As you see, it uses 0% CPU in idle. If there is some background task, it will increase CPU usage:

<img width="912" alt="screen shot 2018-02-22 at 10 28 44 am" src="https://user-image

[2018-02-22 04:06] huyphams commented on #149
Hi @cloudkite it works in progress, I'm fixing some SQL Server Syntax to support multiple schemas, create a function...
You can check out the newest build here: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
This build can show you the functions.

[2018-02-22 04:21] sullerandras commented on #279
It wasn't trying to imply that you deliberately added a bitcoin miner to your own product :)
Maybe an attacker managed to replace the zip files on s3? If you are sure that the zip files on s3 are not tampered with then it's probably a false alarm?

[2018-02-22 04:25] huyphams commented on #279
The S3 is read-only mode and I have `dsa signature key` to make sure the zip was not modified.
Btw, I'm appreciated  that you report this to me 👍
I always respect user policy, and the security is my first attention when making any new feature.

[2018-02-22 06:23] Sennahoi commented on #277
Awesome, it works. Thanks for the fast fix!

[2018-02-22 06:23] #277 closed

[2018-02-22 06:42] Sennahoi opened #280 "UI freezes after a long query execution"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MSSQL Azure
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
89
3. The steps to reproduce this issue:
- Connect to an Azure MSSQL instance
- Execute some query like select * from someTableName
- Wait a minute or more and see the UI freezing even after the query returned

The table

[2018-02-22 09:01] huyphams commented on #279
Hey @sullerandras I found this: https://discussions.agilebits.com/discussion/86860/avg-quarantined-1password-libswiftdispatch-dylib
Hope it helps

[2018-02-22 10:42] tomspeak commented on #236
+1 for redis client. Would love even the basic ability to view a redis store.

Selfishly, for my set up, once Redis is implemented, TablePlus is a complete solution for me!

[2018-02-22 11:57] huyphams commented on #279
For people who come later, Avast is working to fix this false alarm 😄
<img width="747" alt="screen shot 2018-02-22 at 6 56 02 pm" src="https://user-images.githubusercontent.com/3654622/36537272-3d10e83e-1802-11e8-96fd-db66955e6b85.png">

[2018-02-22 22:16] RoLoTo opened #281 "Attempting to delete a stored procedure on Postgres fails"
1. PostgreSQL 9.6.1

2. Build 89

3. Try to delete any stored procedure.

_"ERROR:  syntax error at or near ";"
LINE 1: DROP FUNCTION "public"."zzz";
                                         ^

All DML changes were reverted"_

[2018-02-23 07:24] huyphams commented on #281
It's fixed in this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Thanks for the reporting 👍

[2018-02-23 09:52] sullerandras commented on #279
The build linked in #281 does not trigger any alerts on virustotal: https://www.virustotal.com/#/file/4567cf36158bf8c80de623d63c2c7f27eac945df2cde5aa51d550e19c772725b/detection
Not sure what does this prove though. Maybe the zip on s3 is really compromised?

[2018-02-23 09:58] huyphams commented on #279
I don't think so because I'm the only one who maintains the Amazon account and all the builds were uploaded by me.
We should wait for Avast fix their error and rescan again 🤔

[2018-02-23 10:12] huyphams commented on #279
Btw @sullerandras are you sure the system doesn't cache the result (based on SHA-256 key)? Because when I submit the old build it produces the result immediately instead of one by one?

[2018-02-23 17:34] clakeb opened #282 "I cannot stand the new filter dropdowns"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.*
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 89, macOS
3. The steps to reproduce this issue:
update TablePlus

The new filter drop downs when viewing a table are painful for me because they slow me down. Instead of me just writing my `WHERE` statements qui

[2018-02-23 17:37] huyphams commented on #282
Hi @clakeb please upgrade to build 90 and it will solve your issue 😄

[2018-02-23 18:32] jiverson opened #283 "Unable to scroll horizontally"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySql Latest

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
90

3. The steps to reproduce this issue:
Ran a simple query with many columns and I am unable to scroll horizontally. The scrollbar shows up when you tab through the columns but you cannot click or scroll with it. The

[2018-02-23 19:32] #282 closed

[2018-02-24 06:12] #281 closed

[2018-02-24 23:11] felipehn opened #284 "MS SQL 2012, cannot see tables, views, etc under "Items""
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2012

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (90)

3. The steps to reproduce this issue:
I can log into the DB with no issues, but after selecting the Database I cannot see any tables, functions, store procedures, etc.; I'm able to execute

[2018-02-25 02:05] huyphams commented on #284
Hi @felipehn could you try to run this query: SELECT table_name,table_schema,table_type FROM information_schema.tables WHERE TABLE_CATALOG = `Your database name`; is it return any result?

[2018-02-25 02:18] felipehn commented on #284
no results, all empty

[2018-02-25 02:26] huyphams commented on #284
Thanks, could you try again with this query:

SELECT [table_name],[table_schema],[table_type] FROM [`Your database name here`].[information_schema].[tables];

This query is using to get tables, if it returns empty that means TablePlus will not show any tables.

[2018-02-25 03:22] felipehn commented on #284
I’m getting "Invalid object name”, if I for “master” I get those tables (the ones in master) as records though

I usually do select * from [database name].sys.tables don’t know if that helps

thanks,
Felipe.

[2018-02-26 01:26] sullerandras commented on #279
Virustotal caches the results. You can even search for a sha256 hash to view the latest scan results without having to upload the file again.
Anyway this was clearly a false alarm, so i'm closing it.

[2018-02-26 01:26] #279 closed

[2018-02-26 07:59] JeppeKnockaert commented on #98
Seems to be fixed, I updated without having to log in again, thanks for the help!

[2018-02-26 10:43] mneuhaus commented on #219
![](https://media.giphy.com/media/3o7abA4a0QCXtSxGN2/giphy.gif)

[2018-02-26 10:48] mirfilip opened #285 "Add possibility to import MySQL Workbench connections and groups"
I have a tons of MySQL connections and a nice groups structure in MySQL Workbench. I'd like to try out TablePlus but copying all of them is infeasible.

Many popular DB clients have an option to import connection structure from competitors.

[2018-02-26 10:50] huyphams commented on #285
This is one of the know issues, and I have a plan to do it.

Right now, there is another option but not good, you can copy connection URL and import them to TablePlus (the limitation is one by one).

[2018-02-26 19:53] M4zD4i commented on #212
Hey, @huyphams , I'd like to translate this amazing tool to russian, but it seems there no json file with source word sets in https://github.com/TablePlus/language-packs repo. Github says it's empty nowtime

[2018-02-26 19:59] brian-crane opened #286 "Scrollers are hiding again!!!"
Scrollers are hiding again in the query result window, even with show scrollers enabled....... They hide after you stop scrolling with mouse wheel.

[2018-02-26 20:03] brian-crane commented on #286
I was able to download a good buld here - thanks huy

https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-02-26 21:32] brian-crane opened #287 "Whenever I try to open an old version of TablePlus it is always saying "build 90", which is the most recent build?"
Why can I not run old versions of TablePlus anymore!??!?!

[2018-02-26 21:36] huyphams commented on #286
Hi @brian-crane sorry for the late response because it's 4 AM, here is the link:
https://www.dropbox.com/s/8yci19zdlmnzvfz/TablePlus.zip?dl=0
TablePlus > Preferences > Always show scrollers.

[2018-02-26 21:37] huyphams commented on #286
It's already pushed on the upcoming build 91.

[2018-02-26 21:39] huyphams commented on #287
Hmm, I'm not sure, but I just download an old 89 build from version history and it's 89 🤔, probably you opened a wrong zip or something?

[2018-02-26 21:45] #287 closed

[2018-02-26 21:52] huyphams commented on #286
Hi @brian-crane can you confirm that the build work for you 😁?

[2018-02-26 23:10] tianhao opened #288 "How to rename the title of favorite?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
90

3. The steps to reproduce this issue:
(1) Right click one of History -> "Add to Favorite"
(2) Right click one of Favorite -> "Edit" -> rename "Untitled" to "Test" and type ENTER
but it not work

[2018-02-26 23:11] #288 closed

[2018-02-26 23:12] tianhao commented on #288
COMMAND+S work

[2018-02-26 23:45] tianhao opened #289 "Feature request: search and grouping the item of favorite like bookmark of Browser"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
90

3. The steps to reproduce this issue:
I have a lot of favorites, need search and grouping

[2018-02-27 00:36] RoLoTo commented on #278
@huyphams

[2018-02-27 01:46] huyphams commented on #278
Hi @RoLoTo I'm sorry but it's not possible. We can't make this features just because people want to use it on 2 computers but only pay for one computer.
The best solution is extending the number of seats. Currently, we discount it only $35

[2018-02-27 01:53] huyphams commented on #289
Thanks for the feedback, we have a plan to do it:
https://github.com/TablePlus/TablePlus/issues/182

[2018-02-27 05:36] jiverson commented on #283
Yes verified that does work. 👍

[2018-02-27 05:36] #283 closed

[2018-02-27 07:02] mneuhaus commented on #219
No I think that should suffice 🙂

[2018-02-27 17:17] leeola opened #290 "Adding nullable timestamp columns does not work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.7.17

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

90

3. The steps to reproduce this issue:

- Create a table, commit it.
- Add a new column to the table, don't commit it
- Set the datatype to timestamp
- Set the `is_nullable` value to `YES`
- Attempt to commit the c

[2018-02-27 22:11] astewart-twist commented on #197
Build 90 appears to once again break for El Capitan.

[2018-02-28 01:23] eric88 opened #291 "Database list empty for postgresql/redshift"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    * PostgreSQL 9.4.7
    * Redshift (PostgreSQL 8.0.2)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
90

3. The steps to reproduce this issue:
    * Connect to a postgresql or redshift database
    * Click "Show Database List" or press CMD-k
    * List is empty

It's working

[2018-02-28 01:50] huyphams commented on #197
Hi @astewart-twist could you give me more information about the bug? because I have tested on EL Capitan before released this build.

[2018-02-28 01:56] huyphams commented on #290
I followed your steps but it works, I'm not sure how many columns on your new table maybe it's another bug.

![feb-28-2018 08-54-52](https://user-images.githubusercontent.com/3654622/36765698-14cfa858-1c65-11e8-85f4-7f6785b87d07.gif)

[2018-02-28 02:01] huyphams commented on #291
Thanks @eric88

Could you open SQL Query on Redshift and PostgreSQL 9.4.7 (Which have that bug) and run this query: `SELECT datname AS database_name,pg_database_size(datname) AS database_size FROM pg_database;`

TablePlus uses this query to get database listing.

[2018-02-28 02:05] eric88 commented on #291
@huyphams well, that explains it.

On PostgreSQL 9.4.7, I get "ERROR:  permission denied for database rdsadmin". This is an Amazon RDS database, so it's probably just the restrictive permissions they have for the `pg_database_size` function.

On Redshift, I get "ERROR:  function pg_database_size(name) does not exist
HINT:  No function matches the given name and argument types. You may need to add

[2018-02-28 02:11] huyphams commented on #291
Thanks @eric88 I will temporary disable `pg_database_size` until I have a new solution.
Here is the hotfix build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-02-28 02:23] huyphams commented on #197
<img width="1281" alt="screen shot 2018-02-28 at 9 20 46 am" src="https://user-images.githubusercontent.com/3654622/36766538-f44ed03c-1c68-11e8-951a-28e2df197d7e.png">

[2018-02-28 04:06] alexitaylor opened #292 "Improve selected row color pattern after un-focusing with Dark theme"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**PostgreSQL 9.6.6**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Build 90**

3. The steps to reproduce this issue:

- Select Dark Theme.
- Select a row (blue focus color pattern is fine).
- But when focusing on another area of the app, the grey color schema of the once focu

[2018-02-28 04:41] huyphams commented on #292
It's fixed now 😄
<img width="1162" alt="screen shot 2018-02-28 at 11 40 59 am" src="https://user-images.githubusercontent.com/3654622/36770328-47b5d0a0-1c7c-11e8-9492-0035215eaceb.png">

[2018-02-28 07:41] Shimakuchi opened #293 "Native functions for databases"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**Microsoft SQL Server 2016**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Version 1.0 (87)**

3. The steps to reproduce this issue:
- Klick "Add new Row" or use the shortcut `CMD+ALT+I`
- in a date column use `NOW()` from the context menu

`NOW()` is no MSSQL function ... u

[2018-02-28 07:42] huyphams commented on #293
Thanks for the feedback, I'm fixing it.

[2018-02-28 07:59] Shimakuchi opened #294 "Connection from URL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**Microsoft SQL Server 2016**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Version 1.0 (90)**

3. The steps to reproduce this issue:
I tried to connect with a connection string like this
`jdbc:sqlserver://vm-sql.domain.local:1433;databaseName=MYDATABASE`

and get the error `

[2018-02-28 08:00] huyphams commented on #294
I don't know the `;` is valid for URL or not but TablePlus uses URL parser to parse the URL.
It should work if you replace `;` with `/`.

[2018-02-28 08:06] Shimakuchi commented on #294
no unfortunately not. still get `Invalid URL`

[2018-02-28 08:09] huyphams commented on #294
Did you include the `jdbc`? Hmmm looks like I should preprocess the URL first to replace `;` and `jdbc`

[2018-02-28 08:34] Shimakuchi opened #295 "MSSQL Auto increment primary key"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**Microsoft SQL Server 2016**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Version 1.0 (90)**

3. The steps to reproduce this issue:

Create a table like so:

[code]

- Insert a new Row `CMD+ALT+I`
- Fill all the Fields and try to commit the changes

I get the error
`DEFAULT

[2018-02-28 08:41] Shimakuchi commented on #294
oh, ok ... nevermind :D overlooked the `jdbc:` sorry.

anyway. I come from the java world where a sql connection string always looks like this `jdbc:sqlserver://vm-sql.domain.local:1433;databaseName=MYDATABASE` Maybe you can enhance the support for those url types?

thanks for helping me, kind Regards

[2018-02-28 08:41] #294 closed

[2018-02-28 08:43] huyphams commented on #294
I already fixed this issue by replacing `jdbc:` and `;` it will be included in next update 91 on Friday 😄
Thank you for the reporting.

[2018-02-28 08:52] huyphams commented on #295
I fixed: #295 #294 #293 on this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Please let me know if it fixes your issues.

[2018-02-28 09:24] phuchle2 opened #296 "Stop executing SQL query"
#### 1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres

#### 2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (90)

#### 3. The steps to reproduce this issue:
For example, I accidentally execute the following query
![screen shot 2018-02-28 at 4 16 05 pm](https://user-images.githubusercontent.com/28104592/36779

[2018-02-28 09:51] huyphams commented on #296
It's duplicated:

https://github.com/TablePlus/TablePlus/issues/198

[2018-02-28 15:44] huyphams opened #297 "Support change TablePlus font"
it would be great if TablePlus allows user pick their font instead of the current `Menlo` font.

[2018-02-28 16:33] tianhao opened #298 "Feature request: refresh current query"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 90

3. The steps to reproduce this issue:
add a button or shortcut to refresh the data window
not execute current cursor sql

[2018-02-28 16:34] huyphams commented on #298
Hi @tianhao , there is a refresh button here:
<img width="180" alt="screen shot 2018-02-28 at 11 34 11 pm" src="https://user-images.githubusercontent.com/3654622/36799494-e619feb6-1cdf-11e8-8de2-b8478f80d4a0.png">

The short cut key is: command + R.

[2018-02-28 17:10] huyphams commented on #298
Btw I just make the refresh button more visible:
<img width="218" alt="screen shot 2018-03-01 at 12 10 28 am" src="https://user-images.githubusercontent.com/3654622/36801523-fb6177a4-1ce4-11e8-8290-c3c34ac31a06.png">

[2018-02-28 17:11] #298 closed

[2018-02-28 17:56] alexitaylor commented on #292
Awesome! 👍

[2018-02-28 21:52] timster commented on #297
For the table list as well. I prefer to use a fixed-width font.

[2018-03-01 02:10] huyphams commented on #297
We called it is mono fonts, mono fonts are very popular in programming and it's using in editors because it has fixed-width.

[2018-03-01 06:40] #293 closed

[2018-03-01 06:40] #291 closed

[2018-03-01 06:41] #292 closed

[2018-03-01 06:42] #219 closed

[2018-03-01 06:49] ozairasim commented on #9
@huyphams Do you guys have an approximate release date in mind for the windows version?

[2018-03-01 14:24] mikejoseph opened #299 "[FEATURE REQUEST] Pre-populate backup filenames"
When dealing with a large number of development, staging and production databases it's really helpful to know which exports are which, having a consistent naming structure is really key.

It'd be really nice to have some sensible defaults when naming the database dump file name when running a backup, even if it's just something like SERVERNAME-DATABASE-YYYYMMDD.dump that would be a HUGE help.

[2018-03-01 14:51] huyphams commented on #299
Great idea 👍

[2018-03-01 15:39] huyphams commented on #194
Next update 92 👍

[2018-03-02 00:04] lee-40square opened #300 "SSL connection"
Am I missing something or are SSL connections not supported?

[2018-03-02 01:50] huyphams commented on #300
Are you using MySQL @lee-40square? we supported SSL MySQL and PostgreSQL

[2018-03-02 03:56] huyphams commented on #286
I changed the default to always show scroller from build 92 (upcoming). I'm sorry for the trouble you got :(

[2018-03-02 09:57] tianhao commented on #298
command + R is "Reload Workspace", not refresh current query of data window

[2018-03-02 09:58] huyphams commented on #298
What is `data window`? Reload workspace also refresh all the data.

[2018-03-02 10:55] Shimakuchi commented on #295
YES, works great

- [x] #295
- [x] #294
- [x] #293

THANKS

[2018-03-02 10:55] #295 closed

[2018-03-02 11:02] tianhao commented on #298
![qq20180302-190108](https://user-images.githubusercontent.com/365540/36896075-2bb18d8c-1e4c-11e8-8c93-f9ba98abf039.png)

[2018-03-02 13:06] huyphams commented on #298
Hmm, I think this request is hard because statements are unexpected.

Ex: `UPDATE "public"."comments" SET "created_at" = NOW() WHERE "id" = '7';`
If user enter this command and TablePlus refresh it automatically maybe gernerate unexpected result.

It can be an expected behaviour with you because if aware it but most of the TablePlus user didn't know that.

[2018-03-02 13:54] tianhao commented on #298
only work on select statements

[2018-03-02 14:00] huyphams commented on #298
I know it would be a select statement only but that can be weird behaviour. How does user know that the result was refresh and when they're not? I need to put something in SQL Query screen that shows `Only select statement can be refreshed when pressing: cmd + R` it's small improvement but can cause many hidden behaviours (and hard to implement too, the fact that detects the statement is read-only

[2018-03-02 14:06] PVGrad opened #301 "Vertical scroll freeze"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.4
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Latest Build 91
3. The steps to reproduce this issue:
Just scroll table data content with horizontal and vertical scroll
Recorded example in GIF: [link](https://giphy.com/gifs/1n8D4k0mwrqPVgwEGF/fullscreen)

[2018-03-02 14:08] huyphams commented on #301
Hey, could you go to preferences and set: Auto hide scrollers on. Is it solve the bug?

[2018-03-02 14:12] PVGrad commented on #301
I have only "Always show scrollers" and scroll freezes in any case - enabled or disabled state of this setting.

[2018-03-02 14:13] huyphams commented on #301
Ah sorry this build 😄it's on this build : https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-03-02 14:16] PVGrad commented on #301
No - same freezes with build from zip

[2018-03-02 14:18] huyphams commented on #301
Is it freezes in all tables or only in this table?
Currently, TablePlus can be frozen in some cases:  big JSON column, and text with one line but a very long line.

[2018-03-02 14:23] PVGrad commented on #301
Yes - this table contains text column with big json-string.
And I think that this behavior is still a UI-bug.

[2018-03-02 14:25] huyphams commented on #301
That's right, I'm working with Cocoa Core text to optimize this. It's a bug of Apple that needs some tricks to improve 😄 A lot of text isn't a problem but a lot of text in one line is a problem.

[2018-03-02 14:34] tianhao commented on #298
Ok

[2018-03-02 21:06] catskull opened #302 "Closing the app logs you out"
1. Driver: N/A

2. Build 91

3. The steps to reproduce this issue:

I bought a license and logged in. Closing the app and reopening it, I am now logged out. Can I have it remember my login and auto log me in?

[2018-03-02 23:03] #289 closed

[2018-03-02 23:06] tianhao commented on #182
Great! When released these features?

[2018-03-03 00:55] bhrd opened #303 "Autocomplete shows suggestions from all tables, as opposed to those relevant to the query."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres (Redshift)
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
91
3. The steps to reproduce this issue:
The autocomplete suggestions seem to be too exhaustive, and suggestions from multiple tables show up. I understand that this happens, only when I start typing field names t

[2018-03-03 01:51] huyphams commented on #302
Hi @catskull how many devices you logged in?

[2018-03-03 01:52] huyphams commented on #303
Wow!!! amazing 👍

[2018-03-04 16:29] huyphams commented on #182
Next update - Build 93 @tianhao
<img width="1217" alt="history_improved" src="https://user-images.githubusercontent.com/3654622/36947831-e85f7e7c-2003-11e8-83cb-59d4a00dd0e7.png">

[2018-03-04 17:47] zoispag commented on #209
Hi @huyphams , any news in this maybe?

[2018-03-04 18:00] tianhao commented on #182
We can manually add favorite item? Not Only "Add to favorite" from history list because that way need two step.
1. Add right click menu item when selected some text
2. Add "+" button on the bottom of the favorite list

Just suggestions :)

[2018-03-04 18:03] huyphams commented on #182
Hmm, I don't know why people didn't see that we have a drop-down `Run Current`:
<img width="455" alt="screen shot 2018-03-05 at 1 02 18 am" src="https://user-images.githubusercontent.com/3654622/36948662-de41ac5a-2010-11e8-92de-0852d13bc690.png">

Btw, I also added the right-click menu to allow add to favourite. Thanks for the suggestion.

[2018-03-04 18:08] huyphams commented on #209
Hi, @zoispag thanks for reminding me. Recently I tested, all the connection work fine. Maybe it's a problem with untrusted connections as zendentox mentioned above.
 It's very late in my country. So I will need some help from you tomorrow to figure out this bug.

[2018-03-04 18:10] zoispag commented on #209
Sure @huyphams ! I will be in the office tomorrow, so it's also a great time to test the actual server I am interested in. Let me know what can I do to help you!
Thank you for your time!

[2018-03-04 18:14] zedentox commented on #209
@huyphams Fell free to ask your questions. And good night. 😀

[2018-03-04 19:58] tianhao commented on #182
Append favorite to SQL Query

![qq20180305-035257](https://user-images.githubusercontent.com/365540/36949863-c58ecf72-2028-11e8-8970-d0f43ff66a21.png)

Append "\n"+favorite to SQL Query

[2018-03-05 05:15] huyphams commented on #182
Ah yeah, it's here incase you want to try before it released:
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-03-05 05:46] huyphams commented on #209
Hey, I'm here, it would be great if you can try this build and let me know if it works: @zedentox @zoispag
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

I have enabled NTLMv2 in this build.

[2018-03-05 07:56] tianhao commented on #182
@huyphams
I tested "Insert to SQL Query". It need to add a newline before inserting the favorite

[code]

[2018-03-05 08:02] huyphams commented on #182
It inserts the snippet exactly the caret position. So if you want a new line, I think you should add it first.

if I insert new line automatically I cannot save a value and insert it as a value (in this case the snippet is not really a statement).

Behaviours of TablePlus always predictable, and it should.

[2018-03-05 08:18] tianhao commented on #182
I think favorite is not snippet, favorite is from the complete SQL

[2018-03-05 08:21] huyphams commented on #182
But you can use it as a pinned board, right? I usually pin hash and everything here. Probably the use cases are different. An optimize can save time for 70% of users but 30% users must give up their favourite behaviours.

[2018-03-05 09:29] martenlindblad opened #304 "Vertica Database support"
I would like the Vertica database to be supported as that is what I have at work.

[2018-03-05 13:30] zoispag commented on #209
Ηι @huyphams. No luck with this build either. :(

[2018-03-05 16:21] fedor-r commented on #236
+1 for redis client. Basic view /delete record will be nice to have

[2018-03-05 16:45] SergeySmile opened #305 "Column/Table Comments"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (92)

3. The steps to reproduce this issue:
Open Table Structure

I don't found any options to display column/table comments.
It makes tableplus less comfortable to use =\

[2018-03-05 16:48] huyphams commented on #305
I'm going to add column length and column comment for this, depend on the driver. Please keep the app up to date and you will see it soon.

[2018-03-05 16:50] SergeySmile commented on #305
Nice! I look forward to it.

[2018-03-05 21:57] vunhuanh opened #306 "Unable to open SQL Query editor"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
92

3. The steps to reproduce this issue:
The SQL Query editor suddenly stopped working (I was able to edit and run queries previously), it just displays a blank page now even though I can still view tables and the ext

[2018-03-06 02:22] huyphams commented on #306
Hi @vunhuanh Looks like it was collapsed. You can hover the mouse on top (or bottom) and drag it back. Hmm, I should not allow collapse pane here.

[2018-03-06 02:33] vunhuanh commented on #306
Wow thank you so much, I knew it would be something simple like that..... It might be more intuitive to keep showing the top of the panel when you collapse (where it says Beautify, Run, etc), if you ever get round to this tiny issue? Either way, thanks for the quick response haha

[2018-03-06 04:49] zedentox commented on #209
@huyphams You win !  🤩

Thanks you very much ! Now let's try this new tool 🧐

[2018-03-06 04:55] huyphams commented on #209
But it still not working with zoispag, I still have no idea. Hey, @zoispag can you send me the screenshot of connection form (blur the sensitive information, please).

[2018-03-06 05:07] vunhuanh commented on #306
Awesome, thank you!

[2018-03-06 08:27] zoispag commented on #209
If it worked for @zedentox there is a good possibility I am doing something wrong.
Here 's my connection form

![screen_shot_2018-03-06_at_09_23_57](https://user-images.githubusercontent.com/21138205/37021600-656ce2a2-2120-11e8-95b7-16db757eaf3a.png)

I am using the same host:port:user:pass that I was using on Windows with HeidiSQL if this helps somehow.

Thanks @huyphams

[2018-03-06 08:36] huyphams commented on #209
Looks like TablePlus can't reach the server. Probably HeidiSQL uses DNS to resolve the hostname first. Have you tried to enter actually server address?

I believe this bug happened because TablePlus can't understand the `Host`.

[2018-03-06 09:01] huyphams commented on #209
Have you tried to remove the SQLEXPRESS, just pure IP?

[2018-03-06 09:32] zoispag commented on #209
Just tried (out of curiosity) and Valentina DB works with hostname\SQLEXPRESS
I would really love though if I could use TablePlus for all my db connections 🤓

[2018-03-06 09:35] huyphams commented on #209
Update: I have tried with your information and have logged error:

[code]

I'm investigating on it.

[2018-03-06 09:39] zoispag commented on #209
That's really great! Thanks

[2018-03-06 11:38] huyphams commented on #209
I just made a little change in this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
<img width="612" alt="screen shot 2018-03-06 at 6 36 57 pm" src="https://user-images.githubusercontent.com/3654622/37030430-7fcd9d4c-216d-11e8-8e92-a0a696725451.png">

Can you try it? Not sure if it works or not but let's try.

[2018-03-06 12:20] zoispag commented on #209
No luck! :(

![screen_shot_2018-03-06_at_13_18_32](https://user-images.githubusercontent.com/21138205/37031968-21bf5866-2141-11e8-8554-bfb931625a8c.png)

[2018-03-06 12:30] tianhao opened #307 "Error Statements can not clear"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    PostgreSQL 9.6
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
   build 92
3. The steps to reproduce this issue:
 (1) backspace to delete some line;
 (2) COMMAND + S to commit;
 (3) Encounter "Error Statements" ERROR;
 (4) modify other table,but can not commit, it show the sam

[2018-03-06 20:35] catskull commented on #302
I think this was a bug that has been fixed in version 92. Release notes haven't been published so I can't confirm. I bought 5 seats.

[2018-03-07 01:06] nikmolnar commented on #204
+1 For sensitive connections, I would much rather pull the password from a manager rather than store with the connection.

[2018-03-07 01:08] huyphams commented on #204
Hi all, I already added this feature in next update. Please try it out here: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-03-07 01:14] nikmolnar commented on #204
@huyphams Awesome, thanks!

[2018-03-07 02:34] huyphams commented on #30
I added it in next update.
<img width="1314" alt="pinned" src="https://user-images.githubusercontent.com/3654622/37070576-adabecfa-21ea-11e8-860e-00fe08cf2c85.png">

[2018-03-07 03:59] huyphams commented on #204
Btw @nikmolnar TablePlus stored all sensitive data in the keychain, it safe if you are the owner of your devices. The feature Prompt for the password is just for people who want to centralize password in one place like OP.

[2018-03-07 07:17] huyphams opened #308 "TablePlus build 93 release candidate."
The new update will be released on Friday 09/03.

Link download: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
(This build can self-update when we release the official build).

We welcome any feedback, here are the changes:

1. Update creation form:
<img width="602" alt="form" src="https://user-images.githubusercontent.com/3654622/37078079-50bacf68-2210-11e8-8746-143d74167e5d.png">

[2018-03-07 08:50] zoispag commented on #209
We can assume that this is fixed and can be closed now, right? 🤓 🎉 🎉

[2018-03-07 08:51] huyphams commented on #209
Yes, please. And full changelogs here: https://github.com/TablePlus/TablePlus/issues/308

[2018-03-07 08:51] #209 closed

[2018-03-07 10:33] am-webdev opened #309 "Feature Request - Export "null" with empty string"
Knowing from other SQL Clients during the export to CSV/Json it would be very nice to export "null" values from the database by checkbox either as the string "null" or as empty string "".

This will replace the manual IFNULL checks for every selected field which is kind of ugly on larger select statements.

Best regards

[2018-03-07 15:34] matthewmclean opened #310 "TablePlus crashes when opening a table that that has a Geometry column (MSSQL)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): **Microsoft SQL Server 2008**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): **92**

3. The steps to reproduce this issue:
- connect to a database with a table that that has a column with the Geometry data type.
- select that table in the left-hand panel under "Items".
- TablePl

[2018-03-07 15:37] huyphams commented on #310
Thanks, @matthewmclean I will take a look at this bug, now.

[2018-03-07 18:48] webermatthew opened #311 "Feature Request: Keyboard command to comment/uncomment lines of sql in the editor"

[2018-03-07 18:49] huyphams commented on #311
We already have it: command + /

[2018-03-07 19:54] webermatthew commented on #311
Great! May I suggest you put it in your list of keyboard commands here?
https://github.com/TablePlus/TablePlus/wiki/Shortcut-keys

Matthew Weber
mr.matthew.weber@gmail.com
LinkedIn: mrmatthewweber <http://www.linkedin.com/in/mrmatthewweber>
Portfolio: www.matthewweber.com
(862) 220-0085

On Wed, Mar 7, 2018 at 1:49 PM, Huy Pham <notifications@github.com> wrote:

[2018-03-07 22:15] quelg opened #312 "[FEATURE REQUEST] - mac-like context filter of result sets"
Firstly, awesome product! I spend ten minutes looking at this and was able to intuit the entire experience. Compare hours with all the big name tools. So congratulations on the most user friendly SQL product in the market!

The only thing I hit where I thought "oh, I wish!" was when getting a result set being unable to start typing in a quick-search bar for narrowing results. I felt this should be

[2018-03-08 06:12] huyphams commented on #301
Hey, @PVGrad could you try this build and let me know if it's fixed?
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-03-08 09:18] voody77 opened #313 "future request - driver to ClickHouse DB"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

[2018-03-08 09:56] nfgrilo opened #314 ""Old" MySQL passwords not supported"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7.21

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 92

3. The steps to reproduce this issue:
Attempt a connection to a MySQL server using "old" passwords. The following error will be presented when trying to connect:

![screen shot 2018-03-08 at 09 52 33](https://

[2018-03-08 09:59] huyphams commented on #314
Hi, @nfgrilo thanks for the feedback. Looks like I should add an option `use old authentication protocol.` to TablePlus.
https://forums.mysql.com/read.php?152,637958,638272#msg-638272

[2018-03-09 03:07] #308 closed

[2018-03-09 03:08] #306 closed

[2018-03-09 03:09] #30 closed

[2018-03-09 03:09] #182 closed

[2018-03-09 11:54] ambentzen opened #315 "Crash when switching between functions quickly"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 93

3. The steps to reproduce this issue:
Select a function and hit up and down to switch between the two quickly a few times.

The crash report is reporting a segfault

[2018-03-09 15:08] huyphams commented on #315
Hey, thanks. Let's me see.

[2018-03-09 18:23] marcusmoore opened #316 "Feature Request: Ctrl+Tab to cycle through tabs"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): **Mysql**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): **92**

3. The steps to reproduce this issue:
I would like to be able to use `ctrl`+`tab` and `ctrl`+`shift`+`tab` to cycle through tabs since I am accustomed to doing this in most applications that utilize tabs (like Chro

[2018-03-09 19:20] brian-crane opened #317 "cannot enter password for happy version! also credentials should be stored"
where has the proper login screen gone? now i just get links to go to the upgrade website.

also, credentials should be stored on a local key so that i do not need to log in so many times

[2018-03-09 19:21] #317 closed

[2018-03-09 19:23] brian-crane opened #318 "where is my email account???"
why can i not login with my normal briancrane email account???? says 'email not found'!

[2018-03-09 19:34] tianhao opened #319 "Feature Request: CTRL + P/N select automatic completion menu"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
  9.6
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
  build 93
3. The steps to reproduce this issue:
  `CTRL + P/N` can move the cursor on the editor, but when the automatic completion menu appears, `CTRL + P/N` cannot select menu item.

[2018-03-09 20:41] cschaba opened #320 "Primary Index missing"
Hi,

I discovered TablePlus 2 days ago and I really love it 👍

I am using it with MySQL and found out that in the structure view the primary index are missing.

See attached screenshot from SequelPro

<img width="447" alt="screen shot 2018-03-09 at 21 42 33" src="https://user-images.githubusercontent.com/938141/37228976-d0dedc1a-23e2-11e8-84d9-f09242a0f4b1.png">

[2018-03-09 20:46] cschaba opened #321 "Feature Request: create SQL"
I like to have a feature like in SequelPro: print the SQL statements required to create a table (including indexes etc.)

Similar to "Table Info" in SP:

<img width="665" alt="screen shot 2018-03-09 at 21 44 49" src="https://user-images.githubusercontent.com/938141/37229171-60d233f8-23e3-11e8-807a-a9c575a90191.png">

[2018-03-10 02:30] huyphams commented on #318
Hi @brian-crane just register an account and it will be fine. I’m working with new CD-key system, it will be release in build 94.

[2018-03-10 02:40] huyphams commented on #317
Yup, I'm rebuilding the activation system with CD-Key.

[2018-03-10 02:46] huyphams commented on #318
Can you email me, I just checked the database and saw your account was associated with the email: begin with `bcr***`

[2018-03-10 02:52] huyphams commented on #320
I just enabled primary in in indexes section, thanks for the feedback. 👍

[2018-03-10 02:54] huyphams commented on #321
Hi, currently I have a temporary solution for this. Please press: Command + L and install the table dump. It will add a menu in the left sidebar, you can copy creation statement of the object.
More detail here: https://github.com/TablePlus/tabledump

[2018-03-10 03:01] huyphams commented on #316
Currently, we can move between tabs by shortcut key: command + [ or command + ] and the windows by: Control + Tab and Control + Shift + Tab.

[2018-03-10 13:54] huyphams commented on #319
Hi @tianhao, I don't get it, could you please clarify it again? it would be great if you can make a gif or an image. Thank you so much 👍

[2018-03-10 23:18] hyouuu opened #322 "Reconnect seems to not clear certain cache and not showing tables"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgreSQL 10.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 93

3. The steps to reproduce this issue:

a. Have a few tables in database
b. Delete them
c. Recreate the same tables
d. Refresh TablePlus - they're not shown in Items
e. Close and restart TablePlus, reconnect - the

[2018-03-11 03:45] huyphams commented on #322
Hi, @hyouuu thanks for letting me know. Did you check that tables were created successful or failed? If it was created it should show in items section. TablePlus didn't cached items if you refresh or reconnect.

[2018-03-11 11:00] tianhao commented on #319
gif:
![default](https://user-images.githubusercontent.com/365540/37252587-4774649a-255e-11e8-87e8-bcca0edd7b69.gif)

[2018-03-11 16:00] markope opened #323 "add message output (raise notice) for plpgsql procedures"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
93

3. The steps to reproduce this issue:

[code]

Where can I see the output 'test'. (It would be great to get the message output async while the plpgsql function is still running as it was in the old pgadmin3)

Ver

[2018-03-11 16:12] huyphams commented on #319
Hi, any reason why we don't use the arrow keys to move? I just curious because this is the first time I see some application use control + P/N?
btw thanks for the gif, it's much easier for me 😄

[2018-03-11 16:13] huyphams commented on #323
I see, thanks. I'm going to add the result message to TablePlus 👍

[2018-03-12 03:28] tianhao commented on #319
Most apps in mac support `ctrl+a(beginning of line)`,`ctrl+e(end of line)`, `ctrl+f(forward)`, `ctrl+b(back)`, `ctrl+p(prev line)`, and `ctrl+n(next line)` by default, because your hands do not need to leave the main area of the keyboard. These shortcuts are inherited from emacs.

gif(10M):
![default](https://user-images.githubusercontent.com/365540/37264434-4412b222-25e8-11e8-9483-cad625dbaa4b.gi

[2018-03-12 05:48] lrecknagel opened #324 "Feature Request: Cassandra Support"
It would be awesome to see Cassandra support for TablePlus.
Maybe you can schedule it for the future :)

[2018-03-12 07:53] PVGrad commented on #301
Yes, thanks, with release from last zip it works almost smooth as it should be!

[2018-03-12 10:53] huyphams commented on #319
Hey, thanks for the clarification, I will try it out now.

[2018-03-12 11:07] huyphams commented on #319
Done in next update 👍

[2018-03-12 13:55] sebathi opened #325 "Add Mariadb Configuration"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

[2018-03-12 20:09] brian-crane commented on #318
ah i was using wrong email address! so sorry huy false alarm but now it is saying "You are out of seats. The oldest device was removed from this license.
If you want to use TablePlus on multiple devices, please add more seats."

and cannot get past the login screen....

[2018-03-12 20:11] brian-crane commented on #318
It is saying I have only the free plan, where is my Happy Plan?

[2018-03-12 21:38] marcusmoore commented on #316
Hm...`Control + Tab` and `Control + Shift + Tab` don't seem to navigate windows for me while `` Command + ` `` does...

"Windows" and "Workspaces" mean the same thing correct?

[2018-03-12 21:58] 413x commented on #224
+1 for import mapping

[2018-03-12 22:56] brian-crane commented on #318
![screen shot 2018-03-12 at 3 50 53 pm](https://user-images.githubusercontent.com/7946786/37313784-f834fd4e-260d-11e8-9f1e-f2f2b1e5432d.png)

[2018-03-13 04:27] huyphams commented on #318
Hi @brian-crane just ignore the message `out of seats` and it should be fine.

Btw, from build 94 I changed the way activate TablePlus to Cd-Key. I will send CD-Key to all customer. I think it will solve all activation issue.
<img width="632" alt="screen shot 2018-03-13 at 11 26 59 am" src="https://user-images.githubusercontent.com/3654622/37322649-75c6ba74-26b1-11e8-83e6-282a3d9904e2.png">

[2018-03-13 04:31] huyphams commented on #316
It only supports in sierra and above.
<img width="1129" alt="aaaa" src="https://user-images.githubusercontent.com/3654622/37322728-f9aa15e8-26b1-11e8-9390-d3620ccd8bca.png">

[2018-03-13 05:00] huyphams commented on #301
It's released in the recent update, so I can close this issue now, thank you 👍

[2018-03-13 05:02] #301 closed

[2018-03-13 05:15] brian-crane commented on #318
hm, even when i ignore you can see it has me on free plan, not happy plan :(

[2018-03-13 05:20] huyphams commented on #318
Let's me double check, it should not be a free plan. Can you send me the email?
Your license email is: `bcr***@**ates.com`

[2018-03-13 05:53] brian-crane commented on #318
yep thats the email! thanks huy

[2018-03-13 08:33] rizkysyazuli commented on #158
i'm with @joshbrw +1

[2018-03-13 08:46] quelg commented on #256
+1 for this request. Needs to either automatically update file as you go or allow cmd+s. Definitely should be in the file save/as menu as that is the most natural place people look for. I didn't find it until I searched this thread!

Cheers

[2018-03-13 15:01] marcusmoore commented on #316
Oh I see! I had been making new workspaces via `command + n` instead of keeping it in the same window. Thank you!

[2018-03-13 15:01] #316 closed

[2018-03-13 17:58] danomano7 commented on #255
When I run two queries in one window and run all, I don't see the tabs for both result sets.  It only runs the last statement that was typed.  I have Split results option enabled.  What else am I missing in order to get multiple result set tabs?

[2018-03-13 18:02] huyphams commented on #255
Hi @danomano7 do you follow this setting? if would be great if you can you give me the screenshot, thanks.
<img width="940" alt="nice" src="https://user-images.githubusercontent.com/3654622/37360567-46b6d01c-2723-11e8-889c-eeceda6ef274.png">

[2018-03-13 18:12] danomano7 commented on #255
I have 3 queries and I have split results enabled and run all on by default.  When I run all, I only get the results for the 3rd query on line 7.  No tabs ever show up.

[cid:image001.png@01D3BABC.02428C10]

From: Huy Pham <notifications@github.com>
Reply-To: TablePlus/TablePlus <reply@reply.github.com>
Date: Tuesday, March 13, 2018 at 11:02 AM
To: TablePlus/TablePlus <TablePlus@noreply.github.com

[2018-03-13 18:16] huyphams commented on #255
Can you share me your screenshot @danomano7, my email is huy@tableplusapp.com

[2018-03-13 22:46] brian-crane opened #326 "have the option to share ALL sql history between DBs"
sometimes i need to have them all grouped together - would this be possible as a setting?

[2018-03-14 04:18] hdra opened #327 "Feature request - Please allow for customisable hotkeys / shortcuts"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Irrelevant

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 93

Hi, first of all, 👍 on the awesome app!

That said, please allow for hotkeys customisation.

I would very much prefer the standard `ctrl+tab` and `ctrl+shift+tab` for navigating around tabs since thats what I'm

[2018-03-14 04:21] huyphams commented on #327
Hi @hdra we are working on it and it will be allowed to customize soon 👍Thanks for the purchasing.

[2018-03-14 06:31] ninetreesdesign opened #328 "request operation backward OS compatibility: OS 10.5 - 11, or at least 9 - 11"
My newest system is 10.10.x

I would request operation across my machines;
backward OS compatibility: OS 10.5 - 11, or at least 9 - 11.
More and more new software has a tree of conditional dependencies of OS/driver/CPU that add user stress and slow adoption and extra integration support.

[2018-03-14 10:56] huyphams commented on #328
Hi @ninetreesdesign
TablePlus is using a lot of modern APIs, that means if we support old OS, it may break many things.
I'm afraid that TablePlus will not available for OS < 10.11 for a long time.

[2018-03-14 10:57] huyphams commented on #325
Hi @sebathi you can use MySQL driver to connect to MariaDB.

[2018-03-14 11:26] sebathi commented on #325
I know, but it is nicer to have them identified.

On 14 Mar 2018, 07:57 -0300, Huy Pham <notifications@github.com>, wrote:

[2018-03-14 12:46] polypressure opened #329 "When renaming a table or a column, square brackets are added to the name."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2014

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 93

3. The steps to reproduce this issue:
Rename a table or a column, save/commit the change, and refresh. The table or column name will have square brackets. For example, when renaming a table named

[2018-03-14 12:49] huyphams commented on #329
Hey thanks, it will be fixed and released at the end of this week.

[2018-03-14 13:43] tiitremmel opened #330 "Feature request - triggers in table Structure view"
Hello.
I'm wondering if You're planning to add (somehow) triggers to table Structure view?
Would be great to see which triggers table have and when they're triggered.

[2018-03-14 14:28] rendom opened #331 "Feature Request: Import SQL dumps."
Import and export sql dumps.

[2018-03-15 03:54] huyphams commented on #330
Hello, Trigger, sequence,.. are on the plan 👍

[2018-03-15 07:04] kprimdal opened #332 "Connection is lost on SSH after a few minutes of no usage"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 93

3. The steps to reproduce this issue:
I'm connecting over SSH, and then after maybe 10 minutes of none usage I have lost connection to the database and I have to close the tab and connect again.

I recorded a video s

[2018-03-15 07:06] huyphams commented on #332
Hey, thanks. Can you check in preferences if option keep connection alive is on or off?

[2018-03-15 07:38] kprimdal commented on #332
It was off, so I will set it to on, and that is properly going to solve it

[2018-03-15 07:38] #332 closed

[2018-03-15 07:40] mk-nickyang opened #333 "Cannot find where to add new Schema/Name space"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**PostgreSQL 9.6.8**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Build 93**

3. The steps to reproduce this issue:
I just cannot find where to create schema for the current database except for running SQL query. Forgive me if this question is too stupid. Thanks

[![Screensh

[2018-03-15 22:04] lee-40square commented on #300
Using Postgres on Heroku but I don't see anywhere where I can just select SSL like I can in Navicat.

[2018-03-16 01:50] huyphams commented on #333
Hi @mk-nickyang sorry because of the late response. Currently, TablePlus doesn't have a GUI for creating a schema. The only way to create it is using SQL Query.
The reason why I didn't include it in TablePlus are:
1. Rarely using.
2. Not all TablePlus drivers support it (MySQL didn't have the schema).
3. TablePlus will not cover everything but the plugin. We are developing the plugin system that c

[2018-03-16 01:59] randomstrings commented on #237
Looking forward to this feature! Congrats on a really nice app!

[2018-03-16 02:45] Tungtono commented on #300
You can simply select from Custom TLS
<img width="612" alt="ssl" src="https://user-images.githubusercontent.com/10219818/37500936-aa54d5ba-28fe-11e8-9a2d-95897b9faf22.png">

[2018-03-16 05:11] #333 closed

[2018-03-16 05:14] #323 closed

[2018-03-16 05:14] #320 closed

[2018-03-16 05:14] #319 closed

[2018-03-16 05:15] #302 closed

[2018-03-16 05:15] #329 closed

[2018-03-16 05:27] Crityk opened #334 "Export Page CSV/JSON not working"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
n/a

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
V1.0 Build 94

3. The steps to reproduce this issue:
Upon clicking multiple rows. The option to export page is not available.

[2018-03-16 05:48] huyphams commented on #334
Hi sorry, it's UI bug. I fixed it in this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-03-16 06:16] #270 closed

[2018-03-16 07:50] stigkj opened #335 "Sybase Database support"
Would love it if Sybase support could be added.

[2018-03-16 12:54] jayshepherd commented on #316
It seems standard within macOS for movement between tabs to be `command + shift + [` or `command + shift + ]` (See chrome, safari, finder, sublime, etc)

Would it be possible to change the navigation to that or at least provide a way to set it to the standard?

[2018-03-16 12:56] huyphams commented on #316
Hey @jayshepherd it already in our plan, see https://github.com/TablePlus/TablePlus/issues/327

[2018-03-16 13:08] mt404 opened #336 "Running Queries No longer Works"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Postgres

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 94.

3. The steps to reproduce this issue:

* Open a connection to a db
* Enter a query
* hit CMD-E to run it.

Expected Result:  The query results show beneath the query

Actual Result:  The query seems to run but

[2018-03-16 13:10] huyphams commented on #336
Hi, I just tested and it works fine. Can you make a gif or something that I can reproduce the bug?

[2018-03-16 13:14] huyphams commented on #336
Btw you can download the old build with this link: https://s3.amazonaws.com/tableplus-osx-builds/93/TablePlus.zip

Replace the number with the build number you need.

[2018-03-16 13:14] mt404 commented on #336
My apologies - error was my misunderstanding.  After installing the latest update the results panel was fully collapsed/dragged down to the bottom.  So it looked like nothing was happening.  Wasn't clear to me that it was there, but noticed it when making a gif to send you.

Sorry about that.

[2018-03-16 13:14] #336 closed

[2018-03-16 13:15] mt404 commented on #336
appreciate the quick response!

[2018-03-16 13:15] mt404 commented on #336
btw.  love the product :)

[2018-03-16 15:54] redvex opened #337 "connection and tab"
Build 93 connected to MySQL (various versions)

I have multiple connection: Localhost, Production server, customer box
1) Open a new connection to connect to my local database (named UNO_hgo for example)
2) Open a new connection to connect to my remote database (same name)
3) Table plus redirect me to my local connected database UNO_hgo istead of the remote one.

I've notice that the "switch" and

[2018-03-16 16:37] huyphams commented on #337
Thanks, got it 👍

[2018-03-16 17:32] huyphams commented on #337
Hey @redvex this build will fix your bug: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Thanks for letting me know. I'm working to improve this tab by grouping all the database in the same connection.

[2018-03-17 20:47] brian-crane opened #338 "DB Auto-Refresh Feature"
Perhaps add a feature so i can watch a table, and see the changes reflected on the fly (refreshing every 5 seconds, etc)

[2018-03-18 02:35] huyphams commented on #338
Hey @brian-crane thanks for the suggestion! I will consider it.

[2018-03-19 01:57] huyphams commented on #318
I updated the new system activation that uses license keys. This is the final version and will not change anymore.
If you lost license key please visit here to recovery: [License manager](https://tableplus.io/license-manager/access-link)

[2018-03-19 01:57] #318 closed

[2018-03-19 02:27] huyphams commented on #333
Hey @sam-jg I just updated the UI, thanks for the excellent suggestion 👍
<img width="1208" alt="ice" src="https://user-images.githubusercontent.com/3654622/37575067-a67bd960-2b57-11e8-8fa4-0ba3b927ed82.png">

[2018-03-19 04:30] sam-jg opened #339 "Wrap selected text in quotes"
In most text editors if you highlight some text and then press a bracket or quote key it will surround the text with that symbol. It would be nice if the sql editor did that as well. This is useful when working with tables and attributes that with uppercase letters that need to be quoted with "".

It would also be great if there was an option for the editor to auto quote table names and attributes

[2018-03-19 04:32] huyphams commented on #339
Hey, thanks! It would be better if we have a separate issue for each feature, it's easy to keep track the progress.

[2018-03-19 04:35] #166 closed

[2018-03-19 06:14] sam-jg opened #340 "Auto quote table names and attributes"
Would be great if the SQL editor would automatically quote table names and attributes when they are selected from the auto-complete. This would be helpful because most DB's require you to double quote "" camel case tables and attributes.

I think this should be a setting turned off by default. The setting could also include an option to quote all tables and attributes or just the ones that require

[2018-03-20 09:47] arnouxor opened #341 "Impossible to create table"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6.39-log

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
TablePlus 1.0 (94)

3. The steps to reproduce this issue:

A lots of bugs when I want to create a table :
- Create a simple table with an id (INT) PRIMARY in autoincrement is impossible (when you add data it will al

[2018-03-20 09:51] huyphams commented on #341
Hey, @arnouxor thanks for the feedback. Currently, TablePlus support very well for PostgreSQL but many features for MySQL user is still missing (encode, data length, enum, seq...). We already know that and will improve it in the future updates. All of your issues are on our roadmap.

[2018-03-20 11:18] huyphams commented on #224
It's on #Build95 which will be released at the end of this week. 👍
![screen shot 2018-03-20 at 6 17 39 pm](https://user-images.githubusercontent.com/3654622/37651538-06bd8760-2c6b-11e8-940c-1d995b15ea70.png)

[2018-03-20 12:23] jreljac commented on #224
Excellent, looking forward to giving it a try.  Thanks for incorporating so quickly.

[2018-03-20 22:01] kiakimov opened #342 "'Search for item' regexp support"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5.7.19
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
94
3. The steps to reproduce this issue:
Search for item input box
It would be good to support regexp there like `table1|table2` like SequelPro does

Thank you for the good product!

[2018-03-20 22:03] kiakimov opened #343 "Feature: DB process list as a plugin"
DB process list with ability to kill particular one
For MySQL at least :)

[2018-03-20 23:23] bdougherty opened #344 "Add support for two-factor auth with ssh"
I'm trying to connect to MySQL over ssh with build 94 but I get an error: "Invalid host password".

I have two-factor authentication set up on my server, so when I ssh with my ssh key, there is an additional prompt to enter the verification code. I have successfully connected this way with both Querious and Sequel Pro, both of which will prompt me for the verification code. It would be great if Ta

[2018-03-21 01:57] huyphams commented on #344
Thanks @bdougherty I will take a look and implement it in TablePlus.

[2018-03-21 01:57] huyphams commented on #343
Thank @kiakimov, It's on our roadmap 👍

[2018-03-21 07:16] redvex commented on #337
I'll wait for setupp update to test it, thanks 🙂

[2018-03-21 20:34] richardpenner opened #345 "⌘E is a dangerous shortcut"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres 8.0.2
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (94)
3. The steps to reproduce this issue:
Hit ⌘E. The expected Mac app behaviour is that this copies the selected text to the Find buffer.

I typically keep hundreds of lines of recent SQL in my editor, and just h

[2018-03-21 21:03] davidolrik commented on #345
You can make it a bit more safe by changing the option in the selector in the bottom right of the query window from `Run All` to `Run Current`.

[2018-03-21 21:12] richardpenner commented on #345
Thanks – did not see the option to change the default.

[2018-03-21 21:27] nifoc commented on #166
I think I'm running into the same problem.

**.ssh/config**

[code]

**TablePlus** (no manual `IdentityFile`)

![bildschirmfoto 2018-03-21 um 22 21 55-optimized](https://user-images.githubusercontent.com/222412/37738180-72dc7a14-2d56-11e8-9583-9cf4a821d4bf.png)

Clicking "Connect" does "nothing". It doesn't connect and simply runs into a timeout (I think).
Is there any way to debug the TablePlus S

[2018-03-21 23:40] lee-40square commented on #300
Sorry, maybe I'm missing something obvious but I don't want to add certs or keys or anything. I just need the connection to be ssl=true (or ssl:true).

[2018-03-22 01:13] huyphams commented on #300
Hey thanks, probably we should make it a little bit more obvious. This is PostgreSQL form, I think it better with the options:
<img width="465" alt="screen shot 2018-03-22 at 8 12 59 am" src="https://user-images.githubusercontent.com/3654622/37745703-dab512b6-2da8-11e8-9445-7b8552d7cc5f.png">

[2018-03-22 01:16] huyphams commented on #345
Hey! thanks @davidolrik
@richardpenner I will make a popup that says `we can change the config Run All > Run Current` at the first time user hit Run Query.

[2018-03-22 03:02] l41lt0n opened #346 "MySQL 5.7.x ( First login )"
I am using:
MySQL ( last version 5.7.x )
TablePlus v94

The first login when you install a new mySQL is normal to request you to update the password ( temporary ).
Using tablePlus I can not do that. ( and it dont allow to connect to mySQL until this process be done. )

[2018-03-22 03:03] l41lt0n opened #347 "SQLite3 ( Encrypted )"
@huyphams,

Do you have any news about support to open encrypted database ( using SQLCipher for example ).

Thanks, It is very important for me. :)

[2018-03-22 03:07] l41lt0n opened #348 "MySQL"
There's no way to create a new database from GUI ?

I have executed the query directly to create the database to be able to create tables.

![screen shot 2018-03-22 at 12 07 20 am](https://user-images.githubusercontent.com/32529405/37749075-09782cb2-2d65-11e8-9bdd-591861e71b32.png)

[2018-03-22 03:14] Tungtono commented on #348
Two ways to create a new database using TablePlus:
1. From the welcome screen, click restore, choose the connection, then you'll see "New database" button on the right.
<img width="772" alt="screen shot 2018-03-22 at 10 11 53" src="https://user-images.githubusercontent.com/10219818/37749226-97c951d6-2db9-11e8-8383-002c15d7e166.png">

2. While you're connecting to a database, click the database ico

[2018-03-22 03:20] l41lt0n commented on #348
Thanks 👍

[2018-03-22 03:20] #348 closed

[2018-03-22 03:30] l41lt0n opened #349 "MySQL Query Execute."
Why if I execute for example:

SELECT * FROM tab_one;
SELECT * FROM tab_two;

It show me message on the top 2 query

![screen shot 2018-03-22 at 12 17 30 am](https://user-images.githubusercontent.com/32529405/37749543-27e7a64e-2d67-11e8-84b1-286ae3ab6e1a.png)

It will show me only the last.

Other example:

SELECT * FROM tab_one;
INSERT INTO tab_one ( id, nome ) VALUES ( 1, "TablePlus" );

![scree

[2018-03-22 03:49] Tungtono commented on #349
Hey, we do have the option to split results into tabs, please check whether it's on or off:
<img width="507" alt="screen_shot_2018-03-22_at_10_46_06" src="https://user-images.githubusercontent.com/10219818/37750235-90d08f2a-2dbe-11e8-8a37-2189345bb5c4.png">
Then result from each query will be split into different tabs.

[2018-03-22 03:52] l41lt0n commented on #349
Hi @Tungtono,

That's it! thanks.

Sorry it was disabled.

[2018-03-22 03:52] #349 closed

[2018-03-22 09:54] bmichotte opened #350 "Feature request : Copy cells"
Hi there,

When filtering tables, it would be cool to have an option to _copy cells_. In this example, it could allow to copy all ids (one per line)
![capture d ecran 2018-03-22 a 10 46 30](https://user-images.githubusercontent.com/235510/37763242-d61eb214-2dbe-11e8-992d-3eec8ac1402f.png)

An here it could copy two per line separated by space
![capture d ecran 2018-03-22 a 10 52 19](https://user-i

[2018-03-22 10:01] jdavidhobbs opened #351 "Feature Request: bars representing relative row count of tables"
Would be great to have relative table sizes visualized with length of bars under table names, like HeidiSQL provides:

![image](https://user-images.githubusercontent.com/5948761/37763725-3bae0cde-2d96-11e8-9054-06abe3659e8a.png)

This is a useful way to persistently show relative table sizes without hogging up a lot of space.

[2018-03-22 12:50] richardpenner commented on #345
Would you consider changing the default to ⌘ Enter?

[2018-03-22 12:52] huyphams commented on #345
Hi @richardpenner TablePlus supports both command + e and command + return/enter.

[2018-03-22 14:38] redvex commented on #337
I've tested it with the build linked above... connection tab bug is solved, "switch" button stil open a new tab. Thanks for your support 🙂

[2018-03-22 14:45] richardpenner commented on #345
Thanks, I do use command return/enter. I find myself switching between Sublime Text and TablePlus a lot, and while most mac keyboard shortcuts work in both, I'd love to see consistency for this one too, i.e. command enter is how you run SQL, and command E is to put the selected text into the find buffer.

[2018-03-22 15:22] richardpenner opened #352 "Can't see SQL unless connected"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
8.0.2
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
94
3. The steps to reproduce this issue:
If you lose your connection, your options are to Close, Edit the Connection, or Try Again. But none of these options let you see your SQL, so your editor is not available unless you are

[2018-03-22 16:01] Tungtono commented on #352
Hi @richardpenner,
Because without the connection, you'll not be able to access your database, so I'm not sure the purpose of seeing the SQL editor here. But there's one so-called SQL editor that lets you write the query in case you are not connected, that you can open it using shortcut key **Cmd + Shift + O**
Is that what you are looking for?

[2018-03-22 16:08] richardpenner commented on #352
Not exactly. I often get the SQL I want sorted in TablePlus, then switch to Sublime Text to write it in my code. I am only connected to our data warehouse when I have an SSH tunnel open, but there are times when I don't have that tunnel open, but want to reference the SQL that I've written in TablePlus while writing code (and not connected).

As a side note, I have a few hundred lines of SQL in my

[2018-03-22 16:18] huyphams commented on #345
I didn't know that the `command + E` was used for putting the selected text into the finder 👍

[2018-03-22 18:04] lee-40square commented on #300
OK. The problem may only be with Postgres then. But here's what I get.

<img width="503" alt="screen shot 2018-03-22 at 8 37 48 am" src="https://user-images.githubusercontent.com/683267/37789097-46cd870a-2dc0-11e8-9dca-84be58dfa1ea.png">

When I click on the `Select TLS cert,` button I get a modal to download the file with no option for SSL mode.
<img width="885" alt="screen shot 2018-03-22 at 8 3

[2018-03-22 20:20] abashev commented on #236
+1 for redis

[2018-03-22 21:02] Chris1904 commented on #13
@huyphams any updates on this? Pretty excited about this, because I am dealing with quite a few JSON columns haha

[2018-03-23 01:36] huyphams commented on #13
Hi @Chris1904 I'm making a roadmap, so you guys can check it 👍

[2018-03-23 02:56] johnakitto opened #353 "Feature Request: Be able to change default tab size in SQL editor"
Currently using v1.0 (94).

I prefer 2-space tabs in SQL rather than 4-space tabs and would like to be able to change that in Preferences.

Great job so far!

[2018-03-23 14:24] #334 closed

[2018-03-23 15:15] natesilva opened #354 "Please support AUTO_INCREMENT columns for MySQL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): **MySQL 5.6.10 (Amazon Aurora)**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): **build 95**

3. The steps to reproduce this issue:

* Connect to a MySQL database
* Create a table
* Try to set the `auto_increment` attribute for the `PRIMARY KEY` column: can’t find that option.

[2018-03-23 15:16] huyphams commented on #354
Hi @natesilva sure, we are working to upgrade UI of table structure that supports encode, seq, and much more... please keep the app up to date because it will be released soon 👍

[2018-03-23 15:20] natesilva commented on #354
Thank you!

[2018-03-24 02:53] huebs commented on #345
I was surprised by this behavior as well.  Specifically, Sequel Pro uses `⌘ + E` for "Use Selection For Find".  Is keyboard shortcut parity a design goal?

[2018-03-24 03:07] huebs opened #355 "Human Readable JSON Data"
It would be nice if a [JSON](https://dev.mysql.com/doc/refman/5.7/en/json.html) fields (or any text field that contains a JSON object) presented uncompacted JSON or, even better, something like [Paw](https://paw.cloud) does with JSON data.

[2018-03-24 06:16] huyphams commented on #355
Hey, this feature is already on our roadmap 👍

[2018-03-24 20:34] nickhandel opened #356 "History timestamps all show current time"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Happens on both PG and mySQL - suspect this is a local app thing.
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (95)
3. The steps to reproduce this issue:

Execute some SQL queries
Look at the history - all the timestamps show as the current time.

I am running MacOS High Si

[2018-03-25 15:26] huyphams commented on #267
It's fixed in issues: https://github.com/TablePlus/TablePlus/issues/194
You can try the build in dropbox file before its official release next week.
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-25 15:26] #267 closed

[2018-03-25 18:37] huyphams commented on #356
It's perfect now, thank you 👍
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-26 07:20] nickhandel commented on #356
Cool.  Thank you!

altoDATA
nick@altodata.co.uk<mailto:nick@altodata.co.uk> ∙ +44 (0)7880 736080

On 25 Mar 2018, at 19:37, Huy Pham <notifications@github.com<mailto:notifications@github.com>> wrote:

It's perfect now, thank you 👍
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<h

[2018-03-26 07:37] nickhandel opened #357 "Home and end keys"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
N/A
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
95
3. The steps to reproduce this issue:

Really like the app - thanks for fixing the history time stamps!

Feature request:

I've got used to the way many editors (pgAdmin, IDLE, mySQL Workbench etc.) treat "home" and "end" on a

[2018-03-26 07:39] huyphams commented on #357
Hey @nickhandel thanks for the suggestion. We will support it in the next update 👍

[2018-03-26 09:06] jeremistadler opened #358 "Sort table by multiple columns"
1. Which driver are you using and version of it: MySQL

2. Which TablePlus build number are you using: 91

3. The steps to reproduce this issue:
I want to sort on locations_location_id, locations_service_id, day

![image](https://user-images.githubusercontent.com/3100817/37897056-87f18dda-30e5-11e8-8d46-35136f95b07d.png)

[2018-03-26 12:56] SergeySmile commented on #305
Hello, what about the deadlines? Are there approximate?
Every time i install update with hope to see column comments(

[2018-03-26 12:59] huyphams commented on #305
Hey! The table strucute will be remake in build 97, that means this feature will be release as apart of this update :+1:

[2018-03-27 06:05] huyphams commented on #43
We have streaming row and estimate so this no not a problem anymore, so I going to close it 😄

[2018-03-27 06:05] #43 closed

[2018-03-27 06:06] huyphams commented on #315
It's fixed on this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0 👍

[2018-03-27 08:44] huyphams commented on #347
Hey, good news, I just added support cipher for SQLite.
1. Download this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
2. Create an SQLite connection.
3. Check on load resource and add the execute script when starting the connection.
For example this script:
PRAGMA key = "x'2DD29CA851E7B56E4697B0E1F08507293D761A05CE4D1B628663F411A8086D99'";

[2018-03-27 11:12] ambentzen commented on #315
Certainly looks like its fixed. 👍

This is easily the best graphical DB tool I've ever used.

[2018-03-27 13:06] thenaturalist opened #359 "New, empty schema not showing up"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
95

3. The steps to reproduce this issue:
`CREATE SCHEMA xyz;`
No tables. The schema does not show up in the drop down list and it can't be queried (after refresh or even restart of TablePlus, when I would expect a n

[2018-03-27 13:08] huyphams commented on #359
Hey @thenaturalist thanks for the feedback. It’s fixed in this build https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
👍

[2018-03-27 16:07] huyphams commented on #353
It will be released in build 96 tomorrow 👍

[2018-03-27 16:52] huyphams commented on #309
It's done on build 96, which will be released tomorrow 👍

[2018-03-27 17:55] spaceisstrange opened #360 "Support for PostgreSQL functions syntax highlighting"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 95

3. The steps to reproduce this issue:
Simply create a new function with the PostgreSQL syntax like:
[code]

The code between the $$ is automatically marked in red and lacks syntax highlighting, which is anno

[2018-03-27 18:48] #353 closed

[2018-03-27 18:48] #359 closed

[2018-03-27 18:49] #357 closed

[2018-03-27 18:49] #356 closed

[2018-03-27 18:49] #315 closed

[2018-03-27 18:49] #194 closed

[2018-03-27 18:49] #280 closed

[2018-03-27 18:50] #189 closed

[2018-03-27 18:50] #198 closed

[2018-03-27 18:50] #347 closed

[2018-03-27 18:51] #309 closed

[2018-03-27 18:51] #296 closed

[2018-03-27 18:52] #186 closed

[2018-03-27 18:53] #192 closed

[2018-03-27 18:53] #215 closed

[2018-03-27 18:54] #224 closed

[2018-03-27 18:56] #235 closed

[2018-03-27 18:58] huyphams commented on #360
Hey, thanks. This is one thing I want to improve too :+1:

[2018-03-28 00:57] l41lt0n commented on #347
Hi Huy,

Excellent! Works like a charm.
You only need to make it more friendly. add the key to be applied to the config. look like this:

![screen shot 2018-03-27 at 9 56 55 pm](https://user-images.githubusercontent.com/32529405/38002635-d10a388a-3209-11e8-818b-3f9eff926275.png)

And next that connection is opened and the key is applied, it should to reload workplace to show table.

Thank you.

[2018-03-28 01:31] l41lt0n opened #361 "Table Design"
Hello,

I have one suggestion to make the table design ( structure ) more friendly.

Look this:

![screen shot 2018-03-27 at 10 28 57 pm](https://user-images.githubusercontent.com/32529405/38003559-6479692a-320e-11e8-8438-243a75e2a825.png)

TablePlus,

I need to set the type ( INT ) and next I need set again INT( 10 ).

Why not only a field to select type and another to the size like the editor be

[2018-03-28 03:11] huyphams commented on #361
It's already on our roadmap. The next version of table structure is more friendly than this version 👍

[2018-03-28 05:54] juice opened #362 "Filter not usable after a using it the first time"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL/MariaDB

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 Build 96

3. The steps to reproduce this issue:

- Start a filter on a table.
- In my case, select a field name, asset_id = 23425
- Apply Filter
- Try to change the filter and apply again.
- The Filter is not worki

[2018-03-28 05:56] huyphams commented on #362
Hey @juice thanks, we will fix it now :+1:

[2018-03-28 06:00] juice opened #363 "Save Window State, open connections and filter"
Hello

i really **love** the new features. But this also means restarting the app with every update and reopen and connecting to all servers and sometimes setting many filters.

Every Mac App i use serializes its window state and tries to bring me back where i left off.

Could you bring me back to the days where i focus on the work and not on the app ;)

[2018-03-28 06:07] juice opened #364 "Trigger"
Hello

i'm not sure if i just overlook this feature, but i'm looking for a way to edit the triggers set in a Database.

Here is a Sequel Pro with this feature, i would like to switch once and for all to TablePlus, can you add this feature in the future?

<img width="216" alt="screen shot 2018-03-28 at 08 04 32" src="https://user-images.githubusercontent.com/179705/38011693-b7716b8c-325e-11e8-943b-

[2018-03-28 06:09] huyphams commented on #364
Hi @juice rebuild structure is already on our roadmap. The next big update is about table structure.
- Support data length.
- Support encode.
- Support enum.
- Support column comment.
And of course, triggers.

[2018-03-28 06:10] huyphams commented on #363
Thanks and yup, this will be improved after table structure update 👍

[2018-03-28 06:16] huyphams commented on #362
Hey, @juice I just discovered that this bug happened when you enter an invalid data. (that generated invalid query)
Result return 0 columns => filter column empty.
I will handle this case 👍

[2018-03-28 06:24] juice commented on #364
Great News.

I looked into the Work in Progress Section, but i have no Idea that "Remake structure view" includes all this. I read you guys on twitter, i read the blog, i look into the project view and the Issues, but i'm still clueless what will happen and when.

Is it possible to make a lightweight Roadmap, maybe in a Blog Post. So i get a Idea what your plan is for the next three month?

[2018-03-28 06:25] huyphams commented on #364
It's here @juice https://github.com/TablePlus/TablePlus/projects/1

[2018-03-28 06:27] huyphams commented on #362
it's fixed: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-28 06:48] juice commented on #364
Yes, i looked into the Projects Section, but i'm still not sure what this means and includes.

 "Remake structure view" was not clear to me that this includes Triggers :)

I would like to see a something like this: https://github.com/Microsoft/vscode/wiki/Roadmap

[2018-03-28 10:18] juice commented on #362
I tested this build an it still happens when i set a filter, update a row, click commit changes. After that the dropdown is empty.

[2018-03-28 10:47] huyphams commented on #362
Hi @juice all the issues should be fixed on now on this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
I tested all the cases above. Thank you again 👍

[2018-03-28 11:26] l41lt0n commented on #347
@huyphams,

Please rethink about it. all the database manager has it.
and for me no make sense dont add it if all connection has password fields.

![screen shot 2018-03-28 at 8 23 35 am](https://user-images.githubusercontent.com/32529405/38026198-9768fdca-3261-11e8-9c86-7887aaa9ad0d.png)
![screen shot 2018-03-28 at 8 23 50 am](https://user-images.githubusercontent.com/32529405/38026199-97a51bac-32

[2018-03-28 11:28] l41lt0n commented on #361
Thanks!

[2018-03-28 11:30] thenaturalist commented on #359
Perfect, thanks! :)

[2018-03-28 11:47] dsego opened #365 "⌘` should cycle between windows"
On macs with US-keyboards   ``⌘ ` ``  ( cmd+backtick ) is the common way to cycle through all open windows of the current application. TablePlus hijacks this for running custom scripts instead.
<img width="252" alt="screen shot 2018-03-28 at 1 36 33 pm" src="https://user-images.githubusercontent.com/578557/38026826-d9904a06-328d-11e8-8257-39cf42fbb9a7.png">

[2018-03-28 11:49] huyphams commented on #365
Hi, @dsego  thanks for the feedback. Since the custom script is not important now, we will remove this shortcut in next update 👍

[2018-03-28 11:54] huyphams commented on #365
if you can't wait for the next update, you can get the hot-patch build here, I just removed the shortcut key: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-28 11:57] dsego commented on #365
Great job, it works! 🎉

[2018-03-28 16:24] huyphams commented on #347
Hey @l41lt0n thanks, I think we have a misunderstood here. I thought we are talking about the preferences. it's no problem with putting the config in SQLite connection form.

[2018-03-28 16:29] l41lt0n commented on #347
Hi @huyphams
That's it.
Sorry, maybe I was not so clarify.

my english is in progress 👍

[2018-03-28 17:49] adrianxplay opened #366 "OSX 10.11 - EL Capitan. TablePlus crashes opening SQL Editor."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): 9.5.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 96

3. The steps to reproduce this issue:

- Open TablePlus
- Use any connection
- Click on SQL button or ⌘ + E

[2018-03-28 17:50] huyphams commented on #366
Hi @adrianxplay are you on OSX 10.11? it's been fixed in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-28 17:52] adrianxplay commented on #366
Hi @huyphams Is that an older version?

Thanks.

[2018-03-28 17:54] huyphams commented on #366
No @adrianxplay , it's hot patch for OSX 10.11. I just discovered an issue related to El Capitan and build a hotfix build. It will be included in next update. You can use that build until it's official release.

[2018-03-28 17:55] adrianxplay commented on #366
Well, thank you @huyphams. I appreciate it.

[2018-03-28 17:57] #366 closed

[2018-03-28 19:40] onebrightlight commented on #158
I bought a license immediately from y'all because I love how this tool looks, knowing it would be feature-incomplete initially. I really enjoy using it to modify and work with dbs, but not being able to dump the entire db to backup or what have you is a huge issue at times and I find myself resorting to Sequel Pro. This feature would mean I could practically stay in TablePlus all the time!

[2018-03-28 19:48] keithslater commented on #345
I would opt for command + R to be default.. And if something is selected, it should run that without a modifier. If nothing is selected then it runs everything.

[2018-03-28 19:51] keithslater commented on #352
I'm curious as to which sql client you previously used. It seems like you're more use to a SQL IDE like DataGrip as opposed to something like Sequel Pro.

[2018-03-28 19:54] richardpenner commented on #352
Postico mainly

[2018-03-28 21:41] am-webdev commented on #309
Wow thank you very much

[2018-03-28 21:57] brian-crane opened #367 "Congrats Huy and TablePlus team!"
The changes in build 96 have drastically improved performance when viewing a large table.  Now I can look at a table with 700 million ros, which would have caused lag before.  Keep up the good work!

[2018-03-29 00:45] matheus2740 opened #368 "Cant delete row in SQLite db"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

SQLite

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 96

3. The steps to reproduce this issue:

Open any table, delete a row and try to commit.

Error message is "no such module: rtree" and nothing gets deleted.

[2018-03-29 02:00] huyphams commented on #345
Hi guys, TablePlus will allow remapping shortcut key in future updates, that means you can change cmd + R, cmd + return or disable a shortcut key easily.

[2018-03-29 02:05] huyphams commented on #352
Hi @richardpenner I read the issue again and understood the situation 👍 I will improve it.
Connected -> Write SQL -> Lose connect -> Can't see the SQL untill reconnect (but it should allow).

[2018-03-29 02:26] richardpenner commented on #352
That’s exactly right, thank you!

[2018-03-29 04:26] huyphams commented on #310
It's fixed in release 96 👍

[2018-03-29 04:26] #310 closed

[2018-03-29 04:34] huyphams commented on #280
Sorry, build 96 didn't include the streaming for SQL Server.
You can try this build, it's return data immediately after executing the query:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-29 07:18] huyphams commented on #368
Hey thanks for letting me know, I will check this error 👍

[2018-03-29 10:05] joen-mauritzon opened #369 "Keyboard shortcuts not working as intended on Dvorak"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (97)

3. The steps to reproduce this issue:
Dvorak Keyboard shortcuts seems to override eachother.
For example to open the shortcut for "Open SQL Query" is listed (in the preferences pane) as "⌘ + ." but that seems to be t

[2018-03-29 10:12] huyphams commented on #369
Hi @joen-mauritzon the tab shortcut in preferences is WIP that why you can't change the shortcut. We will update it in some next update.
Currently, you can open SQL Query by keyboard by `command + E` or `command + return`.
Cancel a running query by press: `Command + .`

[2018-03-29 11:25] joen-mauritzon commented on #369
⌘ + E isn't working for me (might be some other app that has hijacked it). But ⌘ + return works, that nice to see :)

[2018-03-29 12:18] joen-mauritzon commented on #369
One related problem is that alot of shortcuts in the preference pane seems to be wrong, for example:
<img width="381" alt="screen shot 2018-03-29 at 14 15 16" src="https://user-images.githubusercontent.com/400342/38088335-be7a5134-335b-11e8-8466-2cfef2d84440.png">

Those two doesn't work, but the "normal" shortcuts for those work (⌘ + t for open new tab and ⌘ + , for opening preferences)

[2018-03-29 12:19] huyphams commented on #369
Hey @joen-mauritzon yup, because it is currently WIP. we will update it soon, no worries.

[2018-03-29 14:16] hrdblzs opened #370 "Editor gets stuck after error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.2
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
96
3. The steps to reproduce this issue:
The SQL Editor is stucked after an error message. After the pop up message appears the code is not editable anymore. The waiting counter runs in lower left corner which stops w

[2018-03-29 14:17] huyphams commented on #370
Hi @hrdblzs it's fixed in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Can you give it a try and let me know if it fixes?

[2018-03-29 14:26] hrdblzs commented on #370
Thanks for the qick answer @huyphams . It's fixed.

[2018-03-29 14:26] #370 closed

[2018-03-29 21:20] dyeje opened #371 "App Crashes on Editor"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Not sure what this means.  I'm running Postgres 10.
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
96
3. The steps to reproduce this issue:
Open the app.
Open a connection.
Click on the code editor.
App crashes.

http://g.recordit.co/MyngUlhWox.gif

[2018-03-30 00:01] huyphams commented on #371
Hi @dyeje are you on OSX 10.11? it has been fixed in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-30 07:36] huyphams commented on #300
Hey @lee-40square and @dgomer got it, I will improve this form next update 👍 thanks, you guys.

[2018-03-30 09:26] huyphams commented on #300
I just update the form to allows set TLS mode:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Questions, do you guy need full options?

- disable:  only try a non-SSL connection
- allow: first try a non-SSL connection; if that fails, try an SSL connection
- prefer (default): first try an SSL connection; if that fails, try a non-SSL connection
- require: only try an SSL connection. If

[2018-03-30 19:34] Jastrzebowski commented on #300
Thx @huyphams for sharing this version, better (I can select my .pem files :D) but still failing for me (using GCP), I guess my custom naming of files could cause problems. Dropdown with SSL mode is Awesome but imo having explicit fields for each needed file would be better than a single button:

![image](https://user-images.githubusercontent.com/598806/38150542-b29472a0-345f-11e8-9e2b-4b6513dc9b0

[2018-03-31 05:43] huyphams commented on #300
Hey @Jastrzebowski I just updated the form. Can you give it a try 😄
Link: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-03-31 16:37] Jastrzebowski commented on #300
Working great @huyphams, thanks 😃

[2018-03-31 16:56] huyphams commented on #260
I figured out this bug, it will be fixed in next update 👍

[2018-04-01 00:22] jason13 opened #372 "Mysql column comment"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
96
3. The steps to reproduce this issue:
No column comment show / edit

[2018-04-01 02:21] Tungtono commented on #372
Hey @jason13, The table structure will be remade in the next build, which means this feature will be released as apart of the next update. Stay tuned 🤗

[2018-04-02 02:37] #371 closed

[2018-04-02 02:37] #365 closed

[2018-04-02 02:37] #362 closed

[2018-04-02 02:37] #337 closed

[2018-04-02 02:38] #300 closed

[2018-04-02 02:39] #260 closed

[2018-04-02 08:25] oujingwen commented on #236
+1 for redis

[2018-04-02 12:38] SergeySmile commented on #305
So 98 build now. But i can't see description....

[2018-04-02 12:58] huyphams commented on #305
Hi @SergeySmile i released this build early because there are some hot fixes. The structure is remaking and will be mergered in next update soon 👍

[2018-04-02 15:45] richcorbs opened #373 "sqlite extra id column displayed in data view"
I see this in builds 97 and 98. I didn't notice in any other build.

The first time I click into a table there are two "id" columns. Clicking another table and coming back to the first table removes the extra "id" column.

Refreshing the data view (Command-R) brings back the extra "id" column.

I've attached two screenshots showing both scenarios.

![screen shot 2018-04-02 at 9 42 50 am](https://u

[2018-04-02 16:29] SergeySmile commented on #305
Ok, nothing remains 😞. I will wait next update...

[2018-04-03 02:14] huyphams commented on #373
Hey thanks, let me check.

[2018-04-03 02:49] huyphams commented on #373
It's fixed @richcorbs you can try this build until the official release.
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-04-03 06:16] mholt opened #374 "CockroachDB Support"
Not a bug report, but a feature request to support CockroachDB. Its admin interface doesn't support viewing tables and running queries, so it would be great to see that in TablePlus.

[2018-04-03 06:20] huyphams commented on #374
CockroachDB uses PostgreSQL protocol to connect to its database. I will optimize it in the future (it's already on our roadmap).

[2018-04-03 07:32] mdrobny opened #375 "Amount of rows is not updated"
1. Which driver are you using and version of it
PostgreSQL 9.6.6

2. Which TablePlus build number are you using
build 98

3. The steps to reproduce this issue:
In the bottom of  "data" view of some table it says how many rows the table has. I wrote down this amount of rows ~5 days ago and today I open this table again and the amount of rows displayed is still the same which is unexpected. I ran `s

[2018-04-03 07:37] huyphams commented on #375
Hi @mdrobny there is an option in preferences can help. If you turn offestimate  (or better increase the number of rows) TablePlus will count exactly the number of rows:

- Pros: Count exactly.
- Cons: Slow when TablePlus has a million rows (or depend on memory limit).

We suggest you turn on this feature or increase the limit number for better performance.

[2018-04-03 07:42] lee-40square commented on #300
Just gave it a try and it works great for Postgres on Heroku! You rock! Thank you!

[2018-04-03 13:07] mholt commented on #374
Great! Yeah, it just seems to work somewhat but when I go to list the contents of a table, it says `ERROR:  column name "ctid" not found` -- that's the only error I have seen so far. Hopefully it won't take too long to do since you already have fantastic support for PostgreSQL. Thanks again!

[2018-04-03 13:59] richcorbs commented on #373
New build works great.

[2018-04-03 13:59] #373 closed

[2018-04-03 16:12] huyphams commented on #374
Hey @mholt I just added support for Cockroach DB (maybe there are some bugs) can you give it a try?

Download: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

<img width="712" alt="screen shot 2018-04-03 at 11 10 43 pm" src="https://user-images.githubusercontent.com/3654622/38261382-3eb74604-3794-11e8-89f0-04dd4d9d4734.png">

[2018-04-03 16:31] mholt commented on #374
@huyphams Hey, this is great, from my basic testing it works! Wow. You're fast. That means you probably have a pretty good underlying design. Nicely done.

[2018-04-03 16:54] marcusmoore opened #376 "Select the database list by default?"
The smallest nitpick in the world but it would make me so happy to see it added: When I open TablePlus I would love if the first group was highlighted by default so I could hit the down arrow a couple times to highlight the database I want to open, then hit enter and not have to use the mouse or hit tab multiple times to get to the database list.

I know it's a small nitpick but I think it would b

[2018-04-03 17:03] matheus2740 commented on #368
Just FYI, this bug is still present in build 98.

[2018-04-03 17:05] huyphams commented on #376
Nice idea, but have you tried: cmd + P, we have `Open Anything` and it can open database/table very quickly.

[2018-04-03 17:07] huyphams commented on #368
I figured out that this bug has occurred when you have a table with rtree index (which was disabled default by SQLite3). So the only solution is rebuild the SQLite driver with rtree enable. I will update it in future update. Thank you 👍

[2018-04-03 17:12] marcusmoore commented on #376
That would work too but `Open Anything` doesn't work on this screen does it?
![screenshot 2018-04-03 10 10 16](https://user-images.githubusercontent.com/1141514/38264255-4ab5deb0-3727-11e8-970e-ed4c8a6a406a.png)

By default the Twitter icon is selected but it would be nice if the `Local` group was. Does that make sense?

[2018-04-03 17:14] huyphams commented on #376
Ha, I got it, I will update it . sorry, I am not getting you at the first time 😄

[2018-04-03 17:15] marcusmoore commented on #376
No worries! You're awesome! Thank you.

[2018-04-03 19:11] codingconcepts commented on #374
@huyphams, thanks for adding CockroachDB support!

I've just had a little play with it myself and would second @mholt on the design sentiment!

One thing I've noticed that might be quite useful, would be to limit the available data types in the create table `data_type` dropdowns, so that it only contains those supported by CockroachDB (https://www.cockroachlabs.com/docs/stable/data-types.html).  I

[2018-04-03 19:33] codingconcepts commented on #374
I'm not sure if this is a CockroachDB-specific error, but I'm trying to change the string array value `{"a","b","c"}` to `{"a","b","d"}` and receive the following:

![image](https://user-images.githubusercontent.com/10614665/38271288-fb22a25a-377d-11e8-9001-748e3b234253.png)

[2018-04-04 04:08] huyphams commented on #237
https://github.com/TablePlus/TablePlus/issues/305
https://github.com/TablePlus/TablePlus/issues/372
it's still `work in progress` but now we can see the comment (PostgreSQL and MySQL) and edit (PostgreSQL) the column comment:
Download: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-04-04 04:08] huyphams commented on #305
Please check out this issue: https://github.com/TablePlus/TablePlus/issues/237

[2018-04-04 04:08] #305 closed

[2018-04-04 04:08] huyphams commented on #372
Please check out this issue: https://github.com/TablePlus/TablePlus/issues/237

[2018-04-04 04:08] #372 closed

[2018-04-04 04:29] randomstrings commented on #237
Excellent!

Understood that it's a work-in-progess. Just my observations so far (minor nit-picks):

1. Would be nice if the comment column would *not* re-size (shorten) after saving comment: https://www.dropbox.com/s/8jpuhbh9t6xba8h/column_length_changes.mov?dl=0

2. Would be nice if the comment column would default to fill available table width instead of (shorter) fixed/standard-width (which cut

[2018-04-04 05:24] Sennahoi commented on #280
Yes, that works. Great.

[2018-04-04 05:29] Sennahoi opened #377 "Cancel queries is very slow"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Azure MSSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
98
3. The steps to reproduce this issue:
- Connect to azure mssql instance, run a long running query like "select * from some_long_table" and hit Cancel. On my system, it takes about 30 seconds to cancel the operation and

[2018-04-04 06:35] huyphams commented on #377
Hi @Sennahoi, SQL Server driver didn't support cancel query directly. Depend on the drivers, they have implemented its own method:
Currently, TablePlus works great with PostgreSQL and MySQL in canceling the running query.

The other solution for SQL Server is disconnected and reconnect after that but it's seems not a good idea IMO.

[2018-04-04 10:46] huyphams commented on #374
This is the new build, it fixes many issues: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

Remaining:
- Auto convert '{}' syntax to Array[].
- Support data length in structure(example: STRING(20))
- Support create seq.

[2018-04-04 21:30] codingconcepts commented on #374
This could very well be me being stupid but this is appears to be the same file (shasum wise)!

Is this definitely the new version, @huyphams?

Cheers!

Rob

[2018-04-05 02:02] huyphams commented on #374
Hi @codingconcepts it's new build. I just updated the file on Dropbox (don't need to change the link).

[2018-04-05 02:08] mholt commented on #374
I didn't compute a checksum but I can confirm it is different / improved.

Still needs a little work, but I like how it's coming along. I'll try to scrounge up some time to give more.specific feedback later.

[2018-04-05 03:06] huyphams commented on #374
Hey, I think everybody here is using Cockroach every day so I distribute this build (because waiting is a pain):

https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0 (till the same URL).

It's usable in common cases:
- Query.
- Update, delete, insert. (Now it supports transform array from {} to Array automatically).
And all the basic function.

Welcome any feedback 👍

[2018-04-05 05:34] huyphams commented on #354
Hey @natesilva I just added support set extra (include auto increasement) in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

You can check out that build until the official release.

[2018-04-05 06:19] glerchundi commented on #374
@huyphams fantastic job!

I didn't test it out extensively but looks promising, will send a feedback.

Just one nit, there is a discrepancy between which extension CockroachDB expects for certificates and TablePlus allows to pick. CockroachDB searches (when using their cli with `--certs-dir`) for `*.crt` extensions (concretely for `ca.crt` and `client.<user>.crt`) but TablePlus requires these to b

[2018-04-06 03:57] huyphams commented on #376
I fixed this bug in build 99 👍

[2018-04-06 05:35] l41lt0n commented on #347
@huyphams,

Can you provide the new field to set password to SQLITE ( encrypted )??

I have updated and it was missed 👎

Please check it

[2018-04-06 05:39] huyphams commented on #347
Sure, but I have to refactor the form a little bit, you can expect it in the next update 👍

[2018-04-06 07:13] #354 closed

[2018-04-06 11:09] l41lt0n commented on #347
@huyphams,

Okay, thank you! 👍

[2018-04-06 13:53] dgomer commented on #300
@huyphams Sorry for the time it took for me to get back to you on this, but it's working perfectly with my RDS Postgres instance as well - Thanks so much!

[2018-04-06 14:50] marcusmoore commented on #376
Awesome! Thanks again!

[2018-04-06 14:50] #376 closed

[2018-04-06 15:27] delfuego commented on #244
I too see this exact same issue.

[2018-04-06 20:06] matheus2740 commented on #368
Thanks man, I appreciate it :)
Nice work on TablePlus btw, I'm using it as my daily driver for a couple of weeks so far, it's been great.

[2018-04-06 20:11] matheus2740 commented on #368
Oh, I forgot to mention it, I'm using spatialite extensions for this project, and the problematic table have a POINT column.
![screen shot 2018-04-06 at 17 10 48](https://user-images.githubusercontent.com/1382666/38442103-8559aebe-39bd-11e8-87d9-a0266d055a00.png)

[2018-04-07 04:59] natesilva commented on #354
It work. Thank you!

[2018-04-07 09:42] mdrobny commented on #375
@huyphams thanks for response. I understand this behaviour now

[2018-04-09 04:32] huyphams commented on #255
it's in build 100 👍

[2018-04-09 09:40] linuxjuggler opened #378 "ability to run selected SQL statements"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
99

3. The steps to reproduce this issue:

[code]
selecting the whole statement and then run `run selected` results `Query was empty`

meanwhile the same code works without any issues on sequel pro

![screen_shot_2018-04-0

[2018-04-09 09:43] huyphams commented on #378
Hey thanks,
The reason TablePlus says it's empty because it tried to parse the statement into queries.

The main difference between TablePlus and Sequel Pro is Sequel Pro only parse the string into queries when you have not highlighted the string.

For example:
When you highlighted this string: `Select 1; Select 2`
TablePlus will try to parse it into query `Select 1` and `Select 2` but Sequel Pro

[2018-04-09 09:46] linuxjuggler commented on #378
I got your point, and hope to see it fixed soon, as this affect anything related to creating functions and procedures ..

thanks again

[2018-04-09 09:59] Sennahoi opened #379 "Create SQL statements from sql query result view"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Azure MSSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
99
3. The steps to reproduce this issue:
Query some table from within an sql query view, select a row in the result and make a right click. Would be great to have a "copy as sql insert" when you query single table (I love

[2018-04-09 10:01] huyphams commented on #379
Yeah sure, it will be added to TablePlus build 100 👍 thanks for reporting.

[2018-04-09 10:04] Sennahoi commented on #379
Great, one of few little things that currently keep me from buying a license for work.

[2018-04-09 12:48] zydeco opened #380 "Missing acknowledgements for MySQL"
The acknowledgements for MySQL are missing, instead it shows [acknowledgements for Sparkle](https://github.com/sparkle-project/Sparkle/blob/master/LICENSE).

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
n/a
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 99
3. The steps to reproduce this issue:
 * Open about screen
 *

[2018-04-09 12:50] huyphams commented on #380
Hey thanks, this my mistake. Let's me update it.

[2018-04-10 13:48] itsdeezy commented on #166
@huyphams is there any work arounds? I tried explicitly importing an identity, still no dice.

[2018-04-10 14:05] huyphams commented on #166
I'm trying with the identity, I will report you asap.

[2018-04-10 15:51] huyphams commented on #236
Hey guys, good news. TablePlus next update will support Redis officially and here is the early build include that support. It would be great if you guys can give it a try and let me know your thought.

Download: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

This build can self-upgrade when the official is released, so don't worry.

[2018-04-10 21:35] coredumperror commented on #236
From my quick perusal, this looks good!

[2018-04-11 13:56] linuxjuggler commented on #378
thanks @huyphams, I'll look into it later when you release the build.

[2018-04-11 13:56] #378 closed

[2018-04-11 13:58] spaceisstrange commented on #360
Yay, just tried it and it works wonderfully! I use the SetApp version, though, so any hindsight when this build will be available for us? 😄

Thank you so much!

[2018-04-11 13:58] #360 closed

[2018-04-11 14:01] huyphams commented on #360
We release update every weeks, and the next is at the end of this week. 😁

[2018-04-11 14:45] #374 closed

[2018-04-11 15:25] #184 closed

[2018-04-11 15:26] #204 closed

[2018-04-11 15:27] #216 closed

[2018-04-11 15:29] #237 closed

[2018-04-11 16:19] mholt commented on #374
I don't know if it matters, but something to note is that .pem and .crt usually imply different encodings (at least in web server land): .crt is usually DER-encoded and PEM is of course PEM-encoded. That would make a difference when reading the file. If you only support one format, document that.

[2018-04-11 21:38] ryanq commented on #284
I thought I was seeing this today. I had a table defined that I could select from, but it didn't show up in the sidebar. I could bring it up in a tab with the open anything shortcut. It turned out to be that the selected schema (dbo) wasn't the one that contained the table. Selecting the proper schema showed the table under the items heading.

I thought I'd post here in case that was the issue her

[2018-04-12 13:09] ashfame opened #381 "Unable to change order of columns"
1. Which driver are you using and version of it: MySQL 5.7.21

2. Which TablePlus build number are you using: Build 99

3. The steps to reproduce this issue: Try to drag one column selects multiple columns in the direction of the drag. Possible to implement this?

[2018-04-12 13:10] ashfame opened #382 "Twitter link doesn't work in Private Message window"
Facebook works, Twitter doesn't. Build 99

[2018-04-12 13:11] huyphams commented on #381
Hey @ashfame you can change the column order link by edit the first column in table structure (#)

[2018-04-12 13:16] huyphams commented on #382
Thanks, I just fixed it.

[2018-04-12 16:29] huyphams commented on #377
Hey @Sennahoi can you test this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
I improved the canceling time in this build.

[2018-04-12 18:46] 0x3333 opened #383 "MSSQL Server messages not shown"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MS SQL Server 2016

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (99)

3. The steps to reproduce this issue:
Run a query

When I run a query, SQL Server may return several messages. Those messages aren't been displayed. They are fundamental to debug the issue.

In M

[2018-04-12 21:15] ashfame commented on #381
Cool, thanks!

[2018-04-13 00:55] AlexandreGalois commented on #340
In addition to this, it looks like the standard queries generated by the UI when updating the view do not automatically quote/tick column names.

E.g. imagine a simple MySQL table with column names containing spaces:

**Test case:**

[code]

If you open this table in TablePlus UI and sort on "such column" it'll throw an error saying:

Not 100% sure this is what causes it, but fact is when you remo

[2018-04-13 02:58] #381 closed

[2018-04-13 03:00] huyphams commented on #340
Hi @AlexandreGalois could you tell me more about your client version? Because TablePlus always add quotes in the auto-generated statement.

[2018-04-13 03:04] huyphams commented on #340
Looks like it's a bug:  SELECT * FROM `nice`.`baba` ORDER BY `ch` Ee LIMIT 2000 OFFSET 0; the back stick was wrong position.

[2018-04-13 04:40] huyphams commented on #379
Hey! I just release build 100, but unfortunately. TablePlus only support copy as insert statement for MySQL and PostgreSQL in this build.

You can work around by using the table filter, we have a `copy as insert statement` here.

We will and support for `SQL Server` in the next build `101` next week.

[2018-04-13 04:41] #382 closed

[2018-04-13 04:41] #380 closed

[2018-04-13 04:41] huyphams commented on #383
Hey thanks, we will improve it in next update 101.

[2018-04-13 04:41] #377 closed

[2018-04-13 04:42] #236 closed

[2018-04-13 04:42] #275 closed

[2018-04-13 04:44] #255 closed

[2018-04-13 07:33] Sennahoi commented on #377
You are amazing! Works like a charm. Thanks a lot.

[2018-04-13 12:33] kimus opened #384 "Authentication plugin 'mysql_clear_password' cannot be loaded: plugin not enabled"
Can't connect over SSL to MySQL.

*Connection Error*
Authentication plugin 'mysql_clear_password' cannot be loaded: plugin not enabled

[2018-04-13 12:52] kimus commented on #384
workaround:
[code]

[2018-04-13 14:09] kez opened #385 "Execute query shortcuts reversed in build 100"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Postgres 9.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

100!

3. The steps to reproduce this issue:

Write 2 queries in a query editor (I've tried a `select` then `update` and 2 `selects`); terminate each query with a semi colon.  Hit the `Execute All` shortcut (Command +

[2018-04-13 14:11] huyphams commented on #385
Hi @kez you can change back the default by click the drop down near execute button. We changed the default in build 100. Thanks.

[2018-04-13 14:15] kez commented on #385
Thanks @huyphams - I checked the Shortcuts panel of Preferences which still refers to them as separate shortcuts, but not that little dropdown.  Heartily approve of the change (or the ability to set it); will read the release notes next time ;)

[2018-04-13 14:15] #385 closed

[2018-04-13 15:07] huyphams commented on #384
Hey @kimus thanks for letting me know, I will take a look at this bug.

[2018-04-13 15:16] huyphams commented on #384
After reading the documents and some related topics.
- This is a runtime option of SQL lib.
 - We can enable it by an environment variable (just like you did).
The main problem is this option allows MySQL Send plain password => it's not safe at all.

So TablePlus will not enable it by default, probably we should have a dialog asking user allow it when connecting to server.

[2018-04-13 19:31] AlexandreGalois commented on #340
Well, that was resolved pretty quickly :) Let me know if you need any further info.

[2018-04-14 01:46] dbkaplun opened #386 "SQLite trigger syntax is not supported due to semicolon as part of statement"
* TablePlus Version 1.0 (99)
* sqlite 3.20.1

[code]

[2018-04-14 02:15] huyphams commented on #386
Hey @dbkaplun please update to build 100. It’s supported already.

[2018-04-14 02:15] #386 closed

[2018-04-14 02:43] dbkaplun opened #387 "BLOBs in sqlite column values render as `EMPTY`"
* TablePlus Version 1.0 (99)
* sqlite 3.20.1

Thanks!

[2018-04-14 19:50] buremba opened #388 "Error using manual input in column_default"
1. PostgreSQL 10.0

2. TablePlus version 1.0

When I try to create a JSONB column with the default `'{}'::jsonb` value, TablePlus fails to create the column. Here is the SQL output it tries to execute:
[code]

[2018-04-15 15:25] huyphams commented on #387
Thanks @dbkaplun let's me check it.

[2018-04-15 17:34] 2b commented on #166
Hello.

I have same problem. Build 100 from Setapp.

![screen capture on 2018-04-15 at 20-29-57](https://user-images.githubusercontent.com/829041/38781378-4a6a19fc-40ec-11e8-9437-7add8432e743.gif)

[2018-04-15 17:52] 2b commented on #166
I've completely emptied ~/.ssh/config, to make sure that problem isn't in additional ssh-parametres or spaces-markup, so I just added next 3 rows to ~/.ssh/config:

Host localhost
HostName 127.0.0.1
User root

And result was the same.

[2018-04-16 02:34] mholt opened #389 "cockroachdb: Database I'm connected to not appearing in list, nor any tables"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

CockroachDB CCL v2.0.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 100

3. The steps to reproduce this issue:

I simply make a connection to my local (insecure) CockroachDB instance, and I can't see any tables on the left side, and the database doesn't appear in the l

[2018-04-16 02:35] huyphams commented on #389
Hi @mholt please choose public schema and all table will be there.

[2018-04-16 02:53] mholt commented on #389
Oh! There they are. Thanks. (Sorry, I wouldn't have expected that. I'm not very experienced with relational databases.) Why is my schema, which is not called "public", listed as "public"? 🤔

[2018-04-16 02:53] #389 closed

[2018-04-16 02:57] huyphams commented on #389
Hmm, I don't know how cockroach stored data but in PostgreSQL, every table belongs to a schema, and the default schema named public. You can create a new schema as well.

You can found more information here: https://www.cockroachlabs.com/docs/v2.0/sql-name-resolution.html#logical-schemas-and-namespaces

[2018-04-16 03:03] mholt commented on #389
I should read that page 😅  -- thank you!

I'm going to buy this as soon as I have the funds (hopefully I can sell this thing I'm building). Thanks for your fast response!

[2018-04-16 03:09] huyphams commented on #340
Hey @sam-jg TablePlus now supports adding quote:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Currently, it adds a quote automatically when table/column name has space or have both lower case and upper case.

[2018-04-16 06:39] locky28 commented on #256
Ditto on searching GitHub to find this feature. I agree with adding it into the File Menu.

Maybe adding something into FAQ as a placeholder?

[2018-04-17 07:30] huyphams commented on #368
Hey @matheus2740 I enabled rtree index in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

I also added an ability to edit data directly in custom query screen.
<img width="1114" alt="screen shot 2018-04-17 at 2 29 35 pm" src="https://user-images.githubusercontent.com/3654622/38854780-cc05d00e-424b-11e8-9136-e22883013987.png">

[2018-04-17 21:28] matheus2740 commented on #368
Thank you @huyphams ! I tested it and it worked flawlessly, thanks for that!

[2018-04-18 06:45] Rukeith commented on #71
I really love querious has the Table Relationships.
It is helpful for me

[2018-04-18 10:28] huyphams commented on #388
Hey @buremba  you can work around by with input `{}`
<img width="591" alt="json" src="https://user-images.githubusercontent.com/3654622/38926727-da8d15c8-432d-11e8-84e9-b5000e91321d.png">

[2018-04-18 13:00] FCO opened #390 "save connections on iCloud"
This is a feature request.

It should be possible to save de connection details on iCloud, so I can connect to all my databases from any computer.

[2018-04-18 13:10] huyphams commented on #390
Yup, we have a plan to support sync connections using private clouds: dropbox, google drive, icloud...

[2018-04-19 12:28] ruoshan commented on #387
mysql BLOB data has the same issue

[2018-04-19 14:08] huyphams commented on #257
Hey @dcbb we support it in the upcoming build, could you try it and let me know your thoughts
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-04-19 14:10] huyphams commented on #321
This feature will be released as a part of the build 101. You can try it here:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

It's duplicated with https://github.com/TablePlus/TablePlus/issues/257

[2018-04-19 14:10] #321 closed

[2018-04-19 14:13] huyphams commented on #93
This feature will be released as a part of the build 101. You can try it here, please let me know your thoughts:

https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

- TablePlus only supports extract creation for a single table, if you want to export all the tables at the same time I think you should use pg_dump.

I closed it because It's duplicated with https://github.com/TablePlus/Tabl

[2018-04-19 14:13] #93 closed

[2018-04-19 15:35] itsdeezy commented on #166
@huyphams I believe my issue is actually related to #344

[2018-04-19 15:38] huyphams commented on #166
Hey, @itsdeezy thanks for pointing it out. We have a release tomorrow, because of time constraints so I can't ship this bugfix in that build.
We can expect that it will be fixed in build 102 (next week).

[2018-04-19 16:19] spaceisstrange opened #391 "SET NULL on delete foreign key not available even when column is nullable"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
100

3. The steps to reproduce this issue:

   - Create table
   - Create column and set is_nullable to **YES**
   - Create foreign key on column and try to set the _ON DELETE_ option, _SET NULL_ is not available
   -

[2018-04-19 16:29] huyphams commented on #391
Hey, @spaceisstrange thanks for the reporting. I have fixed it in this bug build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Let me know if it works for you 👍

[2018-04-19 16:52] huyphams commented on #387
Hey @dbkaplun @ruoshan, it would be great if you can give a SQL file (Or SQLite file) for testing. I checked on my build but it works.
MySQL.
<img width="1163" alt="screen shot 2018-04-19 at 11 50 22 pm" src="https://user-images.githubusercontent.com/3654622/39006231-a92dc55e-442c-11e8-8814-474406ec2a34.png">

SQLite.
<img width="1163" alt="screen shot 2018-04-19 at 11 50 32 pm" src="https://user-

[2018-04-19 17:02] dbkaplun commented on #387
@huyphams here you go: https://nofile.io/f/pR3C27UUWjv/preimage.sqlite

You can run the following SQLite query to see the data stored in the 4th byte of `preimage_hash`:
[code]

[2018-04-19 17:24] huyphams commented on #387
I found it, looks like it's an attachment (not a plain text). I will try to load it as binary.

[2018-04-19 17:39] arandilopez commented on #9
I'd love a linux version

[2018-04-19 21:05] spaceisstrange commented on #391
Working perfectly, @huyphams! Thank you so much for such a quick response!

[2018-04-19 21:05] #391 closed

[2018-04-20 04:25] #379 closed

[2018-04-20 04:25] #368 closed

[2018-04-20 04:26] #340 closed

[2018-04-20 04:30] huyphams commented on #245
TablePlus supported streaming result now. We can cancel any time so I think we don't need this feature.
If you think the streaming is not your expectation please reopen this issue again.

[2018-04-20 04:30] #245 closed

[2018-04-20 07:58] Sennahoi commented on #379
"TablePlus can't detect the table of this query result. This probably because of the limitation of current version. We will improve it in the future." doesn't really solve this but I hope to see an improved version of this function in a future version.

[2018-04-20 08:01] huyphams commented on #379
@Sennahoi  can you give me your example? If the result from multiple tables, TablePlus can't copy it as insert statement.

[2018-04-20 08:03] huyphams commented on #379
Hey @Sennahoi look like you are on the old version, please update to build 101.

[2018-04-20 08:03] Sennahoi commented on #379
Just "select * from some_table". Using MSSQL in Azure.

[2018-04-20 08:05] Sennahoi commented on #379
You were right, it seems that I didn't restart TablePlus after the update. Not I get a different message for "select * from some_table": TablePlus couldn't detect the table of this result. This probably because of the limitation of current version or the result is from multiple tables.

[2018-04-20 08:09] huyphams commented on #379
I have tested with the similar syntax: select * from [Group];

and it works. Can you show me the full select query (please change the syntax and blur sensitive information)?
INSERT INTO [dbo].[Group] ([id], [nice], [join], [from], [from nice]) VALUES ('1', 'ss', 'dasdasd', 'asdaddsdasdasd', 'd');

[2018-04-20 08:14] Sennahoi commented on #379
I just tried this on a local MSSQL server with the same error message:

`CREATE TABLE t1 ( c1 int );
insert into t1 (c1) values (1);
select * from t1;`

and I double-checked the version. It is 1.0 (101).

[2018-04-20 08:41] huyphams commented on #379
Hey @Sennahoi sorry my bad, I have a bug on that build. Here is the fix version: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-04-20 09:13] Sennahoi commented on #379
Awesome, that works! Thank you very much.

[2018-04-20 12:11] linkdesu commented on #284
Mysql 8 can not see tables, the correct query should be `... WHERE table_schema = ...` .

This makes new users really disappointed.

[2018-04-20 12:12] huyphams commented on #284
Hey @linkdesu let me test with MySQL 8, but it should be an other issue.

[2018-04-20 12:17] huyphams opened #392 "Support MySQL 8.0"
TablePlus must be compatible with MySQL 8.0

[2018-04-20 13:02] huyphams commented on #392
It's supported in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-04-20 13:02] huyphams commented on #284
Hey @linkdesu please check this issue: https://github.com/TablePlus/TablePlus/issues/392
TablePlus supports MySQL 8.0 now.

[2018-04-20 13:12] linkdesu commented on #392
THX ! What a impressive response speed. I can continue my trial now !

[2018-04-20 15:02] ngocphamm commented on #297
Looking forward to this! You've made an incredible app, guys!

[2018-04-20 22:27] estetoro commented on #231
👍

[2018-04-20 22:50] jdiggans-twist commented on #231
👍

[2018-04-21 01:08] ngocphamm opened #393 "Does not seem to follow Foreign Key constraints for SQLite"
1. Which driver are you using and version of it
SQLite

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
101

3. The steps to reproduce this issue:

- Open the attached sqlite database file. It has 2 tables `acconnt`, and `post`. Table `post` has a FK to table `account`.
- Try to insert a record to `post` table, with a non-existing `account_id`. For e

[2018-04-21 02:27] huyphams commented on #393
Hey thanks for the reporting, it's fixed: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-04-21 07:38] marcantoine opened #394 "Cannot see the table structure with postgre 10.1"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.1
(i tested with mysql 14.14, its working)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 101

3. The steps to reproduce this issue:
Connect to any psql10.1 database, select a table and go in Structure. The table column listing is empty. It doesn't even show

[2018-04-21 15:53] ngocphamm commented on #393
That was fast! However I just updated to build 102, and it display the foreign keys properly (really properly!), but still allows an invalid to be inserted. Can you please check it again @huyphams?

[2018-04-21 16:36] aar0nr commented on #381
@huyphams is it possible to create an internal representation of the column order *for display purposes only* for databases that don't support altering column position i.e. PostgreSQL? That would be sweet! 👍

[2018-04-21 16:46] huyphams commented on #393
"Allows an invalid to be inserted" I think this is not related (or it's not what TablePlus supposed to do). It's related to the database. (SQLite is quite open, it allows to insert anything into its database).
Tell me if I'm wrong 😄

[2018-04-21 16:46] #394 closed

[2018-04-21 17:10] ngocphamm commented on #393
Sorry. "Allows an invalid record to be inserted". I meant it's a foreign-key related kind of invalid (look at the query I provided in the first post). It should not be allowed from the SQLite engine itself, thus must be reported by TablePlus.

[2018-04-21 21:08] ngocphamm commented on #393
According to the section "2. Enabling Foreign Key Support" from the link below, I think you probably have to enable foreign key support for each database connection you make from TablePlus. It can be an option in connection settings, I guess.

http://www.sqlite.org/foreignkeys.html

[2018-04-22 03:49] huyphams commented on #393
You can do it with this option:

<img width="612" alt="resource" src="https://user-images.githubusercontent.com/3654622/39091235-2886b6a0-461a-11e8-9feb-c1b0c62a6b06.png">

[code]
http://zetcode.com/db/sqlite/tool/

[2018-04-22 14:26] ngocphamm commented on #393
I created the `.sqliterc` file with `PRAGMA foreign_keys = ON` and it seems to be applied using command line `sqlite3 test.db`, but TablePlus still doesn't regard the foreign key, and let me insert the record just fine.

[2018-04-22 15:26] ngocphamm commented on #393
This is the behavior I'm seeing now.

Command line
[code]

The connection settings in TablePlus
![2018-04-22 at 11 22 am](https://user-images.githubusercontent.com/395123/39096573-bc31136e-461f-11e8-84d0-a188da16a4e2.png)

Open the database with TablePlus and run `insert into post (account_id, post_title, post_body) values (4, 'Test', 'test');`

Result
<img width="466" alt="2018-04-22 at 11 25 am"

[2018-04-22 15:33] huyphams commented on #393
I believe that the default `~/.sqliterc` it isn't working. Please set it directly (by clicking the button).

[2018-04-22 15:36] ngocphamm commented on #393
That's it! Thank you!

Do you want another issue for the default `~/.sqliterc` not working?

[2018-04-22 15:38] huyphams commented on #393
I just updated the SQLite form:

<img width="612" alt="screen shot 2018-04-22 at 10 37 31 pm" src="https://user-images.githubusercontent.com/3654622/39096707-c13dc466-467d-11e8-8c16-06148a40b19a.png">

I think we must force the user to choose the config file (follow Apple guideline sandbox app).

[2018-04-22 15:43] ngocphamm commented on #393
That's okay for me, even though for many, browsing for a "dot" file might be a bit difficult if they do not know of the `Cmd + Shift + .` for toggling hidden files display in that file browser window.

I will close this issue for now. Thank you so much for getting this fix!!!

[2018-04-22 15:43] #393 closed

[2018-04-23 03:07] huyphams commented on #392
1.  index is not working when creating table. => Currently, TablePlus doesn't allow to create index during creating a new table, you can only create the index after creating a table.
2. Table structure should support for sorting columns like 1, 2, ... , 10, 11 but not 1, 10, 11, 2, .... => It's bug, looks like it treats # as string.
3.  table structure resort columns after save changes. => it's re

[2018-04-23 22:04] bfarley-tb commented on #231
👍

[2018-04-24 20:17] aheidelberg opened #395 "Insert favorites via keyboard / placeholders in snippets"
The only two things I'm missing from Sequel Pro are the possibility to insert favorites / snippets via a keyboard trigger and placeholders in favorites.
For the insert via keyboard for example, one could assign a keyword to a snippet which will then be available via auto-complete or tab trigger.

Are there any plans to implement this?

See the [Sequel Pro Documentation](https://sequelpro.com/docs/

[2018-04-25 03:47] huyphams commented on #395
Thanks for the suggestion, I will take a look into it.

[2018-04-25 11:38] imWildCat opened #396 "Please trim spaces and new lines (\n) while registering license"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
102

3. The steps to reproduce this issue:
 3.1. Copy a license number from the email (with new line before the license string and spaces)
 3.2. Paste the license number into the text field of the registration window
 3.3. The licen

[2018-04-25 16:45] huyphams commented on #396
We have trimmed it on the server side, it's invalid because you have pasted the keys multiple times (We didn't trim it on the client side so some users have this mistake).

[2018-04-25 17:07] imWildCat commented on #396
I see. Thank you for you prompt reply!

[2018-04-25 17:07] #396 closed

[2018-04-26 09:13] huyphams commented on #344
Hey @bdougherty I have implemented keyboard-interactive support in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
But I haven't a host with ssh two-factor authentication setup. It would be great if you can test it and let me know if it works for you.
Thanks.

[2018-04-26 22:33] mholt opened #397 "Possible to not open tab on every single click?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Cockroach 1.0  (I think)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

1.0 Build 102

3. The steps to reproduce this issue:

I would just like to NOT open a new tab every time I click on a table along the left. Or when I down-arrow to browse through the tables, I usually just

[2018-04-27 01:35] huyphams commented on #397
Hey @mholt  are you using mouse? if you click by middle mouse, it's always opened in new tab.

[2018-04-27 02:08] mholt commented on #397
No, I have a trackpad. I'm just "normal" clicking. :P

Huh, it only happens sometimes. Now I can't get it to do it.

I'll close this and if it happens again I'll try to pinpoint it.

[2018-04-27 08:32] l2ysho opened #398 "Add column through "Open Structure" tab broke table"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    PostgreSQL 10.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
     build 102
3. The steps to reproduce this issue:

     Adding new column type bool (tested several of type with same result) to  table in "Open Structure" tab broke a table. App generates this query
```ALTER

[2018-04-27 08:34] huyphams commented on #398
Hey @l2ysho thanks for the feedback, I will check and fix it now.

[2018-04-27 21:02] mholt commented on #397
Aha, I think I figured it out -- at least a little bit.

When you open a connection and nothing is in the main content pane, you click an item on the left and it shows that table. Then if you double-click another table (or any other "item") on the left, it will open in a new tab. Then, _single-clicking or using the arrow keys up and down_ will open each one in a new tab.

Is that expected? I don't

[2018-04-28 13:26] dbkaplun opened #399 "Connection held open by TablePlus after closing window"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**PostgreSQL 10.3 on x86_64-apple-darwin17.3.0, compiled by Apple LLVM version 9.0.0 (clang-900.0.39.2), 64-bit**, installed via Homebrew

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Version 1.0 (102)**

3. The steps to reproduce this issue:
    1. `createdb foo` in terminal

[2018-04-28 13:49] huyphams commented on #399
I can't reproduce the bug. I have checked the lasted version by this way:
Open TablePlus app -> Connect to a database.

Open terminal and run: `lsof -nPi | grep TablePlus` <- This command works fine on High Sierra. it will show you which Port TablePlus is using.

- The result is:
<img width="875" alt="connection" src="https://user-images.githubusercontent.com/3654622/39397174-39c37a6a-4b25-11e8-86

[2018-04-28 15:57] huyphams commented on #399
Hmm, weird, I have tried twice and it's working. Sorry for the late response because I just back to home.
<img width="435" alt="screen shot 2018-04-28 at 10 56 39 pm" src="https://user-images.githubusercontent.com/3654622/39398403-76b5bb9c-4b37-11e8-9fcd-88776bb1219d.png">

[2018-04-28 18:42] dbkaplun commented on #399
Hey @huyphams,

I uploaded a repro: ![TablePlus #399 repro](https://user-images.githubusercontent.com/1765130/39399764-f6ae1a88-4af1-11e8-9359-e1629e49dfd3.gif)

Maybe something is different in my setup? I haven't changed much though.

[2018-04-28 19:36] mholt commented on #397
Hi @huyphams  -- thanks for the explainer! That's starting to make sense. But I think it misses the point that there's a bug where a single click in the table list will open the table in a new tab, even though no changes were made to the current table (i.e. it's pinning a table when it shouldn't be). You can reproduce this by double-clicking a table on the left, then double-clicking a different on

[2018-04-28 19:58] mholt opened #400 ""Please select driver version" when trying to do backup"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Cockroach 2.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

1.0 build 102

3. The steps to reproduce this issue:

On the first screen, click Backup. Choose connection, then choose DB. Choose a folder to save, then click "Backup". A message says, "Please choose a driver versio

[2018-04-29 00:55] huyphams commented on #397
Yup, I forgot to mention that `double-click` will also pin the table.

[2018-04-29 01:44] huyphams commented on #399
Thank you so much, the video made sense. I have uploaded a build, can you check if it's working for you:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-04-29 12:24] l2ysho commented on #398
I will try it in few hour, also I’ll try reproduce bug on some testing DB outside my localhost. If I will find something I let you know.

[2018-04-29 14:39] mholt commented on #397
Okay -- I think that's fine.

However, after double-clicking to pin a table (maybe have to do it twice), _single-clicking_ another table will also pin it. Which opens a lot of tabs. :-/

[2018-04-29 14:41] huyphams commented on #397
It's not open a new table if you click on the item (on the left-side bar). TablePlus will find the tab which can be replaced and replace the content in it.

[2018-04-30 05:40] huyphams commented on #344
Thanks for the feedback. I have changed the method keyboard interactive. Can you give it a try: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
I hope it will work.

[2018-04-30 05:56] huyphams commented on #166
Hi @itsdeezy I have implemented keyboard interactive support in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Can you give it a try?

[2018-04-30 11:48] JohnRomanski commented on #358
FYI, in case you need some inspiration, there is a cloud based data tool that enables you to sort by multiple columns by shift-clicking on subsequent column headers.

[2018-04-30 11:59] JohnRomanski opened #401 "Feature Request: Export All History"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Redshift

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 103
______

Feature request: A way to export all SQL history into one file. (After using the tool for a week to compose queries, I have about 100 I need to export to a file. It would be nice if there were a way to export th

[2018-04-30 12:01] huyphams commented on #401
It’s saved in a temporary folder. Yup, I support the way to export all of them (or navigate to the folder).

[2018-04-30 12:34] huyphams commented on #400
Hi @mholt thanks for the feedback, currently TablePlus uses the native binaries from MySQL and PostgreSQL for this function and it only supports MySQL and PostgreSQL for now.
We are considering to replace this function in TablePlus so that's why it's not updated for a long time.

[2018-04-30 12:36] huyphams commented on #358
Hi guys, we are considering this feature, I will try to implement it in the next update. If it is good, I will be released in the build 104.