[2017-06-15 10:17] jack3010 opened #1 "[UI Bug]Connection view does not centered"
Steps to reproduce:
* Create new connection -> Connect -> Edit connection -> View connection move over the top of window. See attached file
<img width="1280" alt="screen shot 2017-06-15 at 5 06 50 pm" src="https://user-images.githubusercontent.com/9066873/27176707-cb54317c-51ed-11e7-9641-57e99664b742.png">

[2017-06-15 10:19] huyphams commented on #1
Cool, we got it.
This bug will be fixed in the next release 🐶🐶🐶

[2017-06-18 19:16] huyphams commented on #1
We just fixed the bug, please update the app on https://tableplus.io or TablePlus > Check for update...
Thank you.

[2017-06-18 19:17] #1 closed

[2017-06-21 04:52] und3fined opened #2 "Please use default browser for button Update Now"
Hi developer,

I'm not use Safari is *default browser*.
Please use default browser for button Update Now

Thanks.

[2017-06-21 04:58] huyphams commented on #2
TablePlus is using Safari for login because Safari is more secure and compatible with Apple App Deeplink (TablePlus needs deeplink to pass login info after oauth2 success). TablePlus only open Safari for login/purchase purpose  so I think it's not annoying that much.
Thank for feedback.

[2017-06-21 04:59] und3fined opened #3 "[Bug UI] result query update?"
It has no style.

![It has no style.](https://1.downloader.disk.yandex.ru/preview/63438c1e647ea500b09d894d921f5cdef4f9059c898c98d40496498e77c193ac/inf/Sv-X_3tZJ0Tw_p8DbO3W5il4gaNvU4-9IvcgbgoLZmMKP_OyZGqALbHo9CewctwpioAHXlMS5BQJvT3vWmWBJQ%3D%3D?uid=0&filename=Screen%20Shot%202017-06-21%20at%2011.53.16%20AM.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=XXL&crop=0)

[2017-06-21 05:06] und3fined commented on #2
I think you should upload the app to the App store for automatic updates.

[2017-06-21 07:04] huyphams commented on #3
It's issue of alternating rows, will be fixed in the next build

[2017-06-21 07:06] huyphams commented on #2
@und3fined App Store require sandbox feature, with sandbox mode, we can't choose file outside the app and have a lot of disadvantaged

[2017-06-22 09:20] marutaroo opened #4 "[MySQL][Bug] Should be able to reconnect after lose connection"

[2017-06-22 09:21] marutaroo opened #5 "[MySQL] Support add column before/after"

[2017-06-24 08:10] huyphams commented on #2
Now TablePlus will update new version via default browser

[2017-06-24 08:11] #2 closed

[2017-06-24 08:11] huyphams commented on #3
Fixed in the build 45. Please check it out.

[2017-06-24 08:11] #3 closed

[2017-06-24 09:17] huyphams commented on #4
Solved, please checkout version 45

[2017-06-24 09:17] #4 closed

[2017-06-24 09:18] huyphams commented on #5
Thanks for your feedback, we are working on MySQL

[2017-06-28 02:05] und3fined opened #6 "TablePlus build 46, Can't change port PostgreSQL"
Please check again...

[2017-06-28 02:51] huyphams commented on #6
Solved, thank you.

[2017-06-28 02:51] #6 closed

[2017-07-02 08:28] huyphams commented on #5
I confirm this feature will be released in build 48.

[2017-07-04 17:26] #5 closed

[2017-07-06 06:34] madakopihub opened #7 "Link download is broken"

[2017-07-06 06:48] huyphams commented on #7
I just checked, the link still working. Are you using mac?

[2017-07-06 06:50] madakopihub commented on #7
ok, it working now. Thanks

[2017-07-06 06:50] #7 closed

[2017-07-08 08:44] krzysztof-miemiec opened #8 "Camel case column names"
When I try to sort by clicking on column header, I get an error because of missing quotes in generated query. Here's the error screenshot:
![error](https://user-images.githubusercontent.com/396693/27983961-474275a8-63ca-11e7-8544-b2fbcce87183.png)

[2017-07-08 08:46] huyphams commented on #8
It would be better if you can give me more info:
- TablePlus Build Number:
- Database Driver (MySQL or PostgreSQL):
I can fix it in the next release

[2017-07-08 08:47] huyphams commented on #8
I got the bug. Thank you.

[2017-07-08 09:39] krzysztof-miemiec commented on #8
* Version 1.0 (49)
* PostgreSQL

[2017-07-08 11:37] huyphams commented on #8
Fixed @krzysztof-miemiec
Please go to:
TablePlus > Check for update...
to upgrade to build 50. That bug should be fixed.

[2017-07-10 02:20] #8 closed

[2017-07-10 16:35] pavinthan opened #9 "Windows and Linux releases."
When will be available for windows and Linux?

[2017-07-10 16:57] huyphams commented on #9
Hi @pavinthan,
Team are working with Windows Version and will release a beta in couple month, but we didn't have plan for Linux at this time.

[2017-07-11 13:49] Jurgem opened #10 "Schema's on my DB dont appear"
I have a lot of schemas inside my database and in each schema have a lot of tables but the program don't show the tables or schema names... it is normal?

[2017-07-11 15:32] huyphams commented on #10
Hi @Jurgem,
It's not normal. I confirmed that TablePlus only show public schema.
Team will support select schema in the next release.
The next build will release in couple of days with a lot of bug fixes and new features.

[2017-07-12 10:43] huyphams commented on #10
Hi @Jurgem,
Could you go to TablePlus > Check for Update...
Upgrade to version 53.
We support switch schema since version 53.

[2017-07-12 11:55] huyphams opened #11 "Improve Open anything (Cmd + P)"
- Auto suggestion.
- Show result search.
- Show tables.
- Can run SQL command.
- Can open SQL Tab.

![Open anything](https://user-images.githubusercontent.com/3654622/28116544-aac2d78c-6733-11e7-98b1-51a840ce33ba.png)

[2017-07-12 11:56] huyphams opened #12 "Support create view"
- Support create/edit view

[2017-07-12 11:58] huyphams opened #13 "Support JSON pretty format"
Quick look: Right click on field > quick look.
Current TablePlus didn't support pretty format for data (Ex: JSON).

[2017-07-12 12:00] huyphams opened #14 "Edit data in Quick Look"
Allow edit data in Quick Look (right lick on row > Quick Look)
![Quick look](https://user-images.githubusercontent.com/3654622/28116683-58b948f8-6734-11e7-8cac-ef685aa6080a.png)

[2017-07-12 13:39] Jurgem commented on #10
Thanks,  now it work

pd: i love the SQL formater

[2017-07-13 04:53] indapublic opened #15 "The correct file have no extension"
![screen shot 2017-07-13 at 14 51 10](https://user-images.githubusercontent.com/856260/28150888-da8caae0-67da-11e7-981e-ab70d2982b55.png)

I'm not sure is correct. `.ppk` is valid file extension for private key file

[2017-07-13 04:54] huyphams commented on #15
hi @indapublic
It is the warning, you can ignore the warning for now. I will improve it in the next release.
Thank you.

[2017-07-14 19:40] huyphams opened #16 "Wrong name when create new table"

[2017-07-14 19:41] huyphams opened #17 "Memory leak in ssh framework"

[2017-07-14 19:41] huyphams opened #18 "Random crash app when get database listing"

[2017-07-14 20:01] #18 closed

[2017-07-14 20:01] #17 closed

[2017-07-14 20:01] #16 closed

[2017-07-14 20:02] huyphams commented on #15
Fixed in build 54. Please go to TablePlus > Check for update...

[2017-07-14 20:02] #11 closed

[2017-07-14 20:03] #10 closed

[2017-07-16 06:00] #15 closed

[2017-07-23 18:41] hariesnurikhwan opened #19 "Show time taken to execute the query in SQL Query Tab."
Showing time taken to execute the query is a great thing to add because I can check if my query is good enough.

[2017-07-23 20:22] huyphams commented on #19
Sure!

[2017-07-23 21:15] huyphams commented on #19
It's here 🚀
![timeexecute](https://user-images.githubusercontent.com/3654622/28502916-9ed3900a-7026-11e7-8a9c-08884c7e141b.png)

[2017-07-24 02:50] hariesnurikhwan commented on #19
Nice work @huyphams!

[2017-07-24 02:50] #19 closed

[2017-07-24 03:01] hariesnurikhwan opened #20 "Use default private key for connecting over SSH."
Like many other apps like Transmit, Sequel Pro they choose private key automatically unless we select other private key. It would be very convenient.

It's not big improvement but it'd save some time for us 😁

[2017-07-24 03:03] huyphams commented on #20
Nice idea, I will try in the next release 😁

[2017-07-24 03:08] hariesnurikhwan opened #21 "Show current status while testing connection & specific error message if it fails."
While testing connection it'd be better if there's some status, same status while you're trying to connect to the server.

![image](https://user-images.githubusercontent.com/10152692/28506702-bb0f7002-705f-11e7-951c-23e39de1158c.png)

Currently I wasn't able to connect to my RDS over SSH using TablePlus.
And while testing the connection, I only get red coloured form. I dont know the exact error, w

[2017-07-24 03:17] huyphams commented on #21
It should be a bug, because when user input wrong username/password, there are two fields should be marked as red color. (not all the fields).
Plain text error is nice. I will add a error label if there are no way better.

[2017-07-24 03:26] hariesnurikhwan commented on #21
What about the testing connection status?

Anyway do you need any information to fix the issue?

I'm starting to fall in love with TablePlus 😍

[2017-07-24 03:31] huyphams commented on #21
Yeah sure, I will ` the testing connection status` too, don't worry.
Thank you for using TablePlus and love it.
FYI: The next big thing in TablePlus is plugis: it allows user to write plugin in javascript and interact with datababse directly.
Example:
![screen shot 2017-07-24 at 10 30 12 am](https://user-images.githubusercontent.com/3654622/28507189-1b8715e8-705b-11e7-943a-985e2530721c.png)
😁

[2017-07-24 18:33] huyphams commented on #20
It's great idea and save time but I think TablePlus can't select file without permission of user.

TablePlus is following [Apple Sandbox](https://developer.apple.com/library/content/documentation/Security/Conceptual/AppSandboxDesignGuide/AboutAppSandbox/AboutAppSandbox.html) to protect users.

In Sandbox mode, TablePlus can only read/write file which was selected by user. That's mean we can not se

[2017-07-24 19:07] hariesnurikhwan commented on #20
I see, yeah it's not really a big deal.

Anyway so apps like Sequel Pro is not following Apple Sandbox?

[2017-07-24 19:10] huyphams commented on #20
yeah, they don't. I think because they are open source. They still using open-ssh and many old stuff. You can read more about it in my medium:
https://medium.com/@huyphams/how-using-ssh-tunneling-in-database-tools-might-leak-your-connection-forever-c6d48ff18746

[2017-07-28 15:57] davidep87 opened #22 "Postgresql Add new Row: Error statement All changes where reverted"
Adding a new row in a table from TablePlus with manual input show me an alert message with the text:

Error statement
All changes where reverted

Software is updated and at the latest version

[2017-07-28 17:57] brian-crane opened #23 "Format SQL crashes for very, very large input queries. Also a scroll bar for the sql window is needed."
[errorQuery.txt](https://github.com/TablePlus/TablePlus/files/1183879/errorQuery.txt)

After inserting this large SQL into the text window and hitting the Format (Cmd + I) button, TablePlus  crashes right away.

Also I think a scroll bar for the sql window is necessary to help view such large queries.

[2017-07-28 17:59] huyphams commented on #23
Hi @MrGundBear ,
The bug has been fixed. Thank you for your attachment.
I also added a config to set SQL Query has a scroll bar, you can toggle.

[2017-07-28 18:08] huyphams commented on #22
@davidep87 , the statement was failed but the server return empty error message.
It would be great if you can copy me generated SQL Statement in previewer. (Don't forget to rename column if it was private)

[2017-07-28 18:50] MrGundBear commented on #23
fantastic! Great turn-around Huy

[2017-07-28 19:59] davidep87 commented on #22
INSERT INTO "public"."contestInfos" ("updatedAt", "contestId", "id", "lang", "type", "createdAt")
    VALUES (DEFAULT, DEFAULT, '11', 'de', 'fdsafd', DEFAULT);

i think is a problem related to the camelCase

[2017-07-29 05:37] huyphams commented on #22
The bug related `camelCase` was fixed before. If the statement was failed, PostgreSQL should say something but empty.
I saw in the screenshot (on Facebook). You have `contestId` the same with existed row. There are any unique index on this field?

[2017-07-29 05:38] brian-crane opened #24 "Option to order DBs by name, by size, and by most frequently used (and to remember your option choice for future viewing) - also add scroll bar to the DB selection window."
![screen shot 2017-07-28 at 10 31 07 pm](https://user-images.githubusercontent.com/7946786/28742462-9826be86-73e5-11e7-9fba-30bfd87f6108.png)

Like picture and title say, these improvements could speed up access to my most used DBs.

I understand the 'most frequently accessed db' may be a little tricker to implement, but possibly you could just have a local count for each db and environment.

[2017-07-29 05:44] brian-crane opened #25 "Add option to press middle mouse wheel click to close tabs"
![screen shot 2017-07-28 at 10 41 45 pm](https://user-images.githubusercontent.com/7946786/28742493-5f2e7b90-73e6-11e7-969a-d0ef296c4689.png)

[2017-07-29 05:48] huyphams commented on #24
Excellent @MrGundBear , order in DBs popup is nice but I think `most frequently used` can be done by clone an other connection. I'm trying to use `Open anything...` - `command + P` to switch between databases.

[2017-07-29 05:49] huyphams commented on #25
Sure, and switch tab by numpads too.

[2017-07-29 05:51] brian-crane opened #26 "When first opening SQL query window, I have to manually drag down to view query"
This slows down SQL query viewing, see below video animation.  Perhaps add option so that this text area will auto-expand to 10-15 lines, to give me an idea of the query I am running.  Also will make query more visible for new users.

![2017-07-28 23_05_58](https://user-images.githubusercontent.com/7946786/28742613-699f7d74-73e9-11e7-9ed9-e9c6651f9d37.gif)

OSX info:
<img width="242" alt="screen s

[2017-07-29 05:55] huyphams commented on #26
This is strange behavior because SQL Query alway expanded by default, could you please give me some extra info about the OS X version?

[2017-07-29 06:07] MrGundBear commented on #26
updated comment.

[2017-07-29 06:16] davidep87 commented on #22
I don't know if this information can be helpfull but all the database structure is created by Sequelize ORM.. as you can see from this screenshot the problem is not related just to one table but to all..
[http://imgur.com/a/F3JFE](image)
If you want i can give you an export of the db structure

[2017-07-29 06:21] huyphams commented on #22
I got the bug,
<img width="346" alt="screen_shot_2017-07-29_at_1_18_35_pm" src="https://user-images.githubusercontent.com/3654622/28742683-ca9e9f02-7460-11e7-9864-f8840199ff27.png">

[2017-07-29 06:23] brian-crane opened #27 "Autocomplete is interrupted if underscore character ( _ ) is part of table name"
as shown in below animation, autocomplete is interrupted if underscore character ( _ ) is part of table name.

![2017-07-28 23_20_59](https://user-images.githubusercontent.com/7946786/28742689-a319bb8a-73eb-11e7-8ac0-95fe18f11b2f.gif)

OSX info:
<img width="242" alt="screen shot 2017-07-28 at 11 01 53 pm" src="https://user-images.githubusercontent.com/7946786/28742692-aaaf650c-73eb-11e7-8b5c-4874e

[2017-07-29 06:26] huyphams commented on #27
yup, we already know this issue and it's limitation of the current solution.
We have a plan to improve SQL Query Editor with suggestion based on current database context and improve the UI.
It's will not available in short time. It's need couple of month to implement. But sure, we will improve it.

[2017-07-31 06:24] brian-crane commented on #27
Hi Huy - just a random side question - is there a place I can view the release notes for new releases? Such as new 56 release, where can I see where new features have been added?

[2017-07-31 06:27] huyphams commented on #27
@brian-crane
For temporary you can view it in github wiki
https://github.com/TablePlus/TablePlus/wiki/Changelogs

Or follow our fan page. Click the icons on welcome screen.

[2017-07-31 06:55] huyphams commented on #26
Hi @brian-crane could you check if the release fixed this issue.

[2017-07-31 07:11] huyphams commented on #25
Added in new release 👍🏻

[2017-07-31 07:27] brian-crane commented on #26
@huyphams It actually is still occurring in the same way as originally described, even in Build 56.  It is only a small convenience though.

[2017-07-31 07:29] huyphams commented on #26
@brian-crane sure but I need to fix it. UX is very important. I will borrow some MacBook EL Capitan and try to reproduce this issue.

[2017-07-31 07:55] #25 closed

[2017-07-31 07:55] #23 closed

[2017-07-31 19:00] huyphams commented on #22
Fixed in new build @davidep87

[2017-07-31 21:21] brian-crane opened #28 "When executing a large query, we need to be able to "Stop Query" if it's taking too long."
See details in below image, would like a "Stop Query" button if possible.

![2017-07-31 14_25_18](https://user-images.githubusercontent.com/7946786/28799113-171ba8ce-75fc-11e7-96b7-e2f46889938e.gif)

[2017-08-01 00:22] brian-crane opened #29 "Add ability to view 'Messages' in SQL Query results window"
Would be nice to have a plaintext console output of my SQL command. This is good for 2 reasons.

1. Be able to read full Error message upon any error
2. For specialty commands such as 'drop function' I need to see proper data response.

Note in below image nothing is displayed when I run the 'drop function' query.

![2017-07-31 17_11_40](https://user-images.githubusercontent.com/7946786/28803747-a

[2017-08-01 03:18] huyphams commented on #29
@brian-crane sure, I will add ability to view query message

[2017-08-01 03:20] huyphams commented on #28
I'm working on Stop query feature and optimize query process.

[2017-08-01 06:19] davidep87 commented on #22
If the update is in the build 56 i think the bug still persist..
Please check the new screenshots:
[NewScreen](http://imgur.com/a/FhI1x)

[2017-08-01 06:40] huyphams commented on #22
Hi @davidep87
PostgreSQL said that you should not leave `createdAt` is null. If you want to use default, you need to set default value of column first.

[2017-08-01 06:41] davidep87 commented on #22
As you can see from the screenshot i wrote all the fields but i get always the same error

[2017-08-01 06:44] huyphams commented on #22
Thanks @davidep87 I got the bug

[2017-08-01 07:13] huyphams commented on #22
Hi @davidep87
Can you check this build https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
and tell me the result.

[2017-08-01 07:22] davidep87 commented on #22
BUG IS FIXED !

[2017-08-01 08:16] #22 closed

[2017-08-01 18:27] brian-crane commented on #26
@huyphams I can confirm this issue is resolved in Release 57.

[2017-08-01 18:29] huyphams commented on #26
Thank you @brian-crane, enjoy coding 😁

[2017-08-01 19:01] #26 closed

[2017-08-02 03:09] brian-crane opened #30 "Ability to view 'Favorite Tables'"
Even though a database can contain hundreds of tables from many different schema, I find for some applications I only need 5 - 10 tables.  But to alternate between these requires a few seconds of hunting and searching.  This time spent can add up and lead to lost productivity.  A quicker way to alternate between most frequently used tables in a DB is needed.

Would it be possible to right click a

[2017-08-02 03:10] brian-crane opened #31 "Be able to view full table namespace in tab, in form of {schema}.{table}"
Maybe have an option to view full table namespace in the tab.  Right now only the table name is shown so for the table animal.cat, 'cat' will be shown.

I am suggesting an option for that same tab to show the long form 'animal.cat'

notice below it only says 'users' - more descriptive name would be 'allUsers.users', where allUsers is schema name

![screen shot 2017-08-02 at 1 09 44 pm](https://use

[2017-08-02 03:12] brian-crane opened #32 "Add option to middle click a table to have it open in a new tab"
Currently, you can right click a table and say 'Open in new tab'.

Would be nice if there was an option to mouse middle wheel click on a table to open it in a new tab.

[2017-08-02 03:29] brian-crane opened #33 "Require DB password to lock DB"
Currently no password is required to lock DB, so sometimes I lock the DB by accident, then have to take time to enter password to unlock.

Perhaps require password to lock / unlock.  In the settings maybe you could have 4 options:

a. Require password on Unlock only.
b. Require password on Lock only.
c. Require password on Lock and Unlock.
d. Require **NO** password to Lock and Unlock

[2017-08-02 03:31] huyphams commented on #32
Hi @brian-crane I'm on a flight. Bb later 😁

[2017-08-02 03:34] brian-crane commented on #32
Fly safe!

[2017-08-02 18:17] brian-crane opened #34 "⌘+I does not format SQL query"
Hitting ⌘+I does not format the SQL query, I have to hit the Format button manually.

![2017-08-02 11_16_01](https://user-images.githubusercontent.com/7946786/28888074-22a2ede6-7774-11e7-8a70-2d07498b48b9.gif)

[2017-08-03 03:35] huyphams commented on #34
Hi @brian-crane you should selected command before hit comman + i or control + I.
Hit the button means format all command.

[2017-08-03 05:17] brian-crane commented on #34
ah I see now, yes this will work fine. thank you!

[2017-08-03 05:25] huyphams commented on #33
@brian-crane I think the most safe way to lock/unlock database is follow Apple UX. Go to Apple Preferences > Security & Privacy you can see Apple do the same way with TablePlus.

[2017-08-03 11:04] huyphams commented on #32
This feature will be available in next build (build 58). 😁

[2017-08-03 21:44] brian-crane opened #35 "In main DB select window, add option to replace '127.0.0.1' with the Host Name"
'127.0.0.1' is my local IP address.  But many of these endpoint DBs are not local at all, and have Host Names that are remote processes.  But it still says '127.0.0.1'.  Perhaps add option to replace this text with Host Name.

![screen shot 2017-08-03 at 2 39 32 pm](https://user-images.githubusercontent.com/7946786/28945168-3ac08050-785a-11e7-9170-81451c3c73d8.png)

[2017-08-04 13:01] huyphams commented on #35
I came back to my hometown. I will offline in couple next days.

[2017-08-06 03:42] #34 closed

[2017-08-06 03:44] huyphams commented on #31
I will and a tooltip for every tabs.

[2017-08-06 03:49] huyphams commented on #30
Hi @brian-crane , I think it's nice idea. Have you ever try open anything (command + P)?

[2017-08-06 18:51] brian-crane commented on #30
@huyphams, yes I like ⌘+P but it still can take 7-8 keystrokes to get to a desired table.  One thing that could help is that:

⌘+P will only search table name as far as I can tell, but not schema name.  Maybe if i start to type in a schema name, the most commonly used table would be suggested.

Also I think expanding the settings could be nice.  A way to remap shortcuts could be useful.  ⌘+P for m

[2017-08-07 03:39] huyphams commented on #30
@brian-crane sure, Remap short is nice and will be done in future but it needs a lot of work (I have plan to remap key in preferences).

Marking table as favorite is nice and can be done shortly.

[2017-08-09 08:06] huyphams commented on #35
I confirmed. it's bug. It should be hostname or host IP.

[2017-08-09 08:07] huyphams commented on #29
It will be fixed in next release.

[2017-08-09 11:04] adisos opened #36 "Switch to database with search"
I'd like to see switch to database with search function. It would be killer feature.

[2017-08-09 11:06] huyphams commented on #36
Sure, we have a plan to improve `open anything` (command + P) to preview table, run sql and switch database as well

[2017-08-11 14:19] #20 closed

[2017-08-12 10:14] huyphams commented on #35
Hi @brian-crane if you connect to database on server , I suggest you using Table SSH feature. It's more safe for your database and server.
You can read more here: [using ssh tunneling to connect database](https://medium.com/@huyphams/how-using-ssh-tunneling-in-database-tools-might-leak-your-connection-forever-c6d48ff18746)

[2017-08-13 07:04] cbertelli opened #37 "Not a bug or feature: could it run on MacOS 10.9?"
The title says almost all. I see it doesn't, I beg it could.

[2017-08-13 12:12] huyphams commented on #37
We developed TablePlus with modern API, currently we only support OS X from 10.11. When TablePlus official release and stable, we will make it available for older platform.

[2017-08-14 08:09] huyphams commented on #21
Hi @hariesnurikhwan I just added new build:
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

in this build, you can see error log popup when connection failed

[2017-08-14 08:09] huyphams commented on #32
@brian-crane done, checkout new build

[2017-08-14 08:10] huyphams commented on #29
@brian-crane done, please checkout new build 💃

[2017-08-14 08:11] huyphams commented on #31
You can view it when hover mouse over the tab

[2017-08-14 08:21] hariesnurikhwan commented on #21
Hi, I just tried the latest build, getting this error.
Im connecting to Amazon RDS over SSH

![image](https://user-images.githubusercontent.com/10152692/29263683-7d440b3a-810c-11e7-8bb0-a02acd8e9376.png)

[2017-08-14 08:25] huyphams commented on #21
I will look into to this error, thank you

[2017-08-14 13:55] huyphams commented on #21
I just made some change. Can you try this build https://www.dropbox.com/s/m29bcnkerdpxgx1/TablePlus.zip?dl=0

[2017-08-14 18:25] brian-crane commented on #29
@huyphams Awesome it's working great - even for multi-line queries the messages are showing properly!

[2017-08-14 23:41] brian-crane opened #38 "Ability to create 'Server Groups' on welcome window. Also, ability to resize welcome window."
Hi @huyphams,

On the DB welcome screen I now have over 15 servers - the list is getting quite long.  Can we add support for Server Groups?  So that I can right click window and say "Add Server Group," where I can place relevant servers?  Then I can minimize just 3 or 4 groups and shorten my list.

PgAdmin4 implements this as shown below:

![screen shot 2017-08-14 at 4 40 44 pm](https://user-image

[2017-08-15 02:06] #29 closed

[2017-08-15 02:06] #32 closed

[2017-08-15 06:58] hariesnurikhwan commented on #21
Nice huyphams!
The latest build fix the issue!

[2017-08-16 22:00] brian-crane opened #39 "Ability to view SQL Query history"
It would be very useful to have a powerful way to view previous SQL queries executed via TablePlus.  There used to be a history button near the DB Lock button, but it has disappeared.  However, I thought that this old history feature was flawed, because if a very large query is run it makes it hard to find other, smaller queries I have ran in the past.  Also you could not search for old queries an

[2017-08-16 22:08] brian-crane opened #40 "Ability to hide 'Plugin' button"
This is a very small request, and is not a deal-breaker.  However, I find for most uses I do not use Plugins, but it is always taking 25% of my main menu bar.  If possible, can we have an option to hide buttons in the 'Preferences' window?  This is part of the goal of expanding number of options that can be set via 'Preferences' window.  Having lots of options to set in Preferences can allow great

[2017-08-16 22:21] brian-crane commented on #31
@huyphams this should work fine - thank you!  Having an option in the Prefences window to toggle the display of the full namespace could be an option in addition.

[2017-08-16 22:24] brian-crane opened #41 "In SQL Query window, we need ability to Copy"
Currently we have no way to quickly copy data from a SQL query to my clipboard.  When viewing a row in a normal table, we have this nice right-click option, shown below.

![screen shot 2017-08-16 at 3 20 10 pm](https://user-images.githubusercontent.com/7946786/29387821-c586c028-8296-11e7-9239-d51dc6bb7137.png)

However, when I get data from a SQL query I am only able to get the data by exporting i

[2017-08-16 22:33] brian-crane opened #42 "'Master' Close and Open DB connection Button"
There are times when I want to completely sever connection to the DB I am accessing.  For example;

1. After running a very large query, or requesting to view all rows of a very large table, the entire app will hang, and refreshing the DB takes many minutes for a response.  Consequently I normally need to restart app to get this under control.  If I could hit a 'Close Connection' and 'Open Connect

[2017-08-16 22:36] brian-crane opened #43 "Ability to view 'First X Rows' and 'Last X Rows' before opening a table"
I have tables that are many millions entries in length.  Right now we only have the option to 'Open' table but this causes all million entries to show, slowing down my user experience.

In PgAdmin4 they have the feature 'show first 100 rows,' which is ID ASC LIMIT 100 (see below).  Maybe have an option in preferences window to change value from 100 to  a custom value.  Adding the ability to view F

[2017-08-16 23:42] brian-crane opened #44 "How to Draw Diagrams with Plugin feature"
In another [comment thread you mentioned](https://github.com/TablePlus/TablePlus/issues/21#issuecomment-317310983) you could 'draw diagrams' with the plug-in feature.

How would one go about doing this?  I only see examples to populate / select data and nothing to draw any diagrams.

Being able to generate a diagram of my existing schema / table structure sounds very interesting.

-Brian

[2017-08-17 04:24] huyphams commented on #39
Hi @brian-crane there are query history in View > Show logger.

But export query history to file is nice and sure, I will consider to add it in preferences.

[2017-08-17 07:00] hariesnurikhwan opened #45 "Unable to truncate table MySQL"
I'm getting error when I'm trying to truncate a table.

![image](https://user-images.githubusercontent.com/10152692/29399692-cc915c86-835c-11e7-8b50-8b9d2cc470b9.png)

[2017-08-17 07:02] huyphams commented on #45
Thank you, it's a bug

[2017-08-17 08:00] hariesnurikhwan opened #46 "Button on last page should be disabled"
The title says it all.

![image](https://user-images.githubusercontent.com/10152692/29401786-2d495058-8365-11e7-9f34-2892e07c41f4.png)

[2017-08-17 17:50] brian-crane commented on #39
Ah I didn't know about View -> Show Logger - this should be enough for now.

Thanks @huyphams

[2017-08-17 17:56] soheil opened #47 "LIES! Don't put this on Github if you don't wanna give us the source!"
Public shaming.

[2017-08-17 18:21] brian-crane commented on #47
This GitHub is used for reporting Issues, providing a public Wiki, and Changelogs.

It would not make sense to reveal the source code of a commercial product.

[2017-08-17 18:28] brian-crane opened #48 "Perhaps add 'Local' to DB tag options"
Small suggestion to add 'Local' to list of possible tags used.

![screen shot 2017-08-17 at 11 28 39 am](https://user-images.githubusercontent.com/7946786/29427652-54fd299c-833f-11e7-938f-0da63c6c8462.png)

[2017-08-17 19:10] brian-crane opened #49 "TablePlus crashes after trying to close a SQL Query window with many sub-tabs."
When executing a fairly large query I get over 50 SQL query sub-tabs (as can be seen below).

![screen shot 2017-08-17 at 11 36 14 am](https://user-images.githubusercontent.com/7946786/29427944-4bf65ae8-8340-11e7-9b6f-2cc773851909.png)

This is in and of itself a big issue but upon closing theSQL Query window, using ?+W, the app crashes.  I imagine this is due to the size of the query.

See below

[2017-08-17 20:00] soheil commented on #47
You should release an open source version if you're gonna use github. You can still keep the licensed version separate and merge in any new pull requests from here. This way others can improve this and you stay true to the purpose and spirit of github, an open source community!

[2017-08-17 20:03] brian-crane commented on #47
You are correct that your solution is more in-line with GitHub's spirit and community, however this is not my product.  I can see why @huyphams uses GitHub for issue tracking though.

[2017-08-18 01:08] brian-crane commented on #39
In the future, can we add a Shortcut to launch the Logger?  Something like ⌘+L could work

[2017-08-18 02:06] soheil commented on #47
Use a bug tracker, bugzilla, etc!
On Thu, Aug 17, 2017 at 1:03 PM Brian Crane <notifications@github.com>
wrote:

[2017-08-18 03:57] huyphams commented on #47
Hi @soheil , I understood what you concern and I'm still thinking that I'm using github in the wrong way.
But, there are an open source of TablePlus: https://github.com/TablePlus/DummiesData and will be more open source of TablePlus will be published in the future.

personalize, I love open source and have many open source in my github profile.
Thanks for your feedback.

[2017-08-18 04:08] huyphams commented on #47
FYI: There are many team like me, they created an organization and used one of repositories for tracking issues, wiki and project and an other repositories for open source. Somebody using for book and wiki only. You can search awesome-<programing language> on Google and see a lot of results.
All they, using Github in many different ways.

And one more thing, have you check Cocoapods and Mac Homebr

[2017-08-18 04:15] huyphams commented on #49
Yup, this is the big issues. thank you @brian-crane

[2017-08-18 04:18] huyphams commented on #48
sure @brian-crane

[2017-08-18 04:20] huyphams commented on #44
Yup, the plugin feature is being developed. I will add it onto plugin market when it done.

[2017-08-18 04:30] hieuhlc commented on #47
What's wrong with using GitHub for issue tracking? What's wrong with you @soheil ?
Huy has the right to choose whatever and whenever he pushes to public repo. Don't be so crazy about it.

[2017-08-18 04:37] huyphams commented on #46
Done in new version 🎉

[2017-08-18 04:43] huyphams opened #50 "Added Query progress bar"
![screen_shot_2017-08-22_at_8_49_04_am](https://user-images.githubusercontent.com/3654622/29545161-04cf2bf6-8717-11e7-8c86-14c90f80be01.png)

[2017-08-18 06:52] brian-crane commented on #49
@huyphams Now I see what 'Split Result' setting is for.  This is a good solution for now thanks again.

[2017-08-18 06:52] brian-crane commented on #50
Very nice idea and not seen in any other tools

[2017-08-18 08:05] huyphams commented on #49
The crash bug was fixed. @brian-crane, new update will be released in the end of this month.

[2017-08-19 03:31] huyphams commented on #42
I think this can be solved by adding cancel query button, and it is already in my plan.

[2017-08-19 03:32] huyphams commented on #41
I can add the menu here but we can only copy as JSON and CSV, copy as Insert Statement will not be available.

[2017-08-19 14:54] hariesnurikhwan opened #51 "Reset to first page on search feature."
Steps to reproduce.
1. Choose any table. Dont select any row.
2. Use search feature and search something like user_id=2.
3. Go to next few pages.
4. Try select any row. The result will be reset to the first page.

[2017-08-19 15:02] huyphams commented on #51
yeah, I got this bug, thank you

[2017-08-21 05:40] huyphams opened #52 "Improved Open Anything (Command + P)"
We can switch Table, Database, View in Open Anything popup.

![screen shot 2017-08-21 at 12 40 06 pm](https://user-images.githubusercontent.com/3654622/29505036-e17a7e52-866d-11e7-851c-75773c14c3ac.png)

[2017-08-21 05:42] huyphams commented on #36
Hi @adisos please checkout new build
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-08-21 05:43] huyphams commented on #51
Hi @hariesnurikhwan please checkout new build:
Features added:
- New open anything.
- Bugs fixes.
- Query Progress Bar.
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-08-21 05:44] huyphams commented on #49
Hi @brian-crane could you checkout this pre-release build, this build will be official released at the end of this month.
Features added:
- New open anything.
- Bugs fixes.
- Query Progress Bar.
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-08-21 06:01] hariesnurikhwan commented on #51
Cool @huyphams. The issue is fixed!

[2017-08-21 11:24] adisos commented on #36
Cool!

[2017-08-21 11:24] #36 closed

[2017-08-21 12:21] #51 closed

[2017-08-21 12:21] #46 closed

[2017-08-21 12:22] #45 closed

[2017-08-21 14:08] #21 closed

[2017-08-23 21:15] brian-crane commented on #41
Sounds good, Huy.  This is the #1 feature needed for my personal use.  Exporting data to a text file, then copying it is eating up time.

Hope all is well,
-Brian

[2017-08-24 09:58] huyphams commented on #41
Just released new update 😁

[2017-08-24 09:58] #49 closed

[2017-08-24 09:58] #48 closed

[2017-08-24 10:00] huyphams commented on #39
Sure, i will create an other issue for shortcut key.

[2017-08-24 10:00] #39 closed

[2017-08-25 05:13] brian-crane commented on #41
Just checked,  this feature looks good!

Will there be a changelog for 59 release?

[2017-08-25 05:16] huyphams commented on #41
Just updated the changelogs 😁

[2017-08-25 06:59] hariesnurikhwan opened #53 "Auto complete column name on search feature."
Hi,
I believe having an auto complete for column name would be very convenient.

[2017-08-25 07:13] huyphams commented on #53
did you mean auto complete column in SQL Query tab?

[2017-08-25 07:24] #52 closed

[2017-08-25 07:24] #50 closed

[2017-08-25 09:10] utkuerturk opened #54 "Database tables are not listed on Microsoft Azure"
Hi, I can successfully connect to the MSSql database on Azure, but it does not display the tables.

It gives the following error message. _Invalid object name 'sys.login_token'_

Screenshot : https://i.hizliresim.com/ZE463A.png

Thanks

[2017-08-25 09:14] huyphams commented on #54
Hi @utkuerturk I got this bug. There are two bugs:
- Table Listing are not showed in Azure.
- Table user is not existed.
I will test with Azure and build an hotfix for you, keep follow issue 😁

[2017-08-25 20:24] vojtasvoboda opened #55 "SSL connection error protocol version mismatch"
Trying TablePlus for the first time and getting this error:

![snimek obrazovky 2017-08-25 v 22 23 49](https://user-images.githubusercontent.com/374917/29731287-2af3bd72-89e4-11e7-9b28-98b4558aa70b.png)

Same connection (over SSH) with Sequel Pro works fine. Any thoughts?

Thanks in advice :-)

[2017-08-25 23:46] brian-crane opened #56 "MIddle Mouse Click the Sql Query Icon to open a new SQL query window"
Currently is difficult to open 2 SQL query windows, I reccomend middle clicking the below icon to open a new query window easily.

![screen shot 2017-08-25 at 4 45 37 pm](https://user-images.githubusercontent.com/7946786/29736328-f224ff9e-89b4-11e7-87b2-69a250e37342.png)

[2017-08-26 02:04] huyphams commented on #55
it would be great if you can give more enviroment info:
1. Database Driver (PostgreSQL or MySQL...)
2. Server OS (Ubuntu, Centos...).
This error tell us that SSL version of the server too old and the client is newer. I will try to support old SLL version. thank you.

[2017-08-26 02:04] huyphams commented on #56
Yeah sure. Thank you.

[2017-08-27 03:42] huyphams opened #57 "Added TablePlus project"
I just added TablePlus project to tracking tasks.

https://github.com/TablePlus/TablePlus/projects/1

[2017-08-27 08:02] vojtasvoboda commented on #55
1. Database is MySQL 5.0.51a
2. Debian Lenny

[2017-08-27 09:49] huyphams opened #58 "Added link to parent table by Foreign Key"
<img width="1197" alt="screen shot 2017-08-27 at 10 25 36 pm" src="https://user-images.githubusercontent.com/3654622/29751369-b8f563da-8b76-11e7-99c6-823cb61e74d1.png">

[2017-08-28 04:29] pascalandy opened #59 "SQLite driver"
Hi,
I'm opening this issue only to follow the progress of this feature. Can't wait to try it :)
Cheers!

[2017-08-28 04:31] huyphams commented on #59
Thanks 😁

[2017-08-28 09:33] tswestendorp opened #60 "Possibility to change socket location"
I'm using MAMP PRO to run a local databaseserver, which creates a socket at `/Applications/MAMP/tmp/mysql/mysql.sock` instead of the default `/tmp/mysql.sock`.

It would be great if we could change this default path for specific connections

[2017-08-28 09:36] huyphams commented on #60
Hi @tswestendorp , I just created a task to support socket for MAMP PRO.
We will have this feature in the next release.
https://github.com/TablePlus/TablePlus/projects/1?

[2017-08-28 14:42] PVGrad opened #61 "Port issues in connections"
Build 59 - port setting saves well, but after **save** or **edit** actions Connection Edit form shows empty value on **port** field.
Also after **connection duplicate** action **port** sets to default empty field(22).

[2017-08-28 14:45] huyphams commented on #61
I got the bug, thank you 🔍🐞

[2017-08-28 14:57] huyphams commented on #61
Hi @PVGrad I just added a update and also fixed the bug above.
Update includes:
- Added foreign key viewing.
- Added new menu in index/structure.
- Support copy field.
- Many other bugs fixed.
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-08-28 14:58] PVGrad commented on #61
@huyphams , thx - will it be included in next build?

[2017-08-28 14:59] huyphams commented on #61
Yup, it will be included in the next build. and you can use this build until the next build release.

[2017-08-28 15:41] arsenicoco opened #62 "Connection is not allowed with empty password field"
When trying to connect to a PostgreSQL database, connection is not allowed with empty "password" field.
This should be allowed.

[2017-08-28 15:47] huyphams commented on #62
Connecting without a password is a convenient way to connect to local database. I will add this feature.

[2017-08-28 16:24] tswestendorp opened #63 "Possibility to create connections in a folder"
At this time the list of available connections can get pretty long and unorganised. It would be great to have to possibility to create folders and order connections in folders.

[2017-08-28 16:41] huyphams commented on #63
yeah, we have an other issue like this https://github.com/TablePlus/TablePlus/issues/38
TablePlus team will redesign welcome screen so we can group connection as group.

[2017-08-28 16:41] #63 closed

[2017-08-29 19:28] brian-crane opened #64 "150k line SQL query is extremly slow to edit and use"
I am not sure if this is an issue specific to Build 60, but now noticing if I have a 150k line length SQL query the app will be very slow, but in text editors and PgAdmin, I can paste SQL of such length no problem.

Enterprise users will often have queries of this length, we will need to be able to handle them

Thanks huy!
-Brian

[2017-08-29 19:36] brian-crane opened #65 "App crashing after hitting 'SQL query' button"
After hitting the button to open a new SQL query my app is crashing.

Something seems less stable about using SQL queries in the 60 release.

[2017-08-29 19:41] brian-crane commented on #65
yes something terrible has happened, and now even in old builds I cannot run SQL queries.

TablePlus is unusable and nonfunctional for me right now...

[2017-08-29 19:43] brian-crane commented on #65
Oh, I see the issue - Since the last query I used was 150k lines in length, when opening SQL Query window it tries to bring up this same 150k line query, which breaks the app.

Like mentioned in other post, there must be a more efficient way to display this text, other editors dont have this issue handling long Queries.

[2017-08-30 02:26] huyphams commented on #65
Sorry for the crash :( @brian-crane I will try to fix this bug and release hotfix for you today.
The  `SQL Query` was crashed because of 150k lines is too much for SQL syntax parsing.

[2017-08-30 02:28] huyphams commented on #64
Sure @brian-crane it slow because parsing syntax function. I will focus on this issues. It is not about build 60.

[2017-08-30 03:13] brian-crane commented on #65
thanks for quick response Huy - this is not too big of a deal since I only need to run a query that large very rarely.  Don't stay up all night with the hotfix!

Thanks,
--Brian

[2017-08-30 03:49] huyphams commented on #65
Hi @brian-crane maybe you don't know, It 10:47 AM (+7) at my country now. Coding and make customer happy is my hobby 😁

[2017-08-30 04:43] huyphams commented on #65
I just temporary disable query > 50k characters to prevent crash.
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

Then I will optimize parsing function and streaming query for the next build.

[2017-08-30 21:08] brian-crane commented on #65
Oops didn't mean to close:

Also wanted to say I love this new feature, where you can click on the arrow to the see the table linked.  You have no idea how useful this is for my team, because we have a lot of mappings between different tables.  Well done again Huy!

![screen shot 2017-08-30 at 2 06 59 pm](https://user-images.githubusercontent.com/7946786/29895080-a012bba2-8d8c-11e7-8757-37e091954f

[2017-08-30 21:22] brian-crane opened #66 "In data preview window, column name is unnecessarily short"
Hi Huy,

Noticed when viewing data column names are shortened but they don't need to be! There is plenty of space.

For example, below it should continue try to show as much of "store_to_tenant_exchange_rate" as possible before getting too near to the "numeric" part.

![screen shot 2017-08-30 at 2 20 32 pm](https://user-images.githubusercontent.com/7946786/29895589-82bb3aa0-8d8e-11e7-8a3f-bf2e0663

[2017-08-31 03:25] huyphams commented on #66
I just increased width of row viewer 👍
<img width="277" alt="screen shot 2017-08-31 at 10 24 35 am" src="https://user-images.githubusercontent.com/3654622/29905069-9d779b56-8e36-11e7-89c4-64ed21db6491.png">

[2017-08-31 06:02] huyphams opened #67 "About realtime chat channel for feedback/help/bug/feature"
Does anybody here want to join slack?
We can:
1. Report bug/feedback direct to me.
2. Ask for support.
3. Make friend and share idea.
....
Thumb 👍🏻 this post if you want to join

[2017-08-31 22:39] brian-crane commented on #66
Im excited about that b/s I am seeing in the corner of the image.

Would be very nice to see the rate at which I am downloading information from server.

[2017-09-01 08:49] huyphams commented on #59
I have a beta build for SQLite driver

![screen shot 2017-09-01 at 3 47 57 pm](https://user-images.githubusercontent.com/3654622/29962307-ffe17a68-8f2c-11e7-94f6-726dc1ad15da.png)
![screen shot 2017-09-01 at 3 48 15 pm](https://user-images.githubusercontent.com/3654622/29962312-016fccea-8f2d-11e7-8d97-ac6de484c63b.png)

[2017-09-01 13:21] #61 closed

[2017-09-01 17:17] #41 closed

[2017-09-01 17:17] #33 closed

[2017-09-01 17:17] huyphams commented on #56
It will be included in next release

[2017-09-01 17:18] #58 closed

[2017-09-01 17:18] #57 closed

[2017-09-01 17:19] #14 closed

[2017-09-01 17:19] #12 closed

[2017-09-02 05:38] huyphams commented on #62
Update is coming.
![nopassword](https://user-images.githubusercontent.com/3654622/29993238-a23a1384-8fdb-11e7-9c21-00575c1bdb30.png)

[2017-09-02 06:45] huyphams commented on #60
Supported socket now,
You can try here: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

![socket](https://user-images.githubusercontent.com/3654622/29993556-a0b45f98-8fe4-11e7-976d-b7e566e7d003.png)

[2017-09-02 14:23] #47 closed

[2017-09-03 04:34] huyphams commented on #59
Hey @pascalandy you can download beta version here: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-09-03 11:30] #67 closed

[2017-09-03 11:30] huyphams opened #68 "Added cancel a long query button"
![stop](https://user-images.githubusercontent.com/3654622/30002553-f98b756a-90d5-11e7-87ad-eca85c75861e.png)

[2017-09-03 15:51] pascalandy commented on #59
Thanks for letting me know. I was looking under the release section but it's empty.

[2017-09-03 15:53] huyphams commented on #59
We have 2 updates each month (15 and 30), so there are 12 days remaining before official release.

[2017-09-04 07:06] delpiersos opened #69 "Better maintaining of database connections"
Presently database connections drop out fairly frequently - my feeling is that the app should manage it better - e.g. if the connection is lost, and the user is still trying to do something (such as bringing up a table) then manage the reconnection without getting the user to confirm; or better yet, just continually keep the connection open as long as the user is still in the app with that databas

[2017-09-04 07:08] huyphams commented on #69
Database connections drop out depend on server config. But nice idea, the app should manage it better.
I will try to improve it.

[2017-09-04 07:19] delpiersos commented on #69
Yeah - understand the server manages how long connections to it can last; unfortunately _some_ of my projects are using Heroku; where we get little control of the server config.  Postico does the connections management pretty well - but the rest of their user experience is not as good as TablePlus

[2017-09-04 16:01] huyphams commented on #69
Hi @delpiersos, could you try if this build solve your problem?
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-09-05 23:15] brian-crane opened #70 "suggestion: middle click a value to initialize quick look"
Just a suggestion, maybe we can have a way to quicker enter the quick look for a value:

Maybe middle clicking here could be initialize the quick look window.

![screen shot 2017-09-05 at 4 14 06 pm](https://user-images.githubusercontent.com/7946786/30087409-6678de44-9255-11e7-9e65-7abd67d34edf.png)

-Brian

[2017-09-06 03:10] huyphams commented on #70
Yup, it should be force touch on Macbook and middle click on mouse (y)

[2017-09-06 09:00] cH40z-Lord opened #71 "Feedback and suggestions after comparing it against Querious"
Hi,

I'm currently evaluating the free version of TablePlus against our current editor of choice, [Querious](https://www.araelium.com/querious/), for usage with MySQL (and probably Postgres in the not so distant future). This is my feedback so far after some 30mins+ playing around with it:

- I can't seem to find whether there's a dialogue to create new databases. A big convenience feature that is

[2017-09-06 09:16] huyphams commented on #71
Hi @cH40z-Lord excellent feedback, I will comeback with an other answer after read all and consider carefully.

First of all, TablePlus is very young just 2 months and can't have all features like the other tools. We focus on simple and cross databases.

TablePlus is very active on development, we release 2 update every months, you will see many features will be added.

Not like the other, TablePl

[2017-09-06 09:19] huyphams commented on #71
TablePlus supports many databases, if we customize for MySQL then it will be clumsy or redundant for SQLite, PostgreSQL. That's why we think plugin is better.

[2017-09-06 16:52] huyphams commented on #71
Hi @cH40z-Lord
1. About user management: current, we are not focus on this (only fetch and show data from table user of database), we will redesign it after finishing re-implement SQL auto suggestion.
2. I'd love to see a server tab just like in Querious to inspect various RDBMS-specific configuration such as Slow Queries, Variables (Session, Global), etc. => We will have a plugin for each driver

[2017-09-06 18:25] apfelbox commented on #71
The question here is to have an option to directly set the value to the current time (according to the database). Currently you are only able to set the date manually by typing it out, but SQL provides convenience functions like `SELECT NOW()` or `SELECT CURRENT_TIMESTAMP` to set it to the current time.

Imagine adding an entry to a `user` table and you want to fill the `time_created` column with

[2017-09-06 18:59] cH40z-Lord commented on #71
For such a young project like yours you did an incredible job so far, @huyphams!

Yeah, I can imagine how hard it'll be to provide equal great support for all RDBMS. If a plugins covers all our basics needs, I'm happy 😃

That's a fair point which I can live with for now 😃

Glad to hear that :) Looking forward to it.

I love power features like these kind of hot keys. I just gotta check tomorrow wh

[2017-09-07 05:27] huyphams commented on #71
short reply, there are something:
- There are lock database. You can only view database until you unlock.
<img width="233" alt="screen shot 2017-09-07 at 12 25 48 pm" src="https://user-images.githubusercontent.com/3654622/30147286-b42a5e42-93c7-11e7-9e69-d3ac95e6158c.png">

- We have date picker instead of manual input:
<img width="516" alt="screen shot 2017-09-07 at 12 23 40 pm" src="https://user

[2017-09-07 17:05] #62 closed

[2017-09-07 17:05] #59 closed

[2017-09-07 17:05] #60 closed

[2017-09-07 17:06] #56 closed

[2017-09-07 17:06] #70 closed

[2017-09-08 07:50] rokity opened #72 "Shortcut-key Delete rows"
Hi

I think we need a shortcut-key for delete rows like ⌘ ^ Delete .
it's possible?

[2017-09-08 07:52] huyphams commented on #72
We already have a shortcut key for delete row, you can select rows and press delete button

[2017-09-08 07:54] huyphams commented on #72
Which build are you using @rokity ?

[2017-09-08 07:55] #69 closed

[2017-09-08 07:55] #68 closed

[2017-09-08 07:56] #66 closed

[2017-09-08 08:18] huyphams commented on #72
I think we have delete shortcut key in build 61, isn't it?

[2017-09-08 08:20] rokity commented on #72
So sorry but I didn't see inside the docs about shortcut-keys.

[2017-09-08 08:22] huyphams commented on #72
Yeah, maybe I will include it in app but here:
on Github wiki: https://github.com/TablePlus/TablePlus/wiki/Shortcut-keys
on our site: https://tableplus.io/faq

[2017-09-08 08:24] rokity commented on #72
yes I think it's better to insert this in the docs.

[2017-09-08 11:10] huyphams opened #73 "Redesign welcome screen"
Now we have outline view:
![screen shot 2017-09-09 at 4 43 52 pm](https://user-images.githubusercontent.com/3654622/30239041-1e286b7e-957e-11e7-823b-4d53791b770c.png)

[2017-09-08 17:42] philbritton commented on #9
Any update on beta version for windows?

[2017-09-08 23:46] brian-crane opened #74 "Big Problem executing large queries"
It seems in build 61 I am not allowed to even run large queries.  Now when I try to I get a message saying you are rebuilding the SQL parsing technology.  But in the mean time I cannot run any important queries.

i am losing functionality with the upgrade and now I cannot downgrade.

[2017-09-09 03:43] huyphams commented on #74
I disabled it because it cause performance issues and crash the app. I'm working on `build 62` with optimization for large queries and history, grouping connection. I will be released in 20-Sep-2017

[2017-09-09 07:21] delpiersos commented on #69
Hi @huyphams - this is working pretty well - thanks for the quick turnaround!

[2017-09-09 18:53] huyphams commented on #74
New update will solve this problem + new design for SQL Query status bar
![largequery](https://user-images.githubusercontent.com/3654622/30242949-d1694c34-95ca-11e7-96e5-533166073c2f.png)

[2017-09-09 18:55] huyphams opened #75 "Supported execute large statements, new SQL Query status bar"
![largequery](https://user-images.githubusercontent.com/3654622/30242963-0ebd3154-95cb-11e7-8f75-f69cd1b4d51a.png)

[2017-09-10 00:32] coreylenertz commented on #9
I'd be interested in providing feedback for a windows beta.

[2017-09-11 02:43] huyphams commented on #9
Sorry you guys because of the delay, We have an issues when compile library for Window version, we need to rewrite some driver and it takes time more than our expectation.
We will let you know when we have a beta version

[2017-09-11 15:12] Ygilany opened #76 "data is truncated when it exceeds a certain limit"
I have a column of type nvarchar(MAX)... typically, there's a lot of textual data in that column.
when trying to review or even copy that cell, the values are truncated and displayed in full.

[2017-09-11 15:14] huyphams commented on #76
Hi @Ygilany thanks for the license,
it would be great if you can give me more in for about the enviroments: Driver (PostgreSQL, MySQL...) and the version of driver.

[2017-09-11 18:28] brian-crane commented on #43
@huyphams,

any updates on this?  still unable to view large tables

[2017-09-11 21:20] Ygilany commented on #76
I'm using Microsoft SQL Server 2016. I can't share any sample data. but I just tried some lorem ipsum paragraphs
so just to give you a hint:
[code]
would be truncated to just
[code]

[2017-09-11 21:21] Ygilany commented on #76
I use other SQL clients such as SQLPro for MSSQL and I don't have this issue

[2017-09-12 03:07] huyphams commented on #76
Thanks @Ygilany

[2017-09-12 05:33] huyphams commented on #76
I found the issue. it's limitation of FreeTDS (TablePlus uses this driver to connect MSSQL) https://github.com/minus5/gofreetds/issues/25
http://www.freetds.org/userguide/troubleshooting.htm
I will back to this issue later (after version 62 release) and rebuild the driver with an other lib.

[2017-09-17 03:55] arturolinares commented on #54
Also when creating a backup shows an error asking for the correct driver version.
<img width="330" alt="backup_database" src="https://user-images.githubusercontent.com/203078/30517853-091d718e-9b32-11e7-83e7-684c347af74c.png">

[2017-09-17 15:59] huyphams commented on #54
Hi @arturolinares MS didn't have client on MacOS, backup/restore only support for MySQL and PostgreSQL

[2017-09-17 16:17] #75 closed

[2017-09-17 16:17] #74 closed

[2017-09-17 16:17] #65 closed

[2017-09-17 16:18] #64 closed

[2017-09-17 16:18] #73 closed

[2017-09-18 02:31] brian-crane opened #77 "Ability to resize starting window"
Currently start window cannot be resized - I think maybe we should be able to resize it and if it can remember the dimensions for future startups that would be a plus.

[2017-09-18 02:36] huyphams commented on #77
Hello @brian-crane nice Monday 😁
I will make it resizable and hope it is not ugly

[2017-09-18 02:43] huyphams commented on #77
it is ok @brian-crane 😂
![screen shot 2017-09-18 at 9 42 48 am](https://user-images.githubusercontent.com/3654622/30527705-c0b8d10c-9c55-11e7-867a-eafa5a49a2e8.png)

[2017-09-18 03:51] huyphams commented on #77
I think we can keep this design, will release this feature in update 63
![screen shot 2017-09-18 at 10 50 43 am](https://user-images.githubusercontent.com/3654622/30528654-3da72ea8-9c5f-11e7-84ad-acc6f24c9649.png)

[2017-09-24 05:33] huyphams opened #78 "Brand new désign of History and Favorite"
Brace youfself, update is coming..

![newhistory](https://user-images.githubusercontent.com/3654622/30779792-82b00500-a124-11e7-9cd0-716564f38198.png)

[2017-09-24 16:46] huyphams commented on #76
This bug will be fixed in next release build 63

[2017-09-24 16:46] #76 closed

[2017-09-25 06:29] #28 closed

[2017-09-25 06:30] #38 closed

[2017-09-26 06:26] #78 closed

[2017-09-26 06:27] #77 closed

[2017-09-28 14:07] FedericoBiccheddu opened #79 "Duplicated column in structure cannot be committed."
Step to reproduce the issue:

1. Click "Structure"
1. Click "Duplicate" in the contextual menu
1. Change the column name
1. Click "Commit"

The given error will be:
[code]

After a bit of attempts the problem seems to be the `ordinal_position` that is not incremented and stays the same as the original copied column.
This is not a major issue, but from an UX perspective can be a nice enhancement.

[2017-09-28 14:13] huyphams commented on #79
Yeah thank you, This issue should be fixed

[2017-09-28 14:20] huyphams commented on #79
@FedericoBiccheddu can you provide me which build are you using?

[2017-09-28 14:34] huyphams commented on #72
@rokity I just realized we can only delete by backspace, the delete button on full-layout keyboard is not working.
I confirmed it should work on the up coming build 💃

[2017-09-28 19:56] FedericoBiccheddu commented on #79
Hi @huyphams,

yes, of course. I'm running v1.0 (63) on macOS 10.12.6.

[2017-10-01 09:13] huyphams commented on #79
@FedericoBiccheddu sorry for delaying reply,
I checked build 63 on my Laptop and it works, `ordinal_position ` wasn't the problem, it's using for sort column position and not included in generate statement.
it would be great if you can copy for me the SQL Statement in preview window.
You can send it to me via support email support@tableplus.io if you don't want to public it.
Thank you

[2017-10-03 00:04] brian-crane opened #80 "TablePlus crashing often"
Hi huy, with release 62 and 63 there is a bug where TablePlus crashes instantly without warning.  It seems to occur in a number of situations, one of which is when I hit cmd+N and try to open a new database window.  It crashes here, when closing an existing db, and also in other points in the program.

So stability is decreasing with the release numbers... are you getting the crash reports from my

[2017-10-03 02:24] huyphams commented on #80
Hi @brian-crane
I have seen the crash report but when the build is on production most of report is a break point.
it happened since I upgrade to Swift 4.0. Apple changes some APIs on new Swift version.
I will take a deep look on this issue, the next build is not including many new features but stability improvement.

[2017-10-03 18:23] brian-crane commented on #80
@huyphams

Great! Just wanted to confirm you were receiving the crash reports :)

[2017-10-04 06:37] huyphams opened #81 "Auto completion"
New feature in build 64
![autocompletion](https://user-images.githubusercontent.com/3654622/31162702-276fe0d8-a909-11e7-870c-f9badb5464f3.png)

[2017-10-04 06:38] huyphams opened #82 "Auto completion"
New feature in build 64
![autocompletion](https://user-images.githubusercontent.com/3654622/31162739-4e8fca02-a909-11e7-919e-e432c7af0c61.png)

[2017-10-04 06:41] #81 closed

[2017-10-04 06:43] #42 closed

[2017-10-04 09:36] brian-crane commented on #82
How is auto-complete feature invoked?  I try typing "select * from schemaName.... then start typing table name but no auto complete window pops up.

By the way I love the new History and Favorite Query tabs - These will be very useful and my coworkers are already asking where to get TablePlus because they are jealous!

[2017-10-04 09:39] huyphams commented on #82
@brian-crane auto-complete is on first phase and I need more feedback to make it better.
Next phase will come with auto complete column name, function template and of course table in schema.

[2017-10-04 17:08] #72 closed

[2017-10-11 07:28] huyphams commented on #80
@brian-crane did you upgrade to version 65? how often you get crash on this version?

[2017-10-12 10:08] PVGrad opened #83 "List of connections just dissapeared"
Build 65
![Screenshot](https://i.imgur.com/mdlx9Od.png)
Only group still exists where were all connection elements.

[2017-10-12 12:05] huyphams commented on #83
Hmm, you lost all connections?

[2017-10-12 12:06] PVGrad commented on #83
Yes

[2017-10-12 12:09] huyphams commented on #83
Hmm weird, TablePlus stores connections in user default. it is disappeared, that mean user default has been reset.

[2017-10-12 12:15] PVGrad commented on #83
Do you know when and how can it be (user default reset)?

[2017-10-12 12:20] huyphams commented on #83
it happened to me one before, but very long time ago.
Thank for your feedback, I will take a look at the code handle connections.
btw could you give more info (step by step) that how you lost all the connection?

[2017-10-12 12:24] PVGrad commented on #83
Actually I can't say for sure about steps - I just opened the TablePlus app and saw no connections.
Maybe I can send some dumo or logs for investigations?

[2017-10-12 12:28] huyphams commented on #83
I did not track users or record application log because I respect user privacy. No problem, I will try to reproduce this bug. Keep follow this issue.

[2017-10-13 10:22] marcroberts opened #84 "editing multiple fields in sidebar requires multiple clicks"
If I've edited a field in the row detail sidebar and I click in another field to edit that, the first click takes focus away from the first field but doesn't focus the second field. A second click is required.

I sometimes don't click the second time and start trying to delete the text, and now the whole row is going to be deleted!

It would also be nice if we could tab to the next field in the si

[2017-10-13 10:24] marcroberts opened #85 "delete key stops working in the SQL Query view"
It seems to work when the SQL query tab is first opened but as soon as you execute the query, the delete key stops working (backspace is fine though). Closing the query tab and opening another will again let the delete button work until the query is executed.

[2017-10-13 19:07] huyphams commented on #84
Hi @marcroberts sorry because of the delay, I will take a look at this issue and fix it in new release, thank for you feedback 😁

[2017-10-13 19:08] huyphams commented on #85
This bug too 😸

[2017-10-15 10:14] huyphams commented on #85
Fixed

[2017-10-15 10:15] huyphams commented on #84
Fixed, now I'm working on `move focus to the next field when tab key pressed`

[2017-10-16 06:10] #82 closed

[2017-10-16 06:11] huyphams opened #86 "Added section in table listing"
Build 66 (not released yet)
![newfeature](https://user-images.githubusercontent.com/3654622/31597595-79086cd0-b273-11e7-91d0-3c12a7473619.png)

[2017-10-16 12:56] huyphams commented on #71
Added `NOW()` in Menu
<img width="859" alt="screen shot 2017-10-16 at 7 55 21 pm" src="https://user-images.githubusercontent.com/3654622/31613046-168dfb54-b2ac-11e7-9921-6ea926da3fce.png">

[2017-10-16 17:58] keichinger commented on #71
@huyphams thanks for adding this option! I really love how TablePlus is evolving ❤️

Thank you so much for listening to people's feedback 😍

[2017-10-16 20:01] thibmaek opened #87 "TablePlus asking for access to very unrelated keychain item"
This does not seem OK.
![image](https://user-images.githubusercontent.com/6213695/31632526-7f032478-b2bd-11e7-849a-036eb5c66e3a.png)

[2017-10-16 23:11] brian-crane commented on #80
I haven't had a crash yet! I'll update you when if it happens again.

Great Work Like Always!

[2017-10-17 02:52] huyphams commented on #87
Hi @thibmaek, thank you for your feedback. I have an user report this problem before but I can't figure out why TablePlus require this keychain.
I'm trying to figure out this problem, please keep follow this issue.

[2017-10-17 09:15] FedericoBiccheddu commented on #79
Hi @huyphams, sorry for the delay.

With the last version, v1.0 (65), the problem seems to be fixed.

Thanks for the support and the amazing product.

[2017-10-17 09:15] #79 closed

[2017-10-17 18:56] huyphams commented on #87
I think I found the problem, TablePlus load user token in keychain, but TablePlus and Pocket App save token with the same key (Keychain is key-value dictionary) then when you have Pocket  and TablePlus app, the key will be conflict and override.
Solution: I will change TablePlus key in Keychain and it will never ask again.

[2017-10-18 04:33] huyphams commented on #87
Hi @thibmaek the bug was fixed in new release, please check it out.

[2017-10-18 04:33] #86 closed

[2017-10-18 04:33] #85 closed

[2017-10-18 04:33] #84 closed

[2017-10-18 04:33] #87 closed

[2017-10-18 13:53] huyphams opened #88 "Auto suggest column name"
This feature will come in build 67
![screen shot 2017-10-18 at 8 53 02 pm](https://user-images.githubusercontent.com/3654622/31722458-592e41d0-b446-11e7-8332-6b7418349010.png)

[2017-10-19 12:51] FedericoBiccheddu opened #89 "[Website] Recovery password does not work."
I can't reset my password because the request forms returns an error, in the console only, without giving any feedback:

[code]

The url requested is `https://tableplus.io/order/paypal/form`.

Even if I try to register a new account to know if my email is already registered (maybe this is the reason because I can't recovery my password?), I receive a general error "Invalid Input Errors".

[2017-10-19 12:56] huyphams commented on #89
Hi @FedericoBiccheddu thank for feedback, I'm fixing it.

[2017-10-19 15:19] huyphams commented on #89
Hi @FedericoBiccheddu , the bug was fixed, please try again 👍

[2017-10-19 18:34] FedericoBiccheddu commented on #89
Hi @huyphams, thank you for the fast fix; it seems to be resolved.

[2017-10-19 18:34] #89 closed

[2017-10-20 18:53] PVGrad opened #90 "Search by part of the name in Open Anything"
When you type from the word start - it works correctly
![Works fine](https://i.imgur.com/K2XtuAP.png)
But if you will try to search by the substring in the middle of the word - you won't find anything
![Doesn't work](https://i.imgur.com/f9FQpZ2.png)

Can't imagine usage of Open Anything feature without this abiliity.
Thanks.

[2017-10-20 20:49] PVGrad commented on #83
It just happened again on build 66 👎
Just after I closed TablePlus via cmd+q and opened it again after some time.
macOS version - latest 10.13
Here you can see what TablePlus files AppClearen found on my notebook:
![App files](https://i.imgur.com/rI28hED.png)

[2017-10-21 00:15] huyphams commented on #83
I didn't upgrade to OS X 10.13, did you clean TablePlus plist?

[2017-10-21 00:43] PVGrad commented on #83
No - I don't have software to clean something **automatically** and i didn't clean it manually - in screenshot I just showed all TablePlus-related files and folders that AppCleaner found, because I thought it can help somehow n investigation.

[2017-10-21 00:45] huyphams commented on #83
Thank you, I'm trying to reproduce this bug, I will keep you posted. 👍

[2017-10-21 01:07] huyphams commented on #90
Hi @PVGrad
Open Anything supports open table by prefix search, It's very hard to complete word by `substring in the middle of the word`.

Apple spotlight has the same behaviors, you can open chrome by type `chro` but can't not be `hrome`

For enhancement, I will include result search  by `middle of the word` in an other section but can't in search field.
Like this:
![nice](https://user-images.gith

[2017-10-21 08:34] huyphams opened #91 "Group history by date"
New feature in build 67 (up coming build).
![nice](https://user-images.githubusercontent.com/3654622/31849958-33414928-b675-11e7-9e0a-5d115a1148aa.png)

[2017-10-22 09:43] PVGrad commented on #90
So then you should take as example of great implementation Goto anything feature in Sublime Text 3 text editor and not Apple spotlight:
![cmd+p](https://camo.githubusercontent.com/ae4da342a09900b3c3682416595b30eca758ca6b/687474703a2f2f692e696d6775722e636f6d2f737737487273702e6769663f31)
here is description of it's possibilities:
![st3_goto](https://i.imgur.com/meVIdL8.png)

And YES - it would be gr

[2017-10-23 16:20] #27 closed

[2017-10-23 17:46] huyphams commented on #43
Hi @brian-crane we can change the limit number in paging section.
<img width="302" alt="screen shot 2017-10-24 at 12 44 15 am" src="https://user-images.githubusercontent.com/3654622/31904125-80d22e42-b854-11e7-8d6b-df36b654011b.png">

Because table not always have indexes, so I'm not sure how to implement the order without accident slow down all the queries.

[2017-10-23 18:01] brian-crane opened #92 "Cannot run any queries with new build"
With the new build, build 66 I cannot run a single query on any database.  Major malfunction I will need to use older version for now.

For every query it says "executing 0/1 queries" indefinitely, which causes the application to be non-functional....

Also I do not think the Silent - Alert - Safe mode should apply to running queries.  If I am in Alert mode I get a warning before I send every quer

[2017-10-23 18:05] huyphams commented on #92
Hi @brian-crane, if you are on `warning mode`, that mean you should confirm whatever you send command to sever (include queries in SQL Query tab). I will update the title in next build, but warning/safe mode is for production to prevent mistakes.

[2017-10-23 18:08] huyphams commented on #92
About the bug: `For every query it says "executing 0/1 queries" indefinitely` I'm not sure what happened, can you please provide me more information?

[2017-10-23 18:30] brian-crane commented on #92
Thanks for quick reply like always Huy :) Yes even with it in Silent mode i was having this issue.  It is probably a quick fix!

get good rest,
-Brian

[2017-10-24 03:39] huyphams commented on #92
I will post the release candidate on github issues, so everybody can test new build before it released. And you never lost functionality after update 😁

[2017-10-24 04:05] huyphams commented on #90
Hi @PVGrad I think we can apply Fuzzy search (like sublime text) for open anything. I will release a beta for next build so we can see how it improved 👍

[2017-10-24 19:47] PVGrad opened #93 "Question: Is it possible to export table structure?"
I didn't find in UI such feature - only data export :(
If TablePlus doesn't have this feature, i think - it's a **must have**

Thanks.

[2017-10-25 04:06] huyphams commented on #93
Hi @PVGrad
This feature can be done easy in MySQL, I will include a menu to copy table struct. But PostgreSQL native lib didn't support. The only way is export data as struct.

I see pgAdmin can show table structure statements and it's open source. I will take a look.

Huy.

[2017-10-26 07:36] huyphams commented on #93
I checked code pgadmin and they have their own reverse function, it's pretty complex
`https://github.com/postgres/pgadmin4/blob/8d248dab4c09a5c637569e3b4fb166c02ebff17a/web/pgadmin/browser/server_groups/servers/databases/schemas/tables/utils.py#L817`

[2017-10-26 11:54] karimelm commented on #83
Same thing just happened with my install. Have not modified any files manually nor do i have anything that could or would do it automatically.

[2017-10-26 12:25] huyphams opened #94 "Build 67 beta build"
Hi all,
Please come and test build 67 before it released, your feedback help us improve TablePlus faster and better.

Link download: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Changelogs: https://github.com/TablePlus/TablePlus/projects/1?

If you found a bug, please report it to me (include environments, database info... what is need to reproduce the bug).

Thank you,
Huy.

[2017-10-26 12:27] huyphams commented on #83
Hi guys, I just updated the candidate build, including an attempt to fix this issue. Please give a try with this: https://github.com/TablePlus/TablePlus/issues/94

[2017-10-26 13:48] karimelm commented on #94
Switching databases (postgresql 10) produces a connection error for me:
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[2017-10-26 13:54] huyphams commented on #94
Hi @karimelm, could you hit the test button when using ssh? if it's all green that means the connection was setup correctly. Like this.
![screen shot 2017-10-26 at 8 54 01 pm](https://user-images.githubusercontent.com/3654622/32056804-cf0a81a8-ba8f-11e7-933b-b27b9719ea22.png)

[2017-10-26 14:21] karimelm commented on #94
It all tests fine prior to connecting. It also connects properly at first but when i switch database the connection drops. The change I can observe (looking at the connection status symbols in the brief moment the loading screen is displayed) is that while connected through an ssh tunnel, switching database also reconnects to the host. This doesnt seem to be the case if not connecting over ssh.

[2017-10-26 14:25] huyphams commented on #94
Thanks, I can reproduce the bug now 👍

[2017-10-26 15:03] PVGrad commented on #83
@huyphams beta release didn't help - missed all connections again - it's more and more annoying bug for me!

[2017-10-26 16:46] huyphams commented on #83
Thank you, I will try an other way to fix this bug

[2017-10-26 17:18] krm87 opened #95 "Make force touch do quick preview"
Title says it all, unless its already doing something else im not aware of.

[2017-10-27 03:09] huyphams commented on #95
Hi @karimelm you mean `quick preview` is `quick look`?
<img width="492" alt="screen shot 2017-10-27 at 10 09 13 am" src="https://user-images.githubusercontent.com/3654622/32086373-e805f4ac-bafe-11e7-941e-a8e0203191b8.png">

[2017-10-27 03:42] huyphams commented on #94
Hi @karimelm the bug was fixed 👍 thanks

[2017-10-27 11:04] karimelm commented on #95
Yes

[2017-10-27 12:25] huyphams commented on #95
Yeah, let's me try 😁

[2017-10-28 09:14] huyphams commented on #95
Apple didn't support detect force touch by default.
I will look into this solution: [link](https://eternalstorms.wordpress.com/2015/10/24/how-to-receive-force-touch-events-from-an-nstableview/)

[2017-10-28 09:14] karimelm opened #96 "Exporting table content/data"
Hi,

When exporting table content, both json and csv options produce the same output, and its invalid csv or/and invalid json for that matter, it also wraps json in double quotes like this:

"values"
"{""x"":

values is the column name, and the data is just dumped per row on new lines with double quotes.

[2017-10-28 09:27] huyphams commented on #96
Hi @karimelm thanks for the feedback. Could you try the beta build? I have fix some export issues on that build and updated it 5 minute ago.

[2017-10-28 09:51] karimelm commented on #96
Export seems to work fine now, but json field name quotes are escaped, csv looks good too, ssh connection is also fixed. Good job, ill look at the exported data more closely later on.

Ill let you know if the connection disappears from my list again. Thanks

[2017-10-28 11:02] huyphams commented on #83
I have refactored code and there are only two simple functions handle save/load connections. If it still happen (probably some application change the plist file or bug of OSX 10.13). I will update to High Sierra next week to debug this bug.

[2017-10-28 12:03] #96 closed

[2017-10-28 12:03] #94 closed

[2017-10-28 12:03] #91 closed

[2017-10-28 12:03] #88 closed

[2017-10-29 04:03] #13 closed

[2017-10-29 06:50] huyphams commented on #90
Supported fuzzy search (just like sublime text)

![screen shot 2017-10-29 at 1 49 17 pm](https://user-images.githubusercontent.com/3654622/32141320-0b47e2f6-bcb0-11e7-938c-339c0578dd92.png)

[2017-10-29 11:31] huyphams opened #97 "Replace Prefix search with Fuzzy Matching"
![fuzzy](https://user-images.githubusercontent.com/3654622/32143114-57ace408-bcd7-11e7-886a-b8f840b23278.png)

[2017-10-30 04:03] huyphams opened #98 "Bug require login too frequently"
TablePlus requires sign-in after open/upgrade app.

[2017-10-30 04:17] huyphams commented on #98
I have pushed a backend fix to extend TTL of token.

[2017-10-30 13:53] karimelm commented on #83
Up until now, the new release has resolved this issue for me.

[2017-10-30 18:12] brian-crane opened #99 "Allow option to group queries by DESC date"
Currently oldest queries are on top, I think newest queries should be on top, or at least an option should be in place.

![screen shot 2017-10-30 at 11 12 03 am](https://user-images.githubusercontent.com/7946786/32187794-465e9016-bd63-11e7-8042-4fbfeee4bffb.png)

-Brian

[2017-10-30 18:13] brian-crane commented on #99
also just noticed it looks like its unordered as well

[2017-10-30 21:58] brian-crane commented on #99
I also wanted to say Build 67 is looking great- queries seem to be running faster than ever! Keep it up Huy

[2017-10-31 03:30] huyphams commented on #99
Hi @brian-crane `also just noticed it looks like its unordered as well` => it's bug, it should be ordered.

Not many features include in build 67-68 but but fixes and performance improved.

[2017-10-31 12:26] vgoloviznin opened #100 "Setting NULL value when editing existing row"
I'm using the latest version of TablePlus with Postgres DB and I can't seem to find a way to set a NULL value when editing an existing field.

If an existing field is a varchar and contains some value, if you remove the value it transforms into an empty string but I don't see an option to set it NULL apart from doing a direct update query in the terminal

[2017-10-31 14:17] huyphams commented on #100
Hi @vgoloviznin
Thanks for feedback, you can set null by hold option and click on the cell, it will show quick menu and there are a null option

[2017-10-31 14:28] vgoloviznin commented on #100
@huyphams omg, turned out to be so easy :)

May be as an enhancement there can be some sort of a label or smth like that to indicate extra options

[2017-10-31 15:23] huyphams commented on #100
Yup, I'm thinking about that, because no one knows this menu.
Probably, we can show a tutorial only the first time user open app.

[2017-10-31 19:35] huyphams commented on #83
Hi @PVGrad
Just upgrade to OS X 10.13 and confirmed this bug. Now I can reproduce the bug lost all connections.

[2017-11-01 02:49] huyphams commented on #24
Open anything remembers last matched and high priority
<img width="1103" alt="screen shot 2017-11-01 at 9 48 15 am" src="https://user-images.githubusercontent.com/3654622/32257825-e5a85058-bee9-11e7-8f3e-b19c96133b18.png">

[2017-11-01 07:07] huyphams commented on #83
Hi @PVGrad @karimelm
Could you please download and test this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
==============
This build include:
1. Search part of word (Fuzzy matching + recently matching): SQL Query, Open Anything.
2. Fix lost all connections bug.
3. Performance improvement.

[2017-11-01 08:19] karimelm commented on #83
I dont seem to have this bug anymore in build 67, but what I also did was save the connection in its own group, perhaps that has something to do with it. Will download the new build and test regardless.

[2017-11-02 03:52] huyphams commented on #83
Hi guys,
After waste many hours debug on this issue. I found some interesting things (on OS X 10.13):
After save data to NSUserDefault and try to load it, NSUserDefault returns value nil `until restart application`. If we ignore and save data to NSUserDefault again => lost all connection except the new one.
I decided not to use NSUserDefault from now, in TablePlus, please keep waiting the update 6

[2017-11-02 14:51] huyphams opened #101 "Release candidate build 68 🧐"
Hi all,
Build 68 is coming with a lot of improvements and bug fixes 😁. Before you download and test build 68, please checkout this issue 🙄
`When you run build 68, all connections from early build will be migrated. if you back to old build, you need to create the connection again`. Check out why [issue 83](https://github.com/TablePlus/TablePlus/issues/83)

Link down: https://www.dropbox.com/s/3orqi

[2017-11-02 15:11] #92 closed

[2017-11-02 15:11] #98 closed

[2017-11-02 17:48] huyphams commented on #100
I added a tooltips when hover mouse on cell
<img width="565" alt="screen shot 2017-11-03 at 12 48 14 am" src="https://user-images.githubusercontent.com/3654622/32341660-ba7c68ea-c030-11e7-9dec-6fc5f771a7e9.png">

[2017-11-02 21:39] brian-crane commented on #43
@huyphams This solution does not work quite well enough - on large tables once I open to view, entire application will hang and I need to restart.  There should be a way to view the X most recent rows of a table _before_ we open the table, to avoid slowdown.

This is why I think the right click -> 'First X Rows' is the best way to go.  Currently we are forced to initially view _all_ rows of a tabl

[2017-11-03 03:15] huyphams commented on #43
Hi @brian-crane TablePlus doesn't load all rows when open table, if we have 602M rows in a table I think the bottle neck is: `select count(*) from tablename where condtion` we count rows for paging.

The best solution for now is using estimate instead of count(*). But sometime estimate return not exactly number of rows. [Read more about estimate](https://wiki.postgresql.org/wiki/Count_estimate)

I

[2017-11-03 03:28] huyphams commented on #43
A demo to show how to estimate work
<img width="1239" alt="screen_shot_2017-11-03_at_10_25_46_am" src="https://user-images.githubusercontent.com/3654622/32359593-b4fbc34c-c081-11e7-8611-0025d74d5892.png">

[2017-11-03 10:56] FranSancho opened #102 "Foreign key relation bug"
I wanted to relate tableA to tableB (they are in different schemas) using next:

ALTER TABLE tableA ADD FOREIGN KEY (name) REFERENCES tableB(name)

this command made effect in the  #database but it was not displaying any relation in the software.

[2017-11-03 11:10] huyphams commented on #102
Hi @FranSancho
Thank you for your feedback. I will check and fix this issue, i’ll let you know when it done

-Huy

[2017-11-03 18:17] #101 closed

[2017-11-03 18:17] #100 closed

[2017-11-03 18:18] #97 closed

[2017-11-03 18:18] #90 closed

[2017-11-04 03:50] #99 closed

[2017-11-05 09:20] karimelm commented on #95
Something you would expect to be easy, isn't ;) Thanks for looking into it though, by all means; it isn't a mission critical thing, just thought it'd be cool to have.

[2017-11-05 09:21] karimelm commented on #83
Have not yet experienced loss of connection since my last comment. Still resolved for me!

[2017-11-05 09:21] huyphams commented on #95
Hi @karimelm,
There are an other solution. If you are using mouse you can press `middle mouse` to open `quick look`
Huy.

[2017-11-05 15:52] phuchle2 opened #103 "App keeps crashing on macOS High Sierra"
Hi! I experience an issue when using TablePlus on macOS High Sierra v10.13.1. App keeps crashing even when I run a basic query.

The query I run
![simple-query](https://user-images.githubusercontent.com/28104592/32416443-b041b0b8-c27b-11e7-8fc4-1765e988b714.jpg)

After hitting cmd+enter
![app-crashing](https://user-images.githubusercontent.com/28104592/32416446-ba185592-c27b-11e7-83f8-1fba604ce510

[2017-11-05 15:54] huyphams commented on #103
Hi @phuchle2
Thanks, but it would be great if you can provide me more info about the driver (PostgreSQL, MySQL) and version of TablePlus.
- Huy

[2017-11-05 15:58] phuchle2 commented on #103
I'm currently using PostgreSQL on TablePlus v1.0 (68)

[2017-11-05 16:01] huyphams commented on #103
I'm using build 68 and 10.13.1 with PostgreSQL driver.
Here is my result
<img width="1158" alt="screen shot 2017-11-05 at 10 59 40 pm" src="https://user-images.githubusercontent.com/3654622/32416527-121a9f24-c27d-11e7-9603-29396c708e53.png">
can you send me the crash report?
Thanks

[2017-11-05 16:08] phuchle2 commented on #103
Yes. Here it is. I believe this portion is useful.

[code]

[2017-11-07 06:51] xuefeng-huang opened #104 "brew cask install checksum mismatch error"
I am using brew cask install tableplus (tableplus--1.0,67.zip)
the error it gave is:
Error: Checksum for Cask 'tableplus' does not match.

Expected: 6c1441e02682b205346f23e6f26a3f3b0a594bbdd41e08245d5794375ebe521f
Actual:   d8b2e99a3217291461b4a57774ce48dac85c271ec7105f2165eda0b7e574b12c

[2017-11-07 06:57] huyphams commented on #104
Hi @xuefeng-huang

We didn't support brew cask yet, maybe someone does. Please go to homepage and download the latest build 68.

Thanks,
Huy.

[2017-11-08 08:46] huyphams commented on #103
Hi @phuchle2

I have a new build which fixed that crash bug above.
It would be great if you can download and test it: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

Thanks,
Huy.

[2017-11-08 13:55] phuchle2 commented on #103
Is this .zip the same as build 69 or a different one? I've just received an update to build 69 in TablePlus.

[2017-11-08 13:56] huyphams commented on #103
@phuchle2 that is the same fix, but build 69 includes more features and bugs fixed.

[2017-11-08 14:29] overture8 opened #105 "fe_sendauth: no password supplied"
Since upgrading to the latest version I can't seem to connect via SSH with a private key. Getting this error: `fe_sendauth: no password supplied`.

[2017-11-08 14:31] huyphams commented on #105
Hi @overture8

Since version 68, due to some conflict key with Pocket reader, We upgraded some keychain key-value.
Could you please right click on connection -> edit -> hit the test button?

Thanks,
Huy.

[2017-11-08 14:33] overture8 commented on #105
Yeah, I just did that now. The same error appears - `fe_sendauth: no password supplied`.

[2017-11-08 14:40] huyphams commented on #105
This message comes from` PostgreSQL`, that mean the password was incorrect or `pg_hba.conf ` file was configured wrong.

This is mine:
<img width="612" alt="hyu" src="https://user-images.githubusercontent.com/3654622/32554768-70a16c06-c4cd-11e7-98a4-b52affe7d3e9.png">

[2017-11-08 14:47] overture8 commented on #105
Ah, ok - yeah, that was it. For some reason the password that I'd entered seemed to be lost when upgrading to the latest version. All good now.

[2017-11-08 14:51] huyphams commented on #105
As I mentioned above, because of conflict keychain so I decided to migrate TablePlus to new key-value. Maybe the migrate was broken somewhere, I'm sorry for the inconvenient.

I have a plan when TablePlus reach version 70 (one build a head), I will spend more time to write Unit test to improve stability when release new build.

Huy.

[2017-11-08 16:34] bdebever opened #106 "Improve bug/error report"
Hi there,

I really like your product.

However, I have a few point to make:
- the error is really poor, only error I could have so far is "Mysql has gone away" - while I knew I had different error: ssh, wrong username, wrong password. So it would be nice to have more information.

- It's not really clear what is the selector at the bottom right-hand corner. Why not using it to switch db?

I will

[2017-11-08 18:12] huyphams commented on #106
Hi @bdebever

`the error is really poor, only error I could have so far is "Mysql has gone away"` -> This is actually error response from MySQL Server. I will take a look on documents to see how to improve this message.

`It's not really clear what is the selector at the bottom right-hand corner. Why not using it to switch db?` -> TablePlus supports many drivers, and this dropdown is using for tab

[2017-11-08 23:04] brian-crane opened #107 "Strange bug after out of memory"
I received an OOM error on my comp, after which TablePlus application did not start up ever again, I had to download new version of TP to fix this.

I'm hoping the error reports were sent in properly.  sorry for brevity; recently injured my hand

[2017-11-09 02:55] huyphams commented on #107
Hi @brian-crane, I hope you are well.

Thank you for the feedback. I will investigate on this issue and keep you posted. Currently I'm focusing to improve stability and performance of TablePlus by fixing crash bugs, unit test and memory optimization. TablePlus should handle large data set better.

Huy.

[2017-11-09 04:42] phuchle2 commented on #103
Hi @huyphams. I haven't encountered the same problem in build 69 since yesterday. Thanks for the support. Cheers!

[2017-11-09 12:44] overture8 commented on #105
No worries - thanks for the quick responses :)

[2017-11-09 16:24] #83 closed

[2017-11-09 20:22] brian-crane commented on #107
Thank you Huy; by the way TablePlus is becoming more powerful and stable with each release, today I could run a 390k line query, which before would have given me issues! :)

One request I have is for when viewing large queries from the History, it can take a few minutes to display the full 390k line query, you see the scrollbar moving up as it loads; maybe we can have a progress bar or something t

[2017-11-10 03:18] huyphams opened #108 "Support detect command under the cursor"
Hi all,

Customer suggested me to support detect command under the cursor, I think this is a nice feature and will be the combo with execute selected command (cmd + shift + e or cmd + shift + return)

Huy.

[2017-11-10 03:52] huyphams commented on #107
Hi @brian-crane
That is one of my goal to optimize SQL Query, you can see TablePlus can load a millions of line and hundred millions characters.

Currently, I can parse and detect syntax `hundred millions characters` less than 1 seconds. but the bottle neck is Apple Cocoa Framework, (that's why you can see the text is all black, because I disabled syntax high light temporary).

I'm trying to impro

[2017-11-10 06:49] bhrd opened #109 "Allow read-only access to databases"
There seem to be many ways to easily edit data (actual table values, column names and types), and it's not always safe when accessing production databases. An option to read data sources in a read only fashion would be nice.
eg. https://github.com/serge-rider/dbeaver/search?q=isConnectionReadOnly

[2017-11-10 06:52] huyphams commented on #109
Hi @bhrd
We already have that options:
<img width="519" alt="screen shot 2017-11-10 at 1 51 04 pm" src="https://user-images.githubusercontent.com/3654622/32646243-3f7a391c-c61e-11e7-938c-0a6228e7819c.png">

This feature prevent TablePlus send queries to server without confirm you. But please remember that if you want o make sure everything working as expected, you should create an account with rea

[2017-11-10 07:11] bhrd commented on #109
Well, what I'm asking for is a little different.
A way to issue select queries (or any read queries) without warning, but only disable queries/options that might write to the database, when on read-only mode. where writes could be anything from table/db name alterations, column value and datatype alterations. I guess it's not that easy to implement.

[2017-11-10 07:16] huyphams commented on #109
`A way to issue select queries (or any read queries) without warning, but only disable queries/options that might write to the database, when on read-only mode` => When implement this feature,  I thought about this a lot. But as you said, it's not easy to implement. I will marked this as improvement for this feature.

[2017-11-10 07:51] vgoloviznin opened #110 "Right tab doesn't show actual properties of the selected row for boolean fields"
After one of the recent releases, when opening the right 'tab' and selecting a row, the tab is not showing proper property values of the selected row for boolean fields. String and number fields are updating properly when selecting

[2017-11-10 07:57] huyphams commented on #110
Hi @vgoloviznin
Thanks for the feedback, I got the bug, I'm fixing it now.
Huy.

[2017-11-10 07:57] vgoloviznin commented on #110
@huyphams thanks!

[2017-11-10 09:55] huyphams commented on #110
Hi @vgoloviznin

I just pushed the hotfix on website, if you want to update please go to https://tableplus.io and download it or wait until version 70 released.

Huy.

[2017-11-12 20:21] huyphams opened #111 "[New feature] Allow split Pane in SQL Query"
In new build 70, TablePlus allows to split pane into multiple SQL Query
<img width="1552" alt="splitquery" src="https://user-images.githubusercontent.com/3654622/32702976-b65c2ef0-c821-11e7-8618-b8dbb2eb40b5.png">

[2017-11-13 08:14] huyphams commented on #108
Yayyy done, this feature will be released in build 70 😁
![Uploading autoSelect.png…]()

[2017-11-14 07:08] #53 closed

[2017-11-14 07:08] #104 closed

[2017-11-14 07:09] #24 closed

[2017-11-15 05:20] #110 closed

[2017-11-15 05:20] #108 closed

[2017-11-15 15:41] phuchle2 opened #112 "Unable to display emojis when using JOIN between tables"
Hi, I have a problem in rendering emojis. When I run a query on a single table, it displays the emojis just fine. Here is the result:
![screen shot 2017-11-15 at 10 31 34 pm](https://user-images.githubusercontent.com/28104592/32844649-8e14c444-ca55-11e7-9eb1-d460b7e80dee.jpg)

However, when I try to join tables (in my case, 3 tables), the emojis are not rendered and it returns NULL fields.
![scree

[2017-11-15 15:45] huyphams commented on #112
Hi @phuchle2
Thanks for your feedback
Let me try to reproduce this bug, will get back to you soon.
- Huy.

[2017-11-15 15:50] phuchle2 commented on #112
@huyphams yeah I have tried on TeamSQL and it displays just fine.

[2017-11-15 17:10] huyphams commented on #112
I think I can reproduce the bug now,
Thanks you @phuchle2  💃🏻

[2017-11-16 00:21] brian-crane opened #113 "clicking DB icon does not bring up DB list"
New shortcut cmd-shift-D works well but now clicking DB icon does not bring up DB list

[2017-11-16 00:22] brian-crane opened #114 "Tableplus crashes after hitting SQL query button"

[2017-11-16 03:18] huyphams commented on #113
Hi Brian,
Thanks you for your feedback, I fixed this bug and pushed a hot patch on the website.
Huy.

[2017-11-16 03:38] huyphams commented on #114
Hi @brian-crane

This bug only happend on OSX 10.11, it comes from bug Apple Cocoa. I have pushed build 71 to fixed all the problems. Please check for update. Thanks you.

Huy.

[2017-11-16 03:44] #113 closed

[2017-11-16 03:45] #114 closed

[2017-11-16 05:41] huyphams commented on #112
Hi @phuchle2
This build should fixed your problem: https://www.dropbox.com/s/kuh27p1gv82enqq/TablePlus.zip?dl=0
- Huy.

[2017-11-16 14:33] theanchorsmith opened #115 "Emojis are displayed as question mark."
Hi,

At the moment I'm using the trial version of TablePlus.
I haven't decided yet wether I should buy the full version.

On the homepage I saw examples of Emoji support (which I need for my projects).
But the emoji will not show up in the TablePlus application (at least not all emoji).
The column value is replaced by a question mark.

Below are screenshots to reproduce:

**Executing query via ter

[2017-11-16 14:36] huyphams commented on #115
Hi @theanchorsmith thanks for your feedback. Are you using TablePlus for MySQL?

[2017-11-16 14:37] theanchorsmith commented on #115
@huyphams Yes I do

[2017-11-16 16:06] huyphams commented on #115
Here is the hotfix build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

I'm working on build 72 and fixing all encoding bugs.

<img width="1003" alt="screen shot 2017-11-16 at 11 02 35 pm" src="https://user-images.githubusercontent.com/3654622/32901383-417a6418-cb22-11e7-9474-ba7a758fda10.png">

[2017-11-16 16:23] #112 closed

[2017-11-16 16:47] theanchorsmith commented on #115
Thanks, I tested the built and everything works as expected.
I also tested the export functionality.

Thanks for the support.

[2017-11-18 05:18] huyphams commented on #31
Hi @brian-crane

TablePlus build 72 includes tab title in the end, this helps you easy track what is current schema and table. See the attachment bellow:
<img width="1300" alt="nice" src="https://user-images.githubusercontent.com/3654622/32977172-7c0810e2-cc5a-11e7-8135-8bf11bdc94b8.png">

- Huy.

[2017-11-18 10:46] brian-crane opened #116 "small issue, check update dialog window incorrect"
Should say 'Release 72' instead of '1.0', i think

![screen shot 2017-11-18 at 2 44 00 am](https://user-images.githubusercontent.com/7946786/32979471-93090972-cc0a-11e7-877e-0098818a171f.png)

![screen shot 2017-11-18 at 2 45 56 am](https://user-images.githubusercontent.com/7946786/32979479-a18a1608-cc0a-11e7-82d4-93fe9a3b64dc.png)

[2017-11-18 10:54] huyphams commented on #116
Yeah, this is default alert from [sparkle](https://sparkle-project.org/), let's me see how if we can change this.
Thanks you Brian 😁

[2017-11-20 03:16] huyphams opened #117 "Support full dark theme"
TablePlus now supports full dark theme

Welcome
<img width="712" alt="screen shot 2017-11-20 at 10 16 29 am" src="https://user-images.githubusercontent.com/3654622/33000631-e50ba996-cddb-11e7-954b-f689c1a7a233.png">

Workspace
<img width="1363" alt="fulldark" src="https://user-images.githubusercontent.com/3654622/33000605-be44ec50-cddb-11e7-8e65-d0dda5975f58.png">

SQL Query
<img width="1235" alt=

[2017-11-22 05:27] son11592 opened #118 "Word boundary by dot"
TablePlus should select text with boundary by dot when:

- Hold option + Delete
- Hold option + move left
- Hold option + move right

[2017-11-22 06:33] #111 closed

[2017-11-22 06:45] #31 closed

[2017-11-22 08:03] PVGrad opened #119 ""Recently open" list is empty after switching DB"
Steps:
- Open first DB, open any table - it will be added to "Recently open" list
- Press shift+cmd+d and switch to another DB
- Open any table - it will be added to "Recently open" list
- Press shift+cmd+d and switch back to first DB

Result - "Recently open" list is empty

It would be great if "Recently open" list will be unique per connection+DB pair.

Thanks

[2017-11-22 08:05] huyphams commented on #119
Hi @PVGrad
Yeah that's nice idea, you're correct, `Recently open list` should be unique per connection+DB pair.
I will include this fix on next release.
- Huy.

[2017-11-22 16:58] #115 closed

[2017-11-23 11:44] gokninski opened #120 "Unable to edit row after running SELECT query"
I'm pretty sure this worked before but not 100%.

If you select a record using a select statement from the SQL query window and then try and edit a field for that record in the results panel then it will allow you to click into the field but not commit the actual change.

Running latest version Version 1.0 (72) with PostgreSQL 9.6.1.

Many thanks,

G :)

[2017-11-23 11:48] huyphams commented on #120
Hi @gokninski
We are not allow to edit value in the query result window. Because in this case, we didn't know the table contains that rows.

For example:
[code]
The result are:
<img width="1305" alt="screen shot 2017-11-23 at 6 47 26 pm" src="https://user-images.githubusercontent.com/3654622/33171468-c73a5d18-d07e-11e7-9d55-4189f03cfa71.png">
In this case, we can't edit value of rows.

But you're

[2017-11-23 12:13] gokninski commented on #120
Thanks for your reply Huy.  This is how I personally use database browsers for making quick edits - in other browsers I have used they must perform a check to see whether that row is still correct as I have seen a message come up and say something along the lines of 'this row has changed, please refresh'.

Many thanks,

Greg :)

[2017-11-24 09:38] PVGrad commented on #120
As I noticed in other apps - they allow to edit row after select if select has primary key in it, so in this case it is safe to perform edit

[2017-11-25 07:15] huyphams commented on #118
We have done it on build 73 already.

[2017-11-26 05:20] #117 closed

[2017-11-26 18:16] huyphams commented on #119
Hi @PVGrad ,

This feature was done on build 73. it will be released on Monday 🎉🎉🎉

Thanks 👍.
- Huy.

[2017-11-27 04:00] #118 closed

[2017-11-27 04:00] #119 closed

[2017-11-27 05:50] huyphams commented on #93
Hi @PVGrad
I decided to develop this feature. This feature will come with data transfer. That means you can transfer data between 2 data cents very easy. There are some options allow you only fetch top of table (in case table has a million of rows).

- Huy.

[2017-11-27 13:44] gokninski opened #121 "Connection info illegible when using dark theme"
Hello there,

Recently started using the dark them as its much easier on the eye but the connection info is very hard to read because its white on green, and also the text within the pop-up is broken.

<img width="756" alt="screen shot 2017-11-27 at 13 42 27" src="https://user-images.githubusercontent.com/17249667/33269570-11438aea-d379-11e7-96b5-8b7a13e8f0a0.png">

Many thanks in advance,

Greg :

[2017-11-27 14:07] huyphams commented on #121
Hi @gokninski

Thank you for letting me know, I noticed that the Apple Cocoa UI didn't render the same UI on 10.11 10.12 and the newest 10.13 and some components need to restart the app to apply the dark theme completetly.
Currently, we are tuning the dark theme, we will double check for all the OSX version over again.

Huy.

[2017-11-27 14:32] PVGrad opened #122 "Support for autocomplete in "Where section" of Data view"
I'm about selected section on the screenshot with placeholder "id = 10":
![Where section](https://i.imgur.com/9VDit0k.png)

What I use now to not type all field name is:
- press Column button
- start typing field name
- select suggested field and cut it
- close Column form
- paste field into "where section"

Hope, you are agree that native field name autocomplete will improve UI usability here.
Th

[2017-11-27 14:52] huyphams commented on #122
Hi @PVGrad

First of all, I agree with you that the current filter is not good enough. I have tried the Sequel Pro filters and some other clients. Personally, I think choose columns in a dropdown and select the conditions is boring. I'm working on some sketch design to improve this filter and will release it soon.

- Huy.

[2017-11-28 05:52] huyphams opened #123 "[SQL Query] Auto indent new line, auto add double quotes"
1. For example:

[code]

The cursor position after insert new line should be indented with the line before. (Done since Build 74)

2. Auto add double quotes when user add a quote

`"` => `""`
`'` => `''`

[2017-11-30 05:32] huyphams commented on #120
Hi @gokninski @PVGrad

This feature will be included in next #build74
Thank you guys <3

- Huy.

[2017-11-30 09:42] huyphams commented on #120
💃🏻🎉
<img width="1387" alt="screen shot 2017-11-30 at 4 41 31 pm" src="https://user-images.githubusercontent.com/3654622/33424094-585a8304-d5ed-11e7-9570-848a06eb0c6e.png">

[2017-12-03 03:53] huyphams commented on #122
Hi @PVGrad

I added this autocomplete popup as a temporary solution.

<img width="1440" alt="completion" src="https://user-images.githubusercontent.com/3654622/33522153-0fc18f34-d818-11e7-979d-399a3610a15c.png">

- Huy.

[2017-12-03 17:54] THAlpha commented on #102
@huyphams Any update on this? I'm using the paid version and it's quite an annoying bug

[2017-12-04 01:09] huyphams commented on #102
Hi @THAlpha

I'm working on this issue, this will be fixed and update on build 75. We also added ability to edit foreign keys in table structure in next release.

- Huy.

[2017-12-04 08:28] THAlpha opened #124 "Unable to view local postgres data after latest update"
Having to revert to an older version, no data shows up on a local postgres db - tried removing and adding the credentials again but nothing. Schemas not showing either apart from `public`.

[2017-12-04 08:29] THAlpha commented on #102
Awesome @huyphams - looking forward to it.

[2017-12-04 08:36] huyphams commented on #124
Hi @THAlpha
I think I know how to reproduce this bug. Thanks for the feedback.

[2017-12-04 09:55] huyphams commented on #124
Hi @THAlpha
Could you please test this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
I just make a quick fix for this rare case.

- Huy.

[2017-12-04 10:11] huyphams opened #125 "Should add auto suggestion for schema_name"

[2017-12-04 15:05] huyphams commented on #102
Hi @THAlpha
I have a question. Is that your foreign keys is a compound keys?

because TablePlus currently only support foreign key with single column linked.

<img width="908" alt="nice" src="https://user-images.githubusercontent.com/3654622/33559386-27ec4c8e-d93f-11e7-8c2e-9ac2cfac4ba2.png">

We will support multi columns linked in next release.
- Huy.

[2017-12-05 05:57] #120 closed

[2017-12-05 05:57] #121 closed

[2017-12-05 05:57] #122 closed

[2017-12-05 19:28] rosaalvarez commented on #124
Same issue

[2017-12-05 19:33] rosaalvarez commented on #124
Well, I took the file on the link that you shared, and it works.

[2017-12-06 01:27] huyphams commented on #124
Hi guys,

The build on the link is production build + hot patch this issue. You guy can use that build until the next update.

Huy.

[2017-12-06 07:38] THAlpha commented on #124
Thanks @huyphams - that works for me.

[2017-12-11 14:42] #124 closed

[2017-12-11 14:43] #107 closed

[2017-12-11 14:43] #105 closed

[2017-12-11 14:43] #125 closed

[2017-12-11 14:43] #123 closed

[2017-12-12 11:58] huyphams commented on #71
Hi @keichinger
We added a config allow you to set color for status bar.

Improved for feedback number 5.

<img width="612" alt="color" src="https://user-images.githubusercontent.com/3654622/33883445-621a1c62-df6e-11e7-947a-cffd77511989.png">

- Huy.

[2017-12-12 19:10] huyphams opened #126 "[Build 77] Allow to change status colors"
<img width="960" alt="status" src="https://user-images.githubusercontent.com/3654622/33903375-c5fefaf4-dfaa-11e7-8e48-63226418cbdf.png">

[2017-12-13 05:30] bhrd opened #127 "Ability to name and save SQL query tabs"
An option to rename tabs (on right click and/or from the menu options) would be nice to have. The ability to save tabs as files would be even better.

[2017-12-13 05:35] huyphams commented on #127
I'm thinking about that. But may I ask you a question.

Why you want to rename the tab? because the tab name is table name. If we allow to rename the tab, it maybe confused.

 Btw: restore workspace/tabs after close app would be a nice feature, just like Xcode, Sublime Text, I agree with this.

[2017-12-13 05:37] bhrd commented on #127
Well, I should've been clearer I guess. I'm specifically talking about the SQL Query tab. Let me edit the issue title as well.
![image](https://user-images.githubusercontent.com/221584/33923222-a5603dce-df84-11e7-9cef-8fdee3e14260.png)

[2017-12-13 05:47] huyphams commented on #127
I understood, rename for only SQL Query tab. I agree with it 👍

[2017-12-13 05:48] bhrd opened #128 "Simultaneous queries triggered from multiple tabs don't report accurate status"
I had one SQL query tab open and executed a long running redshift query.
The progress bar reported accurate state.
I opened a new tab and tried executing another query.
Both queries were submitted to the server (I verified).
I expected to see the state of 2 queries on the progress bar on TablePlus, but couldn't see such a state.
The query on the second tab completed, but the app still doesn't allo

[2017-12-13 05:52] huyphams commented on #128
Hi,
I got it, thanks for your feedback. This bug will be fixed on build 77 👍

[2017-12-13 05:57] bhrd opened #129 "Allow editing of query tab content when a query is running"
Most times, I have the need to write more (or edit existing) queries, as a query is executing, and other apps do allow such interactions.

[2017-12-13 06:02] huyphams commented on #129
Currently, I block the UI when execute. There are two step:
1. Process queries: spit string into queries, encode, save history <- this step won't take time (ms).
2. Submit query: send queries to server and waiting for the result <- this step take time and depend on your connection, database, and how big the query is.

I will improve this process and the UI should be block only on the first step.

[2017-12-13 07:49] bhrd opened #130 "Query completion notifications"
Query completion notifications, would be nice!

[2017-12-13 07:53] huyphams commented on #130
Sure 😸  💯

[2017-12-13 08:32] bhrd commented on #130
Example: “query completed in 25 seconds” or “ERROR”🙂

[2017-12-13 19:40] bhrd opened #131 "Show an indication of elapsed time since query submission, within the status bar"
An indication of the **elapsed time** since the query is submitted to the server, within the status bar, would be a neat addition.

[2017-12-13 19:43] bhrd opened #132 "Reloading workspace does not reconnect, and is stuck at "Refreshing""
Reloading the workspace does not trigger a reconnect, and is stuck at "Refreshing" until I close the window and reopen the connection again.
![image](https://user-images.githubusercontent.com/221584/33958837-8726896e-dffa-11e7-8f17-28fb4a2c6fdf.png)
I'm facing this with Redshift, when trying to reconnect after logging out and logging back into my computer. My connection is good, as I have other re

[2017-12-13 21:15] bhrd opened #133 "Option to refresh table list on left sidebar"
An option to refresh the list of tables within a schema, on the left sidebar would be handy.

[2017-12-13 21:18] bhrd commented on #133
I notice that the table list does refresh when reloading the workspace, so I guess that's enough.

[2017-12-13 21:18] #133 closed

[2017-12-13 23:58] brian-crane opened #134 "cannot logon to happy plan"
Cannot logon to happy plan in app, even though pw is correct

[2017-12-14 01:47] huyphams commented on #134
Hi @brian-crane

I checked and everything is fine, there are a forgot password in case you can't remember password.
If you don't want to enter the password, you can continue with github, butbucket or gmail. I think it's easier.

Huy.

[2017-12-14 03:30] huyphams commented on #132
Hi @bhrd, thank you. I will investigate on this issue and fix it soon, will keep you posted.
Huy.

[2017-12-14 03:31] huyphams commented on #131
Nice idea.
Currently, this section is empty. We can put the `elapsed time` here 😸
<img width="853" alt="screen shot 2017-12-14 at 10 30 59 am" src="https://user-images.githubusercontent.com/3654622/33974251-fed8d9b6-e0b9-11e7-9e55-5db359b3c09d.png">

Huy.

[2017-12-14 13:29] keichinger commented on #71
Thank you @huyphams for your incredible work! I'm really loving the new version ❤️

I've got a few more things I'd like to leave as feedback:

- Trying to delete a table should allow me to enable „Ignore ForeignKey Checks” (in MySQL?). Otherwise I'd need to go through my entire database and delete the tables in the correct order or remove the FKs first. Depending on the size of the database it's n

[2017-12-14 14:45] huyphams commented on #71
Hi @keichinger
Thank you for your kind feedback, it will help me a lot to figure out what's users need.

1. `Trying to delete a table should allow me to enable Ignore ForeignKey Checks ...` => recently I have faced this issue too when using my app and try to delete a row (linked with foreign key) and it's not possible. I will investigate on this issue and see how we can improve this, will keep you

[2017-12-14 15:46] taylorotwell commented on #120
I still can't get this to work on latest build (downloaded today). Is there some special process to get this to work?

[2017-12-14 16:02] huyphams commented on #120
Hi @taylorotwell
Currently, we only supports PostgreSQL on this feature, other driver will come later. Because this feature depend on official support from database driver. Which driver are you on?

Huy.

[2017-12-14 17:44] mrmonat opened #135 "MySQL enum fields"
I have a problem with mysql tables containing enum type fields. If I change values of them, TablePlus isn't generating a query for that (blank popover, when I click on "preview"), and if I click on "commit", the changes are not saved to the table.

[2017-12-14 18:10] vasilis-exo opened #136 "Table structure issues"
How I can find the auto-increment value and change it?
How I can change field collation and encoding?
Why varchar option not exists in the data_type dropdown?
Where I can find the table information (eg. engine, creation date etc)?

I think that the ui is great but you have to implement some important functionalities in order to become a complete database tool. 👍

[2017-12-14 18:16] huyphams commented on #136
Hi @vasilis-exo

based the feedback, I think you are using MySQL driver. TablePlus is a young project. I started this project 4 months ago and support only PostgreSQL. MySQl and other dirvers were added later. Yup, there are a lot of things todo, and we ship update every weeks to fix all the issues. Thanks for your feedback 👍 😸

- Huy.

[2017-12-15 00:30] bhrd opened #137 "Content on additional Query tabs are not persisted between sessions"
Closing and reopening a database session maintains the queries present in the primary query tab, but contents on second tab aren't persisted, and the new tab opens with an empty query console.

[2017-12-15 01:43] mikebronner opened #138 "[Feature Request] Update detail pane when changing table selection."
When changing the selected table with arrow keys on mac, the detail pane does not update to reflect the currently highlighted table.

This would be handy for traversing many tables quickly.

Thank you!

[2017-12-15 01:59] bhrd opened #139 "Allow for more delimiters in "right click copy as" in query results"
I typically copy query results and paste into excel, and other SQL clients I use, support choice of delimiters while copying, and have an option to set default delimiter in preferences.
SequelPro for example, has tab-separated as default.
Even if you cannot make tab as the default delimiter, an option to configure this in preferences would be useful.
I do know that I can hit the export button to e

[2017-12-15 02:58] huyphams commented on #138
@mikebronner TabePlus used to have this feature, but currently I changed the UX, because sometime we want to select multple table (for export, delete etc...) so I changed the UX to select then hit `return` to open table.

I just realize that we can archive both cases by detect user holding `shift` key. I will fix it on next update, thanks 👍

[2017-12-15 02:59] huyphams commented on #139
hi @bhrd sorry for the delay because different time zone. Sure, we will have config `delimiter` on the future update.
Huy.

[2017-12-15 03:04] huyphams commented on #137
This is an expectation behaviours, but it is not fit with yours. I'm thinking about this and keep this issue open, comeback later. Thanks.

[2017-12-15 03:09] mikebronner commented on #138
@huyphams awesome, thanks! :)

[2017-12-15 03:11] mikebronner commented on #138
Yea, SHIFT-click, CMD-A, and CMD-click should probably be used to select multiple tables, along with SHIFT-↓ or SHIFT-↑. :)

[2017-12-16 02:28] taylorotwell commented on #120
I use MySQL and SQLite typically. Thanks.

[2017-12-16 04:49] huyphams commented on #130
Hi @bhrd
I have something new for you 😄
<img width="1290" alt="nice" src="https://user-images.githubusercontent.com/3654622/34067376-12e0b0a2-e257-11e7-842a-b1aa16523cd4.png">

[2017-12-16 04:50] huyphams commented on #130
If you minimized application or move to another application, TablePlus will show this.
<img width="631" alt="screen shot 2017-12-16 at 11 48 02 am" src="https://user-images.githubusercontent.com/3654622/34067386-44d4ad7a-e257-11e7-964d-7d54d107da68.png">

[2017-12-16 04:52] huyphams commented on #130
And there are the whole new workspace managerment to help you work with mulple databases.
<img width="1262" alt="screen shot 2017-12-16 at 11 51 58 am" src="https://user-images.githubusercontent.com/3654622/34067396-899e6fa4-e257-11e7-90d8-8130fa4a35ee.png">

[2017-12-16 04:53] bhrd commented on #130
Omg this is amazing turnaround time!
👏🏼👏🏼👏🏼🎉🎉. Can’t wait for this build! Kudos to you and your team!

[2017-12-16 04:57] huyphams commented on #138
I fixed on new build 77, I will release it soon 💃

[2017-12-16 04:59] huyphams commented on #132
I added a code check `connection is alive` before refreshing the workspace. Not sure if this fix, I'm still testing on it.

[2017-12-16 05:05] bhrd commented on #132
I can also test if you have an early build, let me know.

[2017-12-16 05:11] huyphams commented on #132
Sure, https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
But remember that the UI/UX are uncompleted (horizontally workspace tab, clickable notification etc...).

[2017-12-16 18:13] huyphams commented on #130
Update:
<img width="1290" alt="customizename" src="https://user-images.githubusercontent.com/3654622/34073226-80a73974-e2c7-11e7-9be6-b1002e50ee87.png">

[2017-12-17 10:29] huyphams opened #140 "[PostgreSQL] Support patial index build 77"
<img width="1244" alt="nice" src="https://user-images.githubusercontent.com/3654622/34078605-c50f19c8-e34f-11e7-9df3-33366d2e83c6.png">

[2017-12-17 12:12] huyphams commented on #135
Hi @mrmonat
I just tested on the lasted build 77 and the enum still working. But I think the UI/UX of table structure when creating enum is bad. I'm thinking about this and will improve it.

<img width="1363" alt="enum" src="https://user-images.githubusercontent.com/3654622/34079304-11143bf6-e35e-11e7-8ba7-18ac18cd271e.png">

[2017-12-17 13:17] #140 closed

[2017-12-17 13:17] #126 closed

[2017-12-17 13:18] huyphams commented on #138
Please check out new build 77 😄

[2017-12-17 16:56] mikebronner commented on #138
@huyphams So sweet! confirmed working, thanks a bunch for the super-quick turn-around. :)

[2017-12-17 16:56] #138 closed

[2017-12-17 17:12] krekas commented on #9
Linux version would be really great

[2017-12-17 17:23] #35 closed

[2017-12-17 17:32] huyphams commented on #102
Hi, @THAlpha @FranSancho could you please check build 77 and let me know if this bug was fixed? Then I can close this issue.

[2017-12-18 04:11] thovt93 opened #141 "Allow view/export schema"
Hi,
How can I view or export schema?
I can't find that feature on this application.

[2017-12-18 04:13] huyphams commented on #141
Hi @kensupermen
Thanks for your feedback, there is a similar issue: https://github.com/TablePlus/TablePlus/issues/93
Please check it out.

[2017-12-18 08:21] lmquang opened #142 "Return to default screen after clicking on TablePlus icon"
Hi, I have a problem when click on TablePlus icon which will redirect me to screen with message `No  database selected, press cmd + shift + D to select`.

Steps to Reproduce:
1. Open app
2. Choose host
3. cmd + shift + D to choose DB
4. Click on TablePlus icon (on Dock)

Environment:
TablePlus version 1.0 (77)

[2017-12-18 08:26] huyphams commented on #142
It's a bug, TablePlus created a new workspace when you click on the Dock icon. (cmd + shift + \) you will see your workspace here.
Let me fix it.

[2017-12-18 08:44] huyphams commented on #142
Hi @lmquang

This is hotfix build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

Thanks for your feedback.

[2017-12-18 18:01] #130 closed

[2017-12-18 18:59] Chinese1904 opened #143 "JSON Formatting"
Hi,

I would love to see JSON formatted in JSON rows. It's rather complicated to navigate through the text if it isn't formatted.

Thanks so much for this awesome tool!

[2017-12-18 19:01] huyphams commented on #143
Hi @Chinese1904
Thanks for the feedback, we already have this issue and have a plan to implement it.

[2017-12-18 19:11] Chinese1904 commented on #143
Looking forward to all the new versions! Thanks!

[2017-12-18 19:11] #143 closed

[2017-12-18 19:55] bhrd commented on #137
The app only persists contents from the last open tab, and I just lost a whole bunch of queries on my primary query console, just because I navigated to the second tab before closing the app. This seems more like a bug to me, now :/

[2017-12-19 03:05] huyphams commented on #137
Hi @bhrd thanks, it shouldn't be done that way. I will improve this UX a little bit in next update.

[2017-12-19 04:25] lmquang commented on #142
Thanks, it's ok now

[2017-12-19 17:09] nathanpalmer opened #144 "Ability to sort results without modifying the query"
Often times using Postico I run a query and then click the title of one of the columns to quick sort it in-memory. I would love to have that option in TablePlus.

[2017-12-19 17:11] huyphams commented on #144
You're right, it should be improved. I will do it in next release.

[2017-12-19 17:22] djfrailey opened #145 "Export only produces the first 1000 rows."
**Operating System:** OS X 10.13.2
**Table Plus Version:** 1.0 (Build No. 76) - Free License

**Summary:**

When exporting a table that has more than 1,000 rows in it, regardless if it is a CSV, JSON, or SQL file the first 1000 rows is all it exports. This may be an unmentioned limitation of the Free Edition.

**Steps to reproduce:**

1. Generate a table with any number of columns and fill it with

[2017-12-19 17:25] huyphams commented on #145
Hi @djfrailey
The free version didn't limit the export function so it would be a bug. I just checked the lasted build (free version) and it still works. Which driver are you on (MySQL/PostgreSQL ...)?
Thanks

[2017-12-19 17:26] djfrailey commented on #145
@huyphams I apologize, I thought I included that. I am on MySQL.

[2017-12-19 17:27] huyphams commented on #145
Hi @djfrailey, I will investigate this bug, we will release the new version to fix this issue shortly.

[2017-12-19 18:00] huyphams commented on #145
Hi @djfrailey
Could you please confirm if this build work for you?
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Thanks

[2017-12-19 18:13] djfrailey commented on #145
@huyphams

This issue seems to be fixed. A little over 600K+ flushed to a CSV with no data loss in just under 10 minutes.

Thank you for your quick response time.

[2017-12-19 18:25] mikebronner opened #146 "[Feature Request - Mac] Double-clicking on top area to maximize size"
Most mac apps let you double-click on the top area (traditionally known as the title bar) to have the app resize to screen size. Would be great to be able to do that, instead of manually dragging each of the four sides to fill the screen. :)

[2017-12-19 18:28] bdebever opened #147 "Cannot edit cell"
Operating System: OS X 10.13.2
Table Plus Version: 1.0 (Build No. 77) - Happy Plan

Summary:

When trying to edit a cell value from the table view, the value is reverted back once the table is refreshed.
Same when I try to delete values.

See: http://d.pr/i/jDqQsV

[2017-12-19 18:31] mikebronner opened #148 "[Mac Bug?] Workspace Resets When Clicking on Dock Icon"
Since the last update, the workplace window resets and clears if I go to another app then back to TablePlus by clicking on the Dock icon. This is hugely inconvenient, as you can imagine.

[2017-12-19 18:32] huyphams commented on #148
Hi @mikebronner , this bug was fixed but not officially released. You can try the new build here:
﻿https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-12-19 18:35] mikebronner commented on #148
Duplicate of #142

[2017-12-19 18:35] #148 closed

[2017-12-19 18:36] huyphams commented on #147
Hi @bdebever,
Thanks for the bug report. There is `Preview` button, can you make a simple modify and click on it. With that info, I can easily reproduce the bug.
<img width="458" alt="screen shot 2017-12-20 at 1 34 53 am" src="https://user-images.githubusercontent.com/3654622/34172858-03106a4c-e526-11e7-914a-fb594ab0f77b.png">

[2017-12-19 18:37] jmtov opened #149 "Editing Postgres functions"
I just wanted to know if it's possible to edit postgres functions.

Thanks in advance.

[2017-12-19 18:39] huyphams commented on #149
Currently, TablePlus didn't support edit stored procedures /functions but we have a plan to support it in future.

[2017-12-19 18:40] jmtov commented on #149
Awesome!

[2017-12-19 19:12] bdebever commented on #147
Hi there,

It stays empty!

Thanks;

[2017-12-19 21:12] mikebronner opened #150 "[Feature Request - Mac] Tabs for Multiple Windows"
Sierra introduced the ability to combine multiple native app windows into tabs in a single window. Would love to see that functionality in TablePlus to allow for easy switching between different workspaces.

i see that the base functionality is already there in the Windows menu:

![screen shot 2017-12-19 at 1 15 55 pm](https://user-images.githubusercontent.com/1791050/34179183-c9e947dc-e4be-11e7-8

[2017-12-20 02:47] huyphams commented on #150
Hi Mike,
There is an option to show all workspaces in TablePlus. By press `command + shit + \` (support on High Sierra a above).

I'm working on a new feature (workspace navigation tab), this feature allows you switch between workspaces easily.

[2017-12-20 02:50] mikebronner commented on #150
I am asking specifically for the tabs feature, because that is standard in macOS now, and I use it for my workflows in all my apps on a daily basis. Perhaps that could be added as well as the workplaces view? Maybe a toggle to optionally show the tab bar?

[2017-12-20 02:52] mikebronner commented on #134
Just as a point of feedback, I was able to log in using Github today. (not sure if the OP was using Github or not)

[2017-12-20 02:54] mikebronner opened #151 "[Feature Request] Sortable Columns in Structure View"
I would love to be able to sort my columns in structure view to help navigate those huge tables. :) Simple click on the header of the column should toggle ascending, descending, unsorted.

[2017-12-20 02:54] huyphams commented on #150
We have a toggle button.
<img width="1152" alt="tab" src="https://user-images.githubusercontent.com/3654622/34188929-7b0df92a-e56b-11e7-9479-544b11c3564e.png">

But I want to make a tab because 1 click always better than toggle + click (2 clicks). I'm working on it.

[2017-12-20 02:56] huyphams commented on #151
Yeah sure, when I have done in-memory sort on this issue: https://github.com/TablePlus/TablePlus/issues/144
It can also be applied to the table structure.

[2017-12-20 04:15] huyphams commented on #147
Hi @bdebever
Can you confirm me that you are using PostgreSQL version < 9  (Redshift)? And this table didn't have a primary key?

[2017-12-20 04:19] Chinese1904 commented on #147
It is happening with me as well that when I try to commit the changes it just erases them out of memory. MySQL 10.2.10-MariaDB.

[2017-12-20 04:43] huyphams commented on #147
Hi @Chinese1904 @bdebever
I have made some changes, could you please test this build?
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Thanks.

[2017-12-20 05:13] Chinese1904 commented on #147
Awesome, that does seem to have it fixed for me!

[2017-12-20 05:17] Chinese1904 opened #152 "Nullable decimal data type field throws errors when value is emptied"
Hi there,

I have a nullable decimal field that when I try to empty the value it throws this error:

<img width="424" alt="screen shot 2017-12-19 at 9 11 55 pm" src="https://user-images.githubusercontent.com/6228425/34192274-de046e3e-e501-11e7-825e-831ab675a856.png">

The query would be:
[code]
It's supposed to just clear the value.

Thanks so much :-)

[2017-12-20 05:19] huyphams commented on #152
The `empty` state means `empty` string, you can't set empty for numeric. There is `null option` when you hold option + click on the cell.

[2017-12-20 05:40] Chinese1904 commented on #152
Sorry, what I then meant is that when you clear the value, it should set it to null automatically instead. That's how SequelPro handles it as well

[2017-12-20 05:47] huyphams commented on #152
Sequel Pro handle this case by automatic convert empty to NULL, but when I work with the database, I always respect user input. because if you do something implicitly and you didn't aware that TablePlus convert it automatically, it would be bad and dangerous somehow.

Some driver (Ex: SQLite), you can set empty for numeric. Convert automatically, in this case, it was wrong.

Btw, would be nice if

[2017-12-20 13:01] bmichotte opened #153 "Remember last schema"
When we open a postgresql database, `information_schema` is selected as default schema.
It would be awesome if TablePlus could remember the last selected schema and restore it when opening the database.

[2017-12-20 15:01] huyphams commented on #153
TablePlus currently remembers the last schema. I just tested, which version are you on?

[2017-12-20 15:07] bmichotte commented on #153
build 77

See
![tp](https://user-images.githubusercontent.com/235510/34213548-c975269a-e59f-11e7-9437-fc2702004fd1.gif)

[2017-12-20 15:09] huyphams commented on #153
Thanks, @bmichotte this helps me a lot to reproduce this bug.

[2017-12-20 16:13] huyphams commented on #153
Hi @bmichotte
I have changed a little bit hope this fix your problem.
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-12-20 17:08] bdebever commented on #147
Hey, I was actually on MySql, but I tried and it did fix the issue aswell!

Thans @huyphams , nice one! :) Love your app btw!

[2017-12-20 17:55] mikebronner opened #154 "[Question] How to open MySQL Connection and Postgres Connection at same time?"
I can't seem to figure out how to have two different connections open at the same time? Anytime I try opening a new workspace, it automatically uses the connection i am already connected on. Sorry if this has already been asked and answered. Thanks for any help. :)

[2017-12-20 17:58] huyphams commented on #154
You can press `command + N` to open main windows and then you can open another connection.

[2017-12-20 19:16] mikebronner commented on #154
Thanks, that worked. :)

[2017-12-20 19:16] #154 closed

[2017-12-20 20:21] bmichotte commented on #153
@huyphams yes, it does fix the _issue_. Thanks for your quick answer !

Strange thing, a schema `'` appears in the schema list and disappear the second time I open a database (and never appear again)
![tp](https://user-images.githubusercontent.com/235510/34226932-a5a4c42e-e5cb-11e7-9561-3c97cc0aae89.gif)

[2017-12-20 20:22] huyphams commented on #153
Hi @bmichotte
This is my typo, I fixed it after sent you the build 😄

[2017-12-20 20:23] bmichotte commented on #153
awesome then, thanks again and keep up the good work :)

[2017-12-21 09:09] huyphams commented on #127
Save SQL function will be included in build78

[2017-12-21 14:26] #153 closed

[2017-12-21 14:26] huyphams commented on #151
TablePlus build 78 is released.

[2017-12-21 14:26] #151 closed

[2017-12-21 14:27] huyphams commented on #144
Please check out new update 78.

[2017-12-21 14:27] #144 closed

[2017-12-21 14:27] #147 closed

[2017-12-21 14:27] #145 closed

[2017-12-21 14:27] #142 closed

[2017-12-21 14:27] #127 closed

[2017-12-21 14:28] #131 closed

[2017-12-21 14:29] #128 closed

[2017-12-21 17:04] mikebronner opened #155 "[Postgres BUG] Dropping Table With Referential Constraints Fails"
<img width="407" alt="screen shot 2017-12-21 at 8 55 21 am" src="https://user-images.githubusercontent.com/1791050/34266041-bbe5ac92-e62c-11e7-8609-2bfb4649a511.png">

It might be good to have an option to force drop by disabling referential integrity (Sequel Plus does this in MySQL, Postico also does this in Postgres). By default the DROP statement should probably include the CASCADE command. (I

[2017-12-21 17:05] huyphams commented on #155
Hi @mikebronner, I have received some feedback about this. I think we can put a config in preference that you can stick allow TablePlus to add cascade when dropping a table.

[2017-12-21 17:07] mikebronner commented on #155
Out of curiosity, does it break things if always included in the drop statement?

[2017-12-21 17:11] huyphams commented on #155
It not about break things. It's about how people think TablePlus should work. For example, when you delete a table and TablePlus also delete some references rows (by adding Cascade). It's not an expectation (for some people). TablePlus does something people didn't aware, it's dangerous.

[2017-12-21 17:16] mikebronner commented on #155
Sounds good. Looking forward to the next update. :)

[2017-12-21 17:20] huyphams commented on #155
Sure, I'm thinking about the UX. It would be nice if we have a shortcut key. Add a new menu when right click and shift + delete as a shortcut.

[2017-12-21 18:32] huyphams opened #156 "[Build 79] Allow edit text in quick look popup."
TablePlus allows you edit data in Quick Look from build 79.
<img width="1122" alt="screen shot 2017-12-22 at 1 32 06 am" src="https://user-images.githubusercontent.com/3654622/34269696-f3c9b76c-e6b7-11e7-998e-adc426704dd3.png">

[2017-12-21 19:20] Chinese1904 commented on #152
I like the idea of it being an option in settings to automatically convert empty to NULL and to have it automatically disabled, so users know the risk they could run into before they change it.

[2017-12-22 16:58] huyphams commented on #155
Hi @mikebronner
Here is solution. You can also delete cascade by hold shift + delete button on keyboard:
<img width="477" alt="screen shot 2017-12-22 at 11 57 39 pm" src="https://user-images.githubusercontent.com/3654622/34306072-ee5961c6-e773-11e7-8d2d-31fcdf1dba94.png">

[2017-12-23 11:45] horo42 opened #157 "[Build 78] Bug reports"
When I open a table and Alt + Click into a field and select "Manual Input..." the right side "Row detail" (which opens with the space key) opens, but the icon for it stays inactive. Minor visual bug.

When adding an index to a table, the "index_name", "index_algorithm" and "is_unique" values have a "DEFAULT" placeholder, but I need to fill out every single field for it to appear in the "Preview",

[2017-12-23 11:50] huyphams commented on #157
Hi @horo42, I'm glad that you like my app. Thanks for your all feedbacks. I'm working on build 79 and definitely will include your bug fixes. 😸
"INSERT INTO statement includes the database name as well, which should at least be a toggleable option" => Nice idea 👍

[2017-12-23 13:54] horo42 opened #158 "[Feature Request] - Export multiple tables with option to toggle Structure & Data"
## Export feature request

It would be a nice feature to be able to export multiple tables like in PhpMyAdmin (or other DB management apps).

<img width="494" alt="PhpMyAdmin multi table export" src="https://user-images.githubusercontent.com/5323731/34319961-0a8ad6d8-e7ef-11e7-9544-bf3e1db93a1c.png">

The first step would be selecting multiple tables with Shift/Cmd + Click, right clicking, then se

[2017-12-25 14:16] horo42 opened #159 "[Build 78] Plugin API bug report"
The context.execute() function returns empty objects as rows for every SELECT query with MySQL/MariaDB engine.

Tested code:
[code]

<img width="413" alt="The alert after the query finishes" src="https://user-images.githubusercontent.com/5323731/34340554-678679da-e986-11e7-8381-9f479f674d28.png">

[2017-12-25 14:19] huyphams commented on #159
Hi @horo42

Plugin feature is under development and not released yet, the API may be changed without any warnings. I'm still researching and considering infrastructure for the plugin system.

Thanks for your attention, I will keep you posted.

Huy.

[2017-12-25 16:08] huyphams commented on #146
Fixed in new build 79.

[2017-12-25 17:26] huyphams commented on #159
Btw, a row is an export object and didn't have a public attribute. so the JSON.stringify(row) will result {}. You can access to row data by export functions:
[code]

[2017-12-25 17:56] Peckerd opened #160 "Unknown column in query as table"
Hi,

When running this query, I get an error 'unknown column email in 'field list'.
[code]
This doesn't give an error in other applications, so my syntax should be correct.

[2017-12-26 03:43] huyphams commented on #160
Hi just tested and it works
<img width="1269" alt="screen shot 2017-12-26 at 10 41 42 am" src="https://user-images.githubusercontent.com/3654622/34346363-69425d04-ea29-11e7-87dd-483556dbde6d.png">
I think this issue related with your database (probably you select a different database in PHPStorm).

You can try query: `select * from contacts` and see if there are email column or not.

[2017-12-26 10:50] #156 closed

[2017-12-26 10:50] #146 closed

[2017-12-26 10:52] #155 closed

[2017-12-26 11:50] #159 closed

[2017-12-26 12:20] horo42 opened #161 "[Feature Request] Enhance workflow of adding indexes"
# Contextual menu for "New index" action

The user could select one or more columns, right click on the selection and then click on the "New Index" menu item under the "New Column" item. This would create a composite index on the selected columns.

<img width="530" alt="Column contextual menu item for adding indexes" src="https://user-images.githubusercontent.com/5323731/34356320-087d24f4-ea3d-11e

[2017-12-26 12:31] horo42 opened #162 "[Build 79] Bug reports"
# Unintended window maximize

If there are 2 open tabs already with the free plan and I try opening a table not yet opened with double click, the "Upgrade to open Unlimited Tabs" alert appears on the first click, and the second click maximizes the window. The same happens if I double click on the tables with the alert open.

# Crash when trying to edit "column_name"

I can't reproduce it, but it h

[2017-12-26 12:45] horo42 commented on #162
# Table schema

[code]

# Steps to reproduce

Start creating a(n composite?) index that has a column which is already in an index (or primary key? maybe because composite primary key?). Double click into the not yet committed index, then double click into gID column tag, which removes the blue tag background, then hit delete, hit enter, saving the field, then try double clicking on the gID index's

[2017-12-26 12:55] huyphams commented on #162
Hi @horo42
I'm back, thanks for your information. I'm fixing it now.

[2017-12-26 13:51] huyphams commented on #162
After playing around this bug. I can confirm that the bug is not related to database or field name. It happens when you hit enter and then double-click to edit the field again. It says you're trying to access to a bad address.

[2017-12-26 15:46] nathanpalmer commented on #144
Thank you @huyphams!

[2017-12-26 16:04] huyphams commented on #162
Hi @horo42
Can you confirm this build works for you? I also added auto-completion when creating index
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-12-26 18:04] horo42 commented on #162
Thanks for the response, the build you sent works, but I'd prefer to be able to edit the indexes at the bottom panel, not only in the right panel.

That being said, the crash is gone, that's what matters most. Thanks!

[2017-12-27 09:29] Peckerd commented on #160
Just checked and you are right. Sorry, my bad

[2017-12-27 09:36] #160 closed

[2017-12-27 16:45] bmichotte opened #163 "[Feature Request] Nested groups in favorite"
It would be awesome :)

![capture d ecran 2017-12-27 a 17 36 47](https://user-images.githubusercontent.com/235510/34387314-bbd91ec2-eb2d-11e7-8745-226701d083ec.png)

[2017-12-27 17:23] huyphams commented on #163
Thanks for the idea. I think if we have nested groups the UX might be complicated (and need 2 keystrokes to open a connection). But I know your problem, you want to group datacenter and production database at the same time.

[2017-12-28 01:32] horo42 opened #164 "[Bug][Build 79] Composite index columns should be ordered correctly"
### Since column order in composite indexes is crucial in optimising queries, I consider this a bug.

If I create a table with

```PRIMARY KEY (`cID`,`cvID`,`bID`,`arHandle`)```

The columns should be displayed in this order. Current behavior:

<img width="361" alt="Alphabetical order of composite index columns" src="https://user-images.githubusercontent.com/5323731/34397391-1845d504-eb76-11e7-997

[2017-12-28 01:48] horo42 opened #165 "[Bug][Build 79] Switching tabs resets/clears the Row detail pane in some cases"
Open a SQL query tab (CMD + e), type in `select 1` or any other query that yields at least 1 result.
Select a row from the result set in the bottom pane, then open a new tab or switch to an already opened one. After switching back to the SQL query tab the Row detail pane is empty.

This can be reproduced by opening a table with at least 1 index, viewing it's structure, selecting an index from the

[2017-12-28 04:10] huyphams commented on #164
Hi @horo42 can you try this build, I just fixed it: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-12-28 13:03] huyphams commented on #130
Hi @bhrd, are you there? please ping me via duchuykun@gmail.com we have a gift for you.

[2017-12-28 13:06] horo42 commented on #164
#### I tested your fix, the issues are resolved, thank you!

This build doesn't seem to have the autocomplete of columns when editing indexes in the Row detail pane, neither when editing the primary key.

And I found some other issues (sorry 😅 ).

### Primary key column order

Editing the order of columns in the primary key, then discarding the changes, the order stays the same until I hit CMD + r

[2017-12-28 13:06] huyphams commented on #122
Hi @PVGrad I can't find your email on your public profile. In case you want to use TablePlus, please ping me at duchuykun@gmail.com we have a small gift your you.

[2017-12-28 13:07] horo42 commented on #165
I can confirm the issue is resolved.

[2017-12-28 13:07] #165 closed

[2017-12-28 13:11] huyphams commented on #164
`This build doesn't seem to have the autocomplete of columns when editing indexes in the Row detail pane, neither when editing the primary key.` => I fixed this bug after send you the build 😄

[2017-12-28 13:34] huyphams commented on #164
Hi @horo42 I want to say that all fixed: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
😸

[2017-12-28 14:08] horo42 commented on #164
There is no "No column name validation" in the build you sent.

Additional issues I discovered while confirming your fixes:

### Empty index column tag

Creating a new index, typing in anything to the "column_name" input, then deleting it all, the placeholder for the "column_name" input changes to EMPTY from NULL.

In this case, whenever the index's row gets focus (I click on it), an empty column

[2017-12-28 17:10] FranSancho commented on #102
Hi, @huyphams sorry for the delayed answer.
This was not fixed yet, i am not using compound keys.

To retake the issue, i have:

Foreign-key constraints:
    "users_contact_id_fkey" FOREIGN KEY (contact_id) REFERENCES contact(id)

users and contact are in different schemas, the relation is working but its not displayed and its not modifiable

![screen shot 2017-12-28 at 17 07 10](https://user-imag

[2017-12-28 17:14] huyphams commented on #102
Hi @FranSancho thanks for getting back to me, I will fix this issue if I can reproduce it. with your info, I believe I can do it.

[2017-12-29 07:10] huyphams commented on #102
Hey @FranSancho I just made some change, could you check this build and let me know if it works: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2017-12-29 09:09] FranSancho commented on #102
that works perfect! thank you very much :)

[2017-12-29 15:25] peh opened #166 "[Feature Request] "over ssh" is not respecting ssh config"
As a user i would like my ~/.ssh/config File to be respected when using the "over ssh" option.

Having a more sophisticated SSH configuration with e.g. a bastion host that is used to proxy  connections is more or less best practice in todays cloud setups.
It would be great if TablePlus would support such things.
I understand that due to Apples Sandbox we would have to select the config file manual

[2017-12-29 15:31] huyphams commented on #166
Hey @peh, thanks for your feedback. I'm an ssh-config user. I use it every day with more than 20 servers and it saves a lot of time for me. Lets me see if I can do it.

[2017-12-29 16:52] huyphams commented on #43
Hi @brian-crane

I have optimized for big table on new build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

I tested on a table with a billion rows and it works fine.

Let me know if it fixes your issue.

[2017-12-30 17:05] #164 closed

[2017-12-30 17:26] horo42 opened #167 "[Build 80] Minor bug - Empty index column tag"
From a comment in closed issue #164

### Empty index column tag

Creating a new index or editing an existing one, typing in anything to the "column_name" input, then deleting it all, the placeholder for the "column_name" input changes to EMPTY. The initial value is NULL.

In this case, whenever the index's row gets focus (I click on it), an empty column tag gets created.

<img width="905" alt="scr

[2017-12-30 17:28] horo42 opened #168 "[Build 80] Minor bug - Row detail pane "column_name" field disappears"
From a comment in closed issue #164

Initial state

<img width="218" alt="screen shot 2017-12-28 at 15 01 48" src="https://user-images.githubusercontent.com/5323731/34412875-0e1f1c06-ebe0-11e7-9b78-3451d88633ab.png">

I type "sstring" (or anything that is enough for TablePlus to break the resulting tag into the next line). Images of before and after pressing enter:

<img width="219" alt="screen sh

[2017-12-30 17:32] #157 closed

[2017-12-30 17:41] huyphams commented on #168
Thanks for separate the issues (we can easily update/close after resolve). This issue related to Apple UI. It looks like Cocoa bug. I will investigate this issue in build 81.

[2017-12-31 05:01] #134 closed

[2018-01-01 10:55] Sparclex opened #169 "Unable to update"
Hi

I'm unable to update my tableplus application. I always get the error (screenshot) even tho I moved it to the applications folder.

![image](https://user-images.githubusercontent.com/2805213/34467187-5b502d46-eeea-11e7-88eb-8d24a168b095.png)

Thanks for your help.

[2018-01-01 10:59] huyphams commented on #169
The popup message says it all. Have you try to move TablePlua to Application folder?

[2018-01-01 11:02] Sparclex commented on #169
Well yes. It is already in the applications folder:
![image](https://user-images.githubusercontent.com/2805213/34467234-9bb6adfa-eeeb-11e7-9a29-55726afa675c.png)

[2018-01-01 11:13] huyphams commented on #169
Well, TablePlus got trouble to replace itself, probably beacause of read-only permission. Which version of TablePlus and OSX are you on?

[2018-01-01 11:39] Sparclex commented on #169
![image](https://user-images.githubusercontent.com/2805213/34467395-d0e82af8-eef0-11e7-9067-31c50c02dab8.png)
![image](https://user-images.githubusercontent.com/2805213/34467400-dc0e64b0-eef0-11e7-935b-9dd98a72c5fa.png)

[2018-01-01 11:56] huyphams commented on #169
Hi @Sparclex, You are on MacOS High Sierra and it's unstable. I'm on High Sierra and it works fine, can you upgrade to the official release of High Sierra?

Btw, TablePlus 76 is out date a bit. We are on build 80 now, there are 50 changes since build 76.

[2018-01-01 13:00] Sparclex commented on #169
Ok since its most likely a problem with the mac os beta I will close this issue and open it again, if I still have issues after changing to the stable version. Thanks for your help.

[2018-01-01 13:00] #169 closed

[2018-01-03 10:52] joshbrw commented on #158
I really need this feature to be able to use TablePlus as my primary database management tool. In Sequel Pro you can export as SQL Dump, CSV and XLSX. In the SQL Dump you can include:

* Structure
    * Auto Increment value
    * DROP TABLE syntax
* Content
* Errors

If this could be emulated, that'd be fantastic!

[2018-01-04 13:58] huyphams opened #170 "[PostgreSQL] Support function"
<img width="1175" alt="screen shot 2018-01-04 at 8 57 29 pm" src="https://user-images.githubusercontent.com/3654622/34566679-fe94b824-f191-11e7-90e6-097d5a3bd328.png">

[2018-01-05 05:27] huyphams commented on #149
Hey @jmtov the beta build has function feature. Can you give a try?
﻿﻿https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-01-07 16:43] #167 closed

[2018-01-07 16:44] #170 closed

[2018-01-07 16:44] #149 closed

[2018-01-08 04:22] inthedeepend opened #171 "Add Option To Display Hidden Files"
👋 - Thanks for Table Plus!

When adding a new connection that uses 'Over SSH', it would be great to have the option to display hidden files for example, when I am connecting to a vagrant box I need to go into the .vagrant directory which by default is hidden in this application.

Let me know if there's anything I can do to help.

Thank you once again - brilliant software.

[2018-01-08 04:24] huyphams commented on #171
Thanks for the feedback. It's easy, I will add this option in next update.

[2018-01-08 14:30] eXorus opened #172 "Add option to hide Functions"
Helo,

Thanks for your software, it's very nice and clean.

But with the new version I have "Functions" that display auto, when I search a table I can't see my result because there are too much functions.

So I need to close Functions each time.

[2018-01-08 14:33] huyphams commented on #172
Hey @eXorus thanks, I just tested with my database (has hstore extension). There are a lot of functions. TablePlus should remember the section state (open/close). Will come back in about 30 mins for the hotfix.

[2018-01-08 15:00] huyphams commented on #172
@eXorus Can you try this build and let me know if it fixes your issue: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

[2018-01-08 15:01] menthol opened #173 "[BUG][build 81] Can't test a new credential if connexion failed"
![capture d ecran 2018-01-08 a 15 57 39](https://user-images.githubusercontent.com/1001497/34676454-24241e88-f48d-11e7-8a05-16f954ad19be.png)

The Test button stay locked after credential validation failed

[2018-01-08 15:13] huyphams commented on #173
Thanks, @menthol, I checked, the function still works fine. but it takes a long time to respond. I have been waiting for 3-5 minutes (it won't enable because TablePlus is trying to connect to the database). I'm investigating it.

[2018-01-08 15:28] eXorus commented on #172
Yes it's better now the state is remembered.

[2018-01-08 15:29] menthol opened #174 "[Feature Request] Sub-grouping connections"
In Querious, we can subgrouping connection.

This is a needed feature when you have to deal with many connections.

Querious can sub-grouping.

![capture d ecran 2018-01-08 a 16 19 21](https://user-images.githubusercontent.com/1001497/34677611-fc329162-f490-11e7-88c3-a32fb3e45a79.png)

It's harder to read in TablePlus

<img width="555" alt="capture d ecran 2018-01-08 a 16 19 25" src="https://user-

[2018-01-08 15:32] huyphams commented on #174
it's duplicated with this issue: https://github.com/TablePlus/TablePlus/issues/163 So I will close this issue. Sub-group is nice. I will try to implement a beta version. Probably in build 82.

[2018-01-08 15:32] menthol opened #175 "[Feature Request] Group or connection icon"
Having icon on group or connection can make finding one specific connection a lot easier.

Querious have icon on connection :
![capture d ecran 2018-01-08 a 16 19 21](https://user-images.githubusercontent.com/1001497/34677760-6165c5a4-f491-11e7-9085-95f14a37a02c.png)

It's harder to  find specific connection on TablePlus :

<img width="555" alt="capture d ecran 2018-01-08 a 16 19 25" src="https://

[2018-01-08 15:33] #174 closed

[2018-01-08 15:52] huyphams commented on #175
Wow, I did know that, but anyway it's fun to implement this kind of feature 😄

[2018-01-09 02:37] jmtov commented on #149
I'll surely do! Thanks! 😺

[2018-01-09 21:36] bhrd opened #176 "Empty group names are being allowed"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
81
3. The steps to reproduce this issue:
Create New Group -> Hit Save

[2018-01-11 00:34] nadapeter opened #177 "[PostgreSQL BUG, BUILD 81] Cannot delete value in a UUID column"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.5.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
81

3. The steps to reproduce this issue:

    1. Have a row with a UUID column filled in.
    2. Double click on the UUID column of the row and delete the value. Notice the cell turns in to "EMPTY" instead of "NULL

[2018-01-11 02:43] huyphams commented on #177
Hey @nadapeter can you try hold option + click on the cell and set null for UUID? because empty is not NULL value.

[2018-01-11 14:37] huyphams opened #178 "[All driver][Build 81] Bug export"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): All drivers

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 81

3. The steps to reproduce this issue:
Re-check all export functions.

[2018-01-11 23:34] bhrd opened #179 "Sidebar headers are unreadable with dark theme"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
81
3. The steps to reproduce this issue:
The headers are unreadable on both mouse-over (Favorite) and when active header (Item)
![image](https://user-images.githubusercontent.com/221584/34852640-8afacbda-f6e4-11e7-9a04-c54

[2018-01-12 03:25] huyphams commented on #179
Thanks, @bhrd the UI bug is one of know issue. It's only happened in Sierra.

[2018-01-14 06:59] #178 closed

[2018-01-14 06:59] #176 closed

[2018-01-14 06:59] #172 closed

[2018-01-14 07:00] #171 closed

[2018-01-16 06:08] huyphams commented on #175
Hey @menthol  I just wanna tell you that I'm working on it 😄
<img width="712" alt="screen shot 2018-01-16 at 1 07 28 pm" src="https://user-images.githubusercontent.com/3654622/34974180-49d669c4-fabe-11e7-8a05-bdd775902c4a.png">

[2018-01-16 11:07] huyphams commented on #175
Hey @menthol
You can try out the build here https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
<img width="712" alt="icon" src="https://user-images.githubusercontent.com/3654622/34985869-1e2547f8-fae8-11e7-8696-486829cb25e8.png">
Let me know if you have any feedback on it

[2018-01-16 14:50] nadapeter commented on #177
Ahh that worked. Thanks!
When you delete the value in a UUID cell, I think it should set to NULL by default since EMPTY is not a valid value.

[2018-01-16 21:48] bhrd opened #180 "Mouseover previews of overflowing cell values, unreadable on dark theme"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 82
3. The steps to reproduce this issue:
Previewing overflowing cell values (by mouseover) renders the text unreadable on dark theme

![image](https://user-images.githubusercontent.com/221584/35013863-93ae5f8e-fac3-1

[2018-01-17 03:23] huyphams commented on #177
We can't change empty to null automatically because empty is not null. But we can have an option to allow TablePlus to convert it to null in some case (Ex: uuid, number data type). I'm working on it.

[2018-01-17 06:13] Chinese1904 commented on #13
@huyphams it seems it does not pretty format on my end using build 82 MariaDB. Is this known?

[2018-01-17 06:14] maverickscrew commented on #13
@Chinese1904 yes, this is pending feature. I will come back to it asap. I'm working on dump functions.

[2018-01-17 06:15] huyphams commented on #13
@Chinese1904 yes, this is pending feature. I will come back to it asap. I'm working on dump functions.

[2018-01-17 14:23] juice opened #181 "Data conversion resulted in overflow on opening a MSSQL Table"
MSSQL 2012

Build 82

I opened one of my tables and this error message shows up "Data conversion resulted in overflow". It worked in a preview build.

[2018-01-17 15:40] huyphams commented on #181
Hi @juice can you try this build and let me know the result: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
Hope this fixes your issue.

[2018-01-18 07:57] huyphams opened #182 "Update for favorite feature"
The favorite section in left panel will have:

- Tags: we can add a tag for favorites (Ex: PostgreSQL, MySQL, red, blue, ....)
- Filter: we can filter favorite by name, tags.
- Sort: we can sort favorites.
- Group and nested group: we can create a group of favorite just like connection on welcome screen.
- Hide favorite content: currently, favorite shows first 200 chars. Sometimes it's useless. We

[2018-01-18 09:19] juice commented on #181
It works. Thank you.

[2018-01-18 11:45] huyphams commented on #139
Updating

<img width="508" alt="config" src="https://user-images.githubusercontent.com/3654622/35096699-bd8192b4-fc7f-11e7-8391-3388f685a5cb.png">

[2018-01-18 11:51] huyphams commented on #177
https://github.com/TablePlus/TablePlus/issues/139#issuecomment-358623078

[2018-01-18 12:50] msglight4874 opened #183 "[Feature Request] Connect to sqlite over ssh"
Hi TablePlus team,

I have some development servers using sqlite3 as database.
But every time I want to view the data on the server, i have to download the db and open it with TablePlus.
It will be great to open sqlite db on the server directly.
So i decided to buy TablePlus to support you and create this request today.

Please add this feature to your todo list. Thank you.

<img width="518" alt="

[2018-01-18 12:53] huyphams commented on #183
Hi @msglight4874 thanks for your license. I developed SSH driver from scratch and I think I can do this feature. We have already added this feature to the todo list.

[2018-01-19 06:32] huyphams commented on #106
the error message will be improved in Build 83
<img width="612" alt="screen shot 2018-01-19 at 1 31 37 pm" src="https://user-images.githubusercontent.com/3654622/35137659-26e69856-fd1d-11e7-8e73-af9d04a8b3be.png">

[2018-01-19 12:20] peh commented on #166
any progress? for now i am stuck with an ssh tunnel but it would be great to have the app doing everything for.

PS: i still bought the app it's to awesome to not pay for it!

[2018-01-19 12:24] huyphams commented on #166
Some users have requested this feature too, so I moved it to work in progress. You will see it soon 😄

[2018-01-19 14:52] keithslater commented on #158
Looking forward to this feature being added

[2018-01-19 15:34] gologi opened #184 "Display column length in table structure view"
When i use postgresql driver with tablePlus v1 (82), on the table structure view, the data_type column show the type eg: varchar, but the column length information is missing
is it possible to add a column with this info ?

[2018-01-19 15:40] huyphams commented on #184
Let me take a look at metadata, I have done it in MySQL.

[2018-01-20 13:56] huyphams commented on #93
Hey @PVGrad I just have done this feature on MySQL. PostgreSQL and other drivers are in progress.

1. Install newest TablePlus: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
2. Press command + L and install table dump plugin.
3. Right click on left panel: there is new menu dump item > copy creation.

If you are interested in this feature, you can take a look at this repo:  https://g

[2018-01-21 04:27] #181 closed

[2018-01-21 04:27] #177 closed

[2018-01-21 04:27] #175 closed

[2018-01-21 04:27] #152 closed

[2018-01-21 04:28] #139 closed

[2018-01-21 04:28] #106 closed

[2018-01-21 23:21] wpitallo commented on #54
I am getting the same error:

{System.Data.SqlClient.SqlException (0x80131904): Invalid object name 'sys.login_token'.
   at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   at S

[2018-01-22 15:40] huyphams commented on #150
Hey, @mikebronner can you give a try on this build?
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
<img width="1274" alt="screen shot 2018-01-22 at 10 40 24 pm" src="https://user-images.githubusercontent.com/3654622/35229148-3fdb2bba-ffc5-11e7-84cf-1caf4eaa3a91.png">

[2018-01-22 16:40] keithslater opened #185 "[Feature Request] Database filtering & fast database switching"
When working on a server with a lot of databases, it would be nice to just be able to type a database name to filter the list.

Also, how does the dropdown at the bottom of the table list work? It only shows the current database there. Should it not show all databases in the dropdown? If that dropdown had all databases and a way to filter, that would work very well.

[2018-01-22 16:50] keithslater commented on #185
Thanks man I think you covered everything. I forgot about open anything, I still need to work that into my process.

The database tab is going to be awesome, can't wait for that feature.

[2018-01-22 16:50] #185 closed

[2018-01-22 22:31] brian-crane opened #186 "Love the new TablePlus, Big Update, but it is slower to open DB connections"
Around 2x time to open DB, it could be my VPN but maybe should be looked into.

Keep it up Huy!

[2018-01-23 02:08] bhrd opened #187 "Unable to edit/delete keyboard shortcuts"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
83
3. The steps to reproduce this issue:
**Clicking on "Delete shortcut" or "Click to record new shortcut" have no effect.** It should be noted that I'm still on Mac OS Sierra as my workplace has not okayed High Sierra yet

[2018-01-23 02:53] huyphams commented on #186
Hi Brian,
Thanks for letting me know, the new update only affect UI but I definitely will look into this issue.

[2018-01-23 02:56] huyphams commented on #187
Hi @bhrd the keyboard shortcut can't be changed, I'm refactoring to apply it. Probably I should put some text that tells users it is incompleted.

[2018-01-23 03:03] brian-crane opened #188 "Have the Table view persist when viewing Favorites and History"
Maybe we can persist this menu item through favorites and history, not just items.  That way I always know what schema I am in

![screen shot 2018-01-22 at 7 02 51 pm](https://user-images.githubusercontent.com/7946786/35256087-f4dc617e-ffa6-11e7-9b2d-708a19418f1b.png)

[2018-01-24 00:35] bhrd opened #189 "Minor - Consider renaming "fields name" to "headers""
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
--
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
83
3. The steps to reproduce this issue:
In the right click copy menu, it would make more sense to rename **fields name** to **headers** or **column names**
![image](https://user-images.githubusercontent.com/221584/35308121-e9110b

[2018-01-24 00:57] huyphams commented on #189
I totally agree 😄 thank you @bhrd

[2018-01-24 00:58] Chris1904 opened #190 "Rearranging groups and connections visual bug"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MariaDB

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
83

3. The steps to reproduce this issue:
Rearrange the groups and connections

![test](https://media.giphy.com/media/l49JIiDyJY4hTih8c/giphy.gif)

Not important, but figured might as well post to keep track of it. Thanks :-

[2018-01-24 01:02] huyphams commented on #190
Ungrouped includes all connections which are in any group, `Ungrouped` is not actually a group so we can't re-order it. I had considered removing ungrouped and put all the connection in the same level with the group, but I think if I put it in Ungrouped user may know that `Ah I can create group`.

[2018-01-24 01:36] bhrd commented on #189
I have a follow-up to that
![image](https://user-images.githubusercontent.com/221584/35309840-343c23d8-0063-11e8-817b-fc37359c61d6.png)
I don't see a difference between "Copy Rows" and "Copy Rows As CSV". They seem to perform the same function.
I would suggest something like the following

**Copy Cell
Copy Rows
Copy Rows with headers/column names
Copy Rows As > JSON
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&

[2018-01-24 02:40] Chinese1904 commented on #190
I actually meant this: look at when I drop 'test' in between 'Local' and 'Ordern'.

That blue line that indicates where it gets dropped, obviously, but you should not be able to sort groups within groups. So when moving a group, the blue line should be on top the closest group or underneath the last connection.

Do you get what I mean?

[2018-01-24 03:21] huyphams commented on #190
yeah, I got it 😄

[2018-01-24 05:40] huyphams commented on #189
I don't see a difference between "Copy Rows" and "Copy Rows As CSV" => if I removed `Copy Rows` user may not know that they can copy and paste rows, I use this feature a lot to copy data from production to local.
If I removed `CSV` user may not know that they can copy as CSV.

This is a trade-off but temporary I think it much easy to introduce the feature.

[2018-01-24 17:18] thinsoldier opened #191 "SQL syntax error after using Beautify feature."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
83

3. The steps to reproduce this issue:
Paste in sql, run it, it works.
Click beautify, run it, it fails.

The follow original query works as a single line:

    SELECT *, HOUR(`when`) as hour FROM cinemix WHERE `when` > '20

[2018-01-24 17:34] huyphams commented on #191
Thanks for the feedback. I'm fixing it 👍

[2018-01-24 18:11] huyphams commented on #191
Hi @thinsoldier can you give a try on this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
and let me know it works for you, thank you.

[2018-01-24 19:54] bhrd commented on #189
@huyphams - My suggestion was not to remove `Copy Rows`, but only have `Copy Rows` instead of `Copy Rows as CSV`.
The reasoning is, why would someone goto one more menu to `Copy Rows as CSV` instead of just clicking `Copy Rows` on the parent menu.
As for your second concern, If a user will only understand if you have the word `CSV` in the option, why do you need a menu item that just says `Copy Ro

[2018-01-25 13:29] mikebronner commented on #150
Thanks @huyphams  :) I will give it a shot next week, I'm currently out of town traveling. :)

[2018-01-25 13:50] nathanpalmer opened #192 "Saved workspace queries based on connection"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
PostgreSQL 9.6

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
83

**3. The steps to reproduce this issue:**
When I open a connection and open the query window I'm presented with all of my previous queries. I find this feature to be very valuable to pickup where I left of

[2018-01-25 13:53] nathanpalmer opened #193 "Syncing connections between computers"
When purchasing TablePlus this week I mistakenly assumed that connections (not including passwords or keys) would be synced between devices. I see there is a Backup and Restore function but are there any plans to add a sync. I have quite a few connections and keeping them in-sync between my desktop and laptop would same me time in trying to keep them up to date myself.

[2018-01-25 13:58] nathanpalmer opened #194 "Streaming response before the entire result is returned"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
PostgreSQL 9.6

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
83

**3. The steps to reproduce this issue:**
If I query out of a large table or using an expensive query that takes a while to complete I don't seem to get results until it's finished. I'm finding this differ

[2018-01-25 15:19] huyphams commented on #193
Thank @nathanpalmer for the suggestion. I know sync connection is would be a nice feature but currently, I need to do export/import connection first.

If I build syncing function, I need to research encode/decode first, because connection information is very very important, I can't make any mistake when handling it. And of course, I will not include any password and key when syncing connection.

[2018-01-25 15:22] huyphams commented on #192
Sure, I'm working on it (including `favorites` tab), because this is a big improvement, so it will take me a couple of weeks to implement.

[2018-01-25 18:44] nathanpalmer commented on #193
Ok, great. Glad it's on your mind though.

[2018-01-26 10:31] #191 closed

[2018-01-26 10:32] #150 closed

[2018-01-26 13:49] dcolthorp opened #195 "Feature Request: Database URL import"
I work with a lot of 12-factor apps, where the database connection is encoded in a URL. It'd be great if there was a feature to create a new connection from parsing a `postgres://`, `mysql://`, etc. URLs.

Does this feature exist and I just missed it? Currently I have to pick apart the URLs for every server. I think this would be the single most useful new feature TablePlus could get (for me).

Gr

[2018-01-26 14:38] huyphams commented on #40
It was hidden from build 84 :D

[2018-01-26 14:38] #40 closed

[2018-01-26 14:39] huyphams commented on #195
I’m working on import and export connections. I will include this in the next update. Thanks 😁

[2018-01-26 15:22] philippe-tellier opened #196 "Ability to mass update rows"
It would be very helpful to have the ability to select multiple rows and update all of them when changing the values in the right side bar.

Currently, it's only updating the last selected row.

[2018-01-26 16:43] huyphams commented on #196
Nice Idea 😄, I will come back with another build.

[2018-01-26 19:20] brian-crane opened #197 "New version 84 breaks TablePlus for any OSX < 10.12"
TablePlus is unusable for many new OSX users due to new tab feature.

![screen shot 2018-01-26 at 11 20 10 am](https://user-images.githubusercontent.com/7946786/35456608-f3434dc8-028a-11e8-8457-b311d3b62f55.png)

[2018-01-26 19:21] brian-crane commented on #197
Can I get an older build version in mean time?

[2018-01-26 19:23] huyphams commented on #197
https://s3.amazonaws.com/tableplus-osx-builds/83/TablePlus.zip
Sorry im on phone 😬

[2018-01-26 19:23] brian-crane commented on #197
Thanks Huy! I found a local table plus build 80 I will use in mean time.  Thanks again for quick response!

[2018-01-26 19:26] huyphams commented on #197
I will make a hotfix build for you tmr with disable update notification. It’s annoying.

[2018-01-27 02:11] akilism opened #198 "Cancel Long Running Query Button"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Postgres

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 84

3. The steps to reproduce this issue:

split sql query window into two
run a long running query in one window
click to the other window
click back to the long running query
can no longer cancel the query

[2018-01-27 02:12] akilism commented on #197
You can get around this by editing the connection and then clicking connect in the meantime.

[2018-01-27 03:05] mkarnicki commented on #197
@huyphams Yes please. I was considering purchasing, and then this happened. I'm on El Capitan and don't intend to update to yet-unstable Sierra. Thanks.

[2018-01-27 03:10] huyphams commented on #197
Sure, I will put a config to preferences to turn it off 👌

[2018-01-27 06:43] thinsoldier opened #199 "Feature Request: Differentiate between Tables and Views"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.6.34

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
84

3. The steps to reproduce this issue:

In mysql there are various limitations on whether or not you can insert/update data via a view. So it is nice when it is easy to tell which Items are tables and which are views

[2018-01-27 07:18] brian-crane commented on #197
@huyphams Thanks! You are the best!

@mkarnicki - it's a great DB tool

[2018-01-27 10:23] huyphams commented on #197
Hey @brian-crane @mkarnicki please upgrade to build85, it is fixed.

[2018-01-27 10:26] huyphams commented on #199
Hey @thinsoldier I think the icon can prove it.
<img width="1064" alt="table" src="https://user-images.githubusercontent.com/3654622/35471071-2feb90da-0387-11e8-8617-f6d746888962.png">

[2018-01-27 16:38] huyphams commented on #195
@dcolthorp it's released in hotfix release 85. Please check it out 😄

[2018-01-27 16:38] #195 closed

[2018-01-27 16:39] huyphams commented on #197
I will close this issue. The next update (build 86) will include ability to turn off check for update notification.

[2018-01-27 16:39] #197 closed

[2018-01-28 09:03] thinsoldier commented on #199
lol.... yeah.... I'm red/green/blue/purple color blind. Those icons look identical to me.

[2018-01-28 09:06] thinsoldier commented on #199
Querious uses different shaped icons:
<img width="217" alt="image" src="https://user-images.githubusercontent.com/373834/35480632-c51dca9a-03cf-11e8-8455-045be2881c3f.png">

[2018-01-28 09:06] huyphams commented on #199
Hey @thinsoldier sure, I will changed these icon for sure 😄

[2018-01-29 15:32] mneuhaus opened #200 "Column filter should still apply after reload and selecting another row"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
All Driver

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
85

3. The steps to reproduce this issue:

- apply a filter to the column view
- select another row or reload

expected output: the columns should still be filtered
actual output: all columns are displayed again.

![](htt

[2018-01-29 15:33] huyphams commented on #200
Thank you for letting me know, I'm fixing it 👍

[2018-01-29 15:37] mneuhaus opened #201 "Feature Request: Filter Columns by more than 1 column"
It would be awesome, if i could filter/search for more than 1 column in the sidebar view:

![](http://g.recordit.co/W88yU5JQhP.gif)

[2018-01-29 15:41] huyphams commented on #201
I didn't get it, it would be great if you can clarify it for me, or some screenshot, it really helps.

[2018-01-29 15:45] mneuhaus commented on #201
basically, apply each "term" that is seperated by a "," like the input itself is treated right now.
So, ```uid,filt``` should result in colums like ```uid```, ```filter_a```, ```filter_b```, etc to be displayed. I think using a comma should fit well since it can not be used as a character for fieldnames and is the same syntax for SQL field seperation.

[2018-01-29 15:52] huyphams commented on #201
Understood, but I have an idea:

<img width="1221" alt="image" src="https://user-images.githubusercontent.com/3654622/35519393-a9fbca64-0546-11e8-9b13-69f55691bdeb.png">

If we limit this column, it will also affect to the right-sider. I think this UX is a bit more clearly for the user than separated by a comma. (Because users might not know that they can search multiple columns by comma).

What d

[2018-01-29 15:55] mneuhaus commented on #201
i kinda like the "quickness" of the fuzzy column selection in the sidebar. imho separating it with a comma should be quite natural, since it's the same with selecting fields, etc.

[2018-01-29 15:59] huyphams commented on #201
Yup, it could be "some kind of queries" like Google search does.
For example:
^abc => filter columns start with abc.
abc$ => filter columns end with abc.

So my suggest
So now we have abc|cde => filter columns match with (abc) OR (cde) the `|` probably a is bit nature than a comma.

[2018-01-29 16:00] mneuhaus commented on #201
sounds good, i'd favor a comma but thats your decision :)

[2018-01-29 16:02] huyphams commented on #201
I can support `comma` as an alias with `|` because as you said: there is no column contains a comma so it is no problem.

[2018-01-30 06:50] huyphams commented on #199
Hi @thinsoldier I just updated view icons. Can you check this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0 and let me know if it's ok?

[2018-01-30 15:31] l41lt0n opened #202 "Export crash on Mac"
Hi,

I am exporting data from a small SQLITe file and the programm export ok the data but stay opened and freezed. I can not to close it.

![screen shot 2018-01-30 at 1 29 48 pm](https://user-images.githubusercontent.com/32529405/35574749-c7e3d6ea-05c1-11e8-8741-0f76d04074a7.png)

[2018-01-30 15:32] huyphams commented on #202
Thanks for letting me now, I'm checking it.

[2018-01-30 15:34] l41lt0n commented on #202
Note:
I was trying to edit the structure SQLite before to export the data. ( I am not sure if it can be the reason that it stop to response ). but maybe it can to help.

I am new with this app. I was using other programm to database manager but now I would like to migrate to this one. It looks fantastic!

Thanks.

[2018-01-30 15:45] huyphams commented on #202
Hi @l41lt0n could you check this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0
I just fixed this issue 😄

[2018-01-30 15:55] l41lt0n commented on #202
Wow! so fast. let me try and I will let you know. Thanks

[2018-01-30 15:58] l41lt0n commented on #202
@huyphams,
Solved, It works!

Thank you.

[2018-01-30 15:58] #202 closed

[2018-01-30 18:13] thinsoldier commented on #199
Thank you. That is much clearer.

On Mon, Jan 29, 2018 at 11:50 PM, Huy Pham <notifications@github.com> wrote:

--
:: http://thinsoldier.com
:: http://thinsoldier.deviantart.com
:: thinsoldier@thinsoldier.com

[2018-01-30 22:43] mkarnicki commented on #187
I'd say `planned` would be a better label than `it's-not-a-bug-it's-feature` :)

[2018-01-30 23:45] mkarnicki commented on #166
Lovely, great that it's work-in-progress now. I would definitely like to use a host name from my ssh-config instead of providing server IP (which is not very human friendly).

Does the "Import private key" actually import/copy the key file somewhere or just saves the key file path? The "import" is a bit confusing. I think the following would be clearer:
"[Choose | Select] private key file [path]"

[2018-01-31 00:12] mkarnicki opened #203 "Back-up of Postgres depends on PostgreSQL version"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
TablePlus says: PostgreSQL 9.6

[code]

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 85.

3. The steps to reproduce this issue:

 - Select Backup
 - Choose connection
 - Choose backup file name/path
 - The list (?) in the middle is empty.

When I press the 'Backup' button

[2018-01-31 00:30] mkarnicki opened #204 "[Feature Request] Prompt for database password when none provided"
I store my passwords in [KeeWeb](https://keeweb.info/) password manager. I would prefer not to store my passwords in TablePlus.

When the password field is empty and "No password" is not checked, TablePlus fails with:
`fe_sendauth: no password supplied` (assuming the server required a password).

What I would like to see is a pop-up window with a title such as:
`<connection name here> - Table Plus

[2018-01-31 04:21] huyphams commented on #203
Hi @mkarnicki thanks for your purchased and the feedback, I appreciate it.

TablePlus supports backup by embedded database binaries (backup, restore).

So we have some trouble with this:
- It's not always compatible with user's database (wrong version).
- It increases the binary size.
- It works the same way with PostgreSQL, MySQL when using pg_dump and pg_restore.

So, in the upcoming build. we a

[2018-01-31 17:43] mkarnicki commented on #203
Hi Huy, thank you for replying.

I found it very convenient to click Backup/Restore. (TBH the ease of backup, for those databases that I don't necessarily have a back-up schedule set-up, was one of the reasons I considered and eventually purchased the license.)

I have an idea. Let me know what you think about it :)

Since you already make use of SSH, would it be possible for you to simply run pg_

[2018-02-01 01:03] mneuhaus opened #205 "Feature Request: Allow a forceful deletion of Tables ignoring Foreign Key Checks"
It would be awesome, if there was an additional Option "Delete ignoring Foreign Key Checks" or "Force Deletion" that would add/set ```SET foreign_key_checks = 0;``` before the delete statements and ```SET foreign_key_checks = 1;``` at the end. This should probably be safeguarded by an additional confirmation popup i guess.

![](https://www.dropbox.com/s/5eo4qtb8nj2holz/Screenshot%202018-02-01%2002

[2018-02-01 02:19] huyphams commented on #205
Yup, it should have a dialog with tick option.

[2018-02-01 02:24] huyphams commented on #203
@mkarnicki we have a plugin system `cmd + L`, probably I should make it as a plugin, so people can download it (with version).
But don't worry, I will not remove this feature until I have done an alternative function.

[2018-02-01 04:08] thminhVN opened #206 "Can't set NULL value back with integer or decimal field"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
- PostgreSQL 10.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
- Version 1.0 (81)

3. The steps to reproduce this issue:
   1. Create some integer or decimal field
   2. Set random value
   3. Set `null` back to this field

[2018-02-01 04:09] huyphams commented on #206
Hi @thminhVN please upgrade to build 85, there is an option in preferences allow TablePlus auto convert empty to null for numeric.

You can also set null by hold option + click on the cell.

[2018-02-01 07:02] #206 closed

[2018-02-01 07:07] #199 closed

[2018-02-01 09:19] mneuhaus commented on #205
i just got an alternative way to handle this UX/UI wise. In the Popup that shows the error about the foreign key constraint there could be a red button or checkbox, that could disable the foreign key checks and retry the same query. That way this "forceful" execution could be applied to Deletion of Tables, Rows, Truncating, etc.

https://www.dropbox.com/s/9jsemeqcib5dl3f/Screenshot%202018-02-01%20

[2018-02-01 09:29] mneuhaus commented on #205
Since this can be quite dangerous the confirmation could even be something similar to this:

https://www.dropbox.com/s/1pdo4m8ipypjl0c/Screenshot%202018-02-01%2010.28.46.png?dl=0

A textbox where you have to type in "ignore foreign key checks" or "force deletion ignoring foreign key checks"

[2018-02-01 09:34] huyphams commented on #205
Thanks for your suggestion 🙌🏻

[2018-02-01 09:38] mneuhaus commented on #205
Thank you for being so open to suggestions :)

[2018-02-01 13:23] mneuhaus opened #207 "Featre"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

[2018-02-01 13:26] mneuhaus opened #208 "Feature Request: better ellipsis handling for long table names"
It would be awesome, if the ellipsis in long table names could be put into the "middle" or 2/3 position instead of the end. Sometimes there are long tablenames that mostly have a different ending, which are currently not easily readable without enlargening the sidebar:

https://www.dropbox.com/s/31ilb85eia9w921/Screenshot%202018-02-01%2014.21.26.png?dl=0

[2018-02-01 13:27] mneuhaus commented on #208
Basically like this: http://i40.tinypic.com/29yqslf.jpg

[2018-02-01 13:31] mneuhaus commented on #207
whoops, sorry :/

[2018-02-01 13:31] #207 closed

[2018-02-01 13:32] huyphams commented on #208
Hey thanks, it’s called truncate middle

[2018-02-01 14:38] dcolthorp commented on #195
@huyphams – I wasn't able to find the feature in the new build (85). Can you provide info on where the feature is located/how to use it? Thanks!

[2018-02-01 14:41] huyphams commented on #195
Can you download on website agian. It’s hotpatch so it wasnt’t included if you update the app before hot path released.

[2018-02-01 14:52] dcolthorp commented on #195
Ah, that did it. Unfortunately, I wasn't able to get it to work with the database URLs for postgres from Heroku. The url looks like `postgres://asdfasdfasdfaa:asFDSa5FdfSDkdslS5kK0-ksKJ@ec2-12-123-123-123.compute-1.amazonaws.com:5432/sdlkds93jsd92h`.

I get an "invalid URL" error.

[2018-02-01 14:53] huyphams commented on #195
Thanks let me check

[2018-02-01 17:01] huyphams commented on #195
Hi @dcolthorp Just fixed issue about, could you give a try this build: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

Thanks 😄

[2018-02-01 20:16] dcolthorp commented on #195
Awesome, thank you! Looks like I’ve finally found my DB app!

On February 1, 2018 at 12:02:29 PM, Huy Pham (notifications@github.com)
wrote:

Hi @dcolthorp <https://github.com/dcolthorp> Just fixed issue about, could
you give a try this build:
https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

Thanks 😄

—
You are receiving this because you were mentioned.
Reply to this email directly, v

[2018-02-02 12:05] huyphams commented on #196
@philippe-tellier ready for the next update 😸
![multiple](https://user-images.githubusercontent.com/3654622/35732451-f812b96c-084b-11e8-99f7-fa495d4f63af.gif)

[2018-02-02 12:46] zoispag opened #209 "Cannot connect to MS SQL Server"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
`Microsoft SQL Server 2008`
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
`Build 85`
3. The steps to reproduce this issue:
`Create a connection and try to connect.`

I get a message:
Error: NULL DBPROCESS pointer passed to DB-Library
Message:

![screen shot 2018-02-02 at 13 46 2

[2018-02-02 13:38] davidhooey opened #210 "Unable to login with Windows Domain Account to SQL Server."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 85

3. The steps to reproduce this issue: Enter Domain account and password during connection.

For example the domain name can be passed in during a JDBC connection.

[code]

[2018-02-02 13:40] huyphams commented on #209
Thanks, @zoispag let me check, seems SQL Server 2008 is not supported.

[2018-02-02 13:49] mneuhaus opened #211 "Feature Request: case insensitive column selection autocomplete"
It would be awesome if the autocomplete for the column selection would be case insensitive:

![](http://g.recordit.co/VGaLO7TbGA.gif)

[2018-02-02 13:51] huyphams commented on #211
Sure 👍 😄

[2018-02-02 14:14] philippe-tellier commented on #196
@huyphams You are amazing 😎

Thanks a lot!

[2018-02-02 16:58] huyphams commented on #210
Hey, @davidhooey thanks, I have read the documents of MSSQL again and understood, I will fix it in next update.

[2018-02-03 06:59] huyphams commented on #210
Could you try again with this syntax: domain/user
TablePlus automatically uses a domain login if username contains`/`

[2018-02-03 08:14] huyphams opened #212 "[Idea] Support language packs"
[Under development]

- I created a language packs: https://github.com/TablePlus/language-pack
- People can install language packs via Plugin Manager, this plugin helps people change TablePlus interface language.

How to: This repo contains a JSON, everybody who wants to localize TablePlus app can fork this repo and translate the JSON.

I will update this issue when it ready.

[2018-02-04 04:51] #200 closed

[2018-02-04 04:52] #208 closed

[2018-02-04 04:52] #201 closed

[2018-02-04 04:52] #196 closed

[2018-02-04 04:53] #211 closed

[2018-02-04 04:56] huyphams opened #213 "Unintended window maximize"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): All driver

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 86

3. The steps to reproduce this issue:
- On free tier.
- Open and pin two tabs.
- Double click on an item (to open the 3rd tab).
=> Windows maximize.

[2018-02-04 04:56] huyphams commented on #162
I created a new issue for the `Unintended window maximize`  😄
https://github.com/TablePlus/TablePlus/issues/213

[2018-02-04 04:56] #162 closed

[2018-02-04 05:42] huyphams commented on #197
Hi all,
The build 86 is released with the ability to turn off update notification.
I also added a page for legacy TablePlus version here: [Download](https://tableplus.io/blog/2017/02/changelogs.html)

[2018-02-04 06:31] huyphams commented on #203
I fixed the bug in new update 86 please check it out 😄

[2018-02-04 17:00] huyphams commented on #194
I'm working on this issue 👍

[2018-02-05 03:02] huyphams commented on #168
This build should fix this issue: https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

Working with Apple UI likes an adventure

[2018-02-05 05:08] zedentox commented on #209
Same issue here with Microsoft SQL Server 2005 😢

Is it a bug ? Which versions are supported ?

[2018-02-05 05:09] huyphams commented on #209
I'm installing a docker of old SQL Server. I will come back to you guys later.

[2018-02-05 14:07] davidhooey commented on #210
I updated to build 86 and tested and DOMAIN\user works nicely! Thanks!

On Feb 3, 2018, at 1:59 AM, Huy Pham <notifications@github.com> wrote:

Could you try again with this syntax: domain/user
TablePlus automatically uses a domain login if username contains/

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub <https://github.com/TablePlus/TablePlu

[2018-02-05 15:15] #210 closed

[2018-02-05 18:22] huyphams commented on #166
Hi it respects ssh/config now:
Download (this is a build with production mode): https://www.dropbox.com/s/3orqil53ktk8yzk/TablePlus.zip?dl=0

<img width="612" alt="respect config" src="https://user-images.githubusercontent.com/3654622/35821610-2d7d4648-0adc-11e8-914e-de9cf73025c7.png">

[2018-02-05 20:59] brian-crane opened #214 "Ability to Modify / Remove Keyboard shortcuts"
Would like to be able to remabe cmd+E to something else if needed Thanks!

[2018-02-05 21:00] brian-crane opened #215 "SQL History now shared between all databses making it harder to find, also search function for query history is not working"
It used to be if I ran query1, query2 on DB1, and query3, query4 on DB2, the SQL History for DB1 would only show query1, query2.  Now it shows all queries from all databses.  I thought before you segregated query history to their relevant database

[2018-02-05 22:44] mkarnicki commented on #166
@huyphams I'm stoked you started working on this!

I have a host configured in ~/.ssh/config. When I type in terminal:
`$ ssh host-name`
it properly connects to the host using a username and private key defined in ~/.ssh/config

However, I see this message when I followed your screenshot instructions (after downloading TablePlus from dropbox):

<img width="506" alt="screen shot 2018-02-05 at 23 38

[2018-02-05 22:47] mkarnicki commented on #166
@huyphams (I removed my previous comment, chose the wrong host).

I confirm this works GREAT! Thank you, I'm excited about TablePlus :)!

[2018-02-05 23:00] mkarnicki commented on #203
Hi @huyphams , thank you for working on this bug.

I have downloaded the update (and then the version from Dropbox, which supports ~/.ssh/config).

When I press Backup, select host, the list shows up correctly now :).

However, I then select folder location and press backup, I get the following:

<img width="662" alt="screen shot 2018-02-05 at 23 58 19" src="https://user-images.githubusercontent.c

[2018-02-06 04:37] huyphams commented on #203
Hi @mkarnicki thanks for the feedback, I will check this issue.

[2018-02-06 04:40] huyphams commented on #215
Hi @brian-crane thanks, I'm working on this in another issue and you're right, I'm going to split history based on connection.

[2018-02-06 04:42] huyphams commented on #214
Currently, TablePlus support: Command + E or Command + Return (and command + shift + E and command + Shift + Return).
There are preferences allows user change all the shortcut keys but still under development.
<img width="512" alt="screen shot 2018-02-06 at 11 42 12 am" src="https://user-images.githubusercontent.com/3654622/35842115-c8adc952-0b32-11e8-94c1-3629ebf93f18.png">
This preferences, you

[2018-02-06 04:55] huyphams commented on #166
Yup, I need to make this form more clear because you don't need to specify the username, password or the server port.
P/s: There is an annoying bug in 10.11, the white background in textfield, it gave me cancer 😄:
<img width="476" alt="screen shot 2018-02-06 at 11 54 26 am" src="https://user-images.githubusercontent.com/3654622/35842412-831b9714-0b34-11e8-93d1-9d17cf920911.png">

[2018-02-06 08:04] davidolrik opened #216 "Unable to connect when using self signed certs"
Trying and failing to connect to MySQL 5.7.19-17 using the cert generated by the package installer.

[code]

A `--insecure` option per connection would be nice.

[2018-02-06 08:05] davidolrik commented on #216
Adding this would probably also fix #55

[2018-02-06 08:07] huyphams commented on #216
Hey thanks, dealing with SSL is always very hard because security is very important. I will go through again try to reproduce the bug. It takes a little bit time but definitely, I can add an option allow self-certification.

[2018-02-06 08:31] huyphams commented on #198
Sorry because the late response because I have tons of request every day. The cancel query function does not actually cancel all queries. It does empty the queue but not running query. Dealing with running query is very hard and depend on database library. I will try to improve this in some next updates.

[2018-02-07 03:09] l41lt0n opened #217 "SQLQuery error"
Hi,

I found a small 'bug' when I use the feature to display query "Beautify" it works fine.
but when I do the invert "Uglify" dont respect the SPACE wabout ORDER, BETWEEN, AND

for example

Normal Query:
SELECT * FROM aluno WHERE escola="53012801" ORDER BY turma LIMIT 10

Beautify Query:
SELECT
    *
FROM
    aluno
WHERE
    escola = "53012801"
ORDER BY
    turma
LIMIT 10

Uglify Query
SELECT*FRO

[2018-02-07 03:58] huyphams commented on #217
Hi, @l41lt0n that's an expectation behavior, those spaces are not necessary. When TablePlus uglify SQL Statements, it tries to remove as many as characters possible 😄

[2018-02-07 04:01] l41lt0n commented on #217
Hi @huyphams,

I got it!
sorry for false alarm.

Thanks.

[2018-02-07 08:14] huyphams opened #218 "Allow TablePlus changes encoding."
Currently, TablePlus supports only Unicode Encoding. It would be better if TablePlus support to change encoding in preferences.

[2018-02-07 08:36] horo42 commented on #168
Confirmed, thank you :)

[2018-02-07 08:36] #168 closed

[2018-02-07 08:56] huyphams commented on #55
there is SSL mode config, have you try to change it to disabled?

<img width="495" alt="ssl" src="https://user-images.githubusercontent.com/3654622/35907080-6f07306c-0c1f-11e8-99da-ab6ea457aa3e.png">

[2018-02-07 09:11] #217 closed

[2018-02-07 09:12] huyphams commented on #216
@davidolrik have you try to disabled ssl mode?
<img width="495" alt="ssl" src="https://user-images.githubusercontent.com/3654622/35907848-a6c4c8e6-0c21-11e8-944e-023a524026e6.png">

[2018-02-07 10:39] #55 closed

[2018-02-07 14:24] eberkund commented on #9
@huyphams Any chance you could tease us with some screenshots of the UI of the Windows version?

[2018-02-07 15:39] huyphams commented on #9
We will have an engineer join our Windows team at 15-Feb.

![screenshot 2018-02-07 22 23 15](https://user-images.githubusercontent.com/3654622/35925189-aceb5560-0c57-11e8-92d2-d89bd8c0a481.png)

[2018-02-07 16:17] eberkund commented on #9
Thanks, I can't wait, I'm sure it's going to be awesome!!

[2018-02-07 16:26] mneuhaus opened #219 "Feature Request: Overview of all Tables in a Database with Rows, Size, etc."
It would be awesome, if you could integrate an "Overview" of all Tables in a Database with the Number of Rows, Size, encoding, etc. Sometimes i need to find big "evil" Tables that clog up and with a View likes that it used to be (in Navicat) quite easy to identify them.

![screenshot 2018-02-07 17 22 58_preview](https://user-images.githubusercontent.com/316605/35927843-fea6c79e-0c2b-11e8-8fda-b164

[2018-02-07 16:31] huyphams commented on #219
This is the idea pop up immediately in my mind, but I need to rethink the UI a little bit.

<img width="1196" alt="demo" src="https://user-images.githubusercontent.com/3654622/35928082-de34c9d8-0c5e-11e8-9907-7455fe77c84b.png">

[2018-02-07 16:33] mneuhaus commented on #219
take your time with the UI, the Screenshot was just for reference :)

[2018-02-07 16:47] psycodepath opened #220 "Feature Request: Add option for default charset und collation in new db wizard"
It would be awesome to be able to set the charset and collation in the create new db wizard.
Furthermore a setting to choose your preferred charset + collation would help as well (eg. for MySQL utf8mb4 & utf8mb4_unicode_ci)

[2018-02-07 16:49] huyphams commented on #220
This related to https://github.com/TablePlus/TablePlus/issues/218
I'm starting to implement this because it's the most important feature (for MySQL users).

[2018-02-08 00:30] brian-crane commented on #214
@huyphams  I havent visited the Preferences window in a long time... Now that I open it I can see all the new changes you and your team added! Very nice! I love having preferences I can set for my own personal user experience.

Keep it up Huy!!!!!!

[2018-02-08 00:30] #214 closed

[2018-02-08 02:03] huyphams commented on #214
This preference is still under development, the shortcut can be changed this time. I will enable this to allow user customize shortcut keys soon (My plan is in build 88).

[2018-02-08 08:37] davidolrik commented on #166
I think I have found one minor bug, when disconnecting and reconnecting the ssh connection the database connection is not reconnected.

[2018-02-08 08:38] huyphams commented on #166
Thanks @davidolrik, but is it hang or something?

[2018-02-08 08:49] mkarnicki commented on #166
I can't confirm that, seems all is working well. @davidolrik please try to be as detailed as you can in your follow up comment, thanks.