[2018-04-30 13:07] JohnRomanski commented on #401
I have found the Temporary folder, thanks. it's `/Users/<user>/Library/Application\ Support/com.tinyapp.TablePlus/Cache/History/` and there is a folder for each connection. then there is a folder for each day, and then a file for each query. A quick `cat *.sql` does the trick I needed. Thanks, closing.

[2018-04-30 13:07] #401 closed

[2018-04-30 15:18] mholt commented on #400
Okay, thanks! Consider this a feature request then. :D

[2018-04-30 16:29] itsdeezy commented on #166
hey @huyphams,
tried out build 103, seems like 2fa is getting to where it asks for my login on my phone. However, it's stuck at the `Connecting to database...` stage.
![screen shot 2018-04-30 at 12 28 00 pm](https://user-images.githubusercontent.com/3641047/39438379-f7ccc3de-4c71-11e8-8b90-3eae57eed334.png)

Any way I can run this in verbose? maybe a console mode so I can give you some logs?

[2018-04-30 16:37] huyphams commented on #166
Unfortunately, I turned off logging on production. There is no `two-factor authentication` in SSH. It's keyboard-interactive. The `two-factor authentication` is a method that server sends a question to the client and verify the connection after connected.
I have tested with my setup and it works, probably there are some edge cases that I missed.
Thanks for the report, I will try to reproduce it.

[2018-04-30 21:16] mholt commented on #397
Ah, okay. Yeah, I'm still on the free version (as soon as I launch this new product I hope to be able to afford the paid version) -- so maybe if the logic could be reordered in the free version, that'd be nice, but I can see how you'd want to remind the user to upgrade... either way I guess.

[2018-04-30 23:27] bdougherty commented on #344
That build works perfectly! Thank you!

[2018-05-02 08:45] davidbonnet opened #402 "Fix redis filters"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Redis 2.8.23

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 103

3. The steps to reproduce this issue:

- Open a redis connexion
- Set filters
- Filters do not filter at all

[2018-05-02 11:17] pieterclaerhout commented on #297
+1

Also changing the font size of the SQL editor window would be handy…

[2018-05-02 11:32] huyphams commented on #297
Thanks for the suggestion, I will improve it in the future updates 👍

[2018-05-02 16:09] dbkaplun commented on #387
Has this been fixed?
<img width="1136" alt="screen shot 2018-05-02 at 12 08 34 pm" src="https://user-images.githubusercontent.com/1765130/39535324-96c86660-4e01-11e8-89cd-ea61e402bef0.png">

TablePlus 1.0 (103)

[2018-05-02 16:10] huyphams commented on #387
No, not yet. I'm still working on it.

[2018-05-03 04:05] silverbux opened #403 "fuzzy text on dark theme"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 103
3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

![image](https://user-images.githubusercontent.com/1888261/39559571-d6e511f8-4ec9-11e8-9be5-e4533df93bf2

[2018-05-03 04:14] huyphams commented on #403
Hey thanks for the reporting 😄

[2018-05-03 07:26] huyphams commented on #272
Hey, @thenaturalist can you check again on the newest release?, I had improved it a bit.

[2018-05-03 07:50] huyphams commented on #399
It was fixed in release 103, so I close this issue.

[2018-05-03 07:50] #399 closed

[2018-05-03 08:47] khoatrangeek commented on #158
This one missing feature is the only reason I still have to use Sequel Pro in these days. So much love if TablePlus can support this sooner.

[2018-05-03 11:42] ur5 opened #404 "[FEATURE REQUEST] Option to allways open one default connection"
In my day to day work I use TablePlus to browse **one** single development db on my laptop all the time. If I could set one of the connections in the welcome screen as default connection, I could start working right away. TablePlus would auto-connect to this db automatically.

"Make default connection" could be part of the connections context menu. Some small visual indicator could show, which of

[2018-05-03 11:58] martenlindblad commented on #304
Thanks for this!!

[2018-05-03 11:58] #304 closed

[2018-05-03 12:03] martenlindblad opened #405 "SQL Server length and precision"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQL Server 2014
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
103

3. The steps to reproduce this issue:
Check structure of table

Want to see the max_length and precision of the columns, like in this query:
SELECT
    c.name
    ,t.name
    ,c.max_length
	,c.precision
    ,c.is

[2018-05-03 12:08] huyphams commented on #405
Sure, I will add the option to turn it on the table structure.

[2018-05-03 12:23] pieterclaerhout opened #406 "Backup not working with SSH connection to MySQL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 1.0 (103)

3. The steps to reproduce this issue:

    1. Create a MySQL connection which is using an SSH tunnel

    2. Click on the backup button in the main screen

    3. Select the connection you have just created

[2018-05-03 15:17] resure opened #407 "JSON export misses a comma every 10000 lines"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
`PostgreSQL 10.0`

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
`Version 1.0 (build 103)`

**3. The steps to reproduce this issue:**
Exporting a table to json results in corrupted resulting file — data itself is fine, but file misses comma every 10k lines. It looks like

[2018-05-03 15:18] huyphams commented on #407
Hey thanks, I will fix it now.

[2018-05-03 15:33] huyphams commented on #407
it's fixed now, you can use this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks, @resure for the reporting.

[2018-05-03 20:45] resure commented on #407
It works correctly now. That's some remarkably fast response and fix :) Thanks!

[2018-05-03 20:45] #407 closed

[2018-05-04 04:11] euii commented on #235
sorry,  response for long time, today I upgrade table plus to newest version [1.0(103)], the same issue is still existing.

[2018-05-04 04:25] dbkaplun commented on #399
Thanks so much @huyphams!

[2018-05-04 11:05] eivindml commented on #390
Would love this as well.

Would be great if it's natively integrated with iCloud lik this, with icon etc:

<img width="651" alt="skjermbilde 2018-05-04 kl 13 02 17" src="https://user-images.githubusercontent.com/202450/39624963-aba997d4-4f9b-11e8-895d-db69b3934d4e.png">

[2018-05-04 12:18] lewishowles opened #408 "Running 'Find' always adds a new line to the search"
When running Find on a table, any previous search displays, but a new line is then added to the search.

This line must then be deleted, since an error occurs if you leave it blank.

Ideally, a new line should only be added if no previous search was found, otherwise let me add new lines manually.

An example:

<img width="1382" alt="image" src="https://user-images.githubusercontent.com/1140753/396

[2018-05-04 14:12] huyphams commented on #408
Hey, @lewishowles thanks for the reporting,
This is an expectation behavior. I will improve it in next update. it should only be added if there are no filter.

[2018-05-05 12:49] fabiospampinato opened #409 "Hyphens in index names are not handled properly"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 103
3. The steps to reproduce this issue:
    1. Delete an index named `foo-bar`
    2. The query produced would be:
[code]
    3. Which throws an error because of the hyphen in the index name.

[2018-05-05 13:00] huyphams commented on #409
Hey, @fabiospampinato thanks for the reporting, I just fixed it in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
👍

[2018-05-05 13:02] fabiospampinato commented on #409
Nice, thanks!

[2018-05-05 13:02] #409 closed

[2018-05-05 21:30] pavelvolkov opened #410 "Comment syntax highlight error"
MySQL 8.0.3
TablePlus Version 1.0 (103)
**The steps to reproduce this issue:**

1. Open SQL Query editor tab;
2. Type in
`--my comment
SELECT f1 FROM t1;`

Result:
Syntax highlighter displays first line as a comment. MySQL dropes syntax error:
_You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '--my comment
SELECT

[2018-05-06 01:53] huyphams commented on #410
Thanks for the reporting, Looks like MySQL doesn't accept the comment syntax.
This works:
[code]
[code]

But this doesn't work (Only in MySQL, PostgreSQL works):

[code]

[2018-05-06 08:50] huyphams commented on #408
It was changed in release 104 @lewishowles thanks for the suggestion.

[2018-05-06 08:50] #408 closed

[2018-05-06 08:50] #330 closed

[2018-05-06 08:51] huyphams commented on #364
It's supported now. Please check out the release 104.

[2018-05-06 08:51] #364 closed

[2018-05-06 08:52] huyphams commented on #383
It release in build 104 can you check it @0x3333, thanks

[2018-05-06 10:39] l2ysho commented on #398
Sorry for being late, I tryed build you send, not it works. Good job. When can you realease this build in stable version?

[2018-05-06 10:44] huyphams commented on #398
I have updated the build to production, so you can keep it. It’s official release build.

[2018-05-06 10:44] #398 closed

[2018-05-07 07:00] wd opened #411 "Set timezone when connect to database"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgresql 9

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
104

3. The steps to reproduce this issue:
Noted: If the bug is related to data, please attach an example SQL data.

Connect a database, run a sql, if the table have a column with `timestamptz` type, the time will displ

[2018-05-07 07:03] huyphams commented on #411
Hey thanks @wd, we will take a look at it.

[2018-05-07 09:31] juice commented on #364
@huyphams Hi, great news! I tried it with MSSQL and PostgreSQL, thanks for that. But it looks like it is not working with MSSQL Server (2012)?

[2018-05-07 09:47] huyphams commented on #364
Currently TablePlus only supports trigger in MySQL and PostgreSQL, I will added more driver in next release.
The next driver is MSSQL.

[2018-05-07 13:56] namxam opened #412 "Repeatedly requested to enter private SSH key password"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres 9.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
104

3. The steps to reproduce this issue:
Create a new connection and tunnel it through SSH.

The app keeps requesting "Please enter SSH private key password". I can enter it multiple times but the popup keeps appearin

[2018-05-07 13:59] huyphams commented on #412
It keeps asking the passpharse that means you entered the wrong one or the current key was not match (or invalid) with the pass. Can you re-import the key and try over again? We didn’t have log on production build. :(

[2018-05-07 17:41] jayshepherd opened #413 "Search History"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
9.4.15

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
104

3. The steps to reproduce this issue:
Click the history tab and attempt to search

----

I would like to search my history for a recent sql statement I ran.

[2018-05-07 19:03] jornetsimon commented on #209
Hi,
I'm having the same error '_Adaptive Server connection failed_' on **build 104**.
The instance **is** specific.
_Microsoft SQL Server 2008 R2 (SP3) - 10.50.6220.0 (Intel X86)_

<img width="584" alt="connection" src="https://user-images.githubusercontent.com/936101/39719460-8a5ad606-5239-11e8-9231-9ad09a797732.png">
<img width="612" alt="error" src="https://user-images.githubusercontent.com/936

[2018-05-08 02:28] huyphams commented on #413
Currently, TablePlus only support search favorites (by name) and items. Search history requires full-text search, which is hard to implement (but I want to implement it). We already added this feature on our roadmap.
Thank you.

[2018-05-08 02:48] huyphams commented on #209
Thank @jornetsimon, let me check it.

[2018-05-08 08:12] andretti1977 opened #414 "Errors setting different delimiter"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5.7.22
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 104
3. The steps to reproduce this issue:
When i set the simple SQL command:

DELIMITER $$

i get this error:

You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version fo

[2018-05-08 08:15] huyphams commented on #414
Hi, thanks for the feedback.
But what's your purpose in setting the delimiter? Are you trying to create a function? I just tried in Sequel Pro and it did nothing (Looks like it ignores the command.).

[2018-05-08 12:47] andretti1977 commented on #414
Yes i'm trying to create a store procedure. The same code in SequelPro doesn't produce any error and it's standard code (at least on mysql) so i don't understand why it doesn't work on TablePlus.
How can i create stored procedures if i can't change delimiter?
Thanks in advance

[2018-05-09 17:18] huyphams commented on #414
Hi @andretti1977, I'm sorry because of the late response. Sequel Pro simply ignores the `DELIMITER`
You can create a function by two way:
1. Right click on the left panel > create function.
2. Use SQL Query without delimiter code for example:

In Sequel Pro:
[code]

In TablePlus:

[code]

[2018-05-09 19:08] tylerrasor opened #415 "SELECT * JOIN query result displays incorrect field for duplicate field names"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Microsoft SQL Server 2017

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

build 104

3. The steps to reproduce this issue:

`CREATE TABLE testType (testTypeID INT, typeDesc VARCHAR(10), createdby VARCHAR(10), PRIMARY KEY (testTypeID));`
`CREATE TABLE test (id INT, testTypeID IN

[2018-05-09 20:02] andretti1977 commented on #414
Ok, i looked for delimiter in context help but didn't find any entry.
For me it's ok but since it is a mysql standard command, i do expect it to work fine . What i mean is that i think that TablePlus should execute any command that is supported by the underlining db without any exception. That said your software is really really good. I do expect to find some little features and then it will be a

[2018-05-09 20:02] #414 closed

[2018-05-09 20:08] andretti1977 opened #416 "Add SequelPro like "Show/Copy create table syntax)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.7.22
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
104
3. The steps to reproduce this issue:
Using sequel pro, right click a table and see contextual menus appear

[2018-05-09 20:09] andretti1977 opened #417 "Simplify adding relationships among tables"
How can i add relationships? For me it's unclear.

[2018-05-09 20:10] andretti1977 opened #418 "Provide SequelPro export capabilities"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql 5.7.22
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
104
3. The steps to reproduce this issue:
In sequelpro i can export all db or just a selection of tables and even decide to export structure or data or both. I wasn't quickly able to understand how to do that in TablePlu

[2018-05-10 01:58] huyphams commented on #416
Hi @andretti1977 you can press: command + L and then install tabledump plugin. it being developed but the copy creation is functional now.

[2018-05-10 02:01] huyphams commented on #418
Currently, TablePlus doesn't support export the whole database. We will let you know when it supported.
Btwm you can use the backup/restore function in the welcome screen to dump database. It uses the MySQL binary to do the job.

[2018-05-10 02:46] huyphams commented on #415
Thanks @tylerrasor, it's fixed in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
it will be officially released in the next Monday.

[2018-05-10 03:11] huyphams commented on #417
Hi, I think it's similar with Sequel Pro?

This is in Sequel Pro.
<img width="391" alt="screen shot 2018-05-10 at 10 09 41 am" src="https://user-images.githubusercontent.com/3654622/39850214-550e2e96-543a-11e8-8bb3-9f23faff559b.png">

In TablePlus.
<img width="383" alt="screen shot 2018-05-10 at 10 09 49 am" src="https://user-images.githubusercontent.com/3654622/39850215-570b2a3c-543a-11e8-8780-c7

[2018-05-10 07:51] andretti1977 commented on #417
So sorry, i was working with a reduced size window and didn't see the foreign key field!

[2018-05-10 07:51] #417 closed

[2018-05-10 13:55] cevin opened #419 "why have not scroll bar"
![image](https://user-images.githubusercontent.com/338110/39873067-828e7a94-549c-11e8-93fe-a31c64b793a9.png)

if have lots of functions ……  oh no.

[2018-05-10 13:58] huyphams commented on #419
You make me laugh 😄
Yeah, I think not many users out there have many functions like yours (it looks more like you have enabled some plugin) so I didn't put a scrollbar here.
I will think about it.

[2018-05-10 14:12] huyphams commented on #419
As you wish: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0 👍 enjoy.

[2018-05-10 15:02] jmfederico opened #420 "Feature request: UPDATE form flat file"
This is an extension to #224

I usually update tables using flat files (CSV), Right now one can import and insert new data, but can not UPDATE existing rows.

It would be very useful if one could use a CSF file and UPDATE rows instead of INSERTING new ones.

Thanks

[2018-05-10 15:04] huyphams commented on #420
Thanks but could you suggest me a client has this feature? I wanna take a look.

[2018-05-10 15:06] jmfederico commented on #420
SequelPro does it:
<img width="635" alt="screen shot 2018-05-10 at 10 05 45" src="https://user-images.githubusercontent.com/237977/39876831-d6ab13fc-5439-11e8-887f-ecdaa5937298.png">

[2018-05-10 15:19] huyphams commented on #420
Thank you so much 👍

[2018-05-10 15:25] gadelkareem opened #421 "Multiple connections issuing the same query at the same time"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.3
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 104
3. The steps to reproduce this issue:
- Connect to a remote database;
- Issue a 'select count(*)' that would be a bit slow.
- Check the connections on the pg activity or an application like PgHero.
- If I ki

[2018-05-10 15:26] gadelkareem commented on #421
My Mistake!

[2018-05-10 15:26] #421 closed

[2018-05-10 20:58] markedmondson opened #422 ""target lists can have at most 1664 entries" SQL error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
10.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
104

3. The steps to reproduce this issue:
Opening the application against a large (sharded) database causes a "target lists can have at most 1664 entries" error on the server.

Presumably it's trying to retrieve all the table

[2018-05-10 21:06] anotherdevs opened #423 "Inputs port 22 in SSH automatically"
**Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
_MySQL_

**Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
_104_

**The steps to reproduce this issue:**
1. Open TablePlus
2. 'Create a new connection'
3. Select MySQL
4. Write in:
- Name: Test
- Host: 127.0.0.1
- Port: Leave it blank
- User: test
- Password: test
- Database: Leav

[2018-05-11 02:01] huyphams commented on #422
Hey thanks, @markedmondson I will optimize it in the near future update (planing in build 106). Currently, TablePlus tries to load some metadata, I think that is the problem.

[2018-05-11 02:10] huyphams commented on #423
Hi @anotherdevs it's no problem because when you're using the config. TablePlus alway priority the properties in the config. That means if you set the port in the config, TablePlus uses it first.

[2018-05-11 03:25] huyphams commented on #422
I believe this build should fix the issue: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
It will be released soon.

[2018-05-11 04:08] #419 closed

[2018-05-11 04:09] #415 closed

[2018-05-11 04:10] #383 closed

[2018-05-11 04:11] #422 closed

[2018-05-11 04:11] #416 closed

[2018-05-11 09:39] anotherdevs commented on #423
Hi @huyphams

I have just tested it again, and what you're saying is not correct.

Do you mind testing it yourself?

[2018-05-11 09:41] huyphams commented on #423
I have tested before reply your comment. I changed the port to a random number (which is not correct) and set up the port in the config 2223. it works. So I think the bug is not related to it.
Could you post your connection form here ( pleasechange the sensitive data to dummy data).

[2018-05-11 09:43] huyphams commented on #423
I also check the code:
The code logic is:
1. I have set up the port environment
2. Load the config.

=> if the user uses config, it should override the port from step 1.

[2018-05-11 09:45] huyphams commented on #423
You can see the gif below.
![2018-05-11 16 45 04](https://user-images.githubusercontent.com/3654622/39918464-b7018322-553a-11e8-821b-340f08e8256f.gif)

[2018-05-11 09:47] huyphams commented on #423
Have you checked the box Use ssh keys @anotherdevs ?

[2018-05-11 13:44] markedmondson commented on #422
Wow, thanks for the quick response! I'll give that build a go.

[2018-05-12 14:05] eivindml opened #424 "Feature request: Option to customize toolbar"
Hi,

love TablePlus. One feature I'm missing is the option to right click the toolbar and customize the items appearing in the toolbar. This is default for most Mac apps, and I like to just remove all buttons I'm not using to get a cleaner interface.

Would love to see something like this:

<img width="286" alt="skjermbilde 2018-05-12 kl 16 04 03" src="https://user-images.githubusercontent.com/202

[2018-05-12 14:09] huyphams commented on #424
Hi, @eivindml thanks for the suggestion. I want it too ( Just like sublime text, no need the button). The reason I put the button here because I want people know the functions.

I will add an ability to remove icon in the next update 👍

[2018-05-12 17:58] clessg commented on #135
I agree with aphex, it would be a really helpful addition. To give an idea, here is how Querious handles an enum field: https://i.imgur.com/B4HVbQk.png

[2018-05-13 00:06] huyphams commented on #135
We will support user define type (include enum) in the next update 😁

[2018-05-14 03:32] huyphams commented on #424
Mine after removing some icons.
<img width="1144" alt="screen shot 2018-05-14 at 10 31 47 am" src="https://user-images.githubusercontent.com/3654622/39977151-11627366-5762-11e8-80ec-8cba3cd4dee9.png">
You can try it at: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-05-14 09:51] thenaturalist commented on #272
@huyphams Looks good to me. The editor is functional for statements ~5k lines long as far as I can see.

[2018-05-14 10:31] Nemo64 commented on #418
It is not only dumping entire databases that was extremely convenient.
Dumping just a few tables and not even bothering with naming was awesome.
![may-14-2018 12-30-34](https://user-images.githubusercontent.com/1749936/39992343-c0e51acc-5772-11e8-956f-d096091e9438.gif)

[2018-05-14 14:41] rizkysyazuli commented on #193
@huyphams understood. thx.

Anyway, the [pull request is here](https://github.com/lra/mackup/pull/1164) if someone else's also using mackup.

[2018-05-14 15:05] Nemo64 opened #425 "Full text search in whole database"
It would be awesome to just search an entire database or just a selection of tables for a word, a number etc..
This feature exists in phpmyadmin but could use some ux-improvement.

[2018-05-14 15:10] huyphams commented on #425
Hey, are you looking for this? We have a filter with contains operation, which is likely full-text search.<img width="1209" alt="fulltext" src="https://user-images.githubusercontent.com/3654622/40005931-59b3152e-57c3-11e8-9b9d-a3ffc3f6da0b.png">

[2018-05-14 16:54] huyphams commented on #272
So I think I can close the issue, thanks for the report 👍

[2018-05-14 19:29] dldereklee opened #426 "Cannot See SQL Query in Query Window"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7.19, but I tested with other databases as well (MS SQL)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 105

3. The steps to reproduce this issue:
Go to the SQL Query screen. I can type into the query field, but I can't see what I'm typing.

![image](https://user-i

[2018-05-14 20:13] eivindml commented on #424
Great work. :) Looks good.

But I think you forgot to add the `flexible_space` item to the toolbar panel.

It's very useful.

<img width="1108" alt="skjermbilde 2018-05-14 kl 22 12 23" src="https://user-images.githubusercontent.com/202450/40021015-fcc88a00-57c3-11e8-80ae-9a49e8562acd.png">

[2018-05-15 02:12] huyphams commented on #426
Hi @dldereklee, it's not a bug. It's because the split view was collapsed. You can drag it back.
<img width="1115" alt="qlquery" src="https://user-images.githubusercontent.com/3654622/40032869-174e7ac2-5820-11e8-89fa-8547c82c7f7a.png">

[2018-05-15 02:45] huyphams commented on #388
I updated the column default in new release 105. this bug is fixed, thanks for the contribute 👍

[2018-05-15 02:45] #388 closed

[2018-05-15 02:47] huyphams commented on #361
It's released in the newest build, if you found any bug, please create a separated issue for each them.

[2018-05-15 02:47] #361 closed

[2018-05-15 02:49] huyphams commented on #341
It's fixed in the newest build. When creating a varchar, please also add the length of it. For example: varchar(20).

[2018-05-15 02:49] #341 closed

[2018-05-15 04:35] ghost opened #427 "Field BLOB with image base64 encoded"
Hi @huyphams,

Is possible add a feature to be able to see image saved on database ( blob field ) but encoded with base64 ?

Thanks

[2018-05-15 04:38] huyphams commented on #427
Could you suggest me an application that can open the field with an image encoded in base64?

[2018-05-15 04:44] l41lt0n commented on #427
@huyphams

You can test using it:
https://codebeautify.org/base64-to-image-converter

Attached is a base64file
[base64.txt](https://github.com/TablePlus/TablePlus/files/2003484/base64.txt)

[2018-05-15 04:48] huyphams commented on #427
I know how to do it in TablePlus, but you know, I want to detect it automatically.
Building a Quick Look that can change encoding text/image/encode is easy but the UX is not a good idea.
Currently, TablePlus can detect binary in PostgreSQL bytea field, and view the attachment in the Quick Look. TablePlus supports various data type: image, gif, pdf etc...

It's not that simple in BLOB, because it c

[2018-05-15 05:00] huyphams commented on #427
No, I mean, the information must be a standard. This looks like your customization. Imagine I have a thousand users with a hundred of customization, hmm.

[2018-05-15 05:07] l41lt0n commented on #427
I am not even sure.

Can you tell me how is value to insert to SQLITE an image. are there a bytea?

Thanks

[2018-05-15 07:35] jorgespiessens commented on #390
+1

[2018-05-15 08:30] Nemo64 commented on #425
kind of. That is already a really nice feature. But I'm searching for this:
![may-15-2018 10-29-35](https://user-images.githubusercontent.com/1749936/40045562-f29c61ca-582a-11e8-85d0-f3dade358067.gif)

[2018-05-15 13:11] jornetsimon commented on #209
Seems fixed in build 105.

[2018-05-15 13:12] juicyarts opened #428 "Escape column names in search queries to avoid collisions when reserved keywords are used as column names"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
ANY
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (105)
3. The steps to reproduce this issue:
* eg. create a table containing a column with the name 'select/create/ANY_SQL_RESERVED_KEYWORD'
* run a search {cmd+f} > Any Column > Contains > 'foo'
* getting `Invalid usage of th

[2018-05-15 13:36] huyphams commented on #428
Hey @juicyarts thanks for the reporting, I just fixed it in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-05-16 04:16] #426 closed

[2018-05-16 12:54] blaasvaer commented on #354
And where do I find the auto increment feature?

[2018-05-16 12:59] huyphams commented on #354
Hi @blaasvaer which driver are you using @blaasvaer if you are using MySQL there is a column `extra`. If you are using PostgreSQL it sequence (using column_default).

[2018-05-16 13:01] blaasvaer commented on #354
This I don't get: If you are using PostgreSQL it sequence (using column_default).

Could you be more specific (where in the interface, what tab, what view ... )?

[2018-05-16 13:02] blaasvaer commented on #354
I need to make the 'id' column auto increment:

![screen shot 2018-05-16 at 15 01 31](https://user-images.githubusercontent.com/1193257/40118389-16f0fd8e-591a-11e8-8d2f-5fabe921832b.png)

[2018-05-16 13:02] blaasvaer commented on #354
It's certainly NOT intuitive ...

[2018-05-16 13:07] huyphams commented on #354
Hi @blaasvaer each driver has difference implement. I always follow the native implement. PostgreSQL uses sequence for auto_increment. So you can set the sequence as the default value for the column like this:
<img width="649" alt="nice" src="https://user-images.githubusercontent.com/3654622/40118647-b3be1a46-5944-11e8-9e5c-d30500cd42c5.png">

[2018-05-16 13:07] blaasvaer commented on #354
I cannot set sequence to ANYTHING and save it. It just fails ...

[2018-05-16 13:08] blaasvaer commented on #354
Ok, and WHAT is the_sequence_name representing (what would a proper name be in relation to auto incrementing an id field)?

[2018-05-16 13:31] blaasvaer commented on #354
Great, thanks a lot!

[2018-05-16 17:54] felipehn commented on #284
still doesn’t work, but your select statement below works if the table “SYS” changes to “sys”,
this database is case sensitive for some reason, it was set with Collation Latin1_General_100_BIN
so i guess if you set that SYS to sys, it will work.

sorry for the inconvenience, and thanks a lot for the support

your program is great!

thanks,
Felipe.

[2018-05-16 18:01] huyphams commented on #284
Cool, Thank you so much.
Microsoft SQL Server is weird. Some user reported that the `information_schema` not work but after changing to `INFORMATION_SCHEMA` (upper case) it works.

But in your case, the information_schema completely not work, so I think I need to change all the queries to not using `information_schema`.

This bug will be completely fixed in the next update. I still need to inform

[2018-05-16 19:14] eberkund commented on #9
For anyone who comes across this, there was a lengthy update posted to [their blog](https://tableplus.io/blog/2018/04/tableplus-windows-version-when-is-it-coming-out.html)

[2018-05-17 02:42] huyphams commented on #284
Hi @felipehn I have changed all the queries to get rid of `information_schema` can you give this build a try? https://www.dropbox.com/s/d13ucw1agrnhqcl/TablePlus.zip?dl=0

[2018-05-17 04:55] felipehn commented on #284
this one did it!

thanks,
Felipe.

[2018-05-17 04:56] huyphams commented on #284
Great, it will be released tomorrow. Thank you 👍

[2018-05-17 19:48] rendom commented on #9
Linux :+1:

[2018-05-18 02:15] #428 closed

[2018-05-18 02:15] huyphams commented on #424
It's released in build 106 including flexible space, thanks for reporting the issue.

[2018-05-18 02:15] #424 closed

[2018-05-18 02:16] huyphams commented on #284
It's released in build 106, thanks for reporting the issue.

[2018-05-18 02:16] #284 closed

[2018-05-18 02:17] huyphams commented on #135
It's supported in the newest build.

[2018-05-18 02:17] #135 closed

[2018-05-18 02:18] huyphams commented on #392
All the issues were fixed in build 106.

[2018-05-18 02:18] #392 closed

[2018-05-18 07:25] huyphams commented on #403
it's fixed on build 106.

[2018-05-18 07:25] #403 closed

[2018-05-18 09:05] juicyarts commented on #428
Thanks for taking care that fast!

[2018-05-18 16:26] jozn opened #429 "Cassandra support?"
do you have plan for Cassandra?

[2018-05-18 16:43] huyphams commented on #429
Hi @jozn Casssandra is not a relational database, so I think it's hard to fit with the current TablePlus design but let me see.

[2018-05-20 09:24] ndastur opened #430 "Allow query parameters in SQL query window"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9 and 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
106

3. The steps to reproduce this issue:
New feature

Noted: If the bug is related to data, please attach an example SQL data.

It would be really great if SQL statements could be written with query parameter p

[2018-05-20 18:46] majorproblem opened #431 "Support for Mimer SQL"
Please conducer adding support in TablePlus for Mimer SQL (https://en.wikipedia.org/wiki/Mimer_SQL). I use this database a lot, especially for embedded work, and a native macOS client would be great!

I know the developers very well so if you need support for, for instance hints as to how to parse system tables etc., please just ask.

[2018-05-21 03:52] huyphams commented on #430
Thanks for the suggestion, but I want to confirm the feature. Is this what you're looking for?
<img width="212" alt="screen shot 2018-05-21 at 10 51 00 am" src="https://user-images.githubusercontent.com/3654622/40289868-056de904-5ce5-11e8-808d-ae06115eb18e.png">

[2018-05-21 03:54] huyphams commented on #431
Hi thanks for the suggestion. We will consider it, seriously.

[2018-05-21 13:07] ndastur commented on #430
Hi @huyphams . No not really. I was think more about being able to use a SQL statement like:

[code]

And then there would be a key / value form with two columns

[code]

[2018-05-21 18:02] dcorkettAlpha opened #432 "Convert lowercase keywords to uppercase when typing SQL Queries"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9 and 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
106
3. The steps to reproduce this issue:
New feature

Noted: If the bug is related to data, please attach an example SQL data.

This isn't an essential feature, but a nice to have.

 When I am creating long stor

[2018-05-22 01:46] huyphams commented on #432
Hi thanks for the suggestion, but have you tried the Beautify (command + I)?
<img width="171" alt="screen shot 2018-05-22 at 8 46 05 am" src="https://user-images.githubusercontent.com/3654622/40337921-956a2dbc-5d9c-11e8-9ed7-1b3559f5be03.png">

[2018-05-22 14:18] jmfederico opened #433 "backtick not properly escaped"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

build 106

3. The steps to reproduce this issue:

When creating o renaming a column, or table or index, TablePlus is not properly escaping backticks (`).

For instance, if one is to create a column named ```my`column```,

[2018-05-22 14:27] huyphams commented on #433
Hi thanks @jmfederico for the reporting. I have thought about it when implementing this feature but I didn't know that somebody uses a special character in their identity. it's weird to me.
Btw, TablePlus should handle it better. I will fix it.

[2018-05-22 15:42] huyphams commented on #433
it's fixed in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks.

[2018-05-22 16:12] johnbona opened #434 "Add new row in SQL query editor"
Would be great to be able to add a new row in the SQL query editor (similar to MySQL Workbench) instead of having to switch to the table's data view to add a row.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 106

[2018-05-22 19:19] jmfederico commented on #433
👍

[2018-05-22 22:09] jmfederico opened #435 "Copying results should not include quotes."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 106

3. The steps to reproduce this issue:

When copying results from a query, the results should not be copied with quotes around them, That breaks changes the actual results.

For instance, when running the follo

[2018-05-23 02:15] huyphams commented on #435
Hi @jmfederico default, TablePlus copy content as `CSV`, you can change the behavior (such as Quote, Terminate, line break...) in preferences:

<img width="562" alt="nice" src="https://user-images.githubusercontent.com/3654622/40399878-d65c6556-5e69-11e8-9d55-a97c43fa72d5.png">

[2018-05-23 02:20] jmfederico commented on #435
Ah, whold have never thought of looking in preferences.

Thanks.

[2018-05-23 02:20] #435 closed

[2018-05-23 21:42] nrasmus opened #437 ""Items" list is suddenly empty after database "upgrade""
Love this app!

A production database for our primary application was recently upgraded and ever since, the "Items" tree in the left pane that lists tables and views is now persistently empty.  I thought it could be a permissions change our vendor implemented, but the issue exists for the sa credentials as well.  Any ideas how to further debug?  Our test database has not been upgraded yet, and it

[2018-05-24 02:11] huyphams commented on #437
Hi thanks, @nrasmus for the reporting.

I have no idea what Microsft is doing because I had to get rid of information schema on this issue: https://github.com/TablePlus/TablePlus/issues/284
But looks like it is broken again on another version.

We have a changelog here with old version: https://tableplus.io/blog/2017/02/changelogs.html you can download build 105 for the hotfix. I will investigate

[2018-05-24 03:53] nrasmus commented on #437
Thank you--I am getting null results for that query.
<img width="476" alt="horizon___horizon_-_microsoft_sql_server_2008" src="https://user-images.githubusercontent.com/5594435/40463670-878cc094-5ee4-11e8-8c69-3f6cd247c517.png">

[2018-05-24 04:11] huyphams commented on #437
Does it report any error message? I read the document and it says that sys.tables and sys.schemas are supported from [SQL Server 2008](https://docs.microsoft.com/en-us/sql/relational-databases/system-catalog-views/sys-tables-transact-sql?view=sql-server-2017)

[2018-05-24 04:13] huyphams commented on #437
Hi @nrasmus can you try again with this query, I remove sys.views
[code]

[2018-05-24 13:36] nrasmus commented on #437
Tried it with single quotes for the aliases, and got the tables and views--could that be the issue?

[2018-05-24 14:28] huyphams commented on #437
Hi, I have changed the query based on your feedback: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0 Can you give this build a try? I hope it fixed. this change will be released tomorrow.

[2018-05-24 14:31] nrasmus commented on #437
Yep--it works.  Thanks!

[2018-05-24 15:34] jstenquist commented on #331
Without this, I've gotta stick to Querious.

[2018-05-25 03:26] huyphams commented on #352
This feature is released in build 107.

[2018-05-25 03:26] #352 closed

[2018-05-25 04:54] #344 closed

[2018-05-25 04:57] huyphams commented on #290
Hi @leeola can you try with the lasted build 107?

[2018-05-25 10:29] andretti1977 opened #438 "Applying current_timestamp and on update changes produces wrong sql"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5.7
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
ver 1.0 (107)
3. The steps to reproduce this issue:
tried to apply current_timestamp and on update current timestamp to two timestamp fields, it produces incorrect sql (problem is with first alter you can see in preview)
No

[2018-05-25 13:47] richardpenner commented on #352
It works just as I'd hoped. Thank you!

[2018-05-25 14:52] leeola commented on #290
Unfortunately I don't have a system I can test this on for a while; can't be of help to repro this, sorry. I'll try to test this when I do, but I'm not sure on the timeframe of that. Feel free to mark as resolved, I'll ask for reopen if I find any ongoing issue here. Thanks!

[2018-05-26 05:13] huyphams commented on #438
Hi, sorry because of the late response. I will fix it in the next update 108.

[2018-05-28 19:40] keremkayhan opened #439 "Can not connect to MySQL over SSH"
MySQL version 5.7.22
Build 107

1- Fill connection form with SSH user credentials
2- Test connection --> OK (all inputs green)
3- Connect

Result: Stuck on connection screen.

[2018-05-28 23:40] ndastur opened #440 "Add the LIKE and ILIKE comparison operators to the filter"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Latest

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-05-29 02:19] huyphams commented on #440
Hi @ndastur you can use `contains`, `not contains`, `has prefix`, `has postfix` for `LIKE` operation.
<img width="546" alt="screen shot 2018-05-29 at 9 18 32 am" src="https://user-images.githubusercontent.com/3654622/40634854-641502ac-6321-11e8-8944-0566ef117b8a.png">

[2018-05-29 02:28] huyphams commented on #439
Hi @keremkayhan may I ask you some question about your setup?

1. How big is your database (thousands table, thousands database)...
2. Have you entered `database name` in connection form?

I think there is an issue when loading some metadata, can you leave the database name field empty and try again?

<img width="612" alt="aaa" src="https://user-images.githubusercontent.com/3654622/40635089-907af8

[2018-05-29 07:00] keremkayhan commented on #439
Hey @huyphams,

1. It is not a big databese. (9 databases at the moment)
2. Database name was already empty. (I tried it with a database name. No change)

![image](https://user-images.githubusercontent.com/5699037/40642737-ac7aa704-6326-11e8-9e7d-c8ab5e48e9e2.png)

[2018-05-29 12:48] bodva opened #441 "Can not create new database on Microsoft SQL Server 2017 on AWS"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2017
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
107
3. The steps to reproduce this issue:
- Up and run new Microsoft SQL server on AWS
- Connect to this server
- Open database list
- Press "+Database" button
- Enter the name

**Actual result:**
- get the

[2018-05-29 12:50] huyphams commented on #441
Hey @bodva thanks, I will look into it.

[2018-05-30 02:51] anfieldleung opened #442 "Cannot view other schemas on PostgreSQL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.1.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
107

3. The steps to reproduce this issue:
Opened a connection to DB, in the left bottom corner, I couldn't find other schemas on the selected db.
<img width="250"  src="https://user-images.githubusercontent.com/347

[2018-05-30 02:52] huyphams commented on #442
Hi @anfieldleung probably acm was created by the system user. Can you go to preferences and stick on this option:
<img width="218" alt="nice" src="https://user-images.githubusercontent.com/3654622/40696233-2be18f44-63ef-11e8-8768-3ba8b10287aa.png">

[2018-05-30 03:02] anfieldleung commented on #442
Awesome!

[2018-05-30 03:02] #442 closed

[2018-05-30 03:09] huyphams commented on #442
Hi @anfieldleung I just optimized the code filtered system schema. Now, TablePlus only filters schema was created by PostgreSQL (not by the user).

You can download the hot patch here:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-05-30 07:32] huyphams commented on #439
Hi @keremkayhan looks like the server you ssh is not the database server, is that the proxy server?
And can you show me the message was shown on the workspace screen?
<img width="1222" alt="aa" src="https://user-images.githubusercontent.com/3654622/40705828-230d4dd2-6416-11e8-9745-d368f7690ed3.png">

[2018-05-30 14:31] thenaturalist opened #443 "Item side panel jumps to fixed width when trying to resize"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 10.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

107

3. The steps to reproduce this issue:

Open new DB connection, search for table in items, try to resize left side panel by pulling it to the right. Upon releasing the cursor, the panel jumps back to a fixed wi

[2018-05-31 08:55] huyphams commented on #222
Hi @stephane Can you check the build 107? TablePlus supports socket now. You can use the field host for socket.
<img width="612" alt="screen shot 2018-05-31 at 3 55 30 pm" src="https://user-images.githubusercontent.com/3654622/40772754-0e198ba4-64eb-11e8-85c8-6ef51eebb3cd.png">

[2018-05-31 12:36] jamesratcliffe commented on #222
It works for me on build 107; I can connect. Thanks a lot!!

However, the connection window doesn't match your screenshot. The field is still labelled "Host", not "Host/Sock":
<img width="500" alt="screen shot 2018-05-31 at 8 35 18 am" src="https://user-images.githubusercontent.com/20323342/40782506-916ea338-64ad-11e8-9163-aa0200e530e9.png">

[2018-05-31 12:38] huyphams commented on #222
Yes because I have changed the title in the next build 108.

[2018-05-31 16:21] keremkayhan commented on #439
Hey @huyphams, I can connect to the server over SSH with Sequel Pro or any other database clients.
And here is the message.
Thanks.

![image](https://user-images.githubusercontent.com/5699037/40794365-98a197f0-6507-11e8-82d9-6f122636757d.png)

[2018-05-31 22:54] agiguere opened #444 "Nice to have: CoreData sqlite right click to open"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQLite

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
107

3. The steps to reproduce this issue:

It would be nice to be able to right click on an sqlite file directly and choose TablePlus to open it

right now when I tried to right click and choose TablePlus to open my iOS Core

[2018-06-01 01:29] huyphams commented on #444
Hey @agiguere You can double click on SQLite file to open in TablePlus. TablePlus support file with extensions: .db, .sqlite, .sqlite3

[2018-06-01 03:02] #222 closed

[2018-06-01 08:40] stephane commented on #222
@huyphams It works! Thank you.

[2018-06-01 14:59] agiguere commented on #444
no, you can't do that, Apple CoreData file in the simulator have extension .sqllite

if I right click the file and choose open with program TablePlus you gave me this error

<img width="854" alt="screen shot 2018-06-01 at 10 55 56 am" src="https://user-images.githubusercontent.com/8300810/40847595-d18b84f8-658a-11e8-9411-d02c7a6cbc32.png">

[2018-06-01 15:01] agiguere commented on #444
Apple core data file extension is sqllite and not sqlite

[2018-06-01 15:02] huyphams commented on #444
That made sense, TablePlus doesn't support sqllite (double l) at this time. Probably I should add it in next update. Thanks.

[2018-06-01 15:15] huyphams commented on #444
You can try the new build here, it supports sqllite extension: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-06-01 15:54] agiguere commented on #444
thanks, I could wait until the next update, that would be a nice addition for iOS developers

funny fact, if I create a new connection and select the sqllite file, it works

it's juste the right click to open that does not work

[2018-06-01 17:38] ruanltbg opened #445 "Bug: Edit two tabs"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
107

3. The steps to reproduce this issue:
When I have two tabs open and I try to save data on both tab the SQL is wrong, it tries to save data from table A in table B and the data from table B in table A.

![image]

[2018-06-02 02:15] huyphams commented on #445
Hey @ruanltbg thanks. But in the next time it happens, could you take a screenshot this screen? it helps me a lot to reproduce the bug.
<img width="896" alt="screen shot 2018-06-02 at 9 13 30 am" src="https://user-images.githubusercontent.com/3654622/40869451-73b4ddc8-6645-11e8-9074-609524e5372f.png">

[2018-06-03 10:52] telcy opened #446 "Can not set varchar field back to NULL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 108

3. The steps to reproduce this issue:
Create a table with a varchar column. Add some text and try to set it back to NULL.

Noted: If the bug is related to data, please attach an example SQL data.

[2018-06-03 11:09] huyphams commented on #446
Hi @telcy there are two ways to set NULL for varchar field (and other fields).
- Hold option + Click on the cell.
- Use the right panel.
See the picture below.
<img width="1002" alt="null" src="https://user-images.githubusercontent.com/3654622/40885892-419c98b6-6759-11e8-8511-3c4d9823254d.png">

[2018-06-03 11:10] #446 closed

[2018-06-04 15:22] ruanltbg commented on #445
@huyphams the red one is the wrong query.

![image](https://user-images.githubusercontent.com/237136/40926170-9028f1b0-67e9-11e8-9c6a-4edea535c2ba.png)

[2018-06-05 02:47] mcbridedm commented on #263
When you say to look at the SQL that is going to be used, do you mean the Definition button?

I noticed this comment in the Definition:

[2018-06-05 04:20] huyphams commented on #445
Hey @ruanltbg I can reproduce the bug and it's fixed now in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

You can reproduce the bug by following this gif.
![2018-06-05 11 19 29](https://user-images.githubusercontent.com/3654622/40955133-5f4bc6de-68b2-11e8-9bc9-dc02a6335c8d.gif)

[2018-06-05 06:51] Chris1904 commented on #331
I would love to see this enhancement as well!

[2018-06-05 09:08] welcoMattic opened #447 "Import from gzipped file"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
All

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 108

It will be useful to allow import of gzip files that contains .sql files instead of unzip them and import as text. Espacially when unzipped files are about tens of Go.

Thanks for your work 👍

[2018-06-05 09:57] huyphams commented on #429
Hi @jozn, the next build 108, TablePlus will support Cassandra.

[2018-06-05 09:57] huyphams commented on #324
Hi @lrecknagel, the next build 109, TablePlus will support Cassandra.

[2018-06-05 10:00] #324 closed

[2018-06-07 21:30] cevin commented on #419
🤣🤣🤣🤣🤣  i like you

[2018-06-08 10:08] #429 closed

[2018-06-08 10:08] #445 closed

[2018-06-08 17:14] keithmullins opened #448 "Autocomplete not appearing for objects outside of the default dbo schema in SQL Server"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
109

3. The steps to reproduce this issue:
In the SQL Editor the autocomplete doesn't appear for objects that are outside of the default dbo schema. For example, I have a table called `Products` in both the `dbo` schema a

[2018-06-08 18:13] huyphams commented on #448
I have fixed this issue in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for the reporting.

[2018-06-08 19:15] CliffWMiller opened #449 "Unable to create or edit connections once any connection is open (UX/Flow issue)"
1. Which driver are you using and version of it: PostgreSQL 10.1

2. Which TablePlus build number are you using: 109

3. The steps to reproduce this issue:

I don't think this is a bug so much as it is a UX/Flow issue.

The only place I seem to be able to add or edit a connection is the welcome splash window when I first open TablePlus. Once I've connected to a database and am inside the full appl

[2018-06-08 20:49] keithmullins commented on #448
Thank you for looking at this so quickly. I have tried out the new build and it works great for `SELECT` statements but I do not have the autocompletion when running `FUNCTION`s or `STORED PROCEDURE`s - I am not sure if this functionality is in TablePlus though.

For example, if I type `SELECT * FROM Archive.Pro` I now get autocompletion but if I type `EXEC Archive.spArc` I don't receive any autoc

[2018-06-08 22:46] huyphams commented on #449
Hey thanks, you can do it by pressing Command + N. I will improve this ux by adding the menu in next update 👍

[2018-06-09 05:31] huyphams commented on #449
I just added it to the menu bar in this build:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

<img width="318" alt="screen shot 2018-06-09 at 12 31 26 pm" src="https://user-images.githubusercontent.com/3654622/41188015-0ebe199c-6be1-11e8-91db-25fdb29e4376.png">

[2018-06-09 14:43] fairchild commented on #430
Similarly,

[code]

That would allow ruby devs to use it in most simple string interpolation cases I run into day to day.  This would be very handy.  I find myself going thru hoops with some weird spacing  and commented lines to dial in a query in TablePlus, and then pasting back into code, with extra work and occasional error.  It would be handy to be able to specify

It would be super awesome if

[2018-06-09 14:50] fairchild commented on #395
I'd find this very useful also.  This seems related to #430.  Only having placeholder in favorites would work great for the use case I run into.  In general, ways to make it easier to create and use favorites would be useful.

[2018-06-09 15:28] ndastur commented on #440
Thanks @huyphams but ILIKE in order to do case insensitive search would be a real plus

[2018-06-09 17:49] SolomatovS opened #450 "MySQL: The content of functions (procedures) is not displayed when its name has a point"
Percona MySQL 5.7.22-22
TablePlus 1.0 (109)

The steps to reproduce this issue:
0. Create a test data base:

[code]

1. Create a function (or stored procedure) which name has a point:

[code]
2. Make sure that the function exists on the server:
[code]
3. Entering TablePlus, we open data base `test`, and see that TablePlus doesn't display the function content because the function name has a point
!

[2018-06-10 02:40] huyphams commented on #450
Hey @SolomatovS thanks for the reporting and the awesome gif, I fixed it in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
I forgot to add brackets when getting function definition.

[2018-06-10 15:13] SolomatovS commented on #450
very fast fix it, thnx!

[2018-06-10 15:13] #450 closed

[2018-06-10 16:09] huyphams commented on #450
@SolomatovS you can change the title bar color by clicking on the title bar

[2018-06-10 19:38] keithmullins commented on #448
Hey @huyphams - thanks again for looking at this so quickly. This is now working in the newest version!

I am really enjoying using your product. I have found a few other issues but I will log them separately! More work for you :-)

[2018-06-10 20:01] keithmullins opened #451 "Add autocompletion for stored procedure / function parameters"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
109

3. The steps to reproduce this issue:
It would be really nice to have autocompletion for stored procedures and functions that tells you what the parameters are for the sp / function. This detail is available (for SQL

[2018-06-11 06:40] bulletRush opened #452 "[not important] too many connection error dialog when disconnect multi connection"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

* open multi connections
* disconnect network (close mac book)
* then there will have multi connection error dialog

![image](https://user-images.githubusercontent.com/5211881/41215905-0322d0f

[2018-06-11 06:41] huyphams commented on #452
Hey @bulletRush thanks for the reporting. I will optimize this behavior.

[2018-06-11 08:25] ace-express opened #453 "tablePlus have not remark display for production and development db"
if I connected two database, one production db, another local database,  but database name is same,It is not convenient to see which one is production database.
![image](https://user-images.githubusercontent.com/11252473/41220776-fe1b1ba2-6d94-11e8-92de-42a2bd7db945.png)

[2018-06-11 08:27] huyphams commented on #453
Without the information, I can’t help.

[2018-06-11 08:34] liufengsoft commented on #453
@huyphams Added information

[2018-06-11 08:34] huyphams commented on #453
Thanks, that made sense. I aware of that and it is already in our plan.

[2018-06-11 08:36] liufengsoft commented on #453
@huyphams thinks very much

[2018-06-11 09:58] ayalbelling opened #454 "update procedure uses drop function instead of drop procedure so fails"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-06-11 09:59] ayalbelling commented on #454
As per title - i.e. existing procedure, make change, run commit and it uses DROP FUNCTION and so fails. Microsoft SQL Server, version 1.0 (109) Mac.

[2018-06-11 10:00] huyphams commented on #454
Thanks, it will be fixed in the next release.

[2018-06-11 10:11] ayalbelling opened #455 "clustered indexes not always showing in index pane"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-06-11 10:14] ayalbelling commented on #455
Microsoft SQL Server, v1.0 (109) Mac

Used this in the SQL pane, opened table, viewed the structure and the primary key index isn't in the index pane but does exist. Tested its existence by trying to add it in the pane and the error returned shows the index exists.

CREATE TABLE [dbo].[TempTable] (
    [oID] bigint IDENTITY (1, 1) NOT NULL,
	[Name] nvarchar (256) not null,
    PRIMARY KEY CLUSTERE

[2018-06-11 10:15] huyphams commented on #455
Thanks @ayalbelling for the helpful detail. I will take a look into it.

[2018-06-11 16:02] alvint commented on #226
Hi, is there an ETA for Oracle support? I'm looking for an excuse to buy this. :)

[2018-06-11 16:05] huyphams commented on #226
Hey @alvint we're planing to support it in July.

[2018-06-11 16:08] alvint commented on #226
Thanks, buying it now! If you need someone to help beta test a version with Oracle support, let me know. I've been a developer for 30+ years so my feedback may be useful.

-Alvin

[2018-06-11 16:12] huyphams commented on #226
Sure @alvint i'm surely to update this thread when it's ready.

[2018-06-11 19:22] SolomatovS opened #456 "MySQL: Not possible to run several queries in different tabs asyncronically"
Percona MySQL 5.7.22-22
TablePlus 1.0 (109)

The steps to reproduce this issue:
0. We create the test data base "test" and a table "test" in it.
[code]

1. We run a long query (30k sec) by:
`select sleep(30000);`

2. Then we open the second tab and try just to see what queries are now running in MySQL
`CMD+T`
`show full processlist;`

In the second, third and all following tab a new query is not p

[2018-06-11 20:12] CliffWMiller commented on #449
Awesome! That's perfect.

Sorry I didn't realize that New Workspace would get me what I need. For some reason it just didn't sound like what I was looking for.

[2018-06-12 02:14] huyphams commented on #456
Hi @SolomatovS that's because there is only 1 connection in the workspace so it cannot run multiple queries at the same time. You can open two workspaces for async.

[2018-06-12 02:19] huyphams commented on #456
If I make a new query for every tab, there are some trade-off:
1. Some users have a restricted number of connections, so they can't make more than 1 connection at the same time.
2. Many users use SSH to connect to the server, TablePlus can be slowed down in this situation.

The solution is you can open multiple workspaces for an async task, you can use command + shift + K to do it.

[2018-06-12 02:52] huyphams commented on #455
I checked @ayalbelling currently, TablePlus hide primary index. I just enabled it on this build:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thank you so much.

[2018-06-12 03:02] #444 closed

[2018-06-12 08:01] arliber opened #457 "Keep "filters" open by default"
Apologies if there is already a way to do that but it will be super nice if TablePlus would remember that I opened the "filters" bar so I won't have to click the button at the bottom of screen each time I open a new tab.

Thank you

[2018-06-12 08:03] huyphams commented on #457
Hi, there is a shortcut key: command + F and many other shortcuts:
<img width="638" alt="screen shot 2018-06-12 at 3 02 29 pm" src="https://user-images.githubusercontent.com/3654622/41277534-b13b477c-6e51-11e8-9d37-5759089b222f.png">
We won't show filter by default because it reduce the view size of table content.

[2018-06-12 08:04] huyphams commented on #457
But probably, we can remember the last state of the filter (show/hide) of the table.

[2018-06-12 09:19] coisnepe opened #458 "Default dump names without spaces, or configure a default pattern for dump filenames"
Right now, when backing up a database, the default name generated looks like this: `my_database-12 June 2018`. Restoring a dump from the command line will fail because words after the first space are parsed as arguments. Generating `my_database-12_June_2018` would be safer.

Even better would be configuring a default name pattern from the Preferences pane: `[db_name]_[YYYY][MM][DD]`, `[YYYY][MM][D

[2018-06-12 09:43] huyphams commented on #458
Hey thanks @coisnepe for the reporting. I will fix it in the next release.

[2018-06-12 10:10] ayalbelling opened #459 "Modifying default constraint created add constraint script which fails"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-06-12 10:12] ayalbelling commented on #459
Ms SQL Server, v1.0 (109) Mac. This was attempted on an NVARCHAR(10). Also, setting an existing default constraint to null created an ADD CONSTRAINT script rather than dropping the constraint.

[2018-06-12 10:18] huyphams commented on #459
Hi @ayalbelling thanks for the feedback. it should be fixed in the next update.
Btw, when adding support database driver, I find out that Microsoft always has weird syntax. That needs a lot of time to work around.

[2018-06-13 11:00] arliber commented on #457
cmd + f is good enough - should've looked at shortcuts first.
Thanks for making this - big fan :)

[2018-06-13 11:00] #457 closed

[2018-06-13 12:53] josser opened #460 "ERR wrong number of arguments for 'get' command for Redis DB for keys with spaces"
1. Redis 3.2.6

2. Build 109

3. Values of keys with spaces are not displayed.

Here is screenshot:
![screen shot 2018-06-13 at 15 52 59](https://user-images.githubusercontent.com/103639/41352338-e2664f7e-6f21-11e8-900a-019543419c99.png)

[2018-06-13 15:29] huyphams commented on #460
Hi that because there are spaces in key, I find out that the current Redis lib is not supported space. I will find the other way to do it. Thanks for the reporting.

[2018-06-14 02:34] alphatr opened #461 "OverSSH connection support ECDSA"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL  Ver 15.1 Distrib 10.0.21-MariaDB

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

build 109

3. The steps to reproduce this issue:

I can't connection my server in overSSH ecdsa pubkey, and use rsa pubkey success. when I use ssh connect server over ecdsa still success

No

[2018-06-14 02:55] huyphams commented on #461
Hey thanks @alphatr, I will look into it.

[2018-06-14 03:09] huyphams commented on #460
I'm starting to working on this issue, now you can get the value of the key with spaces. You can download here:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

Remaining: support custom query with space and command generate with space.

[2018-06-14 07:20] josser commented on #460
Cool! Thank you!
This is not very critical to my workflow so I can wait until next public build :)

[2018-06-14 14:30] bulletRush opened #462 "[experience problem] filer window is been hide; connection side bar can't scroll"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Q1:

* open more than 16 connections.
* dumplicate an exist connection which used filter before
* then the new connection filter window is benn hided
![image](https://user-images.githubusercon

[2018-06-14 14:44] huyphams commented on #462
Thanks, @bulletRush for the feedback, I will look into it and fix it. Btw TablePlus is on build 109 now, it contains a lot of other bug fixes.

[2018-06-15 05:52] lrecknagel opened #463 "[UX] allow modification of tablenames in left sidebar"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): not relevant

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):  109

[2018-06-15 07:29] huyphams commented on #463
Hi, it can be the easiest way to rename a table but I can lead the UX more complicated (it's not a high-frequency feature.)

[2018-06-15 08:40] #460 closed

[2018-06-15 08:41] #458 closed

[2018-06-15 08:41] #455 closed

[2018-06-15 08:41] #452 closed

[2018-06-15 08:41] #449 closed

[2018-06-15 08:48] msageryd opened #464 "Owner is not shown for functions (Postgres)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
110

3. The steps to reproduce this issue:
Click on "Functions" in the sidebar to see a list of functions in the current schema. The owner column shows "--".

![image](https://user-images.githubusercontent.com/4483085

[2018-06-15 08:50] huyphams commented on #464
Hey thanks for the reporting @msageryd , I will fix it in the next update.

[2018-06-15 08:53] msageryd commented on #464
Wow!
This was a fast reply. TablePlus does not quite cut it yet for me to get rid of SQLPro, but the potential is there. I'm very impressed with the speed of the product and the speed of the development.

I bought a TP licence to support your work. This will be very interesting.

[2018-06-15 08:59] msageryd opened #465 "Switching schema in the GUI could be better"
1. It would be great to have a keyboard shortcut for switching schemas. I might have missed it, but AFAIK I have to klick with the mouse in the combobox in the lower left of TP to switch schema.

2. When a list of items or functions is open while switching schemas, this list is not refreshed to reflect the items/functions in the new schema.

3. I really like that the "Recent" folder holds objects

[2018-06-15 09:05] ayalbelling commented on #454
Thanks for all of these fixes!

On Fri, 15 Jun 2018 at 10:41, Huy Pham <notifications@github.com> wrote:

[2018-06-15 09:06] msageryd opened #466 "Dark theme needs some fixing"
![image](https://user-images.githubusercontent.com/4483085/41460173-09decc82-708c-11e8-8906-22ecaeeca462.png)

The top "address"-row is barely readable in the dark theme

[2018-06-15 09:07] huyphams commented on #465
1. I have some idea to improve the UX, (but still thinking). We can use the `Open Anything` (Command + P) with some special syntax. Like `> schema name` to quickly navigate to a schema and also change the search patch (in case you want to run a query in SQL Query without schema prefix).
2. I think we should keep the current behavior, `item overview` is just like a table data.
3. I will try to repr

[2018-06-15 09:09] huyphams commented on #466
You can change the title color by clicking on the title bar. The reason I keep the color when changing the color schema because some users choose their favorite color (Example: for production). If I changed it, that may cause some hazard because they can't recognize it is a production database.

<img width="1132" alt="screen shot 2018-06-15 at 4 09 11 pm" src="https://user-images.githubusercontent

[2018-06-15 09:13] msageryd commented on #466
Thanks!
That's really great.

[2018-06-15 09:13] #466 closed

[2018-06-15 09:15] ayalbelling commented on #454
Actually, this one isn't fixed I'm afraid. Delete from the menu and then
commit works, but editing a procedure then commit still uses drop function.

On Fri, 15 Jun 2018 at 11:05, Ayal Belling <ayal@belling.co.za> wrote:

[2018-06-15 09:18] msageryd commented on #465
Pleas don't change the search_path! I type all my objects with schema name when I write functions and stuff, to protect me from biting myself the day I don't have a search_path defined.

Ok, the cmd+P might work. I thought it would be easy to just implement a shortcut for moving focus to the schema combo box.

[2018-06-15 09:21] bulletRush opened #467 "[bug report] multi update only one history"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

* update one record, then there will have one history log
* update other record, history window not refreshed
* update again, then there will have three history log

Noted: If the bug is relat

[2018-06-15 09:22] msageryd opened #468 "Please increase contrast in the dark theme tabs"
The tabs in dark theme could use a bump in visibility, both by increased contrast and by better separation.

![image](https://user-images.githubusercontent.com/4483085/41460772-04f145e0-708e-11e8-8e45-67f4c48c6534.png)

Compare to this screen shot from VSCode. Quite subtle differences, but VSCode is much easier on the eyes.

![image](https://user-images.githubusercontent.com/4483085/41460801-1871d

[2018-06-15 09:22] huyphams commented on #467
Hey @bulletRush TablePlus history is based on Connection-Database, so there are multiple histories.

[2018-06-15 09:24] bulletRush commented on #467
@huyphams seems like history window not refreshed

[2018-06-15 09:26] bulletRush opened #469 "need strict mode"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-06-15 09:30] msageryd commented on #465
Second thoughts on (2).
The actual tree view in the sidebar is refreshed when I switch schema. It would feel way more natural if the currently opened `item overview` also refreshed, IMHO.

[2018-06-15 09:31] huyphams commented on #467
Ah, I was wrong, it's only based on connection. I will think about it.

[2018-06-15 09:41] huyphams commented on #454
Thanks, I missed that case. Just fixed it: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-06-15 09:54] huyphams commented on #469
Hi @bulletRush does the column `status` is primary key? which is the primary key of the table?

[2018-06-15 09:56] huyphams commented on #469
TablePlus generates update statement based on primary key, if the table has a compound index, it should be a compound condition.
<img width="1257" alt="screen shot 2018-06-15 at 4 55 27 pm" src="https://user-images.githubusercontent.com/3654622/41462398-ee986ca4-70bc-11e8-92ec-bf8658f02737.png">

[2018-06-15 10:05] bulletRush commented on #469
@huyphams status is not primary key. I mean we should have a mode so that if anyone else have changed the status, our update operation should failed.

[2018-06-15 10:06] bulletRush opened #470 "[bug] dark mode behavior error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* build 109

3. The steps to reproduce this issue:
![image](https://user-images.githubusercontent.com/5211881/41462859-da1c6dfc-70c6-11e8-817a-2a3f0e2142e8.png)

Noted: If the bug is related to data, please attach an example SQL dat

[2018-06-15 10:09] huyphams commented on #470
It’s duplicated https://github.com/TablePlus/TablePlus/issues/466

[2018-06-15 10:09] #470 closed

[2018-06-15 10:11] huyphams commented on #469
TablePlus have safe mode. Is that the feature you’re looking for? (The lock icon on the toolbar)

[2018-06-15 10:13] alvint commented on #469
Just my two cents, but this sounds like business logic that is too specific a use case. If included, it would cause more confusion than usefulness. -1.

[2018-06-15 12:28] msageryd opened #471 "Shortcut cmd+enter does not work from within a function definition"
1. Open a function definition by selecting the function in the sidebar

2. Press cmd-enter to open a new SQL Query

3. Nothing happens

[2018-06-15 12:30] msageryd commented on #471
Update..
No shortcuts seem to work from within a function-tab.

I tried to move to tab no 3 by pressing cmd+3, didn't work.
Manually selecting tab no 3 and then pressing cmd+2 works (i.e. went back to the function tab)

[2018-06-15 13:43] msageryd opened #472 "Protection for function overwriting would be great"
Postgres 10
TablePlus 110

I often take an existing function as a template when creating a new similar function. The ctrl-S thing is very convenient when I want to alter an existing function, but this has also bitten me.

1. Open an existing function by clicking on it in the sidebar
2. Change the name and the body to your suiting
3. Accidentally hit Ctrl-S (instead och copying the new function to

[2018-06-15 13:46] msageryd commented on #472
Update..
The function was not overwritten. After refreshing I found that the original function still was intact.

But:
- What happened to the new function? Lost in space?
- It would still be great with a solution a la point 2 above.

[2018-06-15 19:46] alvint opened #473 "SQLite: Changes to columns aren't saved"
Possibly related is issue #242

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQLite 3.23.1
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
110
3. The steps to reproduce this issue:
- connect to a DB
- create a new table
  - add a column.
- hit CMD-S to save. it saves correctly
- edit the added column (for example, rename it)

[2018-06-15 19:49] alvint commented on #473
I'm not sure if this is related, but the preview SQL when editing a table is always blank.

[2018-06-15 20:13] alvint opened #474 "SQLite: when creating a table, default to the `integer` data type for the ID column"
Currently, the default data type used for the ID column when creating a new table is `serial`. However, there use no `serial` datatype in SQLite. There is no error shown because SQLite simply assumes a data type of `number` if the given type doesn't match a type it knows.

The correct data type for SQLite primary keys is `integer` (not `int`). If a table has a single primary key column of type `in

[2018-06-15 20:32] alvint commented on #473
I'm going to assume this is because you cannot use `alter table` to modify columns in SQLite.

[2018-06-15 20:46] SolomatovS opened #475 "MySQL: Editing of the Procedure/Function forms an incorrect SQL Statement for DROP"
TablePlus 1.0 (110)
Percona MySQL 5.7.22-22

If editing procedure, a query for DROP will be performed, and after that CREATE of a new procedure
![2018-06-15 22 12 11](https://user-images.githubusercontent.com/9378822/41486702-458ef484-70ee-11e8-95da-d6319a8023ef.png)

1. pay attention that this query for drop has "DROP FUNCTION IF EXISTS" instead of "DROP PROCEDURE IF EXISTS";
2. The name of the d

[2018-06-16 01:04] huyphams commented on #475
Hi @SolomatovS I have fixed it yesterday on this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for the reporting.

[2018-06-16 01:27] huyphams commented on #474
There are some strange behaviors:
1. if I keep the ID column to serial. After hitting the command + S, it will create an index.
2. If I change it to integer => no index:

<img width="1170" alt="screen shot 2018-06-16 at 8 27 10 am" src="https://user-images.githubusercontent.com/3654622/41494572-19b34e72-713f-11e8-8c12-535986ce3236.png">

I will research more and update it in next release.

[2018-06-16 01:31] huyphams commented on #472
Yup, the function will be overwritten because TablePlus will drop the old function first. You can create a new function by right click on the item listing: `New > Function`.

[2018-06-16 01:46] bulletRush commented on #469
@huyphams for example, If you have open a connection too long and not refreshed. Then you may see a invalid status of your record. If you use your table to record your customer money, you may see their balance is 1000. but their may have other program modify this record to 2000. Then you want discount their balance with 10. so you input 9990 and update it and success. but in fact, the balance shou

[2018-06-16 02:16] huyphams commented on #469
Hey, @bulletRush Now, I understand your situation. But I think I can't add it (or at least in the near future). it's too specific and maybe not necessary with the other customer like @alvint

[2018-06-16 12:40] alvint commented on #474
SQLite always creates a special hidden `rowId` column when creating a table (unless you tell it not to). This column uniquely identifies every row in the table. When a single `integer` column is used as the primary key, SQLite doesn't actually add that column; it just creates an alias from your column name (`id` in this case) to that `rowId` column.

Since `rowId` is already unique, SQLite doesn't

[2018-06-17 12:11] msageryd opened #476 "Alternating grid row colors does not work in dark theme"
![image](https://user-images.githubusercontent.com/4483085/41507687-1a7572dc-7238-11e8-8780-f5e92eaebbd7.png)

With alternating row background:
![image](https://user-images.githubusercontent.com/4483085/41507688-22055846-7238-11e8-9201-546f3c485741.png)

Without alternating row background:
![image](https://user-images.githubusercontent.com/4483085/41507693-3ba11d08-7238-11e8-8ac1-7efb54314e04.png)

[2018-06-17 12:23] msageryd opened #477 "Show server version instead of driver version"
It seems that TP shows the driver version in the connection line. I'd rather see the server version. Maybe the driver version in parenthesis?

I went ahead and looked for some error in my Dockerfile, but it turned out that the server had the correct version (10.3). I was just mislead by the version info in TP.

![image](https://user-images.githubusercontent.com/4483085/41507763-c04d0eee-7239-11e8-

[2018-06-17 12:33] msageryd commented on #477
Update.
I'm confused. After connecting to another server both the other server and the recently connected local server now shows 10.3. The local server had 9.6 a couple of days ago, so it definitely seems like a cached string that needs refreshing upon reconnect.

[2018-06-17 12:46] msageryd opened #478 "Combine "New connection" and "Show connection" forms"
I'll add from start that think most of the GUI is awesome. Everything is thought out from a developers perspective. Love it.

I think having two different forms with almost the same functions is bad UX.

### cmd-N (New connection)
- Shows a list of connections
- Can create new connections
- Backup/Restore buttons (haven't tried them)
- Double-click on existing connection opens connection in new wi

[2018-06-17 12:54] msageryd opened #479 "Rotate tab texts for connections and add username"
## No room for long databasename and no username
I think most connection names are longer than eight characters. It would be awesome to be able to read the full connection name in the connection tabs. I'm naming my connections like this:
`databasename`-`username`.

## Proposed solution:
- rotate the text and the icon 90 degrees to make room for longer names
- write out either the complete connecti

[2018-06-18 02:00] huyphams commented on #477
it's a rare case. You upgraded the docker while TablePlus still connecting to the server. TablePlus only refresh the version after reconnecting.
I have fixed the bug, TablePlus now always refreshes server version. Thanks for the reporting.

[2018-06-18 02:03] huyphams commented on #479
it's duplicated with this issue: https://github.com/TablePlus/TablePlus/issues/479
But thank you for the proposal. We already have a plan for it. Rotate text 90 is one of my solution candidates.

[2018-06-18 02:08] huyphams commented on #478
The reason I have put it into the menu because I received a lot of emails/issues asking for "How to open a connection/ How to create a connection..."
They asked because they couldn't figure out how to do it. Many users use `Help > Search` for the first time they used the application, so I put it into the menu as a shortcut.

<img width="381" alt="screen shot 2018-06-18 at 9 07 02 am" src="https://

[2018-06-18 03:04] huyphams commented on #476
It does work. You can see the first image, there are actually two colors. But, in the dark mode, the color is not much difference. This is one of the know issues, custom the native experience is very hard.
Btw, it looks better in Mojave:

<img width="1174" alt="screen shot 2018-06-18 at 10 03 46 am" src="https://user-images.githubusercontent.com/3654622/41516438-f2b6b920-72de-11e8-992c-8b7e740daf6

[2018-06-18 07:03] msageryd commented on #476
Thanks.
Is Mojave something I can switch to somehow?

[2018-06-18 07:04] huyphams commented on #476
Nah, it's newest macOS 10.14 but still in beta.

[2018-06-18 07:05] msageryd commented on #478
I see no problem with having it in the menu as well. My point is that there are two different dialogues with almost the same functions. There should be only one form imo. This form could be reachable from any number of places, such as menus, shortcuts, buttons..

[2018-06-18 07:08] msageryd commented on #479
I don't see any duplicate. Anyway, great that you have a plan for this.

[2018-06-18 07:14] huyphams commented on #478
That can make more sense if I rename it to "Show the main screen". The main difference between two functions is you can use tabbed mode when pressing command+shift+K.

[2018-06-18 07:19] msageryd commented on #478
..and double-click has different behaviour
..and backup restore buttons is only in one of the screens
..and you can only create new connections on one of them

I still think it would be easier to obtain a good UX with only one screen. The argument for having two screens does not hold up against the confusion when you accidentally find the other screen and it behaves differently.

Well, well. I hav

[2018-06-18 09:32] davidolrik opened #480 "Feature request: Add space after autocomplete"
When autocompleting a keyword like `SELECT` it would be super nice if the autocomplete would also include a space after the keyword, to save time when typing the next item.

If a space already exists after the autocompleted item, just move the cursor to after the space.

This will mimic the behaviour of auto complete in most code editors and make the autocomplete functionality much smoother to use

[2018-06-18 09:38] huyphams commented on #480
I just tried VS Code, Sublime Text 3 and Sequel Pro. All of them don't add a space after keywords. I didn't try to do it before but I think it weird behavior and not all users want (I assume that there are 50-50).
For example:
[code]
can become
[code]
and it's not necessary.
So think, I can't add it.

[2018-06-18 12:54] Oscarteg opened #481 "Crash when deleting something in Redis"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
redis_version:3.0.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 110

3. The steps to reproduce this issue:
Open a connection to a Redis instance, ope table and delete a row

[2018-06-19 01:57] huyphams commented on #481
I can't reproduce the bug, let me check the crash log.

[2018-06-19 07:40] Oscarteg commented on #481
Where can I find it? The application just closes and doesn't give me a crash log. I can email you a screen capture of what happens if you want?

[2018-06-19 07:42] huyphams commented on #481
Hi @Oscarteg, could you make a gif for me? and an other extra info is what OSX are you on?.
Thank you 👍

[2018-06-19 08:04] Oscarteg commented on #481
I figured something out. The crash happens when the value is set to something with multiple lines. I'm not sure if this is a TablePlus bug or that Redis doesn't allow multi lines as values.

[2018-06-19 08:58] huyphams commented on #481
Hi @Oscarteg I just updated and added double quote when key/value have multiple lines
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Could try this build above and let me know the result? Thank you.

[2018-06-19 10:03] Oscarteg commented on #481
Unfortunately the same problem. Are you able to recreate it?

[2018-06-19 10:05] huyphams commented on #481
Sadly, I can't reproduce it. Looks like it only happens in some special situation.

[2018-06-19 11:14] Oscarteg commented on #481
When I open a connection with Redis and add a key (doesn't matter what key), add below as the value and save the app shutdown.

[code]

Maybe now you can reproduce it.

[2018-06-19 16:24] msageryd opened #482 "Suggestion: cmd-T for new tab should always open a new query tab"
1. Open up a query tab (cmd-enter)
2. You want another query-tab so you press cmd-T
3. You also have to press cmd-enter in the new tab in order to make it a "query tab"

Step 3 is not needed IMO. Also, I'm not so sure about this cmd-enter to get a query tab. cmd-enter also executes the active sql command if you are in a query tab. This could get people in dangerous situations if they try to open a

[2018-06-20 13:25] tylerrasor opened #483 "XML field causes dbbind error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MSSQLServer 2017

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
110

3. The steps to reproduce this issue:
`CREATE TABLE test (id INT, testField XML);`
`SELECT * FROM test;`
Aggregate functions seem to work:
`SELECT COUNT(*) FROM test;`

[2018-06-20 15:34] spywhere commented on #234
Now Cassandra has been supported on TablePlus, would MongoDB possible?

[2018-06-21 06:23] BigAirJosh opened #484 "Copy column values as select in statement"
I previously used Squirrel which has a copy to clipboard feature where one can select a single column from the result table and copy as a new line delimited list.  There is also a very useful option to copy as a select in block, where the values are added to the clip board as comma delimited, quoted values wrapped in brackets.

I use this feature all the time, since switching to TablePlus (which I

[2018-06-21 07:29] huyphams commented on #484
I understand your case, it's a great idea. I will try to implement it.

[2018-06-21 07:42] thenaturalist commented on #443
@huyphams I realized now that this behavior is caused by the # of open tabs in relation to screen width. So above a certain critical number, the side panel jumps to a fixed width, arbitrarily shortening some table names. When trying to resize it, the panel will always jump back to that size. Only closing tabs allows resizing. I guess this is due to the fact that tabs have a fixed width, but it's r

[2018-06-21 07:45] huyphams commented on #443
Yeah, now I can reproduce it, thanks @thenaturalist

[2018-06-21 08:02] coisnepe opened #485 ""Run all" in the SQL query view creates a tab for comments in the query"
1.Driver : PG 9.6.8
2.TablePlus build number: 110
3. The steps to reproduce this issue:
	- Open an 'SQL Query' Tab
	- Write a normal query, ended with a semi-colon
	- On a newline, write a single comment
	- 'Run All' to execute all queries

Expected: a single results tab is opened
Actual: two tabs are opened: one with the query results, and a blank one.

![image](https://user-images.githubusercont

[2018-06-21 10:44] msageryd opened #486 "Suggestion: If nothing is selected when cmd-c -> copy the active statement"
It would be really great if it was easy to copy the complete active statement. I do this a lot when I'm copying statements for use in my upgrade scripts.

[2018-06-21 11:20] alnorris opened #487 "Support for mysql Pointers"
Mysql 5.7

110

Point data types show EMPTY, instead of the points.  Eg. `coordinates` point NOT NULL,

TablePlus
![image](https://user-images.githubusercontent.com/882627/41716167-7987f278-754d-11e8-8a8c-c79e52ea2113.png)

Sequal Pro
![image](https://user-images.githubusercontent.com/882627/41716170-7cd036ac-754d-11e8-9923-ba912d03a184.png)

[2018-06-21 11:35] bulletRush opened #488 "crashed when delete filter contidition, can not reproduce"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

* MySQL 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

* build 110

3. The steps to reproduce this issue:

* add multi filter condition and delete one. If you can not get any useable information from this log, you can close this issues.

[code]

Noted: If the bug is relate

[2018-06-21 11:55] msageryd opened #489 "The best database client I've ever tried!"
This is not an issue, but I thought I'd leave it here anyway if others are considering TablePlus.

I've worked with RDBMs since 1998, SQL Server, (MongoDB), PostgreSQL. I've also been through countless database clients in an endless hunt for the perfect client. TablePlus will probably be perfect very soon, with the speedy development going on.

I'm already in love with TablePlus, because:
- speed

[2018-06-21 12:56] alvint commented on #489
Probably a better idea is to star the project on GitHub. I know I rely on the number of times a project has been starred when deciding which projects to take a closer look at.

[2018-06-21 13:01] alvint commented on #486
On the minus side, it's not conventional--usually only the line (if anything) would be selected if nothing is selected. On the plus side, it's an undeniably novel and useful idea. That's how progress is made!

[2018-06-21 13:22] huyphams commented on #487
Sure @alnorris, we will support it, let me see.

[2018-06-21 13:33] huyphams commented on #486
It's a great idea. I think, if nothing was selected: Cmd + C => copy the current highlighted statement makes more sense than the current line (because it's highlighted).

[2018-06-21 15:20] linkdesu commented on #355
MySQL datatype json is "unsupport" in right sidebar, plz add support.

[2018-06-21 15:59] huyphams commented on #487
Hi @alnorris it's supported now: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-06-21 16:00] huyphams commented on #355
Thanks @linkdesu  let me see.

[2018-06-21 17:05] eleijonmarck commented on #243
@davidolrik That fixed my ssh tunneling issues.

Plus it really helped with hover-text in the user field

![image](https://user-images.githubusercontent.com/7727602/41733997-01afda66-7586-11e8-9cb2-996eeb897623.png)

Since we want to be able to log in to our own defined users. Thank you

[2018-06-21 21:06] triggert opened #490 "MySQL Can't create connection"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.6.34

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 110

3. The steps to reproduce this issue: Connecting over SSH to AWS RDS MySQL instance on port 3306.  Same connection works over DBeaver.

<img width="496" alt="screen shot 2018-06-21 at 4 04 12 pm" src="https://user-

[2018-06-22 03:04] loopdtw commented on #344
@huyphams will this build be integrated into the official release?

[2018-06-22 03:05] huyphams commented on #344
@loopdtw it's already released. Does the build 110 work for you?

[2018-06-22 04:47] #487 closed

[2018-06-22 04:47] #477 closed

[2018-06-22 04:48] #474 closed

[2018-06-22 04:48] #488 closed

[2018-06-22 04:48] #475 closed

[2018-06-22 04:49] #481 closed

[2018-06-22 05:04] SolomatovS commented on #475
thanks a lot!

[2018-06-22 06:40] huyphams commented on #37
OSX has changed a lot of on 10.11, so back compatible is nearly impossible. So I'm closing this issue because TablePlus can't support it.

[2018-06-22 06:40] #37 closed

[2018-06-22 06:43] huyphams commented on #129
TablePlus doesn't allow edit while executing because TablePlus want to report the error position. I'm going to close this issue.
<img width="1216" alt="screen shot 2018-06-22 at 1 42 23 pm" src="https://user-images.githubusercontent.com/3654622/41761599-1c2ae8f8-7622-11e8-96b5-76598dcbf1cd.png">

[2018-06-22 06:43] #129 closed

[2018-06-22 06:44] #173 closed

[2018-06-22 06:47] #256 closed

[2018-06-22 06:47] #262 closed

[2018-06-22 06:47] #268 closed

[2018-06-22 06:48] #299 closed

[2018-06-22 06:51] huyphams commented on #328
We can't support OSX < 10.11, see this issue: https://github.com/TablePlus/TablePlus/issues/37

[2018-06-22 06:51] #328 closed

[2018-06-22 06:51] #375 closed

[2018-06-22 06:52] #448 closed

[2018-06-22 08:17] eleijonmarck opened #491 "Be able to export database connection settings from group"
![image](https://user-images.githubusercontent.com/7727602/41765754-51ebeb76-7605-11e8-8b7a-f00b5ecbd265.png)

I would like an option to export the groups connection settings to my colleague as we have alot (and i mean alot) of connections. So a new hire would come in and get all the connections straight up.

[2018-06-22 08:49] huyphams commented on #491
Sure @eleijonmarck, I will list this in next release feature.

[2018-06-22 14:28] linkdesu commented on #355
Sorry, it's my fault, I found this error just now. I serialize data to json string mannually, but the orm serialize the data automatically, so I serialize data two times!  😓

May be it will be better showing 'Invalid JSON' instead of 'unsupport' ?

[2018-06-22 22:00] coisnepe opened #492 "Cannot choose which format to dump PG to"
1. Build 111

It seems that I cannot choose what format to dump my Postgres database to. No matter what I choose (`--format=custom` `--format=directory` etc), it always dumps to a `.dump` format...

[2018-06-23 02:54] getmetorajesh opened #493 "TimeUUID data shows as null"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra 3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
111

3. The steps to reproduce this issue:
value for TIMEUUID data type in GUI shows up null whereas cqlsh shows the timeuuid value correctly.

[2018-06-23 02:56] huyphams commented on #493
Thanks for the reporting. I will be fixed in next update. Have a nice weekend.

[2018-06-23 03:45] huyphams commented on #493
I have a quick fix on the build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0 Now it can load timeuuid field.

[2018-06-24 08:38] mathewtrivett opened #494 "Table builder adding Foreign Keys?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgreSQL 10.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 111

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.
------
I want to use Table Plus to do some internal teaching to designers in my company on database

[2018-06-24 11:29] huyphams commented on #494
Hi @mathewtrivett you can create a foreign key by this popup:
<img width="1159" alt="screen shot 2018-06-24 at 6 28 30 pm" src="https://user-images.githubusercontent.com/3654622/41818597-724f934e-77dc-11e8-9e3a-f3bf52a44c59.png">

[2018-06-24 11:38] ayalbelling opened #495 "Editing a sql server view creates no script"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-06-24 11:40] ayalbelling commented on #495
v1.0 (111), MS Sql Server. Try CREATE VIEW TestView AS SELECT * FROM whatevertable. Once created, edit it and under structure. No script created so cannot edit.

[2018-06-24 12:06] huyphams commented on #495
Thanks @ayalbelling, I just fixed it, it will be available in the next update.

[2018-06-24 14:58] huyphams commented on #494
it's available for all the build, but you can only create foreign key after creating a table.

[2018-06-25 05:09] #495 closed

[2018-06-25 05:09] #493 closed

[2018-06-25 05:09] huyphams commented on #491
It's released @eleijonmarck

[2018-06-25 05:09] #491 closed

[2018-06-25 05:10] huyphams commented on #490
It's fixed, now TablePlus reports more information about the error.

[2018-06-25 05:10] #490 closed

[2018-06-25 05:58] lokbun opened #496 "can't be opend"
updated to the latest version but could not open the application. tip "can't be opened"

[2018-06-25 05:59] huyphams commented on #496
Hi, which OSX are you on? @lokbun

[2018-06-25 06:00] lokbun commented on #496
ver 10.13

[2018-06-25 06:00] huyphams commented on #496
Thanks, let me try to reproduce the issue.

[2018-06-25 06:04] huyphams commented on #496
You can downgrade by download the build in changelog @lokbun while I'm trying to reproduce the bug:
https://tableplus.io/blog/2017/02/changelogs.html

[2018-06-25 06:08] lokbun commented on #496
ok, thanks

[2018-06-25 06:19] huyphams commented on #496
Hi @lokbun this is the serious issue, can you try to download the build on the home page and try again? if it not work, can you try to restart the laptop.
https://tableplus.io/
I need to verify that's not the TablePlus bug to take the next action. I have tried in some devices and it's working.
Thank you so much.

[2018-06-25 06:37] lokbun commented on #496
Hi, I re-downloaded the latest version and restarted the laptop, but the problem persists. @huyphams

[2018-06-25 07:15] huyphams commented on #496
Hi @lokbun I have fixed some potential crash, can you try this build? https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-06-25 07:28] huyphams commented on #491
Hi @eleijonmarck due to some issue i need to verify, you can download the build which supports the export function here: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-06-25 07:41] lokbun commented on #496
Hi @huyphams I tried it, still can't run.

[2018-06-25 07:43] huyphams commented on #496
does it provide any crash log? and which is the version of High Sierra are you on? I mean the build number 10.13.x `10.14 Beta (18A314h)` I want to download the exact version to test the build.

[2018-06-25 07:52] lokbun commented on #496
Hi @huyphams I shared the crash log.

[2018-06-25 07:52] huyphams commented on #496
Thanks, I'm investigating it.

[2018-06-25 11:12] ashishwadekar opened #497 "Add Precision and Scale information to Numeric fields in PostgreSQL"
Kindly add precision and scale for numeric columns.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 111

Sharing screenshot:
<img width="639" alt="ashish wadekar postgresql 9 6 6 2018-06-25 16-34-23" src="https://user-images.githubusercontent.com/13130213/418469

[2018-06-25 12:45] huyphams commented on #496
Hi @lokbun I have reinstalled the MacOS Sierra and rebuild all the libs, can you give this build a try?
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

<img width="712" alt="screen shot 2018-06-25 at 7 44 27 pm" src="https://user-images.githubusercontent.com/3654622/41850867-5164b842-78b0-11e8-9d82-8e6675037db3.png">

[2018-06-25 14:37] huyphams commented on #497
Hey sure @ashishwadekar we will support it.

[2018-06-25 16:21] jason-beach commented on #496
Just downloaded latest update of TablePlus and get this message: "TablePlus quit unexpectedly" and I cannot option TablePlus.

[2018-06-25 16:23] huyphams commented on #496
Thanks @jason-beach . The previous versions are available for download here: https://tableplus.io/osx/changelog
But it would be great if you guy can share to me crash log. My email is huy@tableplusapp.com

[2018-06-25 18:28] ashishwadekar commented on #497
@huyphams Thanks for the quick response. Eagerly waiting for this feature to be pushed 😇

[2018-06-26 01:37] lokbun commented on #496
Hi @huyphams can't open yet, I shared crash log.

[2018-06-26 01:57] huyphams commented on #496
Hi @lokbun I received the crash log but may I ask you which device model are you using? Mine is Macbook Pro 2015 with the same OSX build (and it's working without the crash.)

[2018-06-26 02:01] vothanhkiet commented on #496
I got the same issue.

[code]

[2018-06-26 02:09] lokbun commented on #496
Hi @huyphams my device is MacBook Pro (13-inch, Early 2011)

[2018-06-26 02:11] huyphams commented on #496
@lokbun  I just updated the build above by using the library from official Oracle page. can you give it a try (my previous comment).

[2018-06-26 02:16] lokbun commented on #496
Hi @huyphams I tried, it's OK.

[2018-06-26 02:48] vothanhkiet commented on #496
@huyphams It works

[2018-06-26 02:53] huyphams commented on #496
Hey @vothanhkiet do you have Skype? Can you add me please, my nick is huyphams

[2018-06-26 04:56] litao91 opened #498 "Can't connect to MySQL 5.6.24 via password any more after upgrading to build 112"
I can't connect to MySQL after upgrading build 112, prompting the error:

`Access denied for user '<user>'@'<ip>' (using password: YES)`

It works find before upgrading.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6.24-72.2
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 112
3. The steps to reproduce this iss

[2018-06-26 05:02] huyphams commented on #498
I have tested it and it's working. Could you try to re-fill the database password again?

<img width="1138" alt="screen shot 2018-06-26 at 12 01 29 pm" src="https://user-images.githubusercontent.com/3654622/41890234-c393f166-7938-11e8-8499-be52e51c33e0.png">

[2018-06-26 05:04] litao91 commented on #498
@huyphams No, it doesn't work.

[2018-06-26 05:10] huyphams commented on #498
Thanks @litao91 while we're investigating you can rollback to the 111 build here: https://tableplus.io/blog/2017/02/changelogs.html

[2018-06-26 05:13] litao91 commented on #498
@huyphams It also works fine if I use the mysql command (the [mycli](https://github.com/dbcli/mycli)):

[code]
I'm pretty sure that my ip, port and password are correct.

![wx20180626-131025](https://user-images.githubusercontent.com/1422365/41890523-72c197f2-7942-11e8-8397-e899f2bdfe91.png)
![wx20180626-131219](https://user-images.githubusercontent.com/1422365/41890556-9759a01e-7942-11e8-85bd-316

[2018-06-26 05:19] litao91 commented on #498
Well, everything works after rolling back to 111, with zero config change made.

![wx20180626-131808](https://user-images.githubusercontent.com/1422365/41890750-7e07c0e0-7943-11e8-9691-ac471edba288.png)

[2018-06-26 05:34] vothanhkiet opened #499 "Stored Procedure's output display incorrectly"
1. Which driver are you using and version of it:
RDS Microsoft SQL Server 2017 (RTM-CU3-GDR) (KB4052987) - 14.0.3015.40 (X64)
2. Which TablePlus build number are you using:
112
3. The steps to reproduce this issue:
Run Stored Procedure on TablePlus Query editor, the result display incorrectly.
<img width="483" alt="screen shot 2018-06-26 at 12 24 48" src="https://user-images.githubusercontent.com/

[2018-06-26 06:04] KarboniteKream opened #500 "Crash when clicking Edit on Favorites list"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7.22

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 112

3. The steps to reproduce this issue:
- Connect to database
- Click on `Favorites` (list is empty)
- Right click on empty list and click `Edit...`
- Crash

<img width="247" alt="screenshot 2018-06-26 at 15 03

[2018-06-26 07:59] huyphams commented on #499
Hey @vothanhkiet can you send me an example via email `huy@tableplusapp.com`. this bug is weird, I can't reproduce it with my database.

[2018-06-26 10:09] huyphams commented on #483
Hi @tylerrasor I fixed this bug on this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for the reporting.

[2018-06-26 14:00] triggert opened #501 "BEGIN TRANSACTION (Transact-SQL) - Incorrect syntax error"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2014

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 112

3. The steps to reproduce this issue:
Use of BEGIN { TRAN | TRANSACTION }

<img width="235" alt="screen shot 2018-06-26 at 8 59 49 am" src="https://user-images.githubusercontent.com/12851159/4191

[2018-06-26 14:11] triggert commented on #501
The copy and paste brought over a ‘ instead of the expected '.  Corrected to resolve my issue.

[2018-06-26 14:11] #501 closed

[2018-06-26 15:18] vothanhkiet commented on #499
Thos are from my customer's stored procedures, I can't access directly to the data source. Let me ask them to extract some records.

[2018-06-26 15:46] triggert opened #502 "MySQL Access denied"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6.34

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 112

3. The steps to reproduce this issue:
Connecting to AWS RDS MySQL 5.6.34 instance over SSH bastion using % as the host.  Tested working with DBeaver.

`Access denied for user 'username'@'bastion_ip' (using pa

[2018-06-26 15:47] triggert commented on #502
Referencing https://github.com/TablePlus/TablePlus/issues/498 to test.

[2018-06-26 15:47] huyphams commented on #502
Hi @triggert while this is an issue of MySQL 8 driver and we are investigating it, can you try the early build here: https://tableplus.io/osx/changelog
I believe the build 111 will work.

[2018-06-26 15:49] triggert commented on #502
Thanks for the quick response.  Reverting to build 111 results in the previously reported "Can't create connection" issue from https://github.com/TablePlus/TablePlus/issues/490

[2018-06-26 15:55] huyphams commented on #502
Thanks @triggert, I'm creating a Amazon RDS instance for testing now.

[2018-06-26 16:20] huyphams commented on #502
I created an instance AMZ RDS MySQL 5.6.34 but can't reproduce the bug. How did you create the user which is using for login? I'm using root but it works.
<img width="1125" alt="screen shot 2018-06-26 at 11 18 25 pm" src="https://user-images.githubusercontent.com/3654622/41925640-5a4b8412-7997-11e8-9493-5601eba52705.png">

[2018-06-26 16:21] huyphams commented on #502
Here is mine:
<img width="612" alt="screen shot 2018-06-26 at 11 21 12 pm" src="https://user-images.githubusercontent.com/3654622/41925737-a479690a-7997-11e8-9a8f-7fd6a4c06092.png">

[2018-06-26 16:23] triggert commented on #502
Thanks, the MySQL connection looks the same except we're going over SSH bastion.

[2018-06-26 16:49] huyphams commented on #502
I can reproduce now but looks like it's not the same. In my case, TablePlus hangs on the connection screen (because it waiting for the connection over SSH).
<img width="612" alt="screen shot 2018-06-26 at 11 49 20 pm" src="https://user-images.githubusercontent.com/3654622/41927145-903a28d6-799b-11e8-86b8-51d45e98a36d.png">
I will try to fix it, thank you @triggert

[2018-06-26 18:16] triggert commented on #502
Thanks - I also created another MySQL 5.6.34 RDS test instance and was able to connect over ssh.

I'll try to narrow down what might be causing issues on our Production instances.

[2018-06-26 18:21] #502 closed

[2018-06-27 04:18] #496 closed

[2018-06-27 05:05] huyphams commented on #502
Hey @triggert can you try this build: https://www.dropbox.com/s/i3sgj3zem6zjnwx/TablePlus.zip?dl=0
With that server and let me know the result? Thanks.

[2018-06-27 06:44] huyphams commented on #497
Hi @ashishwadekar it's supported in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-06-27 06:58] ashishwadekar commented on #497
Hi @huyphams
Thanks for the swift action 🙌
It is now visible in the sidebar when viewing the record. Sharing screenshot:
<img width="222" alt="screen shot 2018-06-27 at 12 22 33 pm" src="https://user-images.githubusercontent.com/13130213/41957588-14afea06-7a05-11e8-917f-603891fa9298.png">

Can also add the same information to main table structure page as follows:
<img width="464" alt="precision sc

[2018-06-27 06:59] huyphams commented on #497
Ah sure, I forgot to add it into table's structure and definition tab.

[2018-06-27 08:01] huyphams commented on #497
It's done: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
I also added the length for varchar in the right panel.
<img width="286" alt="screen shot 2018-06-27 at 3 00 12 pm" src="https://user-images.githubusercontent.com/3654622/41960829-f4e300ee-7a1a-11e8-8fb7-3d5bb19eb37c.png">

[2018-06-27 08:35] huyphams commented on #497
I figured out that if you are not specific varchar length, it will show -1 (as max length). I hide it in the future update if the value is -1. Thanks for the reporting.

[2018-06-27 08:37] ashishwadekar commented on #497
Sure! That will be great because **-1** raises a lot of questions 😝

[2018-06-27 09:42] huyphams commented on #497
I'm pretty sure this build fixes all the issues: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
🙈🙈🙈Thanks for taking your time testing with me.

[2018-06-27 10:19] ashishwadekar commented on #497
Yay! This fixes all the issues.
Thanks for the quick response. It was fun testing and making it better.

Have a great day ahead.

Cheers,
Ashish

P.S. You can close the issue.

[2018-06-27 12:09] zhengyue commented on #193
I just moved the `Data` folder in `~/Library/Application\ Support/com.tinyapp.TablePlus/` to iCloud Drive, and created a link in the original place using `ln -s`. Now the connections are synced between all my Mac computers.

[2018-06-27 15:00] huyphams commented on #193
if you want to sync Favorite and History you can add the folder `Cache` to iCloud @zhengyue

[2018-06-27 15:15] madebyherzblut opened #503 "Syntax error (PostgreSQL)"
In our server logs I noticed syntax errors as soon as someone from our team connected with TablePlus:

[code]

[code]

The syntax error is caused by the extra quotes around the `public` schema. I think this is related to #43. The option "Estimate count when table has more than x rows" is enabled.

I am using Version 1.0 (112) and connect to PostgreSQL 10.3.

[2018-06-27 15:17] huyphams commented on #503
Hey thanks @madebyherzblut let me check it.

[2018-06-27 15:56] huyphams commented on #503
Hi @madebyherzblut I fixed the estimate row bug: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thank you so much 🙌

[2018-06-27 15:58] madebyherzblut commented on #503
Wow, that was fast! I can confirm that the bug is fixed. Thank you for the amazing work on TablePlus 👍

[2018-06-27 18:02] gerricom opened #504 "Bad Handshake when connecting to certain MySQL Hosts"
First: TablePlus is awesome! It made so much things easy for me in my daily life! Thank you!

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.1.73 on CentOS 6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

112

3. The steps to reproduce this issue:

I'm using the german project uberspace.de as hosting provider for s

[2018-06-27 18:04] huyphams commented on #504
Hi @gerricom this because MySQL < 5.1 uses old protocol (which is not supported by TablePlus at the moment).
I will investigate more to see if we can support it soon.
Btw, there are old builds here (you can try the early build in case you not sure the previous build is working or not): https://tableplus.io/osx/changelog

[2018-06-27 18:06] gerricom commented on #504
Thanks for that swift response! Build 111 is working fine for me!

[2018-06-27 18:07] huyphams commented on #504
I forgot to mention that you can resize the error popup, and it will remember the size in the future.

[2018-06-27 19:39] vyscond opened #505 "Enhancement - Tabs location"
I believe the best place to put the tabs are at the bottom. Lot more space to display the labels. Besides that everything seems to be good :)

Thanks for the app.

[2018-06-27 21:14] silverbux opened #506 "Firebase Support?"
do you have plans for firebase?

[2018-06-28 04:11] huyphams commented on #504
Hi @gerricom I added a dropdown as a temporary solution
<img width="612" alt="ver" src="https://user-images.githubusercontent.com/3654622/42012771-feb81844-7ac3-11e8-8ba2-7d62afabfb59.png">
Download: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
This is clearly MySQL bug, ref: https://bugs.mysql.com/bug.php?id=90994

[2018-06-28 04:13] huyphams commented on #498
Hey @litao91 I added a new version which supports both MySQL 8 and MySQL 5
Download: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

<img width="612" alt="ver" src="https://user-images.githubusercontent.com/3654622/42012803-348a093c-7ac4-11e8-9fae-6a9de69c53e3.png">

[2018-06-28 04:14] huyphams commented on #502
TablePlus supports both MySQL 8 and 5.X in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

<img width="612" alt="ver" src="https://user-images.githubusercontent.com/3654622/42012835-687788b4-7ac4-11e8-9ad6-946a61d2f6b0.png">

Thanks for the reporting.

[2018-06-28 04:18] litao91 commented on #498
@huyphams It works like a charm. Thanks for the quick response, it's the best support I've ever had.

[2018-06-28 07:08] huyphams commented on #405
it's supported @martenlindblad thanks for the suggestion
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-06-28 09:01] huyphams commented on #505
The reason we put the tabs on the top because we want to avoid some unexpected behaviors in fullscreen mode. The most annoying behavior is when you drag the mouse to the bottom, it triggers showing the Dock.

[2018-06-28 09:02] huyphams commented on #505
![2018-06-28 16 02 11](https://user-images.githubusercontent.com/3654622/42024546-a356d9a8-7aec-11e8-9008-34483d61ac98.gif)

[2018-06-28 09:03] huyphams commented on #506
I afraid that I can't support any document-based database at the moment (Mongo, Firebase...).

[2018-06-28 11:43] vyscond commented on #505
I see. That's a good UX point indeed. But for me i am seen the tabs on the left side of the main window instead of the top. Am i missing some configuration setting?

[2018-06-28 11:53] huyphams commented on #505
Did you mention about the database tab? Yup, we have a plan to refactor it in the future release due to some UI/UX limitations.
<img width="1315" alt="abc" src="https://user-images.githubusercontent.com/3654622/42032663-7dc4b314-7b04-11e8-86c8-259d31b8deb9.png">

[2018-06-28 20:44] vyscond commented on #505
Yup. Sorry for the confusion. Indeed i was talking about the Database tabs. Thanks for the clarifications.

[2018-06-28 20:44] #505 closed

[2018-06-29 06:57] huyphams commented on #499
hey @vothanhkiet can you try this build and let me know the result? https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks.

[2018-06-29 08:02] huyphams commented on #492
Sorry, I missed this issue. You can change the extension by yourself. Currently, TablePlus is not smart enough to detect which format of the output, so it creates the output file with .dump. I will try to improve it in the future.

[2018-06-29 08:03] #483 closed

[2018-06-29 08:38] ayalbelling opened #507 "Foreign keys associated with incorrect fields (ms sql)"
v1.0 (112), MS SQL. When there are two or more foreign keys on a table referencing the same FK table, then when deleting them individually it sometimes deletes the wrong one - i.e. it seems the FK name in the script delete is picking the wrong field's FK in this situation.

[2018-06-29 08:40] huyphams commented on #507
Good catch, let me check it.

[2018-06-29 09:15] ToBee94 opened #508 "Group import not works correctly"
1. Which driver are you using and version of it:  n. a.

2. Which TablePlus build number are you using: Build 112

3. The steps to reproduce this issue: Import an exported Group with Connections

BUG: When I import an exported group with connections, the group is not added and the connections are added as ungrouped.

[2018-06-29 09:16] ToBee94 opened #509 "Feature Request: Export all Connections and Groups"
It would be nice if there was a function with which I could export all Groups and Conection.

[2018-06-29 09:20] ToBee94 opened #510 "Feature Request: Icons for Connection"
A nice function would be to add Icons to Connections

[2018-06-29 09:48] huyphams commented on #508
This is an expected behavior. Currently, TablePlus only imports connections from the export file.
Btw, import group is a good idea.

[2018-06-29 09:49] huyphams commented on #509
Really good suggestion 👍

[2018-06-29 09:50] huyphams commented on #510
Currently, TablePlus allows changing the group icon. But change the connection icon may cause a confusion.
Are the connection tags and colors are good enough?

[2018-06-29 09:58] ToBee94 commented on #510
I use groups for hosts and connections for every single database on this hosts. It would be nice if you can change the icon for a connection that i can see which usage the database (connection) has.

For example: Is this connection only for pictures and data of pictures i would give this connection an icon about pictures

[2018-06-29 10:11] huyphams commented on #507
It's fixed in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0.
Thanks for reporting

[2018-06-29 10:11] weyert opened #511 "Export all tables/schema in SQL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgresSQL 9.6.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 112

I think it would be great to be able to dump or export table content in SQL format so it's easily archivable. Currently, you have to do for each table separately.

[2018-06-29 14:02] #504 closed

[2018-06-29 14:02] #503 closed

[2018-06-29 14:02] #500 closed

[2018-06-29 14:02] #498 closed

[2018-06-29 14:02] #494 closed

[2018-06-29 14:03] #497 closed

[2018-06-29 14:03] #405 closed

[2018-06-29 14:03] #454 closed

[2018-06-30 15:35] ayalbelling opened #512 "Changing an existing column default constraint to NULL fails (MS SQL)"
MS SQL, v1.0 (113). Script uses ADD DEFAULT NULL rather than dropping the constraint. Also doesn't delete a column with default constraint because it doesn't drop the constraint first.

[2018-06-30 16:44] huyphams commented on #512
It's supported now: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for reporting.

[2018-06-30 16:46] huyphams commented on #459
I closed this because it's duplicated with: https://github.com/TablePlus/TablePlus/issues/512

[2018-06-30 16:46] #459 closed

[2018-07-01 12:14] weyert commented on #511
Ah, looks like you might be able to do it via Backup and then choose --format=plain in the options list

[2018-07-01 19:29] brunolemos commented on #489
Which one is the best for MongoDB?

[2018-07-02 09:02] bulletRush opened #513 "[UX] need more recently table"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
* Mysql5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* Build113

3. The steps to reproduce this issue:
* open more than five table. TablePlus only records five recently table. can you increase this to ten or more?
![image](https://user-images.githubusercontent.com/5211881/4

[2018-07-02 09:52] vothanhkiet commented on #499
Hi there, I try your build, still got the same issue. I ask my customer to provide some sample data but that request was rejected, please put this issue on hold, I know that you have a lot of works to do. Thanks

[2018-07-02 11:35] ToBee94 opened #514 "Feature Request: Support ~/.ssh/ssh_config"
It would be nice if the ~/.ssh/ssh_config would be supported to use default connection data to connect over ssh with keys, user and port and shorter Hostnames

For example:
[code]

[2018-07-02 11:37] huyphams commented on #514
Hi @ToBee94 it’s already supported by TablePlus, you need to check the use ssh key box.

[2018-07-02 11:55] ToBee94 commented on #514
okay last time it doesn't worked but now...
next time I should read better

thanks 👍

[2018-07-02 11:55] #514 closed

[2018-07-02 14:12] alvint commented on #226
Cool! A few notes so far:

- when creating a connection, the field labeled "database" is where you need to put the service name/SID which may be confusing to some people
- the table structure isn't shown (i assume it's not implemented yet)
- when looking at table data, columns of type `date` are shown as null

[2018-07-02 18:19] bvanderhaar commented on #226
I'll add one more:
SqlDeveloper usually only pulls the first 50/100/etc rows, which is nice (and Oracle's syntax for Top N is odd compared to sql server).  Would be nice to do that or have an option for this since I'm usually using an app like this to just get a feel for the data (and many tables are millions of rows).

The speed of both autocomplete, retrieving records and the UI is blistering fa

[2018-07-02 18:21] bvanderhaar commented on #226
Just tried to add a where clause to a sql query and it crashes after I type the character w

[2018-07-03 09:52] huyphams commented on #226
Hi all @timster @alvint @bvanderhaar , I just update the build here: https://www.dropbox.com/s/dcr03jxjr1gnqck/TablePlus.zip?dl=0
Change:
- Simplify the Create new Connection form.
- Support estimate rows (TablePlus will estimate rows instead of count(*) while loading a large table).
- Load basic table structure and index.
- Support edit inline, insert rows.
Some small improvements.

[2018-07-03 17:55] eberkund commented on #489
I especially like the Sublime-eque command palette and keyboard shortcuts. I am hoping to see this feature expanded on even more in the future with making everything accessible this way.

[2018-07-03 18:27] windware opened #515 "Feature request : UI polish - Data cell spacing"
1. Which driver are you using and version of it : MySQL 8

2. Which TablePlus build number are you using : 113

I'm very close to switching over from Sequel Pro (for their lack of continued stable releases without MySQL 8 support anytime soon and will never get PostgreSQL or Windows support.) and while the functionality seems ok in TablePlus, it would allow me to switch if these few feature reques

[2018-07-03 18:27] windware opened #516 "Feature request : UI polish - Foreign key links"
1. Which driver are you using and version of it : MySQL 8

2. Which TablePlus build number are you using : 113

* I'd like the foreign key marker to be easier to navigate, preferably by a single click on the arrow.

Currently, it's not so easy to get to the foreign key item as it's not clear if I should single or double click the arrow next to the value to get the popup and then click on the popup

[2018-07-03 18:27] nextlogic-ono opened #517 "Feature request : UI polish - Function list below tables"
1. Which driver are you using and version of it : MySQL 8

2. Which TablePlus build number are you using : 113

* I'd like to have function list below the tables as I'd often click the tables instead of functions but long list of functions is putting the tables at a low position which is usually not directly in my sight.

Sequel Pro
![sequel-pro-functions](https://user-images.githubusercontent.com

[2018-07-03 18:27] windware opened #518 "Feature request : UI polish - Menu activation"
1. Which driver are you using and version of it : MySQL 8

2. Which TablePlus build number are you using : 113

* When you click on the menu icon in various fields, it's not easy to trigger it as double clicking will trigger editing the value, instead I have to give it a small break between clicking to trigger the menu, which is a bit tedious.

I suggest the menu to open even if the row was not fo

[2018-07-03 18:27] nextlogic-ono opened #519 "Feature request : UI polish - Resizable trigger window"
1. Which driver are you using and version of it : MySQL 8

2. Which TablePlus build number are you using : 113

* I'd like the trigger window to be resizable and start out at a bigger size.
Currently, it's at a fixed size which is pretty small.

![tableplus-trigger](https://user-images.githubusercontent.com/4352236/42236732-b34194f4-7f36-11e8-95a6-3fe3deceb281.png)

[2018-07-04 05:32] huyphams commented on #515
Hi @windware thanks for the detailed feedback. I will surely improve it in the next update. We release an update weekly.

[2018-07-04 05:34] huyphams commented on #513
Sure @bulletRush I will add an option allow to config the number of recent items.

[2018-07-04 05:37] huyphams commented on #516
You can quickly access to foreign key link by hold option + Click. We need to add a dropdown because TablePlus support multiple foreign keys (the column can link to two or more tables at the same time).
The only thing we can consider is if there is only one link, we can go to the link directly (without popup.)

[2018-07-04 05:40] huyphams commented on #517
In TablePlus, you can collapse (or hide) the function sections. There is `Open Anything - Command + P` that you can open any items (includes function).
We put the function section above tables because if you have a lot of tables, the function section will be invisible. It's may cause confusion for the newcomer.

[2018-07-04 05:42] huyphams commented on #518
By holding option, the menu will be shown immediately.

[2018-07-04 05:43] huyphams commented on #519
Good point, I will improve it.

[2018-07-04 06:34] windware commented on #518
I see thanks. This feature may not be immediately obvious to users though.

[2018-07-04 07:22] SergeyMiracle commented on #290
Having the same issue with lates build.

[2018-07-04 07:36] SergeyMiracle commented on #290
@huyphams i have MySQL 5.7.22
As i see one can not commit a nullable timestamp column at all

[2018-07-04 07:47] huyphams commented on #290
I just tested with MySQL 5.7.21 but it works. I can't reproduce the bug myself. If I can reproduce the bug, it can be fixed quickly. Can you help me @SergeyMiracle, please 🙌
![2018-07-04 14 45 21](https://user-images.githubusercontent.com/3654622/42263679-ea012146-7f98-11e8-9977-019d96422466.gif)

[2018-07-04 08:47] SergeyMiracle commented on #290
@huyphams i see this https://cl.ly/4444181r0y1C

[2018-07-04 08:57] ayhoung commented on #331
+1

[2018-07-04 09:49] huyphams commented on #290
Thanks @SergeyMiracle I just fixed the bug here: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-07-04 10:20] SergeyMiracle commented on #290
@huyphams yeah it works now 👍  Great job!

[2018-07-04 10:32] StefanoOrdine opened #520 "When a column of a table is of a custom type the name of the type is shown instead of the name of the field."
1. Which driver are you using and version of it:
**PostgreSQL 9.5.12**

2. Which TablePlus build number are you using:
**TablePlus Version 1.0 (113)**

3. The steps to reproduce this issue:
Execute these queries:
[code]
Looking at the column title of table data visualization you can see `a_custom_type` which is the type name instead of the column name `a_field`.

![bug report](https://user-images.

[2018-07-04 10:48] huyphams commented on #520
Hey @StefanoOrdine thanks, I fixed the bug in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
(This build can self-update when the official release.)

[2018-07-04 11:58] StefanoOrdine commented on #520
Thanks @huyphams, I'm waiting for the next release then :-) I'm closing this.

[2018-07-04 11:58] #520 closed

[2018-07-04 13:44] abournier opened #521 "Truncate in PostgreSQL doesn't restart identity on all columns"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**PostgreSQL 9.6**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Build 113**

3. The steps to reproduce this issue:
- create a table **that has a sequence on a field that is not "id"** (_server_id_ in my case)
- add a few items
- select the table => truncate => restart identi

[2018-07-04 14:34] huyphams commented on #521
Hi @abournier look like this issue it isn't related to TablePlus, it a PostgreSQL behavior, see here for more detail: https://stackoverflow.com/questions/24416533/postgres-truncate-restart-identity-doesnt-restart-identity

[2018-07-04 14:37] abournier commented on #521
Thanks for the link and sorry for this issue that is not one.
I close the issue.

[2018-07-04 14:37] #521 closed

[2018-07-05 13:13] coisnepe commented on #273
Hey, I had the same question and found this issue.
@huyphams Are you aware of any plugin that's been made to address this concern?

[2018-07-05 13:20] damsean102 commented on #331
+1 also

[2018-07-05 13:30] bvanderhaar commented on #226
The where clause bug is fixed.  But I did load a 1M+ result set that crashed the app - going to have to get used to rownum limiting the results ;).  Here a more comprehensive guide on how to limit results - https://stackoverflow.com/questions/470542/how-do-i-limit-the-number-of-rows-returned-by-an-oracle-query-after-ordering
It'd be nice to be built-in, but probably not a deal-breaker.

Let me kno

[2018-07-05 13:33] coisnepe opened #522 "Developing plugins"
Besides the plugins you have developed yourself, do you have instructions/guidelines about how we can develop our own plugins, as well as a place where we could share our plugins with other TablePlus users?

[2018-07-05 14:10] huyphams commented on #273
I didn't have time to complete the plugin system (because it needs a lot of work), but I can easily expose some more function related to SQL Query, such as:
- Get the current SQL in SQL Query screen.
- Support replace text in range, parse query and shortcut key.
- Support hook and change the default for format SQL function.
- A basic document and examples.

With all the APIs above, you can easily

[2018-07-05 14:10] huyphams commented on #522
Related to: https://github.com/TablePlus/TablePlus/issues/273#issuecomment-402717411

[2018-07-05 14:49] triggert opened #523 "Row inserts/updates not indicated"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2014

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 113

3. The steps to reproduce this issue:
[code]

Normally I would expect to see how many rows are affected but it shows 0 rows.

Example from SSMS:
`(1 row(s) affected)`

[2018-07-05 15:03] huyphams commented on #523
Sorry, I made a mistake while parsing syntax. This build should fix the issue: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for the reporting.

[2018-07-05 15:17] triggert commented on #523
Thanks!  I do see the row updates now but it opens a query tab for each statement now.

1.) for the begin
2.) for inserts/updates
3.) for the rollback

Is this the expect behavior?

[2018-07-05 15:19] huyphams commented on #523
Yes, it's the expect behavior because there are 3 statements, and TablePlus actually received 3 results from the server.

[2018-07-05 15:20] triggert commented on #523
Great - thanks for the quick response!

[2018-07-05 15:20] #523 closed

[2018-07-05 15:47] huyphams commented on #516
I did a little bit change based on your comparison. Now the new UX is:
1. If you click on the icon (the arrow, the brackets), TablePlus will show menu directly (the old UX requires the second click.)
2. If there is only one link (Column has only one foreign key), TablePlus will go to the link directly (the old UX requires the second click and select on the drop-down).
Download: https://www.dropbox

[2018-07-05 15:49] huyphams commented on #516
This update also fixes the issue https://github.com/TablePlus/TablePlus/issues/518 so I will close the 518

[2018-07-05 15:49] #518 closed

[2018-07-05 16:58] windware commented on #516
Awesome! Thank you!

[2018-07-05 16:58] #516 closed

[2018-07-05 17:12] windware opened #524 "Feature request : UI polish - Reset conditions on foreign key access"
1. Which driver are you using and version of it : MySQL 8

2. Which TablePlus build number are you using : 113

* When I access the foreign key value by clicking the arrow button in another table's field, the condition seems to stack up if I repeat this step. While the value in the table shown is correct from the last click, the conditions look odd and clicking 'Apply Selected' will obviously give

[2018-07-05 17:14] huyphams commented on #524
Maybe the UX was bad, the button title should be `Apply All` instead of `Apply Selected`, You can apply the current filter by hit return or click on the `Apply` button at the end of the filter.

[2018-07-05 17:18] windware commented on #524
Ah I see, it's more like a history of conditions used previously. Maybe it's good as is. Thanks.

[2018-07-05 17:18] #524 closed

[2018-07-05 17:50] jmfederico opened #525 "Canceling restore operation does not kill the process."
1. Which driver are you using and version of it:
MySQL 8.0.11

2. Which TablePlus build number are you using:
113

3. The steps to reproduce this issue:
When restoring a database it seems like canceling the operation  closes the window but does not kills the process, and it keeps restoring in the background.

[2018-07-05 18:10] j-ro opened #526 "Make DDL definition sort by column order"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Version 1.0 (113)

3. The steps to reproduce this issue:

When I select definition for a table when viewing the structure, the columns are sometimes out of order (this is Redshift, so they don't care about ordering so m

[2018-07-06 08:09] huyphams commented on #526
Hi @j-ro sure, can you take a look at this build? https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for the feedback.

[2018-07-06 14:17] j-ro commented on #526
Thanks @huyphams! I'm not seeing a difference in that one though. Here's some screenshots.

Here's how the definition loads up by default: https://www.evernote.com/l/AD_jf92KFQdAeoOBPS8VTfvqRA1LTZ2rabE

The DDL has the columns in the same order:
https://www.evernote.com/l/AD91Ke8WXbtKZIuGhccTg8-eujp66zr8L70

What I'd like is for the columns in DDL to load up in column order, like this if I sort by

[2018-07-06 14:17] j-ro commented on #526
I'll note that this appears to be the same build as I have, 113.

[2018-07-06 16:11] huyphams commented on #526
Hi @j-ro I have a typo when sorting the column 🙈
Can you try again with this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks.

[2018-07-06 16:16] j-ro commented on #526
It works! Awesome! This will save me so much time -- just bought a license as well! I'll send in some other thoughts I had to improve your great product when I have a chance, but thank you!

[2018-07-06 16:16] j-ro commented on #526
Oh, one other question -- will my build autoupdate when you put out updates, seeing as this isn't on the official mainline?

[2018-07-06 16:17] jgallinari commented on #323
Hello,
I'm using PostgreSQL 9.4.4 and TablePlus build 113, and I still cannot see "raise notice" working like mentioned in the above example.
Is it normal ?
Thanks.

[2018-07-06 16:36] j-ro commented on #526
Awesome, thank you!

[2018-07-06 16:36] #526 closed

[2018-07-06 16:51] huyphams commented on #323
Sorry @jgallinari when migrating to Aysnc mode for all the functions, I forgot to support raise notice.
Now it's supported: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-07-06 17:21] jgallinari commented on #323
Incredible, you're blazing fast!
Thanks a lot.

[2018-07-06 17:36] jgallinari commented on #323
It works as expected now 👍
There is one little issue though: the message area at the bottom is not scrollable, which is a bit annoying to see what's printed at the end.
Maybe this can be fixed in a next version ?

[2018-07-06 18:11] huyphams commented on #323
Ah, I see, thanks @jgallinari
I just made it scrollable: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0 👍

[2018-07-07 04:53] #512 closed

[2018-07-07 04:55] #290 closed

[2018-07-08 11:57] martenlindblad commented on #223
Presto would be awesome.

[2018-07-08 19:55] jgallinari commented on #323
With such a support, I'll definitely stick to use TablePlus! :)
Thanks @huyphams

[2018-07-09 10:19] StefanoOrdine commented on #520
Downloaded the last build (Version 1.0 build 114) and the fix is working as charm! Thank You all very much!

[2018-07-09 13:54] alvint opened #527 "date/time format: respect system's localization settings (or add an option)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle 12.1.0.2.0
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
(test Oracle build)
3. The steps to reproduce this issue:
- set your Mac's localization settings to show dates as `MM-dd-yyyy`
- display a `date` column in TablePlus--the date is displayed as `dd-MM-yyyy`

Please ei

[2018-07-09 16:54] huyphams commented on #273
Hey guys, I have a good news for you:
Now you can choose your own SQL Format.
Download TablePlus here: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
The plugin is here: https://github.com/TablePlus/sql-formatter
@timscott @coisnepe

[2018-07-09 18:31] timscott commented on #273
@huyphams I installed it, but when I try to use it as shown, it does not seem to do anything. I restarted TablePlus. Same.

[2018-07-09 19:53] themartorana opened #528 "Index list is empty in Structure view for Cockroach DB"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Cockroach DB

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 114

3. The steps to reproduce this issue: Create a table, add a unique constraint, refresh the Structure view.

Additional info:

Indexes are creating, and can  be seen with `show indexes on <table>` but the view is em

[2018-07-09 19:56] themartorana commented on #528
Here's the table syntax for testing. Using CockroachDB v2.0.2.

[code]

[2018-07-09 23:17] brian-crane opened #529 "TablePlus Crashes in OSX when removing DP video cable, or closing and opening lid of laptop"
Like title says, TablePlus crashes for me whenever I change video options like video output via HDMI or closing and opening my laptop.  Hopefully my crash logs made it your way!

[2018-07-10 00:45] alvint commented on #273
Just taking a wild guess, but did you also download the new version of TablePlus that he linked to? Previous versions probably don't expose the API calls that the plugin requires.

[2018-07-10 01:12] huyphams commented on #273
Yup, that's true. As @alvint mentioned, you need to download the new build which has new SQL Query APIs.

[2018-07-10 01:15] huyphams commented on #529
Thanks, @brian-crane, let me check the bug (Some bugs only happen on OSX 10.11).

[2018-07-10 01:33] huyphams commented on #528
Thanks, I confirmed the bug. I'm working on it right now.

[2018-07-10 01:35] timscott commented on #273
TablePlus  updated automatically immediately before I install the plug-in. Maybe still not current enough. I’ll make sure I have the right version.

[2018-07-10 02:29] conangithub opened #530 "Search feature in table of query result"
Hello, could you please provide search feature for table of query result to find specific field? I hard to find it when my query result data is so big. Thank you.

[2018-07-10 06:51] bulletRush opened #531 "crash when change connection color, can not reproduce"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
* Mysql 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* Build 114

3. The steps to reproduce this issue:

* change connection title color.

[code]

Noted: If the bug is related to data, please attach an example SQL data.

[2018-07-10 14:24] alvint commented on #273
@timscott Yep, the automatic updates will install the regular release version again. I accidentally updated away my Oracle support once.  :)

[2018-07-10 14:34] alvint commented on #530
@conangithub I don't mean to sound facetious, but isn't the SQL itself the search feature? Can't you just add your search criteria to the `where` clause, or possibly just sort the column? Plus, you can already add filters in the "Data" view.

[2018-07-10 14:37] themartorana opened #532 "Add warnings in critical areas/on critical actions"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Cockroach

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 114

I highlighted a table to open its contents, erroneously hit the "delete" key on my keyboard, and despite the table being highlighted in red, didn't understand hitting Cmd-S would commit a table drop and significant lo

[2018-07-10 14:39] huyphams commented on #530
Ah, I missed this issue, somehow :/
I understood this situation but didn't find a good solution (easy to use, and not have a negative effect on the current UI/UX).
@Ivoah the filter for filter the rows but the search is using for look up the word in the rows (after filtering).

[2018-07-10 14:40] huyphams commented on #532
Hey @themartorana  it's here
<img width="753" alt="screen shot 2018-07-10 at 9 40 35 pm" src="https://user-images.githubusercontent.com/3654622/42517424-e3ee6ea8-8489-11e8-80bb-d0e53534796e.png">

[2018-07-10 15:07] joshdcollins opened #533 "Support local-file option for MySQL in order to allow LOAD DATA LOCAL INFILE"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 114

3. The steps to reproduce this issue:
Execute a SQL statement using LOAD DATA LOCAL INFILE
Receive error "ERROR 1148: The used command is not allowed with this MySQL version"

Noted: If the bug is related to dat

[2018-07-10 15:40] themartorana commented on #532
Apologies! I would perhaps argue for "Safe mode" being the default, but otherwise, I just missed this.

[2018-07-10 15:42] themartorana commented on #528
Update - looks like the same issue for foreign keys:

<img width="698" alt="image 2018-07-10 at 11 41 42 am" src="https://user-images.githubusercontent.com/21433/42521203-3d0d7cc6-8436-11e8-8ad5-a61c6653d87b.png">

<img width="540" alt="image 2018-07-10 at 11 42 18 am" src="https://user-images.githubusercontent.com/21433/42521238-517b7866-8436-11e8-968a-ca609f553d36.png">

Potentially related? I c

[2018-07-10 15:46] huyphams commented on #528
Thanks, @themartorana. No, you don't need to create another issue, I will fix this too.

[2018-07-10 16:01] huyphams commented on #532
Enabled by default may cause a confusion and not easy to use for the newcomer. I think the tradeoff is not worth.

[2018-07-10 16:04] themartorana commented on #532
Sorry, not "Safe Mode" but "Alert Mode." I agree prompting for a password every time is too much.

One last suggestion - "Alert Mode" only alerts on changing queries. Alerting when sending `select` queries is a bit noisy. Thoughts? Thanks!

[2018-07-10 16:12] huyphams commented on #532
Even the `Alert mode` can also result in the same situation, I'm sure with you that if I enable it by default, I will receive a lot of email/issue report that how to turn it off (Many people will not looking for the solution or open preferences, they go straight to inbox/issue and submit for help).

I agree with you that  "Alert Mode/Safe more" only alerts on changing queries is a good idea but, i

[2018-07-10 16:19] huyphams commented on #532
Probably, I will try to optimize for only simple `select` statement. It's not a full solution but it's the most frequency statement.

[2018-07-10 17:09] themartorana commented on #532
Right

[2018-07-10 17:09] #532 closed

[2018-07-10 18:46] wzrd commented on #439
@keremkayhan , had exactly the same problem. Solved it by typing 127.0.0.1 in Host field of database. I used the same as my server's ip, that was wrong, but it worked with Sequel Pro. Hope it helps.

[2018-07-11 05:25] tianhao opened #534 "The exported file is garbled"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    postgresql 9.5
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
    110
3. The steps to reproduce this issue:
"Export Table" to csv file

There is a column in the table that is Chinese characters, and the exported CSV file is Chinese garbled.

[2018-07-11 06:04] huyphams commented on #534
Hey @tianhao it would be great if you can send me the table structure (click on definition button) to my email: huy@tableplusapp.com

![abc](https://user-images.githubusercontent.com/3654622/42553381-e26c3642-850a-11e8-951e-6daa2b0ebf23.png)

I tested but can't reproduce the bug.
Thanks.

[2018-07-11 06:31] tianhao commented on #534
Sorry, there are some errors in the description. The file is not garbled，but it is garbled in Excel

create table and insert:
[code]
Export to file and The content of the file is:
[code]
File is not garbled，But it is garbled in Excel:
<img width="154" alt="image" src="https://user-images.githubusercontent.com/365540/42554115-32140408-8516-11e8-944f-e9efe1e030df.png">

You can find the solution by

[2018-07-11 06:37] huyphams commented on #534
Looks like the bug only happen in Microsoft Excel, I tested on Apple Number, and got the same result:
<img width="733" alt="screen shot 2018-07-11 at 1 37 20 pm" src="https://user-images.githubusercontent.com/3654622/42554565-8ed84b9c-850f-11e8-8ac5-e3132870b5eb.png">

[2018-07-11 06:45] tianhao commented on #534
Yes, I thought it was a problem with TablePlus at first, because the files exported by DataGrip are not garbled. But you can optimize it.

[2018-07-11 10:17] huyphams commented on #528
Hi @themartorana can you check this build https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
I fixed all the issues above. Thanks.

[2018-07-11 14:19] mikebronner opened #535 "Changing sort columns in data view produces annoying audio error "bonk"."

[2018-07-11 14:23] huyphams commented on #535
Hi @mikebronner How can I reproduce the bug? I tried but didn't have any issue (bonk sound).

[2018-07-11 14:31] mikebronner commented on #535
I made a little recording: http://share.genealabs.com/ROfPVru

[2018-07-11 14:55] huyphams commented on #535
Hmm, weird, I tried but no luck. I have the same setup as you. I'm investigating more.

[2018-07-11 15:31] themartorana commented on #528
@huyphams confirmed! Looks good, thanks!

[2018-07-11 17:59] mikebronner commented on #535
Thanks! I have a relatively new install (about a month old), mostly at default settings.
<img width="663" alt="screen shot 2018-07-11 at 10 59 32 am" src="https://user-images.githubusercontent.com/1791050/42590756-8590de48-84f9-11e8-8978-a57f950f2239.png">

[2018-07-11 19:15] tylerb commented on #273
This formatter is already SO MUCH BETTER than the previous one. Thanks for exposing this.

Any way I can change the hotkey so that `cmd+i` runs this formatter plugin instead of having to use `ctrl+i`?

[2018-07-12 02:11] bulletRush opened #536 "how to export/import all my groups and connections?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* build 114

3. The steps to reproduce this issue:
* in connections select window, I can't find a way to export all my connections configurations to a file. I want share all my TablePlus config to other.

Noted: If the bug is relate

[2018-07-12 05:37] conangithub commented on #530
@huyphams Thanks for helping me. I will wait for it.

[2018-07-12 08:04] huyphams commented on #273
Hi @tylerb you can change the shortcut key in manifest.js but it's conflict with the existing shortcut key.
I'm working on the feature that supports dev change the default of Beautify button (like it does with Execute button) and the shortcut linked with it.

[2018-07-12 11:38] kakawait opened #537 "Unable to delete table with Cascade on SQL Server"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

SQL Server 2014 Express

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 114

3. The steps to reproduce this issue:

* Select tables (could be 1 or more, both case bug) on left panel
* Right click
* Delete...
* Enable Cascade

[code]

[2018-07-12 11:41] huyphams commented on #537
Thanks @kakawait I will check and fix it.

[2018-07-12 11:46] huyphams commented on #426
I think we can improve it a little bit. The editor will always be visible when opening.

[2018-07-12 11:49] kakawait commented on #537
If needed I use that vagrant box https://github.com/msabramo/vagrant_sql_server_express that host sql server 2014

[2018-07-12 15:39] tylerb commented on #273
Fantastic! Thanks!

[2018-07-12 16:38] cvachon-akivo opened #538 "Cannot execute SQL script"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 114

3. The steps to reproduce this issue:

1 - Connect to local MySQL server and select any database.

2- Drag a .sql file to the TablePlus icon in the dock. The script opens in "SQL Viewer"

3- Notice it's not po

[2018-07-12 16:45] huyphams commented on #538
Hi, @cvachon-akivo you can run by drag the file into the SQL Query or press command + O when opening the SQL Query.

The `SQL Viewer` is used for editing the script not for running the script. Probably, we will and a button/function that allows you to import it into `SQL Query`.

[2018-07-12 17:48] cvachon-akivo commented on #538
Hi @huyphams

It would be really useful if an "SQL query" tab would:

1- Allow saving changes to the file (currently, Command + S does nothing)

2 - Display the name of the current file in the tab header.

Also, please consider:

3-  Pressing Command + T should open a new empty SQL query tab

4-  Double-clicking on a table should display a SQL query zone above the grid, like MySQL Workbench, prefi

[2018-07-12 20:43] moltar opened #539 "Feature request: ability to set a connection to read-only"
It would be great to have the ability to lock down connections to read-only mode. This would be a good safety net for production databases. I know that most databases have the capability to use grants to achieve this, but it is tedious to setup, and sometimes actually impossible (e.g. Heroku). This could be a good generic way that works for all databases.

It could be an option to disable modifica

[2018-07-13 02:28] huyphams commented on #539
Hi @moltar we already have this feature. You have to click on the lock icon on the toolbar and choose a safe mode level.

[2018-07-13 06:18] huyphams commented on #537
Looks like MS SQL doesn't support cascade. I disabled this option in the new update.

[2018-07-13 08:59] rico commented on #418
I totally agree with @andretti1977 & @Nemo64 - this is the only functionality I'm missing in TablePlus and why I have to switch to SequelPro regularly.

[2018-07-13 09:46] #537 closed

[2018-07-13 09:47] huyphams commented on #536
It is just released in build 115.

[2018-07-13 09:47] #536 closed

[2018-07-13 09:47] #528 closed

[2018-07-13 12:23] moltar commented on #539
Excellent. I never saw that lock there. Thanks!

[2018-07-13 12:23] #539 closed

[2018-07-13 17:36] RayAbdallah opened #540 "Add Foreign Key Name to Foreign Key Editor"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 115

3. The steps to reproduce this issue: When you go to the Structure of a Table and edit a Foreign Key, the Foreign Key name is not displayed (as can be seen in attached screenshot). Would it be possible to displa

[2018-07-13 17:38] huyphams commented on #540
Hey @RayAbdallah sure, I take a look and see how we can add it in the next update.

[2018-07-13 17:41] huyphams commented on #538
Sure @cvachon-akivo some of the feedbacks are good ideas (tab name based on file name, save the file by command + S), really nice.

[2018-07-13 19:49] donbeave opened #541 "Feature request : Add ability to copy table name from menu."
The latest version of TablePlus doesn't provide any way to copy table name from sidebar menu:
![image](https://user-images.githubusercontent.com/139017/42710885-774aeae2-8718-11e8-847e-63428c183a3c.png)

It's one of feature what I always use in Postico and not allow me to migrate to TablePlus completely:
![image](https://user-images.githubusercontent.com/139017/42710948-c01c4432-8718-11e8-9ccd-7ef

[2018-07-13 20:46] RoMoAmy opened #542 "User Management"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 115

When are you planning to work on user management? I saw a post from September 2017 that it was in the plans.

[2018-07-13 20:48] RoMoAmy opened #543 "Unprofessional Images"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 115

Have you considered adding an option to remove the images (cartoons) that appear throughout TablePlus?

[2018-07-13 20:49] RoMoAmy opened #544 "Export to Excel"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 115

Are there plans to allow the export of data to Excel?

[2018-07-13 20:50] RoMoAmy opened #545 "Query Builder and Data Modeler"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 115

We are interested in seeing a Data Modeler and a Query Builder introduced to TablePlus. Are these features planned for the future?

[2018-07-14 04:01] huyphams commented on #543
Hi @RoMoAmy  I'm working on branch Quote of the day, you can choose quote instead of the image while loading connection. it will be available in some next updates.

[2018-07-14 04:46] f0ntana commented on #226
hi, this version support procedure and triggers on trial or only if pay?

[2018-07-14 04:47] huyphams commented on #226
Are you asking about Oracle? @f0ntana
The Oracle is not done yet (include trigger and procedure, view...)

[2018-07-14 04:50] f0ntana commented on #226
That's right, I'm interested, do you have any idea of the deadline?

[2018-07-14 04:55] huyphams commented on #226
I don't have a deadline but I can add support trigger, procedure, view... and some other improvements for this build in this week.
I always keep the beta build up to date with the master (the release branch).

[2018-07-14 05:07] f0ntana commented on #226
Amazing, if you add this features, certainly I want this App, I will wait for this. Thanks

[2018-07-14 05:40] nojvek opened #546 "This is awesome."
Just want to say I was going to quit my work to work on a tool like this full time. TablePlus is pretty solid. I’m sad it’s not open source. I would have paid even though it was open source. $49 is well worth the price. I would have paid $100 too.

Sequelpro is a great tool, but being able to connect to other databases is super useful.

I wonder how many devs you are? I’ve been thinking of making

[2018-07-14 06:21] huyphams commented on #546
Hi @nojvek if you want me to share my experience, feel free to ping me via email huy@tableplusapp.com
Continue reply this thread can cause an annoying for users who subscribe to the repository.

[2018-07-14 06:21] #546 closed

[2018-07-14 08:01] huyphams commented on #541
Hi @donbeave I just added it: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
You can copy multiple table names as well.

[2018-07-14 10:30] yuqiang-yuan opened #547 "Feature Request: Add default rows count limit as MySQLWorkbench"
1. Which driver are you using and version of it: MySQL 5.6

2. Which TablePlus build number are you using: Version 1.0 (115)

3. The steps to reproduce this issue:
    I hope you should add a returned rows count limitation in TablePlus just as MySQLWorkbench. You know, we often write SQL without the "limit n" part. If TablePlus would add a default limit to SELECT SQL that will be very appreciated

[2018-07-14 14:10] donbeave commented on #541
Awesome! Thank you!

[2018-07-14 14:15] #541 closed

[2018-07-16 07:08] huyphams commented on #543
Temporary, @RoMoAmy you can turn it off by unchecking the `Use loading wallpaper` in preferences.
Download the build here: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-07-16 14:00] wzrd commented on #331
+

[2018-07-16 16:42] huyphams commented on #331
Looks like folks come from Sequel Pro, I will take a look at that feature and bring it to TablePlus asap.

[2018-07-16 19:05] alvint commented on #543
Personally, I like the images.  :)

[2018-07-16 19:16] RoMoAmy commented on #543
We think the images are cute too; however, there are times when we might pull up a DB screen in front of clients, and we'd prefer not to display the images. We're very happy with the option to turn them on/off.

[2018-07-16 20:52] jmfederico opened #548 "When duplicating a row the autoincrement is set to 0"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
115

3. The steps to reproduce this issue:

When duplicating a row on an InnoDB tabel with an autoincrement, the autoincrement columns is set to 0 instead of the next available ID.

[2018-07-17 00:57] tland opened #549 "Vertical Views Not Displayed in the Sidebar"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Vertica Database 09.00.0104

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 115

3. The steps to reproduce this issue:
The Items sidebar only shows vertical tables, no Vertica views.

[2018-07-17 03:52] gdunghi opened #550 "Do not display value when column is BIT on mysql (5.7.17)"
<img width="564" alt="screen shot 2561-07-17 at 10 57 49" src="https://user-images.githubusercontent.com/1131300/42795843-ba5d9c5e-89b0-11e8-818e-0ea942c8b2b2.png">
I use mysql 5.7.17
TablePlus build numbe : 1.0(115)

when i select bit column  , result table don't display value

[2018-07-17 03:54] huyphams commented on #550
Hi, we recieved somebody feedback (maybe from you, we can’t reply because there is no email) from direct message. We’re fixing it, thank  you for the reporting.

[2018-07-17 03:54] huyphams commented on #549
Thanks, let me check and fix it.

[2018-07-17 05:35] huyphams commented on #548
@jmfederico how we can produce this issue? I tried and it works fine.

[2018-07-17 06:44] huyphams commented on #550
It's supported now: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks @gdunghi

[2018-07-17 07:11] gdunghi commented on #550
Thank you very much

[2018-07-17 11:53] huyphams commented on #549
Hi @tland it's fixed now: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Please let me know if you need anything in Vertica (because of lack of support).

[2018-07-17 13:48] tland commented on #549
Awesome. It works now. Thank you, @huyphams

[2018-07-17 16:24] SananGuliyev opened #551 "Data too long for column problem on insert and update within the GUI"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 8

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 115

3. The steps to reproduce this issue: I got `Data too long for column` when I try to insert or update because TablePlus accept all the data as a string. Why it tries to make a query with only string data?

E.g. This que

[2018-07-17 16:25] huyphams commented on #551
Hi @SananGuliyev this was fixed in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-07-17 16:29] huyphams commented on #551
I just fixed it a few hours ago, it's not official release (that why the app said you up to date). You can keep using the build above until next week. it can self-update. no worries.

[2018-07-17 16:32] SananGuliyev commented on #551
Sorry, but gave me an old version URL. First thing is when I download and open your version from the link it suggests me to update and the second thing is it is still not working. Are you sure that you fixed it? You closed the issue directly instead of checking the issue.

[2018-07-17 16:36] huyphams commented on #551
I just checked the link, it is the newest build, 115. You can see the modified day in dropbox. I closed it because I see the bug related to BIT data type (Which I just fixed and it duplicated with an other issue).
Could you double check the download again?

[2018-07-17 16:42] huyphams commented on #551
`First thing is when I download and open your version from the link it suggests me to update and the second thing is it is still not working` => Looks like you opened the wrong zip file (maybe the file you download in Website last week?)
I'm sorry if the bug wasn't fixed in the newest build, if then I can reopen the issue.
I'm trying to reponse all the issue asap because I have a lot of thing to d

[2018-07-17 16:47] SananGuliyev commented on #551
Ok. Thanks for the answer. I hope it will be official release asap (with `|` `or` condition)

[2018-07-17 16:49] huyphams commented on #551
Currently, we release an update every week, so you can expect the update in the end of this week or on the next monday 😄

[2018-07-17 16:52] huyphams commented on #545
hey @RoMoAmy I don't understand the Query Builder meaning, can you give me an example (or better an application with this feature)
Thank you so much 🙌

[2018-07-17 17:00] RoMoAmy commented on #545
We currently use Navicat, which allows us to build Queries with table objects rather than writing the SQL. You can drag the table object(s) in, select fields via checkbox, and draw connections from one object to the next. After building with the drag and drop objects, you can switch to view and run the code. I hope that helps.

Sincerely,

Amy Reindel
http://robotmorning.com
(513) 322-4831 x13
On

[2018-07-17 17:17] #509 closed

[2018-07-17 17:18] #508 closed

[2018-07-18 02:03] bulletRush opened #552 "[UX]TablePlus window auto move to another screen(very low priority)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

* Build 115

3. The steps to reproduce this issue:

**it's a very low priority requirement**

* open table plus in screen A and open an connection
* move table plus to screen B
* open new connection and TablePlus will be moved to s

[2018-07-18 08:48] SananGuliyev opened #553 "ENUM update problem."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 115

3. The steps to reproduce this issue:

When I try to update `ENUM` column through the GUI, it does not show the dropdown of choices even I could not write it manually. It shows a dropdown like in the screenshot.

![sc

[2018-07-18 08:49] huyphams commented on #553
Thanks @SananGuliyev let me check it.

[2018-07-18 09:12] huyphams commented on #553
Hey @SananGuliyev I fixed it: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for the reporting.

[2018-07-18 09:53] SananGuliyev commented on #553
Thanks for the quick fix.

[2018-07-18 09:53] #553 closed

[2018-07-18 11:37] SananGuliyev opened #554 "Auto-generated SQL queries are incorrect"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 115

3. The steps to reproduce this issue:

When I try to update row within the GUI it produces wrong `UPDATE` query even I only change one column the auto-generated query try to update multiple columns.

![screen shot 201

[2018-07-18 11:41] huyphams commented on #554
Thanks @SananGuliyev TablePlus only generate the update statement for the modified field.
I believe there is a bug but with your limited info, I can't reproduce it (I tested with my setup and it generates correctly.)

[2018-07-18 11:47] SananGuliyev commented on #554
Yes, you are right. I checked it and it generates update statement only for the modified fields but if there is no auto-increment id then it generates some `where` statement which avoids the update.

![screen shot 2018-07-18 at 13 40 34](https://user-images.githubusercontent.com/5057582/42879399-c350c332-8a90-11e8-914c-2f59b2bde85a.png)

[2018-07-18 11:53] huyphams commented on #554
Because MySQL doesn't have any hidden row id (like ctid in PostgreSQL) so it needs a where condition to avoid multiple updates. (Without where, it updates all the rows).

[2018-07-18 12:07] SananGuliyev commented on #554
But in the end, the affected rows is 0. I tried the same thing on `Sequel Pro` and it updated row as expected.

[2018-07-18 12:14] huyphams commented on #554
Hey, could you go to Sequel Pro and copy the generated statement (click on console button on the top right), then compare with the statement which was generated by TablePlus. I believe we can figure out the bug easily. I can do it my self but probably your database contains sensitive information.
I appreciate your help

[2018-07-18 13:15] SananGuliyev commented on #554
The difference is like that.

That's generated by `Sequel Pro`:
```UPDATE `table_name` SET `modified_column` = 'new_value' WHERE `unique_column` = 'unique_column_value';```

That's created by `TablePlus`:
```UPDATE `table_name` SET `modified_column` = 'new_value' WHERE `unique_column` = 'unique_column_value' AND `some_non_unique_column_1` = 'some_non_unique_column_1' AND `some_non_unique_column_2`

[2018-07-18 15:33] huyphams commented on #554
I figured out the bug, it because TablePlus tried to compare float value (we should not compare float value because it will be random false).
For example:

[code]
Now try to edit the value, it always fail, both Sequel Pro and TablePlus. As I said, optimize based on a unique index is not a full solution.

[2018-07-18 17:31] #550 closed

[2018-07-18 17:31] #549 closed

[2018-07-18 17:31] #543 closed

[2018-07-18 18:05] alnorris commented on #234
Personally, I'm 1+ on Mongo support. Most mongo guis out there use a table grid.

[2018-07-18 21:16] f0ntana commented on #226
The app updated and now I can't use oracle?

Version 1.0(116)

[2018-07-19 01:32] huyphams commented on #226
Hey @f0ntana it was merged to master, I just updated the beta build to 116, You can download it here: https://www.dropbox.com/s/dcr03jxjr1gnqck/TablePlus.zip?dl=0

[2018-07-19 08:43] msglight4874 commented on #183
Hi @huyphams
Is there any progress being made on this?

[2018-07-19 08:58] huyphams commented on #552
Hi @bulletRush are you using an external display?

[2018-07-19 11:08] cloudbluedigital opened #555 "Redis not connecting?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Redis

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 116

3. The steps to reproduce this issue:

Hi Guys,

So basically my issue is with redis. I am running redis on a vagrant machine and my configuration is:

<img width="480" alt="screen shot 2018-07-19 at 12 06 21" src="

[2018-07-19 11:59] f0ntana commented on #226
@huyphams thanks

[2018-07-19 12:08] f0ntana commented on #226
@huyphams thanks
This version has functions and procedures.. its amazing..
maybe will you separate the views of tables?
eager for future functionality..

I can't edit this views?

thanks a lot!

[2018-07-19 13:13] lrecknagel opened #556 "[Cassandra] deletion of tables doesnt work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Homebrew installed Cassandra 3.11.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
115

3. The steps to reproduce this issue:
connect to a Cassandra server, open a keyspace (database) and try to delete 1+ tables.
The table names are shown with red background but nothing happens.

[2018-07-19 13:14] huyphams commented on #556
Hi @lrecknagel you must press command + s to commit or click on the commit button in the segment control (on the top left)

[2018-07-19 13:16] huyphams commented on #555
Hi @cloudbluedigital which version of redis are you using?

[2018-07-19 14:05] cloudbluedigital commented on #555
[code]

[2018-07-19 14:13] whyhankee commented on #226
Also using the Beta for Oracle I notice that the reconnect recovery does not seem to work as nice as the other db types. I really need to close the window and reconnect .. Not a really big thing, but anyway.

(thanks for writing this amazing peace of software, bought it of course)

[2018-07-19 21:32] mikebronner opened #557 "[Suggestion] Consistent Use Of System Highlight Color"
It appears that various sections of the UI aren't all using the same highlight color. This is especially evident when using custom highlight colors in macOS Mojave. As you can see below, the green is the custom highlight color, while blue is hard-coded in TablePlus (or perhaps remaining with the default system highlight color, not recognizing the user-chosen highlight color):

![screen shot 2018-0

[2018-07-20 05:08] lrecknagel commented on #556
Hi @huyphams thanks for you fast response, its totally fine as you explained. Sorry for that misunderstanding.

[2018-07-20 05:08] #556 closed

[2018-07-20 08:09] bulletRush commented on #552
@huyphams  yes.  I' so sorry, I forgot to tell you I'm using TablePlus in mac os 10.13.3. and it seems like mac os's mechanism.

[2018-07-20 08:40] huyphams commented on #557
Hi @mikebronner there are four colors for row:
- A selected row: blue.
- A new row: green.
- A modified cell (of row): yellow.
- A deleted row: red.

So the green row color in your screenshot must be the new row. There are two blue colors (but it's hard to see it different, one of them is hardcode because I can't figure out how to change it).

[2018-07-20 09:03] huyphams commented on #226
@f0ntana yup, I'm still optimizing it. I wonder if people want to display all tables in all_tables or only tables in user_tables?
@whyhankee are you using SSH to connect to the server?

[2018-07-20 09:34] cloudbluedigital commented on #555
any update on this @huyphams

[2018-07-20 09:35] huyphams commented on #555
I'm still investigating, I have the same setup and it works fine:
<img width="1208" alt="screen shot 2018-07-20 at 4 35 05 pm" src="https://user-images.githubusercontent.com/3654622/42995373-e8a5a156-8c3a-11e8-9c7c-6f6d2d889f7c.png">

[2018-07-20 09:49] cloudbluedigital commented on #555
and is that running throught vagrant?

[2018-07-20 09:53] huyphams commented on #555
No, I'm running it via homebrew and one other instance in docker, both of them work fine. I will try to install vagrant later. Currently, I'm focusing on JSON Editor so I will check with vagrant tonight.

[2018-07-20 10:01] cloudbluedigital commented on #555
thanks for that, local redis works fine it's just the vagrant

[2018-07-20 10:33] whyhankee commented on #226
@huyphams regarding reconnect: no, I'm locally connected to a docker-container on my Mac

[2018-07-20 13:18] f0ntana commented on #226
@huyphams all programs that I had used display all separates, like this.

![screen shot 2018-07-20 at 09 17 55](https://user-images.githubusercontent.com/6570783/43004465-dcee395a-8bfd-11e8-8d85-273a390c6496.png)

[2018-07-20 13:20] alvint commented on #226
@huyphams I have a similar issue as @whyhankee, except I'm using an SSH tunnel that isn't configured through TablePlus (in TP it appears I'm connecting to localhost). If the tunnel disconnects, even if I bring it back up immediately TP needs to be restarted. Would this be more reliable if I used the "over SSH" feature?

[2018-07-20 13:27] f0ntana opened #558 "Mysql SSH"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
116 - with oracle support
3. The steps to reproduce this issue:
I try connect to mysql using ssh
Noted: If the bug is related to data, please attach an example SQL data.

I try connect to mysql using ssh connect and app still i

[2018-07-20 13:29] huyphams commented on #558
Hi @f0ntana did you try to put 127.0.0.1 on host instead of the server ip? Sequel Pro always default 127.0.0.1 if you are using ssh.

[2018-07-20 13:32] f0ntana commented on #558
In sequel pro I use the external IP, and works, here I use localhost and works.

thanks a lot!

[2018-07-20 13:32] #558 closed

[2018-07-20 13:53] f0ntana opened #559 "Connection names"
![screen shot 2018-07-20 at 09 52 12](https://user-images.githubusercontent.com/6570783/43006046-afa12b7e-8c02-11e8-80f5-f880d6c0eadd.png)

[2018-07-20 14:29] jcohlmeyer opened #560 "Export All Results (Not just current Page)"
It is essential to have the CSV export of results export all pages of results, not just the current page in view.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 116

3. The steps to reproduce this issue:
Do a search that returns multiple pages of results, expor

[2018-07-20 14:31] huyphams commented on #560
I got your idea. Currently, you can copy the generated statement and paste it into SQL Query, run it and export result. But it would be more convenient for people to export directly in table data view.

[2018-07-20 14:32] huyphams commented on #226
Hmm, I'm not sure, let me try to reproduce it.

[2018-07-20 14:35] jcohlmeyer commented on #560
Oh, that ins interesting, nice to know, I do not think I would have been able to find this by myself. Also I think this would be a great enhancement. Thanks.

[2018-07-20 17:36] richardpenner opened #561 "Error-inducing autocomplete"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
116

3. The steps to reproduce this issue:
1. Type `select * from table order by 1 group by 1`
2. If you have a table with a name such as `v1`, autocomplete will suggest it. This suggestion is never useful, and if you're hitting ent

[2018-07-20 19:18] lcjury opened #562 "Feature Request: Transpose query/filter results"
Which driver are you using and version of it: MySQL 5.6

Which TablePlus build number are you using: Version 1.0 (116)

The steps to reproduce this issue:
A lot of time I end seeing just one row as a result of a query. I would love to be able to have a transpose feature, who allow me to change columns to rows to be able to watch the result scrolling down instead of scrolling to the right.

[2018-07-20 20:35] alvint commented on #561
This is actually two issues. The first is that AC offers invalid items, and the second is that hitting enter at the end of the query will cause autocomplete to replace your last item. Regardless of if the autocomplete offers a valid item, this is often not desired.

One possible solution for the second issue may be to introduce a very slight delay after each keystroke before autocomplete (re)activ

[2018-07-21 03:55] huyphams commented on #562
I thought the right panel already did it:
<img width="1049" alt="nice" src="https://user-images.githubusercontent.com/3654622/43031834-18a42190-8cd4-11e8-8ec8-69dd707b5ef0.png">

[2018-07-21 04:10] lcjury commented on #562
Sorry, I wanted it here :)
<img width="1275" alt="captura de pantalla 2018-07-21 a la s 00 09 29" src="https://user-images.githubusercontent.com/1194606/43031964-5f9a8558-8c7a-11e8-8155-dab2a3799966.png">

[2018-07-21 04:11] huyphams commented on #562
You can still use the right panel here by clicking on the row and press `space`.

[2018-07-21 04:13] lcjury commented on #562
Now I feel like an idiot :(

Thanks @huyphams !!! that was exactly what I want :)!. I was closing too much my mind to how other db ide's work and didn't see I already used that feature a lot of times before.

[2018-07-21 04:19] #562 closed

[2018-07-21 13:59] mikebronner commented on #557
Ah, so it might only have been a coincidence! Let me verify next week -- I'm out of the office until then. Thanks for the quick follow-up.

[2018-07-21 17:45] f0ntana commented on #547
this feature is missing, I have tables with lots of data those loads everything and then lets do anything.

[2018-07-21 18:18] netinhoteixeira commented on #226
Please, 1+ to test it. I have another tools but I luv to use one native, all are in Java and they are sooo heavy.

[2018-07-22 00:57] jmfederico commented on #548
Hi, well it now works. Thanks anyway!

[2018-07-22 00:57] #548 closed

[2018-07-22 03:57] huyphams commented on #547
Hey, @f0ntana @yuqiang-yuan  you can press command + . to cancel the query, it works exactly the same way with MySQL Workbench. There is no such thing as `add rows count limit`, both TablePlus and MySQL Workbench didn't append any limit to the end of queries.

- MySQL Workbench: it does the paging.
- TablePlus: Continuing loading.

So you guy just need to press: `command + .`

[2018-07-23 01:01] f0ntana commented on #547
I things that is a great features, all programs I use, I hasn't need cancel the query.. my ideia is like infinity scroll, that SQLDeveloper use...

its an ideia.. but u decide

[2018-07-23 12:08] cjgu opened #563 "Expand result column width automaticaly on EXPLAIN queries"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgresSQL 9.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 116

3. The steps to reproduce this issue:

When doing EXPLAIN queries the output is in one column and that column is too narrow to read full output so every time one need to expand the column, would be nice if the c

[2018-07-23 15:38] huyphams commented on #563
Hey @cjgu thanks for the feedback. We are improving it, it's related to this issue: https://github.com/TablePlus/TablePlus/issues/515

[2018-07-23 16:54] cjgu commented on #563
@huyphams, awesome! Thank you for a great product.

[2018-07-23 20:33] cloudbluedigital commented on #555
@huyphams did you have a chance to test it in vagrant?

[2018-07-24 19:33] splodingsocks commented on #456
I'll throw in my opinion here, too. I'd love to have an option to check that would open a new connection to the DB for each tab. But if that isn't going to happen, it'd be good to have some sort of documentation in the getting started guide to tell me that there's just one connection per workspace.

[2018-07-25 06:42] huyphams commented on #456
The best thing I can do is add an option for people, who want to config the number of connections in workspace. I already did the basic from the beginning so it won't take too much effort.

[2018-07-25 16:12] mikebronner commented on #557
@huyphams I can confirm that the green system color is being used to highlight existing rows. I think it would be preferable to use the user-selected system highlight color, rather than forcing a specific blue. In my mind that would be more consistent with the rest of the Mac. Thanks! :)

![screen shot 2018-07-25 at 9 10 29 am](https://user-images.githubusercontent.com/1791050/43213128-a375974a-8f

[2018-07-25 16:13] huyphams commented on #557
I got it, thanks @mikebronner for the confirmation. I will do it.

[2018-07-25 16:36] huyphams commented on #555
Hi @cloudbluedigital sorry because of the late response. I'm overwhelmed by tasks.
I just installed vagrant, which repo are you using to install Redis?

[2018-07-25 17:02] huyphams commented on #355
Hi all, I just added JSON editor in this build, it would be great if you guys give it a try and give me some feedback:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
I'm still working on it.

[2018-07-25 19:47] codydh opened #564 "[Feature Request] Support editing content of SQLite views"
It would be awesome if SQLite supported editing the content of SQLite views when an update trigger is present.

[2018-07-25 21:31] lcjury opened #565 "Unexpected Crash when creating an table index"
1. Which driver are you using and version of it: Mysql 5.7

2. Which TablePlus build number are you using: 116

3. The steps to reproduce this issue: Select any table, go to structure, click on the "+ Index" button.

Here is some info the MacOS reporter gave me:

[code]

Let me know if there is anything in which I can help

[2018-07-25 21:36] huebs commented on #355
@huyphams awesome! I'll take a look.

[2018-07-25 22:14] huebs commented on #355
@huyphams it doesn't seem to be working for me.

**Note:** I mainly develop using the [Symfony framework](http://symfony.com) and its [Doctrine ORM](https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/index.html). By default, properties configured to store JSON formatted data [map to a SQL CLOB filed](https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/basic-mapping.h

[2018-07-26 07:56] cloudbluedigital commented on #555
No problem @huyphams I am using laravel/homestead image which comes with redis pre-installed. Image is an Ubuntu 18.04 so it's installed with sudo apt install redis. Let me know if you need more details

[2018-07-26 09:02] HenriWallart opened #566 "[Cassandra] SMALL_INT is always 0"
1. Which driver are you using and version of it : Cassandra 3.0.13

2. Which TablePlus build number are you using : 116

3. The steps to reproduce this issue:

I have a column of type SMALL_INT.
TablePlus shows 0 for every lines even if it's > 0, verified via cqlsh.

[2018-07-26 09:02] huyphams commented on #566
Thanks let me check.

[2018-07-26 09:18] huyphams commented on #566
I fixed it @HenriWallart
Can you give it a try: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks.

[2018-07-26 09:20] HenriWallart commented on #566
It works !
Thank you for your reactivity !

[2018-07-26 15:42] splodingsocks commented on #456
I think that'd be great!

[2018-07-26 18:06] #566 closed

[2018-07-26 19:12] l41lt0n opened #567 "Dark mode can see text with focus"
Hi @huyphams,
I am starting to use feature dark mode. and I have a problem if I click into the field in dark mode text and background still BLACK.

![Uploading Screen Shot 2018-07-26 at 16.09.26.png…]()

Version 117 and database SQLite3

[2018-07-26 19:13] l41lt0n opened #568 "JSON view not working to SQLite"
@huyphams,

The new feature JSON view is not available to SQLITE?

I am using the last version 117 but the field that contains the JSON string don't show me like the print screen that you send before on the Twitter.

Can you inform if is it a limitation to SQLite?

Thanks

[2018-07-26 19:16] l41lt0n commented on #567
Weird, but now it looks ok.

closing may be a false alarm.

[2018-07-26 19:16] #567 closed

[2018-07-26 20:54] splodingsocks commented on #355
I just got the build with the JSON browser, <3 it! It'd be fantastic if it would show in the right sidebar as well as the "quick look" view.

[2018-07-26 23:35] mikerogne commented on #158
Are there any plans to implement this? I was a little sad to realize this feature didn't exist when I needed it just now haha!

[2018-07-27 05:13] MrSkinny opened #569 "Download hashes?"
Are the MD5/SHA hashes provided anywhere on the releases?

[2018-07-27 05:16] huyphams commented on #569
Currently, we don’t public it on website but every build has a secret sign in the update, to make sure it was distributed by a trusted source.
We will update it on our site shortly as your request.

[2018-07-27 05:55] huyphams commented on #568
Thanks @l41lt0n let me check it.

[2018-07-27 05:58] huyphams commented on #158
We just put it on our roadmap, will be available in some next updates.

[2018-07-27 07:18] huyphams commented on #355
Hey @huebs sorry I got a mistake, I forgot to enable JSON Viewer in MySQL, here is the fix build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-07-27 08:31] huyphams commented on #555
I'm using the lasted build 117 and vagrant laravel/homestead, it works.

<img width="1254" alt="screen shot 2018-07-27 at 3 29 31 pm" src="https://user-images.githubusercontent.com/3654622/43310511-f05ab270-91b1-11e8-8def-71dda857e919.png">
Setup:
<img width="612" alt="screen shot 2018-07-27 at 3 30 20 pm" src="https://user-images.githubusercontent.com/3654622/43310526-fb353d28-91b1-11e8-99d3-4769

[2018-07-27 10:40] huyphams commented on #568
I forgot to enable JSON in SQLite, here is the build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks.

[2018-07-27 14:19] l41lt0n commented on #568
@huyphams

I am testing the new file but the result is the same:

<img width="1410" alt="screen shot 2018-07-27 at 11 17 59" src="https://user-images.githubusercontent.com/32529405/43326316-e449b33c-918e-11e8-95bd-7d50d2de1220.png">

Any idea?

[2018-07-27 14:42] l41lt0n commented on #568
@huyphams,

I am trying to access via MYSQL ( mariaDB server ) and I can not see too the new JSON VIEW.

There is some change that I need to do to be able to see it ( as JSON VIEW )?

I think that I am missing something here.

[2018-07-27 14:47] cloudbluedigital commented on #555
it does work when you use ssh, I thought that because vagrant exports redis to localhost I will be able to use it but looks like I still need to ssh to it. That's fine, Thanks!

[2018-07-27 14:47] #555 closed

[2018-07-27 15:32] mikebronner opened #570 "Update Splash Screen Unreadable In Mojave Dark Mode"
Hi, thanks for all your hard work on TablePlus! Wanted to share this one with you: in Mojave dark mode, the update splash screen can't be read, because of the low contrast between text and background:

![screen shot 2018-07-27 at 8 31 01 am](https://user-images.githubusercontent.com/1791050/43330312-a2735196-9177-11e8-9411-b22f4ecd50b6.png)

[2018-07-27 15:43] huyphams commented on #568
@l41lt0n TablePlus doesn't recognize blob field is JSON. Currently, It works when the data type is JSON. I will improve later to auto uniform all editor in one so you can choose the editor when previewing.

[2018-07-27 15:44] huyphams commented on #570
Thanks, @mikebronner for reporting this bug, it is the issue when integrating with Setapp. I will work with them to improve it.

[2018-07-27 15:53] mikebronner commented on #570
Ah, didn't know there were issues there. Any chance the Setap version will get cloud sync? Or are the two mutually exclusive? (I have SetApp, as well as purchased the app directly, the later came with cloud sync.) Thanks!

[2018-07-27 15:55] huyphams commented on #570
There is a trick for you: https://github.com/TablePlus/TablePlus/issues/390

[2018-07-27 16:32] l41lt0n commented on #568
@huyphams,

I got it!

There is a way to make a PLUGIN to add to this option:
<img width="732" alt="screen shot 2018-07-27 at 13 31 26" src="https://user-images.githubusercontent.com/32529405/43333690-769e391c-91a1-11e8-9f05-4e31446d2a92.png">

To select for example "View as JSON" ?

Thanks.

[2018-07-27 16:52] l41lt0n commented on #568
@huyphams

Can you adjust it to MariaDB also?

What about mariaDB ?

It dont have field JSON but "LONGTEXT"

How to use?

Thanks

[2018-07-27 16:54] huyphams commented on #568
As I said, I will improve it, combine all editor in one, then you can change the edit when previewing.
I can't optimize for LONGTEXT or blob because it can be anything, it costs too much resource for parsing/detecting real-time.

[2018-07-27 16:56] l41lt0n commented on #568
Ok, thank you.

[2018-07-27 17:35] l41lt0n commented on #568
@huyphams,

For mySQL it looks amazing!

<img width="1678" alt="screen shot 2018-07-27 at 14 34 21" src="https://user-images.githubusercontent.com/32529405/43337420-3fe06e3c-91aa-11e8-8fd9-a6793f4fc0ec.png">

Thanks

[2018-07-27 17:35] #568 closed

[2018-07-27 20:59] ayalbelling opened #571 "When changing NVARCHAR(MAX) field from NOT NULL to Nullable field becomes a single character NVARCHAR"
Mac V1.0 (116) SQL Server. When editing an existing table structure as in above description, the field changes to effectively NVARCHAR(1) i.e. single character and truncates entries. Would be good too if the table structure UI showed the length of the NVARCHAR field in the data_type column.

[2018-07-28 02:02] huyphams commented on #571
I just added support it here:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for the feedback.

[2018-07-28 14:14] aggarson opened #572 "SQLite unable to Delete Column"
1. Sqlite 3.23.1:

2. build 117

3. Create a column (not primary key, etc) then try to delete it.  I couldn't using context menu.

\

[2018-07-28 14:18] huyphams commented on #572
Hi, this is SQLite limtation itself Hi Philip, https://stackoverflow.com/questions/8442147/how-to-delete-or-add-column-in-sqlite
SQLite doesn’t support remove column. Only adding column is possible.

[2018-07-28 14:22] aggarson commented on #572
Thank you for the response.  I understand; however, you should raise an error rather than leave the user in the dark.  Also, take a look at some of your competitors that permit deletion of sqlite columns (e.g., base).  They must run a background script that deletes and then recreates the table although I don’t believe you lose your data….

-- 
Adam Garson at Essentia
Sent with Airmail

On July 28,

[2018-07-28 15:36] jbergstroem commented on #183
For what its worth: This would be my number one feature request as well.

[2018-07-30 04:34] LannyMH opened #573 "Variables declared is missing after semicolon?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQL SERVER 2017

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
117
3. The steps to reproduce this issue:
Run this SQL, DECLARE @TEST AS INTEGER; SELECT @TEST, it gives "Must declare the scalar variable "@TEST"."

Noted: If the bug is related to data, please attach an example SQL

[2018-07-30 04:38] huyphams commented on #573
Thanks, let me check it.

[2018-07-30 06:21] Matej-Petrla opened #574 "Filter multiple tables using Regex"
When using table filter in left column would be nice if we can search using regex or just multiple tables like this:
- `app_users|app_roles`
- `app_.*|^page$`
- ect...

This feature is used in other successfull free apps like HeidiSQL or SequelPro.

[2018-07-30 07:09] huyphams commented on #573
Hi @LannyMH TablePlus doesn't swap the statement into transaction by default, You can do it with the syntax below:
[code]
it should work.

[2018-07-30 07:32] huyphams commented on #574
it's duplicated with https://github.com/TablePlus/TablePlus/issues/342
And it is supported now in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thank you for the suggestion.

[2018-07-30 07:32] #574 closed

[2018-07-30 07:33] huyphams commented on #342
Hi @kiakimov I added this feature in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks.

[2018-07-30 08:33] huyphams commented on #569
Hey @MrSkinny we added SHA hash in this page: https://tableplus.io/osx/changelog
We will update it when releasing a new build.

[2018-07-30 08:33] #569 closed

[2018-07-30 10:39] donbeave opened #575 "Feature Request: Add ability to copy column name from response result"
Hello!

I would like to see the small but quite useful feature, add an ability to copy column name from the result window, like what's already exist in Postico client before I have migrated to TablePlus:

This is how it looks like in TablePlus now:

<img width="1211" alt="xnip2018-07-30_18-32-18" src="https://user-images.githubusercontent.com/139017/43392904-b8e48fd2-9427-11e8-94ce-81d807cf5add.pn

[2018-07-30 10:43] donbeave opened #576 "Feature Request: Add ability to open SQL query editor in new tab"
Small, but useful feature, I think.

When I have opened one table through click on it and view some data, I would like to do some separate sql queries, but don't want to replace this tab with sql query, just want to check these data in another tab. I think the best and with good UX way is add "open in new tab" item to context menu on "SQL editor" icon, just here:

<img width="1210" alt="xnip2018-0

[2018-07-30 10:52] huyphams commented on #575
Hey, it's here: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
😉

[2018-07-30 10:53] huyphams commented on #576
Do you have any problem with command + D?
Btw, if you're using a mouse, you can do it easily with the middle mouse button. Let me know your thought.

[2018-07-30 10:58] donbeave opened #577 "Feature Request: "Navigate" > "New Tab" will open new tab with same content as current one"
Guys, I know, probably I'm too annoying. ))

One more feature request, which I think can port from Postico UX.

If you open a new tab in TablePlus now it will open new empty tab without anything. It's quite useless because it's probably not what ppl want to see. I think more often use case is the duplicate current result or current sql query. So, my suggestion is copy idea how it was already imple

[2018-07-30 11:02] donbeave commented on #576
No mouse, only touch tab.

If I use "command + T" it will open a new empty tab, then I need to click on "SQL" icon. If I use "command + D" nothing will happen.

[2018-07-30 11:02] donbeave commented on #575
Amazing! Awesome! Love it!

[2018-07-30 11:02] #575 closed

[2018-07-30 11:09] huyphams commented on #576
Hmm weird, command + D does nothing probably because key binding bug (caused by language)
<img width="1171" alt="screen shot 2018-07-30 at 6 03 57 pm" src="https://user-images.githubusercontent.com/3654622/43393900-f0c6e990-9422-11e8-8926-0bc87da63667.png">

You can try it via shortcut menu:
<img width="529" alt="screen shot 2018-07-30 at 6 04 13 pm" src="https://user-images.githubusercontent.com/

[2018-07-30 11:11] huyphams commented on #576
if you are on a table view, you can open SQL Query by:
Command + Return or Command + E (Hover on the button you will see the shortcut key, every button).

[2018-07-30 11:22] huyphams commented on #577
First of all, I have no problem with the user's requests, I always appreciate every single feedback. People spend there time to test and give their idea, it's wonderful. Without user feedback, we can't make it.
About your idea:
I'm aware of it but I'm still thinking. TablePlus and Postico are not the same, it handles connection in a different way.

- Postico opens a new connection when you open a

[2018-07-30 11:35] huyphams commented on #576
Hey @donbeave let me know if it works for you 😄

[2018-07-30 12:31] donbeave commented on #576
No, no, in my case it's different because I have opened `contracts` first. If I click on SQL icon it will replace my current tab, if I want to open a new tab to use sql query I need do it in two steps:
1) click on "Navigate", choose "New Tab"
2) click on "SQL" icon

I think it's better to have an ability to do it in one step directly. As I said in this issue (https://github.com/TablePlus/TablePlus

[2018-07-30 13:29] alvint commented on #572
Related to issue #473.

[2018-07-30 14:53] f0ntana commented on #226
@huyphams I make the update and oracle don't work.. can u send new link ?

thanks

[2018-07-30 14:54] #559 closed

[2018-07-30 14:56] huyphams commented on #226
It's the same link above, I always upload the new build on Dropbox after release. It's sync everywhere.

[2018-07-30 14:59] f0ntana commented on #226
ohh ok 🎉

[2018-07-30 17:35] f0ntana commented on #226
@huyphams are you working on procedures and triggers?

[2018-07-31 06:01] huyphams commented on #576
I forgot that if you selected a row, command + return trigger edit inline.

[2018-07-31 06:47] huyphams commented on #576
Hey @donbeave I have a tip for you, instead of single click on a table, you can double-click on the table. After that, when you click the SQL Query button, it won't replace the view.

[2018-07-31 07:30] donbeave commented on #576
It works for me.

[2018-07-31 07:31] donbeave commented on #576
@huyphams do I need to close the ticket or maybe you will use some idea from this ticket to improve UI later?

[2018-07-31 15:41] RoMoAmy opened #578 "Loading Database Time-out"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MS SQLServer 2012
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
117
3. The steps to reproduce this issue:
When connecting to a new large database, TablePlus tries to cache all table information, including triggers, which stalls it until it times out. We also use Navicat, and inf