[2018-07-31 15:44] huyphams commented on #578
Hey @RoMoAmy thanks, this is a serious issue, I will investigate and optimize it. Thanks for the feedback.

[2018-07-31 16:16] alvint opened #579 "double-clicking the Open SQL Query button should make the query tab "sticky""
If you double-click on a table, it is opened in a "sticky" manner. That is, the tab that the table is opened in will be locked to the table's contents and clicking on another table will open it in a new tab. It would be nice if double-clicking on the Open SQL Query button worked in a similar manner. In order to make the query tab sticky, I have to open it and then remember to type something in it,

[2018-07-31 17:18] huyphams commented on #578
Hi @RoMoAmy
Here is the list of all statements which will be executed when connecting.
It would be great if you can run it and let me know which query was slow.

1. Get tables and views.
[code]

2. Get primary indices.
[code]

3. Get foreign keys
[code]

4. Get schemas
[code]

5. Get functions

[code]

Thank you so much.

[2018-08-01 12:43] RoMoAmy commented on #578
Hello Huy Pham,

I ran the queries you requested on the same database in Navicat. Here are my results:

1. Completed in 1.01 seconds

2. Completed in 3.87 seconds

3. Completed in 7.12 seconds

4. Completed in 0.06 seconds

5. Completed in 770.61 seconds

I hope this helps. Let me know if you need anything more.

Sincerely,

Amy Reindel
http://robotmorning.com
(513) 322-4831 x13
On Jul 31, 2018, 1

[2018-08-01 15:07] f0ntana commented on #226
hey.. I had a problem, when table has many rows, and I run a command, and cancel the query, the app broken and send Unexpected.

[2018-08-01 15:08] huyphams commented on #226
Thanks @f0ntana , I will check it.
About the trigger and procedures, I'm working on it.

[2018-08-01 18:43] bounoable commented on #439
@wzrd thank you! that was the solution for me, too.

[2018-08-02 07:42] huyphams commented on #412
Hey @yacinehmito can you re-select the id_rsa again? it's a weird bug. I can't reproduce.

[2018-08-02 15:47] reidcooper opened #580 "How to search Redis Keys with glob?"
I am having issues searching my Redis keys. I am using the same search I would through Redis cli.

`KEYS cache_store:[^variant]*`

[2018-08-02 16:01] lcjury commented on #565
Thanks to you guys! table plus rocks! thanks for bringing such an awesome tool to the world :)!

[2018-08-02 16:02] huyphams commented on #580
Thanks, let me check it.

[2018-08-03 00:05] jeffreybox commented on #224
Is this feature only available in the licensed version?

[2018-08-03 05:41] huyphams commented on #224
it's available for free version @jeffreybox

[2018-08-03 06:17] huyphams commented on #426
I just improved it in the next update, TablePlus will auto resize the SQL Query if it is invisible for the first time.

[2018-08-03 08:27] AkemiHomuraa opened #581 "how can i change table collation?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5.1.73

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 117

how can i change table collation?
i only can find the collation at Overview items ,but i can't edit

[2018-08-03 08:30] huyphams commented on #581
Currently, TablePlus doesn't support change collation but it will support it soon.
Thanks for the reporting.

[2018-08-03 09:49] huyphams commented on #580
It's fixed: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-08-03 11:24] #580 closed

[2018-08-03 11:24] #579 closed

[2018-08-03 11:24] #571 closed

[2018-08-03 11:24] #565 closed

[2018-08-03 11:28] huyphams commented on #578
Hi @RoMoAmy thanks for the helpful result.
Please update to the build 118 and turn off this option. I will disable loading functions which is 770.61 seconds. I think in the long term, I need to find the other way to load user functions.
<img width="612" alt="abc" src="https://user-images.githubusercontent.com/3654622/43640642-e020a484-974a-11e8-8db0-9481746c97be.png">

[2018-08-03 11:35] Ilyes512 opened #582 "Be able to use `NULL` or `NOW()` in (datetime) columns"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL (but this is not relevant...)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
117

3. The steps to reproduce this issue:
When I edit a nullable datetime field. I expect to be able to type in `NULL` or `NOW()` and have it behave as expected instead of filling in `0000-00-00

[2018-08-03 11:39] huyphams commented on #582
Thanks @Ilyes512
I can optimize this, the reason I keep NULL and NOW() as a string because it can be a default value (as string) in other driver (like PostgreSQL).
But in MySQL or with datetime field, it can be optimized.

[2018-08-03 11:50] huyphams commented on #342
it's supported now in build 118.

[2018-08-03 11:50] #342 closed

[2018-08-03 12:38] jeffreybox commented on #224
@huyphams when I choose import, there is no option to create a table - looks like the table must be created first. Can you link me to an explanation or tutorial? I don’t want to clog this thread. Thanks!

[2018-08-03 15:43] huyphams commented on #224
Currently, TablePlus doesn't support creating a table from a flat file. But it will support. That option will be put right after `Select a table...` as a checkbox.

[2018-08-03 17:00] jeffreybox commented on #224
@huyphams Oh I must have misunderstood. I thought your post above show that functionality added in #build95. Any idea on when this feature will be available?

[2018-08-03 18:29] fuzzthink opened #583 "How to edit or delete a connection?"
Don't see option to do.

[2018-08-03 18:58] huyphams commented on #583
Hi, all you need to do is right click on it.

[2018-08-03 18:58] #583 closed

[2018-08-04 04:55] huyphams opened #584 "Field/Tables/Database collation and encoding."
It would be great if TablePlus can support all of these features.

[2018-08-04 04:56] huyphams commented on #136
Most of the features on this thread has been implemented in build 118. I will close this issue and create the new one for `Field collation and encoding`: https://github.com/TablePlus/TablePlus/issues/584

Thanks for the feedback.

[2018-08-04 04:56] #136 closed

[2018-08-04 05:02] huyphams commented on #395
I'm working on this feature, you guys can expect it in the next build 119 next week.

[2018-08-05 09:57] huyphams commented on #224
It will be released in the next update build 119. We were testing it for a while.

[2018-08-06 01:42] morhekil opened #585 "Keyboard navigation between filter fields"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.x, MySQL 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 118

3. The steps to reproduce this issue:

I prefer to use keyboard for all navigation as much as possible, but at the moment when I hit Cmd+F to open table filter, it focuses on the text input field and

[2018-08-06 01:48] huyphams commented on #585
Currently, TablePlus supports some shortcut key to move between filters. But sometimes it requires mouse to change filter value. Ex column dropdown.
The only missing shortcut key is selecting a column in the drop-down. I'm thinking about it.

<img width="1016" alt="shortcut keys" src="https://user-images.githubusercontent.com/3654622/43692895-3ac7e814-9955-11e8-9bb2-866e18e7878b.png">

[2018-08-06 01:53] morhekil commented on #585
thank you, that sounds good. But what I'm talking about here is really not a separate special shortcut, but just allowing the standard Tab keypress to move between elements. It already works it many other places - e.g. I can move down through the list of fields in the right-side field filter by pressing "Tab" - even though Shift-Tab for some reason doesn't work here to move backwards.

It would be

[2018-08-06 16:08] alvint commented on #579
A separate issue prevents this from working properly here: If you resize the left panel at some point, the new panel size isn't used when viewing an SQL query. For example, at some point I widened the left panel because some of my table names are long. So the first time I click on the Open SQL Query button, the SQL view instantly displays and the left panel becomes narrow again. This causes the bu

[2018-08-07 12:41] davidolrik opened #586 "Regression: Unable to connect to database using ProxyJump (ProxyCommand)"
Trying to connect over ssh through a jump host with `ProxyCommand` but the config in `~/.ssh/config` is not respected.

When trying to connect to a remote database via ` jumphost.my.tld`, TablePlus is connecting directly to ssh on the database host, and not through ssh on the jump host.

The relevant ssh config:

[code]

TablePlus 1.0 (118)

[2018-08-07 13:28] alvint commented on #579
Another issue is that once an SQL editor view is opened as sticky all later SQL editor views are opened as sticky as well, even if you only single-click on the button.

[2018-08-07 17:43] nguyenmv2 opened #587 "Unusable when connecting to database with large number of tables"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
TablePlus 1.0 ( 118 )

3. The steps to reproduce this issue:
- Connect to a database with large amount of tables ( in my case it's ~2000 tables )
- Stuck on the loading screen.

[2018-08-08 01:25] goodwill opened #588 "Ability to integrate with source code editor (VS Code)"
I am very interested to see if there is a possibility to integrate TablePlus with VS Code - basically allow me to keep all my SQL scripts inside VS Code but trigger run on the tableplus UI, as I love TablePlus but its not the most ideal way to keep track on SQL coding.

[2018-08-08 05:43] yuqiang-yuan commented on #547
Hi @huyphams I'm afraid I have different opinion with what you said:

Here are two screen captures from MySQL Workbench, one is from the SQL Query Editor, the other one is from the Preferences dialog:

![0787bb25-35f4-46a8-a683-56167f526663](https://user-images.githubusercontent.com/15667885/43818158-ed4a169a-9b0f-11e8-9d31-39b1b9552d4e.png)

![9503aeb2-9e7e-4829-9af2-ffdddb823903](https://user-im

[2018-08-08 05:49] huyphams commented on #547
Hi @yuqiang-yuan I know it, I believe we misunderstood each other.
I'm talking about the method behind the limit row, but you're talking about the meaning of limit row.

As I mentioned about: There is no such thing as add rows count limit, both TablePlus and MySQL `Workbench didn't append any limit` to the end of queries.

They do paging, limit 1000 rows that mean they only fetch 1000 rows for the

[2018-08-08 06:16] yuqiang-yuan commented on #547
Hi, @huyphams  Thank you for your reply. I think this is a convenient feature that I don't need to add `limit N` to every SQL query statement I execute in TablePlus just as what I do in MySQL Workbench.
So back to my feature request, would you please think about it? ^_^

Thanks and regards,

[2018-08-08 06:34] huyphams commented on #547
Yeah, I think so, probably in the future TablePlus will support dual-mode: continuing loading and paging.

[2018-08-08 06:35] huyphams commented on #587
Thanks, @nguyenmv2 I will try to optimize it, but can you tell me how many schemas in your database?
All table in one schema or in a separated schema?

[2018-08-08 06:40] yuqiang-yuan commented on #547
@huyphams What a great message! Thank you very much for your great job and I'm looking forward to the future release.

[2018-08-08 14:27] ipchikin opened #589 "Why query whole table when showing structure?"
When I try to show the structure of a huge table, it will query the whole table
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
mysql and postgresql
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
118
3. The steps to reproduce this issue:
click the show structure on the table
Noted: If the bug is related to data, please attach

[2018-08-08 15:14] huyphams commented on #589
Hey @ipchikin TablePlus won't query the whole table. It performs this query `SHOW CREATE TABLE table_name;` to get table definition.
In PostgreSQL, tableplus sends `select obj_description(OID, 'pg_class') as comment;` to get comments.
Why did you think that it query the whole table?

[2018-08-08 15:28] ipchikin commented on #589
@huyphams because when I clicked the show structure on a table with many rows, it couldn't be loaded. I tested on some other medium size tables, it took a while to be loaded and when I switched to data tab, the data was already loaded. I will check it again tmr thanks!

[2018-08-08 15:30] huyphams commented on #589
In both MySQL and PostgreSQL? Probably these queries have a performance issue. I will take a look into it.
Thank you for the reporting.

[2018-08-08 15:33] ipchikin commented on #589
@huyphams yes, I will give you more details tmr

[2018-08-08 17:00] alvint opened #590 "build 118 (oracle branch) crashes frequently"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle 12.1.0.2.0
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
118 (it may have also happened on 117, but I'm not sure when it started)
3. The steps to reproduce this issue:
open an Oracle DB

Usually at least a couple of times a day the app will crash. I don't need to be using

[2018-08-08 17:01] huyphams commented on #590
Thanks, let me check it.

[2018-08-08 20:09] mikebronner opened #591 "Multi-line Query Strips Whitespace Between Lines"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
10.3
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
118
3. The steps to reproduce this issue:
[code]

I have to manually add a space either before the `AND` or after the date string to make it work. Whitespace should not be stripped completely, but reduced to one space.

Thanks!

[2018-08-09 01:44] huyphams commented on #591
I can't reproduce it. I have tested with:
[code]
And TablePlus sent exactly the same query to server, can you tell me more? What is the error reported by TablePlus, syntax error or different results?

[2018-08-09 02:01] ipchikin commented on #589
@huyphams I have tested more tables on redshift today, whenever I switch the table under the structure tab and I switch to the data tab, the data is already loaded. Also is it a good idea to add limit when clicking into a huge table under data tab?

[2018-08-09 02:15] mikebronner commented on #591
I can't reproduce it anymore either. It was a Postgres error that said invalid character or something like that. I should have captured the output. Sorry. I'll re-open if it happens again.

[2018-08-09 02:15] #591 closed

[2018-08-09 02:30] huyphams commented on #591
I have faced serveral times, mostly because i pressed option + some keys and it inserts an invalid character, it looks like a space so I don’t know it until I remove and insert again.

[2018-08-09 07:18] mauropiccini commented on #390
+1

[2018-08-09 08:15] Jailyard90Grad opened #592 "[Suggestion] Saved SQL favorites should not auto-save upon editing"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Using PostgreSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 118
3. The steps to reproduce this issue:
Edit any SQL Favorite

I often will use a query I've already created as the basis for new ones. Doing this for the first time, I lost a complex query because as I edite

[2018-08-09 08:25] huyphams commented on #592
If you edit an SQL Query in Favorite but not press: command + S, it won't save. Did you rename that favorite to the same name as another favorite?

[2018-08-09 09:37] huyphams commented on #395
it's supported now (will release soon):
![keywordbinding](https://user-images.githubusercontent.com/3654622/43891009-7c917d6a-9bf2-11e8-8fd5-ed319b45cc86.gif)

[2018-08-09 14:02] Jailyard90Grad commented on #592
Huy,

I had a saved query. I opened it, edited it, and ran it. I copied it so I could save it as it’s own query favorite...but when I double-clicked on the named favorite, there was no change. The query had been saved as my new query so I lost my previously saved favorite.

Cheers,

Mark
www.markdoerr.com

Sent from my iPhone
My apologizes for typos and lunacy

[2018-08-09 15:47] ayalbelling opened #593 "Geography field in data view shows null when has value"
Mac 1.0 (118) MS SQL.

[2018-08-09 18:42] huyphams commented on #593
Thanks, currently TablePlus doesn't support but it should.

[2018-08-09 19:43] vinceofdrink opened #594 "date issue on result display with mmsql"
1. MMSQL 2017

2. TablePlus build 119

3. Create a table with a date field (not a datetime)

4 On the display in TablePlus those date will be display as 'Jul 25 2018 12:00:00:AM' instead of '2018-07-25' there should not be any HH:MM:SS

[2018-08-09 19:44] huyphams commented on #594
This is one of know issues. I’m still finding the way to change it, it default by the driver. Thanks for the reporting.

[2018-08-10 05:31] huyphams commented on #592
I think favorite doesn't work that way,
The only way to edit Favorite is using the Favorite editor (right-click > Edit/Rename).

If you edit the query after insert in SQL Query, it won't be saved/changed. If you ran it, it will be recorded in the History, you can go there and recovery it in case you lost the query.

[2018-08-10 06:50] #395 closed

[2018-08-10 20:05] alecaserez opened #595 "Autocomplete for multiple database."
with multiple database autocomplete only work in connection database.

example:

connection database: datadb1

[code]

[2018-08-11 02:03] huyphams commented on #595
TablePlus doesn’t supprot autocomplete in multiple database because it’s hard to optimize, we will consider it.
Thanks for the suggestion.

[2018-08-12 18:07] ohld commented on #234
Any updates on this, guys? @huyphams

[2018-08-13 17:54] mikebronner opened #596 "Mojave Dark Mode + TablePlus Dark Mode: Selected Inactive Row Not Readable"
When using TablePlus in Mojave in dark mode, the selected row is not readable if the pane is not active. This has caused confusion for me several times over the past few weeks, especially when the last row is selected, causing me to believe the row was missing.
![screen shot 2018-08-13 at 10 51 40 am](https://user-images.githubusercontent.com/1791050/44048768-2f9e4dd8-9ee7-11e8-91e9-7c9078269d7d.p

[2018-08-13 18:27] shahzeb1 commented on #582
It would be cool to be able to use `NOW()` in an SQLite3 database context as well.

[2018-08-13 18:42] nguyenmv2 commented on #587
I have a little over 3000 tables. Is it possible to have access to the SQLQuery window before fetching he metadata of all the tables?

[2018-08-14 02:13] huyphams commented on #596
Thanks, I will improve it and this one https://github.com/TablePlus/TablePlus/issues/557

[2018-08-14 10:56] robinbertram opened #597 "Access denied for user on Vagrant"
I'm trying to connect to my Vagrant machine but I'm getting the error `Access denied for user 'vagrant'@'192.168.10.1' (using password: YES)`

---

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
119

[2018-08-14 11:01] huyphams commented on #597
Looks like `192.168.10.1 ` is your IP address, and MySQL says that it won't allow connection from local IP.
There are two possible solutions:
1. Change MySQL config that allows connecting from `192.168.10.1`. https://www.barrykooij.com/connect-mysql-vagrant-machine
2. Using the SSH method, checkout this issue: https://github.com/TablePlus/TablePlus/issues/555

[2018-08-14 11:27] robinbertram commented on #597
Thank you!

[2018-08-14 11:27] #597 closed

[2018-08-14 11:53] huyphams commented on #596
It's fixed both issues 👍 thanks @mikebronner

[2018-08-14 18:27] clozed2u commented on #297
+1
Need to use another font in SQL editor.

[2018-08-15 05:35] alexjurkiewicz opened #598 "Structure view: case-insensitive sorting"
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 119

3. The steps to reproduce this issue:

Please change TablePlus so that when sorting `column_name` or `foreign_key` columns in structure view, the sorting is case-insensitive.

Example of incorrect sorting:
![screen shot 2018-08-15 at 3 34 00 pm](https://user-images.githubusercontent.com/3795

[2018-08-15 17:56] huyphams commented on #598
Thanks @alexjurkiewicz, it's fixed now.

[2018-08-15 21:34] alexjurkiewicz commented on #598
So fast!! 😍

On Thu., 16 Aug. 2018, 03:57 Huy Pham, <notifications@github.com> wrote:

[2018-08-16 08:50] huyphams commented on #499
Hi @vothanhkiet this build should fix your issue:
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
It will be released in the next update.

[2018-08-16 09:02] vothanhkiet commented on #499
Awesome, now I can see two different results at the same time. This issue is fixed

<img width="1005" alt="screen shot 2018-08-16 at 15 59 07" src="https://user-images.githubusercontent.com/4302582/44199110-6a327900-a16d-11e8-8f25-a9104f9d75cb.png">
<img width="995" alt="screen shot 2018-08-16 at 15 59 16" src="https://user-images.githubusercontent.com/4302582/44199112-6acb0f80-a16d-11e8-86f2-b406

[2018-08-16 11:33] eleijonmarck opened #599 "Query database based on search query for a new workspace"
To be able to query based on search for the different databases one has setup.

1. Opening a new workspace
2. Getting into the search field
3. Preferably to query and get the most relevant db connection based on search string.

For example:
test-db

Would suggest test-db, over local-db.

[2018-08-16 11:37] huyphams commented on #599
Hi, can you tell me more detail?
2. Search field but which search field: on the left sidebar, right sidebar or open anything or advanced filter?

[2018-08-16 12:44] rafaelkarst opened #600 "Apparently not possible to connect to cassandra over ssl"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
- Cassandra 3.4.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
- Build 119

3. The steps to reproduce this issue:
- Cannot connect to cassandra using SSL pem certificate. It feels like the app is not even trying, it fails instantaneously with a message: "No hosts available for

[2018-08-16 12:47] huyphams commented on #600
Hi, I'm not if helpful but here is mine, I connect to Cassandra with port 32771 (Which is forward to 9042 by Docker).

`No hosts available for the control connection ` => probably wrong port.

<img width="563" alt="port" src="https://user-images.githubusercontent.com/3654622/44209239-146dc900-a18d-11e8-98ef-36504d3b0b00.png">

[2018-08-16 13:40] eleijonmarck commented on #599
2. ![image](https://user-images.githubusercontent.com/7727602/44212078-b0d2a400-a16a-11e8-818e-3eb160ddbba6.png)

[2018-08-16 13:53] alvint opened #601 "add option to make autocomplete less aggressi"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-08-16 14:54] alvint opened #602 "add option for autocomplete to only offer items from the current schema (or place them at the top)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle 12.1.0.2.0
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
118
3. The steps to reproduce this issue:

I'm connected to a schema called `improvonia_demo`. When I invoke AC for the letters `logi` in my DB, I get this:

<img width="753" alt="image" src="https://user-images.git

[2018-08-16 14:58] huyphams commented on #601
It's because TablePlus auto-suggestion based on the fuzzy algorithm. I'm still trying to make it smarter.
SQL Query is the most frequented feature in TablePlus. Auto-suggestion needs to be better.

[2018-08-17 06:08] #598 closed

[2018-08-17 06:08] #499 closed

[2018-08-17 06:08] #557 closed

[2018-08-17 06:08] #596 closed

[2018-08-17 10:50] eleijonmarck commented on #599
Oh awesome! @huyphams keep up the great work. It's an amazing product

[2018-08-17 10:50] eleijonmarck commented on #599
Want me to close it?

[2018-08-17 10:51] huyphams commented on #599
No, please keep it open until the feature released.

[2018-08-17 14:21] raelmax opened #603 "Cassandra: changes are not committed"
1. Driver Version: Cassandra 3.11.2

2. TablePlus build: 120

3. The steps to reproduce this issue:
- Connect to cassandra
- Choose a table
- Edit/Add a row
- Commit changes
- Changes are discarted (interface rollback to state before changes)

[2018-08-17 14:40] huyphams commented on #603
Hi @raelmax, Currently, Cassandra driver has an issue that if there is an error in the statement it will rollback all the changes. I'm working on it now. I will update the build asap on this thread for you.

[2018-08-17 15:31] ghost opened #604 "[Feature Request] Support for Non Relation Databases"
Would love to see support for the following in this tool or a fork that dose nosql exclusively but with the same awesomeness.

ElasticSearch
DynamoDb
MongoDB

[2018-08-17 15:31] huyphams commented on #603
Hi @raelmax I fixed the bug that TablePlus doesn't report error message in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks for letting me know.

[2018-08-17 15:40] huyphams commented on #604
Hi @steven-cuthill-otm thank you so much.
We received a lot of request support for NoSQL but we still have >170 issues on the way. We aware of it and the most possible is MongoDB but we don't have any deadline for it.

[2018-08-17 15:41] steven-cuthill-otm commented on #604
If we get Mongo and Elastic at some point I will be a very happy Chappy !

Ps keep up the awesome work. Because we love it.

[2018-08-17 17:59] raelmax commented on #603
Thank you @huyphams! This is a official release? I saw that the build number don't changed.

Now I can understand why my changes can't be commited. When I try commit my changes I get the message: "Invalid STRING constant (902c22e8-2f2f-4c2e-9d89-edfaa2610e24) for "id" of type uuid. All changes were reverted."

This is because TablePlus are putting quotes around my UUID value. Copying the generated

[2018-08-17 18:01] huyphams commented on #603
That made sense. This is hotfix build so you can keep using it until the next update (it can self-update as the official release).
I will update support for the case above, TablePlus should not add the quote for UUID. Wait for me a couple mins.

[2018-08-17 18:12] huyphams commented on #603
This build supports update UUID: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thank you.

[2018-08-17 18:18] raelmax commented on #603
It worked! Thank you!

[2018-08-17 18:18] #603 closed

[2018-08-18 07:46] abournier opened #605 "PostgreSQL and datetime type without milliseconds"
When editing the structure of a PostreSQL table, I can't force a timestamp to not manage milliseconds in the table form: timestamp(0).

When creating a new table, it works with CREATE TABLE...

`"created_at" timestamp(0) without time zone`

It could be cool if we can edit the table schema to add timestamp(0) in the form at right. Actually I can add it but when validating the modification, the sche

[2018-08-21 17:55] mikebronner opened #606 "[Suggestion] Maintain Table Selection"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSql
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
120
3. The steps to reproduce this issue:
Select a table, then edit a row in the data window.
Note that the table selection has been removed when the table list looses focus.
Would love to see the selection retained, so I

[2018-08-21 17:56] huyphams commented on #606
Great idea, I will do it.

[2018-08-21 17:59] huyphams commented on #605
Sorry because of the delay, I missed the notification.
You can set or edit the timestamp to timestamp(0) by double click or using the right panel. The only thing is missed that TablePlus doesn't show the (0) (but it's there). I will improve it in the next update.
Thank you so much!

[2018-08-21 18:35] abournier commented on #605
OK. That's right.
It's working (new column or old column with the change to (0)).

Note that it's not shown in the table definition too. ;)

Thanks

[2018-08-21 21:05] douglasjam opened #607 "new feature: order columns in table structure through drag and drop"
I'd really like to have the feature to order/reorder the columns in the structure view through a drag and drop, currently we only have the possibility to edit the ordinal position but this is not so intuitive.

[2018-08-21 22:56] evacomm opened #608 "[Suggestion] Add a option to use the built-in SSH in OSX"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
120
3. The steps to reproduce this issue:
n/a

It would nice if there was an option to use the built-in SSH client in OSX, rather than an SSH library inside TablePlus.

The reason for this is the complexity or inheritance of SS

[2018-08-22 08:53] MightyPixel opened #609 "No hosts available for the control connection for Cassandra db"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra [cqlsh 5.0.1 | Cassandra 2.1.17.1439 | DSE 4.8.12 | CQL spec 3.2.1 | Native protocol v3]

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
120

3. The steps to reproduce this issue:
Try to connect to the db over ssh. Enter host 0.0.0.0 (blank, localhost, 127.0.0.1 does no

[2018-08-22 08:54] huyphams commented on #609
Thanks @MightyPixel I will check it.

[2018-08-22 09:31] lutomas opened #610 "Insert/Update SET column in Cassandra table"
1. Cassandra 3.11.2

2. Version 1.0 (120)

3. The steps to reproduce this issue (**when INSERTING)**:
a) In 'SQL Query' Create simple table
`CREATE TABLE abc1 (pk int, names set<text>, PRIMARY KEY (pk));`
b) Open table 'abc1'
c) Try to insert row with values:
     pk=1, names={'TablePlus'}
d) Commit changes (Cmd+S)

PROBLEM:
Row not inserted.

INVESTIGATION:
Click button 'Preview your changes as S

[2018-08-22 09:33] huyphams commented on #610
Hey @lutomas thank you for the detail report. I'm fixing it now.

[2018-08-22 09:49] lutomas opened #611 "Insert/View/Update LIST column in Cassandra table"
1. Cassandra 3.11.2

2. Version 1.0 (120)

3. The steps to reproduce this issue (**when INSERTING)**:
a) In 'SQL Query' Create simple table
`CREATE TABLE abc1 (pk int, names list<text>, PRIMARY KEY (pk));`
b) Open table 'abc1'
c) Try to insert row with values:
     pk=1, names=['TablePlus']
d) Commit changes (Cmd+S)

PROBLEM:
Row not inserted.

INVESTIGATION:
Click button 'Preview your changes as

[2018-08-22 09:52] huyphams commented on #610
Hey @lutomas, I just fixed all the issues above including SET, LIST, and MAP.
You can download the build here: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
The binaries size has been increased a lot because it includes Oracle support.

[2018-08-22 09:54] huyphams commented on #610
Oops, I forgot a double quotes case. I'm fixing it.

[2018-08-22 10:57] huyphams commented on #610
I updated the build to support transform LIST and SET (currently not support MAP).
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-08-23 07:51] lutomas opened #612 "User Defined Type (UDT) not-displayed/displayed-unclear in Cassandra"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra 3.11.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (120)

3. The steps to reproduce this issue:
If table contains 'User Defined Type' - it is not displayed properly or it is NULL.
**PREPARE DB:**
[code]
**INSERT DATA**
`insert into abc1 (pk, program, aut

[2018-08-23 07:58] huyphams commented on #612
Thanks, @lutomas Your report is extremely helpful, it contains enough data to reproduce the bug. I'm fixing it.

[2018-08-23 08:27] lutomas opened #613 "int/double column values displayed as '0'/'0.0' instead of 'null' in Cassandra"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra 3.11.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (120)

3. The steps to reproduce this issue:
'int' and 'double' columns are '0', but it should be 'null'
PREPARE DB:
[code]
INSERT DATA
`insert into abc1 (pk, name) values (1, 'Huy');`

'age' and 'balanc

[2018-08-23 08:40] huyphams commented on #613
Thanks @lutomas , it's fixed.

[2018-08-23 09:17] huyphams commented on #612
All issues were fixed. We're going to release a new update tomorrow including all the fixes 🙌🙌🙌

[2018-08-23 09:18] lutomas commented on #612
Looking forward for release.
Thanks!

[2018-08-23 20:14] dldereklee opened #614 "Cannot See Connected Database in Dark Theme Mode"
If you switch to dark theme, the connected database in the top row is no longer visible (light font on a light background). Not a deal-breaker, but it would be nice if the font color could be fixed.

![image](https://user-images.githubusercontent.com/20377366/44549557-51c6df00-a6d6-11e8-854d-86a1ec9bdda4.png)

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which T

[2018-08-24 01:27] Tungtono commented on #614
Hey @dldereklee, actually, you can click on that status bar and change the color from the popup
<img width="701" alt="color" src="https://user-images.githubusercontent.com/10219818/44559965-758e3180-a777-11e8-868a-3a5440ed3a31.png">

[2018-08-24 02:56] dldereklee commented on #614
Didn't know that was a functionality. Thanks!

[2018-08-24 02:56] #614 closed

[2018-08-24 04:16] #613 closed

[2018-08-24 04:16] #612 closed

[2018-08-24 04:17] #610 closed

[2018-08-24 04:17] #611 closed

[2018-08-24 04:17] #606 closed

[2018-08-24 04:17] #605 closed

[2018-08-24 13:36] gotsour opened #615 "No functions displayed"
1. Driver: PostgreSQL 8.2.15

2. TablePlus build: Version 1.0 (121)

3. The steps to reproduce this issue: Well after being connected to my database, all the tables are loaded but not the functions. I can't see any functions in all my schemas.

[2018-08-24 13:39] huyphams commented on #615
PostgreSQL 8.2, looks like you are using redshift? Let me take a look and fix it. Thanks for letting me know.

[2018-08-27 02:41] huyphams commented on #226
Hi guys, I will release a nightly build with auto update. Now, we don't need to download manually every time a new update released.
A nightly build includes Oracle support. I will update this thread when it ready, this week.

[2018-08-27 04:44] #615 closed

[2018-08-27 07:11] eightpigs opened #616 "Missing comment content when the table structure is modified"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

    MySql 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

     Version: 1.0 (122)

3. The steps to reproduce this issue:

![table-plus-bug](https://user-images.githubusercontent.com/7269913/44645785-67584380-aa0b-11e8-87b6-932fa23ca93b.gif)

Noted: If the bug is related to

[2018-08-27 09:48] gotsour commented on #615
Hi. Did you managed to fix the problem?

[2018-08-27 10:01] huyphams commented on #615
Hey @gotsour please update to build 122 to get the fixes 👍

[2018-08-28 04:54] firstziiz opened #617 "Backup Feature can't using in PostgreSQL 10.4 docker version."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:
<img width="699" alt="screen shot 2561-08-28 at 11 47 09" src="https://user-images.githubusercontent.com/4945174/44701356-7943f000-aab8-11e8-9097-11562771ed1c.png">

[2018-08-28 04:57] huyphams commented on #617
Hey, looks like the reason because of version mismatch.
We're going to launch a new helper tool DB Engine (which contains more PostgreSQL binaries) as a part of TablePlus set apps and TablePlus will use binaries from that app to perform the backup action. I hope it will resolve all the current backup/restore issue related to versions.

<img width="516" alt="screen shot 2018-08-28 at 11 15 12 am" s

[2018-08-28 07:33] firstziiz commented on #617
@huyphams Oh : ) Great! I will be waiting to try this feature. Well, How long do you launch this?

[2018-08-28 07:37] huyphams commented on #617
it will be released next month, TablePlus will support DB Engine after the release, probably at the end of the next month, but the TablePlus Beta can access the feature earlier.

[2018-08-28 07:40] firstziiz commented on #617
Cool. I already have checked 'Receive Beta Updates'. 🎉

[2018-08-28 09:44] huyphams commented on #609
Hi @MightyPixel I can't reproduce the bug, the only way to reproduce it is... turn of the server.
Could you double check the connection for me again (by using the other tool)?
About the features, TablePlus will not support every database features, we only focus important features and keep the client minimal.
`define new keyspaces or manage current ones` are important features, I will add it soon.

[2018-08-28 14:38] austincondiff opened #618 "Support for Oracle DB Connection via JDBC URL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
122

I need to connect to am Oracle database via a custom JDBC URL like so...

![image](https://user-images.githubusercontent.com/806104/44730125-de421a80-aaa5-11e8-8f94-d8e3c41aa4f8.png)

Support for this would be great.

[2018-08-28 17:26] anentropic opened #619 "Cancelling a query hangs the UI"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
v1.0 (122)

3. The steps to reproduce this issue:
Start a long running query
Press the cancel button
The button text changes to 'Cancelling...' and it goes greyed out
The query window no longer accepts input

Noted:

[2018-08-28 17:35] huyphams commented on #619
Thanks @anentropic, This is one of know issue, canceling query over ssh in PostgreSQL Driver was not optimized.
It works when connect directly but not work over SSH. I'm still trying to optimize it.

[2018-08-28 17:37] anentropic commented on #619
I'm not using an ssh connection though

[2018-08-28 17:40] huyphams commented on #619
Thanks @anentropic looks like a bug, I will check it.

[2018-08-28 17:41] anentropic commented on #619
Our postgres db is in AWS RDS in case that is significant

[2018-08-28 19:33] alvint commented on #226
Just an annoying reminder that columns of type `timestamp` are still shown as null...

[2018-08-29 02:59] huyphams commented on #226
No @alvint because I will fix it now and update the build :D

[2018-08-29 03:02] huyphams commented on #618
Hey @austincondiff thanks, I will support it.

[2018-08-29 03:23] yuqiang-yuan opened #620 "Maybe a bug: Different execution plan vs MySQLWorkbench"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 122

3. The steps to reproduce this issue:
    I have a sql statement which has named parameters in it (I have set the named parameters' value in the same database session), and I use `explain` in TablePlus and MySQLWorkbe

[2018-08-29 04:07] huyphams commented on #620
In TablePlus, we use the async method to fetch data, maybe it's different with workbench, but I will investigate more. Thank you.

[2018-08-29 05:37] huyphams commented on #226
Well, I discovered that I forgot to put `break;` in the switch statement, this statement parses rows in Oracle.
Probably, because I code Swift too much :(
All fixed: https://www.dropbox.com/s/dcr03jxjr1gnqck/TablePlus.zip?dl=0

[2018-08-29 07:36] ffittschen opened #621 "[Suggestion] Switch schema based on current tab"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (121)

---

It would be awesome, if the schema switches automatically, when I switch tabs. E.g. I have two schemas `public` and `forms`, and two tabs that open the tables `public.users` and `forms.form_entries`.

[2018-08-29 14:36] austincondiff commented on #618
Perfect, let me know when this is supported so I can help test it.

[2018-08-29 15:17] alvint commented on #226
Cool, that worked. Thanks!

[2018-08-29 15:58] btorresgil commented on #604
DynamoDB would be a necessity for me.  Second priority is ElasticSearch.

Thanks!

[2018-08-29 16:58] alvint commented on #226
Whoops, the offset still isn't being displayed. For example, `select timestamp '2018-08-21 10:00:00 +04:00' from dual`:

<img width="268" alt="image" src="https://user-images.githubusercontent.com/622202/44802934-00619880-ab8b-11e8-847a-1b47fd7b1179.png">

How it should be:

<img width="336" alt="image" src="https://user-images.githubusercontent.com/622202/44802743-84ffe700-ab8a-11e8-9457-ac5e9324

[2018-08-29 16:59] alvint commented on #226
@huyphams ^^

[2018-08-30 04:28] huyphams commented on #226
Yeah @alvint, TablePlus uses format `DD-MM-YYYY HH24:MI:SS:FF3` I will change it to support offset.

[2018-08-30 05:16] samsamai opened #622 "Undo in SQL window can crash TablePlus"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
122

3. The steps to reproduce this issue:
- Open an SQL window
- Pick something out of your SQL history
- Delete the last line of the query, which in my case was `AND ....`
- run the query
- undo twice results in a

[2018-08-30 05:34] huyphams commented on #622
Hey, I've tried, but no luck to reproduce this issue, maybe it only happens in some special situations. 'til trying.

[2018-08-30 09:43] spruce commented on #226
I don't know if I just can't find it or if it is not present but what about Views? In our project we heavily depend on Views.

[2018-08-30 16:49] alvint commented on #226
@spruce The views are listed with the tables. I don't think showing/changing the SQL for the view is implemented yet.

[2018-08-30 20:59] samsamai commented on #622
Ok I did a bit more testing and it seems to be if undo is tapped a few times while the query is still going on.

Here is the query I was using which would take about 28s to get about 16,000 results from the remote DB:

[code]

So I:
- paste the query in
- delete the last line
- use shortcut key to run the script
- while the query is running and still fetching stuff I tap undo a few times

[2018-08-30 21:16] samsamai commented on #230
It would be useful if there was a checkbox in the SQL window called something like `sandbox`, if ticked then the whole script would be wrapped with:

[code]

[2018-08-31 02:32] huyphams commented on #622
Thanks for your explain, I just disabled undo/redo during execution time of the query. It's not the best solution but at least it prevents the crash.
TablePlus disable the editor because it wants to report exactly the error position after the result returned.

[2018-08-31 02:35] samsamai commented on #622
👍
Keep up the good work. I never liked working with SQL but TablePlus has actually made it enjoyable!

[2018-08-31 08:43] huyphams commented on #443
Hey @thenaturalist please go to Preferences > Receive Beta Builds (Don't worry, it's pretty stable for production) and update to the build 124, let me know it was fixed. I tested and it works as expected on my setup.

[2018-08-31 08:49] huyphams commented on #622
Hey @samsamai you can access the build: Preferences > Receive Beta Updates (it's pretty stable for production).

[2018-08-31 08:49] #622 closed

[2018-08-31 08:58] huyphams commented on #563
It's fixed. Please goto: Preferences > Receive Beta Updates.

[2018-08-31 08:58] #563 closed

[2018-08-31 11:40] cjgu commented on #563
Thank you!

[2018-08-31 13:03] silverbux opened #623 "Create Syntax on structure view"
It would be nice to have create syntax on structure view, just like on sequel pro.
Dump Item -> Copy Creation is nice but sometimes you just want to check or copy a specific column,
also you dont have to copy / paste the whole create syntax in a editor.

![image](https://user-images.githubusercontent.com/1888261/44913837-0f9a3f00-ad61-11e8-8b6b-429962d63eb5.png)

[2018-08-31 14:03] huyphams commented on #623
Hey @silverbux did you try the definition button on the top right?

[2018-08-31 16:09] silverbux commented on #623
got it! haha thank you!

[2018-08-31 16:09] #623 closed

[2018-08-31 17:36] alvint commented on #443
This fix also seems to fix the enhancement from issue #579 acting wonky.

[2018-08-31 17:38] huyphams commented on #443
Awesome! 😄

[2018-08-31 18:42] j-ro opened #624 "Set search_path on connecting?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Redshift

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

122

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

I'm looking for a way to set the search path for postgres/redshift when you establish a connection, so

[2018-09-01 05:06] huyphams commented on #624
Currently, there is no way to do it. The best solution we're considering is put an option that load search path when switching between schemas.
We will inform you when its ready.

[2018-09-01 08:48] huyphams commented on #226
I just figured out this bug: https://github.com/TablePlus/TablePlus/issues/226#issuecomment-406290576
It will be fixed in the next update.

[2018-09-04 12:38] Vesninandrey opened #625 "Restore fail to MySQL in Docker"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
122

3. The steps to reproduce this issue:
- Create connection to local mysql (in docker) http://take.ms/xllt3
- Backup any database from this connection
- Try to import this backup back
- Got error: http://take.ms/tHYyP

[2018-09-04 13:15] MaartenGeraedts opened #626 "Respect ENUM casing"
1. Mysql 5.6.10-log
2. TablePlus build 122
3.

TablePlus automaticly converts all enum values as UPPERCASE, ignoring the case they are in. Only when adding a new row, is the drop down with the possible values showing the true values. First, this conversion is only in the interface of TablePlus, but when changing the type, TablePlus will change the original values to the uppercase.

[2018-09-04 13:17] huyphams commented on #626
thanks. It must be a bug. We will fix it.

[2018-09-04 13:17] huyphams commented on #625
Thanks @Vesninandrey let me check it.

[2018-09-04 14:00] huyphams commented on #626
Hey @MaartenGeraedts TablePlus respects the casing, this bug probably because of the `collation`
Here is my setup, it shows enum with its casing.
<img width="470" alt="screen shot 2018-09-04 at 8 59 54 pm" src="https://user-images.githubusercontent.com/3654622/45035987-7ed7a200-b085-11e8-9bbb-0be19812ff18.png">
Let me check with another collation.

[2018-09-04 14:14] huyphams commented on #626
I see, thank you!

[2018-09-04 15:15] huyphams commented on #626
It's fixed, please update to build 125 :D

[2018-09-04 15:15] #626 closed

[2018-09-04 15:17] MaartenGeraedts commented on #626
Thanks, just tested it and it works perfect now!

[2018-09-05 02:53] huyphams commented on #137
Now TablePlus saves the latest query of all query tab.

[2018-09-05 02:53] #137 closed

[2018-09-05 02:58] #469 closed

[2018-09-05 11:04] rbosch opened #627 "SQLite, can't use CURRENT_TIMESTAMP as default"
**TablePlus 1.0 (125)**

When you add a column (for SQLite) and set the default value via COLUMN_DEFAULT => ADVANCED, it takes the value as a strings (its quoted).

When adding a record, the default value receives the string.

[2018-09-07 15:26] huyphams commented on #226
Hey @brianalois please press: `cmd + ,` and turn on
<img width="612" alt="nice" src="https://user-images.githubusercontent.com/3654622/45228306-07a44700-b2ed-11e8-9e0b-88ff1505bdb8.png">
Then check for update, that build supports Oracle. 👍

[2018-09-07 15:29] brianalois commented on #226
I have done that nad gives me this error.

Error: ORA-24454: client host name is not set

[2018-09-07 15:30] huyphams commented on #226
Hey, can you reach me on email huy@tableplusapp.com with a screenshot of your setup?

[2018-09-08 14:57] tarunkurma opened #628 "Autocomplete inserts double quotes for Oracle objects - table names, columns, functions, etc"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Oracle 12

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 126

3. The steps to reproduce this issue:

When I type the following, double quotes are added when I tab/enter while using autocomplete.
Also, it'd be great if the autocomplete displays the procedures under the "UtilityCo

[2018-09-10 11:01] AndyTsneg opened #629 "Tab issue"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    MAC
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
     1.0
3. The steps to reproduce this issue:
     not big deal. When I saw tabs, I didn't know which tab I am using. Because there is no color or thing to tell me which tab I am working on.

Noted: If the bug is related to

[2018-09-10 11:02] AndyTsneg opened #630 "MSSQL issue"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    MAC
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
    1.0
3. The steps to reproduce this issue:
     I will get his message "DBPROCESS is dead or not enabled", when I query something. And then I can't query anything until I closed app completely and reopen.

Noted: If the bu

[2018-09-10 13:37] alvint commented on #628
If I can slightly hijack this issue, when you autocomplete something that's already in quotes, and extra set of quotes is added around it. For example, `select 1 from "dua_"` becomes `select 1 from ""DUAL""` and `select 1 from "dua_` becomes `select 1 from ""DUAL"`.

There should be a preference to keep the quotes since that's the safest/easiest way to autocomplete when the table name is a reserve

[2018-09-10 16:03] dansherman commented on #244
I see the same issue. SQLPro works fine for the connection when using "SQL Server Authentication" instead of "Windows Authentication".

[2018-09-10 16:08] huyphams commented on #244
I copied the solution from issue #210

If the username has domain `DOMAIN\username`, TablePlus will automatically use it as domain login.

[2018-09-10 16:41] leehoworko opened #631 "Beautify-ing a Redis query with a glob makes it invalid"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Redis 4.0.10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 125

3. The steps to reproduce this issue:
- Open a query window for Redis.
- Run the following query `KEYS redis_service*`. Note the glob at the end of the key prefix.
- Click `Beautify`
- The query is made inval

[2018-09-10 16:44] tarunkurma commented on #628
I like the idea of adding it to user preference.
When I see double quotes, I'd assume it as an alias - table/column/sub-query.
Also, it'd cause issues when I copy past the sql into another language.

[2018-09-10 17:12] tarunkurma opened #632 "User experience recommendations"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Oralce 12

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 126

3. The steps to reproduce this issue:
My recommendations for improving user experience:
 (1) Run Current sql based on cursor location (instead of closing the sql using the semicolon ';')
 (2) Balanced Parentheses to h

[2018-09-10 17:16] huyphams commented on #632
1. Already, TablePlus detects current SQL based on cursor location, it can be everywhere in the SQL.
2. Already, but only when you move the cursor.
3.
4. Does command + W, Command + T, Command + Return are the "easiest way"?
5. We're trying, the latest release has auto sizing column but it needs to be improved more.
6. Already, please click on the setting icon in SQL Query and choose
<img width="4

[2018-09-10 17:43] tarunkurma commented on #632
Thank you for pointing me to Highlight query and pair brackets.
Pair brackets does not seem to work from the open bracket side, or am I missing something?

Cursor location for current sql works only if prior query is closed with semicolon; i.e, it does not recognize an empty line as end of query:

![image](https://user-images.githubusercontent.com/43093425/45314293-5295a880-b4ff-11e8-8363-20161921

[2018-09-10 17:46] huyphams commented on #632
There are few issues need to be improved for Oracle. I will back to this issue tomorrow becauze it late in my timezone.
Good night and thank for the license 😁

[2018-09-11 07:28] pcholuj opened #633 "TablePlus ssh agent and ScaleFT"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
121

Hi i want to use TablePlus with ScaleFT (http://scaleft.com/).
I cant connect to any server over ssh tunel. Probably the main problem is that TablePlus is using own sshlib.

Is there a chance add feature that i

[2018-09-11 13:36] alvint commented on #632
If I can add something to the list, please consider adding the option not to select the text when using undo, redo, and CMD-/. When using CMD-/ especially, usually you just want to comment out a `where` clause and immediately rerun the query. But then the highlighted text is run instead, which is usually a syntax error*. Selecting the text only serves to add an extra step where you have to move th

[2018-09-11 13:38] huyphams commented on #632
Thanks @alvint very good point. I will improve it.

[2018-09-11 13:45] alvint commented on #632
On (6) above, I like the highlight of the current query, but even in light mode it's a bit too noticeable for my taste. If customizing syntax highlighting is in the near future, can that be an option? If not, how about increasing the transparency or maybe just adding a vertical line to the left of the text to indicate the current query?

[2018-09-11 15:37] huyphams commented on #632
Adding vertical line may be a good idea but it won't support this case, 2 queries in one line.
<img width="1146" alt="screen shot 2018-09-11 at 10 33 45 pm" src="https://user-images.githubusercontent.com/3654622/45370654-d42a2b00-b612-11e8-9523-e5474f96bfe9.png">

Changing color in preferences is possible.

[2018-09-11 17:01] alvint commented on #632
Yep, good point!

[2018-09-11 21:28] dansherman commented on #244
Turns out SQL Server give the "untrusted domain" error message when the password is wrong too. Using the right password fixed it.

[2018-09-11 21:47] jasonhanneman opened #634 "Enhancement for more mouse in menubar"
Hi, I noticed it is really hard to move the window around because the app completely fills all the draggable toolbar. My suggestion would be to move all the stuff in the window chrome toolbar to your own space below it so we can use the mouse to drag the window around. Move the stuff in the chrome down please. Thanks!
<img width="1443" alt="screen shot 2018-09-11 at 4 44 42 pm" src="https://user-i

[2018-09-12 00:04] huyphams commented on #634
Hi @jasonhanneman @mattmacadams because you didn't fill the issue form so I'm not sure which build are you on. If you are on the latest build 125 you should be able to move the app around by click on anywhere on the title bar.
You can also custom title bar by right click on it, see the gif.
![2018-09-12 07 04 25](https://user-images.githubusercontent.com/3654622/45394301-1cb90700-b65a-11e8-84b1-79

[2018-09-12 00:07] huyphams commented on #634
<img width="1217" alt="nice" src="https://user-images.githubusercontent.com/3654622/45394374-76b9cc80-b65a-11e8-9481-a28306295a19.png">

[2018-09-12 01:48] bulletRush opened #635 "why filters condition use "contains" default, why not "equal"?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
* MySQL5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* build 125

3. The steps to reproduce this issue:
* in most situation, we use "equal" to filter records, and in most situation, a "equal" condition will hit some index. so why TablePlus use "contains" default? should you

[2018-09-12 02:30] huyphams commented on #635
I think the best solution is TablePlus remembers the last selection. so everyone can have their favorite default.

[2018-09-12 05:41] bulletRush commented on #635
but i still want change default behavior to "equal", so i can use "equal" default when open a new table

[2018-09-12 08:31] neoshiva commented on #626
This was critical. When I changed is_nullable of the column and saved, the column data_type was also saved with UPPERCASE. As the result, all data in the column became UPPERCASE.
It might have caused big problem in app using the lowercase value of the column.
I wish you release this fix asap.

[2018-09-12 08:51] huyphams commented on #626
Hey @neoshiva which build are you using?

[2018-09-12 09:03] neoshiva commented on #626
Sorry, I used Build 122 because it was latest stable release in Changelogs page.
The latest one seems 125, right?
Before to know that, I temporarily turned on Beta channel and updated to 127.
Thanks.

[2018-09-12 09:04] huyphams commented on #626
The current stable release is 125, I forgot to update the changelogs, I will do it tonight.

[2018-09-12 10:18] huyphams commented on #589
Hey @ipchikin it's optimized in this build: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Can you give it a try?
Thanks

[2018-09-12 10:53] asjur opened #636 "Graphical overview of relationships"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
125

3. The steps to reproduce this issue:
This is not a bug but a feature request.

I would like to see a graphical overview over a relational database like how Querious does it.
![Image of relationship overview](https://

[2018-09-12 12:07] alvint commented on #634
@huyphams Even though @jasonhanneman gave a screenshot for the main app, he may be talking about the initial connection screen. When you try to drag the window there you wind up dragging a connection group instead.

<img width="811" alt="image" src="https://user-images.githubusercontent.com/622202/45423916-dae08e80-b662-11e8-8e2b-61653437aaf4.png">

[2018-09-12 12:12] alvint commented on #634
@huyphams Even though @jasonhanneman gave a screenshot for the main app, he may be talking about the initial connection screen. When you try to drag the window there you wind up dragging a connection group instead.

[2018-09-12 18:10] #589 closed

[2018-09-12 19:35] johnbona opened #637 "[Dark Theme] Black text on black background in SQL editor"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 128

3. The steps to reproduce this issue:
When typing in the SQL editor using the dark theme, the text starts as black and only after a pause, does the text change to white or the color appropriate for the token ma

[2018-09-13 00:51] johnbona commented on #637
Awesome! Thanks Huy for the quick fix.

[2018-09-13 00:51] #637 closed

[2018-09-13 00:58] huyphams commented on #637
If it's an annoying bug, you can download the hotfix build here: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-09-13 01:49] ipchikin commented on #589
@huyphams Can confirm that the show structure is working now. Nice work!

[2018-09-13 13:05] bulletRush opened #638 "can't open new connection by command + N"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* Build 128

3. The steps to reproduce this issue:
* when i try to make a new connection, TablePlus now open a new window instead of multi connection in one window. seem like you have change hot key from command+N to shift+command+k

[2018-09-13 13:08] huyphams commented on #638
Hmm, command + shift + K was used from the beginning and the command + N always open new windows as it should be.

[2018-09-13 13:44] #638 closed

[2018-09-13 14:03] PVGrad commented on #95
So, are there any other ways to open Quick look if i'm not using mouse at all and right button click and choose Quick look from menu is too unhandy?
Thanks

[2018-09-13 18:43] tylerb commented on #619
I am experiencing this as well. It's exceptionally frustrating not being able to kill the running query.

Not only does the UI hang, the query continues to run until it is completed.

[2018-09-13 18:49] tylerstillwater opened #639 "Feature Request: Open new connection if existing connection is busy"
If I have a long-running query going in one tab, then create another tab and try to run another query, the second tab hangs until the first tab has completed.

I would love to see TablePlus open a new connection if the existing connection is busy, so I can continue working in other tabs while one is occupied.

The current workaround for this is to open an entirely new window to the same server.

[2018-09-13 19:59] mrjones2014 opened #640 "[Feature Request] Save and automatically reopen workspace configuration"
I always open the same 2 database connections in my workspace; it would be great to have an option to automatically open your last opened "workspace"; essentially, instead of clicking the first connection on the splash screen, then adding a 2nd connection to the workspace, there should be an option to skip the splash screen altogether and automatically open the workspace with the same 2 connection

[2018-09-13 20:41] mrjones2014 commented on #230
I would love to see this feature as well; JetBrains tools (DataGrip and IntelliJ IDEA) have an option to disable autocommit entirely on a per-connection basis.

[2018-09-14 03:44] AndyTsneg opened #641 "MSSQL date issue"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MAC
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0(128)
3. The steps to reproduce this issue:
There is a column and the type is datetime. the value should like "2017-04-21 13:51:43.000". But on this. It shows "Apr 21 2017 01:51:43:000PM"
It's no a bug. But maybe you can provi

[2018-09-14 04:09] AndyTsneg commented on #641
Actually you don't need to customize it. You just show origin value for datetime. Maybe the language you are using will format the datetime automatically.

[2018-09-14 04:11] huyphams commented on #641
The value `Apr 21 2017 01:51:43:000PM ` is the original value returned by the driver. I was implemented in the driver, by have provided a config file but I don't want to include the text config in TablePlus. I'm still finding the way to change it (re-compile the driver for example).

[2018-09-14 04:53] AndyTsneg opened #642 "No way to modify table engine or collation besides pure sql"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MAC
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0(128)
3. The steps to reproduce this issue:
Is there any way to modify those information? or still implement those functionalities?
Noted: If the bug is related to data, please attach an example SQL data.

[2018-09-14 04:54] AndyTsneg commented on #641
OK. still try to fix it. Because it's not big deal. But important for engineer. Thanks.

[2018-09-14 06:38] bulletRush opened #643 ""open connection" window should add a search filter?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* Build 128

3. The steps to reproduce this issue:
* use command + shift + k open "open connection" window, can you add a filter here, so i can find my db quickly.

Noted: If the bug is related to data, please attach an example SQL

[2018-09-14 07:13] huyphams commented on #642
I'm working on encoding/engine and collation for MySQL and SQL Server, those features will be released in the next few updates.

[2018-09-14 07:45] eternalBlast opened #644 "The test connection on postgresql is working but the "connecting to database" message keeps appearing when click connect"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
128
3. The steps to reproduce this issue:
- Create 2 databases in a single server
- Try connect to the fiirst one. It can connect and load all database tables.
- Try connect to the second. You can test and it shows green o

[2018-09-14 12:30] alvint commented on #639
Related to issue #456?

[2018-09-14 16:07] jmfederico opened #645 "Can not restore database for MySQL 8"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 8 on macOS
MySQL installed via HomeBrew

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
128

3. The steps to reproduce this issue:
I have a connection to a MySQL 8 database.
When restoring a database to that connection the restore window won't let me select version 8, and t

[2018-09-14 16:46] jmfederico opened #646 "Restoring database with no password fails"
Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5 via Docker

Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
128

3. The steps to reproduce this issue:

I have a connection to a MySQL 5 database with root user and no passwors.
When trying to restore a database, it fails with  "**Access denied for user 'root'@'172.17.0.1' (usin

[2018-09-15 03:54] huyphams commented on #644
Hey thanks, let me check it.

[2018-09-15 03:54] huyphams commented on #646
We're working on this issue and https://github.com/TablePlus/TablePlus/issues/645
it will be released in the next update.

[2018-09-15 17:49] akalongman commented on #9
Linux please

[2018-09-16 10:34] davidolrik commented on #633
This is slightly related to #586, where TablePlus, previously would honor the `ProxyCommand`/`ProxyJump` in my `~/.ssh/config`.

[2018-09-16 10:40] davidolrik commented on #586
Did you change ssh library since you added the `enhancement` label instead of `bug`?
(In a few versions before 118 this actually worked)

[2018-09-16 10:41] huyphams commented on #586
Wait, so it actually works before version 118?

[2018-09-17 02:56] pouledodue opened #647 "CSV+Cockroach 2.1.0: Create table error, please check your mapping type"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cockroach CCL v2.1.0-beta.20180910

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
128

3. The steps to reproduce this issue:
Import any CSV file

---

same CSV file works ok when importing into Postgres

[2018-09-17 02:57] huyphams commented on #647
Thanks, let me check it.

[2018-09-17 06:09] huyphams commented on #647
Hey, @pouledodue it would be great if you can give me an example of CSV, around 5~10 rows. I can't reproduce the bug. I suppose it only happens with some special column type.

[2018-09-17 15:55] pouledodue opened #648 "Can't list tables with Cockroach CCL v2.1.0-beta.20180910"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cockroach CCL v2.1.0-beta.20180910
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
128
3. The steps to reproduce this issue:
connect to a CR db and try to list tables in the left pane; the pane keeps being empty;

[2018-09-17 16:02] huyphams commented on #648
Thanks @pouledodue let me check it,
btw, can you take a look at this issue? https://github.com/TablePlus/TablePlus/issues/647

[2018-09-17 16:03] pouledodue commented on #647
hi!
Seems to be the error message that is misleading.
When I check "Create new table" and the table already exists it should print "table already exists" instead of "check mapping types".
The reason I thought the table did not exist is because of #648

[2018-09-17 16:06] pouledodue commented on #648
and when importing CSV, the `Select a table...` dropdown is empty even when there is tables in the db

[2018-09-17 16:12] pouledodue commented on #647
Also, currently if I have a CSV file named "allo.csv" it tries to create "allo" table. Maybe  it could try to increment name "allo_1", "allo_2" when "allo" already exists.
Or better, the name of the table should be editable at import, with a default of "allo_1", "allo_2"...

[2018-09-17 16:17] huyphams commented on #647
Thanks for pointing it out, I will improve it.

[2018-09-18 16:37] alvarolizama opened #649 "Pretty print for jsonb fields"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

128

3. The steps to reproduce this issue:

Cant see a pretty print for jsonb fields

![image 2018-09-18 at 11 35 25 am](https://user-images.githubusercontent.com/19955639/45702265-fce08200-bb36-11e8-84e1-38851130

[2018-09-18 19:14] ccakes commented on #226
Same issue as @brianalois - was there a simple solution?

[2018-09-18 19:17] f0ntana commented on #226
here no problems i had connected on multiples with no problems,

Build 129.

[2018-09-19 04:01] eternalBlast commented on #644
ok @huyphams. Thanks, please notify me when this issue has been fixed.

[2018-09-19 04:04] huyphams commented on #644
Hi @eternalBlast sorry for the late response but I can't reproduce it, I have a lot of databases in a single server.
I have tried with localhost, amazon ec2, and some vps, none of them having trouble.

[2018-09-19 04:44] eternalBlast commented on #644
Do you try Postgres? FYI, i am using nginx server. The first database can connect and not having issue. When i try the second database using same server using test, it's success. However, when you click connect the connecting message keeps appearing. It don't show another popup too.

[2018-09-19 05:29] huyphams commented on #644
Could you send me a screenshot or a gif via huy@tableplusapp.com?

[2018-09-19 06:47] huyphams commented on #649
Hi @alvarolizama thanks, meanwhile you can use the JSON Viewer in the quick look.
I think I will not change the format of the JSON field in the right panel because I want it to display the Raw value as it should be.
The only option I can add is the Raw field in the quick look, where you can pretty print or view it as JSON viewer.

[2018-09-19 08:12] ccakes commented on #226
Ok - a bit of digging resolved this. Somehow I was missing some of the default entries in `/etc/hosts` and so my hostname wouldn't resolve locally.

Fixed this and TablePlus is working fine 👍 Apologies for the noise.

[2018-09-19 09:50] eternalBlast commented on #644
Hi @huyphams I have sent it.

[2018-09-19 10:16] #644 closed

[2018-09-19 11:40] alvarolizama commented on #649
Oh that is perfect

Sent from ProtonMail Mobile

On Wed, Sep 19, 2018 at 01:47, Huy Pham <notifications@github.com> wrote:

[2018-09-19 15:12] yazumoto opened #650 "[Feature Request] History of filtering"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0(128)

SQL has history. But record filtering of Table has no history now.
Please add this feature.

[2018-09-19 15:39] nathanpalmer opened #651 "Unable to view a table without an "id" - column "id" does not exist"
Which driver are you using and version of it (Ex: PostgreSQL 10.0): __PostgreSQL 9__
Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): __1.0 (128)__

**The steps to reproduce this issue:**

Click on the sidebar for a table that does not have an `id` field. It Shows this error message

![screen shot 2018-09-19 at 11 36 56 am](https://user-images.githubuser

[2018-09-19 15:42] huyphams commented on #651
I think something weird just happened, I'm not explicitly querying with ID.
<img width="1093" alt="screen shot 2018-09-19 at 10 42 03 pm" src="https://user-images.githubusercontent.com/3654622/45764589-3d3a2000-bc5d-11e8-92c2-1eb0c6079249.png">

[2018-09-19 15:46] huyphams commented on #651
I think TablePlus has failed to detect primaries key of `settings` table, that's the bug. If there is no id field, but your image shows that it has `key,id` as primary. I will try to reproduce this bug.

[2018-09-19 15:50] nathanpalmer commented on #651
If it helps, here is the schema

![screen shot 2018-09-19 at 11 48 17 am](https://user-images.githubusercontent.com/125599/45764993-ebb07780-bc01-11e8-8957-67e3caea600d.png)

[code]

But the primary key doesn't have ID in our SQL structure. Here is the statements from our app

[code]

[2018-09-19 15:54] huyphams commented on #651
There is a case that can lead to this scenario>
1. Using TablePlus connect to the database.
2. Drop ID from that table by the terminal or some other application.
=> TablePlus still cached the result but the ID was gone.

But I don't think it's the case above. Did you close the app and reconnect to the database?

[2018-09-19 16:05] nathanpalmer commented on #651
I just quit the app entirely, started back up, and then clicked that table. Still comes up with the error.

[2018-09-19 16:12] nathanpalmer commented on #651
Now.. depending on how you're using schemas. There are two `settings` tables in this same database. One of them *does* have an id field. But it's in a separate schema.

[code]

I wonder if it's finding the wrong table here when building that query. These both exist:

[code]

[2018-09-19 16:14] huyphams commented on #651
hmmm, I have handled this case, I always append schema when getting primary. Let me check it again.
Thank for the detail, it's super helpful.

[2018-09-19 19:07] huyphams commented on #651
It seems to be fixed for me on this build, thanks @nathanpalmer
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-09-20 04:40] ybo opened #652 "Connect to Redis over SSL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
- Redis 3.2.6 on AWS

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
- Build 128

3. The steps to reproduce this issue:
- I tried to connect to my Redis server in TablePlus but I wasn't able to because there is no SSL option. Is it not supported or did I miss it?

Any help is app

[2018-09-20 04:47] huyphams commented on #652
I have researched this before. but the documents say that Redis doesn't support SSL:
[code]
https://redis.io/topics/security

Meanwhile, I found this, and it looks potential:
https://github.com/redis/redis-rb/pull/496
I will check it out.

[2018-09-20 05:04] ybo commented on #652
Thanks for the quick reply!

On AWS, when you create a new Redis, there is an option to enable/disable "Encryption in-transit". I can connect to a Redis instance that has this option disabled, but I cannot connect to another Redis instance that has this option enabled.

Also, Redis Desktop Manager, another GUI app I use for Redis, has an SSL security option. But then I'm not sure why the doc says

[2018-09-20 07:02] huyphams commented on #648
I fixed the bug on CockroachDB beta: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Now, I only have 199 issue remaining lol.

[2018-09-20 08:11] pouledodue commented on #648
downloaded the zip but the .app fails to start
[code]

[2018-09-20 08:13] huyphams commented on #648
I built it with Xcode 10 (just updated Xcode yesterday), probably there's some compatible bug, are you using High Sierra?

[2018-09-20 08:14] pouledodue commented on #648
El Capitan

[2018-09-20 08:17] huyphams commented on #648
Are you using MacBook Pro with HDD, I'm using Parallels EL Capitan but it works?
<img width="1097" alt="screen shot 2018-09-20 at 3 16 49 pm" src="https://user-images.githubusercontent.com/3654622/45805167-40c6b900-bce8-11e8-8432-300bfc59ec6a.png">

[2018-09-20 08:41] huyphams commented on #648
I updated the build with Xcode 9, can you give it a try @pouledodue?
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0
Thanks.

[2018-09-20 08:44] huyphams commented on #648
Wait, I figured out the problem.

[2018-09-20 09:00] huyphams commented on #648
I fixed the build, it will work now, you can download it with the same dropbox link above.

[2018-09-20 09:11] pouledodue commented on #648
works

[2018-09-20 09:29] #648 closed

[2018-09-20 13:40] zwippie opened #653 "FK on_delete/on_update incorrect in table definition"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySql 5.7.19

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (128)

3. The steps to reproduce this issue:

- Create a foreign key with `on delete cascade`.
- Open table definition in TablePlus, find the fk in the `foreign_key` column and click on the little arrow
- Th

[2018-09-21 07:14] gerricom opened #654 "Build 130 crashes on Connection"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8.x and MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

130

3. The steps to reproduce this issue:

Connect to a MySQL Host via SSH

Apple Stack Trace:

[code]

[2018-09-21 07:16] huyphams commented on #654
Thanks, @gerricom let me check it, does it crash every time?

[2018-09-21 07:18] gerricom commented on #654
I'm trying out several hosts now and I can not find out, why it is crashing on certain hosts. I have one host, that crashes on every connect. Some other hosts are working as expected... strange...

[2018-09-21 07:20] huyphams commented on #654
Hmm, could you try with the old stable build 128: https://s3.amazonaws.com/tableplus-osx-builds/128/TablePlus.zip
and let me know if it still crashes?
Thanks.

[2018-09-21 07:21] gerricom commented on #654
With build 128 everything works fine...

[2018-09-21 07:40] huyphams commented on #654
Hi @gerricom I made a small changes in this build, hope it fixes the issue, can you give it a try?: https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-09-21 07:43] gerricom commented on #654
Aaaand it's back again! 👍
You are super fast man! Thank you very much!

[2018-09-21 12:01] huyphams commented on #226
FYI: Maybe, you guys have faced a crash bug that happens when TablePlus try to reconnect. This is one of know issue and it related to the Oracle library OCI: https://github.com/vrogier/ocilib/
I can reproduce it but can't fix because it was distributed as a dynamic library.
I will try to integrate all code and try to debug it next time, Hope I can fix this annoying bug.

@alvint maybe the one who

[2018-09-21 12:55] m8rge opened #655 "Optional disable integrity checks on table delete"
Please add option to disable foreign key checks before deleting tables

in mysql: SET FOREIGN_KEY_CHECKS=0;

[2018-09-21 13:02] m8rge opened #656 "Feature request: export multiple tables to sql file"
Please add ability to export multiple tables to single sql file.

[2018-09-21 13:07] m8rge opened #657 "Table filtering regex issue"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
129

3. The steps to reproduce this issue:
- filter tables by "ing$" to find all tables end with "ing". Works:
![2018-09-21_18-05-10](https://user-images.githubusercontent.com/575777/45882921-0c76f980-bdc9-11e8-950d-dd46bb7b

[2018-09-21 14:02] greggomalley opened #658 "SQL query window syntax highlight/formatting issue"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
PostgreSQL 10.4

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
123

**3. The steps to reproduce this issue:**
One of the queries that I regularly use in the sql query tab window seems to cause an issue with the syntax highlighting and formatting of all further queries in

[2018-09-21 14:08] huyphams commented on #658
I know the reason, because I have handled the highlight syntax for SQL Server so `[ ]` are treated as beginning a quote.
TablePlus should use different rules for a different driver it supports.

[2018-09-21 16:09] alvint commented on #226
@huyphams Yep, but I haven't seen many crashes in recent builds (just one in the last couple of weeks I think).

[2018-09-21 16:44] MightyPixel commented on #609
Hello @huyphams,

After some investigation I saw that I'm able to connect to my test cassandra cluster that runs on 2.1.19.1484 (Native protocol v3) using http://squirrel-sql.sourceforge.net/ + https://github.com/zhicwu/cassandra-jdbc-driver. A colleague of mine assumed that there could be a problem when the driver is negotiating down .
Also I saw that locally I use 2.2.12 (Native protocol v4) and

[2018-09-21 16:54] huyphams commented on #609
Hi, I'm going to release a new official build 130 which is compatible with Cassandra 2.
Or you can try it now here: https://www.dropbox.com/s/xmxq4i0t4b6zhyg/TablePlus.zip?dl=0

[2018-09-21 17:35] MightyPixel commented on #609
Hi @huyphams Thanks for the fast response!

I tried with the version from the dropbox and I can successfully log in into the server  and after pressing Cmd + K shows me all the databases as expected.
However I can't connect to any database, because I get Upgrade to open Unlimited Workspace error. What is "Unlimited Workspace". Is there a way to open a keyspace without unlimited workspace?

[2018-09-21 17:37] huyphams commented on #609
There are 3 options.
1. Specify the keyspace in connection form.
2. Right click on the keyspaces list and select switch.
3. Buy a license 😁

[2018-09-22 03:13] johndatserakis commented on #656
Yea this is a big one. Absolutely awesome app - but not sure how everyone's getting around not being able to highlight all your tables and export them all to one file. Maybe there's a work-around for that, but it's something I use with Sequel Pro every day.

[2018-09-22 03:33] johndatserakis commented on #617
I'm having a similar issue. When I go to backup a database, the only option in the dropdown is PostgreSQL 10.4 - which is strange because in other parts of table plus is recognizes my correct pg version - which is 10.5. Here is my error:

[code]
As I mentioned - I'm not sure where it's even getting the 10.4 from. This is running in a local docker machine.

[2018-09-22 03:42] johndatserakis commented on #93
@huyphams I just tried this and it worked great! Nice job will all this.

[2018-09-22 03:44] johndatserakis commented on #656
Ok so as I keep researching this - I think what we both want is the File -> Backup feature that already exists. There you can chose an entire database to backup - so that's a bit different but sorta the same thing.

The thing is - mine doesn't work because of this error:

[code]

So what we'll need to see if that backup export can be done in sql - which would be good. I might be off here though.

[2018-09-22 18:30] patarapolw opened #659 "Support for CITEXT"
PostGres 10.5
Build 130

For [CITEXT](https://www.postgresql.org/docs/current/static/citext.html), currently it says `unsupport` (which is bad english, should be `unsupported`).

[2018-09-22 18:31] huyphams commented on #659
Thanks @patarapolw I will fix it.

[2018-09-23 04:45] patarapolw opened #660 "Feature request: Showing back-referencing ForeignKeys for the current table"
As far as I know, traversing back to where the foreign key is linked from, only Valentina Studio and JetBrain's DataGrip can do that.

![Imgur](https://i.imgur.com/brpuaQ7.png)

Harder than that, but I want to see, is traversing Many-to-Many relationship... I don't know any app that support this one...

    class Image(Base):
        __tablename__ = 'image'

        id = Column(Integer, primary_ke

[2018-09-23 07:16] huyphams commented on #660
Thanks @patarapolw very good idea. Let me see how we can add it to TablePlus.

[2018-09-23 12:38] patarapolw commented on #642
Please consider `collation='NOCASE'` for SQLite as well.

[2018-09-24 03:53] #242 closed

[2018-09-24 11:00] JoelNichols opened #661 "Fullscreen mode: Getting started window is surrounded by black"
When I close a connection window in fullscreen mode, I'm thrown back to the getting started window as expected, however TablePlus does not exit fullscreen mode and the connection window is surrounded by black.

It should either stretch to fill the whole screen or throw me back to the desktop.

[2018-09-24 15:43] firstziiz commented on #617
@johndatserakis I have this issue like you. But now fix that by I have written a backup script on Makefile and trigger by a cronjob schedule.

However, I am waiting for working-fine Postgres backup/restore function in TablePlus.

[2018-09-24 16:02] kennonb opened #662 "Feature Request: Auto-select table name in sidebar after using Search Anything"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 130

3. The steps to reproduce this issue:

* Open Connection
* Press CMD+P to open Search Anything
* Type table name
* Press enter
* Tab opens with table, but sidebar doesn't reflect the table you're viewing

–

T

[2018-09-24 16:05] huyphams commented on #662
Great idea.

[2018-09-24 16:56] brupm commented on #231
Any news on this @huyphams?

[2018-09-24 16:59] huyphams commented on #231
I can compile the driver but look like I need to register an account on Snowflake for testing? Is there any way to create a testing database, without register an account with a credit card?

[2018-09-24 22:57] nathanpalmer commented on #651
thanks! i’ll test it out when i’m near a computer

[2018-09-25 03:39] #662 closed

[2018-09-25 03:40] #651 closed

[2018-09-25 03:40] #654 closed

[2018-09-25 03:40] #653 closed

[2018-09-25 03:40] #634 closed

[2018-09-25 08:30] bsramin opened #663 "Feature Request: Mount a directory of sql files"
It would be nice to have the possibility to mount an external directory of sql files, with the possibility to commit on git, to manage all the snippets.
Useful for sharing snippets in a team.

[2018-09-25 08:33] huyphams commented on #663
We already supported it.
Please use this command:
[code]

[2018-09-25 15:43] MightyPixel commented on #609
I managed to connect using ssh with the latest update (132 build); I'll consider the third option :)

Closing this issue. Thanks for the support!

[2018-09-25 15:43] #609 closed

[2018-09-25 17:06] Puller opened #664 "Invalid host private key"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
132

3. The steps to reproduce this issue:
Create a connection using SSH as root and use a private key (ecdsa).
Login via SSH directly in terminal works...

It seems, we can't use elliptic ssh keys.

[2018-09-25 17:12] huyphams commented on #664
Hi @Puller currently, TablePlus doesn't support `ecdsa`. I tried to update the lib the newest version which supports `ecdsa` but unfortunately, it caused some unexpected crash bugs.
I will come back to it later.

[2018-09-25 23:02] austincondiff commented on #618
Any update on this?

[2018-09-25 23:20] rspreafico-sgi opened #665 "Authentication plugin 'mysql_old_password' cannot be loaded"
Get this error when trying to connect to MySQL 5.x DB:

Authentication plugin 'mysql_old_password' cannot be loaded: dlopen(/usr/local/Cellar/mysql/5.7.22/lib/plugin/mysql_old_password.so, 2): image not found

Looks like it's trying to use mysql from Homebrew, but this is long gone on my laptop. Sequel Pro can connect to the mySQL database from the same Mac laptop TablePlus is running on.

1. Whic

[2018-09-26 00:02] huyphams commented on #665
Hi @rspreafico-sgi  please select this:
<img width="603" alt="screen shot 2018-09-26 at 7 01 48 am" src="https://user-images.githubusercontent.com/3654622/46049705-0f237700-c15a-11e8-9c38-3c0c3a62edcc.png">

[2018-09-26 00:12] huyphams commented on #423
I closed this because of no response. Feel free to commit or reopen if you still have this bug.

[2018-09-26 00:12] #423 closed

[2018-09-26 00:13] #663 closed

[2018-09-26 00:17] rspreafico-sgi commented on #665
Hi @huyphams

thanks for your response. Yes I do have selected MySQL 5.x (see above steps to reproduce the issue).

Now, if I try to connect to the local DB (127.0.0.1), the connection appers to work (I get an access denied error I guess for wrong psw). However, when I try to connect to a server reachable via Sequel Pro, I get the error above.

Thanks

[2018-09-26 00:27] huyphams commented on #665
It because we used the MySQL from the homebrew. I will try to compile it myself next time 😁

[2018-09-26 00:43] huyphams commented on #665
@rspreafico-sgi can you try this build and let me know the result?
https://www.dropbox.com/s/fghht69ib70jdpn/TablePlus.zip?dl=0

[2018-09-26 00:44] rspreafico-sgi commented on #665
Will gladly do, but Dropbox is firewalled by my organization, can you share by another mean?

[2018-09-26 00:47] huyphams commented on #665
Ok, I uploaded it to my amazon S3: https://s3.amazonaws.com/tableplus-osx-builds/beta/TablePlus.zip

[2018-09-26 00:57] rspreafico-sgi commented on #665
Similar error, but path is now slightly different: `/usr/local/mysql/lib/plugin/mysql_old_password.so`

[2018-09-26 01:30] pasku opened #666 "Feature request: DynamoDB support"
Just throwing it out there.

[2018-09-26 03:17] harryparkdotio commented on #632
This is somewhat relevant to this issue, so I thought I'd add it here.

The text cursor (the vertical line thing in between text) is hidden when moving it around using arrow keys in the latest update in the `SQL Query` tab

[2018-09-26 03:19] huyphams commented on #632
Hi @harryparkdotio please download the build again here
https://tableplus.io/release/osx/tableplus_latest

It should be fixed on that build.

[2018-09-26 06:56] huyphams commented on #665
I have researched about this issue and looks like it was removed by Oracle (the maintainer of MySQL).
[code]
I customized this build with the MySQL lib 5.6, I haven't tested it but I think it will work. The same link about.
https://s3.amazonaws.com/tableplus-osx-builds/beta/TablePlus.zip

[2018-09-26 07:36] karol-pietrzak opened #667 "Wrong count of rows in table"
1. MySQL 8.x and MySQL 5.x
server running 5.5.59-MariaDB

2. build 132

3. The steps to reproduce this issue:
* Created 300 000 records with script.
* IDs of rows shows also that there is 300 000 records. Table was turncated before.
* and this place shows taht there is 300,153 rows
![screen shot 2018-09-26 at 09 35 25](https://user-images.githubusercontent.com/43600181/46064385-86173a80-c16f-11e8-

[2018-09-26 07:39] huyphams commented on #667
it's not a bug, it's more like an UI issue and need to be improved.
By default, TablePlus estimates row instead of count exactly because of performance.
You can increase this threshold if you want to count exactly row.
<img width="612" alt="estimate" src="https://user-images.githubusercontent.com/3654622/46064490-bb388280-c199-11e8-82dc-b66b230497b8.png">
From the new version, TablePlus will show

[2018-09-26 07:42] karol-pietrzak commented on #667
all clear
thanks!

[2018-09-26 07:42] #667 closed

[2018-09-26 07:53] bulletRush opened #668 "[BUG]commit update will launch "open connection" window auto"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
* MySQL 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* Build 133

3. The steps to reproduce this issue:
* modify some record
* commit change
* then "Open connection" window will be launched auto（can not reappear steady）

Noted: If the bug is related to data, please attach

[2018-09-26 08:28] PVGrad opened #669 "Support for MacOS Mohave dark theme"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
any

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 132

3. The steps to reproduce this issue:
Install MacOS Mohave, choose system dark theme

[2018-09-26 08:30] huyphams commented on #669
You can switch to the dark theme by press: `command + ,`
it's the Mojave theme, from the new version, we will add an option that allows TablePlus to switch theme auto based on the OS.

[2018-09-26 08:32] PVGrad commented on #669
Oh! Cool.
Thanks

[2018-09-26 08:33] huyphams commented on #669
it's exactly the same with Mojave theme.

<img width="1188" alt="screen shot 2018-09-26 at 3 32 43 pm" src="https://user-images.githubusercontent.com/3654622/46067597-6c8ee680-c1a1-11e8-8ed4-9acdc61baecc.png">

[2018-09-26 08:51] oatiz opened #670 "Feature request: ClickHouse support"
[ClickHouse](https://github.com/yandex/ClickHouse)

[2018-09-26 16:29] rspreafico-sgi commented on #665
Thanks for going to the length of making a custom build. Given the issue as you describe it, I think the database itself will need to be upgraded on our end, such that we can use the latest tools and not have to rely on deprecated features. Thanks again!

[2018-09-26 16:29] #665 closed

[2018-09-26 17:53] alexanderkoehlerkun commented on #223
BigQuery please :)

[2018-09-26 18:00] onebrightlight commented on #158
Hey @huyphams I'm looking for this feature in the [roadmap](https://github.com/TablePlus/TablePlus/projects/1) and don't see it as any of the cards. Still waiting to get the feature and I know these things can take time. I'd just like to know where it sits, currently, before I end up buying a license to Navicat.

[2018-09-26 18:02] huyphams commented on #158
The priority is:
1. Done encode and collation.
2. Full Import/export.
3. User management.

Currently, I'm working on that features.

Btw, all these features take time so please do take it as a deal breaker.

[2018-09-26 18:05] onebrightlight commented on #158
Oh absolutely! I don't expect you to prioritize it, I just wanted to make sure it's not somewhere I didn't notice in the roadmap. I really like the tool, and l'm happy to wait and see what happens with it! Thanks for the quick response, regardless.

[2018-09-26 18:52] abournier opened #671 "Bug: restoring with PG on an external drive containing a path with spaces"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
10.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
132

3. The steps to reproduce this issue:
Restoring a Postgres dump located on an external drive containing one space in path.

Example path:
`/Volumes/Caviar\ Red\ 1To/iMac/25_septembre_2018.dump`

The error obtained:
![captu

[2018-09-26 21:50] be-ez commented on #600
Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra 3.4.4

Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 132

The steps to reproduce this issue:

exactly the same as @rafaelkarst - I can connect via cqlsh but not via TablePlus. I get the `No hosts available for the control connection` message. I'm connecting to the load

[2018-09-27 00:08] dtkaias opened #672 "Newlines in JSON export are incorrectly escaped"
Exports to JSON by both the *Copy Rows As* and *Export Results* features incorrectly escape newline characters with two backslashes instead of one. Eg. `\n` is rendered as `\\n`.

Database: PostgreSQL 10.4
TablePlus v1.0 Build 132

Steps to reproduce:
1. Run a query that includes newline charaters (\n or \r) in the  output, eg:
[code]
2. Right click the output row, and select *Copy Rows As* > *JSO

[2018-09-27 06:40] m8rge commented on #656
I found origin issue: https://github.com/TablePlus/TablePlus/issues/158

@johndatserakis please vote there.

[2018-09-27 06:40] #656 closed

[2018-09-27 15:38] alvint opened #673 "code completion for tables not working if case doesn't match"
oracle 12.x
build 133

This was working fine in earlier builds. For example, I have a table named `VENDORS` (all caps). Code completion at the end of the below fragments don't work:

`select * from vendors v where v.`
`select * from "vendors" v where v.`
`select * from vendors where vendors.`
`select * from vendors where `

However, code completion for the below works correctly:

`select * from VE

[2018-09-27 15:42] huyphams commented on #673
Thanks @alvint let me check what's happened. recently, I don't change anything in the completion module.

[2018-09-27 16:08] huyphams commented on #673
I just fixed it. I'm going to release the build 135.
The auto-suggestion in Oracle is slow because there are a lot of tables.
Do you have any idea on these schemes, which schema should be ignored in the auto-suggestion?

<img width="343" alt="screen shot 2018-09-27 at 11 07 57 pm" src="https://user-images.githubusercontent.com/3654622/46159308-30937880-c2aa-11e8-9eab-90b9f9f2aa1e.png">

[2018-09-27 16:20] alvint commented on #673
Thanks!

I'm pretty sure APEX_* and CTXSYS can at least get last priority or make loading them off by default. IIRC the APEX stuff is some sort of web framework that Oracle pushes but no one actually uses because of its tight coupling to the DB, and CTXSYS is data for Oracle's fuzzy text searches and you usually don't need to access them directly.

I think MDB is for message driven bean data and I

[2018-09-27 16:50] huyphams commented on #673
the build has been released with a ton of improvements:
<img width="812" alt="screen shot 2018-09-27 at 11 49 41 pm" src="https://user-images.githubusercontent.com/3654622/46161562-1066b800-c2b0-11e8-8959-6c1bf5611a9b.png">

[2018-09-27 17:08] huyphams commented on #672
Thanks, I fixed it on build 135.
If you want to access the build before everyone. TablePlus > Preferences > Receive Beta Update. Then go check for updates...

[2018-09-27 17:08] #672 closed

[2018-09-27 17:09] huyphams commented on #221
It is improved in the latest beta build 135, so I will close this issue.

[2018-09-27 17:09] #221 closed

[2018-09-27 17:10] huyphams commented on #669
I added auto support on the build 135 (beta).

[2018-09-27 17:10] #669 closed

[2018-09-27 18:22] sebastianhelbig commented on #412
I am getting asked for key password, although my private key does not have any passphrase. This is with a 4096bit key. It works without problems with a 2048bit key.

[2018-09-28 04:35] ngurney opened #674 "Enhancement Request: Enable option to not include [ ] around Items"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Microsoft SQL Server 2014

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 132

3. The steps to reproduce this issue:
Whenever you select a database item using autocomplete, it automatically wraps the item in brackets.

It would be great to see an option in preferences to enable o

[2018-09-28 04:40] huyphams commented on #674
TablePlus only add square brackets when the item name is Uppercase, mixed case (upper + lower case), containing spaces, or item has a name which is also a keyword.
The reason why we add the square brackets because we want to avoid the syntax error. But why you don't want to add brackets? is it your company conventions or copy to somewhere?

[2018-09-28 08:39] farizzed opened #675 "Problems Displaying Fields/Columns with Money Attribute"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MS SQL Server 2016

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 132

3. The steps to reproduce this issue:
I have no idea how this happened. I just ran queries for fields that have money attribute and they show 2 digit decimal precision (0.00)

Noted: If the bug is relat

[2018-09-28 08:41] farizzed commented on #675
![image](https://user-images.githubusercontent.com/11038943/46197804-ffac5580-c334-11e8-8cdb-f7abf3c926e8.png)

[2018-09-28 08:43] huyphams commented on #675
@farizzed thanks for letting me know. Let me check this issue.

[2018-09-28 08:59] josefeg opened #676 "Bug: Cursor disappears when moving with the cursor keys in SQL editor"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (132)

3. The steps to reproduce this issue:
Write a query in the SQL editor, and the move around with the cursor keys to try and change the query. The cursor key disappears until it stops moving. This happend

[2018-09-28 09:00] huyphams commented on #676
I fixed that issue a few days ago. it will be released in the next update (release on Monday).

[2018-09-28 09:04] huyphams commented on #675
Looks like it has happened a while ago now. I will try to figure out why it was rounded.
<img width="996" alt="screen shot 2018-09-28 at 3 58 39 pm" src="https://user-images.githubusercontent.com/3654622/46198903-bf020b80-c337-11e8-995a-04b6d22fc7a1.png">

[2018-09-28 09:05] farizzed commented on #674
I second this. This will be very neat because I usually copy my queries into my code. It is troublesome because, in my project, my teammates don't include the brackets for their queries inside the code. It makes the code easier to read. My workaround is when I need to copy my queries into my code. I have to delete the brackets wrapping the table name, but hey, that's another chore of my coding...

[2018-09-28 09:09] farizzed commented on #675
Okay thanks, I hope it will be resolved soon enough.

[2018-09-28 09:16] josefeg commented on #676
Thanks @huyphams

[2018-09-28 13:15] farizzed commented on #675
I think you should check the free version. Because I just noticed, I got this rounding issue after upgrading my license. Before upgrading, the query result shows unrounded 4 digit precision money.

[2018-09-28 13:17] huyphams commented on #675
@farizzed I fixed that bug, I will release it Monday. It's not related to the version or something, I just custom and recompile the SQL Server driver.

[2018-09-28 13:18] farizzed commented on #675
Nice, Thanks for your swift reply

[2018-09-28 14:29] huyphams commented on #594
I just fixed it, it will be released on Monday.

[2018-09-28 14:29] #594 closed

[2018-09-28 14:30] huyphams commented on #641
Duplicated with: https://github.com/TablePlus/TablePlus/issues/594
It's fixed and will be released on Monday.

[2018-09-28 14:30] #641 closed

[2018-09-28 15:13] ngurney commented on #674
While I can defintely see value in adding it when there is a space or it is a SQL keyword there is no need for uppercase or mixed case items to be wrapped in brackets.

Honestly it just doesn't fit our styling conventions, like @farizzed mentioned. It gives the impression that we are naming items with spaces or using SQL keywords which we avoid doing. We often name things in mixed case and when I

[2018-09-28 15:17] huyphams commented on #674
Of course, I will add an option or at least improve it, TablePlus should include the square bracket when it needed. (Ex: contains spaces).

[2018-09-28 15:31] huyphams commented on #674
The brackets the mixed case are necessary.

For users who are using SQL Server with case-sensitive collation, you must include the [].

<img width="1160" alt="screen shot 2018-09-28 at 10 29 59 pm" src="https://user-images.githubusercontent.com/3654622/46218117-0f945b80-c36e-11e8-8419-f5c09661d238.png">

[2018-09-28 18:46] ngurney commented on #674
@huyphams thanks for being willing to add it! I am still learning SQL and didn't know that some collations require brackets around mixed case items.

Thanks again, and I hope you know that my entire SQL class at uni is super jealous of TablePlus while they are all stuck using Microsoft SQL Sever, so 👍

[2018-09-29 01:56] m-thomson opened #677 "How do I create a new SQLite database?"
This window wants me to select an *existing* SQLite database file but I'm trying to create a new one.

<img width="500" alt="screenshot_4bd55d" src="https://user-images.githubusercontent.com/5273016/46239606-6474a980-c34f-11e8-89ab-1c09d97f7a6d.png">

[2018-09-29 02:53] Tungtono commented on #677
@m-thomson, you can create a SQLite database on Mac this way, it's quite easy:

- Open Terminal
- Navigate to the folder to store the database file
- Run **SQLite3 db_name.db** or **touch db_name.db** to create a new database file.

[2018-09-29 06:11] huyphams commented on #674
Hi @ngurney @farizzed
I added some enhancements on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
- No need to add brackets in case sensitive.
- 4 digits for money data type.
- Change the timestamp format.

We will release an update on Monday (this build can self-update) so it would be great if you guys can give it a try and let me know if there's any issue left.

[2018-09-30 08:48] #676 closed

[2018-09-30 08:48] #675 closed

[2018-09-30 08:48] #673 closed

[2018-09-30 08:49] #443 closed

[2018-09-30 19:55] weyert opened #678 "Changelogs and releases"
Looks like the changelog aren't being updated when new beta releases are available via Check for Updates. I would like to know what has changed in the latest release e.g. build 137

It's not listed here: https://tableplus.io/blog/2017/02/changelogs.html

[2018-10-01 00:15] huyphams commented on #678
I just updated changelogs up to the stable build 136. I will do for the build 137 when I back to the office 😸

[2018-10-01 07:44] zanmato opened #679 "Memory leak after idling"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server Web 14.0.1000.169

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 132

3. The steps to reproduce this issue:
Idling for long periods of time (overnight) **sometimes** makes TablePlus consume a lot of memory while _"Collecting database information.."_. I

[2018-10-01 07:45] huyphams commented on #679
Hi @zanmato can you update to the latest version of TablePlus (build 136)? I have fixed some memory leak issue on the latest build.

[2018-10-01 07:46] zanmato commented on #679
@huyphams Yes, I've already updated. I'll see if still occurs and get back to you

[2018-10-01 14:08] weyert commented on #678
Thank you :)

[2018-10-01 14:22] cevin opened #680 "Please support "change and close current connection" when change database"
![image](https://user-images.githubusercontent.com/338110/46294431-5aa9ab00-c5c8-11e8-98bc-34a6bdeb1149.png)

[2018-10-01 14:34] huyphams commented on #680
Please right click and choose open in current workspace.

[2018-10-01 15:16] ngurney commented on #674
@huyphams sorry I am just seeing this now. Just tested production version and it is working perfect! Thanks so much, consider me a lifetime user of your product. I'll also suggest it to my team 👍🏼

[2018-10-01 15:32] vlki opened #681 "Cannot connect to Microsoft SQL Server 2014 on Azure"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Microsoft SQL Server 2014

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 136

3. The steps to reproduce this issue:

* Create connection to Microsoft SQL Server 2014 (NOT over SSH)
* Either click "Test" or "Connect"
* After about 10 seconds it shows either empty or "NULL

[2018-10-01 15:34] huyphams commented on #681
Hey @vlki can you send the screenshot of your form to email huy@tableplusapp.com? Please change the ip address random and change username, database name etc.. if needed.
Thanks.

[2018-10-01 17:46] astewart-twist commented on #231
@huyphams - I'm not sure, but I'm happy to help test.

[2018-10-01 17:48] huyphams commented on #231
Thanks @astewart-twist but let me create a trial account first, I think, the next TablePlus beta will support snowflake.

[2018-10-01 17:51] alvint opened #682 ""File | Open" permanently replaces SQL query editor contents without warning"
Oracle 12.x
build 137

1. open a query tab
2. add some SQL
3. ! use "File | Open" to open an existing SQL file--the original contents are replaced without warning

To make things worse, you can't use "undo" to get the original contents back. I guess I could have used the history to get the last executed SQL back (I didn't think of it), but any changes since then would still be lost.

How about alw

[2018-10-01 17:54] huyphams commented on #682
Thanks, I will think about this.

[2018-10-01 17:54] bt commented on #617
Just came across the same issue myself:

[code]

Hope the team can put in the fix to allow dumping of PostgreSQL 10.5 servers soon (build 136).

[2018-10-01 18:13] huyphams commented on #681
Just let you know that I can be able to reproduce the bug, it's late so I will back to this bug tomorrow.
Good night.

[2018-10-01 18:40] huyphams commented on #681
Hi @vlki I just fixed it: https://www.dropbox.com/s/ush8fss0ekr5u05/TablePlus.dmg?dl=0
Thanks for report the issue.

[2018-10-01 19:44] d3vild06 opened #683 "Feature Request: Allow SQL queries to be saved/remembered per workspace/database"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): **9.5.12**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): **137**

3. The steps to reproduce this issue:

**Switch to or open a new database connection and open the sql editor. I want to be able to re-open or switch to any of my database connections and have it remember the sql

[2018-10-02 00:04] huyphams commented on #683
Hi @d3vild06 it depends on the use case. Not all users want this feature. Some of them using the same query for multiple databases (analytics purpose). I will think about this feature.
We do have a favorite panel on the left. You can save any query here, have you used it?

[2018-10-02 00:59] jaythegeek opened #684 "Input IP address not used - switches to WAN IP"
1. Which driver are you using and version of it:
MySQL 5.7.14

2. Which TablePlus build number are you using:
136

3. The steps to reproduce this issue:
Add new remote connection, when it tries to connect it says access denied and the IP address it is using to connect is my WAN IP address and not the remote address specified in the field.
Local connections work fine so I am thinking there is a bug

[2018-10-02 01:07] huyphams commented on #684
Hey thanks, but may I ask you that why did you think that it should be a public IP address? Are you using other application before TablePlus?

[2018-10-02 01:11] jaythegeek commented on #684
I am using Sequel Pro to connect to a Google Cloud SQL Server and it works perfect, no SSL and with SSL. I have had issues with Sequel Pro so purchased TablePlus... Anyway, I need to connect to an IP such as 34.123.123.22 but when I do, it does not use this to connect to it says access denied using the public IP address of my router??

[2018-10-02 01:13] huyphams commented on #684
I just read the sequel pro code, they have a fall back to 127.0.0.1 if the public IP has failed. So that no difference between TablePlus and Sequel Pro except this one.

[2018-10-02 01:14] jaythegeek commented on #684
ok but I have no idea why this would fail and switch as I am have multiple connections from sequel pro and other live applications to that IP address. It is only TablePlus doing that.

[2018-10-02 01:18] huyphams commented on #684
If you connect over SSH tunneling and the database server is on the ssh server, it's always 127.0.0.1 (local address). We should not use the public IP here because of the security reason. Are you really want to allow connections from the public IP? that means anyone can brute-force your database password from the outside.

[2018-10-02 01:27] huyphams commented on #684
Please send me your connection form to my email huy@tableplusapp.com I will look into it and see what happen, if it was a bug, we will fix it, definitely.
Thanks for the details.

[2018-10-02 01:30] jaythegeek commented on #684
I just sent them over now 👍 thanks for helping, hopefully you will see what I mean.

[2018-10-02 01:33] huyphams commented on #684
I got your email, but I want to clarify this `So you are saying that it is not possible for me to connect to a public IP address with TablePlus?`
1. It's possible for sure, TablePlus can connect to any IP address.
2. I just said that in the case using SSH tunneling, it should be the local address. I think we misunderstood here, but after you sending me the form, I can see that you are not using SS

[2018-10-02 01:35] jaythegeek commented on #684
Sorry, miscommunication, I am not using SSH tunnelling.

[2018-10-02 01:37] jaythegeek commented on #684
Also, just as additional information, I have tried switching the MySQL versions 5.x or 8.x - no difference, still cannot connect, tried with and without SSL too - no difference

[2018-10-02 01:40] huyphams commented on #684
While I'm investigating, can you help me to run these queries?
[code]
it shows that which IPs are allowed to connect to the server.

[2018-10-02 01:44] jaythegeek commented on #684
As I said, all IPs are allowed.

[2018-10-02 01:47] jaythegeek commented on #684
Oh, it would appear there was something odd going on my end, on my local connection. My apologies, I just encountered it with Sequel Pro too and figured it out. Closing this now. Thank you for your help.

[2018-10-02 01:47] #684 closed

[2018-10-02 01:50] huyphams commented on #684
Yay! I’m confused too, That’s why I thought you’re using ssh. Btw, I’m glad that you’ve resolved it.

[2018-10-02 07:37] eternalBlast commented on #44
Hi @huyphams is the plugin feature available now

[2018-10-02 07:38] huyphams commented on #44
Some of theme, you can press command + L to install it. Currently, it does not support third-party plugin.

[2018-10-02 07:52] eternalBlast commented on #44
Thanks @huyphams. How about plugin or other tools to generate diagram of a schema?

[2018-10-02 07:54] huyphams commented on #44
We have a plan to public document and API for developers but it was delayed after `encoding`, `exporting` and `user managerment` features.

[2018-10-02 08:21] eleijonmarck opened #685 "Latest update gave me dark theme with interesting colors"
![image](https://user-images.githubusercontent.com/7727602/46337037-d9383400-c62c-11e8-8150-65c6c320cbd4.png)

![image](https://user-images.githubusercontent.com/7727602/46337030-d2112600-c62c-11e8-93a6-6c7df4a5cc29.png)

Using free tier

[2018-10-02 08:27] eternalBlast commented on #44
Okay, thanks. I'll be waiting for that feature.

[2018-10-02 09:28] zanmato commented on #679
Tried leaving it on overnight again, and today I got _"Warning the server is taking too long to respond"_ with normal memory usage. Seems to be resolved,  thanks!

[2018-10-02 09:28] #679 closed

[2018-10-02 09:59] vlki commented on #681
Can confirm that I can connect with the linked build. Thanks!

[2018-10-02 09:59] #681 closed

[2018-10-02 10:32] msageryd opened #686 "Increase- and Decrease font keyboard shortcuts not working"
Pressing "cmd +" should increase font size, but it actually decreases

Pressing "cmd -" should decrease font size, but instead it toggles line remark (putting double dashes at the start)

[2018-10-02 10:33] huyphams commented on #686
Hey @msageryd which keyboard layout are you using? I'm using US Keyboard and it works as expected.

[2018-10-02 10:36] msageryd commented on #686
I'm using Swedish 105 key layout.

I thought that key bindings where done with character codes, i.e. a "+" is a "+" whatever physical key it was generated from. Are your shortcuts bound to physical keys?

On 2 October 2018 at 12:34:00, Huy Pham (notifications@github.com<mailto:notifications@github.com>) wrote:

Hey @msageryd<https://github.com/msageryd> which keyboard layout are you using? I'm usi

[2018-10-02 10:40] huyphams commented on #686
I don't that Apple solution works that way. This is one of the know issues and it should be done with a preference that allows users to customize their shortcuts key.

[2018-10-02 10:43] msageryd commented on #686
I haven't encountered any other app that seems to mix up keys in shortcut definitions.

"cmd +" works as it should from my keyboard in every other application I have.

On 2 October 2018 at 12:40:30, Huy Pham (notifications@github.com<mailto:notifications@github.com>) wrote:

I don't that Apple solution works that way. This is one of the know issues and it should be done with a preference that allo

[2018-10-03 00:11] ddevdreamer commented on #331
I still miss this feature. 🙏

[2018-10-03 04:59] altinkonline commented on #586
I'm using ProxyCommand and that's also not respected. I'm a new user, zo I don't know if it worked before.

[2018-10-03 05:00] huyphams commented on #586
Actually, you can download and try all the old build here: https://tableplus.io/osx/changelog

[2018-10-03 05:09] altinkonline commented on #586
No, it's not working for me. I'm running on Mac OS Mojave.

[2018-10-03 05:10] huyphams commented on #586
Yup, because TablePlus currently, doesn't support `ProxyCommand`, but @davidolrik said that build 118 works for him so I'm confused.

[2018-10-03 05:36] altinkonline commented on #586
OK, is it on the roadmap to support ProxyCommand? This is the moment to get users from Sequel Pro because that's not working on Mojave;)

[2018-10-03 05:38] huyphams commented on #586
Yep, we do have that plan. I'm working on that, hopefully, it can be released in the next beta.

[2018-10-03 05:39] altinkonline commented on #586
Nice, I will use that if it is available 👍

[2018-10-03 09:07] huyphams commented on #231
Hey guys, I just signed as a partner of Snowflake and started working on this driver. Hopefully, we will have a beta version at the end of this week or the next week.

[2018-10-03 12:15] alexanderkoehlerkun opened #687 "MySQL connection regularly times-out when idle"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
MySQL 5.7.21 w/ SSH Tunnel
macOs Mojave 10.14 (18A391)

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
137

**3. The steps to reproduce this issue:**

- in Settings "Keep connection alive" and "Auto reconnect connection" enabled
- Run Query, wait around 5-10 minutes
- Sud

[2018-10-03 13:57] msandim opened #688 "Commit changes to boolean column of a Cassandra database using UI returns error"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
Cassandra 3.11.3

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
1.0 (136)

**3. The steps to reproduce this issue:**

When I try to change the value of boolean column using TablePlus and commit the changes, I always get this error ('approve' is the name of my table's boo

[2018-10-03 14:04] reassured-jy opened #689 "Backup function does not work with Percona if pxc_strict_mode is set to ENFORCING"
Percona 5.7.21-21.3.el7
Version 1.0 (136) *— it would help if the About window copied this information to the clipboard on click* 😀

**The steps to reproduce this issue:**

- Select `File > Backup`
- Select a server running Percona with `pxc_strict_mode` set to ENFORCING
- Select a database
- Select options `--add-drop-table` and `--add-drop-database`
- Click `Start backup…` and select a filename

[2018-10-03 14:43] huyphams commented on #687
Probably because of the timeout setting, let me see if we can increase it. Thanks for the feedback.

[2018-10-03 14:43] huyphams commented on #688
Thanks,  i will fix it now, will include in the next release (y)

[2018-10-03 14:44] alexanderkoehlerkun commented on #687
Maybe you could add a setting for adjusting the timeout :)

[2018-10-03 15:28] huyphams commented on #687
Yep, but as a temporary I increased the MySQL timeout to 3000 second (50 mins), it would be great if you can give it a try: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2018-10-03 17:38] m-thomson commented on #677
Yes, I know how to create one from the command line :-).

With respect, I don't think your app can claim to support SQLite databases if it *can't even create one*.

I mean, come on. Thats the very first thing it needs to be able to do. What a frustrating experience.

[2018-10-03 20:53] darioup opened #690 "Allow color theme customizations for SQL Query editor"
I get a bit confused on dark mode, when I place the cursor on a query it is like gray highlighted and almost all the times is confusing for me, maybe others would agree with this highlight.

Also there would be helpful to have opening/closing parentheses highlighted when they are selected or the cursor is next. Now it only flashes for 1 sec in yellow and only for the closing parentheses

I love Da

[2018-10-04 07:03] alexanderkoehlerkun commented on #687
Hi! 50 minutes is WAY better than before :) 👍

Thank you!

[2018-10-04 10:16] vitiokss opened #691 "Missing MSSQL session default configuration"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**Microsoft SQL Server 2016 - 13.0.4466.4 (X64)**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Build 137**

3. The steps to reproduce this issue:
The problem with **TablePlus** client is that it is not setting the recommended SQL server client default settings (options). Whi

[2018-10-04 10:40] huyphams commented on #691
I just checked the SQL Server Management and see that they use:
OPTIONS 5496,
Which means
[code]
Probably TablePlus will use this default setting, I think SQL Server Management is standard.
Thanks for pointing it out.

[2018-10-04 10:50] huyphams commented on #691
I made that changes in this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0 It would be great if you can give it a try and let me know if there is anything left.
Thanks.

[2018-10-04 11:39] vitiokss commented on #691
@huyphams seems the options set correctly now. Seems working just fine :) Are you planning to include it in a weekly update ?

[2018-10-04 11:53] huyphams commented on #691
Yes, that one will be included in the weekly update.

[2018-10-04 12:53] eleijonmarck commented on #491
@huyphams sorry I did not see this until now.

Do you need testing? I am actually testing to export my connections to one of my colleagues as we speak.

[2018-10-04 12:56] huyphams commented on #491
Hey, it's released on production already 👍

[2018-10-04 12:58] eleijonmarck commented on #491
@huyphams It worked great. We had to make a new group for the `import` button to work.

[2018-10-04 14:03] calippo opened #692 "Cannot see errors in multi-line SQL Server queries"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2012 - 11.0.6020.0 (X64)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 136

3. The steps to reproduce this issue:

I have a complex query like this.
[code]

If the query fails I'd like to see which query failed at which row. It's possibly just a synta

[2018-10-04 14:36] huyphams commented on #692
Could you please give me a valid example of your case? I test with a multiple result error and TablePlus gave me an error with the line:
<img width="1335" alt="screen shot 2018-10-04 at 9 35 17 pm" src="https://user-images.githubusercontent.com/3654622/46481410-87a2cb80-c81d-11e8-830d-84a39b02c683.png">

[2018-10-04 14:47] calippo commented on #692
It looks like I don't have any problem either with syntax errors.
My problem is related to constrains errors, such as 'Duplicate Key'. Cannot work to an example right now, sorry for that.

[2018-10-04 14:49] huyphams commented on #692
Thanks for the detail, with your detail I can reproduce myself. I will back to you with a solution.

[2018-10-04 16:25] alexanderkoehlerkun opened #693 "Comment Syntax Highlighting issue in MySQL"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**
MySQL 5.7.21 w/ SSH
macOS Mojave 10.14 (18A391)

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**
137

**3. The steps to reproduce this issue:**
`-- Comment`
`/* Comment */`
`# Comment`
First two will be correctly highlighted as comment, third not.

Noted: If the bug is rel

[2018-10-04 16:53] davidADSP commented on #619
Also getting this bug against a MSSQL DB

[2018-10-05 03:15] huyphams commented on #693
This is one of the know issues. Currently, TablePlus uses the same set of rules for SQL Server, MySQL, and PostgreSQL. That means I have to ignore some rules for each driver. I will improve it in the future.

[2018-10-05 07:05] huyphams commented on #617
I just pushed version 139 (open prefences and check on receive updates). Which includes binaries for PostgreSQL 10.5.

[2018-10-05 10:14] huyphams commented on #314
Hey, @nfgrilo I'm sorry because it takes so longgg just for a small update. I have added compatible for the old MySQL from this build, can you give it a try?
https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
<img width="552" alt="screen shot 2018-10-05 at 5 13 55 pm" src="https://user-images.githubusercontent.com/3654622/46529828-0cdfbc00-c8c2-11e8-9b08-cd7e2622817c.png">

[2018-10-05 10:15] huyphams commented on #314
Related issue: https://github.com/TablePlus/TablePlus/issues/665

[2018-10-05 11:02] fgilio commented on #418
Would be great to have this in TablePlus

[2018-10-05 11:06] fgilio opened #694 "Add possibility to import Sequel Pro connections and groups"
The title says it all :) It'll be awesome to have this feature built in, in the meantime I guess I'll do it manually.

PD: TablePLus is awesome, keep the nice work 🚀

[2018-10-05 11:06] fgilio commented on #694
Related https://github.com/TablePlus/TablePlus/issues/285

[2018-10-05 14:30] alvint commented on #677
@m-thomson I understand your argument because it would be trivial to support creating the file, but your logic is flawed. The app also supports Oracle. Are you saying that in order to **truly** support Oracle then TablePlus must be able to install an Oracle instance/create a new schema or DB on your computer?

[2018-10-05 14:45] alvint commented on #619
Similar with Oracle, although just the tab hangs.

[2018-10-05 16:50] huyphams commented on #619
Hey @alvint I made a mistake in Oracle when canceling a query. I have fixed it on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0 Could you give it a try?

[2018-10-05 17:48] slieker-d commented on #600
I also have the exact same problem, and exact same version numbers as @be-ez

[2018-10-05 17:50] alvint commented on #619
Yep, works fine!

[2018-10-05 17:56] alvint commented on #619
...Something odd, though. I tested by creating a recursive CTE that doesn't end:

[code]

When I cancel, the number of actual rows doesn't line up with the row count at the bottom:

<img width="555" alt="image" src="https://user-images.githubusercontent.com/622202/46551666-57533f80-c8a6-11e8-94dc-a585b6d92d36.png">

[2018-10-05 19:50] d3vild06 commented on #683
@huyphams I have but that only saves **one** query at a time. My use case is that I want (and typically do) to save a bunch of queries in one file that I can re-use. I don't want to hunt down individual saved/favorited queries. Hope that makes sense.

[2018-10-06 02:39] huyphams commented on #683
1. You can save whatever you want on the favorite section, and `not only one query`.
2. You don't need to hunt down and click to the query to import if you are using key-binding like this:
![2018-10-06 09 38 23](https://user-images.githubusercontent.com/3654622/46566591-a1423100-c94b-11e8-8942-65772a31663f.gif)

[2018-10-06 10:14] iugo opened #695 "Add customizable pg_dump version feature"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.4

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 136

3. The steps to reproduce this issue:

- Backup database(9.4) with PostgreSQL 10.4
<img width="426" alt="2018-10-06 6 13 08" src="https://user-images.githubusercontent.com/499364/46570221-84c9e700-c993-11e8

[2018-10-06 11:31] christianharrington opened #696 "Auto-complete dropdown cuts off long identifiers"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 5.x, but I presume it's the same for others.

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 136

3. The steps to reproduce this issue:

Create several tables with long names, e.g.
[code]

<img width="453" alt="Screenshot" src="https://user-images.githubusercontent.

[2018-10-06 13:00] huyphams commented on #696
I have changed it to truncate tail and increased the width of the table name. Does it helps?
<img width="1357" alt="screen shot 2018-10-06 at 7 59 37 pm" src="https://user-images.githubusercontent.com/3654622/46571625-72a37500-c9a2-11e8-94b9-19c4b2614330.png">

[2018-10-06 14:43] christianharrington commented on #696
That looks great!

[2018-10-06 15:09] marcusnunes commented on #439
I was with the same problem.
Changing host to 127.0.0.1 solve the problem.
Thank you

[2018-10-06 15:35] m-thomson commented on #677
You're right, the logic doesn't apply across the board, but it all comes down to **reasonable expectations**.

SQLite is known for its simplicity. That's its primary feature. When I read "supports SQLite" I have certain expectations. Like being able to create, open, read and write SQLite databases.

I'm not familiar with Oracle (but I know it's pretty enterprise-y). If I read "supports Oracle" I h

[2018-10-06 17:11] #680 closed

[2018-10-06 17:12] #691 closed

[2018-10-08 09:15] reefki commented on #412
I have also faced the same issue with no passphrase keys. It keeps asking the password.

[2018-10-08 12:57] Webrow opened #697 "[Win][1.0(16)][Azure SQL]Cant view stored procedures"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Azure SQL Server 12.0.5000

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0(16) Windows

3. The steps to reproduce this issue:
Whenever I use MSSMS I can view stored procedures in the Programmatibility folder, but in TablePlus I can only see the Tables and Views.

Noted: If th

[2018-10-08 16:18] johndatserakis commented on #617
Same here - updated to 139 and get this:

[code]

Thank you for your work on TablePlus

[2018-10-08 22:58] nojvek opened #698 "Copy as ASCII Table"
Trying to figure out if I can write a simple plugin as a quick workaround but it seems there isn't great documentation on the plugin api.

Basically I am looking for something like this

![image](https://user-images.githubusercontent.com/1018196/46637846-d77ddd00-cb12-11e8-8b67-393028de3589.png)

But with an option of 'ASCII Table'

that would output something like

[code]

[2018-10-10 04:40] huyphams commented on #331
@prwhitehead currently, I'm working on that issue, I think the next beta version will have this feature.

[2018-10-10 04:46] huyphams commented on #697
Hey thanks, I will fix it on the next update. But you report the issue in the wrong repo, it should be there: https://github.com/TablePlus/TablePlus-Windows/issues

[2018-10-10 04:46] #697 closed

[2018-10-10 06:40] bulletRush commented on #452
@huyphams so you change this to a warning dialog now.....
![image](https://user-images.githubusercontent.com/5211881/46717389-53eef800-cc9a-11e8-9af2-258aad72840b.png)

[2018-10-10 06:42] huyphams commented on #452
This popup will show when the server taking too long to respond. There is no error reported, so the best thing TablePlus can do is showing it, and ask user want to reconnect or keep waiting.

[2018-10-10 11:57] marcbrayman opened #699 "Removing primary key column"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

136

3. The steps to reproduce this issue:

Create a primary key column (via SQL or create new table in GUI) and then try to delete it via GUI.

Solution is decribed here:
https://stackoverflow.com/questions/43549413/al

[2018-10-10 11:58] huyphams commented on #699
Thanks @marcbrayman let me fix it.

[2018-10-10 11:58] malsama opened #700 "Feature request: define primary with identity (SQL Server)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

138

3. The steps to reproduce this issue:

n/a

Noted: If the bug is related to data, please attach an example SQL data.

[2018-10-10 11:59] huyphams commented on #700
We just put this feature in our roadmap. it will be released soon.

[2018-10-10 12:20] johndutchover commented on #700
Thank you everyone!
On Oct 10, 2018, 7:59 AM -0400, Huy Pham <notifications@github.com>, wrote:

[2018-10-10 12:23] tianhao opened #701 "When the table is many, the automatic completion is very slow"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle 12c
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 139
3. The steps to reproduce this issue:
My database has more than 100 users and more than 100,000 tables.
I finished typing "select" in 2 seconds, and the editor will display "select" after 20 seconds. I can't do a

[2018-10-10 12:33] tianhao commented on #701
Ok, I found it.
Can TablePlus only complete the table of the current schema, not all users' tables

[2018-10-10 13:05] bulletRush commented on #452
@huyphams there is too many warning dialog when my ssh tunnel is closed.

[2018-10-10 13:41] #674 closed

[2018-10-10 15:45] huyphams commented on #701
hmm, it is not a full solution because many users are using that feature. They write a query which is crossing schemas.

[2018-10-10 20:07] u84six opened #702 "Adding/updating/delete tables, rows, etc, the UI is confusing"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
136

3. The steps to reproduce this issue:

- Launch TablePlus and connect to database
- create table using sql script e.g.:
CREATE TABLE fruits(
   id SERIAL PRIMARY KEY,
   name VARCHAR NOT NULL
);

- Notice table

[2018-10-10 20:17] u84six commented on #702
Ok, just found the "Reload Workspace" command. That helped some, but I'm still unable to save because the error in popup.

[2018-10-10 21:40] natesilva opened #703 "Adding a comment to a column makes it NULLable"
If a column is not NULLable (is_nullable = NO) and you change its comment, it also changes the column to be NULLable.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.6 (Amazon Aurora)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 139

3. The steps to reproduce this issue:

* Open or create a table with a NOT N

[2018-10-11 00:32] huyphams commented on #702
The reason that the table doesn't appear after running the script because there is no way to know which comment user ran.
For example: if you run `select 1`;

Refresh UI every single statement is not a wise solution. You can create a table via the GUI with this:
<img width="1268" alt="abc" src="https://user-images.githubusercontent.com/3654622/46773460-b4784680-cd27-11e8-9205-c02a81a089a6.png">

A

[2018-10-11 01:27] farizzed opened #704 "Request to Add Prompt When Running Dangerous Queries"
Inspired by famous DBeaver SQL Client, it would be nice adding such prompt when trying to run dangerous queries such as running delete or update without where statement.

`delete from table_name`
`update table_name set a = 1`

This could minimalize the human error when updating/deleting many rows/tables.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MS SQL Server 2016

2.

[2018-10-11 01:30] huyphams commented on #704
Currently, TablePlus supports `safe mode` you can enable it by click on the clock icon (on the toolbar).
Detect a query without a where condition is difficult.  I know that the limitation of the safe mode is it will warning all the query, includes a simple select statement.

[2018-10-11 01:36] farizzed commented on #704
![image](https://user-images.githubusercontent.com/11038943/46775263-b1ce1f00-cd30-11e8-9b0f-d0504f18f6d4.png)

Can you help me with turning on the safe mode? It seems the lock icon (safe mode) is turned off and I cannot toggle it on.

[2018-10-11 01:39] huyphams commented on #704
Hmm, I didn't have that bug, please close and re-open the app, if it won't help, please let me know.

[2018-10-11 01:41] farizzed commented on #704
Ah for some reason, after adding a new database toolbar icon for 1st database is disabled, while 2nd database's toolbar is normal.

1st database
![image](https://user-images.githubusercontent.com/11038943/46775430-6ff1a880-cd31-11e8-9aa9-e04fc524f135.png)

2nd database
![image](https://user-images.githubusercontent.com/11038943/46775436-78e27a00-cd31-11e8-80cd-49afb50f8a50.png)

[2018-10-11 01:42] togro opened #705 "Exists any version that work with MySQL old password ?"
Hi

I'm trying to connect to mysql with old password (5.1 ), but Tableplus show this message:

**_Authentication plugin 'mysql_old_password' cannot be loaded: dlopen(/usr/local/mysql/lib/plugin/mysql_old_password.so, 2): image not found_**

How can fix that ?

Tableplus version 136

[2018-10-11 01:45] huyphams commented on #705
We removed support old_password because it's unsafe and recommends removed by Oracle (the maintainer of MySQL).

https://dev.mysql.com/doc/refman/5.7/en/account-upgrades.html

[2018-10-11 01:46] huyphams commented on #704
Do you remember how to reproduce it? I opened 2 databases but it's the same. The toolbar is enabled.

[2018-10-11 01:49] farizzed commented on #704
1. Open a database
![image](https://user-images.githubusercontent.com/11038943/46775652-52710e80-cd32-11e8-84c2-5c0bf45812de.png)

2. Open the second database
![image](https://user-images.githubusercontent.com/11038943/46775678-6b79bf80-cd32-11e8-9550-b419d961b4f7.png)

3. The toolbar of 1st database is disabled, while the 2nd database is normal.

[2018-10-11 01:51] huyphams commented on #704
I can't reproduce the bug (with the step above), looks like it only happens in some special case. I gonna go, will be back in 40 mins, I will try to reproduce it again.
Thank you.

[2018-10-11 01:52] farizzed commented on #704
When opening the 2nd database the toolbar is disabled. Maybe its state doesn't change after I opened 2nd database.
![image](https://user-images.githubusercontent.com/11038943/46775796-f8bd1400-cd32-11e8-84f2-ce24102e613e.png)

[2018-10-11 03:28] huyphams commented on #704
Hey @farizzed can you try this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
and let me know the result.

[2018-10-11 03:40] farizzed commented on #704
![image](https://user-images.githubusercontent.com/11038943/46779450-0a59e800-cd42-11e8-8ced-6d1647a8f821.png)
Still disabled for 1st database

[2018-10-11 03:42] farizzed commented on #704
Perhaps I will be making a gif later after work. Will get back to you later.

[2018-10-11 03:43] huyphams commented on #704
Thanks, I'm waiting for it.

[2018-10-11 04:41] huyphams commented on #704
I made a small change on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
TablePlus always enables toolbar when the windows become active.

[2018-10-11 08:43] huyphams commented on #627
Hey, sorry. I missed this issue somehow :/
You can set it as expression: advanced...> Expression.
<img width="510" alt="screen shot 2018-10-11 at 3 42 29 pm" src="https://user-images.githubusercontent.com/3654622/46791890-44d87a80-cd6c-11e8-83cc-e5b49363e8f5.png">
then TablePlus will not add a double quote.

[2018-10-11 10:10] timkimber opened #706 "Typo / translation error in "Thank you for buying Tableplus" dialog"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 16 (windows)
3. The steps to reproduce this issue:

Trivial issue but fixing them would make the product look more professional

Licence product and/or press the 'Register' button to view current licence

![tableplus - registr

[2018-10-11 10:12] Tungtono commented on #706
Hey @timkimber, thanks for reporting. We are fixing it now.

[2018-10-11 12:03] huyphams commented on #418
Hey guys, I just made this feature on this build, it would be great if you guys can give it a try and let me know if anything needs to be improved before release: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2018-10-11 12:03] huyphams commented on #141
Check out this issue: https://github.com/TablePlus/TablePlus/issues/418

[2018-10-11 12:03] #141 closed

[2018-10-11 12:04] huyphams commented on #158
Hey guys, please check out this issue: https://github.com/TablePlus/TablePlus/issues/418

[2018-10-11 12:04] #158 closed

[2018-10-11 12:04] huyphams commented on #511
Related to: https://github.com/TablePlus/TablePlus/issues/418

[2018-10-11 12:04] #511 closed

[2018-10-11 12:14] weyert commented on #418
Looks like it's working! Only you can not  set the name of the exported SQL file

[2018-10-11 14:19] huyphams commented on #418
Thanks, I want to make it works first, then improve it later 😄

[2018-10-11 14:57] andretti1977 commented on #418
Sorry to say months ago i switched to the database plugin of my ide (IntelliJ Ultimate) but if you have implemented it i'm sure it is a really desired feature.

[2018-10-11 15:40] keichinger commented on #71
Don't worry, you're still an awesome person for considering my entire feedback ❤

[2018-10-11 18:39] horo42 commented on #418
TablePlus⁩/⁨Contents⁩/Frameworks⁩/Oracle.framework⁩/Versions⁩/A⁩/⁨Resources⁩/libociei.dylib - 126,4MB
TablePlus⁩/⁨Contents⁩/Frameworks⁩/Oracle.framework⁩/Versions⁩/A⁩/⁨Resources⁩/libclntsh.dylib.12.1 - 86.7MB

What happened?

Plus this build is not signed digitally.

I tested it and SequelPro on the same 3 tables from a database. Apart from spacing and comments they generated the same output, exce

[2018-10-11 19:52] lkraider commented on #617
Still not working?
[code]

[2018-10-11 21:07] lkraider commented on #617
The problem is the shared libraries path:
[code]

There is no `libpq.5.dylib` on that path, it falls back to `/usr/lib/libpq.5.dylib`, which is the old version (default version installed on the mac) and fails.

[2018-10-11 21:50] lkraider commented on #617
I was able to fix it by changing the dylib search path on the binary, and including the required dylibs in the folder (note that I used the `Postgres.app` binaries below):
[code]

This is the file structure needed (pg_* binaries can be renamed later):
[code]

[2018-10-12 01:38] huyphams commented on #418
@horo42 that is beta build, which supports Oracle `libociei.dylib` and `libclntsh.dylib.12.1` came from the Instant Client, the driver provides by Oracle. Let me check the sign again and fix a few issues 😄
Thank you so much for testing.

[2018-10-12 02:22] bulletRush opened #707 "PLEASE DO NOT pop too many error or warning dialog"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
* MySQL5.X

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
* Build 139 Mac OS

3. The steps to reproduce this issue:
* I use TablePlus with Proxifier(allow TablePlus connect db with ssh tunnel)
* open multi connections
* then close my laptop
* open my laptop in some other place.

[2018-10-12 02:31] huyphams commented on #617
@bt  if I try to fix the binaries in TablePlus, it is not a full solution. TablePlus will increase the size a lot (up to GB) if it tries to embed all database binaries.

My solution is:
1. TablePlus only embedded the newest (if it's possible) database binaries.
2. If people want to backup/restore database with the old version, the need to install DBngin, which is a database version manager.

[2018-10-12 02:47] bt commented on #617
I think that's a fair call -- given that PostgreSQL 10.5 is the latest version, I guess the next version of TablePlus will support PostgreSQL 10.5? 😁

[2018-10-12 02:59] huyphams commented on #617
Yup sure, I will try to fix it first.

[2018-10-12 03:29] huyphams commented on #707
Hey @bulletRush can you  try this build? https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2018-10-12 04:18] natesilva commented on #703
I can confirm this is fixed in build 141.

[2018-10-12 04:18] #703 closed

[2018-10-12 09:12] huyphams commented on #331
Hey all, I'm working on SequelPro export/import capabilities. The export feature is done on the beta, the import feature is being developed and will available in the next update.

[2018-10-12 10:04] effectdev opened #708 "Ability to set a default 'mode'"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
All

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
136

It would be nice to have the ability to set the default mode when connecting to a database. I really like 'Alert Mode' which shows a warning before commiting changes and would like to be able to use this by default for ever

[2018-10-12 10:06] effectjared commented on #447
+1 for this

[2018-10-12 10:10] huyphams commented on #708
Hey, @effectjared if you duplicate the connect then the default mode will be copied.
I think setting warning mode as default is not a good idea because most of users using TablePlus for development.
Let's say, 10% of the time people use it for production (which needs warning mode), 90% times people use it as development, they will get annoyed.
Providing a setting to set it as default is a good ide

[2018-10-12 10:11] effectjared commented on #708
@huyphams yes I think a preference to set this would be perfect 👍

[2018-10-12 18:36] astewart-twist commented on #231
Looking forward to it @huyphams !

[2018-10-12 19:51] ntw6tori opened #709 "Suppress quotes when auto complete"
Is there any way to suppress the quotes when auto complete column names from mysql tables?
They are not really needed for mysql syntax and for me it makes SQL code harder to read

[2018-10-12 19:53] ntw6tori opened #710 "View/export BLOB data in HEX"
It would be nice if we could view raw binary BLOB data as hex data and export it to a file

[2018-10-13 01:55] huyphams commented on #709
TablePlus only adds quote when it needed. If we remove the back sticks, it will have a syntax error.
1. table's name contains space.
2. table's name is also a keyword (Ex: update).
3. table's name has an upper case.
Looks like that case 3 is not necessary for MySQL, let me check it if it won't effect the syntax, we can remove this rule safely.

[2018-10-13 05:58] ntw6tori commented on #709
In my case the tables names are all lower cases but the columns names contains upper cases.
But the backticks are definitely not needed in case 3 for mysql database

[2018-10-13 12:14] rafaljanicki opened #711 "An ability to resize backup/restore database windows"
I'm using TablePlus Build 136

I have a server with multiple databases there whereas the names only differ by few chars in the middle of the name (i.e. there's a common prefix & suffix). When I try export or import a database, I get a list of databases, but due to the window's size, the names are truncated in the middle by adding three dots (e.g. `prefix-dbn...suffix`).

It'd be great if I could r

[2018-10-13 22:00] marcbrayman opened #712 "SQL Server: CHAR type isn't showing size"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

141

3. The steps to reproduce this issue:

Create a CHAR column with a certain size; eg. CHAR(8). The structure view doesn't show its size; only "CHAR" is displayed; not "CHAR(8)". F.e. with VARCHAR you *can* see its s

[2018-10-14 01:38] huyphams commented on #709
Hey @ntw6tori I removed the rules 3 after checking the documents. it will be released in the next update.

[2018-10-14 01:39] huyphams commented on #617
Hey all, I just updated the binary and change the load path to dynamic as @lkraider suggestion on this build: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Hope it works :D

[2018-10-14 01:41] bt commented on #617
Success! 🎉

[code]

[2018-10-14 03:57] #709 closed

[2018-10-14 03:57] #699 closed

[2018-10-14 03:57] #693 closed

[2018-10-14 03:58] #418 closed

[2018-10-14 03:58] #658 closed

[2018-10-14 04:33] huyphams commented on #630
I just added re-connect on the new build, it should fix this issue, feel free to re-open it if you still have this bug.

[2018-10-14 04:33] #630 closed

[2018-10-14 04:33] huyphams commented on #617
I released the build 142 which includes 19 bug fixes and new features. (include this one).

[2018-10-14 04:33] #617 closed

[2018-10-14 04:35] huyphams commented on #645
It's fixed on build 142.

[2018-10-14 04:35] #645 closed

[2018-10-14 04:35] #696 closed

[2018-10-14 04:38] #678 closed

[2018-10-14 05:09] huyphams commented on #671
It's fixed on build 142.

[2018-10-14 05:09] #671 closed

[2018-10-14 13:53] mcgarychan opened #713 "Does TablePlus can show Chinese?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MYSQL 5.x
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version1.0(142)
3. The steps to reproduce this issue:
I can't show Chinese Character which can only show "??", i use utf-8 as a charset. THANK you very much..
Noted: If the bug is related to data, please attach an example S

[2018-10-14 13:58] huyphams commented on #713
That's the next feature we're going to support. Encoding and collation.

[2018-10-14 14:48] #711 closed

[2018-10-15 02:38] hongxiao-liu opened #714 "Chinese display exception"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-10-15 02:40] hongxiao-liu commented on #714
In the original database table, the Chinese content of the field is displayed as a question mark, and the correct Chinese is not displayed.

[2018-10-15 02:43] huyphams commented on #714
This issue is duplicate with https://github.com/TablePlus/TablePlus/issues/713

[2018-10-15 04:32] huyphams commented on #712
I added support it in the beta build 143. Thanks for reporting.

[2018-10-15 04:32] #712 closed

[2018-10-15 04:44] gitboo opened #715 "In PostgreSQL, when bytea is PRIMARY KEY, it is not updated."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
->  PostgreSQL 9.6.10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
-> Version 1.0 (142)
3. The steps to reproduce this issue:

In PostgreSQL, if bytea is a PRIMARY KEY, it can not be changed.

Example,

1) Defines the bytea data type as the PRIMARY KEY.

CREATE TABLE "public".

[2018-10-15 04:46] huyphams commented on #715
Thanks, @gitboo this is one of the known issues, we're working on it. Not only the primary key, but also the foreign key.

[2018-10-15 10:12] #685 closed

[2018-10-15 13:42] alvint opened #716 "export not working for Oracle"
Oracle 11.x and 12.x
build 143

I'm not sure if this is supported yet, but the export function does not seem to work for Oracle for any file type (SQL/JSON/CSV).

[2018-10-15 16:12] wgormley commented on #535
I am having this same issue and also on 10.13.6

[2018-10-15 19:55] kokes opened #717 "Show column comment in autocomplete"
I'm using build 142 and Postgres 10/11 and I've added comments to my columns and was wondering where these comments show up, apart from the structure tab.

I thought the comment would be shown in the autocomplete dropdown, but it's not so - is such a feature planned?

Here's a reproducible example:

[code]

Thanks!

![screen shot 2018-10-15 at 21 45 11](https://user-images.githubusercontent.com/84

[2018-10-15 20:21] marcbrayman opened #718 "No limit on data length while entering new rows"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

143

3. The steps to reproduce this issue:

Enter a text value in a text column that's wider than the maximum length of that column. Eg. entering a text value of 10 characters in a VARCHAR(5).

You'll get a vague non-in

[2018-10-15 20:29] marcbrayman opened #719 "Auto-complete: position table names and column at the top of the suggestion list"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

143

3. The steps to reproduce this issue:

Normally I'm only, or especially, interested in table names and/or columns. Now they are often "hidden" in a long list of other items like functions and keywords.

It would be

[2018-10-16 02:45] huyphams commented on #716
Thanks @alvint let me check and fix it.

[2018-10-16 08:35] MariusVB commented on #9
"At the moment, we do not have a plan for a Linux version. Because Linux has too many distros."

Release it as a Snap package or Flatpak, and you will reach a lot of distros.
https://snapcraft.io/
https://flatpak.org/

[2018-10-16 09:07] mohamednagy opened #720 "Edit a connection"
- Version 1.0 [MySql]
- BuildNumber 142

I'm trying to edit an already added connection but i couldn't find a proper way for that i have to click on a new connection to open the connections window then edit the connection. Is there something to edit  a connection without doing this long steps.
If this is not implemented i think it would be better to add this.

[2018-10-16 12:13] MightyPixel opened #721 "Can not filter - Invalid STRING constant (<some uuid>) for "user_id" of type uuid"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
2.1.19.1484

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
142

3. The steps to reproduce this issue:
- Have Cassandra table with a column with type of UUIDType
- Try to filter by that column = some existing uuid
- The resulting SQL wraps the search string with single quotes whi

[2018-10-16 12:15] huyphams commented on #721
Thanks, that's my bad, I will fix it then release in the weekly updates (Beta build)
Thanks for pointing it out 👍

[2018-10-16 12:16] huyphams commented on #9
Thanks @MariusVB flatpak is very interesting, I will try it out.

[2018-10-16 13:40] kule opened #722 "Feature Request: Allow option to default filtering to "Any Column""
I love the "Any Column" filter option and quite often the first thing I want to do is find some relevant data quickly - could we have an option to make it the default rather than "Raw SQL" here?

[2018-10-16 14:16] huyphams commented on #722
Hey @kule TablePlus remembers the filters, you just need to create your favorite filter and will be saved for the next time. Set `Any Column` as default may be a good idea but there are other users are using the Raw SQL with auto-completion for quick lookup. If I change the default, they will create an issue request to change it back 😄

<img width="1106" alt="screen shot 2018-10-16 at 9 14 27 pm"

[2018-10-16 14:31] prwhitehead commented on #331
I'm having issues importing an SQL dump via the import function. No errors are reported, however the program displays an error message stating that "MySQL server has gone away".

[2018-10-16 14:32] huyphams commented on #331
Hey @prwhitehead I just fixed it 3 hour ago: https://twitter.com/TablePlus/status/1052167187614449664
<img width="595" alt="screen shot 2018-10-16 at 9 32 14 pm" src="https://user-images.githubusercontent.com/3654622/47023946-f58ab380-d18a-11e8-989e-657047017d28.png">

In the meantime, you can use backup/restore function to import the dump file.

[2018-10-16 14:35] prwhitehead commented on #331
Hello,

Thats great, I need to follow you on Twitter :)

I tried the Restore function and it returned an error:

[code]

[2018-10-16 14:37] huyphams commented on #331
It's just a warning because TablePlus performs the restore via MySQL CLI, so I think if you have a secure connection, it's safe.

[2018-10-16 18:32] kule commented on #722
Ha yeah I didn’t mean change the default (I can well imagine some people prefer raw sql first) - I just wondered if we could have a preference setting for the default?

[2018-10-16 20:20] wgormley opened #723 "Feature Request: Show Connection name in tabbed side bar"
Just a quality of life addition. Show the connection name above the db name on the tabbed side bar. The dev/staging/prod dbs all have the same name, it would be great to have a little more info here.

![screen shot 2018-10-16 at 2 18 03 pm](https://user-images.githubusercontent.com/9420454/47044904-a888ec00-d14e-11e8-82ac-362b6d86e26a.png)

[2018-10-16 20:24] xFixx opened #724 "Column names in viewer didn't support Cyrillic symbols"
Hi!
ver. 1.0 (142)
My db table columns has names in Cyrillic. This is how they showed:
http://joxi.ru/eAOYEpwf9w8Yjm

Meanwhile, in other fields they seem to be ok
http://joxi.ru/nAyxpEyugyq1B2

[2018-10-16 23:51] huyphams commented on #720
Hey thanks, I think so, it also helps when you open connection by a URL and want to save it. I will add it in the next update.

[2018-10-17 04:36] huyphams commented on #716
Hi @alvint I have fixed the bug: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Sorry because of the delay, I have a lot of tasks 😄

[2018-10-17 07:18] fiksani opened #725 "ORA-00904: : invalid identifier when alter add column"
Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production
build 142

I have some issues:

1. Cannot delete column
![screen shot 2018-10-17 at 14 12 12](https://user-images.githubusercontent.com/26507077/47068569-d5083b00-d216-11e8-8770-6e7c4b4b8982.png)

2. Cannot alter column, invalid identified (not need 'column')
![screen shot 2018-10-17 at 14 15 01](https://user-images.githu

[2018-10-17 07:50] huyphams commented on #725
Thanks, let me check it.

[2018-10-17 08:01] huyphams commented on #725
There are two ways to drop a column, should I use physical delete column? @fiksani
https://oracle-base.com/articles/8i/dropping-columns

[2018-10-17 08:29] xFixx commented on #724
It's mssql, Azure :)

[2018-10-17 08:39] fiksani commented on #725
Yes, you can use physical delete column.

[2018-10-17 10:35] voeurnchy opened #726 "Don't show table list for Mysql driver"
- it won't show table list for all MySQL database, PGSQL work as normal
- TablePlus version: 1.0 (142)
- view data by running SQL query also work as normal

Note: I'm using macOs Hight Sierra v 10.3.6

![screen shot 2018-10-17 at 5 29 54 pm](https://user-images.githubusercontent.com/16317127/47080685-dd6e6f00-d232-11e8-846f-7018e914e5eb.png)

[2018-10-17 10:38] huyphams commented on #726
Hi @voeurnchy can you run this statement and let me know the result?
`SELECT table_name as table_name,table_schema as table_schema,table_type as table_type FROM information_schema.tables WHERE table_schema = 'your_database_name';`
Replace your_database_name with the database name.

[2018-10-17 10:42] voeurnchy commented on #726
I got this

The user specified as a definer ('mysql.infoschema'@'localhost') does not exist

[2018-10-17 10:47] huyphams commented on #726
Are you upgrade from MySQL 5? I find some helpful resource here:
https://stackoverflow.com/questions/49992868/mysql-errorthe-user-specified-as-a-definer-mysql-infoschemalocalhost-doe

and here:
https://stackoverflow.com/questions/51155026/mysql-8-0-11-cant-find-mysql-infoschema-after-update-from-5-7

[2018-10-17 11:42] malsama opened #727 "Can't connect to (local) SQL Server instance"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

 SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Windows, build 15

3. The steps to reproduce this issue:

Connection to local SQL Server seems not to be supported (yet). I'm using the same settings as with Management Studio.

Noted: If the bug is related to data, pl

[2018-10-17 11:46] huyphams commented on #727
Hi, we have the Windows repo here: https://github.com/TablePlus/TablePlus-Windows/issues
Btw, you're using the outdated of the Windows build, could you please update to build 16 and try again?
if it won't help, please email me the screenshot of the connection form, so I can reproduce the bug easier.

[2018-10-17 12:12] marcbrayman commented on #727
I'm using the following settings:
Name: Test
Type: local
Host: PC\SQLEXPRESS
Port: 1433

Testing with 32 and 64 bits and latest build 16. I'm on Windows 10, 64 bits and SQL Server 2014 bits.

[2018-10-17 12:30] Tehnix opened #728 "Illegal mix of collations .. for operation '=' when using SET @VAR := "string""
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 1.0 (142)

3. The steps to reproduce this issue:

I often use multi-statement queries, where I `SET` some variables in the beginning, and then use them later during the query. Whenever these involve strings, I get an error

[2018-10-17 14:16] huyphams commented on #727
Have you tried put 127.0.0.1\SQLEXPRESS instead of PC?

[2018-10-17 15:06] alvint commented on #719
Tangentially related to issue #602.

[2018-10-17 15:15] alvint commented on #716
Now it exports CSV and JSON ok, but SQL still has issues. It exports the `insert` statement for the data but not the DDL for creating the table. If you don't select "Include table content" it doesn't create a file at all.

[2018-10-17 15:20] alvint commented on #716
If related, the Definition section on the Structure tab is blank:

<img width="807" alt="image" src="https://user-images.githubusercontent.com/622202/47097088-a3837580-d1fe-11e8-8f99-d73adf3c4307.png">

[2018-10-17 21:32] Chris1904 commented on #231
Oh man, I was just about to throw this out here. Can't wait! If you need help to test anything, let me know!

[2018-10-18 06:56] rbngzlv opened #729 "Update row detail when refreshing workspace"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

[code]

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

[code]

3. The steps to reproduce this issue:

[code]

[2018-10-18 06:59] huyphams commented on #729
Hey @rbngzlv I got the bug 😄 very clear instructions 👍

[2018-10-18 10:47] marcbrayman commented on #727
Yes, I tried that. Also localhost. Problem is that the error message isn't informative; only "Cannot connect". A more detailed log would be helpful here.

[2018-10-18 11:30] malsamaxyz opened #730 "Ability to dock tabs side by side"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

N/a

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

143

3. The steps to reproduce this issue:

Especially when creating a query it would be handy to see the contents and/or structure of a table. Now I have to keep switching between tabs. Docking the tabs horizontally/verticall

[2018-10-18 16:49] safetypins opened #731 "SQL tab content should be saved/loaded unique to database"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
NA

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
142

3. The steps to reproduce this issue:
NA

Noted: If the bug is related to data, please attach an example SQL data.
Currently, it appears the SQL tab loads a record of some SQL statements previously written associated with th

[2018-10-18 16:53] huyphams commented on #731
I got it, thanks for pointing it out, I will consider making it unique.

[2018-10-18 19:34] safetypins commented on #731
Is there an explanation of how the SQL tabs currently work in the docs?

Thanks for making such a great SQL interface!

[2018-10-19 01:28] huyphams commented on #731
Currently, it is unique per connection not per database.

[2018-10-19 01:37] huyphams commented on #730
TablePlus will suggest all table columns if you type: TablePlus + dot.
Ex:
1. SELECT * FROM comments where comments. <- the columns will be listed
2. SELECT * FROM comments as c where c. <- the same.

I don't know there is any difference between a column list on the sidebar and the column list inside the auto-completion popup? The column list on the auto-completion popup has fuzzy matching so you

[2018-10-19 07:59] warwickchapman opened #732 "Copy header row with copy results"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
143

3. The steps to reproduce this issue:
Run a select that produces a table of result information.  CMD + A the result to select all and CMD +C to copy.  This excludes the header row.

If you do not want to include the hea

[2018-10-19 08:00] huyphams commented on #732
It's already supported but not default.

<img width="636" alt="screen shot 2018-10-19 at 3 00 29 pm" src="https://user-images.githubusercontent.com/3654622/47205312-bd17ef00-d3af-11e8-81a5-feee6456622a.png">

[2018-10-19 09:28] warwickchapman commented on #732
Thank you.

On Fri, Oct 19, 2018 at 10:00 AM Huy Pham <notifications@github.com> wrote:

--
-- Warwick Bruce Chapman | 083 7797 094 | http://wa.rwick.com

[2018-10-19 09:30] malsamaxyz commented on #730
Yes, I know I can use auto-complete, but there are scenarios that it's handy to see a overview of the data and/or structure (incl. types, default value Y/N) while constructing a query.

[2018-10-19 10:46] Giora13 opened #733 "Random queries running in the background on PG"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 9.6.1
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81)
Build 142
3. The steps to reproduce this issue:
Connect to the database
Run any query
Sometimes background query starts even without any actions, just after connection

To clarify, query is always the same - same tabl

[2018-10-19 10:58] prwhitehead commented on #716
Hello, if this is not related, I'm happy to open another issue.

Exporting for Remote MySQL databases is also disabled from the menu.

<img width="209" alt="screenshot 2018-10-19 11 53 32" src="https://user-images.githubusercontent.com/1199977/47214527-1d019c00-d396-11e8-9ea3-63b9589998dc.png">

[2018-10-19 11:07] prwhitehead commented on #71
During development its really useful to be able to add a timestamp to the export file, or more complex labelling to exports. Is this a feature you feel could be added?

[2018-10-19 11:08] huyphams commented on #733
Hmm, can you check it again? TablePlus only send a ping to the server, and with PostgreSQL, it sends select 1; every 30 seconds to keep the connection alive.
You can turn it off in preferences.
`SELECT * FROM "<schema_name>"."<table_name" LIMIT 1 OFFSET 0;` This kind of queries is used to fetch table column (Ex: for  auto-suggestion.)

I have checked but it only send ping.

[2018-10-19 11:09] huyphams commented on #71
Sure @prwhitehead

[2018-10-19 11:41] Giora13 commented on #733
I have been checking it on day to day basis for about a month
The only solution i found so far is to revoke read permissions on the schema

[2018-10-19 11:52] huyphams commented on #733
Thanks for the confirmation, I will double check all again.

[2018-10-19 12:01] huyphams commented on #728
I have tested with MySQL 8 but it works as expected, Looks like it is related to the MySQL 5.6, let me try it.

[2018-10-19 14:52] MightyPixel commented on #721
Hi. About the beta builds, are they publicly accessible?

Thanks!

[2018-10-19 14:58] Tungtono commented on #721
Hey @MightyPixel, you can go to preferences (cmd + ,) > check "Receive Beta Updates", then update the app to get the new beta build.
<img width="319" alt="beta" src="https://user-images.githubusercontent.com/10219818/47226166-0b49e400-d3ea-11e8-892a-60b70507ef49.png">

[2018-10-19 15:01] Tehnix commented on #728
We're unfortunately stuck on 5.6 because of AWS Aurora been most featureful there :(

If it helps, the local DB I'm testing against is setup with Docker via `docker run -d -p 3306:3306 --rm --name mysql-database -e MYSQL_ALLOW_EMPTY_PASSWORD=true mysql:5.6`

And then the setup and query.

[2018-10-19 16:06] huyphams commented on #728
Sure, no worries, I will setup and fix it, I will try my best 😁

[2018-10-21 05:15] jacurtis commented on #234
Just want to bump this.  I searched this on google to see if MongoDB was coming to TablePlus.

I understand it's not relational like postgres, mysql, etc but I see that we have Redis which is Key/Value store and similarish to MongoDB (its closer to MongoDB than it is to MySQL).  And now we have Cassandra which is usually compared very closely to MongoDB and is also a NoSQL database.  Most GUIs for

[2018-10-22 14:40] huyphams commented on #716
@prwhitehead you must select a table the menu will be enabled. another way, you can right click and select `Export...` in the menu context.

[2018-10-22 20:45] jmfederico opened #734 "Moving a connection from one group to another, opens all the hovered groups"
2. Which TablePlus build number are you using: 142

3. The steps to reproduce this issue:

When moving a connection from one group to another, all the groups one hovers on to get to the desired group end up being opened.

Only the group that the connection was dropped into should be opened.

![screen recording 2018-10-22 at 15 39 46 2018-10-22 15_43_48](https://user-images.githubusercontent.com/23

[2018-10-22 21:09] gabrielrinaldi opened #735 "Option to display labels instead of DB name on left bar"
I would like an option to display labels on the left tab bar instead of the name of the database that I am connected to.

The reason for that is that in some SaaS providers like Heroku the DB name is not something you can easily recognize:
![image](https://user-images.githubusercontent.com/38957/47319659-1bd5a680-d604-11e8-8db4-81c82215344b.png)

[2018-10-23 04:19] coralandbill opened #736 "Oracle query Chinese gibberish"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2018-10-23 04:21] coralandbill commented on #736
MacOS mojave
Oracle 12
TablePlus Version 1.0(143)

[2018-10-23 05:31] huyphams commented on #720
it's released on the beta build 145.

[2018-10-23 05:31] #720 closed

[2018-10-23 06:26] shanke opened #737 "MySQL 4.1.22 community"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 4.1.22 community

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
145

3. The steps to reproduce this issue:

I can connect to the server and a specific database.
But the problem is that no tables are shown.

[2018-10-23 09:51] huyphams commented on #713
Hey @mcgarychan I'm working on collation and encoding now, could you please give me more information about that table? Table creation and some sample data are very helpful.

[2018-10-23 13:48] alvint commented on #735
Duplicate of issue #723.

[2018-10-23 14:57] Chris1904 opened #738 "Open same connection after update"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Irrelevant

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
145

3. The steps to reproduce this issue:
I just had 2 connections open and some tables I was working in and after I updated the program through the update prompt, it took me back to the initial "Welcome to TablePlus" sc

[2018-10-23 15:05] huyphams commented on #738
It's already in our roadmap 👍

[2018-10-23 15:06] huyphams commented on #737
Hmm, it's too old (> 10 years ago) but let me try to install that version.

[2018-10-23 15:37] huyphams commented on #734
Thanks, I just fixed it 👍

[2018-10-23 16:11] huyphams commented on #535
Well, finally, I can reproduce this bug. gonna investigate fix it now.

[2018-10-23 16:23] jmfederico opened #739 "Passwords not properly escaped for CLI usage"
1. Which driver are you using and version of it: MySQL 5.7

2. Which TablePlus build number are you using: 142

3. The steps to reproduce this issue:

- Create a connection to a DB with a password like this one "apassword))withparentheses".
- Try to backup the database, you will get an error like:
[code]

Usernames and passwords should be escaped before being used in the CLI.

[2018-10-23 19:45] KaidenR opened #740 "Can't import connections when connections list is empty"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
n/a

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (142)

3. The steps to reproduce this issue:
- Remove all connections from the connections list
- Right-click the empty space.
- The "Import" option is disabled but it should not be. To import something I have to cre

[2018-10-23 20:42] andyoneal commented on #231
looking forward to this. we've just started a trial with snowflake.

[2018-10-24 01:14] huyphams commented on #740
Thanks, I will fix it now 👍

[2018-10-24 04:09] #726 closed

[2018-10-24 11:52] texelate commented on #381
Could this be implemented by drag-and-drop? It's time-consuming to do more complex sorts.

[2018-10-24 12:15] msandim opened #741 "Delete multiple rows in cassandra table"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra 3.11.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (142)

3. The steps to reproduce this issue:
Select multiple rows in a cassandra table, delete them and 'Commit your changes'. An error will appear because I think TablePlus is building the wrong CQL statement t

[2018-10-24 12:33] huyphams commented on #741
Thanks @msandim, I just fixed this bug.

[2018-10-24 12:57] texelate commented on #418
This is great. However, not having control over the file name means you can easily overwrite a file without realising.

[2018-10-24 13:00] DrLuthor opened #742 ""Split result into tabs" and "Run all" doesn't work together ?"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostregreSQL 10.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 142

3. The steps to reproduce this issue:
I have scripts with many (100+) INSERT lines. The split tabs result is not very convenient to my needs as I have to make sure every single line worked. I learned via

[2018-10-24 13:08] huyphams commented on #742
Hey please follow this setup.
1. Turn of split result into tabs.
2. If the button execute is Run current. You cab press command + shift + return to execute all the query, however it only shows the last result.

TablePlus default return on error, that means if there is an error, it will stop on that statement.

[2018-10-24 14:19] msandim commented on #741
Nice, thanks for the quick fix! When can we expect a new release with this?

[2018-10-24 14:34] huyphams commented on #741
We release a beta update every week, the next beta release will be on this weekend.
If you wish to receive a beta update, please go to preferences and turn on: Receive beta updates.
The stable build release once a month.

[2018-10-24 16:13] msandim opened #743 "Next and previous page not working in Cassandra"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra 3.11.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (142)

3. The steps to reproduce this issue:
Have a table with more than 300 entries (in my case, I have around 1700). Going to the next page or previous page doesn't seem to update the 300 entries I'm looking a

[2018-10-24 16:17] huyphams commented on #743
Cassandra support has some limitation and this is one of theme.
I'm still working on it.

Ref: https://stackoverflow.com/questions/35958528/cassandra-how-to-skip-rows-in-paging

[2018-10-24 16:46] technigit opened #744 "improve selected table color contrast/pattern when unfocused (similar to issue #292)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 1.0 (142)

3. The steps to reproduce this issue:

- Select Dark Theme
- Select a table (blue focus color pattern is fine, as in issue #292).
- When the window is not focused, the table name becomes hard to read.  It is

[2018-10-24 16:48] huyphams commented on #744
This issue is related to the macOS version, it looks better on Mojave (10.14) but on the old macOS 10.11~10.13 it has some issues.
<img width="1349" alt="screen shot 2018-10-24 at 11 47 16 pm" src="https://user-images.githubusercontent.com/3654622/47447232-3e73e500-d7e7-11e8-9200-5c11387b80a8.png">

[2018-10-24 17:05] technigit commented on #744
I almost forgot to mention that the same goes for Open Anything.

![image](https://user-images.githubusercontent.com/9996410/47448141-e99f8280-d784-11e8-8713-803cf58b1cf9.png)

I assume this is also related to the old MacOS versions too.  Thanks!

[2018-10-24 19:17] haroldrandom commented on #489
Already buy a license to support.
Looking forward to more stable furtures

[2018-10-24 19:44] daturkel commented on #231
Thank you! So excited to see this. Keep up the good work.

On Wed, Oct 24, 2018 at 3:27 PM Huy Pham <notifications@github.com> wrote:

[2018-10-25 04:14] mcgarychan commented on #713
Hi Huy,
this is a create table sql , pls take a look for a reference

CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `role_id` int(10) unsigned NOT NULL,
  `company_id` int(10) unsigned NOT NULL,
  `parent_id` int(10) unsigned NOT NULL,
  `username` varchar(32) NOT NULL,
  `old_username` varchar(50) NOT NULL,
  `old_loginlink` varchar(255) NOT NULL,
  `password` varchar(

[2018-10-25 06:03] huyphams commented on #231
There are some issues remaining before I can release this driver:
1. The session is not killed properly: https://github.com/snowflakedb/libsnowflakeclient/issues/106
it happens in all clients I know, not only in TablePlus, the only way to kill the session is closing the workspace before exit TablePlus app.
2. Some basic features are still missing.

[2018-10-25 06:19] huyphams commented on #713
Hey @mcgarychan which version of MySQL are you using? Looks like you are using version < 5.5?

[2018-10-25 12:51] mcgarychan commented on #713
yes.. <5.5

On Thu, Oct 25, 2018 at 2:19 PM Huy Pham <notifications@github.com> wrote:

--
Don't Worry! Be Gary!

[2018-10-25 13:53] f0ntana commented on #226
Some updates for oracle users?

[2018-10-25 15:56] daturkel commented on #231
Some quality-of-life features might be:
- ability to specify warehouse in the connection profile (otherwise you have to run `USE WAREHOUSE warehouse_name` before running a query
- table completion ignoring case for all-caps names. My understanding is that Snowflake is case-insensitive by default (rendering column/table names in all-caps), but case-sensitive if you put something in double-quotes. C

[2018-10-25 18:07] huyphams commented on #231
Just publish the beta build 147 that includes Snowflake @daturkel
1. I have added Warehouse as your suggestion.
2. Disable auto add a double quote in case sensitive.

[2018-10-25 18:39] daturkel commented on #231
Amazing! Thanks for fast response!

[2018-10-25 22:10] astewart-twist commented on #231
woo!  Testing right now.  Session crashes as soon as I click 'connect'.  Happy to provide info for debugging.

[2018-10-25 22:55] natesilva commented on #231
Wow, this is great! Thank you for adding it.

I have a suggestion: when setting up a connection, in the “Account” field, allow the user to type the full account name, such as `mycompany.snowflakecomputing.com` or  `mycompany.us-east-1.snowflakecomputing.com`. Currently it fails if you do that -- you have to type just the first part (`mycompany` or `mycompany.us-east-1`). You should be able to do i

[2018-10-26 01:45] huyphams commented on #231
Yeah, It's confusing me too. I don't know why Snowflake has decided to do that, the account is the first part of the host. It took me a while to figure out which is account and which is `user name`.
Let's me see if I can improve it.

[2018-10-26 01:47] huyphams commented on #231
@astewart-twist the setup should look like this:
<img width="612" alt="abc" src="https://user-images.githubusercontent.com/3654622/47539688-bd5a4200-d8fb-11e8-813e-e70fd1fe50bf.png">

[2018-10-26 02:00] astewart-twist commented on #231
@huyphams ah, ok - adding the `.us-east-` to the account looks like it's working.

[2018-10-26 03:43] huyphams commented on #713
Could you please try this build and let me know the result? https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2018-10-26 04:17] mcgarychan commented on #713
HI , i have tried this version which can't show the Chinese characters
correctly. thank you so much.

On Fri, Oct 26, 2018 at 11:43 AM Huy Pham <notifications@github.com> wrote:

--
Don't Worry! Be Gary!

[2018-10-26 04:40] selfagency commented on #542
i would totally switch to tableplus from a combination of sequelpro, postico, and everything else were it not for the fact that there's no user management.

[2018-10-26 04:43] huyphams commented on #542
Hey @selfagency the user management is being developed, it will be released after the feature encoding and collation.

[2018-10-26 05:16] #741 closed

[2018-10-26 05:16] #740 closed

[2018-10-26 05:16] #729 closed

[2018-10-26 05:16] #716 closed

[2018-10-26 05:16] #734 closed

[2018-10-26 05:17] #715 closed

[2018-10-26 05:17] #706 closed

[2018-10-26 06:05] huyphams commented on #412
Hey guys,
I have a debug build here: https://www.dropbox.com/s/mf4b5auggb1lkvo/TablePlus.dmg?dl=0
You guy can run it and see the log for more detail with the command below:

- Open terminal:
/path_to_table_plus_app/TablePlus.app/Contents/MacOS/TablePlus

[2018-10-26 07:46] rbngzlv commented on #729
Works perfectly, thank you!

[2018-10-26 12:43] vgoloviznin commented on #744
@huyphams may be it's possible to make the colors adjustable? As on dark Mojave theme, the 'green' color indicating a new row added is just killing my eyes

[2018-10-26 14:16] alvint commented on #716
Hi @huyphams, just a reminder that export to SQL is still not working. It is working for JSON and CSV though.

[2018-10-26 15:21] huyphams commented on #716
Thanks @alvint I will check and fix it.

[2018-10-26 15:33] huyphams commented on #744
it's on our roadmap @vgoloviznin

[2018-10-26 20:59] brian-crane opened #745 "TablePlus crashes when handling 64k line SQL query"
There must be a way to make TablePlus powerful enough to handle a 64k line SQL query! just editing this will slow my pc down.  I do understand it is a giant query though.  same issue with tables with > 10k rows showing

[2018-10-26 21:37] brian-crane commented on #745
looks like pgadmin4 can handle 64k line query!

[2018-10-27 01:29] huyphams commented on #745
Hi @brian-crane which build are you using? recently, I have improved the query editor which can handle more lines.
I have sent you a gift, please restart the app and update to build 146 👍

[2018-10-27 06:12] mikerogne opened #746 "Small UI tweaks for columns in SQL mode"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**

MySQL, or anything really.

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**

Build 147

**3. The steps to reproduce this issue:**

In SQL mode, it would be nice if the columns were automatically sized so that they didn't wrap.

Also, if I resize the columns and re-run que

[2018-10-29 10:20] alexanderkoehlerkun opened #747 "TablePlus crashes repeatedly after Reconnect from long-running MySQL Query"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7.21

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
147

3. The steps to reproduce this issue:

1. Start a longer running (>180s) query
2. TablePlus message appears "Try to reconnect?" -> Click "Yes"
3. Crash
<details>
<summary>Apple Crash Log</summary>
Process:

[2018-10-29 10:26] pavelvolkov opened #748 "Field values are displayed as question marks"
There is a problem with cyrrilic symbols in TablePlus when database stores data in cp1251.

TablePlus 1.0 (build 147)
<img width="434" alt="2018-10-29 11 37 49" src="https://user-images.githubusercontent.com/695020/47629677-2695bb80-db6f-11e8-86e6-f75c91eb2b93.png">

[2018-10-29 10:32] huyphams commented on #748
Hi @pavelvolkov can you please run this command:
show variables like "character_set_database";
And let me know the result? is it latin1?

[2018-10-29 10:33] huyphams commented on #746
TablePlus remembers the column size in table but not in query result because it refresh everything and can't predict.

[2018-10-29 10:34] huyphams commented on #747
Thanks @alexanderkoehlerkun let me check the bug.

[2018-10-29 14:48] alvint commented on #745
@brian-crane My curiosity is getting the better of me. What makes that query so large? Are you injecting data, and is that data random enough that you can't generate it with a recursive CTE?

[2018-10-29 15:11] mikerogne commented on #746
Surely it wouldn't be too challenging to remember the column names of the previous query & the currently executed query -- if they are the same, keep the column sizes the same?

[2018-10-29 15:13] kliment-toshkov opened #749 "MySQL Structure editor - not possible to rearrange columns order"
Currently it is not possible to rearrange columns order, how they are arranged in the database.

[2018-10-29 15:13] fgilio opened #750 "Locks database while dumping"
Hi!

This is more of a question and not a bug report. I'm used to exporting databases in SequelPro, it gives me a .sql file and the DB is still responding to other requests during the export. I've just tried exporting with TablePlus and 2 things happened:
- I got a .dump, which I think is not a big deal at all.
- The DB got locked and wouldn't respond to other requests during the dump process. Thi

[2018-10-29 15:15] kliment-toshkov opened #751 "MySQL structure editor - suggestions on creation of new field"
When creating new column the “data_type” field is plain text. There is a hint list but it is rudimental and not very useful. I suggest to build auto complete. There also should be hints on data types that use parameters (decimal and float (x,y). There is no way to select that int field should be unsigned.

[2018-10-29 15:17] kliment-toshkov opened #752 "MySQL structure editor - FK creating"
When trying to create FK and selecting the table that contains the constraint, we should see a list of columns in that table. Now I have to remember and manually type column name. List of existing FKs does not show constraints on update and delete.

[2018-10-29 15:17] kliment-toshkov opened #753 "MySQL structure editor - duplicating a column definition"
when duplicating column in structure editor, then # should not be prefilled with copied item #, i prefer it to stay “default”

[2018-10-29 15:18] kliment-toshkov opened #754 "MySQL structure editor - table information"
I would love to see some statistics on currently selected table: Table information - records, used/wasted space, size, etc.

[2018-10-29 15:19] huyphams commented on #749
Hi @kliment-toshkov you can edit the first column (#) re-order columns in MySQL.

[2018-10-29 15:20] huyphams commented on #750
Hi @fgilio please add this option: --lock-tables=false
Ref: https://stackoverflow.com/questions/104612/run-mysqldump-without-locking-tables

[2018-10-29 15:20] kliment-toshkov opened #755 "UI workplaces and windows"
Would like the option to have separate windows (option to detach workplace to another window). In such configuration I would be able to easily switch between two specific tables when working on multiple models at the same time.

[2018-10-29 15:22] kliment-toshkov opened #756 "UI - shortcuts for switching panes and tabs"
shortcuts for data/structure panes are now cmd+shift+[ / ] but those by default systemwide are used to switch tabs. Therefore I suggest to change CMD+[ / ] to switch between data/structure panes and keep system defaults CMD+SHIFT+[ / ] to switch between tabs.

[2018-10-29 15:24] huyphams commented on #754
Please click on the table section or right click:
<img width="321" alt="screen shot 2018-10-29 at 10 23 46 pm" src="https://user-images.githubusercontent.com/3654622/47660318-54a7e980-dbc9-11e8-9085-d7d76351dbf0.png">

<img width="1514" alt="screen shot 2018-10-29 at 10 23 14 pm" src="https://user-images.githubusercontent.com/3654622/47660252-3d68fc00-dbc9-11e8-8bc8-9ce81abc94fd.png">

[2018-10-29 15:24] kliment-toshkov opened #757 "UI - filtering values"
When applying filter on large table, it takes time for the server to return response. Would be very nice to have visual indication that the program is waiting for return data on the newly applied filter values. Currently when I have to filter some data repeatedly (checking a list for some reason) I press enter and don’t know if I am viewing old data or the new data.

[2018-10-29 15:25] kliment-toshkov opened #758 "UI - right column view is getting empty"
When changing ENUM value on a filtered table, I choose the new value from the dropdown menu. Then the right column that represents all values from the selected row is emptied. It should keep showing current row values.

[2018-10-29 15:32] kliment-toshkov commented on #749
Interesting. A bit obscure but works fine. Thanks!

[2018-10-29 15:33] kliment-toshkov commented on #754
Nice. Thanks!
PS. You may consider putting this option somewhere else. Being in context menu that is associated with each specific table but it is for all tables in the database so it should be in a more general place

[2018-10-29 15:41] fgilio commented on #750
Like this?
<img width="258" alt="screen shot 2018-10-29 at 12 40 52" src="https://user-images.githubusercontent.com/6857732/47661477-e424ac80-db77-11e8-86aa-c85a84813518.png">
I'll test it later when there are less users connected.

[2018-10-29 15:46] huyphams commented on #750
Yep, TablePlus supports all the flag or mysqldump, full list here: https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html

[2018-10-29 15:47] kliment-toshkov opened #759 "UI - auto load next set of results when displaying large tables"
When browsing table with more than 10000 records (default limit to load and show) it would be nice to automatically load the next batch to 10000 records when reaching the end of the current list

[2018-10-29 15:54] fgilio commented on #750
Awesome, thanks!

[2018-10-29 15:54] kliment-toshkov opened #760 "Text box to edit large fields instead of inline."
Shortcut to access “quick view” mode on a given field? Double clicking or other control on text fields to open a box to edit. Inline editing long text is absolutely inconvenient.

[2018-10-29 16:01] huyphams commented on #760
You can use the right pane or using quick look to edit the cell:
<img width="735" alt="screen shot 2018-10-29 at 11 00 48 pm" src="https://user-images.githubusercontent.com/3654622/47662947-83748e80-dbce-11e8-94fd-a750fbfcc917.png">
<img width="1235" alt="screen shot 2018-10-29 at 11 01 21 pm" src="https://user-images.githubusercontent.com/3654622/47662995-98512200-dbce-11e8-86f3-afffd518e0ea.png"

[2018-10-29 16:12] huyphams commented on #757
There are two indicators in TablePlus.
1. Progress bar.
2. Cancel button.
<img width="1514" alt="screen shot 2018-10-29 at 11 09 56 pm" src="https://user-images.githubusercontent.com/3654622/47663563-e61a5a00-dbcf-11e8-8906-95263a0d3c41.png">

[2018-10-29 19:55] kliment-toshkov commented on #757
Thanks for that. Cancel/refresh button does not change here, icon always staying in “refresh” mode. You should look into this.
Progress bar by itself is fine, but when used as indicator that something is going on it is very subtle. I really prefer something more visual.

[2018-10-29 19:57] kliment-toshkov commented on #757
Also please note that the progress bar is not accurate. It has disappeared but the results changed a few seconds after that. Not reliable at all. Something spinning and more visual would be far better.

[2018-10-29 19:58] kliment-toshkov commented on #760
Thanks! Had no idea that it is editable. Excellent for the purpose.

[2018-10-29 20:05] kliment-toshkov opened #761 "UI - count of filtered results"
Filter is applied on the table, bottom counter does not change and still shows total count of rows. There is no information on how many results the filter returned.

<img width="1278" alt="screenshot 2018-10-29 at 22 03 10" src="https://user-images.githubusercontent.com/10902296/47677024-c16db480-dbc6-11e8-88e4-5dbe07e6413c.png">

[2018-10-29 20:26] siliconkibou opened #762 "Duplicate table function similar to Sequel Pro"
Would love to have the very handy "Duplicate Table" function of Sequel Pro in TablePlus.

Right click on a table, select Duplicate..., and then optionally choose if you duplicate just the structure or structure and also data.

[2018-10-29 21:16] alvint commented on #755
@kliment-toshkov I know you can hit cmd-n to open a whole new app window. Then you can log in to the same DB. I'm not sure that's what you're looking for, though...

[2018-10-29 21:20] kliment-toshkov commented on #755
Hi. I’ve tried it before posting but it did not work at the time of the test. Maybe my fault because it works now. it is exactly what I need.

[2018-10-30 06:11] yisiqi opened #763 "Connect database over k8s port forwarding."
Request new feature to connect database over k8s port forwarding.

[2018-10-30 07:39] huyphams commented on #757
I fixed the button state bug, now it can report correct state when applying filters.

[2018-10-30 09:04] m8928 opened #764 "Korean character appears as a question mark"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Oracle 11g

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

146

3. The steps to reproduce this issue:
Korean character appears as a question mark.

"NLS_CHARACTERSET","AL32UTF8"
"NLS_NCHAR_CHARACTERSET","AL16UTF16"
"NLS_LANGUAGE","AMERICAN"

Noted: If the bug is related to data

[2018-10-30 10:26] kliment-toshkov opened #765 "UI - keyboard shortcut to insert NULL value"
How to insert NULL value with keyboard shortcut, not by using right pane?

[2018-10-30 10:28] huyphams commented on #765
Currently, you can only insert with mouse. Hold option + click on the cell to quick access.
P.s if you have any question, free free to ping us on chat or email customer support at nick@tableplusapp.com
Issues tracker is not a good place to ask/answer.

[2018-10-30 10:31] kliment-toshkov commented on #765
I will check the chat. Reported here as you may qualify the question as “feature request” which is invaluable when having relatively new project and receiving feedback from users that are used to very mature programs like Sequel PRO. Of course will take incon sideration your preferences. Thanks

[2018-10-30 10:33] huyphams commented on #765
Thanks @kliment-toshkov I appreciate your help, it helps me improve TablePlus better.

[2018-10-30 13:42] huyphams commented on #412
I updated the build. now TablePlus reports the error more accurate. I also fixed the bug that can prevents TablePlus from saving passphrase.
Download: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0

[2018-10-30 17:11] huyphams commented on #664
Hey @Puller I just updated the ssh lib, now it supports ecdsa key: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Can you give it a try?

[2018-10-30 17:17] huyphams commented on #654
Hey @gerricom sorry for bothering you once again. I have updated the libssh to support more key types (ecdsa, openssh key...) but the last time, it's crashed on your computer. it would be great if you can give this build a try and let me know the result:
https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0
Much appreciate!

[2018-10-30 19:42] wazum opened #766 "Connect over SSH on Port 222 fails"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
1.0 (146)
3. The steps to reproduce this issue:
Server: somehost.com
Port: 222
Using username and password.
Everything else filled out correctly.

SSH works `ssh -p222 user@somehost.com`
and Sequel Pro (another macOS SQL cl

[2018-10-30 20:19] adamshaylor opened #767 "Schemas and their tables not visible in SQL Server on Azure"
**1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):**

Microsoft SQL Server

**2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):**

146

**3. The steps to reproduce this issue:**

a. Connect to a SQL Server instance on Azure.
b. Open the menu in the lower-left corner.

_Expected:_ Schemas should appear in the menu.
_Saw:_ Standard