[2019-12-20 09:09] Marundu commented on #1621
Welp. Wrong forum.

[2019-12-20 09:10] #1621 closed

[2019-12-20 10:02] BFJonk opened #1622 "Feature request: lazy login at start-up or reconnect"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
postgress 11.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
284

Currently, when starting up Tableplus immediatly starts asking for username / passwords for all open connections.

Request to make this behaviour more 'lazy' Only ask for password for the database that is open on

[2019-12-20 10:08] BFJonk opened #1623 "Feature request : Reopen SQL-query windows after restarting application and remeber tab-names"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
postgress 11.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
284

When TablePlus is restarted, it will re-open open tables, but not open sql query windows. It also does not remember any _**renaming**_ of query windows.

Request to autosave these workspace details, such that the

[2019-12-20 13:09] kodgezgini opened #1624 "unexpected behaviour on sql server update"
1. Microsoft SQL Server (Target Sql Server 2008)

2. Build 110

3. If you inline edit one field and update, it sends unnecessary data to server and fail to update.

Expected: `UPDATE [dbo].[Logs] SET [Provider] = 'Pegasuss' WHERE [Id] = '6506'`

Actual: `UPDATE [dbo].[Logs] SET [Provider] = 'Pegasuss' WHERE [Id] = '6506' AND [SessionId] = 'uPM1IweRvdJvkul3' AND [IpAddress] = '::1' AND [Logged] = '

[2019-12-20 15:38] optikalefx opened #1625 "Mysql stored functions are all empty"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Mysql / MariaDB 10.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
282

3. The steps to reproduce this issue:
Click on any of the stored functions

Video https://share.getcloudapp.com/geurq6pk

Noted: If the bug is related to data, please attach an example SQL data.

[2019-12-20 15:43] huyphams commented on #1625
Hey, @optikalefx could you try this query on the empty function/proceduce:
SHOW CREATE PROCEDURE `<your function/procedure name>`;

If the result is empty then it was the permission issue.

[2019-12-22 05:26] andreaolivato opened #1626 "Unable to start TablePlus"
After a crash while refreshing database information, I am unable to reopen TablePlus

1. **Using the Latest stable build (re-downloaded Today) for Mac. Using Mac OS Catalina 10.15.2**

2. **Steps to reproduce this issue:**
- Open Table Plus
- Crash

Here's the log if I launch from Terminal

[2019-12-22 05:30] huyphams commented on #1626
Hi @andreaolivato it seems like that your TablePlus settings are damaged. Please  try to remove the App data and open it again:
rm ~/Library/Application\ Support/com.tinyapp.TablePlus/Data/

Please note that it will remove all the connections and you have to create it over again.

You might want to open Key Chain and delete all TablePlus saved passwords too. Search with the keyword TablePlus => se

[2019-12-22 23:44] andreaolivato commented on #1626
I've deleted everything in ~/Library/Application\ Support/com.tinyapp.TablePlus/Data/ , all the passwords in KeyChain for Table Plus but the error remains the same. Also the application reminds that it crashed last time. Is there another location where tableplus saves its cache/config?

[2019-12-22 23:46] huyphams commented on #1626
Hmm, then please try to remove the user default settings:
[code]

[2019-12-22 23:56] andreaolivato commented on #1626
That worked, thanks a lot @huyphams the com.tinyapp.TablePlus.plist was the issue.

I've also restored all the files under Application Support which didn't create any issue.

[2019-12-22 23:56] #1626 closed

[2019-12-23 01:01] xingtianyoulong opened #1627 "Default Open Tabs"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
ALL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
282
(We write down the version for tracking).

3. The steps to reproduce this issue:

[2019-12-23 01:04] huyphams commented on #1627
Hi @xingtianyoulong it's duplicated with: https://github.com/TablePlus/TablePlus/issues/1623

[2019-12-23 01:05] #1331 closed

[2019-12-23 01:06] #1093 closed

[2019-12-23 01:06] xingtianyoulong commented on #1627
OK，Hoping fix these issues!

[2019-12-23 13:55] fhefh2015 opened #1628 "tableplus truncate table not working"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySql 5.7
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 282
3. The steps to reproduce this issue:
tableplus truncate table not working
Noted: If the bug is related to data, please attach an example SQL data.
![](https://i.imgur.com/WRPZRFB.png)
![](https://i.imgur.com/6Mkt

[2019-12-23 14:01] huyphams commented on #1628
Hi @fhefh2015 you have to commit the changes (Command + S or click the commit button on the top left)
TablePlus will not save it until you commit.

[2019-12-23 14:19] huyphams commented on #1628
Please let me know if you have any further question via email nick@tableplus.com
Thank you!

[2019-12-23 14:19] #1628 closed

[2019-12-23 14:33] mgoggin commented on #1221
I can confirm the same issue. When Use SSH Key is checked, the password is not sent. At work, we started using TablePlus to connect to our read replica in production for debugging and not being able to save the password is an annoyance.

Any chance that might be supported in the future?

[2019-12-24 03:13] ipy opened #1629 "Filter doesn't support special characters"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MongoDB 4.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
282

3. The steps to reproduce this issue:
Press cmd+f, input "+" and click Applied.
<img width="1108" alt="图片" src="https://user-images.githubusercontent.com/2088040/71390792-994bdb00-263c-11ea-908f-521d6568382d.png">

[2019-12-24 06:04] BFJonk commented on #1354
same as #1447, I guess

[2019-12-24 18:56] ProtoBird opened #1630 "No update to foreign keys in sqlite"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite version 3.28.0

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 2.12(282)

3. The steps to reproduce this issue: Open a database, and attempt to modify foreign key constrains, no code is generated for the sql statement preview, and no changes are pushed to the SQL S

[2019-12-25 07:28] cqyjk2006 opened #1631 "force close while reconnect"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL Community Server (GPL) 5.6.10
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 282
3. The steps to reproduce this issue:
This issue is high frequency and random，I use ssh tunnel to link the database, so often prompted disconnected, when I click manually reconnect, tabpl

[2019-12-25 16:03] huyphams commented on #1631
I see the crash is coming from the MySQL 5.x driver, and it seems like it was a MySQL driver issue. Could you try with the MySQL 8.x driver and see how's it going?
The 8.x driver is still compatible with the old MySQL.

[2019-12-27 05:37] apoorva007 commented on #1620
Hey @huyphams , any luck finding the issue? Happy to help with any more details you would need

[2019-12-27 05:38] huyphams commented on #1620
Hi @apoorva007 could you email me some more details about your database? I assume it pretty big, TablePlus try to load all table in all schemas when collecting database information.

[2019-12-27 06:41] apoorva007 commented on #1620
Sent you details in a mail @huyphams

[2019-12-27 14:14] optikalefx commented on #1625
Thanks for helping with this. It does have a result.

![image](https://user-images.githubusercontent.com/926885/71520299-4fa40000-2889-11ea-921f-4f59a055ea0a.png)

[2019-12-27 14:17] huyphams commented on #1625
It does have a result but it's empty/null. You can see the Create Function column, it's NULL. This issue only happens if the function/procedure was created by another user.

[2019-12-27 14:20] optikalefx commented on #1625
Ah ha. I was logged in as a root user in SequelPro which is why it was able to view/edit them. I'm going to delete all of them from user root and re-create with our main user so that I don't have this issue.

Thanks!

[2019-12-27 14:20] #1625 closed

[2019-12-27 17:52] chipsflower opened #1632 "Import CSV"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQLite

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
build 282

3. The steps to reproduce this issue:
Import CSV File
When importing a CSV file, all the records are not imported (2200 out of 53000). I did not have this problem with the previous build. In a mySQL database I don'

[2019-12-29 18:15] jasonbronson opened #1633 "Importing or exporting all tables"
It would be a great enhancement to have when you right click on a database on the left pane to have export or import options. Usually I have table plus on another window and I have to drag the mouse to the file menu to access these functions.

[2019-12-29 18:19] huyphams commented on #1633
I don't quite understand the suggestion. We already have that menu. Maybe you're using the very very old TablePlus build? or the Linux or iOS version?. Please do not remove the issue template questions.
<img width="518" alt="abc" src="https://user-images.githubusercontent.com/3654622/71560936-3bf1c880-2a46-11ea-9068-e28f709c44c8.png">

[2019-12-29 18:26] huyphams commented on #1632
Hi @chipsflower we didn't change anything related to CSV parser recently. I assume it was an encoding issue, and the CSV was truncated due to encoding error.
<img width="742" alt="bac" src="https://user-images.githubusercontent.com/3654622/71561014-3943a300-2a47-11ea-8100-9efaf3f49d36.png">

[2019-12-29 18:38] chipsflower commented on #1632
Hello,
The import worked well with the previous import. I redid tests with the same files and there it does not work any more. So there is a problem somewhere!

[2019-12-29 19:08] huyphams commented on #1632
Thanks, I will check it. If you have any CSV that can share with me, you can share it with me to my email nick@tableplus.com Thank you!

[2019-12-29 20:30] chipsflower commented on #1632
Thank you for your reply
I have a CSV file named TEST of 53518 lines, I reduced the file to 1000
lines because too big for sending
I am testing the following two methods:
1. Import into an existing table (same structure) -> only 90 rows are
imported
2. Import with creation of new table (all fields are TEXT) -> 88 rows
imported!
With the previous version there was no problem!
thank you and good eve

[2019-12-30 03:25] fgcui1204 commented on #364
Hi  @huyphams , how does MSSQL process? looking forward to using it.

[2019-12-30 05:07] sebastiankruk commented on #1503
I think the problem is in what Redshift reports in svv_columns.
I don't see all the tables there.
When I ran:

`SELECT
	table_name, table_schema
FROM
	svv_columns
WHERE
	table_schema = <my schema>
group BY
	"table_name", table_schema;`

I got 39 results ... out of over 100 tables in that schema.

[2019-12-30 06:12] sebastiankruk commented on #1503
Looks like svv_table_info might be what you should query instead. See https://github.com/awslabs/amazon-redshift-utils/blob/master/src/AdminScripts/table_info.sql

[2019-12-30 19:17] d-litvak commented on #1619
Another one:

`Query 1 ERROR: ERROR:  CASE types integer and character varying cannot be matched`

[2019-12-30 19:22] huyphams commented on #1619
TablePlus does not produce the error message, it sends the query to the server and the server returns the result, which includes the error message.
If you see the result/message are different from the CLI, then it would be a TablePlus issue. If you have any none-sensitive version of the query, please share it with me to nick@tableplus.com it helps me a lot.

[2019-12-30 19:24] huyphams commented on #1503
Thank you @sebastiankruk let me check it!

[2019-12-30 23:40] nickcabral commented on #1613
I agree with @JohnnyWalkerDesign's suggestion. Here's the current behavior, followed by what I believe to be an improved UX.

## Current Behavior
- The user tries to perform an action (eg. run a query) while disconnected.
- This error is shown:
<img width="429" alt="image" src="https://user-images.githubusercontent.com/9586778/71604693-1685bd00-2b21-11ea-8dbc-992bec93e093.png">

- User clicks "OK"

[2019-12-31 13:16] MarynaKraynichuk opened #1634 "SQL Query tab adds non-printable unicode characters"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5.5.47

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
2.12 (282)

3. The steps to reproduce this issue:
it is not happening always, but mostly it happens when I write a query with LIKE condition. For example I write this query [select * from user where username like "%mary

[2019-12-31 13:29] huyphams commented on #1634
Hi @MarynaKraynichuk thank you for the feedback and happy new year.
TablePlus will not add any hidden character automatically, did you copy any part of the query from vscode or write it all in TablePlus? Did you accidentally hold the option key and type the numbers (It happened near the % character which is located on a number, if we hold option + press a number, there will be a chance that insert

[2019-12-31 16:53] huyphams commented on #1332
Hi @federicodonner thank you for the feedback. I figured out this issue recently, there is a permission denied issue which could result in this behavior.
Could you please try this patch: https://www.dropbox.com/s/0i0ofnhi88vlxz8/TablePlus.dmg?dl=0 and let me know the error. It does not fix anything, but it will report the error.

[2020-01-02 11:04] eleftrik commented on #163
@huyphams Any news about the estimated release date?

Thank you

[2020-01-03 15:00] Harwood opened #1635 "Feature request: Informix support"
https://www.ibm.com/products/informix

[2020-01-03 20:30] federicodonner commented on #1332
Hi huyphams
I installed the version you sent me and tried to cancel the query. I got this error prompt:

Let me know if you need any more tests.

[2020-01-03 20:33] huyphams commented on #1332
So I think the answer: `The user does not have permission to perform this action.` TablePlus couldn't anything, you can use a user which has this permission/.

[2020-01-03 20:36] federicodonner commented on #1332
I couldn't understand your message. I have root permissions on my computer, I don't have root permissions on the database I'm querying. What configuration do you need me to change?

[2020-01-03 20:41] huyphams commented on #1332
The root permission on the computer has nothing to do with the permission on the database, also, TablePlus couldn't change the permission itself (How does it make sense when it can do a thing that it does not have permission?)
`I couldn't understand your message ` => TablePlus does not produce this message, TablePlus send the query to the server and receive it from server. It uses this query to fe

[2020-01-03 20:43] federicodonner commented on #1332
I understand, I thought that error message is what you needed. So, what are the next steps to help you with this issue? Should I get a db user that can read the processlist? I'm not the dba so I need to ask for any changes to my user.

[2020-01-03 20:45] huyphams commented on #1332
Yep, that's true. You need to ask your dba to grant your user the permission, which can run this query:

select * from information_schema.processlist

[2020-01-03 20:46] huyphams commented on #1332
So, I'm closing this issue, if you need anything else, feel free to pm nick@tableplus.com we are happy to help you sort it out.

[2020-01-03 20:46] #1332 closed

[2020-01-05 00:11] devrsw commented on #1437
Had this issue as well - but fixed when exposing the 6379 port:

[code]

[2020-01-05 00:13] huyphams commented on #1437
Thanks @devrsw so I think this issue is not a TablePlus issue because the port wasn't exposed correctly. I'm closing the issue for now. Happy new year guys.

[2020-01-05 00:13] #1437 closed

[2020-01-05 21:34] jimpriest commented on #1392
Another option would be to support piping the output to something like PoorMan's SQL formatter or npm sql-formatter and getting the results back. This is what I do in dbBeaver... it has an 'external' formatter option.

[2020-01-06 08:22] Kulimeya opened #1636 "TablePlus keeps switching macOS space to itself"
When I have opened TablePlus in macOS split fullscreen and I switch the space by swiping, TablePlus often catches focus and switches back to its own space.

For example: I have opened Chrome and TablePlus in split view, then I do a 3 finger swipe to the space next to it, then TablePlus catches focus and it jumps back to the Chrome/TablePlus space. When I switch again it usually doesn't do it again

[2020-01-06 10:19] JackWH opened #1637 "Data / Meta Queries filter doesn't seem to work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MariaDB 10.2.18

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

2.12 (282)

3. The steps to reproduce this issue:

- Show the Console Log
- Edit some data, load some tables, commit some changes to those tables
- Try and use the filter dropdown to show/hide queries — switching b

[2020-01-06 10:28] JackWH commented on #1637
Update: after playing with it some more, I see that it actually is working — it's just the usability isn't very clear.

I presume what's actually happening is, the setting chosen from the dropdown menu controls which _future_ queries are logged to the console. Previous queries won't be filtered retrospectively. This would be really useful for a future feature though!

I was also a bit confused as

[2020-01-06 17:16] mariansedivy opened #1638 "Show all workspaces in Full Screen not working"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MariaDB 10.4.10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):2.12(282)

3. The steps to reproduce this issue:
Using workspaces in Full Screen is buggy.

1. Enter fullscreen mode and click on "Show all workspaces" button
2. Click on new workspace + buttom
3. Connection window is

[2020-01-06 17:18] mariansedivy opened #1639 "Feature request: Display unix timestamp in human readable"
Hello, it would be great if user can set column as unix timestamp and convert it to readable format. Like it can be done in HeidiSQL https://www.heidisql.com/forum.php?t=12822. This is really a time saver feature!

[2020-01-06 18:04] baohx2000 commented on #1633
Can't right click tables on Linux build...guess that's still WIP

[2020-01-07 00:23] huyphams commented on #1638
Hi @mariansedivy thank you for the feedback, however it seems like a Catalina bug. I tried many macOS apps and they have the same issue (includes macOS Finder).
Currently, you can work around by using:
1. Command + Shift + K, Command + K to open new connection or database.
2. Use Command + P to switch between database/open database.
3. Control tab to switch between workspace.

[2020-01-07 06:05] gene-blink commented on #922
can you give an example of how to modify plugin to customize the way it formats? I looked all through the plugin code and do not see any obvious ways to do that.
for example, i prefer commas preceding a column on the line below.

so not this ...

SELECT
	foo,
	bar,
	baz
FROM
	q
WHERE
	d = 1;

but this ...

SELECT foo
              ,bar
              ,baz
   FROM q
WHERE d = 1;

[2020-01-07 08:34] jasonbronson commented on #1633
I’m using Mac with latest version. I’m talking about easily exporting the entire db into a SQL dump file. Otherwise I have to use backup method which is a zillion clicks seems like overkill honestly for smaller db’s where I need a quick dev dump.

[2020-01-07 09:51] mariansedivy commented on #1638
Hello @huyphams I must disagree with you. All other apps works fine for me. I was playing with it for a while and I have found that when I click new workspace button and the connection window is empty, like I describe in my previous post, switching to another app with cmd+tab and back to TablePlus will fix the empty connection window. But when I click on cancel button there, top navigation bar dis

[2020-01-07 13:20] huyphams commented on #1638
Here is Finder on my MacBook pro 16 inches, I also check with all other my friend apps. However, the macOS Safari works.
<img width="1792" alt="Screen Shot 2020-01-07 at 9 16 56 AM" src="https://user-images.githubusercontent.com/3654622/71897967-763a2480-312e-11ea-996d-8a7058c151b1.png">

And this is Sketch

<img width="1792" alt="Screen Shot 2020-01-07 at 9 19 50 AM" src="https://user-images.gith

[2020-01-07 13:24] huyphams commented on #1638
And here is macOS Apple Text
<img width="1792" alt="Screen Shot 2020-01-07 at 9 23 49 AM" src="https://user-images.githubusercontent.com/3654622/71898337-70910e80-312f-11ea-8a79-b82235caf4df.png">

[2020-01-07 13:30] huyphams commented on #1633
Thank @jasonbronson , have you tried to press Command + A then right-click > Export... TablePlus will export all selected items.

[2020-01-07 14:26] shezadkhan137 opened #1640 "Feature Request: Load database connections from a file"
My use case is: at work we get short-lived (<24h) username/password credentials in order to connect to several databases (qa, stag, prod). I have a script which pulls new credentials when I need them, but I have no way to get TablePlus to read those credentials for a connection. Ideally, my script would write out a full config file (including credentials) which TablePlus can read, is this currentl

[2020-01-07 15:28] huyphams commented on #1637
Hi @JackWH I've removed that option in the new release (beta), TablePlus will log all the queries now.

[2020-01-07 20:02] pryley commented on #1144
Even with the serialized array as "view-only" when formatted, this would be really useful.

An alternate implementation would be having a toggle in the sidebar when viewing the serialized column value to view it as a raw blob, or formatted (~human-readable) value.

[2020-01-07 21:32] alexgw-afr opened #1641 "Feature request: variables able to be used in schema names and in quotes (e.g. :variable.table)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL version unknown 9 or 10.

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.0.0, build 288.

CURRENTLY, there are a few options for SQL variables, e.g. ${variable} or :variable.

Due to historical reasons, I am stuck with :variable in my particular codebase.

1. Variabl

[2020-01-08 07:46] BFJonk opened #1642 "Feature request: Show TEMP TABLES in the items list"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostresSQL 11.5

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
288

3. The steps to reproduce this issue:

Can you show TEMP tables I created in the session in the items list to the left?

Thus after executing:
[code]
can the table then show up here (possibly with different colo

[2020-01-08 10:17] amitai52 opened #1643 "Request: make it easier / default to open new connection in a new window"
My preference is to open new DB connections in a new window, not a new tab.
(I prefer more windows, as you can leverage MacOS expose and similar features)

For that I right-click in the connections window and select new-window (instead of double click to open in a new tab) - it's a little annoying to do that each time I open a new connection.

I suggest to either:
- add a preference that new conne

[2020-01-08 13:43] huyphams commented on #1643
Hi @amitai52 thank you for the suggestion. Have you tried the Command + N to open a new connection? is it solve your issue?

[2020-01-08 16:08] adelemam opened #1644 "SQL Server Arabic Encoding : ??????"
When try to connect with SQL Server 2017 and later, and change any text column to arabic , it converts to ??????.

[2020-01-08 16:11] huyphams commented on #1644
Hi @adelemam thank you for the feedback, however, please do not remove the template issue. It not only helps me to investigate the issue faster but also reminds me of the issue when I revisit it in the future.

Regarding the issue, I could not help you because I don't know which version of TablePlus are you using so I assume you're using the latest version. Please double-check if you have set the

[2020-01-08 16:55] chamby commented on #1177
I also ran into similar behavior when running a custom query with a JOIN and then attempting to update cells of the result set. The auto-generated query for the update doesn't seem to handle JOINS correctly.

[code]

[code]

[2020-01-08 16:57] adelemam commented on #1644
thanks a lot and yes  I use latest version of the app, and we are usign SQL Server 2017
below is video screenshot for what is happening
https://drive.google.com/open?id=1dThHtbebIeVDz2OjWMuu-OTtYozgl2cw

thanks

ks

[2020-01-08 18:27] huyphams commented on #1644
Hey @adelemam could you please try this build and see how's it going: https://www.dropbox.com/s/7mzayn6it9xfoqz/tableplus.dmg?dl=0
Thanks!

[2020-01-08 18:51] adelemam commented on #1644
wow , worked like a charm!!
what was the issue?  and cannot I use the online one any more?

[2020-01-08 18:53] huyphams commented on #1644
the issue is that when updating a value which is encoded UTF8, the string must have the prefix N.
For example:
`UPDATE table <name> SET a_column = N'a unicode string'` instead of
`UPDATE table <name> SET a_column = 'a unicode string' `
You can use that build as a official release, it can selfupdate. It just contains a hotfix.

[2020-01-08 18:58] adelemam commented on #1644
thanks a lot , appreciate your effort !!

[2020-01-08 18:58] #1644 closed

[2020-01-09 01:43] gatspy commented on #607
navicat mysql support this feature!

[2020-01-09 08:29] stormpat opened #1645 "Copy rows as SQL insert statement not handling multiple rows intuitively"
1. Which driver are you using and version of it: MySQL 5.5.62

2. Which TablePlus build number are you using: 3.0.0 (Build 228)

3. The steps to reproduce this issue:

Select anything from any table (make sure there is more than one result). Visually select all the result rows and choose `Copy rows as > SQL insert statement`

The result is multiple individual insert statements, instead of a single

[2020-01-09 14:42] amitai52 commented on #1643
Hi

Yes, Cmd+N is a good workaround.
Although it was more intuitive for me to click the plug icon (top left) in the gui which does 'show connections' - this option is more accessible via the GUI.

Dan

[2020-01-09 15:00] Jiia opened #1646 "Surprising DROP PRIMARY KEY when trying to update a row"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6.44

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
282

3. Rough steps what I did
Tried to import a CSV file to a table. Got duplicate key errors when importing it.

I  opened the table, clicked on `some_column`. Typed in a new value, pressed CMD+S and got a weird error

[2020-01-09 15:25] huyphams commented on #1646
it's unexpected @Jiia the only way to change table primary is via the token field in the structure. Let me investigate it.

[2020-01-09 15:56] huyphams commented on #1646
I think the issue might be related to the situation where the token field got focusing unexpectedly and it might affect the text in it.
I just added one more validation when the primary key can only be modified when the structure is opened.

[2020-01-09 17:06] huyphams commented on #1645
Hi @stormpat it used to handle the copy statement in a single insertion query. However, sometimes, users will be faced an issue where the chunk size from copy is bigger than the max_allowed package and they can't insert the query because the server won't accept it.
To avoid this situation, TablePlus split the value into single insertion statements. The downside of this approach is it will generate

[2020-01-09 19:07] mariansedivy commented on #1638
I'm only having these problems in TablePlus

[2020-01-09 19:14] huyphams commented on #1638
Sure, I want to fix it too but currently, I've no idea why it happened and couldn't make it works but I will keep an eye on it.

[2020-01-09 19:16] mariansedivy opened #1647 "Duplicating quotes while copying rows and row/result wrapped in quotes"
Which driver are you using and version of it (Ex: PostgreSQL 10.0): MariaDB 10.4.10

Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):2.12(282)

The steps to reproduce this issue:
1. Insert this text _Hello "World"_ into column and then select row and copy it (even plain text makes this)
2. Paste this into text editor and you get "Hello ""World"""
OR
1. R

[2020-01-09 19:20] mariansedivy commented on #1638
Great, thank you. And, please, this _Connection window is empty and you can't click on anything until you exit fullscreen_ has also the same culprit?

[2020-01-09 19:20] huyphams commented on #1647
Copy/Copy As are using the CSV format, and that result is expected behavior. However, copy as plain text should not make it double-quotes. Let me fix the copy plain text.

[2020-01-09 19:23] huyphams commented on #1638
The bug is related to the rendering issue, so the things you're seeing are not the actual components, it's still there and has connections. It will be re-render if you swipe to another window and the swipe back.
It's a rendering issue and only happens in Catalina (which also has ton of other bugs).

[2020-01-09 19:40] mariansedivy commented on #1647
I've been using many SQL clients and never seen this before. It would be great if this default behaviour is user customisable.

Also look at this, I have these rows in DB with two columns
1. Hello "World" | How are you
2. Hello World | How are you

When I copy and paste them I get
"Hello ""World"""   How are you
Hello World    How are you

I think that this is not expected. It's not consistent beh

[2020-01-09 20:19] huyphams commented on #1647
Hi @mariansedivy please see this issue: https://github.com/TablePlus/TablePlus/issues/1482 it explains why we need to escape double quotes in CSV format. If you want to copy without reformatted, we should you plain text (I just fixed it).
If we do not escape the quotes, it will import wrongly when pasting the data into a data sheet (excel, google docs) or doing a routine import between tables.

[2020-01-10 00:13] Samuel-Webster opened #1648 "Crashes when using foreign key navigation arrow between databases"
MySQL 5.7.24
Build 112
Windows 10
Local development environment

When trying to use the foreign key navigation arrow to the right of the value in the cell to another database the software hangs then crashes. Both databases and values can be accessed and opened by switching (CTRL + K) and the arrow works fine if the foreign key is in the same database.

[2020-01-10 07:08] mariansedivy commented on #1647
Hi @huyphams I understand that copying in CSV format requires this quotes, but I'm doing just cmd+c from table row, not CSV export. In Sequel Pro this works without quotes, even pasting data into Excel is not a problem. It's very annoying when you want to copy html from DB and you have to fix all the quotes.

[2020-01-10 08:38] BFJonk opened #1649 "Feature Request: Beautify OVER (PARTITION BY ... ORDER BY...)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
11.5
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
288
3. The steps to reproduce this issue:

Can you also BEAUTIFY
[code]
to :

[code]

[2020-01-10 13:31] huyphams commented on #1647
SP does not support copy/paste directly in the app. You can not copy a row and paste it into another row.
However, Sequel Pro also produces the `wrong` output if you do the following step.
1. Create a table and sample data.
[code]
2. Open the table in Sequel Pro, select first row and press Command + C
3. Open a Google Sheet  press Command + V

=> You will see it paste the data wrongly.

TablePlus

[2020-01-10 16:07] huyphams commented on #1649
Hey, @BFJonk you can use the SQL formatter plugin as a temporary solution. You can install it by press Command + L => install SQL Formatter. Then you will see it in the menu Plugin > Format SQL (control + I)
Or you can build it your self here: https://github.com/TablePlus/sql-formatter

[2020-01-10 16:49] huyphams commented on #1648
Hi @Samuel-Webster thank you for the feedback, could you try this hot patch and see how's thing going?
https://www.dropbox.com/s/qw87iunfkchtb85/TablePlusUpdate.exe?dl=0
I'm closing this issue for now because it belongs to Windows Repo: https://github.com/TablePlus/TablePlus-Windows

[2020-01-10 16:49] #1648 closed

[2020-01-10 19:40] avfigueredo opened #1650 "Does not display full / correct error when executing a failed query"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Microsoft SQL Server 2012 (SP4) (KB4018073) - 11.0.7001.0 (X64)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

2.12 (282)

3. The steps to reproduce this issue:

Try to insert a row in a table without a field that cannot be null. The query return error, but don't show exactly

[2020-01-10 20:21] huyphams commented on #1650
Hi @avfigueredo thank you for the feedback. We've addressed this issue recently if you have a chance. Please try this hot-patch: https://www.dropbox.com/s/v9r7txauzqqawtp/TablePlus.dmg?dl=0 it should show all the error message. (You can keep using it as the official build.)

[2020-01-10 22:43] edcorcoran opened #1651 "Allow 'Copy Rows as > CSV Include Fields Name' to be default copy (⌘C)"
I'm an analyst, not a DB admin, so my primary use case for TablePlus is running a query and copying/exporting the result set to some other tool (spreadsheet, R, etc.)

When I'm copying and pasting the data, I *always* want the field names / headers. I can't think of a single time I wanted to skip the header row (although I certain do understand the scenarios in which one would want the opposite).

[2020-01-11 03:30] Samuel-Webster commented on #1648
Thanks @huyphams the hot fixed worked!

[2020-01-11 16:57] Kulimeya commented on #1636
Since it was very annoying because it happened almost every time I switched away from the TablePlus space I looked for a temporary solution.

If you go to macOS Settings -> Mission Control you can deselect the second option that lets macOS switch to an open window of a program that catches focus. But beware that you lose the function to switch to open windows when clicking on a dock icon.

[2020-01-11 17:50] huyphams commented on #1636
Thank you for the feedback, however, I couldn't help you because it removes the issue template question, which helps me to investigate the issue also so remind me if the issue is fixed or not in the current build.

I don't know which version of TablePlus are you using so I assume you're using the latest macOS build 282, however, I couldn't reproduce the issue, TablePlus never switches back after s

[2020-01-12 02:48] huyphams commented on #1650
Build 286 is released now!

[2020-01-12 02:48] #1650 closed

[2020-01-12 02:49] #1637 closed

[2020-01-12 02:49] #1618 closed

[2020-01-13 09:02] obrunsmann commented on #1632
I am also affected by this bug. I already tried with different encodings and tried to remove different colums from my source CSV.

The amount of successfully imported rows is different when removing columns from the SQLite Table. In my current configuration TablePlus imports 1867 of ~55k Rows, when **adding** another column to the Table, the number strangely increases to ~5,5k..

[2020-01-13 12:48] othyn opened #1652 "Feature Request: Query Favorite/Snippet Placeholders"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
`MySQL 8`

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
`Build 286`

3. The steps to reproduce this issue:

Favorites are great. There is one key feature missing though compared to Sequel Pro that I sorely miss, which is for the ability for favorites/snippets to have placeholde

[2020-01-13 14:58] huyphams commented on #1517
Hi @ts1g sorry for the late response, I want to use the WebKit for displaying the SVG but Apple deprecate it recently, it also not good enough for it. So the plan has been changed a bit. please be patient thank you

[2020-01-13 15:19] huyphams commented on #1652
Hi @othyn thank you for the suggestion. TablePlus has a similar feature, I'm not sure if you aware of it. Please try it and let me know your thoughts.
1. Create a TablePlus snippet with key binding.
<img width="915" alt="abc" src="https://user-images.githubusercontent.com/3654622/72267061-ccf3a280-35f5-11ea-8c23-c25c996b2973.png">
After that, you can use the key binding to insert the snippet::
![k

[2020-01-13 15:44] ts1g commented on #1517
Would it be worth considering github.com/adobe/svg-native-viewer @huyphams ? Or even something like rsvg-convert or librsvg to convert the SVG into a raster for the quicklook portion?

[2020-01-13 16:03] othyn commented on #1652
Ah, thats perfect thank you!

[2020-01-13 16:03] #1652 closed

[2020-01-13 17:52] pkhetrapal commented on #1607
@huyphams Did you get a chance to look in to this?

[2020-01-13 17:54] huyphams commented on #1607
Hi @pkhetrapal I will take a look at this issue and try to fix it before the next update. Thanks for reminding me.

[2020-01-13 19:19] tomkrush opened #1653 "[Feature Request] Add search bar when viewing databases in the backup database modal"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 2.12 (282)

3. The steps to reproduce this issue:
Given I have the backup database modal open
When I click a connection to view databases
Then I would like to search the list of databases.

Reason for Request: A co

[2020-01-13 20:45] shawnhooper opened #1654 "Editing column value on joined tables produces incorrect UPDATE statement"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 286

3. The steps to reproduce this issue:

Created a query that joins two tables.  Both tables have primary keys of "id".

[code]
From the results, I edited a column in the "client_user" table called "manager_user

[2020-01-13 20:47] huyphams commented on #1654
Thanks @shawnhooper this is one of the known issues I'm working on and it seems duplicate with https://github.com/TablePlus/TablePlus/issues/1177

[2020-01-13 20:48] shawnhooper commented on #1654
In documenting this behavior, I did figure out how to make it work, by updating my original query to:

[code]

Doing this showed me the fields I needed in order to make the edits, and only included the one ID column, resulting in:

[code]

[2020-01-14 08:27] clearaxess opened #1655 "[Feature request] - Possibility to organize connection in groups and sub-groups"
In the connection page, It could bt very convenient to have the possibility to create subgroups under groups to better organize connections.

[2020-01-14 09:26] mojitoming commented on #958
I have the same issue for the Oracle DB connection which I have no trouble connecting to with DataGrip.

MacOS  10.15.2
TablePlus  3.0.0(288)
JDK 11.0.5

[2020-01-14 09:51] TheBabaYaga opened #1656 "CPU to max with mysqldump error 2020 during backup"
1. Driver: MySQL 5.7 on Mojave 10.14.5

2. Build: 286

3. The steps to reproduce this issue:

I've noticed when an export happens and mysqldump error 2020 is thrown, the CPU usage will go to max (even it's done exporting) and it does not go down without killing the application.

<img width="1161" alt="Screenshot 2020-01-14 at 10 39 30" src="https://user-images.githubusercontent.com/3961971/7233313

[2020-01-14 13:22] RomkaLTU opened #1657 "High CPU usage from nothing"
1. Database driver: MySQL
2. TablePlus: Build 286.  OSX Catalina
3. Step to reproduce the issue:

- just opened TablePlus and got this:
CPU on max, fans spinning, I just opened and closed Mysql table thats all. This issue repeating randomly.

<img width="1351" alt="Activity Monitor (My Processes) 2020-01-14 15-18-39" src="https://user-images.githubusercontent.com/10167743/72347723-6e0b5780-36e1-11

[2020-01-14 17:34] huyphams commented on #1632
Hey @obrunsmann and @chipsflower I can reproduce the issue and fix it in this patch: https://www.dropbox.com/s/lgh81iqa7x6i3hu/TablePlus.dmg?dl=0
if you have a chance, please give it try and let me know the result! thank you!

[2020-01-14 17:59] huyphams commented on #1657
Hi @RomkaLTU thank you for the feedback. In order to narrow down the issue, could you tell me more about your database setup? how big is the table?

[2020-01-14 19:10] xinyuezhaodsco commented on #1632
I am still having problem with the new build, I have a csv file with ~10k rows (1.1M) and it only imports 11 rows to redshift table, and the import window never shows complete, it is stuck at 0.0/1.1M.

[2020-01-14 19:21] obrunsmann commented on #1632
@huyphams The patch worked for me! All rows have been imported 🎉

The only thing is that the import was very slow. It took nearly 10 Minutes for ~55k rows (8 mb). Yesterday I switched to another tool while I experienced the import issue. The import of the same file only took less than 30 seconds.

[2020-01-14 19:30] huyphams commented on #1632
Maybe I know the reason, I could improve the speed to less than 30 seconds but it needs to be refactored a little bit.

[2020-01-14 20:18] chipsflower commented on #1632
Thank you. I just tested the patch version and this time all the lines of the file are imported (3 tries with different files). By cons the import is very long, about 10 minutes for a file of 50,000 lines against about 30 seconds before!

[2020-01-14 20:24] aurora commented on #1139
think there's still an issue with indentation when using SPACES - for me TablePlus inserts 4 spaces regardless if there are 4 spaces to the next tabstop required or not.

[2020-01-14 21:46] huyphams commented on #1632
Hi guys, this is the optimized version, which improves the speed a lot: https://www.dropbox.com/s/lgh81iqa7x6i3hu/TablePlus.dmg?dl=0
Thank you for trying the patch.

[2020-01-14 22:47] obrunsmann commented on #1632
@huyphams wow - that was blazing fast :))

It worked now for me. All rows have been imported again (~55k/8M) in around 5 sec. That's awesome!

[2020-01-15 02:22] fengyunhe commented on #1006
I want can see all tabs  when  i "Run All" , show all result tabs

[2020-01-15 02:24] fengyunhe commented on #1006
or stack the tabs to some row? i want quick to switch tab just click onece

[2020-01-15 02:27] fengyunhe commented on #1006
or can display a number of sql block in editor , the tab name is the number ,  result tab name is the number to match the query.

[2020-01-15 06:37] RomkaLTU commented on #1657
I have about 10 million rows (~1Gb) in that database and some table have ~3 million rows.

[2020-01-15 06:46] chipsflower commented on #1632
Here, I test this morning and all the lines are imported in a few seconds. Great!
Thank you so much

[2020-01-15 09:40] muuvmuuv commented on #519
Ok, found it! Located inside a table view in "Structure" at the top right.

[2020-01-15 13:19] huyphams commented on #1657
The number of rows won't affect the performance, TablePlus can handle a table with billion rows easily. I also test with a table that contains more than 1500 columns. Does your table have any big blob/binary/text column? does it happen with a certain table or any table?

[2020-01-16 01:39] blumtech opened #1658 "Can't backup MySQL DB connected over SSH"
1. Which driver are you using and version of it:
MySQL 5.7 and 8.0
2. Which TablePlus build number are you using:
3.0.0 (286)

3. The steps to reproduce this issue:
After connecting to the database -> File -> Backup... -> Select DB -> Start Backup
Backup database 'dbName'
Creating tunnel...
Create tunneling failed

I'm able to query the DB, export, import. The only time it fails is on the backup

[2020-01-16 10:23] chrschmitz opened #1659 "[Bug] Copy Rows As > CSV doubles spaces"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 3.0 (286)

3. The steps to reproduce this issue:
1. Right click > Copy Rows As > CSV (or CSV with Header)
2. Paste clipboard to a text editor
3. Watch the result

This is a newly introduced bug. Older versions

[2020-01-16 11:27] chrschmitz opened #1660 "[Feature Request] Fix Columns When Scrolling Horizontally"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): all

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 3.0 (Build 286)

It would be great if TablePlus could fix columns when scrolling horizontally (similar to Excel or Numbers). Maybe you can enhance the current right-click menu on the column name with "Fix column".

[2020-01-16 11:30] chrschmitz opened #1661 "[Feature Request] Hide Columns from Column Menu"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): all

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): Version 3.0 (Build 286)

It would be great if columns could be hidden from the column right-click menu. This could be reset using the current "Columns" button in the lower right corner.

[2020-01-16 13:49] huyphams commented on #1658
Hi @blumtech there is a menu in Help > Enable SSH Debug log, could you try to enable it and send me the log (nick@tableplus.com), thank you
<img width="443" alt="Screen Shot 2020-01-16 at 9 49 14 AM" src="https://user-images.githubusercontent.com/3654622/72530331-84322880-3845-11ea-878e-d1ebbbf2aa72.png">

[2020-01-16 20:08] cashlion commented on #1645
@huyphams Can you at least give us the option to toggle between copying a single statement or many statements? I always raise the max_allowed_packet size so this change just ends up being an inconvenience for me.

[2020-01-16 21:18] huyphams commented on #1645
thanks for the nice idea @cashlion another solution could be putting `copy as multiple insert statements` and `single insert statement` in the menu context.

[2020-01-16 23:56] oliver-was-here commented on #1436
@huyphams have there been any discussions regarding the addition of this feature?

[2020-01-17 00:36] huyphams commented on #1436
Hi @oliver-was-here we've put it on our road map already.

[2020-01-17 02:15] Nationalcat opened #1662 "[Feature Request] need export to csv files with utf-16"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

- All version of MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
- build 286

If I want to import CSV to Microsoft office Excel from TablePlus export CSV, I need to save as a UTF-16 encoded file. Else if these contents have Chinese or another language to be garbled code.

[2020-01-17 07:23] aready87 opened #1663 "postgreSQL: Generated Columns feauture request"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgreSQL 12.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 286 (v3.0.0)

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

I am hoping PostgreSQL's Generated Columns (https://www.postgresql.org/docs/12/ddl-

[2020-01-17 08:21] 2mol opened #1664 "Can't connect to a Heroku Postgres instance"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 12.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

252

3. The steps to reproduce this issue:

Enter the connection details from Heroku

I get

[code]

The connection works with any other tool.

[2020-01-17 14:04] huyphams commented on #1436
Hi, please download this patch: https://www.dropbox.com/s/lgh81iqa7x6i3hu/TablePlus.dmg?dl=0 and you will be able to preview the geometry data along with image blob/bytea in other database drivers (PostgreSQL, MySQL).

Here is an example `GEOMETRYCOLLECTION`
<img width="1028" alt="Screen Shot 2020-01-17 at 9 51 26 AM" src="https://user-images.githubusercontent.com/3654622/72617981-87461b00-3910-11

[2020-01-17 14:11] huyphams commented on #1664
Hi @2mol could you double-check the URL and also update the TablePlus client to the build 286?

[2020-01-17 15:08] 2mol commented on #1664
Done, still the same error though. I'm guessing the Heroku certificate is weird? I know they don't provide certs that are valid for the current domain because they rotate the addresses pretty often. Postico first asks me if I want to trust the cert.

[2020-01-17 15:14] huyphams commented on #1664
it's weird because I have the same Heroku connection, you can take a look at this form.
<img width="612" alt="Screen Shot 2020-01-17 at 11 13 28 AM" src="https://user-images.githubusercontent.com/3654622/72622881-7e5a4700-391a-11ea-96e5-2fb314c13670.png">

[2020-01-17 15:23] 2mol commented on #1664
Hi! I had something blocking the network connection, so it looks like the fault was all on my side! It works now, I apologise for using up your time. Thanks for your help!

[2020-01-17 15:23] #1664 closed

[2020-01-17 15:31] Emmenemoi opened #1665 "[Feature Request] Like ssh tunnel, connect through kube proxy/tunnel"
For kube proxy/tunnel: configure:
- context
- namespace (optional)
- target pod
- target port (source port dynamically managed by TablePlus)

[2020-01-17 18:56] torressam333 commented on #1137
@huyphams Any ETA on when BETA will be released? I am on Ubuntu and am eager to try out your DB client but can't afford to have bugs in an enterprise environment. LMK! Thanks.

[2020-01-17 20:27] nickbasham-grayloon commented on #1657
I'm getting really high CPU usage, too. I just have a very small database open, containing 9 tables and less than 1,000 total rows.

Running MacOS 10.15.2 on a 2019 16" MBP, TablePlus version 3.0.0 (286) through Setapp.

[2020-01-17 20:28] nickbasham commented on #1657
I'm getting really high CPU usage, too. I just have a very small database open, containing 9 tables and less than 1,000 total rows.

Running MacOS 10.15.2 on a 2019 16" MBP, TablePlus version 3.0.0 (286) through Setapp.

[2020-01-17 20:35] huyphams commented on #1657
Hi @nickbasham  any chance of getting an example? it could help me a lot, if you can, please send me a dump via email nick@tableplus.com

[2020-01-17 22:00] edcorcoran opened #1666 "Insert CSV fails & hangs"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 8.0.2 (Redshift)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 286

3. The steps to reproduce this issue:
Connect to Redshift
File > Import > From CSV
Select the attached file
Choose Create New Table (or select table created in advance)
Click Import

The Import

[2020-01-17 22:08] huyphams commented on #1527
Thanks @yagoferrer  I've added support Geometry data for PostgreSQL in this patch, if you have a chance, you can download it here: https://www.dropbox.com/s/lgh81iqa7x6i3hu/TablePlus.dmg?dl=0 if you hover the mouse on the cell value, TablePlus will draw it:
<img width="1251" alt="Screen Shot 2020-01-17 at 6 06 15 PM" src="https://user-images.githubusercontent.com/3654622/72649448-1c1e3800-3954-11e

[2020-01-17 22:52] huyphams commented on #1666
Thanks @edcorcoran this patch should fix the issue: https://www.dropbox.com/s/lgh81iqa7x6i3hu/TablePlus.dmg?dl=0
Thank you for letting me know!

[2020-01-17 22:54] huyphams commented on #1632
Hi @xinyuezhaodsco you might want to check out this issue: https://github.com/TablePlus/TablePlus/issues/1666 We also have a hot patch in that thread.

[2020-01-17 22:54] #1632 closed

[2020-01-18 09:19] lloydowen commented on #1657
I also see this CPU usage, even with no particular database open, just migrating. So backup from one, and restoring to another. Small databases ~25mb.
2019 16" MBP - TablePlus version 3.0.0 (286)

[2020-01-18 14:08] achedeuzot opened #1667 "[Feature Request] Visualize PostGIS data easily"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 12.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 286

I'm a happy user of TablePlus. I'm working with a lot of Geo systems and PostGIS. I often have postgis columns (line, points, geometries) and it would be very helpful if there was an easy way of seeing the

[2020-01-18 14:28] huyphams commented on #1667
Hi @achedeuzot thank you for the suggestion, I think this issue is duplicated with https://github.com/TablePlus/TablePlus/issues/1527 and maybe https://github.com/TablePlus/TablePlus/issues/1436 which has been implemented on the beta build and hot-patch (link in that issue thread). Please try it and let me know your thoughts

[2020-01-18 14:43] achedeuzot commented on #1667
Hi ! Sorry I didn't find the existing thread :)

Awesome, I just tried it out, it's a lot better than the binary view that existed before. I seem to have a glitch with it though. When the overview of the area is displayed, it's under a tooltip that displays the full text of the cell so I can't really see the geometry overview:

<img width="637" alt="Screenshot 2020-01-18 at 15 39 50" src="https://

[2020-01-18 14:45] huyphams commented on #1667
Thanks @achedeuzot  I'm working on the glitch issue, also we have a plan to add map background in the future releases, no worries.

[2020-01-18 16:07] nickbasham commented on #1657
Sent!

[2020-01-18 17:52] huyphams commented on #1657
I just released the official build 290 which addressed this issue along with some new features, thank all!

[2020-01-18 17:53] huyphams commented on #1656
I just released the official build 290 which addressed this issue along with some new features, please check it, thanks @TheBabaYaga

[2020-01-18 17:53] #1666 closed

[2020-01-18 17:54] #1436 closed

[2020-01-19 02:55] lmingzhi commented on #1252
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x/PostgreSQL 8.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.10(290)
macOS 10.14.5

3. The steps to reproduce this issue:
I can connect the database again without input password when I store the password and not close TablePlus, but when  I quit Tableplus by `cmd +

[2020-01-19 03:21] PromiseNev opened #1668 "[BUG] short cut feedback"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL5
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.0 (290)
3. The steps to reproduce this issue:
<img width="631" alt="Xnip2020-01-19_11-19-06" src="https://user-images.githubusercontent.com/16667188/72674077-9f9f6c80-3aad-11ea-83f2-8ff3aa64fdc5.png">

I set the shortcut k

[2020-01-19 15:14] yagoferrer commented on #1527
Hi @huyphams,
thank you for working on this.  I have downloaded the build 286 and I still see an hexadecimal value. It would be nice if the field displays the latitude / longitude

[2020-01-19 15:15] huyphams commented on #1527
Could you show me the table creation @yagoferrer also please update the app to the latest release 290!

[2020-01-19 15:39] yagoferrer commented on #1527
Hi @huyphams, I downloaded the latest build 290 and I see the same behavior.
This is the table creation SQL
[code]

[2020-01-19 15:59] huyphams commented on #1527
Thanks @yagoferrer I just added support geography. You can now view the data with this patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0

[2020-01-19 19:55] huyphams commented on #1659
Hi @chrschmitz thanks for the report but I don't actually get the issue. I copy and paste it as you said and the result is correct. am I missing something here?

[2020-01-20 01:20] #1657 closed

[2020-01-20 01:20] #1656 closed

[2020-01-20 08:21] chrschmitz commented on #1659
Hi Huy, I sent you yesterday a private email with additional information and screenshots. Did you see that?

The bug is still present in v3.1.0 (Build 291).

[2020-01-20 08:57] chrschmitz commented on #1651
To add to my previous comment:

"Copy" (Command + C) and "Copy Rows As > CSV" work slightly differently. "Copy" copies NULL as NULL, "Copy Rows As CSV" as an empty field. This is great!

As copy and paste is something, which some users use quite often, it would be a killer feature if the simple copy command (Command + C) would be configurable. Maybe it is possible to implement a general setting, w

[2020-01-20 13:10] huyphams commented on #1659
Hi @chrschmitz please choose the Quote if needed as the default CSV setting then it would correct the issue, I think you're using space as a quote so it will double the quote in the string. That was an intentional behavior.
Regarding the email, we're using nick@tableplus.com as email support for a long time and stop using other emails, maybe you've sent it to another email address.

[2020-01-20 13:36] gfesj69 opened #1669 "[BUG] IMPORT CSV"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
    MYSQL 5.6.46 MySQL Community Server (GPL)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
    Version 3.1.0 (290)

3. The steps to reproduce this issue:
     FILE -> IMPORT -> FROM CSV

I try to import a CSV file into a table, the CSV has 1st line with fields, but it now disc

[2020-01-20 13:41] huyphams commented on #1669
Thanks @gfesj69 could you copy the table creation statement for me? I would like to create that table in my setup.

`the CSV has 1st line with fields, but it now discard it.`

I'm not sure that I understand it correctly, you want TablePlus skips the header?

[2020-01-20 13:41] gfesj69 commented on #1669
Sorry, i typed wrong the last phrase.

but it not discard it

[2020-01-20 13:43] gfesj69 commented on #1669
Here are the error.

<img width="413" alt="error" src="https://user-images.githubusercontent.com/49081014/72731077-abecfd80-3b71-11ea-8fb0-da6a7f044395.png">

[2020-01-20 13:46] gfesj69 commented on #1669
The table and example to reproduce the error is here.

[Archive.zip](https://github.com/TablePlus/TablePlus/files/4086438/Archive.zip)

[2020-01-20 13:51] huyphams commented on #1669
Hi @gfesj69 thank you for the correction. I just checked it and it seems like a CSV issue. The column matched with the data is int, so it can not import the value (the second row in CSV) `DOCUMENT`, also because it's an int field, so it will not add quote and MySQL think it was a column.

<img width="705" alt="abc" src="https://user-images.githubusercontent.com/3654622/72731531-4a756080-3b6a-11ea-

[2020-01-20 14:01] chrschmitz commented on #1659
Yes, I used another email address. And yes, this was the problem. You can close this issue.

I am wondering why this setting was changed on my system. I never touched it.

[2020-01-20 14:03] huyphams commented on #1659
Thanks @chrschmitz for the confirmation! Yes, please use nick@tableplus.com now, sorry about that.

[2020-01-20 14:03] #1659 closed

[2020-01-20 14:34] yagoferrer commented on #1527
Thank you @huyphams it looks great!

[2020-01-20 16:02] huyphams commented on #1656
Thanks for confirming. The real issue is macOS process still trying to pipe empty values to the output despite the process has been terminated. It does not affect the backup file since TablePus omit the empty/null value but results in high CPU for nothing. It will go down after millions of pipe empty value.
I've closed the pipe as soon as the process terminated, it would not be a problem anymore.

[2020-01-20 16:46] JacekJMMJ commented on #636
2020 and we are still waiting...

[2020-01-20 16:47] huyphams commented on #636
Soon! this year, for sure 😄

[2020-01-20 17:45] #1669 closed

[2020-01-20 21:01] adamwinn opened #1670 "Crash while editing Mongo data"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mongo 3.6.12

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.0 (290)

[code]

[2020-01-21 01:02] marvelph opened #1671 "Feature request: Read only mode"
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
    290

3. The steps to reproduce this issue:

Please add read-only mode as connection setting.
Regardless of the privileges of the database user, I want a function that guarantees work that does not destroy data.

[2020-01-21 01:06] huyphams commented on #1671
Hi @marvelph  TablePlus has a similar feature, you can turn on the safe mode at the highest level.
<img width="1101" alt="Screen Shot 2020-01-20 at 9 05 44 PM" src="https://user-images.githubusercontent.com/3654622/72766986-ad95e000-3bc8-11ea-859c-baf0d20da6fd.png">

More information: https://docs.tableplus.com/gui-tools/code-review-and-safemode/safe-mode

[2020-01-21 01:09] #1540 closed

[2020-01-21 01:11] huyphams commented on #1655
It's duplicated with https://github.com/TablePlus/TablePlus/issues/163 so I'm closing this to reduce the number of issues.

[2020-01-21 01:11] #1655 closed

[2020-01-21 01:17] huyphams commented on #1616
Hi @jpike88, does it still happening at the latest release 290?

[2020-01-21 04:44] marvelph commented on #1671
Thank you @huyphams .
Is it possible to set the mode default in the connection settings?

[2020-01-21 04:44] pwacher commented on #223
I would offer up my firstborn for Presto support.

[2020-01-21 04:46] huyphams commented on #1671
Hi @marvelph, unfortunately, no, it would cause a lot of trouble for the newcomer if we set it to default, you can clone the connection, TablePlus will also clone that setting.

[2020-01-21 05:02] marvelph commented on #1671
I understand.
It is inevitable.

[2020-01-21 05:04] huyphams commented on #1671
So I think it was the best solution we have at the moment, feel free to contact me via nick@tableplus.com if you run into any issue or have any suggestion regarding the safe mode feature!

[2020-01-21 05:04] #1671 closed

[2020-01-21 13:59] vmitchell85 opened #1672 "Add title bar to New Workspace window"
First off, thanks for some great software! It's been well worth the money paid!

The new workspace window doesn't have a title bar which looks nice but functionally makes me drag my top connection group off the window at least once a week.

I would prefer a title bar be put on the window so dragging it around is consistent with other MacOS applications.

1. Which driver are you using and version o

[2020-01-21 14:05] huyphams commented on #1672
Thanks @vmitchell85 Thank you for the suggestion, you can drag the Welcome Screen around by clicking anywhere on the left of the Window. I just wanna make sure if you're aware of it.

[2020-01-21 14:09] vmitchell85 commented on #1672
@huyphams Thanks for the quick response. Yes, I am aware but it's counter-intuitive since every other application is dragged by the title bar.

[2020-01-21 14:14] huyphams commented on #1672
As a part of the redesign of the Welcome Screen, one of the options is that we will unify it with the Workspace. Here is the design in Linux version:
![image](https://user-images.githubusercontent.com/3654622/72811821-ca68fc80-3c36-11ea-9eb3-34dc0d5efb25.png)

[2020-01-21 14:18] vmitchell85 commented on #1672
That would probably work for me. I'd be more than willing to help test it on MacOS if you'd like.

Thanks,
- Vince

[2020-01-21 16:31] oliver-was-here commented on #1436
@huyphams hm, no dice

 is this Version 3.0.0 (286)?

i assume from your screenshot that you have the "Items" tab opened in the left-hand panel and the displayed items are different geometry rows for a table. let me know if i'm mistaken.

my entries appear to be encoded differently than your own. it's unclear to me how to visualize the stored data. inspecting a given row in the right-hand pane sho

[2020-01-21 16:32] huyphams commented on #1436
Hi, the newest release is 290 now and it supports geometry, however I forgot to add the geography in that build, you can use this patch https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
It supports both Geometry and geography data type. If you use a different data type, please let me know @oliver-was-here

[2020-01-21 16:43] oliver-was-here commented on #1436
@huyphams hm, it looks like the data is now being correctly parsed (no longer showing the `unsupported` message for the geometry data type). however, it's unclear to me what in the GUI i press in order to preview the data. am i missing something?

[2020-01-21 16:45] huyphams commented on #1436
You can view by hovering the mouse on it and wait for a while, however, it just an experiment test. We're working to add it to Quicklook along with some features (ex: with background map).

[2020-01-21 16:56] oliver-was-here commented on #1436
fantastic! thanks so much

and glad to hear about the background map - that would be immensely valuable for Geospatial work

[2020-01-22 09:53] fabioi opened #1673 "(Useful with Alfred workflow) - when opening a the same database twice, open on the same tab (dont open on new duplicate tab)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.0
3. The steps to reproduce this issue:
(Useful with Alfred workflow) -
when opening a the same database twice, open on the same tab (dont  open on new duplicate tab). Please see attached image. Would be great to have an op

[2020-01-22 12:15] chrschmitz opened #1674 "[Feature Request] More Information When Running Scripts"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 3.1.0 (Build 290)

First of all, thank you very much for this awesome software product!

It would be great if TablePlus would give more information when running scripts. Currently, TablePlus gives the following informa

[2020-01-22 17:04] markwalet opened #1675 "Feature Request: Auto select first database on shortcut"
One of my favorite shortcuts is Command+K. It opens a list with databases in the current connections and lets you directly search the databases by name. It works a lot like the shortcut in Slack.

Right now, when you have found the correct database, you first have to press down before it selects the first database. When you press enter it opens that database.

What I'd like to see improved here is

[2020-01-22 17:07] huyphams commented on #1675
It sounds like a Command + P, which already auto-select the first objects, includes the Database. But sure, we should allow it in Command + K too.

[2020-01-22 17:11] huyphams commented on #1673
Sure, it could be done with an extra flag, like force_new_tab=true/false.

[2020-01-22 17:22] markwalet commented on #1675
Oh really? I didn't know about that shortcut.

Unrelated to this:
I quickly saw in the preferences pane that you could change your shortcuts but I didn't see Command+K there. Did I miss them or is there a special reason these aren't included. If not. I'll create a separate issue for that.

[2020-01-22 17:25] huyphams commented on #1675
There are so many shortcuts that currently are not listed in the preferences. It's because many reasons. (It does not allow to change, It's hardcoded by macOS and couldn't be changed)

[2020-01-23 19:25] kbarton-catalyze opened #1676 "[Bug] Postgis geom data always returned as EWKT"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 3.1.0 (290)

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

When selecting geometry data it should be displayed in native format unless the quer

[2020-01-23 19:30] kbarton-catalyze commented on #1676
This issue is making TablePlus unusable for me. I'll have to switch to PGAdmin until this is fixed.

[2020-01-23 19:48] huyphams commented on #1676
Thanks, @kbarton-catalyze for the insight, we might put the config in the setting and let the user choose their default Geometry decoder.
You can workaround by cast the geometry to text, TablePlus will not convert it to WKT.

SELECT geom::text FROM generic_geo;

Just out of curiosity why do you prefer the hex format over the WKT format?

[2020-01-23 19:56] kbarton-catalyze commented on #1676
Thank you, a config setting would definitely be useful. We use it for testing various spatial data management scripts.

[2020-01-23 20:50] phil93883 commented on #1492
I'm using the latest version (3.10 290) and this still happens.  On a new MacBook Pro with 16GB RAM, I'm trying to export a table with around 110 million rows.  I get the same out of memory error as above at around the 52m mark.  This is exporting from MariaDB.

[2020-01-23 20:53] phil93883 opened #1677 "Out of memory error while exporting large table"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):  MariaDB 10.1.26

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):  3.1.0 (290)

3. The steps to reproduce this issue: Export a large table (100 million records +) on a machine with 16GB RAM

Noted: If the bug is related to data, please attach an example SQL data.

I'm using the la

[2020-01-23 22:11] huyphams commented on #1677
Thanks @phil93883 let me check it.

[2020-01-23 22:50] phil93883 commented on #1677
Just to add, this occurs WITHOUT using gzip compression.

[2020-01-24 11:28] bocharsky-bw opened #1678 "Add an ability to open related tables via right sidebar"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MariaDB 10.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): v3.1.0 (290)

3. The steps to reproduce this issue:

I want to suggest an improvement in the UI. IN table results I can click on an arrow near the foreign ID to open the entry in another related table, but I can't do it

[2020-01-24 11:51] snbarbosa opened #1679 "Can't open Functions"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Oracle

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version: 3.1.0 (291)
3. The steps to reproduce this issue:
Open a function from the left side menu and the code of the function doesn't appear only a blank page
Noted: If the bug is related to data, please attach an example S

[2020-01-24 13:52] DRP96 opened #1680 "[Feature Request] Easily duplicate tables and Import shortcut"
Since I've moved from Sequel Pro to TablePlus there are two features I'm missing:

1. An ability to quickly duplicate tables (with content) would be awesome (right click the table, select duplicate and enter the duplicate tables name)
2. A shortcut for importing SQL files (like CMD + Shift + i) would be handy as well

But all in all I'm very happy with TablePlus, keep up the good work!

[2020-01-24 14:16] spolloni commented on #1676
+1 on this

[2020-01-24 17:05] patrick-fls commented on #581
Do we have an ETA for this? I just got bitten by it.
Thanks

[2020-01-24 18:40] VampDuc commented on #420
Is there any update on this feature?

It was incredibly handy for doing simple updates from outside sources quickly.

[2020-01-24 21:15] natebrunette commented on #1672
I've also had this problem since I started using TablePlus and got just annoyed enough with it to come here and make this issue. Otherwise, great work, keep it up!

[2020-01-25 00:27] jonhilgart22 opened #1681 "Can not connect to snowflake DB"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Snowflake

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
286

3. The steps to reproduce this issue:
I can't connect to a snowflake DB

Noted: If the bug is related to data, please attach an example SQL data.
![image](https://user-images.githubusercontent.com/8621935/73113033-623

[2020-01-25 00:27] jonhilgart22 commented on #1681
Is there some guidance on how to troubleshoot connecting to a snowflake DB? The error messages are not super helpful.

[2020-01-25 02:34] adamwinn opened #1682 "TAblePlus keeps prompting for ssh password even tho save in keychain is selected"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2020-01-25 11:27] huyphams commented on #1681
Hi @jonhilgart22 please try to use the account with this format:
<img width="268" alt="Screen Shot 2020-01-25 at 7 26 47 AM" src="https://user-images.githubusercontent.com/3654622/73120425-2045e900-3f44-11ea-8609-773c45498aa8.png">

[2020-01-25 11:28] huyphams commented on #1682
Thanks @adamwinn, please turn on SSH debug log and see what was happening, you can  turn it on via the main menu:
<img width="486" alt="Screen Shot 2020-01-25 at 7 28 15 AM" src="https://user-images.githubusercontent.com/3654622/73120434-44a1c580-3f44-11ea-9178-956776ce9ff3.png">

[2020-01-25 11:45] adamwinn commented on #1682
It says towards the end:
[code]

[2020-01-26 21:42] adamwinn commented on #1529
Is there any way to disable the Default tooltip (hover mouse)?  It's kind of unnecessary when you have the row detail pane open

[2020-01-27 18:40] jonhilgart22 commented on #1681
That still doesn't work.

![image](https://user-images.githubusercontent.com/8621935/73203211-76a45a80-40f1-11ea-8e68-3d19c2a2e2eb.png)

[2020-01-27 21:14] Alanaktion opened #1683 "Result row limit ignored when last line is a comment"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
291

3. The steps to reproduce this issue:
- Open a new SQL query
- Set a row limit (e.g. 1000 rows)
- Run a query ending with a comment that has more than the limited results

For example:

[code]

![image](https://user-i

[2020-01-27 23:33] benzittlau commented on #818
@huyphams I just came across this thread, and I think I understand the conclusions arrived at above, but wanted to re-state them in my own words for clarity. Please correct anything below that doesn't match reality, and hopefully this can help others who find the thread in the future, and avoid misconceptions like:

Which I don't believe to be accurate or fair based on my analysis of the tool.

##

[2020-01-28 00:04] jonhilgart22 commented on #1681
Is it possible to get more verbose error logging? Any other things to try?

I appreciate the help...I'd hate to have to switch away from TablePlus because I can't connect to Snowflake.

[2020-01-28 01:02] huyphams commented on #1681
Hi @jonhilgart22 did you use the correct account? here is mine:
<img width="612" alt="Screen Shot 2020-01-28 at 8 02 04 AM" src="https://user-images.githubusercontent.com/3654622/73226982-8761d880-41a4-11ea-8d93-5cefea794585.png">

[2020-01-28 01:12] huyphams commented on #1683
Thanks, @Alanaktion I can reproduce and fix it in this hot-patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
When using this build, it will prompt you to update (because I see you're using the beta build). Please do not update, because you will lose the patch.

[2020-01-28 15:39] huyphams commented on #1682
Hi @adamwinn sorry because of the late response. As far as I can see that wasn't SSH private key password popup. It was something else that requested by the keyboard-interactive. Could you double-check the private key again?

[2020-01-28 17:52] jonhilgart22 commented on #1681
yes - I'm able to log in via the web client but not this client. Can I enable more verbose error messages?

Colleagues have been able to connect via other SQL clients.

[2020-01-28 19:03] Alanaktion commented on #1683
Looks good to me, seems to fix the issue. I can trigger similar behavior with an unclosed multi-line comment, but that's not an issue with TablePlus, that's just a syntax error. Thanks for the fast response!

[2020-01-28 19:20] huyphams commented on #1683
Thanks for confirming, however, the that build still not workings with this case (more than one single line comment):
[code]
This patch should fix it: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0

[2020-01-28 19:25] adamwinn commented on #1682
I'm not using a private key.  The prompt happens and once I input the password for the ssh server, I'm able to get in.  Using the Test button, it tests successfully with no prompt, but once you hit Connect that prompt happens.  I was expecting my password to be saved in the keychain and then used automatically so I wouldn't have to enter it again

[2020-01-28 19:29] huyphams commented on #1682
TablePlus will remember the password, I think there are something wrong with the config, please make sure that you enter the correct password. As I mentioned above TablePlus prompts because of the the keyboard interactive
`[2020/01/25 04:40:53.655490, 3] ssh_packet_userauth_info_request:  1 keyboard-interactive prompts`

[2020-01-28 19:31] adamwinn commented on #1682
If I didn't enter the password correctly, it wouldn't Test successfully

[2020-01-28 19:36] huyphams commented on #1682
I mean, the `keyboard-interactive prompts` are some questions that were asked during authenticating. TablePlus couldn't understand the questions. All it does is forwarding the question/answer between the user and the server.

[2020-01-28 22:26] advaitk opened #1684 "Oracle 19 Connectivity"
1. Which driver are you using and version of it

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

[2020-01-29 08:57] JyrkiLindblum opened #1685 "auto-align width of the columns in data view"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2020-01-29 09:05] JyrkiLindblum opened #1686 "case-insensitive search by field in data view"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2020-01-29 17:57] huyphams commented on #1686
Hi @JyrkiLindblum thanks for the feedback, however it's impossible for me to investigate the issue because I didn't answer the issue questions. TablePlus does support case insensitive for both MySQL and PostgreSQL.
I'm closing this issue for now, feel free to re-open it if you need anything else.

[2020-01-29 17:57] #1686 closed

[2020-01-29 17:59] huyphams commented on #1685
Hi @JyrkiLindblum TablePlus does auto-expand the width of the column in the data view, however, it only affects the first time you open the table or run a query (or continue running the same query) and then TablePlus will cache the column size. It also will remember if you resize the column. Please let me know if you need anything else or found a bug, thank you!

[2020-01-29 18:00] #1685 closed

[2020-01-29 18:00] #1683 closed

[2020-01-29 18:01] huyphams commented on #1675
It has been implemented in this patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 thank you!

[2020-01-29 18:01] #1675 closed

[2020-01-29 18:02] huyphams commented on #1672
Hi guys, please download this patch https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 it has an extra header space, where you can click and drag the window.

[2020-01-29 19:11] huyphams commented on #1684
Hi @advaitk TablePlus currently is using the Oracle 19 driver. so it would not be a problem. Maybe you're using the wrong port?

[2020-01-29 20:29] vmitchell85 commented on #1672
@huyphams That works great, just enough for me to grab!

Thanks for taking the time to add that space.

As far as I'm concerned this resolves the issue for me, not sure about @natebrunette ...

[2020-01-29 21:39] shennyg commented on #1253
FYI. This is still a problem in Build 290. My password contained `)$`. Changing the password allows me to import and dump.

[2020-01-30 00:04] huyphams commented on #1253
I can backup/restore with the username/password that contains `)$` maybe there are more special characters in your setup @shennyg ?

[2020-01-30 00:16] shennyg commented on #1253
No, my password was `rt3QAbWyuy)$FtebFv7hUgdMqtfWNCuCBAP`, I was connecting to an AWS RDS MySQL Aurora cluster.

[2020-01-30 01:06] huyphams commented on #1253
That's wierd, it only happens when with the long password. However, I can reproduce and fix it in this patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 if you have a chance, please give it a try @shennyg thank you!

[2020-01-30 05:14] sfdye commented on #608
Gentle bump @huyphams any update on this? It's blocking me from using TablePlus :(

[2020-01-30 05:49] slastrina opened #1687 "Enhancement: SQLDeveloper Connection Import"
Hi, big fan of your software, i work primarily with oracle databases, i'm slowly moving my connections over from sqldeveloper to tableplus however i have over 300 unique database connection strings and credentials,

if possible id like to request import support for SQLDeveloper connection extracts

[2020-01-30 05:57] slastrina opened #1688 "Enhancement: Nested Connection Groups"
Hi, id like to request increased nesting for connection groups.

I typically work with multiple customers with multiple environments, it would be ideal to be able to group my connections for instance by:

->Customer1 (GROUP)
---->Environment1 (GROUP)
------->Database1 (CONNECTION)
------->Database2 (CONNECTION)

Im currently prefixing groups to sort of work around this but it would be nice to supp

[2020-01-30 06:07] slastrina opened #1689 "Enhancement: View password for a given connection"
Hi, I notice TablePlus on mac can use keychain to store the password, i was hoping to request a capability to show the password within Tableplus or at least have tableplus open the keychain at the appropriate key for the connection in order to authenticate and view the password.

Unfortunately the keychain entries dont have anything identifiable on them other than the uuid in the account field, it

[2020-01-30 07:52] huyphams commented on #1689
Hi @slastrina it was not designed for that. There is   an easier way to see the connection password. Just select the connection and press command + c or right click > copy as URL and paste it somewhere, then you will see the password.

[2020-01-30 07:55] huyphams commented on #1688
Hi, we are working on this issue, hopefully, we can make it in the next release.

[2020-01-30 08:03] slastrina commented on #1689
Hi @huyphams, thats good to know, didnt realise i could copy it out that easily, thanks

[2020-01-30 08:04] slastrina commented on #1688
Fantastic news, looking forward to the release. Thanks

[2020-01-30 13:27] robertobardi opened #1690 "[Bug] Wrap selected text in quotes"
1. MySQL 5.6.42

2. build 290

When I try to use this function repeatedly, for example to use the ' before and after the desired text, I often do not get the desired result, but simply the ' character

let's imagine we have this situation on the SQL query panel:
003302729
003302729
003302729
003302729
003302729
003302729
003302729
003302729
003302729
003302729
003302729
003302729
003302729

If I d

[2020-01-30 13:33] christoph-kluge commented on #775
Is there any progress/priority here? I bumped into this right now and validated that it's still not implemented. It works if the entry is inside `~/.ssh/config` and it does not if it's inside an `Include` statement.

Seems like #608 also received a bump today. Here is my example:

[code]

[2020-01-30 13:44] christoph-kluge commented on #166
Since I stumbled across this ticket first and I've still tried to figure out why it's not working. I thought it might be useful to add some references to the other tickets here.

If you use `Include`-statements then this could be a potential reason. This seems to be not implemented yet. Here are the referencing tickets #608 and #775

[2020-01-30 15:10] matism opened #1691 "Foreign key navigation not working with mysql8"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

290

3. The steps to reproduce this issue:

Create an empty database with two tables with the fields id and name. Add a foreign key to one of the two tables and reference it to the id of the other table. The arrow in the

[2020-01-30 15:27] matism commented on #1691
It's working with the same procedure on MySQL 5.x.

[2020-01-30 16:40] mgoggin commented on #1221
@huyphams I have a team of 10 using TablePlus and being impacted by this. What kind of feedback can we give you to assist with this issue?

[2020-01-30 19:45] huyphams commented on #1691
Hi, @matism could you please try adding the foreign key again on the MySQL 8 driver? I've tried multiple times and it works on my side.

[2020-01-30 20:52] matism commented on #1691
Hi Huy, just tried to alter the table again but after commiting my changes the foreign key field is EMPTY again. If it helps it's MySQL 8.0.17.

[2020-01-30 21:06] huyphams commented on #1691
Could you show me the result of
[code]
And
[code]
@matism thank you!

[2020-01-30 21:10] matism commented on #1691
Sure, here you go:

`CREATE TABLE "test" (
  "id" bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  "name" varchar(255) DEFAULT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "id" ("id")
)`

`CREATE TABLE "test2" (
  "id" bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  "test_id" bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "id" ("id"),
  KEY "test_id" ("test_id"),
  CONSTRAINT "test2

[2020-01-30 21:32] huyphams commented on #1691
Could you show me the result when you run with MySQL 8 above? I see the test2 table has 3 columns but your result only shows 2 columns.
I created it with those commands above and it works.
<img width="1254" alt="Screen Shot 2020-01-31 at 4 32 33 AM" src="https://user-images.githubusercontent.com/3654622/73492153-b5ccf700-43e2-11ea-9083-b6f321ff239f.png">

[2020-01-30 21:37] matism commented on #1691
![Screenshot 2020-01-30 at 22 36 30](https://user-images.githubusercontent.com/7680357/73492501-14797d00-43b1-11ea-83e2-6c0522a76d76.png)
![Screenshot 2020-01-30 at 22 36 36](https://user-images.githubusercontent.com/7680357/73492496-14797d00-43b1-11ea-9de9-3a125727de45.png)
![Screenshot 2020-01-30 at 22 36 51](https://user-images.githubusercontent.com/7680357/73492494-14797d00-43b1-11ea-9d25-7852

[2020-01-30 21:40] huyphams commented on #1691
I mean from this screenshot where the issue happens, it has 3 columns. The one you send me only has 2 columns and it does not reproduce the issue on my side so I think it might be related to the data.
<img width="751" alt="abc" src="https://user-images.githubusercontent.com/3654622/73492669-bdd96680-43e3-11ea-8c24-deb74481f8a6.png">

[2020-01-30 21:42] matism commented on #1691
The third column doesn't matter. I just created the tables with the create statements I posted earlier and still getting the same problem -> foreign key stays EMPTY and foreign key navigation therefore not possible.

[2020-01-30 21:51] matism commented on #1691
Ah… that's interesting: I just toggled on the console log and copied the query that gets executed when showing the structure of my "test2" table. I manually ran it in the query editor and it shows the foreign key "test_id" although the structure view does not show it:

![Screenshot 2020-01-30 at 22 48 57](https://user-images.githubusercontent.com/7680357/73493328-d54c2b80-43b2-11ea-8768-af45703fa2

[2020-01-30 21:56] huyphams commented on #1691
It was designed that way @matism it hard to explain but the result will be the same if you run it on MySQL 5. I think the real issue is the quote, I don't know why your creation statement uses double quotes but in my setup, it uses backtick. I'm finding a way to change it and see what's going on.
<img width="1655" alt="Screen Shot 2020-01-31 at 4 56 25 AM" src="https://user-images.githubuserconten

[2020-01-30 23:30] advaitk commented on #1684
@huyphams Not quite sure what resolved it, but i had to reboot my mac for an update, and post reboot connectivity started working. No changes were made to the saved connection configs.
I'll debug some more if I can reproduce it again, otherwise we can close this issue.
thanks for the quick response though.

[2020-01-31 00:01] huyphams commented on #1684
Thanks, please let me know if you see it again then I will reopen the issue.

[2020-01-31 00:01] #1684 closed

[2020-01-31 00:02] huyphams commented on #1691
Thanks @matism I updated this build, which can handle the double quote, please give it a try and see how's it going:
https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0

[2020-01-31 05:37] matism commented on #1691
I don't understand why it's working, but it is. Thanks a lot!

![Screenshot 2020-01-31 at 06 34 13](https://user-images.githubusercontent.com/7680357/73514978-f2edb500-43f3-11ea-9643-ba4e4109f883.png)
![Screenshot 2020-01-31 at 06 35 05](https://user-images.githubusercontent.com/7680357/73514982-f5e8a580-43f3-11ea-89ed-fd664ef3f459.png)

Maybe I am getting the double quotes because my os language

[2020-01-31 09:59] huyphams commented on #1691
Thank you for confirming. This fix will be released in the next release. I'm closing the issue for now to reduce the number of issues!

[2020-01-31 09:59] #1691 closed

[2020-01-31 12:00] Irker opened #1692 "Add option to switch default action in "Open database" dialog"
Will be nice to have option in TablePlus preferences to change default action from "Open in new workspace" to "Open in current workspace". I think this option also must be applied to same action from  "Open Anything" dialog

[2020-01-31 14:44] rijkvanzanten commented on #193
@huyphams any updates? 🙂 You stated

so I'm curious to see where this was left of as that comment is about to reach it's 1 year anniversary 😄

[2020-01-31 17:45] natebrunette commented on #1672
This is perfect

[2020-01-31 18:28] huyphams commented on #1672
Thanks, guys, I will close the issue for now. The change will be released in the next update!

[2020-01-31 18:28] #1672 closed

[2020-02-01 05:25] Kerfred commented on #1072
Idem. It would be a good enhancement.

[2020-02-01 05:30] Kerfred commented on #1633
I agree with @jasonbronson it would be a great enhancement to have the "Import database" and "Export database" on the right click on the left pane. I mean importing and exporting the whole database without having to select all the tables.

[2020-02-01 05:37] Kerfred opened #1693 "New feature: Import a database by drag & drop"
Congratulations for this great and useful software. I have bought it yesterday.

A useful enhancement would be the ability to import a SQL file by dragging a file and dropping it on the database window. It would avoid going to the menu File > Import > From SQL Dump...

== INFOS ==
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.7.26

2. Which TablePlus build number a

[2020-02-01 09:34] huyphams commented on #163
Hi guys, I just added nested group experiment in this build (still have some bugs but it works now): https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0

[2020-02-01 09:35] huyphams commented on #1688
I've updated the patch which supports nested group in this issue: https://github.com/TablePlus/TablePlus/issues/163
I'm closing this issue for now because it duplicates with #163.

[2020-02-01 09:35] #1688 closed

[2020-02-01 15:52] fuzzy76 commented on #1236
Seeing this in TablePlus 3.1.0 (build 290).
MySQL 5.x over SSH, SSL mode PREFERRED.
MySQL server is v5.0.95 running on Red Hat.
Server is not administered by me, so I have limited options.

[2020-02-02 00:09] andrewcstewart commented on #223
Athena would be an interesting one.  Looks like there's an ODBC driver: https://docs.aws.amazon.com/athena/latest/ug/connect-with-odbc.html

[2020-02-02 12:35] mirazasx commented on #1658
I think I'm also having trouble taking a backup of MySql database. Get only this message and no files created.
[code]

[2020-02-02 12:37] huyphams commented on #1658
I think you're using the old build @mirazasx no more `Compressing....` in the recent releases.

[2020-02-02 12:54] mirazasx commented on #1658
@huyphams I just updated to the newest version still the same error :(
[code]

[2020-02-02 13:27] huyphams commented on #1658
I've fixed an escape character bug in this patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 Please give it a try @mirazasx  @blumtech thank you!

[2020-02-02 13:57] mirazasx commented on #1658
It works :) I got a backup made for me :) Thanks 🍾🎉

[2020-02-03 02:42] wadetregaskis-linkedin commented on #581
Likewise.  That it silently fails - it just claims the save worked, but immediately reverts the charset & collation changes - is particularly irksome.

[2020-02-03 04:04] huyphams commented on #581
Hi guys, please check out this hot patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 it supports changing encoding and collation now.

[2020-02-03 05:49] huyphams commented on #1689
Can we close this issue @slastrina ?

[2020-02-03 06:07] slastrina commented on #1689
Yep we can, thanks

[2020-02-03 06:07] #1689 closed

[2020-02-03 06:45] huyphams commented on #1661
I've implemented this feature, it will be released in the next update, thanks @chrschmitz for the suggestion. I'm closing this issue for now to reduce the number of issues 👍

[2020-02-03 06:45] #1661 closed

[2020-02-03 09:14] vpoguru opened #1694 "[Feature Request] Search for Information in Database or Schema"
It would be great if TablePlus could search for information in ALL tables of a database or schema. The search field above the items searches currently only for table names.

This idea is taken from [here](https://www.youtube.com/watch?v=R3g35QbS7mI).

[2020-02-03 09:34] doerwalter opened #1695 "Show comments on objects"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Postgres 12.1 (with Postgres.app)

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 290

3. The steps to reproduce this issue:

I've created a procedure:
[code]

and a comment on this procedure

[code]

I would like to see and (and idealy be able to edit) this comment somewhe

[2020-02-03 13:01] tchartron commented on #642
I'd love to hear about this too

[2020-02-03 14:33] tchartron commented on #397
Would it be possible (or is it already possible ?) to open a tab in "pinned" mode (i mean not italic) when using the open anything (Command + P) shortcut ?

[2020-02-03 20:52] benjordan commented on #607
+1. Like, this should be an out of the feature box. Lots of wasted time and confusion for me with the way it is.

[2020-02-03 23:58] soomtong commented on #1237
yeah, i d like to use editor with vi binding!!!

[2020-02-04 04:02] longnd commented on #226
any updates regarding Oracle support ? :)

[2020-02-04 10:28] CrixuAMG opened #1696 "Beautify @@session"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.5.55

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 3.1.0 build 290

3. The steps to reproduce this issue:
Create any query using @@sesssion in a CONVERT_TZ() call, then use beautify, the @@ will be separated from session, causing the query to fail next time it i

[2020-02-04 14:41] bogdancss commented on #1324
any updates on this>

[2020-02-05 11:19] lopezator commented on #184
This still happens for CockroachDB, it impossible to know the size of the column unless you go to column definition.

[2020-02-05 12:15] huyphams commented on #184
Hi @lopezator please download this patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 you will see the data length.

[2020-02-05 16:33] minusf opened #1697 "[postgres] table list missing tables"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
`PostgreSQL 12.1`

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
`290`

3. The steps to reproduce this issue:
- open connection
- try to find table in table list

I have noticed that in a database i am working on 2 tables are missing.  Using `psql` they are there:

[code]

It wo

[2020-02-05 16:47] minusf commented on #1697
it seems that there is something broken with the `Reconnect` (shift-cmd-R) feature.  i just dropped the whole database in the cli.

[code]

i left tableplus running, and after a reconnect all the tables are still visible. however if a make a new conenction in a new tab, it correctly shows no tables.  if i go back to the first tab and reload multiple times, all the tables are still visible.

[2020-02-05 16:53] minusf commented on #1697
right.  of course it's not possible that so basic functionality wasnt working :}  i had a typo in the database name between the cli and tableplus.  should have known when i could drop the database while it was open in tableplus.  it's not possible to drop it until a client is connected in postgres.

sorry about the noise and mea culpa.  (a total of number of tables would be still nice though :)

[2020-02-05 16:53] #1697 closed

[2020-02-05 17:23] shawnhooper opened #1698 "Links in Query Results on columns with foreign key relationships don't always appear"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build # 290

3. The steps to reproduce this issue:

For example, if I run

SELECT * FROM memberships

My **user_id** column should have a link to that record in the Users table. (The arrow showing up next to the value in

[2020-02-05 21:53] objque commented on #1339
Seems like it isn't fixed yet, have same problem with remote connect to sqlite3 :(

[2020-02-06 00:53] parhampb opened #1699 "Add Window Draggable Area to Connection Selection Panel"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
N/A

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
290

3. The steps to reproduce this issue:
Mac specific. Sometimes when the screen is connected to external displays then disconnected/reconnected, some of the windows move around. Now some windows go to the edge of the screen.

[2020-02-06 00:55] huyphams commented on #1699
Hi @parhampb thank you, please try this patch and see how's it going: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 there is a small space on the top of the welcome screen.

[2020-02-06 00:58] parhampb commented on #1699
Thanks for that @huyphams, works perfectly 👍

[2020-02-06 00:58] #1699 closed

[2020-02-06 04:43] desaias commented on #1658
@huyphams this patch version also fixes an issue we were having with making backing up for postgres through a ssh tunnel: `invalid port number: "\"`

[2020-02-06 04:57] huyphams commented on #1698
Thanks @shawnhooper this patch should fix the issue: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
Let me know if you're still seeing the issue.

[2020-02-06 05:53] huyphams commented on #1695
I've fixed a bug load function comment in this patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
maybe in the future, we will redesign the item viewer to support view/edit comment.

[2020-02-06 05:53] huyphams commented on #1695
Click the section, you will be able to see the comment.
<img width="1619" alt="Screen Shot 2020-02-06 at 12 52 12 PM" src="https://user-images.githubusercontent.com/3654622/73909617-b2a0a200-48df-11ea-8090-8d1e1d5807ea.png">

[2020-02-06 08:19] huyphams commented on #1645
The nice chunk is back, please download this hot-patch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
I just increased the chunk threshold to 250 KB, so it should handle multiple rows nicely. Thanks everyone.

[2020-02-06 09:59] doerwalter commented on #1695
With this new version I can indeed see the comments for procedures and tables in the list, however it doesn't seem to work for views. I haven't checked anything else.

And of course this method won't work for displaying the comment on a schema, as there's no schema list. And displaying a schema comment in a table column only wouldn't make much sense anyway, as IMHO schema comments tend to be longe

[2020-02-06 10:40] aurora opened #1700 "[Feature Request] Support for Sphinx / Manticore Search engines"
It would be nice to have querying support for Sphinx and it's fork Manticore. While this is already possible because they implement the MySQL protocol, it would be really a "nice to have" if one could use the query capabilities of TablePlus instead of having to fall back to the SQL Editor. TablePlus would have to just omit the database selection (as there are no multiple databases in a sphinx inst

[2020-02-06 15:13] royduin opened #1701 "[Feature Request] Possibility to start TablePlus with a connection and database"
It would be nice if it was possible to start TablePlus with a database parameter next to the connection id to make this possible: https://github.com/chrisrenga/alfred-tableplus/issues/3

[2020-02-06 16:27] BFJonk opened #1702 "[Feature Request] Ability to select column values in query results and copy them in a sheet"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): postgress 11

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.2. build 292

It would be really helpfull if you would be abele to right-click a number of selected rows in the query results pane and have the ability to copy just the column values, in a way that you can copy them

[2020-02-06 16:48] wuestkamp opened #1703 "Backup error: syntax error near unexpected token"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.11

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.0 (290)

3. The steps to reproduce this issue:
Backup a database

This results in no export file created and this error:

[code]

[2020-02-06 17:01] huyphams commented on #1703
Hi @wuestkamp thank you for the feedback, the bug has been fixed recently on this hotpatch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
Please let me know if you're still seeing the bug.

[2020-02-06 17:04] wuestkamp commented on #1703
Thanks. Will this fix be included in an official release soon?

[2020-02-06 17:06] huyphams commented on #1703
Yep, this month, if you see a feature/bugfix that is included in the hot patch, it will be released within a month./

[2020-02-06 17:18] barkbyte opened #1704 "MySQL/MariaDB import Excel"
It would be great if TablePlus natively supported direct import of Excel (XLS and XLSX) spreadsheets.

[2020-02-06 17:42] greg99999 opened #1705 "Duplicating record with identity (SQL Server)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server DBVERSION_74

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 292

3. The steps to reproduce this issue:
Open table with identity column. Highlight row. Right click and choose "Duplicate".

Bug 1: Highlight the duplicated row before a commit: The duplica

[2020-02-06 18:53] jasonbronson opened #1706 "Idle strange blinking and cpu usage"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 8.X

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.0 (290)

3. The steps to reproduce this issue:
Just run some SQL and let it sit idle.

https://gyazo.com/08112256cd2b0a55d7b113841e1719f7
fast blinking happening.

[2020-02-07 05:13] roncarino commented on #1097
Hi, I am not exactly sure if it is the same problem but...... quite often I get stuck too.
Literally now I am trying to import a 15MB sql file and it stopped at 10MB.
Only thing I can see is the usual message "Can't log this query because it's too big".

[2020-02-07 13:23] henrycodebreaker opened #1707 "Can't download TablePlus version with Oracle"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Oracle

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
v 3.1.0 (Build 290) Mac Os 10.15.3

3. The steps to reproduce this issue:
Create a new connection to Oracle DB. Press "connect". Pop-up appears "Do you want to download the build which support Oracle". Press "Download
<img wi

[2020-02-07 14:35] MaximilianTyrtania opened #1708 "feature request: display function parameters in auto-complete pane"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Postgres 11.6
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.0 (290)
3. The steps to reproduce this issue:

It would be cool if the little pane that shows the autocomplete suggestions would also display function parameters.
![Bildschirmfoto 2020-02-07 um 15 34 16](https://use

[2020-02-07 14:48] huyphams commented on #1707
Hi @henrycodebreaker please restart the app try again or goto TablePlus > Preferences... and select Enable Receive Beta Updates... after that, you can check for update and download that build.

[2020-02-07 16:01] henrycodebreaker commented on #1707
Thank you that worked

[2020-02-07 16:01] #1707 closed

[2020-02-08 16:21] huyphams commented on #1676
Hi guys, there is a new config in the preferences. If you disable it, TablePlus will not convert the spatial data to WKT.
Download the patch here: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
<img width="921" alt="abc" src="https://user-images.githubusercontent.com/3654622/74088472-8779a680-4ac9-11ea-9d48-3b589099bd6a.png">

[2020-02-08 18:49] idyll opened #1709 "Feature Request: ability to run a script before connecting or make a not related to a connection."
I have several databases that require a special command needed to connect in.

For example when using AWS there are DBs that I need to use a proxy to access, where the proxy is run as a separate command.

It would be great if this could be run when connecting OR allow me to save a note to store the command as part of the connection.

[2020-02-09 03:52] jpike88 opened #1710 "Performance issues when editing 'large' blobs"
1. Which driver are you using and version of it: mysql 3.1.0

2. Which TablePlus build number are you using: 290

3. The steps to reproduce this issue:

I have a table with a col holding mediumtext data. I have JSONs in there which can be 300kb-400kb in size.

The right hand sidebar's preview of this shows a blank cell for the data value. This shouldn't happen, it should just show it.

When I clic

[2020-02-09 03:55] huyphams commented on #1710
Thanks @jpike88 for reporting. I will try to optimize it. meanwhile, you can edit it via QuickLook, the editor in QuickLook is designed for handling large text (middle mouse or right-click Quick Look Editor). If you close the right sidebar, it would be be faster.

[2020-02-09 03:59] huyphams commented on #1710
I can reproduce it now, let me see if I can do anything to improve the performance.
<img width="1870" alt="Screen Shot 2020-02-09 at 10 59 13 AM" src="https://user-images.githubusercontent.com/3654622/74095975-38fcf400-4b2b-11ea-9b49-507344bf0b44.png">

[2020-02-09 06:14] jpike88 commented on #1710
Thanks. Great product!

[2020-02-09 16:50] vesper8 opened #1711 "[Feature Request] Ability to group sqlite databases under single connection"
Currently I have multiple connections for mysql and mongodb, I open a connection and then have access to dozen or hundreds of databases. For sqlite, I have to create a unique connection for each database which is tedious and makes my connection list huge, not to mention that I have to have a different window opened for each connection whereas I'd much prefer to have them as tabs similar to when I

[2020-02-09 16:56] vesper8 commented on #1711
I've made this a little more manageable by creating a group for all my sqlite databases. But I would love the ability to right-click on that group and select something like "open all child connections in the same window"

[2020-02-10 03:37] huyphams commented on #1461
We added a menu to reset the column positions and widths in the new release. so we can reset the column size without dragging it manually.
<img width="469" alt="Screen Shot 2020-02-10 at 10 36 44 AM" src="https://user-images.githubusercontent.com/3654622/74119251-41b7fd80-4bf1-11ea-870a-31b8a4aa11bb.png">

[2020-02-10 03:37] #1461 closed

[2020-02-10 03:38] #1698 closed

[2020-02-10 03:38] #1703 closed

[2020-02-10 03:38] #1676 closed

[2020-02-10 03:39] #1527 closed

[2020-02-10 03:39] #581 closed

[2020-02-10 16:05] chdsbd opened #1712 "query history does not include auto limit LIMIT"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 10

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Version 3.1.0 (290)

3. The steps to reproduce this issue:

If I run a query with auto limiting enabled, the limit imposed by the auto limiting does not appear in the query history.

I would expect that the query sen

[2020-02-10 16:10] AgustinBanchio commented on #430
Query Params like $1, $2, $3... are not working, even though the regex `\$[\w.]+` should match.
It works fine with $variable but not with just digits.
 ERROR:  there is no parameter $3

[2020-02-10 17:51] shawnhooper commented on #1698
Thanks Henry!  That did the trick!

*SHAWN M. HOOPER, Partner*Fivesense Technologies Inc.
+1-613-799-7860
shawn@fivesense.ca
fivesense.ca

On Wed, Feb 5, 2020 at 11:57 PM Henry Pham <notifications@github.com> wrote:

[2020-02-10 19:13] shawnhooper opened #1713 "Query Editor Suggestion: Autocomplete field names on SELECT"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

290

3. Suggestion:

I would love there to be a shortcut that would autocomplete field names on select.  For example, in the query editor if I typed

`SELECT users.*<TAB>`

the editor would update the query with:

`SELEC

[2020-02-11 17:09] huyphams commented on #1713
Hi @shawnhooper, TablePlus already has that feature. have you tried to select the * in auto-completion?
<img width="770" alt="Screen Shot 2020-02-12 at 12 08 45 AM" src="https://user-images.githubusercontent.com/3654622/74260311-e2123d00-4d2b-11ea-8814-16e05c7e89ca.png">

[2020-02-11 17:11] shawnhooper commented on #1713
@huyphams Great!   I hadn't tried it with the table name.  I was just trying to do SELECT * and nothing was coming up :)    Thanks!

[2020-02-11 17:11] #1713 closed

[2020-02-11 18:23] huyphams commented on #1710
I have got a solution and it worked. However, it needs more time to polish the details and could be delayed a little bit.

[2020-02-11 20:34] karbica commented on #1580
I too am getting the same. This happens when I click the `+` button hoping to add a new DB to Redis. Here is the dump of the Redis server running in Docker.

[code]

[2020-02-11 23:09] alexgw-afr opened #1714 "Here's something that would be amazing: timestamps on status messages"
In TablePlus, you see output like this:

Query 1 OK: DROP TABLE
Query 2 OK: CREATE TABLE

It would be nice if there were some way to see
Query 1 OK: DROP TABLE **(12:04:01 PM 2019-01-01)**
Query 2 OK: CREATE TABLE **(12:17:31 PM 2019-01-01)**

[2020-02-12 03:51] huyphams commented on #1712
Thank you, this issue is fixed in the beta release!

[2020-02-12 03:51] #1712 closed

[2020-02-12 03:52] huyphams commented on #1705
Thanks, I've fixed it in the beta release.

[2020-02-12 03:52] #1705 closed

[2020-02-12 04:12] jpike88 commented on #1710
That’s cool, thanks

[2020-02-12 04:13] jpike88 opened #1715 "Syntax highlighting and auto formatting for blob fields containing JSON"
It would be great to be able to designate a particular text column as containing a certain format, such as JSON, YAML etc, which would greatly speed up tweaking/searching for values

[2020-02-12 08:17] michaelbarley opened #1716 "MySQL Stored Procedures not displaying incorectly"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2020-02-12 08:17] #1716 closed

[2020-02-12 08:24] michaelbarley opened #1717 "MySQL Stored Procedures displaying incorrectly"
All my stored procedures in my database are just showing up as

`CREATE PROCEDURE`

Very strangely, they all are working correctly. This issue only appears when I am at home using my home wifi; when I am at work I can see them fine. We have been looking into it at work and can't seem to find anything that would hide them for me. my IP has been whitelisted

1. Which driver are you using and version

[2020-02-12 09:53] huyphams commented on #1717
Hi @michaelbarley it seems your issue is related to this https://github.com/TablePlus/TablePlus/issues/1625 Please confirm it's your issue.

[2020-02-12 10:07] huyphams commented on #1710
HI @jpike88 you can download this hotpatch: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0 there are still some issue and rooms for improvement but you can view and edit large blob now.

[2020-02-12 13:42] Tominounet opened #1718 "Feature request : Display estimated line count"
It would be really great if next to table names will could display an estimated line count in the entire table. I frequently need to see how much line are in a lot of table, and it's kind of really long and boring to click on table one by one to have this estimation. It could be on option to check our preferences, or it could be setup on each connection we have !

[2020-02-12 14:20] pckuijper opened #1719 "Performance issue when importing large data sets"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**MySQL 5.7.22**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Build 290**

3. The steps to reproduce this issue:
Export large (10+ MB) of data from a database
Import data into another database

After looking at the file SQL file being generated compared to another tool (sequ

[2020-02-12 14:21] huyphams commented on #1719
Hi @pckuijper we've supported it in the beta release, you can try that patch here: https://www.dropbox.com/s/gp730wwbd2kbkn6/TablePlus.dmg?dl=0

[2020-02-12 14:36] pckuijper commented on #1719
hey @huyphams thanks for this! Quickly tested it and it is **much** faster than the previous solution!
I've forwarded the link to my colleagues straight away!

Is there a changelog available per chance of the new updates from 290 to 295?

[2020-02-12 14:37] huyphams commented on #1719
It's here:
<img width="812" alt="Screen Shot 2020-02-12 at 9 37 19 PM" src="https://user-images.githubusercontent.com/3654622/74344916-dbdd9880-4ddf-11ea-8489-2c476509a4bb.png">

[2020-02-12 14:39] #1719 closed

[2020-02-12 15:47] michaelbarley commented on #1717
Hello @huyphams yes seems to be.

[2020-02-12 15:47] #1717 closed

[2020-02-12 16:02] huyphams commented on #1718
Hi @Tominounet if you click on the section you will see all the estimation value at once, along with many other statistics.
<img width="1513" alt="Screen Shot 2020-02-12 at 11 01 37 PM" src="https://user-images.githubusercontent.com/3654622/74352832-ad65ba80-4deb-11ea-8e62-7f603473ab28.png">

[2020-02-12 17:22] joelhoward commented on #1719
Awesome.  I can confirm my imports from TablePlus are running much faster now also.  I'll go ahead and close my #1597 issue as the update seems to resolve my performance issues.

[2020-02-12 17:22] joelhoward commented on #1597
Closing.  The update mentioned in #1719 fixes my performance issues on exports from TablePlus.

[2020-02-12 17:22] #1597 closed

[2020-02-12 17:51] milhouse1337 opened #1720 "Import .sql file broken since build 294"
Hi,

The import feature seems to be broken since the last update (294). It just crashes the app completely.

Driver: MariaDB
Version: 3.1.2 (build 294)

Import file (just an empty test):
https://gist.github.com/milhouse1337/e6a996ecc20941a44218c0ef02b9f493
Crash report:
https://gist.github.com/milhouse1337/bd52ab85d79fe3b997fa1353ed8c8500

Thank you!

[2020-02-12 17:52] huyphams commented on #1720
Hi @milhouse1337 please wait for us a min, the fixed build is on its way.

[2020-02-12 17:54] MartinZubek commented on #182
Hi all, was the sorting of "Favories" (now called "Queries") been left-out?
No matter what I do, the queries are always sorted by last date of change to the query.
Although there is visual indication when I start dragging a query, it can't be reordered inside given folder, only moved between folders.
Or is it a bug? Personally I would prefer the ability to have queries sorted by name.

[2020-02-12 18:08] huyphams commented on #1720
Hi @milhouse1337 please check out the build 296, I apologize for the issue.

[2020-02-12 18:19] milhouse1337 commented on #1720
I do confirm it works. 🚀

Awesome work btw! The fix for the 250KB chunks for the exports is also fixed, you just made my day. 🤓

Thank you!

[2020-02-12 20:18] tarasyyyk opened #1721 "[Feature request] Add spinner to "DB backup/restore" windows"
1. Which TablePlus build number are you using: **296**

This is small UI improvement. It would be good to see spinner when databases loading by clicking on connections. On windows "Backup / Restore Database".
<img width="1367" alt="Restore Database 2020-02-12 22-02-49" src="https://user-images.githubusercontent.com/20100011/74373051-66c09200-4de4-11ea-81a2-4125cdd42694.png">

[2020-02-13 01:12] qsrdallas commented on #1385
Just curious if this is still being considered for a future release?

[2020-02-13 02:41] iforwms commented on #1696
Can confirm, same issue with `@@global`.

[2020-02-13 07:17] robertobardi commented on #1690
Hi huyphams, seems that with the last sw version (Build 296) the problem is solved!

[2020-02-13 07:19] #1720 closed

[2020-02-13 07:21] huyphams commented on #1690
Thanks @robertobardi I will close this issue for now, please let me know if you run into this issue in the future.

[2020-02-13 07:21] #1690 closed

[2020-02-13 08:20] emilgrip opened #1722 "Saved connections gets deleted then moving in sort order"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
SQL Server

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 3.1.2 (296)

3. The steps to reproduce this issue:
In main view when moving saved connections up/down in sort order, they will be deleted when trying to move them.

Noted: If the bug is related to data, please att

[2020-02-13 08:25] huyphams commented on #1722
Hi @emilgrip I could not reproduce it, are you sure that it was deleted or moved into some group?

[2020-02-13 08:47] emilgrip commented on #1722
Hi, it seems to happen somewhat sporadically @huyphams

Screen record: https://drive.google.com/file/d/1USjSzEQxk6UjqCAOsz5IAqThO_NLAxEr/view?usp=sharing

[2020-02-13 09:30] huyphams commented on #1722
Hi @emilgrip thank you for reporting, I've fixed it in this patch: https://www.dropbox.com/s/fwfwodi5z9f81ec/tableplus.dmg?dl=0
👍

[2020-02-13 09:33] emilgrip commented on #1722
Nice, works fine now 👌 @huyphams

[2020-02-13 09:44] #1722 closed

[2020-02-13 10:13] chrschmitz opened #1723 "[Feature Request] Custom Standard Page Settings"
The standard limit of displayed rows is currently the fixed value 300. This limit can be changed for databases stored in the connection window. But every new database or temporarily opened database (e.g. SQLite) opens aways with the standard value of 300.

It would be great if this limit could become a user preference.

[2020-02-13 13:25] chrschmitz commented on #1718
It would be great to have a similar summary for SQLite databases.

[2020-02-13 14:01] chrschmitz commented on #1711
I was hit by the bug that deleted all connections (3.12 - 296). As I have also many SQLite databases, I second the feature request of vesper8. This feature would become even more useful if TablePlus would support drag and drop of SQLite databases onto the connections window.

[2020-02-13 14:05] huyphams commented on #1711
Hi @chrschmitz if you're encountering the bug where the connection was deleted unintentionally, please download this patch: https://www.dropbox.com/s/fwfwodi5z9f81ec/TablePlus.dmg?dl=0 I'm sorry about that.

[2020-02-13 14:15] chrschmitz commented on #1711
Automatic update updated already to 3.12 - 297. According to the release notes, the bug should be fixed. As I moved the preferences to my Dropbox, I should be able to restore connections in the future easier.

[2020-02-13 14:24] srrmke opened #1724 "Edit on multiple table"
Hi there,

Is it possible to allow us to modify data even if multiple other tables are joined ?

Like forcing us to have the id of each table before edit, if primary keys aren't selected then no edit possible.

But if I do :

`SELECT tableA.*, tableB.*
FROM tableA
INNER JOIN tableB ON tableB.a_id = tableA.id`

Then I can edit.

Don't know if my english is strong enought to get understood !

Thanks

[2020-02-13 16:48] huyphams commented on #1715
We're working on it, along with some new feature such as multiple carets
![Feb-13-2020 23-47-38](https://user-images.githubusercontent.com/3654622/74457729-40215a80-4ebb-11ea-906d-dfdf4d4cc24a.gif)

[2020-02-14 00:25] AndrewBarba commented on #1606
@sbacheld have you found any work arounds for this?

[2020-02-14 08:10] jpike88 commented on #1710
Performance has massively improved, that's great.

Syntax formatting seems a little inconsistent though
![Uploading Screen Shot 2020-02-14 at 3.09.43 PM.png…]()

[2020-02-14 08:12] jpike88 commented on #1715
Great, a keyboard shortcut with auto format detection would be nice too, similar to VSCode's command+shift+f.

Bonus points if the JSON can be restringified/serialised!

<img width="803" alt="Screen Shot 2020-02-14 at 3 11 51 PM" src="https://user-images.githubusercontent.com/9585787/74513078-558a9900-4f3c-11ea-8c35-7627edbdd835.png">

[2020-02-14 09:01] huyphams commented on #1710
Thank you for testing, I've fixed some bugs and added some improvements in the new build, I will upload it tonight.

[2020-02-14 09:45] Tominounet commented on #1718
Really great !
I see you can filter this preview by search the name table in the "Search for item" bar, but could we have filters on this table ? We could check this data for a specific engine or whatever...

[2020-02-14 12:46] kakawait commented on #226
@huyphams links are KO could you please re-upload it?

[2020-02-14 13:04] huyphams commented on #226
By enabling the beta build, you will be able to update to the build that supports Oracle.
<img width="921" alt="abc" src="https://user-images.githubusercontent.com/3654622/74533856-20467100-4f65-11ea-8196-d311b41c011b.png">

[2020-02-14 13:15] fartek commented on #670
Is this in the roadmap? 🙏  🙏

[2020-02-14 13:16] huyphams commented on #313
Please vote this new issue (using thumb icon): https://github.com/TablePlus/TablePlus/issues/670

[2020-02-14 13:16] #313 closed

[2020-02-14 13:16] huyphams commented on #825
Please vote this new issue (using thumb icon): #670

[2020-02-14 13:16] #825 closed

[2020-02-14 16:09] cesarmtz93-wit opened #1725 "[Feature Request] Reset Auto Increment Button"
@huyphams Add an option to reset the auto increment in the tables like the sample below (sequelpro)

![Screen Shot 2020-02-14 at 9 59 53](https://user-images.githubusercontent.com/57166683/74547650-0cbdea80-4f12-11ea-969f-703a40ef7581.png)

[2020-02-14 16:44] sbacheld commented on #1606
@AndrewBarba I just query the tables manually which works. If I have a doubt about columns / table names, I reference a local MySQL DB which as the same schema.

[2020-02-15 03:17] huyphams commented on #1710
I've updated the new build here: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
Thank you for trying the build.

[2020-02-15 06:24] jpike88 commented on #1710
This is how a JSON looks in VSCode
<img width="609" alt="Screen Shot 2020-02-15 at 1 17 57 PM" src="https://user-images.githubusercontent.com/9585787/74583043-9c889500-4ff5-11ea-8d47-e6c7032e9621.png">

TablePlus:
<img width="738" alt="Screen Shot 2020-02-15 at 1 18 15 PM" src="https://user-images.githubusercontent.com/9585787/74583047-a14d4900-4ff5-11ea-8d71-f36396987f4b.png">

Might be best to a

[2020-02-15 21:05] phil93883 commented on #1677
Hello, have you taken a look at this?

[2020-02-16 02:35] huyphams commented on #1710
I follow Sublime Text Highlight by it seems VScode has a better format.

[2020-02-16 02:35] huyphams commented on #1606
Thanks, I will take a look at it.

[2020-02-16 02:37] huyphams commented on #1677
Hopefully, I can release a hot patch next week @phil93883

[2020-02-17 01:30] everdaniel commented on #83
Hi there,

just had this issue happened to me, I just opened TablePlus and all of my groups and connections are lost, I'm running Build 296 with Locations set to Dropbox folders:
![Screenshot 2020-02-16 22 27 44](https://user-images.githubusercontent.com/218794/74617387-984e9b80-510b-11ea-992b-4a3e3e1ceb96.png)
![Screenshot 2020-02-16 22 27 48](https://user-images.githubusercontent.com/218794/7461

[2020-02-17 01:33] huyphams commented on #83
Hi,
TablePlus does not move the connections automatically, so you have to export and then import it after changing location. If you want to see the old connections, just click restore defaults

[2020-02-17 18:09] CalumTowers commented on #1682
I appear to be getting this issue on the iOS app, but not on the desktop app - same server / key. Is it worth a separate bug report in the iOS repo or is there anything I can add to this issue to help (e.g. debugging info)?

[2020-02-17 19:06] adamwinn commented on #1682
For what it's worth, SequelPro doesn't prompt with the exact same setup

[2020-02-17 19:59] greg99999 opened #1726 "Copy Rows As... SQL Insert Statement with Identities"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Microsoft SQL Server 2016

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.2 (297)

3. The steps to reproduce this issue:
Highlight a row with an identity column. Right click and choose Copy Rows As > SQL Insert Statement. The SQL insert statement includes the identity column

[2020-02-17 20:00] greg99999 commented on #1726
In the SQL example, hsprIdentity is a SQL identity column.

[2020-02-18 00:45] akiratuti commented on #44
Any update on this? For me, only this plugin for TablePlus is missing

[2020-02-18 08:01] BFJonk commented on #1519
I recently learned that you actually browse folders with SQL files.... 😳.
1) Click  'Queries'
2) Left click in pane
3) click 'New ...' --> 'add folder to Queries'

![afbeelding](https://user-images.githubusercontent.com/24241551/74714584-19508480-522b-11ea-977e-763636ffb62a.png)

This alleviates some of the unease I had with the naming of session-tabs (Still open tabs disappear and when you open n

[2020-02-18 09:12] superandrew commented on #230
I add myself (license owner) and a co-worker (which is not buying a license for this very missing feature) to who would use this feature

[2020-02-18 09:25] shaynem commented on #193
was just looking for this, it's painful to enter in all the information again into the iPad / iPhone for 20+ connections

[2020-02-18 16:32] justin-schroeder commented on #1529
I've been wondering about the OPs question too (I realize this isn't a support forum...but this ticket isn't closed so here goes nothing 🤷‍♂️): If I have a column of text, or json that's quite long, and a double click on that column, my preference would be for it to automatically open with the "Quick Look Editor" rather than in that tiny little scrollable text area.

![little-editor](https://user-

[2020-02-19 00:18] phil93883 commented on #1677
Henry,

I'm trying the new version and it is worse than before.  It maxes out my RAM, my swap, and is basically unusable for large exports.

<img width="929" alt="tplus" src="https://user-images.githubusercontent.com/59853419/74789638-49c40d00-5283-11ea-95d8-1c4dd1d8b41b.png">

[2020-02-19 01:24] huyphams commented on #1529
Auto trigger Quicklook would break the behavior: edit -> tab -> paste or click -> select all -> paste for many users, who don't want to leave the keyboard.
If you view it on the right sidebar or using the middle mouse.
I'm closing this issue because it was supported in the recent build, if you want to suggest a new feature, feel free to open a new issue.

[2020-02-19 01:36] huyphams commented on #1677
I think I found the issue. Let me try to fix it.

[2020-02-19 02:16] huyphams commented on #1677
Hi @phil93883 please try this patch and see how it goes: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0

[2020-02-19 08:32] ReptoxX commented on #957
+1 Wanted to post this feature request as well, so i'm raising attention on this one here.
I used it a lot on Windows. Now having MacOS there is no such feature in any program.

[2020-02-19 08:50] ReptoxX opened #1727 "Rearrange Connections (left-sidebar)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 296

3. The steps to reproduce this issue:
It's not an issue, it's a feature request.

It would be great to be able to rearrange the connections on the left side. A "simple" Drag & Drop to keep them in order.
With 9

[2020-02-19 11:37] aliadhillon commented on #414
@huyphams when this fix is coming for Windows version? I am on windows version 3.1.9 (114) and delimiter issue is still there and I have to switch to MySQL Workbench for procedures and functions.

[2020-02-19 13:31] ehkygit opened #1728 "[Feature Request] Import feature for JSON files"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Snowflake : 4.4.1

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3.1.2 (297)

3. The steps to reproduce this issue:

New Feature request not an issue

Noted: If the bug is related to data, please attach an example SQL data.

[2020-02-19 14:39] Chain-of-Trust commented on #414
It's not working for me either.
there is no problem to store the function without a custom delimiter.
It also runs into an error if i just use DELIMITER ; in the syntax

working on the latest osx version 3.1.3 (296)

[2020-02-19 14:42] borisbrue commented on #414
It's not working for me either. I only can store the function without a custom delimiter.
Im working on the latest osx version 3.1.2 (296)

[2020-02-19 14:53] dchatry commented on #1639
That would be awesome, also could be implemented as a tooltip that displays the date when a timestamp is hovered.

[2020-02-19 18:19] chadwtaylor commented on #1237
+1

[2020-02-19 18:35] huyphams commented on #1452
I've resolved an issue where TablePlus couldn't read the plugins which were linked via symlink, please install this patch and see how it goes: https://www.dropbox.com/s/e0gew8fc0b7uam9/TablePlus.dmg?dl=0
Thanks all.

[2020-02-19 19:49] Slanman3755 commented on #1651
+1

[2020-02-19 19:54] warwickchapman opened #1729 "REGEXP not working in SQLite 3"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 297

3. The steps to reproduce this issue: Load a SQLite DB created outside of TablePlus (with "DB Browser for SQLite" in this instance) and the run some SQL that includes a REGEXP call:

`SELECT 1 AS Word WHERE Word REGEXP '

[2020-02-19 19:55] Slanman3755 opened #1730 "[Feature Request] Add custom "Copy Rows As" options"
TablePlus would be more useful if you could add custom "Copy Rows As" formats to the right click menu.  Being able to setup your own prettified formats or export a file with custom delimiters (etc.) is very useful.

[2020-02-20 08:07] jstrellner commented on #1390
Would love to see support for this as well.  This prevents us from using this for Mongo, but it would be great if we could...

[2020-02-21 11:17] klimenttoshkov commented on #1638
I can confirm I am having duplicate windows in full screen mode, which is not resolved by swiping out and back in.

[2020-02-21 17:57] sd opened #1731 "Provide a shortcut to close the current window, and not just the current tab"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

  PostgreSQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

  3.1.2 (296) on MacOS

3. The steps to reproduce this issue:

TablePlus currently supports the ⌘W shortcut to close the current tab. It should also support ⇧⌘W to "Close Window", regardless of how many tabs are curre

[2020-02-22 05:27] dnim opened #1732 "[Feature Request] Add possibility to customize and choose several tags"
<img width="254" alt="Screen Shot 2020-02-22 at 7 10 38 AM" src="https://user-images.githubusercontent.com/1839962/75087080-ae61bf00-5544-11ea-9711-02e3ca3c721e.png">

Hi! Just wondering - do you plan to add this ability in the future?

[2020-02-22 05:34] dnim opened #1733 "[Feature Request] Table and tag colours can be unpleasantly mixed"
Some times it becomes fully unreadable ))

Maybe it makes sense to separate or put more contrast on it?

<img width="795" alt="Screen Shot 2020-02-22 at 7 32 18 AM" src="https://user-images.githubusercontent.com/1839962/75087180-a5252200-5545-11ea-8b5e-903924d7bfcf.png">

[2020-02-22 20:30] TheRealKerni opened #1734 "[Feature Request] InfluxDB support"
Having the app support InfluxDB from https://www.influxdata.com would be great!

Thanks,
Andreas

[2020-02-24 02:12] huyphams commented on #1219
Please let me know if anyone still seeing this issue.

[2020-02-24 02:12] #1219 closed

[2020-02-24 03:58] jaspersone opened #1735 "Update Error - An error occurred while extracting the archive. Please try again later."
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
10.11

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
286

3. The steps to reproduce this issue:
Press "Check for update"
Press "Install Update"
Download begins
Install begins then error: "Update Error - An error occurred while extracting the archive. Please try again later."

No

[2020-02-24 04:21] aaginsa opened #1736 "[Feature Requests] Glance View table information"
I recently looking for an alternative client from sequel pro. The only client i found near as good as sequel pro is tableplus. I wonder if tableplus can add glance view about table information because my team really need to have glance view about table information like in sequelpro:
- created time
- updated time (this is the most important)
- engine
- rows
- size (this is the second most important

[2020-02-24 05:25] huyphams commented on #1736
Hi @aaginsa please check out this issue: https://github.com/TablePlus/TablePlus/issues/1718
We may redesign it in the future.

[2020-02-25 03:36] AlbertoMontalesi opened #1737 "[ bug ] Copy pasting JSON from row to vs code appending an extra `}`"
TablePlus build 296, mysql 8.

When I copy the content of a row that contains a stringified JSON to vs code, it always appends an extra `}` at the end of it.

To copy i simply click on the cell, and copy that content with command + c, i don't use the right sidenav

[2020-02-25 03:54] huyphams commented on #1737
I couldn't reproduce the issue, could you make a gif or send me an example? Thank you.

[2020-02-25 13:22] jorisatabix commented on #1392
I would also like a feature to customize a bit more. For example:
[code]

My preference is as follows:

[code]

[2020-02-25 20:22] bz13 opened #1738 "[bug] Crash importing large csv files"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 10.8 and 11.6

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296

3. The steps to reproduce this issue:
Import any large csv file into a new table.  I don't know exactly what large means, but at least, 38 MB.  I can not post example data.  TablePlus will eventually ha

[2020-02-26 01:44] huyphams commented on #1738
I've tested with many CSVs (up to 1GB) and it works without any issue. I think this issue related to special data. 38MB is quite small.
Please send me the crash to huy@tableplus.com or post it here, TablePlus was not distributed via AppStore so the send crash button does nothing.

[2020-02-26 10:47] solid-ahlholm opened #1739 "[Feature Request] Slower autocomplete"
Version 3.2.0 (116) - x64 on Windows 10

The autocomplete pops up immediately which makes writing for example the following query extra difficult:

select *
from User u
where u.ID = 12;

As you've entered the table alias and press enter the autocomplete will kick in and change the u to URI

[2020-02-26 10:50] solid-ahlholm commented on #1739
I see that Issue #561 is an extended version of this issue

[2020-02-26 11:38] oberlage opened #1740 "Primary key field not updated when changing columns"
When I'm creating a table there is an `id` column prefilled by default. When I remove this column, it does not remove the column from the `primary keys` field above. Leading to a DDL statement that contains `PRIMARY KEY(id)` which obviously fails since the `id` column does not exist anymore.

I would expect the `primary key` field in the UI to be dynamically updated when the columns are changed.

[2020-02-26 11:44] oberlage commented on #1740
The same holds for changing the name of the `id` column that was prefilled by default: the primary key field does not update automatically.

[2020-02-26 13:44] MaximilianTyrtania opened #1741 "saving overloaded plpgsql-methods displays wrong method"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL11.3

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.0(290)
3. The steps to reproduce this issue:
I have many overloaded plpgSQL methods (same method name wit different parameters).
If I edit one and hit "command S" (on Mac OS) Table Plus suddenly loads another meth

[2020-02-27 20:50] bantilan opened #1742 "No dropdown helper on column?"
Hi TablePlus Team,

Just notice in windows 10, there is no drop down helper for columns, like in data_type, extra, etc..

I am using MySQL 8.0.19

Any solution on this?
![Captu44re](https://user-images.githubusercontent.com/1697297/75485533-ce323080-59e5-11ea-8b4e-801112bb0c8d.PNG)

Best

[2020-02-27 21:27] clarkbremer opened #1743 "DisConnect/Reconnect loop"
1. Which driver are you using and version of it
MYSQL 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.2 (296)

3. The steps to reproduce this issue:
Connect to database, and click on first table.

--

I recently licensed your excellent product!  But I'm having a frequent problem where Tables Plus goes into a loop disconnecting and reconnecti

[2020-02-27 22:34] andrews05 opened #1744 "Can't alter collation"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 8

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296

3. The steps to reproduce this issue:
View table structure, change collation for a column, save.
A syntax error is thrown near 'COLLATION ...'
The correct syntax to use is "COLLATE", not "COLLATION"

[2020-02-28 02:43] huyphams commented on #1742
I moved it to the Windows repo: https://github.com/TablePlus/TablePlus-Windows/issues/195

[2020-02-28 02:43] #1742 closed

[2020-02-28 02:48] huyphams commented on #1744
Thank you for letting me know, I fixed it! it will be released in the next update 🙌

[2020-02-28 02:48] #1744 closed

[2020-02-28 02:59] andrews05 commented on #1744
Thank you! :)

[2020-02-28 05:57] andrews05 opened #1745 "Behaviours preferences?"
The first time I run a query in TablePlus, a small dialog pops up informing me that it will save queries and that I can change this in the "Behaviours" tab of the preferences. But no such tab exists and I can't find anything in the prefs about saving queries.

[2020-02-28 06:00] huyphams commented on #1745
There are two options in the preferences.
1. Turn off autosave.
2. Change the saved query location.
What were the options that you're looking for?
<img width="921" alt="Screen Shot 2020-02-28 at 12 59 35 PM" src="https://user-images.githubusercontent.com/3654622/75514535-3c98e200-5a2a-11ea-9453-fddb9e1f56a7.png">

[2020-02-28 06:10] andrews05 commented on #1745
Ah, my apologies, wasn't looking closely enough.
You may want to change the message to correctly indicate where to find it :)

[2020-02-28 06:35] huyphams commented on #1741
Thanks @MaximilianTyrtania I've fixed it, it commit correct changelog but showing wrong item after reloading. I fixed it.

[2020-02-28 06:40] MaximilianTyrtania commented on #1741
Thanks for fixing it and for a great product!

Best wishes all the way from Berlin,

Max

Maximilian Tyrtania
Contact King Softwareentwicklung
Tel.:    ++0152/29270736
http://www.contactking.de

[2020-02-28 08:08] AlbertoMontalesi commented on #1737
@huyphams It turned out to be an issue with the JSON formatted for VScode rather than an issue with TablePlus, i'll close this.

[2020-02-28 08:08] #1737 closed

[2020-02-28 11:46] stdnk commented on #1073
Same problem
MariaDB 5.5.64
3.1.2 (296)

[2020-02-28 14:21] designermonkey opened #1746 "Won't connect to MariaDB as MariaDB"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

We host MariaDB 10.2 databases with required SSL.

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Version 3.1.2 (296)

3. The steps to reproduce this issue:

Try to create a connection using MariaDB, with SSL REQUIRED and it rejects the connection. Try the same as MySQL 5 with

[2020-02-28 15:38] Mooninaut opened #1747 "Null and Empty have very low contrast with Dark theme on macOS Mojave"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 11.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3.1.2 (296)

3. The steps to reproduce this issue:

View a table with NULL or EMPTY fields with the Dark theme active. See attached screenshot.

<img width="693" alt="image" src="https://user-images.githubuserconte

[2020-02-28 17:39] huyphams commented on #1747
Thanks, maybe we should support config common text color/common placeholder text color as well.

[2020-02-29 13:03] kzhui125 opened #1748 "How to refresh tables"
1. Which driver are you using and version of it:
MySQL 8.0.19

2. Which TablePlus build number are you using:
297

3. The steps to reproduce this issue:
open database test
open new SQL query and run the query
[code]
But I can't see the new table. And there is no refresh menu item.

[2020-02-29 13:04] kzhui125 commented on #1748
Also, if I run query `drop table t2`, the table will not disappear.

[2020-02-29 13:39] huyphams commented on #1748
It's duplicated to https://github.com/TablePlus/TablePlus/issues/907

1. You can refresh by pressing Command + R or click the Refresh button on the top left.
2. Because you can run anything in Query editor, and it really hard to detect the executed queries contains created table/drop table to refresh the item list, also TablePlus has a pending state where the data is pending until you press Comman

[2020-02-29 13:41] #762 closed

[2020-02-29 13:41] #1152 closed

[2020-02-29 13:42] #986 closed

[2020-02-29 13:45] #229 closed

[2020-02-29 13:47] #363 closed

[2020-02-29 13:49] #476 closed

[2020-02-29 13:50] #484 closed

[2020-02-29 13:50] #485 closed

[2020-02-29 13:52] huyphams commented on #625
I can't reproduce the issue anymore.

[2020-02-29 13:52] #625 closed

[2020-02-29 13:53] #593 closed

[2020-02-29 13:53] #584 closed

[2020-02-29 13:55] huyphams commented on #690
We can now fully customize the text color in the preferences.

[2020-02-29 13:55] #690 closed

[2020-02-29 13:57] huyphams commented on #810
I think this issue is resolved in recent builds, please let us know if you're still seeing it.

[2020-02-29 13:57] #810 closed

[2020-02-29 13:59] huyphams commented on #748
TablePlus support Unicode for Oracle, please let me know if you're still seeing it.

[2020-02-29 13:59] #748 closed

[2020-02-29 14:02] huyphams commented on #813
I've fixed this issue, it happened after the result is returned.

[2020-02-29 14:02] #813 closed

[2020-02-29 14:05] #921 closed

[2020-02-29 14:10] huyphams commented on #1006
We no longer limit 100 tabs in the next update, so I will close this issue for now.

[2020-02-29 14:10] #1006 closed

[2020-02-29 14:10] #987 closed

[2020-02-29 14:12] #1046 closed

[2020-02-29 14:13] #1042 closed

[2020-02-29 14:15] #1107 closed

[2020-02-29 14:17] huyphams commented on #1101
TablePlus will not replace the SQL tab in recent builds.

[2020-02-29 14:17] #1101 closed

[2020-02-29 14:18] huyphams commented on #1168
Yes it's implemented @jim256

[2020-02-29 14:18] #1168 closed

[2020-02-29 14:19] #1164 closed

[2020-02-29 14:19] daytonlowell commented on #1042
Is this added or just wont do?

[2020-02-29 14:19] #1148 closed

[2020-02-29 14:20] #1231 closed

[2020-02-29 14:23] #1262 closed

[2020-02-29 14:39] huyphams commented on #1042
We added it recently

[2020-02-29 15:42] Cottser commented on #1152
@huyphams since all three issues were closed is there a newer feature request issue to follow? Thanks in advance.

[2020-02-29 15:55] huyphams commented on #1152
We added it in the beta release, and it will be officially released in the next update @Cottser

[2020-02-29 16:39] kzhui125 commented on #1748
@huyphams Thanks!

[2020-02-29 16:39] #1748 closed

[2020-02-29 16:45] efc opened #1749 "Syntax highlight SQL files"
This is a feature request... I'd love to see the SQL text files syntax highlighted. When I open an SQL file (like an export from another system), it opens in a plain text format with line numbers. It would be wonderful if this view were syntax highlighted. For now, it is much nicer to open SQL files in BBEdit.

1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): none

2. Which T

[2020-03-01 00:22] huyphams commented on #1413
It's supported now on the beta build 299 and will be officially released in the next update.

[2020-03-01 00:22] #1413 closed

[2020-03-01 07:16] huyphams commented on #1735
Thanks @jaspersone, could you please try it again?

[2020-03-01 14:23] minusf opened #1750 "minor UI glitch in data view header row"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

`PostgreSQL 12.2`

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

`296`

3. The steps to reproduce this issue:

Can't reproduce 100%, but just exploring a database it shows up sooner or later.

Attaching a screenshot. In this case the column `user_id` is partially hidden becaus

[2020-03-01 20:28] Maxeeezy opened #1751 "TablePlus no password required to log into PostgreSQL database"
PostgreSQL 12.1
  TablePlus build 282

The steps to reproduce this issue:

I created a database with PostgreSQL, then a user with a **password** that was granted access to the database and all SELECT/INSERT/etc. privileges on that database.

However, when I use TablePlus to login to my database, no password is required.
Usually, e.g. with mysql, the connection needs me to fill out the password, bu

[2020-03-02 00:31] huyphams commented on #1751
Hi @Maxeeezy thank you for reporting but this issue is not related to TablePlus. A database client such as TablePlus can't decide to connect to a server with or without a password. Please read the PostgreSQL documents for more details. Please let me know if you have any questions t (nick@tableplus.com)

[2020-03-02 00:31] #1751 closed

[2020-03-02 11:55] zdzana opened #1752 "I cannot call my own queries in the SQL tab."
1. MySQL 8.x
2. Build 299
3. In SQL tab enter any simple query i.e. SELECT * FROM table LIMIT 10; Click "Run Current"

Nothing happens. There is no query called in the open console at the bottom. Only the "Run Current" button changes to "Cancel", status bar at the top shows "Executed Statements Count 0/1"

Clicking "Cancel" opens the process list, which is empty.

![Zrzut ekranu 2020-03-2 o 12 52

[2020-03-02 19:07] shawnhooper opened #1753 "Delete UX using keyboard vs context menu"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

MySQL 8

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

Build 290

3. Suggestion:

When you right-click on a table or tables in the table list and click delete, you see the popup that allows you to ignore foreign key checks or cascade.

When you highlight a table or tables in t

[2020-03-02 20:30] ginocremer commented on #1633
I also agree with @jasonbronson - In SequelPro I could easily define two shortcuts, one for an export, one for an import to do these tasks very quickly. With TablePlus I have to select, do a right click, click on Export, than select SQL (cause - I don't know why - CSV tab is selected first) and finally...I can export. A "Quick Export" button - or even better - a shortcut to quickly dump the entire

[2020-03-02 20:41] oorahduc opened #1754 "Manually reloading Connections.plist/ConnectionGroups.plist"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
N/A

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Version 3.1.2 (296)

3. Feature Request:
I routinely update my Connections.plist from an external API. Each time I do so, I have to ensure that I kill TablePlus prior and in the process lose all my query results.

A nice-to-have

[2020-03-03 00:53] JacekJMMJ commented on #44
I am also waiting for the ER Diagram plugin.

[2020-03-03 02:41] jaimetobar opened #1755 "View only shows first 300 rows"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 8.0.19

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 296

3. The steps to reproduce this issue:
I need to use the SQL query window in order to get all the rows, view always limit to 300 rows instead of the 49.000 that I should see. When I click the view as a regular table

[2020-03-03 02:45] #1755 closed

[2020-03-03 03:47] huyphams commented on #1754
Hi @oorahduc have you tried to change the connection in the build 296? From the build 296, TablePlus will watch the connection list realtime so we do not refresh it manually.

[2020-03-03 03:53] aaginsa opened #1756 "How to do paralel query on same database"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 5.x
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296
3. The steps to reproduce this issue:
Command + Shift + K on same connection, choose same database fail

I need to work with multiple paralel query on same database. I found 2 problems
- On tableplus, even i have multip

[2020-03-03 07:22] zdzana commented on #1752
Downgrade to 296, SQL tab works fine.

[2020-03-03 07:25] huyphams commented on #1752
Hi @zdzana I'm not sure about the issue, I could not reproduce it. Did you open the console after or before running the query (on build 299)?
Thank you

[2020-03-03 07:27] zdzana commented on #1752
Before, i have console open all the time.

[2020-03-03 07:29] zdzana commented on #1752
The console is just one of the symptoms, the most important thing is that the query is not performed at all. Even if I type the wrong one, one reaction is that the button from Run Current or Run All changes to Cancel. There is no request to the server, no error information, and no result.

[2020-03-03 07:32] huyphams commented on #1752
I think it got stuck before you click the `Run Current`. The database connection can only handle 1 query at time. If it got stuck, it would hold all the later queries until the first returned. is it happen right after making a connection or wake up in the background?

[2020-03-03 07:39] zdzana commented on #1752
I checked without doing any queries before. I open TablePlus, select the connection, go to the SQL tab, enter the query, each time the same problem.

[2020-03-03 07:40] huyphams commented on #1752
Thank you so much for confirming, I will take a look at it, will update this thread asap!

[2020-03-03 12:45] huyphams commented on #1752
Hi @zdzana I've fixed the issue on this build: https://www.dropbox.com/s/ndn8m23p7fbvwcq/tableplus.dmg?dl=0
We have to disable split results into tabs to reproduce the issue.

[2020-03-03 19:23] joshdcollins opened #1757 "Postgres 11 issue with default column value"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
PostgreSQL 11.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
299

3. The steps to reproduce this issue:
Create a table with a column of type tstzrange.  Set a default value tstzrange(current_timestamp, null)
TablePlus quotes this string which Postgres does not like

Noted: If

[2020-03-03 19:25] Wilddata commented on #666
Using DynamoDb-GUI-Client as well, better than nothing but it's very limited. We really need to be added to TablePlus. Any ETA??

[2020-03-03 19:36] huyphams commented on #1757
Hi, thank you for the feedback @joshdcollins if you want to force TablePlus to use the value without quotes, you can use: Advanced...> Expression. Then it will generate correct query
<img width="645" alt="Screen Shot 2020-03-03 at 3 34 39 PM" src="https://user-images.githubusercontent.com/3654622/75812431-a08e1400-5d64-11ea-949c-687c8701a930.png">

[2020-03-04 02:16] aaginsa commented on #1756
Hi @huyphams can you point out the same issue that i can follow? thanks

[2020-03-04 04:00] adelemam opened #1758 "all Connection Dropped with strange photo"

[2020-03-04 04:29] #1758 closed

[2020-03-04 09:24] emilgrip opened #1759 "Source control plugin"
_Some feed back_

Hi,

We have start using TablePlus and really like it. Is there any plan for adding source control support. It would be nice to same easy way track changes in databas by tracking SQL scripts in some super smart way. TablePlus would then be generic for tracking changes to all supported databases in TablePlus and a great tool for database teams. Or maybe this is doable already?

Ho

[2020-03-04 10:26] thebf commented on #1399
Schema handling in this layout is still horrible.
Objects should be nested under schema when a database has multiple schemas is use.

[2020-03-04 13:26] qkdreyer opened #1760 "Add search keyboard shortcut"
1. Driver: all drivers.
2. TablePlus build: 296
3. Step to reproduce the issue:
- Unknown.

[2020-03-04 13:30] huyphams commented on #1760
Hi @qkdreyer I don't understand your request, also TablePlus platform (mac/windows/Linux or iOS) so I couldn't help.

[2020-03-04 14:06] Konstantin-Strakhov commented on #1225
Will it goes to stable release someday? Without that using "open anything" is almost useless because tabs disappears when you goes to another "anything". It will be great to have configuration **Turn off "non-sticky tab" feature**

[2020-03-04 14:56] qkdreyer commented on #1760
Sorry, I’m asking this for the macOS version, latest build (296), to be able to focus the search input using a keyboard shortcut

[2020-03-04 15:01] huyphams commented on #1760
There are a lot of search inputs inside the workspace if you press Command + F.

1. In Table/View content => it will open the filter and focus on the input field.
2. If you open Query Editor => it will open the search field and focus on the input field.

I'm not sure how to reproduce the issue, maybe there is a bug?

[2020-03-04 15:39] qkdreyer commented on #1760
I wasn’t aware of these two. It would be great if we could also filter the table list by pressing Cmd + F upon database opening

[2020-03-04 15:40] huyphams commented on #1760
You can hold the Command + shift + F, it will focus on the item search field. We could not use command + F because it will conflict with those two options above.

[2020-03-04 16:43] oorahduc commented on #1754
Hi @huyphams. Yes, I am using build 296. I'm using python3's plistlib library to modify the Connections.plist. I confirmed that the plist file is updated with the new username, but when opening a new connection it still attempts to use the old username. Only after restarting TablePlus will it use the new username.

[2020-03-04 16:44] huyphams commented on #1754
Thanks for confirming @oorahduc I will take a look at it.

[2020-03-04 18:07] lfolco commented on #1572
I can confirm this is also happening for me using MySQL 5.7, TablePlus build 312 (296):

![image](https://user-images.githubusercontent.com/1709329/75908935-1358c700-5e19-11ea-8811-babe2a97f624.png)

[2020-03-04 20:02] andweeb commented on #1585
@huyphams Is there currently any workaround for this? I just got a new computer and I'd like to transfer the configured SQL editor colors from my old laptop to my new one.

Does the data exist somewhere on disk as plist files, similar to connection and connection group information?

[2020-03-04 20:20] huyphams commented on #1585
Hi @andweeb you should try to copy this file: ~/Library/Preferences/com.tinyapp.TablePlus.plist
it contains TablePlus config.

[2020-03-04 20:23] andweeb commented on #1585
Yep, looks like copying that over did the trick. Thanks!

[2020-03-05 02:30] HansOspina commented on #193
This is a must if you pay for the iPad version and the Computer version you really expect this to happen. Please get it out soon!!

[2020-03-05 08:32] qkdreyer commented on #1760
Thanks 🙏

[2020-03-05 08:32] #1760 closed

[2020-03-05 08:58] CatsMiaow opened #1761 "Can I change the maximum width of the trigger view?"
TablePlus v3.1.2

<img width="161" src="https://user-images.githubusercontent.com/1300172/75964492-a7ef2200-5f0a-11ea-88fa-c29c33c2a018.png">

It is difficult to expand the name, event, source, etc. at once without adjusting the overall width.

[2020-03-05 14:04] Graloth commented on #1553
Love TablePlus, even more so if this feature can be implemented.
Any ETA on it? Considering there has been 4 releases since it was mentioned for "next release", yet I can't find options for it anywhere.

[2020-03-06 08:09] zdzana commented on #1752
I confirm. It's working fine now. Thank you.

[2020-03-06 08:14] #1752 closed

[2020-03-06 10:25] IceBrotheR opened #1762 "Add indices into table's definition"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgreSQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): build 296
3. The steps to reproduce this issue: any table definition

[2020-03-06 11:05] ckissi opened #1763 "Can't connect to MariaDB 10.4.12"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

Version: '10.4.12-MariaDB-1:10.4.12+maria~bionic-log'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.2.0 (299)

3. The steps to reproduce this issue:

I'm trying to connect to MariaDB 10.4.12 over SSH. Selected MariaDB from t

[2020-03-06 11:32] JyrkiLindblum opened #1764 "Feature Request: option to completely remove right information panel"
hi,
sometimes i want to resize the db window
but im moving right panel  instead
you can see it on gif i attached
its very annoying=)

[2020-03-07 00:18] #1089 closed

[2020-03-07 00:20] #1059 closed

[2020-03-07 00:22] adamwinn opened #1765 "Query causes TablePlus to reconnect to the DB and no results are shown"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5.7
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296

Gif showing the issue:
![Screen Recording 2020-03-06 at 4 41 32 PM 2020-03-06 17_20_07](https://user-images.githubusercontent.com/3028964/76132226-01208980-5fcf-11ea-8ae2-1d1e4afbd2da.gif)

[2020-03-07 03:04] raven-chen commented on #815
Same problem here. I can ssh to the server but cannot use TablePlus to connect.

[2020-03-07 16:15] Graloth commented on #227
How would you do this on windows? I can't really find a list of flags to pass to the .exe when launching it if that is how it's done, and the "open" command doesn't exist on windows.

[2020-03-07 21:56] nosykretts commented on #666
@Wilddata AWS just released "NoSQL Workbench for Amazon DynamoDB" available on macos and windows.

[2020-03-08 16:12] bantilan opened #1766 "Support for 'nbcluster' engine?"
Hi TablePlus team,

Do you have any plans on adding nbcluster table engine in your future update? right now, there is no way to view the table in tableplus.

![image](https://user-images.githubusercontent.com/1697297/76166276-58be2100-6198-11ea-8df2-64bf3d3e39fc.png)

![image](https://user-images.githubusercontent.com/1697297/76166599-a471ca00-619a-11ea-8821-27030a6a4e0a.png)

Best,

- Erwin

[2020-03-08 22:01] RomkaLTU commented on #1246
Yes, very handy feature, when you only have FTP access to shared hosting or something.

[2020-03-09 01:39] kzhui125 opened #1767 "SQL Server IntelliSense"
1. Which driver are you using and version of it:

SQL Server 2016

2. Which TablePlus build number are you using:

297

3. The steps to reproduce this issue:

no IntelliSense for nolock, no IntelliSense for A.xxx:
[code]

no IntelliSense for TA.xxx:
[code]

[2020-03-09 02:57] kzhui125 commented on #1767
also, if I type [datepart,](https://docs.microsoft.com/en-us/sql/t-sql/functions/datepart-transact-sql?view=sql-server-ver15) there is no IntelliSense

[2020-03-09 12:38] kzhui125 commented on #1767
Another problem:

[code]

[code]

my scripts can't run in TablePlus

[2020-03-10 12:59] mRs- commented on #670
This would be awesome!

[2020-03-11 08:31] jpike88 commented on #193
Any progress?

Would be nice if it just synced with my iCloud account

[2020-03-11 10:45] Jam0r85 opened #1768 "Error importing from SQL"
1. mysql  Ver 8.0.19 for osx10.15 on x86_64 (Homebrew)
2. 3.1.2 (296)

I've having an issue when exporting and importing from an SQL dump.

It happens even if I don't export this table, it simply moves onto the next. I have no idea what I'm looking at or why this happens. Any ideas?

[2020-03-11 16:00] amuraco commented on #1604
I'm also having this problem when using filters on the table view, the [X] button doesn't actually cancel or force close the connection.

I'm using SQL Server 2012 with table plus 3.1.2 on Mac Catalina

[2020-03-11 21:25] jaspersone commented on #1735
Thanks it seemed to work!
Cheers,
*Jasper Sone* | Product at GoodTime

[image: goodtime.io] <http://goodtime.io/>
LinkedIn
<https://etchmobileincdbagoodtime.emailcontent2.com/api/mailings/39420/click?org=d137cadf-8e40-4a0e-a0e5-4ff5c49f0d67&sig=0TMu6DsjzqtTQujaXToEo7K5Z3plgw7ts-IGNwaTLO4%3D&url=https%3A%2F%2Ft.yesware.com%2Ftt%2F456b3d9bfeff4cfc679139293d1bf8254578bccd%2F2f24e2b05b4fa2af897f1cdfe6

[2020-03-11 21:27] #1735 closed

[2020-03-11 23:00] jfturpin commented on #44
This would be incredibly useful. Also waiting for the ER Diagram plugin.

[2020-03-12 08:17] warwickchapman commented on #1729
Ping.

[2020-03-12 10:01] flogiston commented on #1681
Same here, no success connecting (with all account ID, username/password connections) and zero debugging information on either TablePlus or Snowflake side. SSH tunnel works fine, only the connection to Snowflake fails. Any hints, anyone? Thanks!

[2020-03-12 10:24] ehkygit commented on #1728
any update ?

[2020-03-12 10:26] ehkygit opened #1769 "[Feature Request] Table Definition for Snowflake is not working yet like in RedShift"
Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Snowflake : 4.7.1

Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.2.0 (299)

The steps to reproduce this issue:
New Feature request not an issue

Noted: If the bug is related to data, please attach an example SQL data.

Please provide SQL definition of tables under structure- Snowfla

[2020-03-12 22:33] schmod commented on #1311
I think this just needs to respect the systemwide proxy config.

[2020-03-13 20:06] JoaquinScript commented on #412
still happening

[2020-03-14 00:16] yanlimin9 commented on #44
waiting on the ER Diagram +1.

[2020-03-16 15:50] alexclst opened #1770 "[Feature Request] Saving Mode Setting Based on Tag"
We can tag saved connections as “local”, “production”, etc. I’d like the ability to set which saving mode (silent, safe, etc.) based on these tags, so that all favorites marked “production” for example could automatically be set with my desired Saving Mode (Safe Mode 2), without needing to set it on each new favorite. There may be other settings in a connection window that’d be sensible to include

[2020-03-16 19:24] andrewrothman opened #1771 "Support for DynamoDB"
Hi there,

TablePlus is a really amazing tool. I love using it every day.

I deal with Postgres quite a bit, but I also have to interact with Dynamo tables on a daily basis. The AWS web interface is far inferior. I've used TablePlus' integration with Redis, and other team members I've spoken to have used the Redshift integration.

I understand this might be a difficult ask. If at all possible, bas

[2020-03-16 20:36] bcorcoran opened #1772 "BUG - Refresh, Reload, or Reconnect opens Filter criteria"
Version 3.1.2 (296), MacOS Catalina

Reload Workspace, Reload Current Tab, and Reconnect all open the table Filter (above the column headings). This is odd behavior and is probably a bug. Personally I don't want the filter open if I don't need it because of the visual noise (not to mention the extra vertical space it takes up on smaller screens).

Nothing happens if you do not have a table open be

[2020-03-17 02:59] huyphams commented on #1772
Hi @bcorcoran I'm not sure that I understand it correctly. Could you explain it step by step to reproduce the issue?

[2020-03-17 08:20] pkhetrapal commented on #1607
@huyphams Any updates on this issue?

[2020-03-17 16:44] bcorcoran commented on #1772
1. Connect to a server and open a table
2. Make sure the filter criteria (pictured) is hidden:
![Screen Shot 2020-03-17 at 12 40 37](https://user-images.githubusercontent.com/313697/76879362-85cf9b00-684c-11ea-9c21-5b5cad2cbbd7.png)
3. `CMD+R`, `CMD+Shift+R`, or `CMD+Option+R` to refresh (depending on the kind of refresh you need)
4. Notice that the filter criteria comes back.

[2020-03-18 02:19] adamwinn opened #1773 "Count is off when there are no results for a filter"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Mysql 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296

3. The steps to reproduce this issue:
Enter in a filter that will show no data.  Status bar at the bottom will say "1 of 0 rows".  It should say "0 of 0 rows"

![Screen Shot 2020-03-17 at 8 15 53 PM](https://user-imag

[2020-03-18 03:19] huyphams commented on #1772
Hi @bcorcoran could you check if the always show is enabled? I could not reproduce the issue.

<img width="544" alt="Screen Shot 2020-03-18 at 10 18 05 AM" src="https://user-images.githubusercontent.com/3654622/76921931-d35a0f80-6901-11ea-839b-82da6e6b89b7.png">

[2020-03-18 04:32] bcorcoran commented on #1772
Ah, I had no idea that was even an option. Setting to Remember the last state fixes it. It was set to "Always show", but I don't recall ever setting that... especially since I didn't even know that gear was a menu.

That being said, there does actually appear to be a visual bug with the filter panel. When closed, there is a 1px border that does not go away. No big deal tho!

[2020-03-18 16:31] z-ax opened #1774 "Can't specify CA cert file for SSL mode VERIFY-CA (MySQL/MariaDB)"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL/MariaDB

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296

3. The steps to reproduce this issue:
Create new connection, choose SSL mode `VERIFY-CA`, click on `CA Cert...` or `Cert...` button.
See loading cursor for some time and nothing happens/appears.
Expected result: c

[2020-03-18 17:02] FAESCH opened #1775 "One MySQL Connection over SSH is always asking for SSH Password"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
297
3. The steps to reproduce this issue:

I have one connection that always asks for the SSH Password even if its saved in Keychain.
Another connection doesn't.

I assume it has to do with the SSH Port as the connection that i

[2020-03-18 20:59] JasonTheAdams opened #1776 "Not displaying message with errors"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): MySQL 5.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 296

3. The steps to reproduce this issue:
    1. Write custom SQL with an error in it

When I write some sort of invalid SQL and run it I just get "Query 1 ERROR:" back with no message. No matter what I do, there's no mes

[2020-03-19 02:23] huyphams commented on #1774
Hi @z-ax please try to restart the app, this error is Catalina bug, we did nothing wrong in the code, it just call the file browser but Catalina raise an error, it happen recently but not clear how to reproduce.

We resolve 41 issues in 30 days, but people open many new issues, mostly duplicated or in their favor (change the current behaviors).
<img width="754" alt="Screen Shot 2020-03-19 at 9 21

[2020-03-19 02:26] huyphams commented on #1776
It does show the error @JasonTheAdams
<img width="1316" alt="Screen Shot 2020-03-19 at 9 24 59 AM" src="https://user-images.githubusercontent.com/3654622/77025414-a0785000-69c3-11ea-9285-4a894fd63c81.png">

It would be great if you can tell me exactly the query so I can reproduce the issue and fix it.
Thanks

[2020-03-19 02:27] huyphams commented on #1761
It's duplicate to https://github.com/TablePlus/TablePlus/issues/519

[2020-03-19 02:27] #1761 closed

[2020-03-19 02:29] huyphams commented on #1775
Could you show me the password popup @FAESCH ? if it was the keyboard-interactive question, it will show every time because it was asked by the ssh server.

[2020-03-19 02:29] huyphams commented on #1771
Thanks, this request is duplicated to https://github.com/TablePlus/TablePlus/issues/666

[2020-03-19 02:29] #1771 closed

[2020-03-19 02:30] #1772 closed

[2020-03-19 02:32] huyphams commented on #1770
It's a nice idea but It will be a hidden setting and cause confusion for new users. So I don't think we should implement it.

[2020-03-19 02:35] huyphams commented on #1750
This is the Cocoa AppKit UI bug. I'm still finding a way to fix it but it seems impossible.

[2020-03-19 02:35] #1745 closed

[2020-03-19 02:47] z-ax commented on #1774
Thanks for reply. Yes, relaunch actually helped. Is there any workaround on this? Didn't see anywhere else.

[2020-03-19 02:49] huyphams commented on #1774
I'm finding a way to fix that issue, the code is pretty simple. it is a simple function call the dialog and get the response, it has never failed before, I'm investigating it.

[2020-03-19 03:00] huyphams commented on #1773
Thanks, I just fixed it in the up coming beta release!

[2020-03-19 03:00] #1773 closed

[2020-03-19 03:05] z-ax opened #1777 "Export larger DB uses a lot of RAM"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MariaDB

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296

3. The steps to reproduce this issue:
Open DB with about 1.4 GB of data, select all tables, Export to SQL with all checkboxes checked (including gzip).

It was the smallest DB of the online game, didn't try on the bigge

[2020-03-19 03:07] huyphams commented on #1777
Hi @z-ax could you try out our beta release: https://www.dropbox.com/s/ndn8m23p7fbvwcq/TablePlus.dmg?dl=0 and see if the RAM issue is resolved? Thanks

[2020-03-19 03:48] huyphams commented on #1777
We fixed a similar issue recently, so I think the usage RAM is resolved in the beta build.
<img width="812" alt="abc" src="https://user-images.githubusercontent.com/3654622/77029734-1d5cf700-69cf-11ea-889f-e7c5ed036c18.png">

[2020-03-19 07:17] FAESCH commented on #1775
Sure, I made a screenshot here
https://www.dropbox.com/s/ky5jn8je4tfxl3w/PasswordPrompt.jpg?dl=0

[2020-03-19 07:33] huyphams commented on #1775
It was key keyboard interactive mode @FAESCH and it was asked during auth process. Maybe you should check the ssh config 2FA authentication?

[2020-03-19 09:22] jschuur commented on #1384
Based on the name Open Anything, I expected this would open my favorites. Another vote for a single command to, well... open anything.

It should also support filtering by favorites (prefixing the tag with @ maybe?). I was confused by what 'TablePlus will add the favorite into the auto suggestion list by using these keywords' when editing a favorite. I guess 'auto suggestion list' wasn't Open Anyt

[2020-03-19 12:52] majksner commented on #1757
@huyphams Having the same issue. Doing from advanced works fine, but it's not convenient.

[2020-03-19 12:59] FAESCH commented on #1775
I don't think that this is a configuration problem.
The same connection with Sequel Pro and Coda works without prompting

[2020-03-19 13:33] huyphams commented on #1775
Are you using ssh config or ssh key?

[2020-03-19 13:58] FAESCH commented on #1775
SSH Config

[2020-03-19 15:57] kjg opened #1778 "Postgres Foreign key not displayed on table if key name is same as on another table"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): PostgreSQL 10.7

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 296

3. The steps to reproduce this issue:

run the following SQL to create the tables:

[code]

When viewing the structure of movies, the FK is shown:
![image](https://user-images.githubusercontent.com/2205/77086828

[2020-03-19 20:46] simonmaass commented on #604
+ for Elastic

[2020-03-20 19:53] oomathias commented on #1220
This would be amazing, cherry on top would be colourisation.

[2020-03-20 19:56] oomathias commented on #1678
Even better would be to see the row inline:

<img width="571" alt="image" src="https://user-images.githubusercontent.com/465790/77201682-d103db00-6ae4-11ea-9c1c-9483e9fadd1a.png">

Screenshot from Postico

[2020-03-20 23:53] z-ax commented on #1777
Well, I shut down bigger DB after backups. But with smaller I see this: after connection it uses 45/90 MB (MySQL/Postgres), while exporting it goes up to about 250-300 MB. And then memory is not fully freed (MySQL connection uses about 190 MB).

Not that big of a deal, but maybe it helps.

[2020-03-20 23:57] z-ax commented on #1774
Yeah, it's not a rare case of workarounds for "standard" features to work as expected for all situations.

Checked the beta (build 301) and now after selecting "verify-server-cert" for MariaDB (looks like now there's 3 options instead of 4) cert buttons are not enabled, so can't select the file at all.

[2020-03-21 01:19] huyphams commented on #1774
Oh, I'm sorry. I just fixed this issue.

[2020-03-21 01:19] huyphams commented on #1778
Thanks @kjg let me check it.

[2020-03-21 02:37] aesyondu commented on #44
There just isn't enough demand for this feature. Similar feature has also been requested for [Azure Data Studio](https://github.com/Microsoft/azuredatastudio/issues/94) since Nov 2017 but no progress has been made.

[2020-03-21 03:07] huyphams commented on #44
Nope @aesyondu we are working seriously on this feature

[2020-03-22 10:51] admkopec commented on #1339
Looks like the issue is now also present in the iOS app.

SQLite 3 Database (Size: 41KB)

Tested on macOS Builds 296 & 301 and iOS build 3.3.0

The steps to reproduce this issue:
Trying to connect to a SQLite database hosted on a remote server over ssh. After successful Authentication there is an error "Can't create connection". Looking at the logs, it could be an error in sftp as there seem to be

[2020-03-22 13:27] ajoslin103 opened #1779 "need an undelete option"
just bought TablePlus license -- awesome product

needs an undelete option

to reproduce

1. insert row (A) with a FK to an existing row in another table
2. insert row (B) with no FK
3. attempt delete of row (A) -- error is shown, as should be
4. try to now delete row (B) -- can't do it because row (A) can't be de-selected

[2020-03-22 14:56] huyphams commented on #1779
Have you tried command + Z @ajoslin103 ?

[2020-03-22 15:38] z-ax commented on #1774
Plese ping when new version is published, gonna check.

[2020-03-22 15:46] ajoslin103 commented on #1779
HAHAHAHAHA!!

That's just waaaaaaay too Mac-Like !!

this issue is CLOSED !!

🥇

[2020-03-22 15:46] #1779 closed

[2020-03-23 00:13] jrob007 opened #1780 "[Feature request] Importing: On SQL Error, Ignore and Continue"
Just a simple request when importing data. I do a regular SQL data dump from a work PC with Navicat and sometimes bring it home to my Mac with Sequel Pro. In some of my tables many DATE or DATETIME fields where the value is null would cause an error "[ERROR in query 128692] Incorrect date value: '0000-00-00' for column 'modified_date' at row 1" for example. When importing using Navicat it doesn't

[2020-03-23 08:57] chaimvaid opened #1781 "Since I started user table plus with mongo the client is closed when i don't use it a while, I use also postgres and ms drivers and all of them is closed"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

3. The steps to reproduce this issue:

Noted: If the bug is related to data, please attach an example SQL data.

[2020-03-23 10:04] kevinkrs opened #1782 "UI darkmode / lightmode bug"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Its an UI bug.

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.2. Build number 296, the latest version

3. The steps to reproduce this issue:
The UI doesn't change back to lightmode automatically. I have my Mac setup in a way that on day MacOS will use lightmode but at the ev

[2020-03-23 11:09] huyphams commented on #1782
I've used auto theme for months but couldn't reproduce the issue, it always works on my laptop. That's weird. I will keep an eye on it.

[2020-03-23 11:12] kevinkrs commented on #1782
<img width="1303" alt="Schermafbeelding 2020-03-23 om 10 59 45" src="https://user-images.githubusercontent.com/8309250/77310839-519e2380-6cff-11ea-9e51-22aa04ff0ae9.png">

I forgot to attach a screenshot. As you can see my setting is at automatic, all applications such as finder are in lightmode except TablePlus.

1 More note: I used my Macbook Pro on an external (4k) monitor with scaling on. Afte

[2020-03-23 11:15] huyphams commented on #1782
Here is mine. let me try to shutdown the laptop. I've never shutdown my laptop. Just close the lid.
<img width="1483" alt="abc" src="https://user-images.githubusercontent.com/3654622/77311165-31d42300-6d32-11ea-8826-72b95482b2cd.png">

[2020-03-23 11:19] kevinkrs commented on #1782
Im curious what result it will give you. I'm not completly sure if the same result will happen if you just close the lid. But its important that you shut off the computer at night (dark mode) and turn it on at sunrise (light mode).

I will try it tonight with just letting my laptop sleep.

[2020-03-23 11:23] huyphams commented on #1782
It will match 100% with the macOS theme. light-light, dark-dark.

[2020-03-23 18:41] greatestview commented on #1219
I am still seeing this issue. For reproduction:

## Versions and Settings
- TablePlus Version 3.1.2
- MariaDB 10.3.19, so working in MySQL 5.7 mode
- `Connection` -> `View Using Encoding` set to `utf8mb4`
- I’ve created a test sql file: [emoji test table.sql.gz](https://github.com/TablePlus/TablePlus/files/4371280/emoji.test.table.sql.gz)

## Steps
1. Import the sample SQL file attached here into

[2020-03-23 18:59] JasonTheAdams commented on #1776
Hi! So I've found that sometimes I'll get an error code, but never anything as specific as the example you're proving. Take this query, for example:
[code]
I purposely omitted the "IS" in the last where condition. This gives me the following:
[code]

If I run the _exact query_ that you have in your screenshot, I get the following:
[code]

I'm running MySQL 5.7.28

[2020-03-24 01:20] huyphams commented on #1219
The Backup uses the official MySQL binaries, we could not manipulate the data. However, we can read the document and follow its instructions.
If you want to backup data with emoji, you can specify the encoding flag:  --default-character-set=utf8mb4
Maybe you should try to backup with that flag?

[2020-03-24 04:52] huyphams commented on #1774
Hi @z-ax please try this patch: https://www.dropbox.com/s/ndn8m23p7fbvwcq/TablePlus.dmg?dl=0
Thank you!

[2020-03-24 04:59] huyphams commented on #1780
Thanks @jrob007 it's a great feature.

[2020-03-24 05:35] huyphams commented on #1780
The hardest part is TablePlus packs the CSV into chunk before importing. So if we ignore the error, it could ignore many rows that have no data error which results in inconsistent content.

[2020-03-24 10:02] cmerijn opened #1783 "File naming in backup database doesn't work"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MariaDB 10.1.44

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 120 on Windows 10

3. The steps to reproduce this issue:
When exporting a database with Menu > File > Backup, I can't set the file name and i cant use the patterns. It just says untitled after I click OK.

[2020-03-24 10:07] huyphams commented on #1783
The pattern and also the title will change after selecting the connection > database in the list. Have you selected it? @cmerijn
I will close this issue because it was the windows issue (this is the macOS repo), it should be posted here: https://github.com/TablePlus/TablePlus-Windows/issues

[2020-03-24 10:07] #1783 closed

[2020-03-24 11:06] jrob007 commented on #1780
Thanks for the reply! I should clarify, it’s not a CSV file though, it’s an SQL file created by doing a data dump from a slightly older version of Navicat. It’s structured to drop and recreate the tables and then insert the data rows. Both TablePlus and Sequel Pro encounter errors once they get to the insert the data rows and I never understood why, but Sequel Pro was able to ignore and continue i

[2020-03-24 15:02] skatetdieu commented on #412
Same thing for me. Keeps asking me for password for ssh key even though it doesn't have one. I was using DBeaver and it works just fine there.

![Screen Shot 2020-03-24 at 11 01 18 AM](https://user-images.githubusercontent.com/1899636/77440523-cbe1ad00-6dbe-11ea-8c8a-9c93be7f3254.png)

[2020-03-25 08:52] kevinkrs commented on #1782
Hmm, so i tried it today, with just my laptop in standby without turning it off. It seems TablePlus is refreshing the UI back to lightmode. I dont know if its because the new MacOS 10.15.4 update.

[2020-03-25 13:30] maxsommer opened #1784 "Import DB2 connection from URL"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
com.ibm.db2.jcc.DB2Driver
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
296
3. The steps to reproduce this issue:
- Create new connection from URL, in this case url is something like: `jdbc:db2://HOST:PORT/`
- Press import
- Pop up 'invalid url' appears

[2020-03-26 01:25] ryzr commented on #412
I'm also having issues when trying to use a public key that has been signed with [Netflix/bless](https://github.com/Netflix/bless).

Typically, I can just ssh with

```ssh user@server -i ~/.ssh/id_rsa```

In the debug logs, it seems to send id_rsa.pub and id_rsa-cert.pub

However when using ~/.ssh/config, or when specifying id_rsa manually in TablePlus, I'm asked to enter a passphrase, which I hav

[2020-03-26 02:37] ryzr opened #1785 "Can't connect over SSH with BLESS-signed SSH key/certificate"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL 8.x

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.2 (296)

3. The steps to reproduce this issue:
I'm currently using [Netflix/bless](https://github.com/Netflix/bless) as a serverless certificate authority, which is used to authorize SSH access to our bastion host(s).

[2020-03-26 04:20] axsuul commented on #229
@huyphams Is there a way to show the tag in the left pane (e.g. production)?

[2020-03-27 01:54] jasonbronson opened #1786 "CSV is hanging now"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
MySQL

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.1.2 296

3. The steps to reproduce this issue:
import any csv hangs trying to either import files or just selecting table itself.
File is only 2 megs large

Noted: If the bug is related to data, please attach an example SQL

[2020-03-27 01:57] huyphams commented on #1786
Hi @jasonbronson is there any chance of getting a test CSV my email is nick@tableplus.com I couldn't reproduce the issue

[2020-03-27 02:04] jasonbronson commented on #1786
I figured it out. It looks like it crashes when there are too many columns in the file. Rather than error out.

Example take a csv file and create it with thousands of columns and it crashes.
My csv was the issue and it's been fixed now it works

[2020-03-27 02:04] #1786 closed

[2020-03-27 02:07] yusayuuichi opened #1787 "Oracle DB connection was so slow"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Oracle
2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
Build 302
3. The steps to reproduce this issue:

when I click connect to Oracle, then I need to wait at least 10 min for it to load data

<img width="1674" alt="image" src="https://user-images.githubusercontent.com/24930439/77

[2020-03-27 04:02] cesarmtz93-wit opened #1788 "[Feature Request] Generate/Clipboard Scripts Option"
Add an option by right clicking the table name to copy to clipboard the Insert, Delete, Update, Select scripts

[2020-03-27 05:00] cesarmtz93-wit commented on #1178
@huyphams any news?

[2020-03-27 06:48] Flamefork commented on #670
ClickHouse supports MySQL protocol, and TablePlus works using it, but not quite.
- SQL queries work, which is awesome!
- tables sidebar is empty, which is a pity.

[2020-03-27 11:39] jesperhag opened #1789 "[Feature Request] Ability to have TablePlus prompt before close/restore closed workspace"
First of all, I tried to search and couldn't find that this is neither an existing feature nor have been requested before. So here goes.

Sometimes stupidity hits you and you close an open workspace with multiple connections, many tabs open etc. What I have found is that you can have TablePlus restore workspaces if TablePlus is completely shutdown, however I have not found a way to do so if you on

[2020-03-27 12:31] dguo opened #1790 "Typo when there are 0 rows affected"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):

PostgreSQL 11.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):

296 (version 3.1.2)

3. The steps to reproduce this issue:

Hello. There is a minor typo when 0 rows are updated. The message says "0 row affected" when it should be "0 rows affected". It shows up in both the query

[2020-03-27 12:43] vnazarenko opened #1791 "Cassandra reuse other cassandra serssion"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
Cassandra

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
3.2.1(296)

3. The steps to reproduce this issue:
I have 2 cassandra connections, and i don't know how, but if i use one of them, table plus constantly switch between cassandra sessions. So is i run this:
`SELECT * FROM sy

[2020-03-27 14:03] robertveloso commented on #1497
Just as a reminder to be consider in future...

[2020-03-27 15:43] kjg commented on #1778
I can confirm this is working as expected in build 302. Thanks!

[2020-03-28 06:04] NSExceptional commented on #1379
Also having this error.

[2020-03-28 07:06] huyphams commented on #1379
I could not reproduce the issue @NSExceptional could you show me a screenshot of the create view windows and create view generated query, thank you!

[2020-03-28 07:07] NSExceptional commented on #1379
I was using an old version, never mind!

[2020-03-28 14:12] greatestview commented on #1219
Thank you, that did work.

Maybe it can be considered to add this flag to the backup default options? It also does not appear in the `Add option...` drop down menu. Maybe that could prevent some confusion.

[2020-03-28 15:26] huyphams commented on #1790
Thank you, we just fixed it 👍

[2020-03-28 15:26] #1790 closed

[2020-03-28 15:27] huyphams commented on #1778
Thanks!

[2020-03-28 15:27] #1778 closed

[2020-03-30 01:35] huyphams commented on #1777
It's complicated, macOS has a cached feature, it only releases memory when needed. I think we can close this feature for now. Please let me know if you have any questions.

[2020-03-30 01:35] #1777 closed

[2020-03-30 13:15] roberts91 commented on #642
Any update on this? Would be a nice feature.

[2020-03-30 13:55] chrschmitz opened #1792 "[Feature Request] Store Column Groups"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): SQLite 3.27.2

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 3.12 (297)

It would be a great time saver if TablePlus could store column selections (lower right corner "Columns") for later use.

[2020-03-31 08:22] cesarmtz93-wit commented on #1725
any update?

[2020-03-31 13:15] ryanas commented on #1768
Any progress on this? I'm hitting the same issue. It appears to be happening because it's generating the create statement using quotes instead of backquotes.

[2020-03-31 13:18] huyphams commented on #1768
I don't understand the issue @ryanas TablePlus uses backtick quote for MySQL, how did you get the quote instead of backtick quote?

[2020-03-31 13:28] huyphams commented on #1768
Maybe this issue was related to this: https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_ansi_quotes
Somehow you got the setting SQL_MODE=ANSI_QUOTES this is a bad practice and it will generate the SHOW CREATE TABLE <table_name> with results using double-quote => wrong.

Please remember that TablePlus does not generate the Table creation statement by itself. It is the result from SHOW C

[2020-03-31 13:34] ryanas commented on #1768
Thanks @huyphams. I've confirmed the database I was connecting to had ANSI_QUOTES set. Removing it resolved the problem.

[2020-03-31 13:36] huyphams commented on #1768
Thanks for confirming, but please be careful. it's not a default setting and it was there for reason (maybe), so please check your system before removing it.

[2020-03-31 13:45] #1544 closed

[2020-03-31 13:48] #1475 closed

[2020-03-31 13:48] #1452 closed

[2020-03-31 13:55] huyphams commented on #1103
You can edit key in the new update!

[2020-03-31 13:55] #1103 closed

[2020-03-31 13:58] huyphams commented on #1138
Hey, we fixed this issue recently, if you have a chance, please give it a try! Please let me know if you're still seeing it then I will reopen this issue.

[2020-03-31 13:58] #1138 closed

[2020-03-31 14:00] #1276 closed

[2020-03-31 14:02] mchristie commented on #1594
I'm currently running 3.1.2 on macOS 10.15.3 and I regular experience this random window position behaviour.
I've had the window open almost full screen, barely onscreen, just the top onscreen but hidden under the dock... places I'd definitely never drag the window to so it's not just remember the last-opened position.

[2020-03-31 16:47] tylerb opened #1793 "[Feature Request]"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0): Postgres 11

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81): 296

I would love to be able to copy the contents of a single column from a result set.

This is a use case I hit very frequently.

[code]

From this result set, for example, I would want to copy the list of `ids` from t

[2020-03-31 16:48] tylerb commented on #1793
Welp, apparently this exists. Thanks!

[2020-03-31 16:48] #1793 closed

[2020-03-31 23:30] crewshin opened #1794 "Keychain duplicate entries"
1. Which driver are you using and version of it (Ex: PostgreSQL 10.0):
**Doesn't matter.**

2. Which TablePlus build number are you using (the number on the welcome screen, Ex: build 81):
**Build 300**

3. The steps to reproduce this issue:
Use TablePlus and look at the Keychain Access app.

<img width="1286" alt="image" src="https://user-images.githubusercontent.com/273809/78084271-ba337300-7385-

[2020-04-01 00:10] chrisdrackett opened #1795 "add support for the UNIQUE Constraint"

[2020-04-01 13:33] simonberger opened #1796 "Empty created view commit even after closing the tab"
1. driver MySQL 5.7.29:

2. TablePlus:3.3.0 Build 300

3. Steps:

    1. I unintentionally created a new view - did nothing else in this new tab
    2. Closed the tab
    3. Added some rows to another table
    4. Commit those changes and got an error. The resulting mydsql statements started like this
[code]

Expectations:
My expectations are that closing a tab discards any done changes or newly c

[2020-04-01 13:39] huyphams commented on #1796
TablePlus will add all the pending changes into queue even after closing the tab, actually you can still open it by clicking the new view item on the left sidebar. You can discard the change by pressing command Z (undo) or clicking the top left button discard all.
We will not change this behavior because it is one of the core value of TablePlus.

[2020-04-01 13:59] simonberger commented on #1796
Thanks for the fast reply. Ok I now understand how it works.
It is a great functionality but also dangerous and not intuitive as this view in my case was completely out of view. I had to scroll to see it in the list of tables.
I understand that you do not want to change something here and beside the fact of the faulty view statement there is no need of a fast change.
On the long term it might be h

[2020-04-01 14:04] huyphams commented on #1796
The current design will cover those cases.
1. The user edit multiple tables and then commit it in one transaction.
2. The user edit a table and the commit it immediately.

If we change the design to only commit the current table. We could not do case 1. If we auto discards the invalid view => It's not clear when we should discard, it depends on the definition "invalid", and TablePlus will not know

[2020-04-01 14:29] simonberger commented on #1796
I get your UX dilemma. It is not easy. I think your current concept is fine of you consistently use it.

Regarding the invalid View state.
You could simply ignore this on the commit and probably inform about. It will at the end throw a save/discard message on program/connection close, right?

Here are some of the ideas coming in my mind when I wrote the phrase of clearer tracking of active objects

[2020-04-01 14:42] huyphams commented on #1796
I got your idea, thank you. When designing a feature, I always think about what is the main focus. The commit button isn't the main focus, the data is. So after the first time trying the commit, you will know where it is, and how it works, you will not want it constantly prompt/animation you every time you make a change. However, if you want to do so, you can set the safe mode to the warning mode,

[2020-04-01 15:17] simonberger commented on #1796
I am not in your opinion. An animation after changing data does not distract your view from anything important at that time. There indeed is no need of a flashy constant effect.
It could be a personal problem but I almost always need some moments to search for the commit button as it seems to be not where I expect it. Some highlighting obviously would help (currently it isn't even yellow if "activ

[2020-04-01 15:21] #1796 closed

[2020-04-01 15:23] huyphams commented on #1796
Thank you @simonberger actually some of your ideas are really cool, and I would love to implement it.

[2020-04-01 16:48] Jiia opened #1797 "Application doesn't detect that query has already finished"
1. Which driver are you using and version of it:
MySQL 5.6.10

2. Which TablePlus build number are you using:
300

3. The steps to reproduce this issue:
I don't know how to reproduce this, but occasionally when I'm running multiple queries at once and one of them takes longer to execute the UI appears to desynchronize with the server. For example the UI might show that query 1 finished but query 2

[2020-04-02 09:42] zdzana opened #1798 "Licence problem"
I just updated the application to version 3.3 (302) by homebrew cask upgrade. After rebooting, I received a message that my license has expired and I have no possibility of further updates. I was in trial mode. The dialog had a possibility to download older version, which I did.

After 3.1.2 (296) launch, I still can't activate my license key because the workstation limit was used.

The key purcha